# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [2]:
# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) create a view to use with your SQL queries
# 5) write code to answer the quiz questions

In [ ]:
from pyspark.sql import SparkSession

In [4]:
# create session
spark = SparkSession.builder.appName('sql_with_spark').getOrCreate()

In [5]:
# read log into spark
user_log = spark.read.json("data/sparkify_log_small.json")

In [6]:
# create temp sql table
user_log.createOrReplaceTempView("user_log_table")

# Question 1

Which page did user id ""(empty string) NOT visit?

In [14]:
# TODO: write your code to answer question 1
# ALL
spark.sql("SELECT DISTINCT(page) FROM user_log_table").show()

+----------------+
|            page|
+----------------+
|Submit Downgrade|
|            Home|
|       Downgrade|
|          Logout|
|   Save Settings|
|           About|
|        Settings|
|           Login|
|        NextSong|
|            Help|
|         Upgrade|
|           Error|
|  Submit Upgrade|
+----------------+

In [15]:
# empty string visited
spark.sql("SELECT DISTINCT(page) FROM user_log_table WHERE userId=''").show()

+-----+
| page|
+-----+
| Home|
|About|
|Login|
| Help|
+-----+

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [17]:
# TODO: write your code to answer question 3
# empty string visited
spark.sql("SELECT COUNT(DISTINCT(userId)) FROM user_log_table WHERE gender='F'").show()

+----------------------+
|count(DISTINCT userId)|
+----------------------+
|                   462|
+----------------------+

# Question 4

How many songs were played from the most played artist?

In [49]:
# TODO: write your code to answer question 4

spark.sql("""

SELECT artist, COUNT(*) as plays FROM user_log_table GROUP BY artist ORDER BY plays DESC
    """).show()

+--------------------+-----+
|              artist|plays|
+--------------------+-----+
|                null| 1653|
|            Coldplay|   83|
|       Kings Of Leon|   69|
|Florence + The Ma...|   52|
|            BjÃÂ¶rk|   46|
|       Dwight Yoakam|   45|
|       Justin Bieber|   43|
|      The Black Keys|   40|
|         OneRepublic|   37|
|                Muse|   36|
|        Jack Johnson|   36|
|           Radiohead|   31|
|        Taylor Swift|   29|
|Barry Tuckwell/Ac...|   28|
|          Lily Allen|   28|
|               Train|   28|
|           Daft Punk|   27|
|           Metallica|   27|
|          Nickelback|   27|
|          Kanye West|   26|
+--------------------+-----+
only showing top 20 rows

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [66]:
# TODO: write your code to answer question 5
spark.sql("""

SELECT COUNT(*) as homes FROM user_log_table WHERE page='Home'

    """).show()

+-----+
|homes|
+-----+
| 1126|
+-----+

In [69]:
# TODO: write your code to answer question 5
spark.sql("""

SELECT COUNT(*) as songs FROM user_log_table WHERE page='NextSong'

    """).show()

+-----+
|songs|
+-----+
| 8347|
+-----+

In [70]:
8347/1126

7.412966252220249