# Load

In this exercise, you'll load data into different formats: a csv file, a json file, and a SQLite database.

You'll work with the GDP, population, and projects data. Run the code cell below to read in and clean the World Bank population and gdp data. This code creates a dataframe called df_indicator with both the gdp and population data.

In [1]:
# run this code cell - there is nothing for you to do in this code cell

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 

# read in the projects data set and do basic wrangling 
gdp = pd.read_csv('../data/gdp_data.csv', skiprows=4)
gdp.drop(['Unnamed: 62', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)
population = pd.read_csv('../data/population_data.csv', skiprows=4)
population.drop(['Unnamed: 62', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)


# Reshape the data sets so that they are in long format
gdp_melt = gdp.melt(id_vars=['Country Name', 'Country Code'], 
                    var_name='year', 
                    value_name='gdp')

# Use back fill and forward fill to fill in missing gdp values
gdp_melt['gdp'] = gdp_melt.sort_values('year').groupby(['Country Name', 'Country Code'])['gdp'].fillna(method='ffill').fillna(method='bfill')

population_melt = population.melt(id_vars=['Country Name', 'Country Code'], 
                                  var_name='year', 
                                  value_name='population')

# Use back fill and forward fill to fill in missing population values
population_melt['population'] = population_melt.sort_values('year').groupby('Country Name')['population'].fillna(method='ffill').fillna(method='bfill')

# merge the population and gdp data together into one data frame
df_indicator = gdp_melt.merge(population_melt, on=('Country Name', 'Country Code', 'year'))

# filter out values that are not countries
non_countries = ['World',
 'High income',
 'OECD members',
 'Post-demographic dividend',
 'IDA & IBRD total',
 'Low & middle income',
 'Middle income',
 'IBRD only',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'North America',
 'Upper middle income',
 'Late-demographic dividend',
 'European Union',
 'East Asia & Pacific (excluding high income)',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Euro area',
 'Early-demographic dividend',
 'Lower middle income',
 'Latin America & Caribbean',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latin America & Caribbean (excluding high income)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Middle East & North Africa',
 'Europe & Central Asia (excluding high income)',
 'South Asia (IDA & IBRD)',
 'South Asia',
 'Arab World',
 'IDA total',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Middle East & North Africa (excluding high income)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Central Europe and the Baltics',
 'Pre-demographic dividend',
 'IDA only',
 'Least developed countries: UN classification',
 'IDA blend',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'Low income',
 'Small states',
 'Other small states',
 'Not classified',
 'Caribbean small states',
 'Pacific island small states']

# remove non countries from the data
df_indicator  = df_indicator[~df_indicator['Country Name'].isin(non_countries)]
df_indicator.reset_index(inplace=True, drop=True)

df_indicator.columns = ['countryname', 'countrycode', 'year', 'gdp', 'population']

# output the first few rows of the data frame
df_indicator.head()

   countryname countrycode  year           gdp  population
0        Aruba         ABW  1960  1.916242e+09     54211.0
1  Afghanistan         AFG  1960  5.377778e+08   8996351.0
2       Angola         AGO  1960  1.857319e+10   5643182.0
3      Albania         ALB  1960  1.857319e+10   1608800.0
4      Andorra         AND  1960  1.857319e+10     13411.0

Run this code cell to read in the countries data set. This will create a data frame called df_projects containing the World Bank projects data. The data frame only has the 'id', 'countryname', 'countrycode', 'totalamt', and 'year' columns.

In [2]:
# run this code cell - there is nothing for you to do here 

!pip install pycountry
from pycountry import countries

# read in the projects data set with all columns type string
df_projects = pd.read_csv('../data/projects_data.csv', dtype=str)
df_projects.drop(['Unnamed: 56'], axis=1, inplace=True)

df_projects['countryname'] = df_projects['countryname'].str.split(';').str.get(0)

# set up the libraries and variables
from collections import defaultdict
country_not_found = [] # stores countries not found in the pycountry library
project_country_abbrev_dict = defaultdict(str) # set up an empty dictionary of string values

# iterate through the country names in df_projects. 
# Create a dictionary mapping the country name to the alpha_3 ISO code
for country in df_projects['countryname'].drop_duplicates().sort_values():
    try: 
        # look up the country name in the pycountry library
        # store the country name as the dictionary key and the ISO-3 code as the value
        project_country_abbrev_dict[country] = countries.lookup(country).alpha_3
    except:
        # If the country name is not in the pycountry library, then print out the country name
        # And store the results in the country_not_found list
        country_not_found.append(country)
        
# run this code cell to load the dictionary

country_not_found_mapping = {'Co-operative Republic of Guyana': 'GUY',
             'Commonwealth of Australia':'AUS',
             'Democratic Republic of Sao Tome and Prin':'STP',
             'Democratic Republic of the Congo':'COD',
             'Democratic Socialist Republic of Sri Lan':'LKA',
             'East Asia and Pacific':'EAS',
             'Europe and Central Asia': 'ECS',
             'Islamic  Republic of Afghanistan':'AFG',
             'Latin America':'LCN',
              'Caribbean':'LCN',
             'Macedonia':'MKD',
             'Middle East and North Africa':'MEA',
             'Oriental Republic of Uruguay':'URY',
             'Republic of Congo':'COG',
             "Republic of Cote d'Ivoire":'CIV',
             'Republic of Korea':'KOR',
             'Republic of Niger':'NER',
             'Republic of Kosovo':'XKX',
             'Republic of Rwanda':'RWA',
              'Republic of The Gambia':'GMB',
              'Republic of Togo':'TGO',
              'Republic of the Union of Myanmar':'MMR',
              'Republica Bolivariana de Venezuela':'VEN',
              'Sint Maarten':'SXM',
              "Socialist People's Libyan Arab Jamahiriy":'LBY',
              'Socialist Republic of Vietnam':'VNM',
              'Somali Democratic Republic':'SOM',
              'South Asia':'SAS',
              'St. Kitts and Nevis':'KNA',
              'St. Lucia':'LCA',
              'St. Vincent and the Grenadines':'VCT',
              'State of Eritrea':'ERI',
              'The Independent State of Papua New Guine':'PNG',
              'West Bank and Gaza':'PSE',
              'World':'WLD'}

project_country_abbrev_dict.update(country_not_found_mapping)

df_projects['countrycode'] = df_projects['countryname'].apply(lambda x: project_country_abbrev_dict[x])

df_projects['boardapprovaldate'] = pd.to_datetime(df_projects['boardapprovaldate'])

df_projects['year'] = df_projects['boardapprovaldate'].dt.year.astype(str).str.slice(stop=4)

df_projects['totalamt'] = pd.to_numeric(df_projects['totalamt'].str.replace(',',""))

df_projects = df_projects[['id', 'countryname', 'countrycode', 'totalamt', 'year']]

df_projects.head()

Collecting pycountry
  Downloading https://files.pythonhosted.org/packages/16/b6/154fe93072051d8ce7bf197690957b6d0ac9a21d51c9a1d05bd7c6fdb16f/pycountry-19.8.18.tar.gz (10.0MB)
    100% |████████████████████████████████| 10.0MB 3.0MB/s eta 0:00:01  9% |██▉                             | 901kB 30.4MB/s eta 0:00:01    85% |███████████████████████████▎    | 8.5MB 33.1MB/s eta 0:00:01
Building wheels for collected packages: pycountry
  Running setup.py bdist_wheel for pycountry ... done
  Stored in directory: /root/.cache/pip/wheels/a2/98/bf/f0fa1c6bf8cf2cbdb750d583f84be51c2cd8272460b8b36bd3
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-19.8.18

        id                       countryname countrycode   totalamt  year
0  P162228                             World         WLD          0  2018
1  P163962  Democratic Republic of the Congo         COD  200000000  2018
2  P167672   People's Republic of Bangladesh         BGD   58330000  2018
3  P158768  Islamic  Republic of Afghanistan         AFG   20000000  2018
4  P161364       Federal Republic of Nigeria         NGA  100000000  2018

# Exercise Part 1

The first few cells in this workbook loaded and cleaned the World Bank Data. You now have two data frames:
* df_projects, which contain data from the projects data set
* df_indicator, which contain population and gdp data for various years

They both have country code variables. Note, however, that there could be countries represented in the projects data set that are not in the indicator data set and vice versus.

In this first exercise, merge the two data sets together using country code and year as common keys. When joining the data sets, keep all of the data in the df_projects dataframe even if there is no indicator data for that country code.

In [19]:
df_projects['countrycode'] = df_projects['countrycode'].astype('object')
df_indicator['countrycode'] = df_indicator['countrycode'].astype('object')

In [23]:
# TODO: merge the projects and indicator data frames together using countrycode and year as common keys
# Use a left join so that all projects are returned even if the country/year combination does not have 
# indicator data
df_indicator['countrycode'].dtype

df_merged = df_projects.merge(df_indicator, on=['countrycode', 'year'], how="left")

In [24]:
df_merged.head()

,id,countryname_x,countrycode,totalamt,year,countryname_y,gdp,population
0,P162228,World,WLD,0,2018,NaN,NaN,NaN
1,P163962,Democratic Republic of the Congo,COD,200000000,2018,NaN,NaN,NaN
2,P167672,People's Republic of Bangladesh,BGD,58330000,2018,NaN,NaN,NaN
3,P158768,Islamic Republic of Afghanistan,AFG,20000000,2018,NaN,NaN,NaN
4,P161364,Federal Republic of Nigeria,NGA,100000000,2018,NaN,NaN,NaN

If you look at the first few rows of the merged data set, you'll see NaN's for the indicator data. That is because the indicator data does not contain values for 2018. If you run the code cell below, you should get the following results:


||id | countryname_x	| countrycode	|totalamt	|year	|countryname_y	|gdp	| population|
|-|-|-|-|-|-|-|
|256|	P161982|	Hashemite Kingdom of Jordan|	JOR|	0|	2017|	Jordan	|4.006831e+10|	9702353.0|
|301|	P162407|	Hashemite Kingdom of Jordan|	JOR|	147700000|	2017|	Jordan|	4.006831e+10|	9702353.0|
|318|	P160103|	Hashemite Kingdom of Jordan|	JOR|	0|	2017|	Jordan	|4.006831e+10	|9702353.0|
|464|	P161905|	Hashemite Kingdom of Jordan|	JOR|	50000000|	2017	|Jordan	|4.006831e+10	|9702353.0|
|495|	P163387|	Hashemite Kingdom of Jordan|	JOR|	36100000|	2017	|Jordan	|4.006831e+10	|9702353.0|
|515|	P163241|	Hashemite Kingdom of Jordan|	JOR|	0|	2017|	Jordan|	4.006831e+10|	9702353.0|

In [26]:
# Run this code to check your work
df_merged[(df_merged['year'] == '2017') & (df_merged['countryname_y'] == 'Jordan')]

,id,countryname_x,countrycode,totalamt,year,countryname_y,gdp,population
256,P161982,Hashemite Kingdom of Jordan,JOR,0,2017,Jordan,4.006831e+10,9702353.0
301,P162407,Hashemite Kingdom of Jordan,JOR,147700000,2017,Jordan,4.006831e+10,9702353.0
318,P160103,Hashemite Kingdom of Jordan,JOR,0,2017,Jordan,4.006831e+10,9702353.0
464,P161905,Hashemite Kingdom of Jordan,JOR,50000000,2017,Jordan,4.006831e+10,9702353.0
495,P163387,Hashemite Kingdom of Jordan,JOR,36100000,2017,Jordan,4.006831e+10,9702353.0
515,P163241,Hashemite Kingdom of Jordan,JOR,0,2017,Jordan,4.006831e+10,9702353.0

# Exercise Part 2

Output the df_merged dataframe as a json file. You can use the pandas [to_json() method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_json.html).

In [27]:
# TODO: Output the df_merged data frame as a json file
# HINT: Pandas has a to_json() method
# HINT: use orient='records' to get one of the more common json formats
# HINT: be sure to specify the name of the json file you want to create as the first input into to_json

df_merged.to_json('df_merged.json', orient='records')

If you go to File->Open and then open the 17_load_exercise folder, you can see the json file you created.

The records should look like this (note that the order of the records might be different, but the format should look similar):
```
[{"id":"P162228","countryname_x":"World","countrycode":"WLD","totalamt":0,"year":"2018","countryname_y":null,"gdp":null,"population":null},{"id":"P163962","countryname_x":"Democratic Republic of the Congo","countrycode":"COD","totalamt":200000000,"year":"2018","countryname_y":null,"gdp":null,"population":null},{"id":"P167672","countryname_x":"People's Republic of Bangladesh","countrycode":"BGD","totalamt":58330000,"year":"2018","countryname_y":null,"gdp":null,"population":null},{"id":"P158768","countryname_x":"Islamic  Republic of Afghanistan","countrycode":"AFG","totalamt":20000000,"year":"2018","countryname_y":null,"gdp":null,"population":null},{"id":"P161364","countryname_x":"Federal Republic of Nigeria","countrycode":"NGA","totalamt":100000000,"year":"2018","countryname_y":null,"gdp":null,"population":null},{"id":"P161483","countryname_x":"Republic of Tunisia","countrycode":"TUN","totalamt":500000000,"year":"2018","countryname_y":null,"gdp":null,"population":null}
```

# Exercise Part 3

Output the df_merged dataframe as a csv file. You can use the pandas [to_csv() method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html).

In [28]:
# TODO: Output the df_merged data frame as a csv file
# HINT: The to_csv() method is similar to the to_json() method.
# HINT: If you do not want the data frame indices in your result, use index=False

df_merged.to_csv('df_merged.csv', index=False)

If you go to File->Open and then open the 17_load_exercise folder, you can see the csv file you created.

The records should look something like this:
```
id,countryname_x,countrycode,totalamt,year,countryname_y,gdp,population
P162228,World,WLD,0,2018,,,
P163962,Democratic Republic of the Congo,COD,200000000,2018,,,
P167672,People's Republic of Bangladesh,BGD,58330000,2018,,,
P158768,Islamic  Republic of Afghanistan,AFG,20000000,2018,,,
P161364,Federal Republic of Nigeria,NGA,100000000,2018,,,
P161483,Republic of Tunisia,TUN,500000000,2018,,,
P161885,Federal Republic of Nigeria,NGA,350000000,2018,,,
P162069,Federal Republic of Nigeria,NGA,225000000,2018,,,
P163540,Federal Republic of Nigeria,NGA,125000000,2018,,,
P163576,Lebanese Republic,LBN,329900000,2018,,,
P163721,Democratic Socialist Republic of Sri Lan,LKA,200000000,2018,,,
P164082,Federal Republic of Nigeria,NGA,400000000,2018,,,
P164783,Nepal,NPL,0,2018,,,
```

# Exercise Part 4

Output the df_merged dataframe as a sqlite database file. For this exercise, you can put all of the data as one table. In the next exercise, you'll create a database with multiple tables.

In [33]:
import sqlite3

# connect to the database
# the database file will be worldbank.db
# note that sqlite3 will create this database file if it does not exist already
conn = sqlite3.connect('worldbank.db')

# TODO: output the df_merged dataframe to a SQL table called 'merged'.
# HINT: Use the to_sql() method
# HINT: Use the conn variable for the connection parameter
# HINT: You can use the if_exists parameter like if_exists='replace' to replace a table if it already exists

df_merged.to_sql('merged', conn, if_exists='replace')

Run the code cell below to make sure that the worldbank.db file was created and the merged table loaded. You should get an output that is formatted like this:

|id|countryname_x|countrycode|totalamt|year|countryname_y|gdp|population
|-|-|-|-|-|-|-|-|
|P162033|'Federative  Republic of Brazil'|BRA|125000000|2017|Brazil|2.055506e+12|209288278.0|

In [34]:
pd.read_sql('SELECT * FROM merged WHERE year = "2017" AND countrycode = "BRA"', con = conn).head()

,index,id,countryname_x,countrycode,totalamt,year,countryname_y,gdp,population
0,273,P162033,Federative Republic of Brazil,BRA,125000000,2017,Brazil,2.055506e+12,209288278.0
1,285,P158000,Federative Republic of Brazil,BRA,0,2017,Brazil,2.055506e+12,209288278.0
2,289,P163868,Federative Republic of Brazil,BRA,250000000,2017,Brazil,2.055506e+12,209288278.0
3,313,P152285,Federative Republic of Brazil,BRA,0,2017,Brazil,2.055506e+12,209288278.0
4,346,P147158,Federative Republic of Brazil,BRA,50000000,2017,Brazil,2.055506e+12,209288278.0

# Exercise Part 5

Output the data to a SQL database like in the previous exercise; however, this time, put the df_indicator data in one table and the df_projects data in another table. Call the df_indicator table 'indicator' and the df_projects table 'projects'.

In [35]:
import sqlite3

# connect to the database
# the database file will be worldbank.db
# note that sqlite3 will create this database file if it does not exist already
conn = sqlite3.connect('worldbank.db')

# TODO: output the df_merged dataframe to a SQL table called 'merged'.
# HINT: Use the to_sql() method
# HINT: Use the conn variable for the connection parameter
# HINT: You can use the if_exists parameter like if_exists='replace' to replace a table if it already exists

df_projects.to_sql('projects', conn, if_exists='replace')
df_indicator.to_sql('indicator', conn, if_exists='replace')

Run the code cell below to see if your code is working properly. The code cell below runs a SQL query against the worldbank.db database joining the indicator table with the projects table.

In [36]:
pd.read_sql('SELECT * FROM projects LEFT JOIN indicator ON \
projects.countrycode = indicator.countrycode AND \
projects.year = indicator.year WHERE \
projects.year = "2017" AND projects.countrycode = "BRA"', con = conn).head()

,index,id,countryname,countrycode,totalamt,year,index,countryname,countrycode,year,gdp,population
0,273,P162033,Federative Republic of Brazil,BRA,125000000,2017,12395,Brazil,BRA,2017,2.055506e+12,209288278.0
1,285,P158000,Federative Republic of Brazil,BRA,0,2017,12395,Brazil,BRA,2017,2.055506e+12,209288278.0
2,289,P163868,Federative Republic of Brazil,BRA,250000000,2017,12395,Brazil,BRA,2017,2.055506e+12,209288278.0
3,313,P152285,Federative Republic of Brazil,BRA,0,2017,12395,Brazil,BRA,2017,2.055506e+12,209288278.0
4,346,P147158,Federative Republic of Brazil,BRA,50000000,2017,12395,Brazil,BRA,2017,2.055506e+12,209288278.0

In [37]:
# commit any changes to the database and close the connection to the database
conn.commit()
conn.close()

# Exercise Part 6 (Challenge)

SQLite, as its name would suggest, is somewhat limited in its functionality. For example, the Alter Table command only allows you to change a table name or to add a new column to a table. You can't, for example, add a primary key to a table once the table is already created.

If you want more control over a sqlite3 database, it's better to use the sqlite3 library directly. Here is an example of how to use the sqlite3 library to create a table in the database, insert a value, and then run a SQL query on the database. Run the code cells below to see the example.

### Demo

In [38]:
# connect to the data base
conn = sqlite3.connect('worldbank.db')

# get a cursor
cur = conn.cursor()

# drop the test table in case it already exists
cur.execute("DROP TABLE IF EXISTS test")

# create the test table including project_id as a primary key
cur.execute("CREATE TABLE test (project_id TEXT PRIMARY KEY, countryname TEXT, countrycode TEXT, totalamt REAL, year INTEGER);")

# insert a value into the test table
cur.execute("INSERT INTO test (project_id, countryname, countrycode, totalamt, year) VALUES ('a', 'Brazil', 'BRA', '100,000', 1970);")

# commit changes made to the database
conn.commit()

# select all from the test table
cur.execute("SELECT * FROM test")
cur.fetchall()

[('a', 'Brazil', 'BRA', '100,000', 1970)]

In [39]:
# commit any changes and close the data base
conn.close()

### Exercise

Now, it's your turn. Use the sqlite3 library to connect to the worldbank.db database. Then: 
* Create a table, called projects, for the projects data where the primary key is the id of each project. 
* Create another table, called gdp, that contains the gdp data. 
* And create another table, called population, that contains the population data.

Here is the schema for each table.
##### projects

* project_id text 
* countryname text 
* countrycode text
* totalamt real
* year integer

project_id is the primary key

##### gdp
* countryname text
* countrycode text
* year integer
* gdp real

(countrycode, year) is the primary key

##### population
* countryname text
* countrycode text
* year integer
* population integer

(countrycode, year) is the primary key

After setting up the tables, write code that inserts the data into each table. (Note that this database is not normalized. For example, countryname and countrycode are in all three tables. You could make another table with countrycode and countryname and then create a foreign key constraint in the projects, gdp, and population tables. If you'd like an extra challenge, create a country table with countryname and countrycode. Then create the other tables with foreign key constraints).

Follow the TODOs in the next few code cells to finish the exercise.

In [107]:
# connect to the data base
conn = sqlite3.connect('worldbank.db')

# get a cursor
cur = conn.cursor()

# drop tables created previously to start fresh
cur.execute("DROP TABLE IF EXISTS test")
cur.execute("DROP TABLE IF EXISTS indicator")
cur.execute("DROP TABLE IF EXISTS projects")
cur.execute("DROP TABLE IF EXISTS gdp")
cur.execute("DROP TABLE IF EXISTS population")

# TODO create the projects table including project_id as a primary key
# HINT: Use cur.execute("SQL Query")

cur.execute("CREATE TABLE projects ( id varchar(10), countryname varchar(32), countrycode varchar(3), totalamt numeric, year int, PRIMARY KEY (id))")

# TODO: create the gdp table including (countrycode, year) as primary key
# HINT: To create a primary key on multiple columns, you can do this:
# CREATE TABLE tablename (columna datatype, columnb datatype, columnc dataype, PRIMARY KEY (columna, columnb));

# TODO: create the gdp table including (countrycode, year) as primary key

cur.execute("CREATE TABLE gdp (countryname varchar(32), countrycode varchar(3), year int, gdp numeric, PRIMARY KEY (countrycode, year) )")


cur.execute("CREATE TABLE population (countryname varchar(32), countrycode varchar(3), year int, pop numeric, PRIMARY KEY (countrycode, year) )")

# commit changes to the database. Do this whenever modifying a database
conn.commit()

In [108]:
# TODO:insert project values into the projects table
# HINT: Use a for loop with the pandas iterrows() method
# HINT: The iterrows() method returns two values: an index for each row and a tuple of values
# HINT: Some of the values for totalamt and year are NaN. Because you've defined
# year and totalamt as numbers, you cannot insert NaN as a value into those columns.
# When totaamt or year equal NaN, you'll need to change the value to something numeric
# like, for example, zero

for vals in df_projects.iterrows():

    sql_statement = "INSERT INTO projects (id, countryname, countrycode, totalamt, year) VALUES ('{}', '{}', '{}', {}, {})"\
          .format(vals[1][0], vals[1][1].replace("\'",""), vals[1][2], vals[1][3], vals[1][4].replace('nan', '0'))
    cur.execute(sql_statement)

# commit changes to the dataset after any changes are made
conn.commit()

In [110]:
# TODO: insert gdp values into the gdp table
df_indicator = df_indicator.fillna('0')

for vals in df_indicator.iterrows():

    sql_statement = "INSERT INTO gdp (countryname, countrycode, year, gdp) VALUES ('{}', '{}', {}, {})"\
          .format(vals[1][0].replace("\'",""), vals[1][1], vals[1][2], vals[1][3])
    cur.execute(sql_statement)

# commit changes to the dataset after any changes are made
conn.commit()

(0, countryname          Aruba
countrycode            ABW
year                  1960
gdp            1.91624e+09
population           54211
Name: 0, dtype: object)
(1, countryname    Afghanistan
countrycode            AFG
year                  1960
gdp            5.37778e+08
population     8.99635e+06
Name: 1, dtype: object)
(2, countryname         Angola
countrycode            AGO
year                  1960
gdp            1.85732e+10
population     5.64318e+06
Name: 2, dtype: object)
(3, countryname        Albania
countrycode            ALB
year                  1960
gdp            1.85732e+10
population      1.6088e+06
Name: 3, dtype: object)
(4, countryname        Andorra
countrycode            AND
year                  1960
gdp            1.85732e+10
population           13411
Name: 4, dtype: object)
(5, countryname    United Arab Emirates
countrycode                     ARE
year                           1960
gdp                     1.85732e+10
population                    92634
Name: 5, dtype: object)
(6, countryname      Argentina
countrycode            ARG
year                  1960
gdp            1.85732e+10
population     2.06191e+07
Name: 6, dtype: object)
(7, countryname        Armenia
countrycode            ARM
year                  1960
gdp            1.85732e+10
population     1.87412e+06
Name: 7, dtype: object)
(8, countryname    American Samoa
countrycode               ASM
year                     1960
gdp               1.85732e+10
population              20013
Name: 8, dtype: object)
(9, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1960
gdp                    1.85732e+10
population                   55339
Name: 9, dtype: object)
(10, countryname      Australia
countrycode            AUS
year                  1960
gdp            1.85732e+10
population     1.02765e+07
Name: 10, dtype: object)
(11, countryname        Austria
countrycode            AUT
year                  1960
gdp            6.59269e+09
population     7.04754e+06
Name: 11, dtype: object)
(12, countryname    Azerbaijan
countrycode           AZE
year                 1960
gdp              1.96e+08
population     3.8954e+06
Name: 12, dtype: object)
(13, countryname        Burundi
countrycode            BDI
year                  1960
gdp               1.96e+08
population     2.78611e+06
Name: 13, dtype: object)
(14, countryname        Belgium
countrycode            BEL
year                  1960
gdp            1.16587e+10
population     9.15349e+06
Name: 14, dtype: object)
(15, countryname          Benin
countrycode            BEN
year                  1960
gdp            2.26196e+08
population     2.43162e+06
Name: 15, dtype: object)
(16, countryname    Burkina Faso
countrycode             BFA
year                   1960
gdp             3.30443e+08
population      4.82929e+06
Name: 16, dtype: object)
(17, countryname     Bangladesh
countrycode            BGD
year                  1960
gdp            4.27489e+09
population     4.81997e+07
Name: 17, dtype: object)
(18, countryname       Bulgaria
countrycode            BGR
year                  1960
gdp            1.69804e+08
population     7.86737e+06
Name: 18, dtype: object)
(19, countryname        Bahrain
countrycode            BHR
year                  1960
gdp            1.69804e+08
population          162427
Name: 19, dtype: object)
(20, countryname    Bahamas, The
countrycode             BHS
year                   1960
gdp             1.69804e+08
population           109528
Name: 20, dtype: object)
(21, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1960
gdp                       2.80719e+07
population                3.22567e+06
Name: 21, dtype: object)
(22, countryname        Belarus
countrycode            BLR
year                  1960
gdp            2.80719e+07
population       8.198e+06
Name: 22, dtype: object)
(23, countryname         Belize
countrycode            BLZ
year                  1960
gdp            2.80719e+07
population           92064
Name: 23, dtype: object)
(24, countryname        Bermuda
countrycode            BMU
year                  1960
gdp            8.44667e+07
population           44400
Name: 24, dtype: object)
(25, countryname        Bolivia
countrycode            BOL
year                  1960
gdp             5.6311e+08
population     3.69345e+06
Name: 25, dtype: object)
(26, countryname         Brazil
countrycode            BRA
year                  1960
gdp            2.26196e+08
population     7.22076e+07
Name: 26, dtype: object)
(27, countryname       Barbados
countrycode            BRB
year                  1960
gdp            2.26196e+08
population          230939
Name: 27, dtype: object)
(28, countryname    Brunei Darussalam
countrycode                  BRN
year                        1960
gdp                  2.26196e+08
population                 81745
Name: 28, dtype: object)
(29, countryname         Bhutan
countrycode            BTN
year                  1960
gdp            2.26196e+08
population          223288
Name: 29, dtype: object)
(30, countryname       Botswana
countrycode            BWA
year                  1960
gdp            3.04123e+07
population          524552
Name: 30, dtype: object)
(31, countryname    Central African Republic
countrycode                         CAF
year                               1960
gdp                         1.12156e+08
population                  1.50351e+06
Name: 31, dtype: object)
(32, countryname         Canada
countrycode            CAN
year                  1960
gdp            4.10935e+10
population      1.7909e+07
Name: 32, dtype: object)
(33, countryname    Switzerland
countrycode            CHE
year                  1960
gdp            9.52275e+09
population     5.32783e+06
Name: 33, dtype: object)
(34, countryname    Channel Islands
countrycode                CHI
year                      1960
gdp                   4.11e+09
population              109420
Name: 34, dtype: object)
(35, countryname          Chile
countrycode            CHL
year                  1960
gdp               4.11e+09
population     7.71662e+06
Name: 35, dtype: object)
(36, countryname          China
countrycode            CHN
year                  1960
gdp            5.97165e+10
population      6.6707e+08
Name: 36, dtype: object)
(37, countryname    Cote d'Ivoire
countrycode              CIV
year                    1960
gdp              5.46204e+08
population       3.55899e+06
Name: 37, dtype: object)
(38, countryname       Cameroon
countrycode            CMR
year                  1960
gdp            6.18741e+08
population     5.17627e+06
Name: 38, dtype: object)
(39, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1960
gdp                 1.31732e+08
population          1.52483e+07
Name: 39, dtype: object)
(40, countryname    Congo, Rep.
countrycode            COG
year                  1960
gdp            1.31732e+08
population     1.03722e+06
Name: 40, dtype: object)
(41, countryname       Colombia
countrycode            COL
year                  1960
gdp            4.04095e+09
population     1.64804e+07
Name: 41, dtype: object)
(42, countryname        Comoros
countrycode            COM
year                  1960
gdp            5.07514e+08
population          191121
Name: 42, dtype: object)
(43, countryname     Cabo Verde
countrycode            CPV
year                  1960
gdp            5.07514e+08
population          202310
Name: 43, dtype: object)
(44, countryname     Costa Rica
countrycode            CRI
year                  1960
gdp            5.07514e+08
population     1.33304e+06
Name: 44, dtype: object)
(45, countryname           Cuba
countrycode            CUB
year                  1960
gdp            6.24895e+09
population     7.14114e+06
Name: 45, dtype: object)
(46, countryname        Curacao
countrycode            CUW
year                  1960
gdp            6.24895e+09
population          124826
Name: 46, dtype: object)
(47, countryname    Cayman Islands
countrycode               CYM
year                     1960
gdp               6.24895e+09
population               7865
Name: 47, dtype: object)
(48, countryname         Cyprus
countrycode            CYP
year                  1960
gdp            6.24895e+09
population          572930
Name: 48, dtype: object)
(49, countryname    Czech Republic
countrycode               CZE
year                     1960
gdp               6.24895e+09
population        9.60201e+06
Name: 49, dtype: object)
(50, countryname        Germany
countrycode            DEU
year                  1960
gdp            6.24895e+09
population     7.28149e+07
Name: 50, dtype: object)
(51, countryname       Djibouti
countrycode            DJI
year                  1960
gdp            6.24895e+09
population           83636
Name: 51, dtype: object)
(52, countryname       Dominica
countrycode            DMA
year                  1960
gdp            6.24895e+09
population           60011
Name: 52, dtype: object)
(53, countryname        Denmark
countrycode            DNK
year                  1960
gdp            6.24895e+09
population      4.5796e+06
Name: 53, dtype: object)
(54, countryname    Dominican Republic
countrycode                   DOM
year                         1960
gdp                     6.724e+08
population            3.29404e+06
Name: 54, dtype: object)
(55, countryname        Algeria
countrycode            DZA
year                  1960
gdp            2.72365e+09
population     1.11249e+07
Name: 55, dtype: object)
(56, countryname        Ecuador
countrycode            ECU
year                  1960
gdp            1.01033e+09
population     4.54555e+06
Name: 56, dtype: object)
(57, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1960
gdp                 5.37778e+08
population          2.69965e+07
Name: 57, dtype: object)
(58, countryname        Eritrea
countrycode            ERI
year                  1960
gdp            1.20721e+10
population     1.39749e+06
Name: 58, dtype: object)
(59, countryname          Spain
countrycode            ESP
year                  1960
gdp            1.20721e+10
population      3.0455e+07
Name: 59, dtype: object)
(60, countryname        Estonia
countrycode            EST
year                  1960
gdp            3.59029e+11
population     1.21154e+06
Name: 60, dtype: object)
(61, countryname       Ethiopia
countrycode            ETH
year                  1960
gdp            3.59029e+11
population     2.21513e+07
Name: 61, dtype: object)
(62, countryname        Finland
countrycode            FIN
year                  1960
gdp             5.2241e+09
population     4.42963e+06
Name: 62, dtype: object)
(63, countryname           Fiji
countrycode            FJI
year                  1960
gdp            1.12328e+08
population          393386
Name: 63, dtype: object)
(64, countryname         France
countrycode            FRA
year                  1960
gdp            6.26515e+10
population     4.68142e+07
Name: 64, dtype: object)
(65, countryname    Faroe Islands
countrycode              FRO
year                    1960
gdp              1.41469e+08
population             34661
Name: 65, dtype: object)
(66, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1960
gdp                      1.41469e+08
population                     44537
Name: 66, dtype: object)
(67, countryname          Gabon
countrycode            GAB
year                  1960
gdp            1.41469e+08
population          499184
Name: 67, dtype: object)
(68, countryname    United Kingdom
countrycode               GBR
year                     1960
gdp                7.2328e+10
population           5.24e+07
Name: 68, dtype: object)
(69, countryname        Georgia
countrycode            GEO
year                  1960
gdp            1.21723e+09
population      3.6456e+06
Name: 69, dtype: object)
(70, countryname          Ghana
countrycode            GHA
year                  1960
gdp            1.21723e+09
population     6.65229e+06
Name: 70, dtype: object)
(71, countryname     Gibraltar
countrycode           GIB
year                 1960
gdp            1.3208e+09
population          23394
Name: 71, dtype: object)
(72, countryname         Guinea
countrycode            GIN
year                  1960
gdp             1.3208e+09
population     3.57741e+06
Name: 72, dtype: object)
(73, countryname    Gambia, The
countrycode            GMB
year                  1960
gdp            5.67006e+09
population          367928
Name: 73, dtype: object)
(74, countryname    Guinea-Bissau
countrycode              GNB
year                    1960
gdp              5.67006e+09
population            616409
Name: 74, dtype: object)
(75, countryname    Equatorial Guinea
countrycode                  GNQ
year                        1960
gdp                  5.67006e+09
population                255323
Name: 75, dtype: object)
(76, countryname         Greece
countrycode            GRC
year                  1960
gdp            4.44653e+09
population     8.33172e+06
Name: 76, dtype: object)
(77, countryname        Grenada
countrycode            GRD
year                  1960
gdp            4.44653e+09
population           89869
Name: 77, dtype: object)
(78, countryname      Greenland
countrycode            GRL
year                  1960
gdp            5.67006e+09
population           32500
Name: 78, dtype: object)
(79, countryname      Guatemala
countrycode            GTM
year                  1960
gdp             1.0436e+09
population     4.21075e+06
Name: 79, dtype: object)
(80, countryname          Guam
countrycode           GUM
year                 1960
gdp            1.0436e+09
population          66742
Name: 80, dtype: object)
(81, countryname         Guyana
countrycode            GUY
year                  1960
gdp            1.70215e+08
population          571819
Name: 81, dtype: object)
(82, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1960
gdp                      1.3208e+09
population              3.07560e+06
Name: 82, dtype: object)
(83, countryname       Honduras
countrycode            HND
year                  1960
gdp             3.3565e+08
population     2.03864e+06
Name: 83, dtype: object)
(84, countryname        Croatia
countrycode            HRV
year                  1960
gdp            1.41469e+08
population        4.14e+06
Name: 84, dtype: object)
(85, countryname          Haiti
countrycode            HTI
year                  1960
gdp            1.48685e+10
population     3.86616e+06
Name: 85, dtype: object)
(86, countryname        Hungary
countrycode            HUN
year                  1960
gdp            1.48685e+10
population     9.98397e+06
Name: 86, dtype: object)
(87, countryname      Indonesia
countrycode            IDN
year                  1960
gdp            1.48685e+10
population     8.77925e+07
Name: 87, dtype: object)
(88, countryname    Isle of Man
countrycode            IMN
year                  1960
gdp            3.65359e+10
population           48442
Name: 88, dtype: object)
(89, countryname          India
countrycode            IND
year                  1960
gdp            3.65359e+10
population     4.49481e+08
Name: 89, dtype: object)
(90, countryname        Ireland
countrycode            IRL
year                  1960
gdp            1.93933e+09
population      2.8286e+06
Name: 90, dtype: object)
(91, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         1960
gdp                   4.19913e+09
population            2.19069e+07
Name: 91, dtype: object)
(92, countryname           Iraq
countrycode            IRQ
year                  1960
gdp            1.68412e+09
population     7.28976e+06
Name: 92, dtype: object)
(93, countryname        Iceland
countrycode            ISL
year                  1960
gdp            2.48434e+08
population          175574
Name: 93, dtype: object)
(94, countryname         Israel
countrycode            ISR
year                  1960
gdp             2.5985e+09
population     2.11402e+06
Name: 94, dtype: object)
(95, countryname          Italy
countrycode            ITA
year                  1960
gdp            4.03853e+10
population     5.01997e+07
Name: 95, dtype: object)
(96, countryname        Jamaica
countrycode            JAM
year                  1960
gdp            6.99051e+08
population     1.62825e+06
Name: 96, dtype: object)
(97, countryname         Jordan
countrycode            JOR
year                  1960
gdp            4.43073e+10
population          932257
Name: 97, dtype: object)
(98, countryname          Japan
countrycode            JPN
year                  1960
gdp            4.43073e+10
population     9.25006e+07
Name: 98, dtype: object)
(99, countryname     Kazakhstan
countrycode            KAZ
year                  1960
gdp            7.91265e+08
population     9.71426e+06
Name: 99, dtype: object)
(100, countryname          Kenya
countrycode            KEN
year                  1960
gdp            7.91265e+08
population     8.10544e+06
Name: 100, dtype: object)
(101, countryname    Kyrgyz Republic
countrycode                KGZ
year                      1960
gdp                6.37143e+08
population          2.1723e+06
Name: 101, dtype: object)
(102, countryname       Cambodia
countrycode            KHM
year                  1960
gdp            6.37143e+08
population     5.72237e+06
Name: 102, dtype: object)
(103, countryname       Kiribati
countrycode            KIR
year                  1960
gdp            1.23666e+07
population           41233
Name: 103, dtype: object)
(104, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1960
gdp                    1.23666e+07
population                   51195
Name: 104, dtype: object)
(105, countryname    Korea, Rep.
countrycode            KOR
year                  1960
gdp            3.95787e+09
population     2.50124e+07
Name: 105, dtype: object)
(106, countryname         Kuwait
countrycode            KWT
year                  1960
gdp            1.90496e+08
population          269618
Name: 106, dtype: object)
(107, countryname        Lao PDR
countrycode            LAO
year                  1960
gdp            1.90496e+08
population      2.1209e+06
Name: 107, dtype: object)
(108, countryname        Lebanon
countrycode            LBN
year                  1960
gdp            1.90496e+08
population     1.80493e+06
Name: 108, dtype: object)
(109, countryname        Liberia
countrycode            LBR
year                  1960
gdp            1.90496e+08
population     1.12031e+06
Name: 109, dtype: object)
(110, countryname          Libya
countrycode            LBY
year                  1960
gdp            9.52275e+09
population     1.44842e+06
Name: 110, dtype: object)
(111, countryname      St. Lucia
countrycode            LCA
year                  1960
gdp            1.85732e+10
population           89897
Name: 111, dtype: object)
(112, countryname    Liechtenstein
countrycode              LIE
year                    1960
gdp              1.40987e+09
population             16495
Name: 112, dtype: object)
(113, countryname      Sri Lanka
countrycode            LKA
year                  1960
gdp            1.40987e+09
population     9.87448e+06
Name: 113, dtype: object)
(114, countryname        Lesotho
countrycode            LSO
year                  1960
gdp            3.45793e+07
population          851591
Name: 114, dtype: object)
(115, countryname      Lithuania
countrycode            LTU
year                  1960
gdp            7.03926e+08
population     2.77855e+06
Name: 115, dtype: object)
(116, countryname     Luxembourg
countrycode            LUX
year                  1960
gdp            7.03926e+08
population          313970
Name: 116, dtype: object)

Name: 215, dtype: object)
(216, countryname       Zimbabwe
countrycode            ZWE
year                  1960
gdp            1.05299e+09
population     3.74737e+06
Name: 216, dtype: object)
(217, countryname         Aruba
countrycode           ABW
year                 1961
gdp            2.7021e+11
population          55438
Name: 217, dtype: object)
(218, countryname    Afghanistan
countrycode            AFG
year                  1961
gdp            5.48889e+08
population     9.16676e+06
Name: 218, dtype: object)
(219, countryname         Angola
countrycode            AGO
year                  1961
gdp            1.96483e+10
population     5.75302e+06
Name: 219, dtype: object)
(220, countryname        Albania
countrycode            ALB
year                  1961
gdp            1.96483e+10
population      1.6598e+06
Name: 220, dtype: object)
(221, countryname        Andorra
countrycode            AND
year                  1961
gdp            1.96483e+10
population           14375
Name: 221, dtype: object)
(222, countryname    United Arab Emirates
countrycode                     ARE
year                           1961
gdp                     1.96483e+10
population                   101078
Name: 222, dtype: object)
(223, countryname      Argentina
countrycode            ARG
year                  1961
gdp            1.96483e+10
population     2.09531e+07
Name: 223, dtype: object)
(224, countryname        Armenia
countrycode            ARM
year                  1961
gdp            1.96483e+10
population     1.94149e+06
Name: 224, dtype: object)
(225, countryname    American Samoa
countrycode               ASM
year                     1961
gdp               1.96483e+10
population              20486
Name: 225, dtype: object)
(226, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1961
gdp                    1.96483e+10
population                   56144
Name: 226, dtype: object)
(227, countryname      Australia
countrycode            AUS
year                  1961
gdp            1.96483e+10
population      1.0483e+07
Name: 227, dtype: object)
(228, countryname        Austria
countrycode            AUT
year                  1961
gdp            7.31175e+09
population      7.0863e+06
Name: 228, dtype: object)
(229, countryname     Azerbaijan
countrycode            AZE
year                  1961
gdp               2.03e+08
population     4.03032e+06
Name: 229, dtype: object)
(230, countryname        Burundi
countrycode            BDI
year                  1961
gdp               2.03e+08
population     2.83967e+06
Name: 230, dtype: object)
(231, countryname        Belgium
countrycode            BEL
year                  1961
gdp            1.24001e+10
population     9.18395e+06
Name: 231, dtype: object)
(232, countryname          Benin
countrycode            BEN
year                  1961
gdp            2.35668e+08
population     2.46587e+06
Name: 232, dtype: object)
(233, countryname    Burkina Faso
countrycode             BFA
year                   1961
gdp             3.50247e+08
population      4.89458e+06
Name: 233, dtype: object)
(234, countryname     Bangladesh
countrycode            BGD
year                  1961
gdp            4.81758e+09
population     4.95928e+07
Name: 234, dtype: object)
(235, countryname       Bulgaria
countrycode            BGR
year                  1961
gdp            1.90098e+08
population     7.94312e+06
Name: 235, dtype: object)
(236, countryname        Bahrain
countrycode            BHR
year                  1961
gdp            1.90098e+08
population          167894
Name: 236, dtype: object)
(237, countryname    Bahamas, The
countrycode             BHS
year                   1961
gdp             1.90098e+08
population           115108
Name: 237, dtype: object)
(238, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1961
gdp                       2.99644e+07
population                 3.2886e+06
Name: 238, dtype: object)
(239, countryname        Belarus
countrycode            BLR
year                  1961
gdp            2.99644e+07
population     8.27122e+06
Name: 239, dtype: object)
(240, countryname         Belize
countrycode            BLZ
year                  1961
gdp            2.99644e+07
population           94703
Name: 240, dtype: object)
(241, countryname      Bermuda
countrycode          BMU
year                1961
gdp            8.925e+07
population         45500
Name: 241, dtype: object)
(242, countryname        Bolivia
countrycode            BOL
year                  1961
gdp            6.12519e+08
population     3.76481e+06
Name: 242, dtype: object)
(243, countryname         Brazil
countrycode            BRA
year                  1961
gdp            2.35668e+08
population     7.43518e+07
Name: 243, dtype: object)
(244, countryname       Barbados
countrycode            BRB
year                  1961
gdp            2.35668e+08
population          231678
Name: 244, dtype: object)
(245, countryname    Brunei Darussalam
countrycode                  BRN
year                        1961
gdp                  2.35668e+08
population                 85596
Name: 245, dtype: object)
(246, countryname         Bhutan
countrycode            BTN
year                  1961
gdp            2.35668e+08
population          228918
Name: 246, dtype: object)
(247, countryname       Botswana
countrycode            BWA
year                  1961
gdp            3.29023e+07
population          537249
Name: 247, dtype: object)
(248, countryname    Central African Republic
countrycode                         CAF
year                               1961
gdp                         1.23135e+08
population                  1.52923e+06
Name: 248, dtype: object)
(249, countryname        Canada
countrycode           CAN
year                 1961
gdp            4.0768e+10
population     1.8271e+07
Name: 249, dtype: object)
(250, countryname    Switzerland
countrycode            CHE
year                  1961
gdp            1.07127e+10
population     5.43429e+06
Name: 250, dtype: object)
(251, countryname    Channel Islands
countrycode                CHI
year                      1961
gdp                4.60973e+09
population              110399
Name: 251, dtype: object)
(252, countryname          Chile
countrycode            CHL
year                  1961
gdp            4.60973e+09
population     7.89016e+06
Name: 252, dtype: object)
(253, countryname          China
countrycode            CHN
year                  1961
gdp            5.00569e+10
population      6.6033e+08
Name: 253, dtype: object)
(254, countryname    Cote d'Ivoire
countrycode              CIV
year                    1961
gdp              6.18246e+08
population       3.69420e+06
Name: 254, dtype: object)
(255, countryname       Cameroon
countrycode            CMR
year                  1961
gdp            6.57597e+08
population     5.28523e+06
Name: 255, dtype: object)
(256, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1961
gdp                 1.51676e+08
population          1.56377e+07
Name: 256, dtype: object)
(257, countryname    Congo, Rep.
countrycode            COG
year                  1961
gdp            1.51676e+08
population     1.06411e+06
Name: 257, dtype: object)
(258, countryname       Colombia
countrycode            COL
year                  1961
gdp            4.55291e+09
population     1.69823e+07
Name: 258, dtype: object)
(259, countryname        Comoros
countrycode            COM
year                  1961
gdp            4.90325e+08
population          194139
Name: 259, dtype: object)
(260, countryname     Cabo Verde
countrycode            CPV
year                  1961
gdp            4.90325e+08
population          205956
Name: 260, dtype: object)
(261, countryname     Costa Rica
countrycode            CRI
year                  1961
gdp            4.90325e+08
population     1.38192e+06
Name: 261, dtype: object)
(262, countryname           Cuba
countrycode            CUB
year                  1961
gdp            6.93384e+09
population     7.28983e+06
Name: 262, dtype: object)
(263, countryname        Curacao
countrycode            CUW
year                  1961
gdp            6.93384e+09
population          126125
Name: 263, dtype: object)
(264, countryname    Cayman Islands
countrycode               CYM
year                     1961
gdp               6.93384e+09
population               8026
Name: 264, dtype: object)
(265, countryname         Cyprus
countrycode            CYP
year                  1961
gdp            6.93384e+09
population          576395
Name: 265, dtype: object)
(266, countryname    Czech Republic
countrycode               CZE
year                     1961
gdp               6.93384e+09
population        9.58665e+06
Name: 266, dtype: object)
(267, countryname        Germany
countrycode            DEU
year                  1961
gdp            6.93384e+09
population     7.33776e+07
Name: 267, dtype: object)
(268, countryname       Djibouti
countrycode            DJI
year                  1961
gdp            6.93384e+09
population           88498
Name: 268, dtype: object)
(269, countryname       Dominica
countrycode            DMA
year                  1961
gdp            6.93384e+09
population           61032
Name: 269, dtype: object)
(270, countryname        Denmark
countrycode            DNK
year                  1961
gdp            6.93384e+09
population     4.61169e+06
Name: 270, dtype: object)
(271, countryname    Dominican Republic
countrycode                   DOM
year                         1961
gdp                     6.541e+08
population             3.4063e+06
Name: 271, dtype: object)
(272, countryname        Algeria
countrycode            DZA
year                  1961
gdp            2.43478e+09
population     1.14049e+07
Name: 272, dtype: object)
(273, countryname        Ecuador
countrycode            ECU
year                  1961
gdp            9.79109e+08
population     4.67686e+06
Name: 273, dtype: object)
(274, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1961
gdp                  2.7021e+11
population          2.77447e+07
Name: 274, dtype: object)
(275, countryname        Eritrea
countrycode            ERI
year                  1961
gdp            1.38343e+10
population     1.43264e+06
Name: 275, dtype: object)
(276, countryname          Spain
countrycode            ESP
year                  1961
gdp            1.38343e+10
population     3.07392e+07
Name: 276, dtype: object)
(277, countryname        Estonia
countrycode            EST
year                  1961
gdp            3.90887e+11
population     1.22508e+06
Name: 277, dtype: object)
(278, countryname       Ethiopia
countrycode            ETH
year                  1961
gdp            3.90887e+11
population     2.26712e+07
Name: 278, dtype: object)
(279, countryname        Finland
countrycode            FIN
year                  1961
gdp            5.92166e+09
population     4.46100e+06
Name: 279, dtype: object)
(280, countryname           Fiji
countrycode            FJI
year                  1961
gdp            1.16988e+08
population          407156
Name: 280, dtype: object)
(281, countryname         France
countrycode            FRA
year                  1961
gdp            6.83467e+10
population     4.74448e+07
Name: 281, dtype: object)
(282, countryname    Faroe Islands
countrycode              FRO
year                    1961
gdp              1.67638e+08
population             35115
Name: 282, dtype: object)
(283, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1961
gdp                      1.67638e+08
population                     45955
Name: 283, dtype: object)
(284, countryname          Gabon
countrycode            GAB
year                  1961
gdp            1.67638e+08
population          504167
Name: 284, dtype: object)
(285, countryname    United Kingdom
countrycode               GBR
year                     1961
gdp               7.66944e+10
population           5.28e+07
Name: 285, dtype: object)
(286, countryname        Georgia
countrycode            GEO
year                  1961
gdp            1.30267e+09
population      3.7036e+06
Name: 286, dtype: object)
(287, countryname          Ghana
countrycode            GHA
year                  1961
gdp            1.30267e+09
population     6.86654e+06
Name: 287, dtype: object)
(288, countryname      Gibraltar
countrycode            GIB
year                  1961
gdp            1.57533e+10
population           23786
Name: 288, dtype: object)
(289, countryname         Guinea
countrycode            GIN
year                  1961
gdp            1.57533e+10
population     3.63365e+06
Name: 289, dtype: object)
(290, countryname    Gambia, The
countrycode            GMB
year                  1961
gdp             1.0767e+09
population          376737
Name: 290, dtype: object)
(291, countryname    Guinea-Bissau
countrycode              GNB
year                    1961
gdp               1.0767e+09
population            623415
Name: 291, dtype: object)
(292, countryname    Equatorial Guinea
countrycode                  GNQ
year                        1961
gdp                   1.0767e+09
population                258947
Name: 292, dtype: object)
(293, countryname         Greece
countrycode            GRC
year                  1961
gdp            5.01605e+09
population     8.39805e+06
Name: 293, dtype: object)
(294, countryname        Grenada
countrycode            GRD
year                  1961
gdp            5.01605e+09
population           91260
Name: 294, dtype: object)
(295, countryname      Greenland
countrycode            GRL
year                  1961
gdp            5.01605e+09
population           33700
Name: 295, dtype: object)
(296, countryname      Guatemala
countrycode            GTM
year                  1961
gdp             1.0767e+09
population     4.33614e+06
Name: 296, dtype: object)
(297, countryname           Guam
countrycode            GUM
year                  1961
gdp            1.13177e+12
population           68072
Name: 297, dtype: object)
(298, countryname         Guyana
countrycode            GUY
year                  1961
gdp            1.85848e+08
population          589274
Name: 298, dtype: object)
(299, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1961
gdp                     1.38368e+09
population               3.1681e+06
Name: 299, dtype: object)
(300, countryname       Honduras
countrycode            HND
year                  1961
gdp              3.562e+08
population     2.09641e+06
Name: 300, dtype: object)
(301, countryname        Croatia
countrycode            HRV
year                  1961
gdp            1.38343e+10
population     4.17167e+06
Name: 301, dtype: object)
(302, countryname          Haiti
countrycode            HTI
year                  1961
gdp            1.67638e+08
population     3.94336e+06
Name: 302, dtype: object)
(303, countryname        Hungary
countrycode            HUN
year                  1961
gdp            1.38343e+10
population     1.00293e+07
Name: 303, dtype: object)
(304, countryname      Indonesia
countrycode            IDN
year                  1961
gdp            3.87091e+10
population     9.01382e+07
Name: 304, dtype: object)
(305, countryname    Isle of Man
countrycode            IMN
year                  1961
gdp            3.87091e+10
population           48281
Name: 305, dtype: object)
(306, countryname          India
countrycode            IND
year                  1961
gdp            3.87091e+10
population     4.58495e+08
Name: 306, dtype: object)
(307, countryname        Ireland
countrycode            IRL
year                  1961
gdp            2.08801e+09
population      2.8244e+06
Name: 307, dtype: object)
(308, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         1961
gdp                   4.42695e+09
population            2.24804e+07
Name: 308, dtype: object)
(309, countryname           Iraq
countrycode            IRQ
year                  1961
gdp             1.8317e+09
population     7.47535e+06
Name: 309, dtype: object)
(310, countryname        Iceland
countrycode            ISL
year                  1961
gdp            2.53886e+08
population          179029
Name: 310, dtype: object)
(311, countryname        Israel
countrycode           ISR
year                 1961
gdp            3.1385e+09
population      2.185e+06
Name: 311, dtype: object)
(312, countryname          Italy
countrycode            ITA
year                  1961
gdp            4.48428e+10
population     5.05364e+07
Name: 312, dtype: object)
(313, countryname        Jamaica
countrycode            JAM
year                  1961
gdp            7.48029e+08
population     1.65081e+06
Name: 313, dtype: object)
(314, countryname         Jordan
countrycode            JOR
year                  1961
gdp            5.35086e+10
population          973083
Name: 314, dtype: object)
(315, countryname          Japan
countrycode            JPN
year                  1961
gdp            5.35086e+10
population      9.4943e+07
Name: 315, dtype: object)
(316, countryname     Kazakhstan
countrycode            KAZ
year                  1961
gdp            7.92959e+08
population     1.01299e+07
Name: 316, dtype: object)
(317, countryname          Kenya
countrycode            KEN
year                  1961
gdp            7.92959e+08
population     8.36144e+06
Name: 317, dtype: object)
(318, countryname    Kyrgyz Republic
countrycode                KGZ
year                      1961
gdp                6.42857e+08
population          2.2559e+06
Name: 318, dtype: object)
(319, countryname       Cambodia
countrycode            KHM
year                  1961
gdp            6.42857e+08
population     5.87302e+06
Name: 319, dtype: object)
(320, countryname       Kiribati
countrycode            KIR
year                  1961
gdp            1.24832e+07
population           42257
Name: 320, dtype: object)
(321, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1961
gdp                    1.24832e+07
population                   51193
Name: 321, dtype: object)
(322, countryname    Korea, Rep.
countrycode            KOR
year                  1961
gdp            2.41724e+09
population     2.57657e+07
Name: 322, dtype: object)
(323, countryname         Kuwait
countrycode            KWT
year                  1961
gdp            1.83921e+08
population          301336
Name: 323, dtype: object)
(324, countryname        Lao PDR
countrycode            LAO
year                  1961
gdp            1.83921e+08
population     2.17034e+06
Name: 324, dtype: object)
(325, countryname        Lebanon
countrycode            LBN
year                  1961
gdp            1.83921e+08
population     1.86460e+06
Name: 325, dtype: object)
(326, countryname        Liberia
countrycode            LBR
year                  1961
gdp            1.83921e+08
population     1.14499e+06
Name: 326, dtype: object)
(327, countryname          Libya
countrycode            LBY
year                  1961
gdp            1.07127e+10
population     1.49807e+06
Name: 327, dtype: object)
(328, countryname      St. Lucia
countrycode            LCA
year                  1961
gdp            1.38343e+10
population           90914
Name: 328, dtype: object)
(329, countryname    Liechtenstein
countrycode              LIE
year                    1961
gdp              1.44433e+09
population             16894
Name: 329, dtype: object)
(330, countryname      Sri Lanka
countrycode            LKA
year                  1961
gdp            1.44433e+09
population     1.01116e+07
Name: 330, dtype: object)
(331, countryname        Lesotho
countrycode            LSO
year                  1961
gdp            3.56993e+07

Name: 430, dtype: object)
(431, countryname    South Africa
countrycode             ZAF
year                   1961
gdp             7.97284e+09
population      1.79207e+07
Name: 431, dtype: object)
(432, countryname         Zambia
countrycode            ZMB
year                  1961
gdp            6.96286e+08
population     3.14026e+06
Name: 432, dtype: object)
(433, countryname       Zimbabwe
countrycode            ZWE
year                  1961
gdp            1.09665e+09
population     3.87076e+06
Name: 433, dtype: object)
(434, countryname          Aruba
countrycode            ABW
year                  1962
gdp            5.46667e+08
population           56225
Name: 434, dtype: object)
(435, countryname    Afghanistan
countrycode            AFG
year                  1962
gdp            5.46667e+08
population     9.34587e+06
Name: 435, dtype: object)
(436, countryname         Angola
countrycode            AGO
year                  1962
gdp             1.9888e+10
population     5.86606e+06
Name: 436, dtype: object)
(437, countryname        Albania
countrycode            ALB
year                  1962
gdp             1.9888e+10
population     1.71132e+06
Name: 437, dtype: object)
(438, countryname       Andorra
countrycode           AND
year                 1962
gdp            1.9888e+10
population          15370
Name: 438, dtype: object)
(439, countryname    United Arab Emirates
countrycode                     ARE
year                           1962
gdp                      1.9888e+10
population                   112472
Name: 439, dtype: object)
(440, countryname      Argentina
countrycode            ARG
year                  1962
gdp             1.9888e+10
population     2.12877e+07
Name: 440, dtype: object)
(441, countryname        Armenia
countrycode            ARM
year                  1962
gdp             1.9888e+10
population     2.00953e+06
Name: 441, dtype: object)
(442, countryname    American Samoa
countrycode               ASM
year                     1962
gdp                1.9888e+10
population              21117
Name: 442, dtype: object)
(443, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1962
gdp                     1.9888e+10
population                   57144
Name: 443, dtype: object)
(444, countryname     Australia
countrycode           AUS
year                 1962
gdp            1.9888e+10
population     1.0742e+07
Name: 444, dtype: object)
(445, countryname        Austria
countrycode            AUT
year                  1962
gdp            7.75611e+09
population     7.12986e+06
Name: 445, dtype: object)
(446, countryname     Azerbaijan
countrycode            AZE
year                  1962
gdp              2.135e+08
population     4.17142e+06
Name: 446, dtype: object)
(447, countryname        Burundi
countrycode            BDI
year                  1962
gdp              2.135e+08
population     2.89367e+06
Name: 447, dtype: object)
(448, countryname        Belgium
countrycode            BEL
year                  1962
gdp             1.3264e+10
population     9.22058e+06
Name: 448, dtype: object)
(449, countryname          Benin
countrycode            BEN
year                  1962
gdp            2.36435e+08
population      2.5029e+06
Name: 449, dtype: object)
(450, countryname    Burkina Faso
countrycode             BFA
year                   1962
gdp             3.79567e+08
population      4.96033e+06
Name: 450, dtype: object)
(451, countryname     Bangladesh
countrycode            BGD
year                  1962
gdp            5.08141e+09
population     5.10301e+07
Name: 451, dtype: object)
(452, countryname       Bulgaria
countrycode            BGR
year                  1962
gdp            2.12255e+08
population     8.01295e+06
Name: 452, dtype: object)
(453, countryname        Bahrain
countrycode            BHR
year                  1962
gdp            2.12255e+08
population          173144
Name: 453, dtype: object)
(454, countryname    Bahamas, The
countrycode             BHS
year                   1962
gdp             2.12255e+08
population           121083
Name: 454, dtype: object)
(455, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1962
gdp                       3.18569e+07
population                3.35323e+06
Name: 455, dtype: object)
(456, countryname        Belarus
countrycode            BLR
year                  1962
gdp            3.18569e+07
population     8.35193e+06
Name: 456, dtype: object)
(457, countryname         Belize
countrycode            BLZ
year                  1962
gdp            3.18569e+07
population           97384
Name: 457, dtype: object)
(458, countryname      Bermuda
countrycode          BMU
year                1962
gdp            9.415e+07
population         46600
Name: 458, dtype: object)
(459, countryname        Bolivia
countrycode            BOL
year                  1962
gdp            6.69723e+08
population      3.8381e+06
Name: 459, dtype: object)
(460, countryname         Brazil
countrycode            BRA
year                  1962
gdp            5.02209e+11
population     7.65732e+07
Name: 460, dtype: object)
(461, countryname       Barbados
countrycode            BRB
year                  1962
gdp            5.46667e+08
population          232586
Name: 461, dtype: object)
(462, countryname    Brunei Darussalam
countrycode                  BRN
year                        1962
gdp                  5.02209e+11
population                 89516
Name: 462, dtype: object)
(463, countryname         Bhutan
countrycode            BTN
year                  1962
gdp            5.46667e+08
population          234706
Name: 463, dtype: object)
(464, countryname       Botswana
countrycode            BWA
year                  1962
gdp            3.56432e+07
population          550840
Name: 464, dtype: object)
(465, countryname    Central African Republic
countrycode                         CAF
year                               1962
gdp                         1.24483e+08
population                  1.55666e+06
Name: 465, dtype: object)
(466, countryname         Canada
countrycode            CAN
year                  1962
gdp            4.19789e+10
population      1.8614e+07
Name: 466, dtype: object)
(467, countryname    Switzerland
countrycode            CHE
year                  1962
gdp              1.188e+10
population     5.57382e+06
Name: 467, dtype: object)
(468, countryname    Channel Islands
countrycode                CHI
year                      1962
gdp                5.41627e+09
population              111457
Name: 468, dtype: object)
(469, countryname          Chile
countrycode            CHL
year                  1962
gdp            5.41627e+09
population     8.06714e+06
Name: 469, dtype: object)
(470, countryname          China
countrycode            CHN
year                  1962
gdp            4.72094e+10
population      6.6577e+08
Name: 470, dtype: object)
(471, countryname    Cote d'Ivoire
countrycode              CIV
year                    1962
gdp              6.45284e+08
population       3.84107e+06
Name: 471, dtype: object)
(472, countryname       Cameroon
countrycode            CMR
year                  1962
gdp            6.99374e+08
population     5.39992e+06
Name: 472, dtype: object)
(473, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1962
gdp                 1.66521e+08
population          1.60413e+07
Name: 473, dtype: object)
(474, countryname    Congo, Rep.
countrycode            COG
year                  1962
gdp            1.66521e+08
population     1.09229e+06
Name: 474, dtype: object)
(475, countryname       Colombia
countrycode            COL
year                  1962
gdp             4.9686e+09
population     1.75002e+07
Name: 475, dtype: object)
(476, countryname        Comoros
countrycode            COM
year                  1962
gdp            4.79181e+08
population          197198
Name: 476, dtype: object)
(477, countryname     Cabo Verde
countrycode            CPV
year                  1962
gdp            4.79181e+08
population          210867
Name: 477, dtype: object)
(478, countryname     Costa Rica
countrycode            CRI
year                  1962
gdp            4.79181e+08
population     1.43258e+06
Name: 478, dtype: object)
(479, countryname           Cuba
countrycode            CUB
year                  1962
gdp            7.81297e+09
population      7.4504e+06
Name: 479, dtype: object)
(480, countryname        Curacao
countrycode            CUW
year                  1962
gdp            7.81297e+09
population          128414
Name: 480, dtype: object)
(481, countryname    Cayman Islands
countrycode               CYM
year                     1962
gdp               7.81297e+09
population               8146
Name: 481, dtype: object)
(482, countryname         Cyprus
countrycode            CYP
year                  1962
gdp            7.81297e+09
population          577691
Name: 482, dtype: object)
(483, countryname    Czech Republic
countrycode               CZE
year                     1962
gdp               7.81297e+09
population        9.62466e+06
Name: 483, dtype: object)
(484, countryname        Germany
countrycode            DEU
year                  1962
gdp            7.81297e+09
population     7.40258e+07
Name: 484, dtype: object)
(485, countryname       Djibouti
countrycode            DJI
year                  1962
gdp            7.81297e+09
population           94204
Name: 485, dtype: object)
(486, countryname       Dominica
countrycode            DMA
year                  1962
gdp            7.81297e+09
population           61982
Name: 486, dtype: object)
(487, countryname        Denmark
countrycode            DNK
year                  1962
gdp            7.81297e+09
population     4.64773e+06
Name: 487, dtype: object)
(488, countryname    Dominican Republic
countrycode                   DOM
year                         1962
gdp                     8.241e+08
population            3.52128e+06
Name: 488, dtype: object)
(489, countryname        Algeria
countrycode            DZA
year                  1962
gdp            2.00147e+09
population     1.16902e+07
Name: 489, dtype: object)
(490, countryname        Ecuador
countrycode            ECU
year                  1962
gdp            9.58598e+08
population     4.81289e+06
Name: 490, dtype: object)
(491, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1962
gdp                 4.05403e+10
population          2.85062e+07
Name: 491, dtype: object)
(492, countryname        Eritrea
countrycode            ERI
year                  1962
gdp            1.61385e+10
population     1.46964e+06
Name: 492, dtype: object)
(493, countryname          Spain
countrycode            ESP
year                  1962
gdp            1.61385e+10
population     3.10234e+07
Name: 493, dtype: object)
(494, countryname        Estonia
countrycode            EST
year                  1962
gdp            4.27015e+11
population     1.24162e+06
Name: 494, dtype: object)
(495, countryname       Ethiopia
countrycode            ETH
year                  1962
gdp            4.27015e+11
population     2.32214e+07
Name: 495, dtype: object)
(496, countryname        Finland
countrycode            FIN
year                  1962
gdp            6.34058e+09
population     4.49144e+06
Name: 496, dtype: object)
(497, countryname           Fiji
countrycode            FJI
year                  1962
gdp            1.22906e+08
population          421577
Name: 497, dtype: object)
(498, countryname         France
countrycode            FRA
year                  1962
gdp            7.63138e+10
population     4.81196e+07
Name: 498, dtype: object)
(499, countryname    Faroe Islands
countrycode              FRO
year                    1962
gdp              1.82797e+08
population             35570
Name: 499, dtype: object)
(500, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1962
gdp                      1.82797e+08
population                     47388
Name: 500, dtype: object)
(501, countryname          Gabon
countrycode            GAB
year                  1962
gdp            1.82797e+08
population          509806
Name: 501, dtype: object)
(502, countryname    United Kingdom
countrycode               GBR
year                     1962
gdp               8.06019e+10
population          5.325e+07
Name: 502, dtype: object)
(503, countryname        Georgia
countrycode            GEO
year                  1962
gdp            1.22906e+08
population      3.7603e+06
Name: 503, dtype: object)
(504, countryname          Ghana
countrycode            GHA
year                  1962
gdp            1.38252e+09
population     7.08546e+06
Name: 504, dtype: object)
(505, countryname      Gibraltar
countrycode            GIB
year                  1962
gdp            1.38252e+09
population           24284
Name: 505, dtype: object)
(506, countryname         Guinea
countrycode            GIN
year                  1962
gdp            4.96948e+08
population     3.69066e+06
Name: 506, dtype: object)
(507, countryname    Gambia, The
countrycode            GMB
year                  1962
gdp            4.96948e+08
population          383523
Name: 507, dtype: object)
(508, countryname    Guinea-Bissau
countrycode              GNB
year                    1962
gdp              4.96948e+08
population            629969
Name: 508, dtype: object)
(509, countryname    Equatorial Guinea
countrycode                  GNQ
year                        1962
gdp                  9.12275e+06
population                262590
Name: 509, dtype: object)
(510, countryname         Greece
countrycode            GRC
year                  1962
gdp            5.32757e+09
population     8.44823e+06
Name: 510, dtype: object)
(511, countryname        Grenada
countrycode            GRD
year                  1962
gdp            4.96948e+08
population           92425
Name: 511, dtype: object)
(512, countryname     Greenland
countrycode           GRL
year                 1962
gdp            1.1436e+09
population          35000
Name: 512, dtype: object)
(513, countryname      Guatemala
countrycode            GTM
year                  1962
gdp             1.1436e+09
population     4.46425e+06
Name: 513, dtype: object)
(514, countryname          Guam
countrycode           GUM
year                 1962
gdp            1.1436e+09
population          69604
Name: 514, dtype: object)
(515, countryname         Guyana
countrycode            GUY
year                  1962
gdp            1.94948e+08
population          606285
Name: 515, dtype: object)
(516, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1962
gdp                     1.61235e+09
population               3.3052e+06
Name: 516, dtype: object)
(517, countryname       Honduras
countrycode            HND
year                  1962
gdp             3.8775e+08
population     2.15565e+06
Name: 517, dtype: object)
(518, countryname        Croatia
countrycode            HRV
year                  1962
gdp            2.99861e+11
population      4.2021e+06
Name: 518, dtype: object)
(519, countryname          Haiti
countrycode            HTI
year                  1962
gdp               2.51e+09
population     4.02259e+06
Name: 519, dtype: object)
(520, countryname        Hungary
countrycode            HUN
year                  1962
gdp            4.05403e+10
population     1.00617e+07
Name: 520, dtype: object)
(521, countryname      Indonesia
countrycode            IDN
year                  1962
gdp            4.15991e+10
population      9.2558e+07
Name: 521, dtype: object)
(522, countryname    Isle of Man
countrycode            IMN
year                  1962
gdp            4.15991e+10
population           48418
Name: 522, dtype: object)
(523, countryname          India
countrycode            IND
year                  1962
gdp            4.15991e+10
population     4.67853e+08
Name: 523, dtype: object)
(524, countryname        Ireland
countrycode            IRL
year                  1962
gdp            2.26035e+09
population     2.83605e+06
Name: 524, dtype: object)
(525, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         1962
gdp                   4.69357e+09
population            2.30714e+07
Name: 525, dtype: object)
(526, countryname           Iraq
countrycode            IRQ
year                  1962
gdp            1.95463e+09
population     7.67422e+06
Name: 526, dtype: object)
(527, countryname        Iceland
countrycode            ISL
year                  1962
gdp            2.84917e+08
population          182378
Name: 527, dtype: object)
(528, countryname       Israel
countrycode          ISR
year                1962
gdp             2.51e+09
population     2.293e+06
Name: 528, dtype: object)
(529, countryname          Italy
countrycode            ITA
year                  1962
gdp            5.03839e+10
population     5.08794e+07
Name: 529, dtype: object)
(530, countryname        Jamaica
countrycode            JAM
year                  1962
gdp            7.77712e+08
population     1.67625e+06
Name: 530, dtype: object)
(531, countryname         Jordan
countrycode            JOR
year                  1962
gdp             6.0723e+10
population     1.00973e+06
Name: 531, dtype: object)
(532, countryname         Japan
countrycode           JPN
year                 1962
gdp            6.0723e+10
population     9.5832e+07
Name: 532, dtype: object)
(533, countryname     Kazakhstan
countrycode            KAZ
year                  1962
gdp            8.68111e+08
population     1.05321e+07
Name: 533, dtype: object)
(534, countryname          Kenya
countrycode            KEN
year                  1962
gdp            8.68111e+08
population     8.62897e+06
Name: 534, dtype: object)
(535, countryname    Kyrgyz Republic
countrycode                KGZ
year                      1962
gdp                    6.6e+08
population          2.3334e+06
Name: 535, dtype: object)
(536, countryname       Cambodia
countrycode            KHM
year                  1962
gdp                6.6e+08
population     6.02855e+06
Name: 536, dtype: object)
(537, countryname       Kiribati
countrycode            KIR
year                  1962
gdp            1.25416e+07
population           43302
Name: 537, dtype: object)
(538, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1962
gdp                    1.25416e+07
population                   50966
Name: 538, dtype: object)
(539, countryname    Korea, Rep.
countrycode            KOR
year                  1962
gdp            2.81393e+09
population      2.6513e+07
Name: 539, dtype: object)
(540, countryname         Kuwait
countrycode            KWT
year                  1962
gdp            9.58598e+08
population          338296
Name: 540, dtype: object)
(541, countryname        Lao PDR
countrycode            LAO
year                  1962
gdp            9.58598e+08
population     2.22112e+06
Name: 541, dtype: object)
(542, countryname        Lebanon
countrycode            LBN
year                  1962
gdp            2.99861e+11
population     1.92528e+06
Name: 542, dtype: object)
(543, countryname        Liberia
countrycode            LBR
year                  1962
gdp            1.91862e+08
population     1.17048e+06
Name: 543, dtype: object)
(544, countryname          Libya
countrycode            LBY
year                  1962
gdp            5.46667e+08
population     1.55081e+06
Name: 544, dtype: object)
(545, countryname      St. Lucia
countrycode            LCA
year                  1962
gdp            1.91862e+08
population           92084
Name: 545, dtype: object)
(546, countryname    Liechtenstein
countrycode              LIE
year                    1962
gdp              1.46429e+09

Name: 649, dtype: object)
(650, countryname       Zimbabwe
countrycode            ZWE
year                  1962
gdp             1.1176e+09
population     3.99942e+06
Name: 650, dtype: object)
(651, countryname          Aruba
countrycode            ABW
year                  1963
gdp            7.51111e+08
population           56695
Name: 651, dtype: object)
(652, countryname    Afghanistan
countrycode            AFG
year                  1963
gdp            7.51111e+08
population     9.53395e+06
Name: 652, dtype: object)
(653, countryname         Angola
countrycode            AGO
year                  1963
gdp            2.15018e+10
population     5.98042e+06
Name: 653, dtype: object)
(654, countryname        Albania
countrycode            ALB
year                  1963
gdp            2.15018e+10
population     1.76262e+06
Name: 654, dtype: object)
(655, countryname        Andorra
countrycode            AND
year                  1963
gdp            2.15018e+10
population           16412
Name: 655, dtype: object)
(656, countryname    United Arab Emirates
countrycode                     ARE
year                           1963
gdp                     2.15018e+10
population                   125566
Name: 656, dtype: object)
(657, countryname      Argentina
countrycode            ARG
year                  1963
gdp            2.15018e+10
population     2.16218e+07
Name: 657, dtype: object)
(658, countryname        Armenia
countrycode            ARM
year                  1963
gdp            2.15018e+10
population     2.07758e+06
Name: 658, dtype: object)
(659, countryname    American Samoa
countrycode               ASM
year                     1963
gdp               2.15018e+10
population              21882
Name: 659, dtype: object)
(660, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1963
gdp                    2.15018e+10
population                   58294
Name: 660, dtype: object)
(661, countryname      Australia
countrycode            AUS
year                  1963
gdp            2.15018e+10
population       1.095e+07
Name: 661, dtype: object)
(662, countryname        Austria
countrycode            AUT
year                  1963
gdp            8.37418e+09
population     7.17581e+06
Name: 662, dtype: object)
(663, countryname     Azerbaijan
countrycode            AZE
year                  1963
gdp            5.53793e+11
population     4.31513e+06
Name: 663, dtype: object)
(664, countryname        Burundi
countrycode            BDI
year                  1963
gdp             2.3275e+08
population     2.94993e+06
Name: 664, dtype: object)
(665, countryname        Belgium
countrycode            BEL
year                  1963
gdp              1.426e+10
population     9.28977e+06
Name: 665, dtype: object)
(666, countryname          Benin
countrycode            BEN
year                  1963
gdp            2.53928e+08
population     2.54286e+06
Name: 666, dtype: object)
(667, countryname    Burkina Faso
countrycode             BFA
year                   1963
gdp             3.94041e+08
population      5.02782e+06
Name: 667, dtype: object)
(668, countryname     Bangladesh
countrycode            BGD
year                  1963
gdp            5.31946e+09
population     5.25324e+07
Name: 668, dtype: object)
(669, countryname       Bulgaria
countrycode            BGR
year                  1963
gdp            2.37745e+08
population     8.07814e+06
Name: 669, dtype: object)
(670, countryname        Bahrain
countrycode            BHR
year                  1963
gdp            2.37745e+08
population          178140
Name: 670, dtype: object)
(671, countryname    Bahamas, The
countrycode             BHS
year                   1963
gdp             2.37745e+08
population           127333
Name: 671, dtype: object)
(672, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1963
gdp                       3.37494e+07
population                3.41757e+06
Name: 672, dtype: object)
(673, countryname        Belarus
countrycode            BLR
year                  1963
gdp            3.37494e+07
population     8.43723e+06
Name: 673, dtype: object)
(674, countryname         Belize
countrycode            BLZ
year                  1963
gdp            3.37494e+07
population          100164
Name: 674, dtype: object)
(675, countryname        Bermuda
countrycode            BMU
year                  1963
gdp            9.63667e+07
population           47700
Name: 675, dtype: object)
(676, countryname        Bolivia
countrycode            BOL
year                  1963
gdp            7.21143e+08
population      3.9134e+06
Name: 676, dtype: object)
(677, countryname        Brazil
countrycode           BRA
year                 1963
gdp             1.426e+10
population     7.8854e+07
Name: 677, dtype: object)
(678, countryname     Barbados
countrycode          BRB
year                1963
gdp            1.426e+10
population        233587
Name: 678, dtype: object)
(679, countryname    Brunei Darussalam
countrycode                  BRN
year                        1963
gdp                    1.426e+10
population                 93576
Name: 679, dtype: object)
(680, countryname         Bhutan
countrycode            BTN
year                  1963
gdp            7.51111e+08
population          240778
Name: 680, dtype: object)
(681, countryname       Botswana
countrycode            BWA
year                  1963
gdp            3.80912e+07
population          565353
Name: 681, dtype: object)
(682, countryname    Central African Republic
countrycode                         CAF
year                               1963
gdp                         1.29379e+08
population                  1.58576e+06
Name: 682, dtype: object)
(683, countryname         Canada
countrycode            CAN
year                  1963
gdp            4.46572e+10
population      1.8964e+07
Name: 683, dtype: object)
(684, countryname    Switzerland
countrycode            CHE
year                  1963
gdp            1.30636e+10
population     5.69425e+06
Name: 684, dtype: object)
(685, countryname    Channel Islands
countrycode                CHI
year                      1963
gdp                5.66819e+09
population              112595
Name: 685, dtype: object)
(686, countryname          Chile
countrycode            CHL
year                  1963
gdp            5.66819e+09
population     8.24742e+06
Name: 686, dtype: object)
(687, countryname          China
countrycode            CHN
year                  1963
gdp            5.07068e+10
population     6.82335e+08
Name: 687, dtype: object)
(688, countryname    Cote d'Ivoire
countrycode              CIV
year                    1963
gdp              7.61047e+08
population       3.99694e+06
Name: 688, dtype: object)
(689, countryname       Cameroon
countrycode            CMR
year                  1963
gdp            7.23624e+08
population     5.52033e+06
Name: 689, dtype: object)
(690, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1963
gdp                 1.72233e+08
population          1.64619e+07
Name: 690, dtype: object)
(691, countryname    Congo, Rep.
countrycode            COG
year                  1963
gdp            1.72233e+08
population     1.12174e+06
Name: 691, dtype: object)
(692, countryname       Colombia
countrycode            COL
year                  1963
gdp            4.83884e+09
population     1.80336e+07
Name: 692, dtype: object)
(693, countryname        Comoros
countrycode            COM
year                  1963
gdp            5.11902e+08
population          200372
Name: 693, dtype: object)
(694, countryname     Cabo Verde
countrycode            CPV
year                  1963
gdp            5.11902e+08
population          216908
Name: 694, dtype: object)
(695, countryname     Costa Rica
countrycode            CRI
year                  1963
gdp            5.11902e+08
population     1.48451e+06
Name: 695, dtype: object)
(696, countryname           Cuba
countrycode            CUB
year                  1963
gdp            8.31669e+09
population     7.61835e+06
Name: 696, dtype: object)
(697, countryname        Curacao
countrycode            CUW
year                  1963
gdp            8.31669e+09
population          130860
Name: 697, dtype: object)
(698, countryname    Cayman Islands
countrycode               CYM
year                     1963
gdp               8.31669e+09
population               8227
Name: 698, dtype: object)
(699, countryname         Cyprus
countrycode            CYP
year                  1963
gdp            8.31669e+09
population          577913
Name: 699, dtype: object)
(700, countryname    Czech Republic
countrycode               CZE
year                     1963
gdp               8.31669e+09
population        9.67068e+06
Name: 700, dtype: object)
(701, countryname        Germany
countrycode            DEU
year                  1963
gdp            8.31669e+09
population     7.47144e+07
Name: 701, dtype: object)
(702, countryname       Djibouti
countrycode            DJI
year                  1963
gdp            8.31669e+09
population          100628
Name: 702, dtype: object)
(703, countryname       Dominica
countrycode            DMA
year                  1963
gdp            8.31669e+09
population           62918
Name: 703, dtype: object)
(704, countryname        Denmark
countrycode            DNK
year                  1963
gdp            8.31669e+09
population     4.68448e+06
Name: 704, dtype: object)
(705, countryname    Dominican Republic
countrycode                   DOM
year                         1963
gdp                     9.408e+08
population            3.63863e+06
Name: 705, dtype: object)
(706, countryname        Algeria
countrycode            DZA
year                  1963
gdp            2.70301e+09
population     1.19851e+07
Name: 706, dtype: object)
(707, countryname        Ecuador
countrycode            ECU
year                  1963
gdp            1.03839e+09
population     4.95373e+06
Name: 707, dtype: object)
(708, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1963
gdp                  1.5408e+09
population          2.92812e+07
Name: 708, dtype: object)
(709, countryname        Eritrea
countrycode            ERI
year                  1963
gdp            1.90749e+10
population     1.50827e+06
Name: 709, dtype: object)
(710, countryname          Spain
countrycode            ESP
year                  1963
gdp            1.90749e+10
population     3.12967e+07
Name: 710, dtype: object)
(711, countryname        Estonia
countrycode            EST
year                  1963
gdp            4.70415e+11
population     1.25886e+06
Name: 711, dtype: object)
(712, countryname       Ethiopia
countrycode            ETH
year                  1963
gdp            4.70415e+11
population     2.37984e+07
Name: 712, dtype: object)
(713, countryname        Finland
countrycode            FIN
year                  1963
gdp            6.88592e+09
population     4.52331e+06
Name: 713, dtype: object)
(714, countryname           Fiji
countrycode            FJI
year                  1963
gdp            1.29455e+08
population          436208
Name: 714, dtype: object)
(715, countryname         France
countrycode            FRA
year                  1963
gdp            8.55511e+10
population     4.88037e+07
Name: 715, dtype: object)
(716, countryname    Faroe Islands
countrycode              FRO
year                    1963
gdp               1.5448e+08
population             36014
Name: 716, dtype: object)
(717, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1963
gdp                       1.5448e+08
population                     48876
Name: 717, dtype: object)
(718, countryname         Gabon
countrycode           GAB
year                 1963
gdp            1.5448e+08
population         516265
Name: 718, dtype: object)
(719, countryname    United Kingdom
countrycode               GBR
year                     1963
gdp               8.54438e+10
population          5.365e+07
Name: 719, dtype: object)
(720, countryname       Georgia
countrycode           GEO
year                 1963
gdp             1.316e+12
population     3.8161e+06
Name: 720, dtype: object)
(721, countryname          Ghana
countrycode            GHA
year                  1963
gdp             1.5408e+09
population     7.30343e+06
Name: 721, dtype: object)
(722, countryname      Gibraltar
countrycode            GIB
year                  1963
gdp            5.94948e+09
population           24848
Name: 722, dtype: object)
(723, countryname         Guinea
countrycode            GIN
year                  1963
gdp            5.94948e+09
population     3.74950e+06
Name: 723, dtype: object)
(724, countryname    Gambia, The
countrycode            GMB
year                  1963
gdp            5.94948e+09
population          389072
Name: 724, dtype: object)
(725, countryname    Guinea-Bissau
countrycode              GNB
year                    1963
gdp              5.94948e+09
population            636586
Name: 725, dtype: object)
(726, countryname    Equatorial Guinea
countrycode                  GNQ
year                        1963
gdp                  1.08401e+07
population                266598
Name: 726, dtype: object)
(727, countryname         Greece
countrycode            GRC
year                  1963
gdp            5.94948e+09
population     8.47962e+06
Name: 727, dtype: object)
(728, countryname       Grenada
countrycode           GRD
year                 1963
gdp            1.9353e+09
population          93350
Name: 728, dtype: object)
(729, countryname     Greenland
countrycode           GRL
year                 1963
gdp            1.9353e+09
population          36400
Name: 729, dtype: object)
(730, countryname      Guatemala
countrycode            GTM
year                  1963
gdp             1.2628e+09
population     4.59551e+06
Name: 730, dtype: object)
(731, countryname          Guam
countrycode           GUM
year                 1963
gdp            1.2628e+09
population          71286
Name: 731, dtype: object)
(732, countryname         Guyana
countrycode            GUY
year                  1963
gdp            1.75757e+08
population          622575
Name: 732, dtype: object)
(733, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1963
gdp                      1.9353e+09
population               3.4209e+06
Name: 733, dtype: object)
(734, countryname       Honduras
countrycode            HND
year                  1963
gdp              4.102e+08
population     2.21671e+06
Name: 734, dtype: object)
(735, countryname        Croatia
countrycode            HRV
year                  1963
gdp            3.40062e+08
population     4.23141e+06
Name: 735, dtype: object)
(736, countryname          Haiti
countrycode            HTI
year                  1963
gdp            3.40062e+08
population     4.10373e+06
Name: 736, dtype: object)
(737, countryname        Hungary
countrycode            HUN
year                  1963
gdp            4.30262e+10
population     1.00879e+07
Name: 737, dtype: object)
(738, countryname      Indonesia
countrycode            IDN
year                  1963
gdp             4.7776e+10
population     9.50557e+07
Name: 738, dtype: object)
(739, countryname    Isle of Man
countrycode            IMN
year                  1963
gdp             4.7776e+10
population           48800
Name: 739, dtype: object)
(740, countryname          India
countrycode            IND
year                  1963
gdp             4.7776e+10
population     4.77528e+08
Name: 740, dtype: object)
(741, countryname        Ireland
countrycode            IRL
year                  1963
gdp            2.43084e+09
population     2.85265e+06
Name: 741, dtype: object)
(742, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         1963
gdp                   4.92863e+09
population            2.36804e+07
Name: 742, dtype: object)
(743, countryname           Iraq
countrycode            IRQ
year                  1963
gdp            1.97844e+09
population     7.88891e+06
Name: 743, dtype: object)
(744, countryname        Iceland
countrycode            ISL
year                  1963
gdp            3.40062e+08
population          185653
Name: 744, dtype: object)
(745, countryname         Israel
countrycode            ISR
year                  1963
gdp            2.99233e+09
population       2.379e+06
Name: 745, dtype: object)
(746, countryname          Italy
countrycode            ITA
year                  1963
gdp            5.77107e+10
population      5.1252e+07
Name: 746, dtype: object)
(747, countryname       Jamaica
countrycode           JAM
year                 1963
gdp            8.2669e+08
population     1.7034e+06
Name: 747, dtype: object)
(748, countryname         Jordan
countrycode            JOR
year                  1963
gdp            6.94981e+10
population      1.0493e+06
Name: 748, dtype: object)
(749, countryname          Japan
countrycode            JPN
year                  1963
gdp            6.94981e+10
population      9.6812e+07
Name: 749, dtype: object)
(750, countryname     Kazakhstan
countrycode            KAZ
year                  1963
gdp            9.26589e+08
population     1.09136e+07
Name: 750, dtype: object)
(751, countryname          Kenya
countrycode            KEN
year                  1963
gdp            9.26589e+08
population     8.90842e+06
Name: 751, dtype: object)
(752, countryname    Kyrgyz Republic
countrycode                KGZ
year                      1963
gdp                7.28571e+08
population          2.4137e+06
Name: 752, dtype: object)
(753, countryname       Cambodia
countrycode            KHM
year                  1963
gdp            7.28571e+08
population     6.18375e+06
Name: 753, dtype: object)
(754, countryname       Kiribati
countrycode            KIR
year                  1963
gdp            1.28332e+07
population           44363
Name: 754, dtype: object)
(755, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1963
gdp                    1.28332e+07
population                   50525
Name: 755, dtype: object)
(756, countryname    Korea, Rep.
countrycode            KOR
year                  1963
gdp            3.98825e+09
population     2.72617e+07
Name: 756, dtype: object)
(757, countryname         Kuwait
countrycode            KWT
year                  1963
gdp            3.40062e+08
population          379891
Name: 757, dtype: object)
(758, countryname        Lao PDR
countrycode            LAO
year                  1963
gdp            3.40062e+08
population     2.27335e+06
Name: 758, dtype: object)
(759, countryname        Lebanon
countrycode            LBN
year                  1963
gdp            3.40062e+08
population     1.98498e+06
Name: 759, dtype: object)
(760, countryname        Liberia
countrycode            LBR
year                  1963
gdp             2.0023e+08
population     1.19689e+06
Name: 760, dtype: object)
(761, countryname          Libya
countrycode            LBY
year                  1963
gdp            1.30636e+10
population     1.60717e+06
Name: 761, dtype: object)
(762, countryname     St. Lucia
countrycode           LCA
year                 1963
gdp            2.0023e+08
population          93399
Name: 762, dtype: object)
(763, countryname    Liechtenstein
countrycode              LIE
year                    1963
gdp              1.55084e+09
population             17718
Name: 763, dtype: object)
(764, countryname      Sri Lanka
countrycode            LKA
year                  1963
gdp            1.55084e+09
population     1.05975e+07
Name: 764, dtype: object)
(765, countryname        Lesotho
countrycode            LSO
year                  1963
gdp            4.70391e+07
population          898647

Name: 863, dtype: object)
(864, countryname    Yemen, Rep.
countrycode            YEM
year                  1963
gdp            9.42321e+09
population     5.44606e+06
Name: 864, dtype: object)
(865, countryname    South Africa
countrycode             ZAF
year                   1963
gdp             9.42321e+09
population      1.88993e+07
Name: 865, dtype: object)
(866, countryname         Zambia
countrycode            ZMB
year                  1963
gdp            7.18714e+08
population     3.34514e+06
Name: 866, dtype: object)
(867, countryname       Zimbabwe
countrycode            ZWE
year                  1963
gdp            1.15951e+09
population     4.13276e+06
Name: 867, dtype: object)
(868, countryname    Aruba
countrycode      ABW
year            1964
gdp            8e+08
population     57032
Name: 868, dtype: object)
(869, countryname    Afghanistan
countrycode            AFG
year                  1964
gdp                  8e+08
population     9.73136e+06
Name: 869, dtype: object)
(870, countryname         Angola
countrycode            AGO
year                  1964
gdp            2.37585e+10
population     6.09332e+06
Name: 870, dtype: object)
(871, countryname        Albania
countrycode            ALB
year                  1964
gdp            2.37585e+10
population     1.81414e+06
Name: 871, dtype: object)
(872, countryname        Andorra
countrycode            AND
year                  1964
gdp            2.37585e+10
population           17469
Name: 872, dtype: object)
(873, countryname    United Arab Emirates
countrycode                     ARE
year                           1964
gdp                     2.37585e+10
population                   138529
Name: 873, dtype: object)
(874, countryname      Argentina
countrycode            ARG
year                  1964
gdp            2.37585e+10
population     2.19539e+07
Name: 874, dtype: object)
(875, countryname        Armenia
countrycode            ARM
year                  1964
gdp            2.37585e+10
population       2.145e+06
Name: 875, dtype: object)
(876, countryname    American Samoa
countrycode               ASM
year                     1964
gdp               2.37585e+10
population              22698
Name: 876, dtype: object)
(877, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1964
gdp                    2.37585e+10
population                   59524
Name: 877, dtype: object)
(878, countryname      Australia
countrycode            AUS
year                  1964
gdp            2.37585e+10
population      1.1167e+07
Name: 878, dtype: object)
(879, countryname        Austria
countrycode            AUT
year                  1964
gdp            9.16998e+09
population      7.2238e+06
Name: 879, dtype: object)
(880, countryname     Azerbaijan
countrycode            AZE
year                  1964
gdp             2.6075e+08
population     4.45669e+06
Name: 880, dtype: object)
(881, countryname        Burundi
countrycode            BDI
year                  1964
gdp             2.6075e+08
population     3.01086e+06
Name: 881, dtype: object)
(882, countryname        Belgium
countrycode            BEL
year                  1964
gdp            1.59601e+10
population     9.37811e+06
Name: 882, dtype: object)
(883, countryname          Benin
countrycode            BEN
year                  1964
gdp            2.69819e+08
population     2.58596e+06
Name: 883, dtype: object)
(884, countryname    Burkina Faso
countrycode             BFA
year                   1964
gdp             4.10322e+08
population      5.09889e+06
Name: 884, dtype: object)
(885, countryname     Bangladesh
countrycode            BGD
year                  1964
gdp            5.38605e+09
population     5.41291e+07
Name: 885, dtype: object)
(886, countryname       Bulgaria
countrycode            BGR
year                  1964
gdp            2.66667e+08
population     8.14434e+06
Name: 886, dtype: object)
(887, countryname        Bahrain
countrycode            BHR
year                  1964
gdp            2.66667e+08
population          182887
Name: 887, dtype: object)
(888, countryname    Bahamas, The
countrycode             BHS
year                   1964
gdp             2.66667e+08
population           133698
Name: 888, dtype: object)
(889, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1964
gdp                       3.61938e+07
population                  3.479e+06
Name: 889, dtype: object)
(890, countryname        Belarus
countrycode            BLR
year                  1964
gdp            3.61938e+07
population     8.52422e+06
Name: 890, dtype: object)
(891, countryname         Belize
countrycode            BLZ
year                  1964
gdp            3.61938e+07
population          103069
Name: 891, dtype: object)
(892, countryname        Bermuda
countrycode            BMU
year                  1964
gdp            1.07567e+08
population           48900
Name: 892, dtype: object)
(893, countryname        Bolivia
countrycode            BOL
year                  1964
gdp            8.12543e+08
population     3.99086e+06
Name: 893, dtype: object)
(894, countryname         Brazil
countrycode            BRA
year                  1964
gdp            1.15615e+09
population     8.11687e+07
Name: 894, dtype: object)
(895, countryname       Barbados
countrycode            BRB
year                  1964
gdp            1.15615e+09
population          234547
Name: 895, dtype: object)
(896, countryname    Brunei Darussalam
countrycode                  BRN
year                        1964
gdp                        8e+08
population                 97848
Name: 896, dtype: object)
(897, countryname         Bhutan
countrycode            BTN
year                  1964
gdp            1.15615e+09
population          247325
Name: 897, dtype: object)
(898, countryname      Botswana
countrycode           BWA
year                 1964
gdp            4.1614e+07
population         580799
Name: 898, dtype: object)
(899, countryname    Central African Republic
countrycode                         CAF
year                               1964
gdp                         1.42025e+08
population                  1.61652e+06
Name: 899, dtype: object)
(900, countryname         Canada
countrycode            CAN
year                  1964
gdp            4.88829e+10
population      1.9325e+07
Name: 900, dtype: object)
(901, countryname    Switzerland
countrycode            CHE
year                  1964
gdp            1.44806e+10
population     5.78923e+06
Name: 901, dtype: object)
(902, countryname    Channel Islands
countrycode                CHI
year                      1964
gdp                5.98235e+09
population              113773
Name: 902, dtype: object)
(903, countryname          Chile
countrycode            CHL
year                  1964
gdp            5.98235e+09
population     8.43084e+06
Name: 903, dtype: object)
(904, countryname          China
countrycode            CHN
year                  1964
gdp            5.97083e+10
population     6.98355e+08
Name: 904, dtype: object)
(905, countryname    Cote d'Ivoire
countrycode              CIV
year                    1964
gdp              9.21063e+08
population       4.15796e+06
Name: 905, dtype: object)
(906, countryname       Cameroon
countrycode            CMR
year                  1964
gdp            7.82385e+08
population     5.64632e+06
Name: 906, dtype: object)
(907, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1964
gdp                 1.85694e+08
population          1.69039e+07
Name: 907, dtype: object)
(908, countryname    Congo, Rep.
countrycode            COG
year                  1964
gdp            1.85694e+08
population     1.15241e+06
Name: 908, dtype: object)
(909, countryname       Colombia
countrycode            COL
year                  1964
gdp            5.99217e+09
population      1.8582e+07
Name: 909, dtype: object)
(910, countryname        Comoros
countrycode            COM
year                  1964
gdp            5.42578e+08
population          203753
Name: 910, dtype: object)
(911, countryname     Cabo Verde
countrycode            CPV
year                  1964
gdp            5.42578e+08
population          223846
Name: 911, dtype: object)
(912, countryname     Costa Rica
countrycode            CRI
year                  1964
gdp            5.42578e+08
population     1.53704e+06
Name: 912, dtype: object)
(913, countryname           Cuba
countrycode            CUB
year                  1964
gdp            9.50668e+09
population     7.78715e+06
Name: 913, dtype: object)
(914, countryname        Curacao
countrycode            CUW
year                  1964
gdp            9.50668e+09
population          133148
Name: 914, dtype: object)
(915, countryname    Cayman Islands
countrycode               CYM
year                     1964
gdp               9.50668e+09
population               8298
Name: 915, dtype: object)
(916, countryname         Cyprus
countrycode            CYP
year                  1964
gdp            9.50668e+09
population          578627
Name: 916, dtype: object)
(917, countryname    Czech Republic
countrycode               CZE
year                     1964
gdp               9.50668e+09
population         9.7278e+06
Name: 917, dtype: object)
(918, countryname        Germany
countrycode            DEU
year                  1964
gdp            9.50668e+09
population     7.53183e+07
Name: 918, dtype: object)
(919, countryname       Djibouti
countrycode            DJI
year                  1964
gdp            9.50668e+09
population          107583
Name: 919, dtype: object)
(920, countryname       Dominica
countrycode            DMA
year                  1964
gdp            9.50668e+09
population           63926
Name: 920, dtype: object)
(921, countryname        Denmark
countrycode            DNK
year                  1964
gdp            9.50668e+09
population     4.72207e+06
Name: 921, dtype: object)
(922, countryname    Dominican Republic
countrycode                   DOM
year                         1964
gdp                    1.0256e+09
population            3.75796e+06
Name: 922, dtype: object)
(923, countryname        Algeria
countrycode            DZA
year                  1964
gdp            2.90935e+09
population      1.2296e+07
Name: 923, dtype: object)
(924, countryname        Ecuador
countrycode            ECU
year                  1964
gdp            1.15615e+09
population     5.09947e+06
Name: 924, dtype: object)
(925, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1964
gdp                 8.97931e+08
population          3.00711e+07
Name: 925, dtype: object)
(926, countryname        Eritrea
countrycode            ERI
year                  1964
gdp            2.13438e+10
population     1.54819e+06
Name: 926, dtype: object)
(927, countryname          Spain
countrycode            ESP
year                  1964
gdp            2.13438e+10
population     3.16092e+07
Name: 927, dtype: object)
(928, countryname        Estonia
countrycode            EST
year                  1964
gdp            5.21328e+11
population     1.27709e+06
Name: 928, dtype: object)
(929, countryname       Ethiopia
countrycode            ETH
year                  1964
gdp            5.21328e+11
population      2.4397e+07
Name: 929, dtype: object)
(930, countryname        Finland
countrycode            FIN
year                  1964
gdp            7.76666e+09
population     4.54854e+06
Name: 930, dtype: object)
(931, countryname           Fiji
countrycode            FJI
year                  1964
gdp            1.40033e+08
population          450450
Name: 931, dtype: object)
(932, countryname         France
countrycode            FRA
year                  1964
gdp            9.49066e+10
population     4.94494e+07
Name: 932, dtype: object)
(933, countryname    Faroe Islands
countrycode              FRO
year                    1964
gdp               2.1568e+08
population             36454
Name: 933, dtype: object)
(934, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1964
gdp                       2.1568e+08
population                     50487
Name: 934, dtype: object)
(935, countryname         Gabon
countrycode           GAB
year                 1964
gdp            2.1568e+08
population         523789
Name: 935, dtype: object)
(936, countryname    United Kingdom
countrycode               GBR
year                     1964
gdp               9.33876e+10
population            5.4e+07
Name: 936, dtype: object)
(937, countryname       Georgia
countrycode           GEO
year                 1964
gdp            1.7313e+09
population     3.8703e+06
Name: 937, dtype: object)
(938, countryname          Ghana
countrycode            GHA
year                  1964
gdp             1.7313e+09
population     7.51329e+06
Name: 938, dtype: object)
(939, countryname     Gibraltar
countrycode           GIB
year                 1964
gdp            1.2991e+09
population          25454
Name: 939, dtype: object)
(940, countryname         Guinea
countrycode            GIN
year                  1964
gdp            1.94571e+10
population     3.81166e+06
Name: 940, dtype: object)
(941, countryname    Gambia, The
countrycode            GMB
year                  1964
gdp            8.05868e+09
population          394553
Name: 941, dtype: object)
(942, countryname    Guinea-Bissau
countrycode              GNB
year                    1964
gdp              8.05868e+09
population            643961
Name: 942, dtype: object)
(943, countryname    Equatorial Guinea
countrycode                  GNQ
year                        1964
gdp                  1.27125e+07
population                271457
Name: 943, dtype: object)
(944, countryname         Greece
countrycode            GRC
year                  1964
gdp             6.6803e+09
population     8.51043e+06
Name: 944, dtype: object)
(945, countryname       Grenada
countrycode           GRD
year                 1964
gdp            6.6803e+09
population          94066
Name: 945, dtype: object)
(946, countryname      Greenland
countrycode            GRL
year                  1964
gdp            8.05868e+09
population           37600
Name: 946, dtype: object)
(947, countryname      Guatemala
countrycode            GTM
year                  1964
gdp             1.2991e+09
population     4.73054e+06
Name: 947, dtype: object)
(948, countryname          Guam
countrycode           GUM
year                 1964
gdp            1.2991e+09
population          73051
Name: 948, dtype: object)
(949, countryname         Guyana
countrycode            GUY
year                  1964
gdp            1.94773e+08
population          637845
Name: 949, dtype: object)
(950, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1964
gdp                     2.20647e+09
population               3.5046e+06
Name: 950, dtype: object)
(951, countryname       Honduras
countrycode            HND
year                  1964
gdp               4.57e+08
population     2.28004e+06
Name: 951, dtype: object)
(952, countryname        Croatia
countrycode            HRV
year                  1964
gdp             2.1568e+08
population     4.25968e+06
Name: 952, dtype: object)
(953, countryname          Haiti
countrycode            HTI
year                  1964
gdp            2.18929e+08
population     4.18664e+06
Name: 953, dtype: object)
(954, countryname        Hungary
countrycode            HUN
year                  1964
gdp            6.31754e+10
population     1.01198e+07
Name: 954, dtype: object)
(955, countryname      Indonesia
countrycode            IDN
year                  1964
gdp            5.57269e+10
population      9.7638e+07
Name: 955, dtype: object)
(956, countryname    Isle of Man
countrycode            IMN
year                  1964
gdp            5.57269e+10
population           49391
Name: 956, dtype: object)
(957, countryname          India
countrycode            IND
year                  1964
gdp            5.57269e+10
population     4.87485e+08
Name: 957, dtype: object)
(958, countryname        Ireland
countrycode            IRL
year                  1964
gdp            2.76661e+09
population     2.86655e+06
Name: 958, dtype: object)
(959, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         1964
gdp                   5.37985e+09
population            2.43081e+07
Name: 959, dtype: object)
(960, countryname           Iraq
countrycode            IRQ
year                  1964
gdp            2.34052e+09
population      8.1222e+06
Name: 960, dtype: object)
(961, countryname        Iceland
countrycode            ISL
year                  1964
gdp            4.34268e+08
population          188983
Name: 961, dtype: object)
(962, countryname         Israel
countrycode            ISR
year                  1964
gdp            3.40533e+09
population       2.475e+06
Name: 962, dtype: object)
(963, countryname          Italy
countrycode            ITA
year                  1964
gdp            6.31754e+10
population     5.16754e+07
Name: 963, dtype: object)
(964, countryname        Jamaica
countrycode            JAM
year                  1964
gdp            8.97931e+08
population     1.73049e+06
Name: 964, dtype: object)
(965, countryname         Jordan
countrycode            JOR
year                  1964
gdp             8.1749e+10
population     1.10146e+06
Name: 965, dtype: object)
(966, countryname         Japan
countrycode           JPN
year                 1964
gdp            8.1749e+10
population     9.7826e+07
Name: 966, dtype: object)
(967, countryname     Kazakhstan
countrycode            KAZ
year                  1964
gdp            9.98759e+08
population     1.12673e+07
Name: 967, dtype: object)
(968, countryname          Kenya
countrycode            KEN
year                  1964
gdp            9.98759e+08
population     9.20016e+06
Name: 968, dtype: object)
(969, countryname    Kyrgyz Republic
countrycode                KGZ
year                      1964
gdp                7.82857e+08
population          2.4953e+06
Name: 969, dtype: object)
(970, countryname       Cambodia
countrycode            KHM
year                  1964
gdp            7.82857e+08
population     6.33158e+06
Name: 970, dtype: object)
(971, countryname       Kiribati
countrycode            KIR
year                  1964
gdp            1.34166e+07
population           45425
Name: 971, dtype: object)
(972, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1964
gdp                    1.34166e+07
population                   49930
Name: 972, dtype: object)
(973, countryname    Korea, Rep.
countrycode            KOR
year                  1964
gdp            3.45852e+09
population     2.79842e+07
Name: 973, dtype: object)
(974, countryname         Kuwait
countrycode            KWT
year                  1964
gdp            8.97931e+08
population          425235
Name: 974, dtype: object)
(975, countryname        Lao PDR
countrycode            LAO
year                  1964
gdp            8.97931e+08
population     2.32714e+06
Name: 975, dtype: object)
(976, countryname        Lebanon
countrycode            LBN
year                  1964
gdp            8.97931e+08
population     2.04121e+06
Name: 976, dtype: object)
(977, countryname        Liberia
countrycode            LBR
year                  1964
gdp            2.18929e+08
population     1.22434e+06
Name: 977, dtype: object)
(978, countryname          Libya
countrycode            LBY
year                  1964
gdp            1.44806e+10
population     1.66782e+06
Name: 978, dtype: object)
(979, countryname      St. Lucia
countrycode            LCA
year                  1964
gdp            1.44806e+10
population           94814
Name: 979, dtype: object)

Name: 1081, dtype: object)
(1082, countryname    South Africa
countrycode             ZAF
year                   1964
gdp             1.03738e+10
population       1.9413e+07
Name: 1082, dtype: object)
(1083, countryname         Zambia
countrycode            ZMB
year                  1964
gdp            8.39429e+08
population     3.45294e+06
Name: 1083, dtype: object)
(1084, countryname       Zimbabwe
countrycode            ZWE
year                  1964
gdp            1.21714e+09
population     4.26986e+06
Name: 1084, dtype: object)
(1085, countryname          Aruba
countrycode            ABW
year                  1965
gdp            1.00667e+09
population           57360
Name: 1085, dtype: object)
(1086, countryname    Afghanistan
countrycode            AFG
year                  1965
gdp            1.00667e+09
population     9.93841e+06
Name: 1086, dtype: object)
(1087, countryname         Angola
countrycode            AGO
year                  1965
gdp            2.59312e+10
population      6.2033e+06
Name: 1087, dtype: object)
(1088, countryname        Albania
countrycode            ALB
year                  1965
gdp            2.59312e+10
population     1.86479e+06
Name: 1088, dtype: object)
(1089, countryname        Andorra
countrycode            AND
year                  1965
gdp            2.59312e+10
population           18549
Name: 1089, dtype: object)
(1090, countryname    United Arab Emirates
countrycode                     ARE
year                           1965
gdp                     2.59312e+10
population                   150362
Name: 1090, dtype: object)
(1091, countryname      Argentina
countrycode            ARG
year                  1965
gdp            2.59312e+10
population     2.22834e+07
Name: 1091, dtype: object)
(1092, countryname        Armenia
countrycode            ARM
year                  1965
gdp            2.59312e+10
population     2.21132e+06
Name: 1092, dtype: object)
(1093, countryname    American Samoa
countrycode               ASM
year                     1965
gdp               2.59312e+10
population              23520
Name: 1093, dtype: object)
(1094, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1965
gdp                    2.59312e+10
population                   60781
Name: 1094, dtype: object)
(1095, countryname      Australia
countrycode            AUS
year                  1965
gdp            2.59312e+10
population      1.1388e+07
Name: 1095, dtype: object)
(1096, countryname        Austria
countrycode            AUT
year                  1965
gdp            9.99407e+09
population     7.27089e+06
Name: 1096, dtype: object)
(1097, countryname     Azerbaijan
countrycode            AZE
year                  1965
gdp            1.58995e+08
population     4.59261e+06
Name: 1097, dtype: object)
(1098, countryname        Burundi
countrycode            BDI
year                  1965
gdp            1.58995e+08
population     3.07788e+06
Name: 1098, dtype: object)
(1099, countryname        Belgium
countrycode            BEL
year                  1965
gdp            1.73715e+10
population     9.46367e+06
Name: 1099, dtype: object)
(1100, countryname          Benin
countrycode            BEN
year                  1965
gdp            2.89909e+08
population     2.63236e+06
Name: 1100, dtype: object)
(1101, countryname    Burkina Faso
countrycode             BFA
year                   1965
gdp             4.22917e+08
population      5.17487e+06
Name: 1101, dtype: object)
(1102, countryname     Bangladesh
countrycode            BGD
year                  1965
gdp            5.90664e+09
population      5.5834e+07
Name: 1102, dtype: object)
(1103, countryname       Bulgaria
countrycode            BGR
year                  1965
gdp            3.00392e+08
population     8.20417e+06
Name: 1103, dtype: object)
(1104, countryname        Bahrain
countrycode            BHR
year                  1965
gdp            3.00392e+08
population          187431
Name: 1104, dtype: object)
(1105, countryname    Bahamas, The
countrycode             BHS
year                   1965
gdp             3.00392e+08
population           140054
Name: 1105, dtype: object)
(1106, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1965
gdp                       4.00699e+07
population                3.53564e+06
Name: 1106, dtype: object)
(1107, countryname        Belarus
countrycode            BLR
year                  1965
gdp            4.00699e+07
population        8.61e+06
Name: 1107, dtype: object)
(1108, countryname         Belize
countrycode            BLZ
year                  1965
gdp            4.00699e+07
population          106119
Name: 1108, dtype: object)
(1109, countryname        Bermuda
countrycode            BMU
year                  1965
gdp            1.14339e+08
population           50100
Name: 1109, dtype: object)
(1110, countryname        Bolivia
countrycode            BOL
year                  1965
gdp            9.08875e+08
population     4.07059e+06
Name: 1110, dtype: object)
(1111, countryname         Brazil
countrycode            BRA
year                  1965
gdp            6.67358e+11
population      8.3498e+07
Name: 1111, dtype: object)
(1112, countryname       Barbados
countrycode            BRB
year                  1965
gdp            6.67358e+11
population          235374
Name: 1112, dtype: object)
(1113, countryname    Brunei Darussalam
countrycode                  BRN
year                        1965
gdp                   1.1404e+08
population                102425
Name: 1113, dtype: object)
(1114, countryname         Bhutan
countrycode            BTN
year                  1965
gdp            6.67358e+11
population          254464
Name: 1114, dtype: object)
(1115, countryname       Botswana
countrycode            BWA
year                  1965
gdp            4.57909e+07
population          597190
Name: 1115, dtype: object)
(1116, countryname    Central African Republic
countrycode                         CAF
year                               1965
gdp                         1.50575e+08
population                  1.64883e+06
Name: 1116, dtype: object)
(1117, countryname         Canada
countrycode            CAN
year                  1965
gdp            5.39096e+10
population      1.9678e+07
Name: 1117, dtype: object)
(1118, countryname    Switzerland
countrycode            CHE
year                  1965
gdp            1.53467e+10
population     5.85647e+06
Name: 1118, dtype: object)
(1119, countryname    Channel Islands
countrycode                CHI
year                      1965
gdp                6.02659e+09
population              114995
Name: 1119, dtype: object)
(1120, countryname          Chile
countrycode            CHL
year                  1965
gdp            6.02659e+09
population     8.61708e+06
Name: 1120, dtype: object)
(1121, countryname          China
countrycode            CHN
year                  1965
gdp            7.04363e+10
population     7.15185e+08
Name: 1121, dtype: object)
(1122, countryname    Cote d'Ivoire
countrycode              CIV
year                    1965
gdp              9.19771e+08
population       4.32179e+06
Name: 1122, dtype: object)
(1123, countryname       Cameroon
countrycode            CMR
year                  1965
gdp             8.1414e+08
population     5.77783e+06
Name: 1123, dtype: object)
(1124, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1965
gdp                 1.98318e+08
population          1.73699e+07
Name: 1124, dtype: object)
(1125, countryname    Congo, Rep.
countrycode            COG
year                  1965
gdp            1.98318e+08
population     1.18432e+06
Name: 1125, dtype: object)
(1126, countryname       Colombia
countrycode            COL
year                  1965
gdp            5.79025e+09
population     1.91442e+07
Name: 1126, dtype: object)
(1127, countryname        Comoros
countrycode            COM
year                  1965
gdp            5.92981e+08
population          207424
Name: 1127, dtype: object)
(1128, countryname     Cabo Verde
countrycode            CPV
year                  1965
gdp            5.92981e+08
population          231428
Name: 1128, dtype: object)
(1129, countryname     Costa Rica
countrycode            CRI
year                  1965
gdp            5.92981e+08
population     1.58962e+06
Name: 1129, dtype: object)
(1130, countryname           Cuba
countrycode            CUB
year                  1965
gdp            1.06789e+10
population     7.95193e+06
Name: 1130, dtype: object)
(1131, countryname        Curacao
countrycode            CUW
year                  1965
gdp            1.06789e+10
population          135266
Name: 1131, dtype: object)
(1132, countryname    Cayman Islands
countrycode               CYM
year                     1965
gdp               1.06789e+10
population               8369
Name: 1132, dtype: object)
(1133, countryname         Cyprus
countrycode            CYP
year                  1965
gdp            1.06789e+10
population          580966
Name: 1133, dtype: object)
(1134, countryname    Czech Republic
countrycode               CZE
year                     1965
gdp               1.06789e+10
population        9.77936e+06
Name: 1134, dtype: object)
(1135, countryname        Germany
countrycode            DEU
year                  1965
gdp            1.06789e+10
population     7.59637e+07
Name: 1135, dtype: object)
(1136, countryname       Djibouti
countrycode            DJI
year                  1965
gdp            1.06789e+10
population          114963
Name: 1136, dtype: object)
(1137, countryname       Dominica
countrycode            DMA
year                  1965
gdp            1.06789e+10
population           65038
Name: 1137, dtype: object)
(1138, countryname        Denmark
countrycode            DNK
year                  1965
gdp            1.06789e+10
population     4.75901e+06
Name: 1138, dtype: object)
(1139, countryname    Dominican Republic
countrycode                   DOM
year                         1965
gdp                     8.881e+08
population            3.87895e+06
Name: 1139, dtype: object)
(1140, countryname        Algeria
countrycode            DZA
year                  1965
gdp            3.13626e+09
population      1.2627e+07
Name: 1140, dtype: object)
(1141, countryname        Ecuador
countrycode            ECU
year                  1965
gdp            2.38705e+09
population     5.25012e+06
Name: 1141, dtype: object)
(1142, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1965
gdp                 5.11162e+09
population           3.0876e+07
Name: 1142, dtype: object)
(1143, countryname        Eritrea
countrycode            ERI
year                  1965
gdp             2.4757e+10
population     1.58918e+06
Name: 1143, dtype: object)
(1144, countryname          Spain
countrycode            ESP
year                  1965
gdp             2.4757e+10
population     3.19543e+07
Name: 1144, dtype: object)
(1145, countryname        Estonia
countrycode            EST
year                  1965
gdp            5.67732e+11
population     1.29457e+06
Name: 1145, dtype: object)
(1146, countryname       Ethiopia
countrycode            ETH
year                  1965
gdp            5.67732e+11
population     2.50136e+07
Name: 1146, dtype: object)
(1147, countryname        Finland
countrycode            FIN
year                  1965
gdp            8.58934e+09
population     4.56373e+06
Name: 1147, dtype: object)
(1148, countryname           Fiji
countrycode            FJI
year                  1965
gdp            1.47085e+08
population          463883
Name: 1148, dtype: object)
(1149, countryname         France
countrycode            FRA
year                  1965
gdp            1.02161e+11
population     5.00238e+07
Name: 1149, dtype: object)
(1150, countryname    Faroe Islands
countrycode              FRO
year                    1965
gdp              2.26474e+08
population             36900
Name: 1150, dtype: object)
(1151, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1965
gdp                      2.26474e+08
population                     52242
Name: 1151, dtype: object)
(1152, countryname          Gabon
countrycode            GAB
year                  1965
gdp            2.26474e+08
population          532511
Name: 1152, dtype: object)
(1153, countryname    United Kingdom
countrycode               GBR
year                     1965
gdp               1.00596e+11
population        5.43480e+07
Name: 1153, dtype: object)
(1154, countryname        Georgia
countrycode            GEO
year                  1965
gdp            4.08271e+11
population      3.9216e+06
Name: 1154, dtype: object)
(1155, countryname          Ghana
countrycode            GHA
year                  1965
gdp            2.05346e+09
population     7.71055e+06
Name: 1155, dtype: object)
(1156, countryname     Gibraltar
countrycode           GIB
year                 1965
gdp            5.0865e+08
population          26041
Name: 1156, dtype: object)
(1157, countryname         Guinea
countrycode            GIN
year                  1965
gdp            5.86373e+09
population     3.87781e+06
Name: 1157, dtype: object)
(1158, countryname    Gambia, The
countrycode            GMB
year                  1965
gdp            5.86373e+09
population          400861
Name: 1158, dtype: object)
(1159, countryname    Guinea-Bissau
countrycode              GNB
year                    1965
gdp              5.86373e+09
population            652562
Name: 1159, dtype: object)
(1160, countryname    Equatorial Guinea
countrycode                  GNQ
year                        1965
gdp                  6.47483e+07
population                277396
Name: 1160, dtype: object)
(1161, countryname         Greece
countrycode            GRC
year                  1965
gdp            7.60058e+09
population     8.55033e+06
Name: 1161, dtype: object)
(1162, countryname        Grenada
countrycode            GRD
year                  1965
gdp            7.60058e+09
population           94581
Name: 1162, dtype: object)
(1163, countryname      Greenland
countrycode            GRL
year                  1965
gdp            5.86373e+09
population           39200
Name: 1163, dtype: object)
(1164, countryname      Guatemala
countrycode            GTM
year                  1965
gdp             1.3314e+09
population     4.86972e+06
Name: 1164, dtype: object)
(1165, countryname           Guam
countrycode            GUM
year                  1965
gdp            7.60058e+09
population           74830
Name: 1165, dtype: object)
(1166, countryname         Guyana
countrycode            GUY
year                  1965
gdp            2.13235e+08
population          651868
Name: 1166, dtype: object)
(1167, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1965
gdp                     2.43508e+09
population               3.5979e+06
Name: 1167, dtype: object)
(1168, countryname       Honduras
countrycode            HND
year                  1965
gdp             5.0865e+08
population     2.34601e+06
Name: 1168, dtype: object)
(1169, countryname       Croatia
countrycode           HRV
year                 1965
gdp            2.4757e+10
population      4.287e+06
Name: 1169, dtype: object)
(1170, countryname          Haiti
countrycode            HTI
year                  1965
gdp            5.23695e+08
population     4.27113e+06
Name: 1170, dtype: object)
(1171, countryname        Hungary
countrycode            HUN
year                  1965
gdp            5.23695e+08
population     1.01479e+07
Name: 1171, dtype: object)
(1172, countryname      Indonesia
countrycode            IDN
year                  1965
gdp            5.87604e+10
population     1.00309e+08
Name: 1172, dtype: object)
(1173, countryname    Isle of Man
countrycode            IMN
year                  1965
gdp            5.87604e+10
population           50141
Name: 1173, dtype: object)
(1174, countryname          India
countrycode            IND
year                  1965
gdp            5.87604e+10
population     4.97702e+08
Name: 1174, dtype: object)
(1175, countryname       Ireland
countrycode           IRL
year                 1965
gdp            2.9457e+09
population     2.8773e+06
Name: 1175, dtype: object)
(1176, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         1965
gdp                   6.19732e+09
population            2.49551e+07
Name: 1176, dtype: object)
(1177, countryname           Iraq
countrycode            IRQ
year                  1965
gdp            2.34052e+09
population     8.37579e+06
Name: 1177, dtype: object)
(1178, countryname        Iceland
countrycode            ISL
year                  1965
gdp            5.23695e+08
population          192286
Name: 1178, dtype: object)
(1179, countryname         Israel
countrycode            ISR
year                  1965
gdp            3.66333e+09
population       2.563e+06
Name: 1179, dtype: object)
(1180, countryname          Italy
countrycode            ITA
year                  1965
gdp            6.79782e+10
population     5.21124e+07
Name: 1180, dtype: object)
(1181, countryname        Jamaica
countrycode            JAM
year                  1965
gdp            9.72141e+08
population     1.75627e+06
Name: 1181, dtype: object)
(1182, countryname         Jordan
countrycode            JOR
year                  1965
gdp            5.99832e+08
population     1.17255e+06
Name: 1182, dtype: object)
(1183, countryname          Japan
countrycode            JPN
year                  1965
gdp            9.09503e+10
population      9.8883e+07
Name: 1183, dtype: object)
(1184, countryname     Kazakhstan
countrycode            KAZ
year                  1965
gdp            9.97919e+08
population     1.15889e+07
Name: 1184, dtype: object)
(1185, countryname          Kenya
countrycode            KEN
year                  1965
gdp            9.97919e+08
population      9.5047e+06
Name: 1185, dtype: object)
(1186, countryname    Kyrgyz Republic
countrycode                KGZ
year                      1965
gdp                8.68571e+08
population          2.5733e+06
Name: 1186, dtype: object)
(1187, countryname       Cambodia
countrycode            KHM
year                  1965
gdp            8.68571e+08
population      6.4672e+06
Name: 1187, dtype: object)
(1188, countryname       Kiribati
countrycode            KIR
year                  1965
gdp            1.35939e+07
population           46453
Name: 1188, dtype: object)
(1189, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1965
gdp                    1.35939e+07
population                   49214
Name: 1189, dtype: object)
(1190, countryname    Korea, Rep.
countrycode            KOR
year                  1965
gdp            3.12031e+09
population     2.87047e+07
Name: 1190, dtype: object)
(1191, countryname         Kuwait
countrycode            KWT
year                  1965
gdp            2.09745e+09
population          473554
Name: 1191, dtype: object)
(1192, countryname        Lao PDR
countrycode            LAO
year                  1965
gdp            5.23695e+08
population     2.38259e+06
Name: 1192, dtype: object)
(1193, countryname        Lebanon
countrycode            LBN
year                  1965
gdp            5.23695e+08
population     2.09235e+06
Name: 1193, dtype: object)
(1194, countryname        Liberia
countrycode            LBR
year                  1965
gdp            2.29261e+08
population     1.25297e+06
Name: 1194, dtype: object)
(1195, countryname          Libya
countrycode            LBY
year                  1965
gdp            5.11162e+09
population     1.73331e+06
Name: 1195, dtype: object)
(1196, countryname      St. Lucia

Name: 1299, dtype: object)
(1300, countryname         Zambia
countrycode            ZMB
year                  1965
gdp            1.08286e+09
population     3.56341e+06
Name: 1300, dtype: object)
(1301, countryname       Zimbabwe
countrycode            ZWE
year                  1965
gdp            1.31144e+09
population     4.41021e+06
Name: 1301, dtype: object)
(1302, countryname      Aruba
countrycode        ABW
year              1966
gdp            1.4e+09
population       57715
Name: 1302, dtype: object)
(1303, countryname    Afghanistan
countrycode            AFG
year                  1966
gdp                1.4e+09
population     1.01523e+07
Name: 1303, dtype: object)
(1304, countryname         Angola
countrycode            AGO
year                  1966
gdp            2.72617e+10
population     6.30977e+06
Name: 1304, dtype: object)
(1305, countryname        Albania
countrycode            ALB
year                  1966
gdp            2.72617e+10
population     1.91457e+06
Name: 1305, dtype: object)
(1306, countryname        Andorra
countrycode            AND
year                  1966
gdp            2.72617e+10
population           19647
Name: 1306, dtype: object)
(1307, countryname    United Arab Emirates
countrycode                     ARE
year                           1966
gdp                     2.72617e+10
population                   160481
Name: 1307, dtype: object)
(1308, countryname      Argentina
countrycode            ARG
year                  1966
gdp            2.72617e+10
population     2.26087e+07
Name: 1308, dtype: object)
(1309, countryname        Armenia
countrycode            ARM
year                  1966
gdp            2.72617e+10
population     2.27603e+06
Name: 1309, dtype: object)
(1310, countryname    American Samoa
countrycode               ASM
year                     1966
gdp               2.72617e+10
population              24321
Name: 1310, dtype: object)
(1311, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1966
gdp                    2.72617e+10
population                   62059
Name: 1311, dtype: object)
(1312, countryname      Australia
countrycode            AUS
year                  1966
gdp            2.72617e+10
population      1.1651e+07
Name: 1312, dtype: object)
(1313, countryname        Austria
countrycode            AUT
year                  1966
gdp            1.08877e+10
population     7.32207e+06
Name: 1313, dtype: object)
(1314, countryname     Azerbaijan
countrycode            AZE
year                  1966
gdp            1.86519e+10
population     4.72152e+06
Name: 1314, dtype: object)
(1315, countryname        Burundi
countrycode            BDI
year                  1966
gdp            1.65445e+08
population     3.15272e+06
Name: 1315, dtype: object)
(1316, countryname        Belgium
countrycode            BEL
year                  1966
gdp            1.86519e+10
population     9.52781e+06
Name: 1316, dtype: object)
(1317, countryname          Benin
countrycode            BEN
year                  1966
gdp            3.02925e+08
population     2.68216e+06
Name: 1317, dtype: object)
(1318, countryname    Burkina Faso
countrycode             BFA
year                   1966
gdp              4.3389e+08
population      5.25636e+06
Name: 1318, dtype: object)
(1319, countryname     Bangladesh
countrycode            BGD
year                  1966
gdp            6.43969e+09
population      5.7673e+07
Name: 1319, dtype: object)
(1320, countryname       Bulgaria
countrycode            BGR
year                  1966
gdp                3.4e+08
population     8.25806e+06
Name: 1320, dtype: object)
(1321, countryname    Bahrain
countrycode        BHR
year              1966
gdp            3.4e+08
population      191780
Name: 1321, dtype: object)
(1322, countryname    Bahamas, The
countrycode             BHS
year                   1966
gdp                 3.4e+08
population           146366
Name: 1322, dtype: object)
(1323, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1966
gdp                       4.44056e+07
population                3.58663e+06
Name: 1323, dtype: object)
(1324, countryname        Belarus
countrycode            BLR
year                  1966
gdp            4.44056e+07
population      8.6965e+06
Name: 1324, dtype: object)
(1325, countryname         Belize
countrycode            BLZ
year                  1966
gdp            4.44056e+07
population          109347
Name: 1325, dtype: object)
(1326, countryname        Bermuda
countrycode            BMU
year                  1966
gdp            1.34173e+08
population           51000
Name: 1326, dtype: object)
(1327, countryname        Bolivia
countrycode            BOL
year                  1966
gdp            9.94045e+08
population     4.15267e+06
Name: 1327, dtype: object)
(1328, countryname         Brazil
countrycode            BRA
year                  1966
gdp            1.65445e+08
population     8.58378e+07
Name: 1328, dtype: object)
(1329, countryname       Barbados
countrycode            BRB
year                  1966
gdp            1.65445e+08
population          236044
Name: 1329, dtype: object)
(1330, countryname    Brunei Darussalam
countrycode                  BRN
year                        1966
gdp                  1.32758e+08
population                107316
Name: 1330, dtype: object)
(1331, countryname         Bhutan
countrycode            BTN
year                  1966
gdp            1.32758e+08
population          262244
Name: 1331, dtype: object)
(1332, countryname       Botswana
countrycode            BWA
year                  1966
gdp            5.14644e+07
population          614613
Name: 1332, dtype: object)
(1333, countryname    Central African Republic
countrycode                         CAF
year                               1966
gdp                          1.5793e+08
population                  1.68288e+06
Name: 1333, dtype: object)
(1334, countryname         Canada
countrycode            CAN
year                  1966
gdp            6.03586e+10
population      2.0048e+07
Name: 1334, dtype: object)
(1335, countryname    Switzerland
countrycode            CHE
year                  1966
gdp            1.64801e+10
population       5.918e+06
Name: 1335, dtype: object)
(1336, countryname    Channel Islands
countrycode                CHI
year                      1966
gdp                7.07264e+09
population              116227
Name: 1336, dtype: object)
(1337, countryname          Chile
countrycode            CHL
year                  1966
gdp            7.07264e+09
population     8.80614e+06
Name: 1337, dtype: object)
(1338, countryname          China
countrycode            CHN
year                  1966
gdp            7.67203e+10
population       7.354e+08
Name: 1338, dtype: object)
(1339, countryname    Cote d'Ivoire
countrycode              CIV
year                    1966
gdp               1.0241e+09
population        4.4872e+06
Name: 1339, dtype: object)
(1340, countryname       Cameroon
countrycode            CMR
year                  1966
gdp            8.53269e+08
population     5.91512e+06
Name: 1340, dtype: object)
(1341, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1966
gdp                 2.20614e+08
population          1.78619e+07
Name: 1341, dtype: object)
(1342, countryname    Congo, Rep.
countrycode            COG
year                  1966
gdp            2.20614e+08
population     1.21739e+06
Name: 1342, dtype: object)
(1343, countryname       Colombia
countrycode            COL
year                  1966
gdp            5.45276e+09
population     1.97215e+07
Name: 1343, dtype: object)
(1344, countryname        Comoros
countrycode            COM
year                  1966
gdp            6.47306e+08
population          211478
Name: 1344, dtype: object)
(1345, countryname     Cabo Verde
countrycode            CPV
year                  1966
gdp            6.47306e+08
population          239770
Name: 1345, dtype: object)
(1346, countryname     Costa Rica
countrycode            CRI
year                  1966
gdp            6.47306e+08
population     1.64219e+06
Name: 1346, dtype: object)
(1347, countryname           Cuba
countrycode            CUB
year                  1966
gdp            1.17212e+10
population     8.11043e+06
Name: 1347, dtype: object)
(1348, countryname        Curacao
countrycode            CUW
year                  1966
gdp            1.17212e+10
population          136682
Name: 1348, dtype: object)
(1349, countryname    Cayman Islands
countrycode               CYM
year                     1966
gdp               1.17212e+10
population               8441
Name: 1349, dtype: object)
(1350, countryname         Cyprus
countrycode            CYP
year                  1966
gdp            1.17212e+10
population          585308
Name: 1350, dtype: object)
(1351, countryname    Czech Republic
countrycode               CZE
year                     1966
gdp               1.17212e+10
population        9.82104e+06
Name: 1351, dtype: object)
(1352, countryname        Germany
countrycode            DEU
year                  1966
gdp            1.17212e+10
population     7.66003e+07
Name: 1352, dtype: object)
(1353, countryname       Djibouti
countrycode            DJI
year                  1966
gdp            1.17212e+10
population          122866
Name: 1353, dtype: object)
(1354, countryname       Dominica
countrycode            DMA
year                  1966
gdp            1.17212e+10
population           66311
Name: 1354, dtype: object)
(1355, countryname        Denmark
countrycode            DNK
year                  1966
gdp            1.17212e+10
population     4.79738e+06
Name: 1355, dtype: object)
(1356, countryname    Dominican Republic
countrycode                   DOM
year                         1966
gdp                     9.839e+08
population            4.00138e+06
Name: 1356, dtype: object)
(1357, countryname        Algeria
countrycode            DZA
year                  1966
gdp            3.03983e+09
population     1.29803e+07
Name: 1357, dtype: object)
(1358, countryname        Ecuador
countrycode            ECU
year                  1966
gdp            2.42931e+09
population     5.40568e+06
Name: 1358, dtype: object)
(1359, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1966
gdp                 5.33952e+09
population          3.16976e+07
Name: 1359, dtype: object)
(1360, countryname        Eritrea
countrycode            ERI
year                  1966
gdp            2.87211e+10
population     1.63115e+06
Name: 1360, dtype: object)
(1361, countryname          Spain
countrycode            ESP
year                  1966
gdp            2.87211e+10
population     3.22832e+07
Name: 1361, dtype: object)
(1362, countryname        Estonia
countrycode            EST
year                  1966
gdp            6.15438e+11
population      1.3086e+06
Name: 1362, dtype: object)
(1363, countryname       Ethiopia
countrycode            ETH
year                  1966
gdp            6.15438e+11
population     2.56414e+07
Name: 1363, dtype: object)
(1364, countryname        Finland
countrycode            FIN
year                  1966
gdp            9.20852e+09
population     4.58087e+06
Name: 1364, dtype: object)
(1365, countryname           Fiji
countrycode            FJI
year                  1966
gdp            1.50604e+08
population          476324
Name: 1365, dtype: object)
(1366, countryname         France
countrycode            FRA
year                  1966
gdp            1.10597e+11
population     5.05087e+07
Name: 1366, dtype: object)
(1367, countryname    Faroe Islands
countrycode              FRO
year                    1966
gdp               2.4585e+08
population             37334
Name: 1367, dtype: object)
(1368, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1966
gdp                       2.4585e+08
population                     54199
Name: 1368, dtype: object)
(1369, countryname         Gabon
countrycode           GAB
year                 1966
gdp            2.4585e+08
population         542557
Name: 1369, dtype: object)
(1370, countryname    United Kingdom
countrycode               GBR
year                     1966
gdp               1.07091e+11
population        5.46485e+07
Name: 1370, dtype: object)
(1371, countryname       Georgia
countrycode           GEO
year                 1966
gdp            2.1263e+09
population     3.9667e+06
Name: 1371, dtype: object)
(1372, countryname          Ghana
countrycode            GHA
year                  1966
gdp             2.1263e+09
population     7.89099e+06
Name: 1372, dtype: object)
(1373, countryname     Gibraltar
countrycode           GIB
year                 1966
gdp            1.3907e+09
population          26612
Name: 1373, dtype: object)
(1374, countryname         Guinea
countrycode            GIN
year                  1966
gdp             2.3408e+10
population     3.94887e+06
Name: 1374, dtype: object)
(1375, countryname    Gambia, The
countrycode            GMB
year                  1966
gdp            4.42124e+07
population          408180
Name: 1375, dtype: object)
(1376, countryname    Guinea-Bissau
countrycode              GNB
year                    1966
gdp              4.42124e+07
population            662463
Name: 1376, dtype: object)
(1377, countryname    Equatorial Guinea
countrycode                  GNQ
year                        1966
gdp                    6.911e+07
population                284868
Name: 1377, dtype: object)
(1378, countryname         Greece
countrycode            GRC
year                  1966
gdp            8.45561e+09
population     8.61365e+06
Name: 1378, dtype: object)
(1379, countryname        Grenada
countrycode            GRD
year                  1966
gdp            8.45561e+09
population           94875
Name: 1379, dtype: object)
(1380, countryname      Greenland
countrycode            GRL
year                  1966
gdp            8.41974e+08
population           40500
Name: 1380, dtype: object)
(1381, countryname      Guatemala
countrycode            GTM
year                  1966
gdp             1.3907e+09
population     5.01315e+06
Name: 1381, dtype: object)
(1382, countryname          Guam
countrycode           GUM
year                 1966
gdp            1.3907e+09
population          76607
Name: 1382, dtype: object)
(1383, countryname         Guyana
countrycode            GUY
year                  1966
gdp            2.28706e+08
population          664521
Name: 1383, dtype: object)
(1384, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1966
gdp                     2.48985e+09
population               3.6299e+06
Name: 1384, dtype: object)
(1385, countryname       Honduras
countrycode            HND
year                  1966
gdp             5.4995e+08
population     2.41481e+06
Name: 1385, dtype: object)
(1386, countryname       Croatia
countrycode           HRV
year                 1966
gdp            2.4585e+08
population      4.313e+06
Name: 1386, dtype: object)
(1387, countryname          Haiti
countrycode            HTI
year                  1966
gdp             2.4446e+08
population     4.35748e+06
Name: 1387, dtype: object)
(1388, countryname        Hungary
countrycode            HUN
year                  1966
gdp            7.36549e+10
population     1.01787e+07
Name: 1388, dtype: object)
(1389, countryname      Indonesia
countrycode            IDN
year                  1966
gdp            4.52536e+10
population     1.03067e+08
Name: 1389, dtype: object)
(1390, countryname    Isle of Man
countrycode            IMN
year                  1966
gdp            4.52536e+10
population           51049
Name: 1390, dtype: object)
(1391, countryname          India
countrycode            IND
year                  1966
gdp            4.52536e+10
population     5.08162e+08
Name: 1391, dtype: object)
(1392, countryname        Ireland
countrycode            IRL
year                  1966
gdp            3.10403e+09
population      2.8888e+06
Name: 1392, dtype: object)
(1393, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         1966
gdp                   6.78994e+09
population            2.56247e+07
Name: 1393, dtype: object)
(1394, countryname           Iraq
countrycode            IRQ
year                  1966
gdp            2.34052e+09
population     8.65116e+06
Name: 1394, dtype: object)
(1395, countryname        Iceland
countrycode            ISL
year                  1966
gdp            6.28893e+08
population          195570
Name: 1395, dtype: object)
(1396, countryname       Israel
countrycode          ISR
year                1966
gdp             3.98e+09
population     2.629e+06
Name: 1396, dtype: object)
(1397, countryname          Italy
countrycode            ITA
year                  1966
gdp            7.36549e+10
population      5.2519e+07
Name: 1397, dtype: object)
(1398, countryname        Jamaica
countrycode            JAM
year                  1966
gdp            1.09674e+09
population     1.78026e+06
Name: 1398, dtype: object)
(1399, countryname         Jordan
countrycode            JOR
year                  1966
gdp            6.58079e+08
population     1.26581e+06
Name: 1399, dtype: object)
(1400, countryname          Japan
countrycode            JPN
year                  1966
gdp            1.05628e+11
population       9.979e+07
Name: 1400, dtype: object)
(1401, countryname     Kazakhstan
countrycode            KAZ
year                  1966
gdp            1.16452e+09
population     1.18729e+07
Name: 1401, dtype: object)
(1402, countryname          Kenya
countrycode            KEN
year                  1966
gdp            1.16452e+09
population      9.8225e+06
Name: 1402, dtype: object)
(1403, countryname    Kyrgyz Republic
countrycode                KGZ
year                      1966
gdp                9.14286e+08
population          2.6553e+06
Name: 1403, dtype: object)
(1404, countryname       Cambodia
countrycode            KHM
year                  1966
gdp            9.14286e+08
population     6.58477e+06
Name: 1404, dtype: object)
(1405, countryname       Kiribati
countrycode            KIR
year                  1966
gdp            1.44691e+07
population           47459
Name: 1405, dtype: object)
(1406, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1966
gdp                    1.44691e+07
population                   48358
Name: 1406, dtype: object)
(1407, countryname    Korea, Rep.
countrycode            KOR
year                  1966
gdp            3.92817e+09
population     2.94356e+07
Name: 1407, dtype: object)
(1408, countryname         Kuwait
countrycode            KWT
year                  1966
gdp            2.39149e+09
population          524856
Name: 1408, dtype: object)
(1409, countryname        Lao PDR
countrycode            LAO
year                  1966
gdp            5.33952e+09
population      2.4392e+06
Name: 1409, dtype: object)
(1410, countryname        Lebanon
countrycode            LBN
year                  1966
gdp            5.33952e+09
population     2.13664e+06
Name: 1410, dtype: object)
(1411, countryname        Liberia
countrycode            LBR
year                  1966
gdp             2.4446e+08
population     1.28281e+06
Name: 1411, dtype: object)
(1412, countryname          Libya
countrycode            LBY
year                  1966
gdp            1.64801e+10
population     1.80368e+06
Name: 1412, dtype: object)
(1413, countryname    St. Lucia
countrycode          LCA
year                1966
gdp              1.4e+09
population         97881
Name: 1413, dtype: object)
(1414, countryname    Liechtenstein
countrycode              LIE
year                    1966
gdp              1.75147e+09

Name: 1500, dtype: object)
(1501, countryname       Tanzania
countrycode            TZA
year                  1966
gdp             9.2577e+08
population     1.20389e+07
Name: 1501, dtype: object)
(1502, countryname         Uganda
countrycode            UGA
year                  1966
gdp             9.2577e+08
population     8.29278e+06
Name: 1502, dtype: object)
(1503, countryname        Ukraine
countrycode            UKR
year                  1966
gdp            2.74716e+11
population     4.56823e+07
Name: 1503, dtype: object)
(1504, countryname        Uruguay
countrycode            URY
year                  1966
gdp            1.80918e+09
population     2.72288e+06
Name: 1504, dtype: object)
(1505, countryname    United States
countrycode              USA
year                    1966
gdp                 8.15e+11
population        1.9656e+08
Name: 1505, dtype: object)
(1506, countryname     Uzbekistan
countrycode            UZB
year                  1966
gdp            1.60999e+07
population     1.05209e+07
Name: 1506, dtype: object)
(1507, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1966
gdp                               1.60999e+07
population                              86857
Name: 1507, dtype: object)
(1508, countryname    Venezuela, RB
countrycode              VEN
year                    1966
gdp               9.9844e+09
population       1.01751e+07
Name: 1508, dtype: object)
(1509, countryname    British Virgin Islands
countrycode                       VGB
year                             1966
gdp                          8.41e+07
population                       9007
Name: 1509, dtype: object)
(1510, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1966
gdp                         8.41e+07
population                     46200
Name: 1510, dtype: object)
(1511, countryname        Vietnam
countrycode            VNM
year                  1966
gdp             2.1116e+12
population     3.89593e+07
Name: 1511, dtype: object)
(1512, countryname       Vanuatu
countrycode           VUT
year                 1966
gdp            2.1116e+12
population          76413
Name: 1512, dtype: object)
(1513, countryname          Samoa
countrycode            WSM
year                  1966
gdp            1.23548e+10
population          130688
Name: 1513, dtype: object)
(1514, countryname         Kosovo
countrycode            XKX
year                  1966
gdp            1.23548e+10
population       1.106e+06
Name: 1514, dtype: object)
(1515, countryname    Yemen, Rep.
countrycode            YEM
year                  1966
gdp            1.23548e+10
population     5.74859e+06
Name: 1515, dtype: object)
(1516, countryname    South Africa
countrycode             ZAF
year                   1966
gdp             1.23548e+10
population      2.04864e+07
Name: 1516, dtype: object)
(1517, countryname         Zambia
countrycode            ZMB
year                  1966
gdp            1.26429e+09
population     3.67619e+06
Name: 1517, dtype: object)
(1518, countryname       Zimbabwe
countrycode            ZWE
year                  1966
gdp            1.28175e+09
population     4.55343e+06
Name: 1518, dtype: object)
(1519, countryname          Aruba
countrycode            ABW
year                  1967
gdp            1.67333e+09
population           58055
Name: 1519, dtype: object)
(1520, countryname    Afghanistan
countrycode            AFG
year                  1967
gdp            1.67333e+09
population     1.03726e+07
Name: 1520, dtype: object)
(1521, countryname         Angola
countrycode            AGO
year                  1967
gdp            3.03897e+10
population       6.415e+06
Name: 1521, dtype: object)
(1522, countryname        Albania
countrycode            ALB
year                  1967
gdp            3.03897e+10
population      1.9656e+06
Name: 1522, dtype: object)
(1523, countryname        Andorra
countrycode            AND
year                  1967
gdp            3.03897e+10
population           20758
Name: 1523, dtype: object)
(1524, countryname    United Arab Emirates
countrycode                     ARE
year                           1967
gdp                     3.03897e+10
population                   170283
Name: 1524, dtype: object)
(1525, countryname      Argentina
countrycode            ARG
year                  1967
gdp            3.03897e+10
population     2.29322e+07
Name: 1525, dtype: object)
(1526, countryname        Armenia
countrycode            ARM
year                  1967
gdp            3.03897e+10
population     2.33912e+06
Name: 1526, dtype: object)
(1527, countryname    American Samoa
countrycode               ASM
year                     1967
gdp               3.03897e+10
population              25116
Name: 1527, dtype: object)
(1528, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1967
gdp                    3.03897e+10
population                   63360
Name: 1528, dtype: object)
(1529, countryname      Australia
countrycode            AUS
year                  1967
gdp            3.03897e+10
population      1.1799e+07
Name: 1529, dtype: object)
(1530, countryname        Austria
countrycode            AUT
year                  1967
gdp            1.15794e+10
population       7.377e+06
Name: 1530, dtype: object)
(1531, countryname     Azerbaijan
countrycode            AZE
year                  1967
gdp            1.78297e+08
population     4.84387e+06
Name: 1531, dtype: object)
(1532, countryname        Burundi
countrycode            BDI
year                  1967
gdp            1.78297e+08
population     3.23402e+06
Name: 1532, dtype: object)
(1533, countryname        Belgium
countrycode            BEL
year                  1967
gdp             1.9992e+10
population     9.58099e+06
Name: 1533, dtype: object)
(1534, countryname          Benin
countrycode            BEN
year                  1967
gdp            3.06222e+08
population     2.73531e+06
Name: 1534, dtype: object)
(1535, countryname    Burkina Faso
countrycode             BFA
year                   1967
gdp             4.50754e+08
population      5.34302e+06
Name: 1535, dtype: object)
(1536, countryname     Bangladesh
countrycode            BGD
year                  1967
gdp            7.25358e+09
population     5.96207e+07
Name: 1536, dtype: object)
(1537, countryname       Bulgaria
countrycode            BGR
year                  1967
gdp            3.90196e+08
population     8.31023e+06
Name: 1537, dtype: object)
(1538, countryname        Bahrain
countrycode            BHR
year                  1967
gdp            3.90196e+08
population          196063
Name: 1538, dtype: object)
(1539, countryname    Bahamas, The
countrycode             BHS
year                   1967
gdp             3.90196e+08
population           152609
Name: 1539, dtype: object)
(1540, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1967
gdp                       4.73793e+07
population                3.63267e+06
Name: 1540, dtype: object)
(1541, countryname        Belarus
countrycode            BLR
year                  1967
gdp            4.73793e+07
population     8.78565e+06
Name: 1541, dtype: object)
(1542, countryname         Belize
countrycode            BLZ
year                  1967
gdp            4.73793e+07
population          112692
Name: 1542, dtype: object)
(1543, countryname        Bermuda
countrycode            BMU
year                  1967
gdp            1.55103e+08
population           52000
Name: 1543, dtype: object)
(1544, countryname        Bolivia
countrycode            BOL
year                  1967
gdp            1.08406e+09
population     4.23712e+06
Name: 1544, dtype: object)
(1545, countryname         Brazil
countrycode            BRA
year                  1967
gdp             2.5536e+09
population     8.81914e+07
Name: 1545, dtype: object)
(1546, countryname      Barbados
countrycode           BRB
year                 1967
gdp            2.5536e+09
population         236621
Name: 1546, dtype: object)
(1547, countryname    Brunei Darussalam
countrycode                  BRN
year                        1967
gdp                   1.3903e+08
population                112494
Name: 1547, dtype: object)
(1548, countryname        Bhutan
countrycode           BTN
year                 1967
gdp            2.5536e+09
population         270622
Name: 1548, dtype: object)
(1549, countryname       Botswana
countrycode            BWA
year                  1967
gdp            5.86464e+07
population          633154
Name: 1549, dtype: object)
(1550, countryname    Central African Republic
countrycode                         CAF
year                               1967
gdp                         1.63821e+08
population                   1.7186e+06
Name: 1550, dtype: object)
(1551, countryname         Canada
countrycode            CAN
year                  1967
gdp            6.47688e+10
population      2.0412e+07
Name: 1551, dtype: object)
(1552, countryname    Switzerland
countrycode            CHE
year                  1967
gdp              1.774e+10
population     5.99178e+06
Name: 1552, dtype: object)
(1553, countryname    Channel Islands
countrycode                CHI
year                      1967
gdp                 7.0132e+09
population              117474
Name: 1553, dtype: object)
(1554, countryname          Chile
countrycode            CHL
year                  1967
gdp             7.0132e+09
population     8.99732e+06
Name: 1554, dtype: object)
(1555, countryname          China
countrycode            CHN
year                  1967
gdp            7.28816e+10
population      7.5455e+08
Name: 1555, dtype: object)
(1556, countryname    Cote d'Ivoire
countrycode              CIV
year                    1967
gdp              1.08292e+09
population       4.65635e+06
Name: 1556, dtype: object)
(1557, countryname       Cameroon
countrycode            CMR
year                  1967
gdp            9.34079e+08
population     6.05854e+06
Name: 1557, dtype: object)
(1558, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1967
gdp                 2.37397e+08
population          1.83782e+07
Name: 1558, dtype: object)
(1559, countryname    Congo, Rep.
countrycode            COG
year                  1967
gdp            2.37397e+08
population      1.2517e+06
Name: 1559, dtype: object)
(1560, countryname       Colombia
countrycode            COL
year                  1967
gdp             5.7272e+09
population     2.03114e+07
Name: 1560, dtype: object)
(1561, countryname        Comoros
countrycode            COM
year                  1967
gdp            6.99457e+08
population          215897
Name: 1561, dtype: object)
(1562, countryname     Cabo Verde
countrycode            CPV
year                  1967
gdp            6.99457e+08
population          248747
Name: 1562, dtype: object)
(1563, countryname     Costa Rica
countrycode            CRI
year                  1967
gdp            6.99457e+08
population     1.69471e+06
Name: 1563, dtype: object)
(1564, countryname           Cuba
countrycode            CUB
year                  1967
gdp            1.27885e+10
population     8.26355e+06
Name: 1564, dtype: object)
(1565, countryname        Curacao
countrycode            CUW
year                  1967
gdp            1.27885e+10
population          138140
Name: 1565, dtype: object)
(1566, countryname    Cayman Islands
countrycode               CYM
year                     1967
gdp               1.27885e+10
population               8521
Name: 1566, dtype: object)
(1567, countryname         Cyprus
countrycode            CYP
year                  1967
gdp            1.27885e+10
population          591308
Name: 1567, dtype: object)
(1568, countryname    Czech Republic
countrycode               CZE
year                     1967
gdp               1.27885e+10
population         9.8529e+06
Name: 1568, dtype: object)
(1569, countryname        Germany
countrycode            DEU
year                  1967
gdp            1.27885e+10
population     7.69513e+07
Name: 1569, dtype: object)
(1570, countryname       Djibouti
countrycode            DJI
year                  1967
gdp            1.27885e+10
population          131397
Name: 1570, dtype: object)
(1571, countryname       Dominica
countrycode            DMA
year                  1967
gdp            1.27885e+10
population           67686
Name: 1571, dtype: object)
(1572, countryname        Denmark
countrycode            DNK
year                  1967
gdp            1.27885e+10
population     4.83535e+06
Name: 1572, dtype: object)
(1573, countryname    Dominican Republic
countrycode                   DOM
year                         1967
gdp                    1.0348e+09
population            4.12511e+06
Name: 1573, dtype: object)
(1574, countryname        Algeria
countrycode            DZA
year                  1967
gdp            3.37084e+09
population     1.33542e+07
Name: 1574, dtype: object)
(1575, countryname        Ecuador
countrycode            ECU
year                  1967
gdp             2.5536e+09
population     5.56606e+06
Name: 1575, dtype: object)
(1576, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1967
gdp                 5.57917e+09
population           3.2534e+07
Name: 1576, dtype: object)
(1577, countryname        Eritrea
countrycode            ERI
year                  1967
gdp            3.16471e+10
population      1.6742e+06
Name: 1577, dtype: object)
(1578, countryname          Spain
countrycode            ESP
year                  1967
gdp            3.16471e+10
population     3.26829e+07
Name: 1578, dtype: object)
(1579, countryname        Estonia
countrycode            EST
year                  1967
gdp            6.61332e+11
population     1.31895e+06
Name: 1579, dtype: object)
(1580, countryname       Ethiopia
countrycode            ETH
year                  1967
gdp            6.61332e+11
population     2.62812e+07
Name: 1580, dtype: object)
(1581, countryname        Finland
countrycode            FIN
year                  1967
gdp            9.36895e+09
population     4.60574e+06
Name: 1581, dtype: object)
(1582, countryname           Fiji
countrycode            FJI
year                  1967
gdp            1.62626e+08
population          487913
Name: 1582, dtype: object)
(1583, countryname         France
countrycode            FRA
year                  1967
gdp            1.19466e+11
population     5.09155e+07
Name: 1583, dtype: object)
(1584, countryname    Faroe Islands
countrycode              FRO
year                    1967
gdp              2.71544e+08
population             37768
Name: 1584, dtype: object)
(1585, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1967
gdp                      2.71544e+08
population                     56319
Name: 1585, dtype: object)
(1586, countryname          Gabon
countrycode            GAB
year                  1967
gdp            2.71544e+08
population          553823
Name: 1586, dtype: object)
(1587, countryname    United Kingdom
countrycode               GBR
year                     1967
gdp               1.11185e+11
population        5.49436e+07
Name: 1587, dtype: object)
(1588, countryname        Georgia
countrycode            GEO
year                  1967
gdp            1.74719e+09
population      4.0058e+06
Name: 1588, dtype: object)
(1589, countryname          Ghana
countrycode            GHA
year                  1967
gdp            1.74719e+09
population     8.05744e+06
Name: 1589, dtype: object)
(1590, countryname     Gibraltar
countrycode           GIB
year                 1967
gdp            1.4535e+09
population          27174
Name: 1590, dtype: object)
(1591, countryname         Guinea
countrycode            GIN
year                  1967
gdp            2.42934e+10
population     4.02349e+06
Name: 1591, dtype: object)
(1592, countryname    Gambia, The
countrycode            GMB
year                  1967
gdp            4.66954e+07
population          416339
Name: 1592, dtype: object)
(1593, countryname    Guinea-Bissau
countrycode              GNB
year                    1967
gdp              4.66954e+07
population            673462
Name: 1593, dtype: object)
(1594, countryname    Equatorial Guinea
countrycode                  GNQ
year                        1967
gdp                  7.23174e+07
population                293440
Name: 1594, dtype: object)
(1595, countryname         Greece
countrycode            GRC
year                  1967
gdp            9.13671e+09
population     8.68409e+06
Name: 1595, dtype: object)
(1596, countryname        Grenada
countrycode            GRD
year                  1967
gdp            9.13671e+09
population           94961
Name: 1596, dtype: object)
(1597, countryname      Greenland
countrycode            GRL
year                  1967
gdp            7.72229e+08
population           41900
Name: 1597, dtype: object)
(1598, countryname      Guatemala
countrycode            GTM
year                  1967
gdp             1.4535e+09
population     5.16061e+06
Name: 1598, dtype: object)
(1599, countryname          Guam
countrycode           GUM
year                 1967
gdp            1.4535e+09
population          78404
Name: 1599, dtype: object)
(1600, countryname         Guyana
countrycode            GUY
year                  1967
gdp            2.50176e+08
population          675871
Name: 1600, dtype: object)
(1601, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1967
gdp                     2.69247e+09
population               3.7228e+06
Name: 1601, dtype: object)
(1602, countryname       Honduras
countrycode            HND
year                  1967
gdp              5.981e+08
population     2.48641e+06
Name: 1602, dtype: object)
(1603, countryname        Croatia
countrycode            HRV
year                  1967
gdp            2.71544e+08
population       4.339e+06
Name: 1603, dtype: object)
(1604, countryname          Haiti
countrycode            HTI
year                  1967
gdp            2.61024e+08
population     4.44553e+06
Name: 1604, dtype: object)
(1605, countryname        Hungary
countrycode            HUN
year                  1967
gdp            8.11331e+10
population     1.02166e+07
Name: 1605, dtype: object)
(1606, countryname      Indonesia
countrycode            IDN
year                  1967
gdp            5.66776e+09
population     1.05907e+08
Name: 1606, dtype: object)
(1607, countryname    Isle of Man
countrycode            IMN
year                  1967
gdp            4.94662e+10
population           52118
Name: 1607, dtype: object)
(1608, countryname          India
countrycode            IND
year                  1967
gdp            4.94662e+10
population      5.1889e+08
Name: 1608, dtype: object)
(1609, countryname        Ireland
countrycode            IRL
year                  1967
gdp            3.34364e+09
population     2.90245e+06
Name: 1609, dtype: object)
(1610, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         1967
gdp                   7.55538e+09
population            2.63181e+07
Name: 1610, dtype: object)
(1611, countryname           Iraq
countrycode            IRQ
year                  1967
gdp            2.34052e+09
population      8.9474e+06
Name: 1611, dtype: object)
(1612, countryname        Iceland
countrycode            ISL
year                  1967
gdp            6.21226e+08
population          198751
Name: 1612, dtype: object)
(1613, countryname       Israel
countrycode          ISR
year                1967
gdp             4.03e+09
population     2.745e+06
Name: 1613, dtype: object)
(1614, countryname          Italy
countrycode            ITA

Name: 1708, dtype: object)
(1709, countryname       Thailand
countrycode            THA
year                  1967
gdp            5.63846e+09
population     3.37785e+07
Name: 1709, dtype: object)
(1710, countryname     Tajikistan
countrycode            TJK
year                  1967
gdp            5.63846e+09
population     2.66223e+06
Name: 1710, dtype: object)
(1711, countryname    Turkmenistan
countrycode             TKM
year                   1967
gdp             5.63846e+09
population      2.01176e+06
Name: 1711, dtype: object)
(1712, countryname    Timor-Leste
countrycode            TLS
year                  1967
gdp            6.78597e+10
population          569031
Name: 1712, dtype: object)
(1713, countryname          Tonga
countrycode            TON
year                  1967
gdp            6.78597e+10
population           79052
Name: 1713, dtype: object)
(1714, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1967
gdp                    7.61981e+08
population                  925909
Name: 1714, dtype: object)
(1715, countryname        Tunisia
countrycode            TUN
year                  1967
gdp            1.08571e+09
population     4.73763e+06
Name: 1715, dtype: object)
(1716, countryname         Turkey
countrycode            TUR
year                  1967
gdp            1.56667e+10
population      3.2478e+07
Name: 1716, dtype: object)
(1717, countryname         Tuvalu
countrycode            TUV
year                  1967
gdp            9.67647e+08
population            7040
Name: 1717, dtype: object)
(1718, countryname       Tanzania
countrycode            TZA
year                  1967
gdp            9.67647e+08
population      1.2406e+07
Name: 1718, dtype: object)
(1719, countryname         Uganda
countrycode            UGA
year                  1967
gdp            9.67647e+08
population     8.58068e+06
Name: 1719, dtype: object)
(1720, countryname        Ukraine
countrycode            UKR
year                  1967
gdp            2.81042e+11
population     4.60605e+07
Name: 1720, dtype: object)
(1721, countryname        Uruguay
countrycode            URY
year                  1967
gdp            1.59772e+09
population     2.75009e+06
Name: 1721, dtype: object)
(1722, countryname    United States
countrycode              USA
year                    1967
gdp                8.617e+11
population       1.98712e+08
Name: 1722, dtype: object)
(1723, countryname     Uzbekistan
countrycode            UZB
year                  1967
gdp            1.58352e+07
population     1.09174e+07
Name: 1723, dtype: object)
(1724, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1967
gdp                               1.58352e+07
population                              87736
Name: 1724, dtype: object)
(1725, countryname    Venezuela, RB
countrycode              VEN
year                    1967
gdp              1.03564e+10
population       1.05281e+07
Name: 1725, dtype: object)
(1726, countryname    British Virgin Islands
countrycode                       VGB
year                             1967
gdp                         1.154e+08
population                       9218
Name: 1726, dtype: object)
(1727, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1967
gdp                        1.154e+08
population                     49100
Name: 1727, dtype: object)
(1728, countryname        Vietnam
countrycode            VNM
year                  1967
gdp            2.25359e+12
population     4.00747e+07
Name: 1728, dtype: object)
(1729, countryname        Vanuatu
countrycode            VUT
year                  1967
gdp            2.25359e+12
population           78522
Name: 1729, dtype: object)
(1730, countryname          Samoa
countrycode            WSM
year                  1967
gdp            1.37771e+10
population          134193
Name: 1730, dtype: object)
(1731, countryname         Kosovo
countrycode            XKX
year                  1967
gdp            1.37771e+10
population       1.135e+06
Name: 1731, dtype: object)
(1732, countryname    Yemen, Rep.
countrycode            YEM
year                  1967
gdp            1.37771e+10
population     5.85864e+06
Name: 1732, dtype: object)
(1733, countryname    South Africa
countrycode             ZAF
year                   1967
gdp             1.37771e+10
population      2.10458e+07
Name: 1733, dtype: object)
(1734, countryname         Zambia
countrycode            ZMB
year                  1967
gdp              1.368e+09
population     3.79189e+06
Name: 1734, dtype: object)
(1735, countryname       Zimbabwe
countrycode            ZWE
year                  1967
gdp              1.397e+09
population     4.70004e+06
Name: 1735, dtype: object)
(1736, countryname          Aruba
countrycode            ABW
year                  1968
gdp            5.18457e+11
population           58386
Name: 1736, dtype: object)
(1737, countryname    Afghanistan
countrycode            AFG
year                  1968
gdp            1.37333e+09
population     1.06043e+07
Name: 1737, dtype: object)
(1738, countryname         Angola
countrycode            AGO
year                  1968
gdp            2.57607e+10
population     6.52379e+06
Name: 1738, dtype: object)
(1739, countryname        Albania
countrycode            ALB
year                  1968
gdp            2.57607e+10
population     2.02227e+06
Name: 1739, dtype: object)
(1740, countryname        Andorra
countrycode            AND
year                  1968
gdp            2.57607e+10
population           21890
Name: 1740, dtype: object)
(1741, countryname    United Arab Emirates
countrycode                     ARE
year                           1968
gdp                     3.26576e+10
population                   183194
Name: 1741, dtype: object)
(1742, countryname      Argentina
countrycode            ARG
year                  1968
gdp            3.26576e+10
population     2.32613e+07
Name: 1742, dtype: object)
(1743, countryname        Armenia
countrycode            ARM
year                  1968
gdp            3.26576e+10
population     2.40114e+06
Name: 1743, dtype: object)
(1744, countryname    American Samoa
countrycode               ASM
year                     1968
gdp               3.26576e+10
population              25885
Name: 1744, dtype: object)
(1745, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1968
gdp                    3.26576e+10
population                   64655
Name: 1745, dtype: object)
(1746, countryname      Australia
countrycode            AUS
year                  1968
gdp            3.26576e+10
population      1.2009e+07
Name: 1746, dtype: object)
(1747, countryname        Austria
countrycode            AUT
year                  1968
gdp            1.24406e+10
population      7.4154e+06
Name: 1747, dtype: object)
(1748, countryname     Azerbaijan
countrycode            AZE
year                  1968
gdp              1.832e+08
population     4.96024e+06
Name: 1748, dtype: object)
(1749, countryname        Burundi
countrycode            BDI
year                  1968
gdp              1.832e+08
population     3.31623e+06
Name: 1749, dtype: object)
(1750, countryname        Belgium
countrycode            BEL
year                  1968
gdp            2.13764e+10
population     9.61876e+06
Name: 1750, dtype: object)
(1751, countryname          Benin
countrycode            BEN
year                  1968
gdp            3.26323e+08
population     2.79159e+06
Name: 1751, dtype: object)
(1752, countryname    Burkina Faso
countrycode             BFA
year                   1968
gdp             4.60443e+08
population      5.43404e+06
Name: 1752, dtype: object)
(1753, countryname     Bangladesh
countrycode            BGD
year                  1968
gdp            7.48369e+09
population     6.15795e+07
Name: 1753, dtype: object)
(1754, countryname       Bulgaria
countrycode            BGR
year                  1968
gdp            4.44902e+08
population      8.3696e+06
Name: 1754, dtype: object)
(1755, countryname        Bahrain
countrycode            BHR
year                  1968
gdp            4.44902e+08
population          200653
Name: 1755, dtype: object)
(1756, countryname    Bahamas, The
countrycode             BHS
year                   1968
gdp             4.44902e+08
population           158627
Name: 1756, dtype: object)
(1757, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1968
gdp                       4.49102e+07
population                3.67545e+06
Name: 1757, dtype: object)
(1758, countryname        Belarus
countrycode            BLR
year                  1968
gdp            4.49102e+07
population     8.87455e+06
Name: 1758, dtype: object)
(1759, countryname         Belize
countrycode            BLZ
year                  1968
gdp            4.49102e+07
population          116061
Name: 1759, dtype: object)
(1760, countryname    Bermuda
countrycode        BMU
year              1968
gdp            1.5e+08
population       53000
Name: 1760, dtype: object)
(1761, countryname        Bolivia
countrycode            BOL
year                  1968
gdp            9.08875e+08
population     4.32406e+06
Name: 1761, dtype: object)
(1762, countryname         Brazil
countrycode            BRA
year                  1968
gdp            1.60819e+08
population     9.05571e+07
Name: 1762, dtype: object)
(1763, countryname       Barbados
countrycode            BRB
year                  1968
gdp            1.60819e+08
population          237199
Name: 1763, dtype: object)
(1764, countryname    Brunei Darussalam
countrycode                  BRN
year                        1968
gdp                  1.60819e+08
population                117950
Name: 1764, dtype: object)
(1765, countryname         Bhutan
countrycode            BTN
year                  1968
gdp            1.37333e+09
population          279515
Name: 1765, dtype: object)
(1766, countryname       Botswana
countrycode            BWA
year                  1968
gdp            6.62483e+07
population          652843
Name: 1766, dtype: object)
(1767, countryname    Central African Republic
countrycode                         CAF
year                               1968
gdp                         1.91767e+08
population                  1.75534e+06
Name: 1767, dtype: object)
(1768, countryname        Canada
countrycode           CAN
year                 1968
gdp            7.0759e+10
population     2.0744e+07
Name: 1768, dtype: object)
(1769, countryname    Switzerland
countrycode            CHE
year                  1968
gdp            1.89427e+10
population     6.06771e+06
Name: 1769, dtype: object)
(1770, countryname    Channel Islands
countrycode                CHI
year                      1968
gdp                7.16709e+09
population              118726
Name: 1770, dtype: object)
(1771, countryname          Chile
countrycode            CHL
year                  1968
gdp            7.16709e+09
population     9.18882e+06
Name: 1771, dtype: object)
(1772, countryname          China
countrycode            CHN
year                  1968
gdp            7.08465e+10
population      7.7451e+08
Name: 1772, dtype: object)
(1773, countryname    Cote d'Ivoire
countrycode              CIV
year                    1968
gdp              1.28128e+09
population       4.83428e+06
Name: 1773, dtype: object)
(1774, countryname       Cameroon
countrycode            CMR
year                  1968
gdp            1.05308e+09
population     6.20828e+06
Name: 1774, dtype: object)
(1775, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1968
gdp                 2.51247e+08
population          1.89132e+07
Name: 1775, dtype: object)
(1776, countryname    Congo, Rep.
countrycode            COG
year                  1968
gdp            2.51247e+08
population     1.28752e+06
Name: 1776, dtype: object)
(1777, countryname       Colombia
countrycode            COL
year                  1968
gdp            5.91846e+09
population     2.09051e+07
Name: 1777, dtype: object)
(1778, countryname        Comoros
countrycode            COM
year                  1968
gdp            7.73841e+08
population          220575
Name: 1778, dtype: object)
(1779, countryname     Cabo Verde
countrycode            CPV
year                  1968
gdp            7.73841e+08
population          257509
Name: 1779, dtype: object)
(1780, countryname     Costa Rica
countrycode            CRI
year                  1968
gdp            7.73841e+08
population     1.74687e+06
Name: 1780, dtype: object)
(1781, countryname           Cuba
countrycode            CUB
year                  1968
gdp            1.31965e+10
population     8.41333e+06
Name: 1781, dtype: object)
(1782, countryname        Curacao
countrycode            CUW
year                  1968
gdp            1.31965e+10
population          140298
Name: 1782, dtype: object)
(1783, countryname    Cayman Islands
countrycode               CYM
year                     1968
gdp               1.31965e+10
population               8631
Name: 1783, dtype: object)
(1784, countryname         Cyprus
countrycode            CYP
year                  1968
gdp            1.31965e+10
population          598493
Name: 1784, dtype: object)
(1785, countryname    Czech Republic
countrycode               CZE
year                     1968
gdp               1.31965e+10
population        9.87635e+06
Name: 1785, dtype: object)
(1786, countryname        Germany
countrycode            DEU
year                  1968
gdp            1.31965e+10
population     7.72943e+07
Name: 1786, dtype: object)
(1787, countryname       Djibouti
countrycode            DJI
year                  1968
gdp            1.31965e+10
population          140462
Name: 1787, dtype: object)
(1788, countryname       Dominica
countrycode            DMA
year                  1968
gdp            1.31965e+10
population           69040
Name: 1788, dtype: object)
(1789, countryname        Denmark
countrycode            DNK
year                  1968
gdp            1.31965e+10
population     4.86488e+06
Name: 1789, dtype: object)
(1790, countryname    Dominican Republic
countrycode                   DOM
year                         1968
gdp                    1.0791e+09
population            4.25002e+06
Name: 1790, dtype: object)
(1791, countryname        Algeria
countrycode            DZA
year                  1968
gdp            3.85212e+09
population     1.37444e+07
Name: 1791, dtype: object)
(1792, countryname        Ecuador
countrycode            ECU
year                  1968
gdp            2.58218e+09
population     5.73091e+06
Name: 1792, dtype: object)
(1793, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1968
gdp                 6.10911e+09
population          3.33773e+07
Name: 1793, dtype: object)
(1794, countryname        Eritrea
countrycode            ERI
year                  1968
gdp            2.48935e+10
population     1.71852e+06
Name: 1794, dtype: object)
(1795, countryname          Spain
countrycode            ESP
year                  1968
gdp            3.14755e+10
population     3.31131e+07
Name: 1795, dtype: object)
(1796, countryname        Estonia
countrycode            EST
year                  1968
gdp            6.87385e+11
population     1.33121e+06
Name: 1796, dtype: object)
(1797, countryname       Ethiopia
countrycode            ETH
year                  1968
gdp            6.87385e+11
population     2.69461e+07
Name: 1797, dtype: object)
(1798, countryname        Finland
countrycode            FIN
year                  1968
gdp            8.82303e+09
population     4.62647e+06
Name: 1798, dtype: object)
(1799, countryname           Fiji
countrycode            FJI
year                  1968
gdp            1.66953e+08
population          498892
Name: 1799, dtype: object)
(1800, countryname         France
countrycode            FRA
year                  1968
gdp            1.29847e+11
population     5.12761e+07
Name: 1800, dtype: object)
(1801, countryname    Faroe Islands
countrycode              FRO
year                    1968
gdp              2.94469e+08
population             38200
Name: 1801, dtype: object)
(1802, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1968
gdp                      2.94469e+08
population                     58403
Name: 1802, dtype: object)
(1803, countryname          Gabon
countrycode            GAB
year                  1968
gdp            2.94469e+08
population          565873
Name: 1803, dtype: object)
(1804, countryname    United Kingdom
countrycode               GBR
year                     1968
gdp               1.04703e+11
population        5.52117e+07
Name: 1804, dtype: object)
(1805, countryname        Georgia
countrycode            GEO
year                  1968
gdp            1.66691e+09
population      4.0423e+06
Name: 1805, dtype: object)
(1806, countryname          Ghana
countrycode            GHA
year                  1968
gdp            1.66691e+09
population     8.22102e+06
Name: 1806, dtype: object)
(1807, countryname     Gibraltar
countrycode           GIB
year                 1968
gdp            2.2975e+08
population          27694
Name: 1807, dtype: object)
(1808, countryname         Guinea
countrycode            GIN
year                  1968
gdp            2.48935e+10
population     4.09719e+06
Name: 1808, dtype: object)
(1809, countryname    Gambia, The
countrycode            GMB
year                  1968
gdp            4.11607e+07
population          425510
Name: 1809, dtype: object)
(1810, countryname    Guinea-Bissau
countrycode              GNB
year                    1968
gdp              4.11607e+07
population            685476
Name: 1810, dtype: object)
(1811, countryname    Equatorial Guinea
countrycode                  GNQ
year                        1968
gdp                  6.75143e+07
population                301353
Name: 1811, dtype: object)
(1812, countryname         Greece
countrycode            GRC
year                  1968
gdp            9.91514e+09
population     8.74076e+06
Name: 1812, dtype: object)
(1813, countryname        Grenada
countrycode            GRD
year                  1968
gdp            9.91514e+09
population           94868
Name: 1813, dtype: object)
(1814, countryname      Greenland
countrycode            GRL
year                  1968
gdp            9.91514e+09
population           43400
Name: 1814, dtype: object)
(1815, countryname      Guatemala
countrycode            GTM
year                  1968
gdp             1.6105e+09
population     5.31162e+06
Name: 1815, dtype: object)
(1816, countryname          Guam
countrycode           GUM
year                 1968
gdp            2.2975e+08
population          80217
Name: 1816, dtype: object)
(1817, countryname        Guyana
countrycode           GUY
year                 1968
gdp            2.2975e+08
population         686146
Name: 1817, dtype: object)
(1818, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1968
gdp                     2.71696e+09
population               3.8027e+06
Name: 1818, dtype: object)
(1819, countryname       Honduras
countrycode            HND
year                  1968
gdp              6.468e+08
population     2.56073e+06
Name: 1819, dtype: object)
(1820, countryname        Croatia
countrycode            HRV
year                  1968
gdp            3.14755e+10
population       4.364e+06
Name: 1820, dtype: object)
(1821, countryname          Haiti
countrycode            HTI
year                  1968
gdp            3.14755e+10
population     4.53423e+06
Name: 1821, dtype: object)
(1822, countryname        Hungary
countrycode            HUN

Name: 1922, dtype: object)
(1923, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1968
gdp                          4.5398e+08
population                         5559
Name: 1923, dtype: object)
(1924, countryname           Chad
countrycode            TCD
year                  1968
gdp             4.5398e+08
population     3.49935e+06
Name: 1924, dtype: object)
(1925, countryname           Togo
countrycode            TGO
year                  1968
gdp            2.41957e+08
population     1.94578e+06
Name: 1925, dtype: object)
(1926, countryname       Thailand
countrycode            THA
year                  1968
gdp            6.08101e+09
population     3.47909e+07
Name: 1926, dtype: object)
(1927, countryname     Tajikistan
countrycode            TJK
year                  1968
gdp            6.08101e+09
population     2.75089e+06
Name: 1927, dtype: object)
(1928, countryname    Turkmenistan
countrycode             TKM
year                   1968
gdp             6.08101e+09
population      2.07179e+06
Name: 1928, dtype: object)
(1929, countryname    Timor-Leste
countrycode            TLS
year                  1968
gdp            7.12276e+10
population          579807
Name: 1929, dtype: object)
(1930, countryname          Tonga
countrycode            TON
year                  1968
gdp            7.12276e+10
population           81097
Name: 1930, dtype: object)
(1931, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1968
gdp                      7.589e+08
population                  931468
Name: 1931, dtype: object)
(1932, countryname        Tunisia
countrycode            TUN
year                  1968
gdp            1.21467e+09
population     4.84217e+06
Name: 1932, dtype: object)
(1933, countryname         Turkey
countrycode            TUR
year                  1968
gdp               1.75e+10
population     3.32564e+07
Name: 1933, dtype: object)
(1934, countryname         Tuvalu
countrycode            TUV
year                  1968
gdp            1.03782e+09
population            7133
Name: 1934, dtype: object)
(1935, countryname       Tanzania
countrycode            TZA
year                  1968
gdp            1.03782e+09
population     1.27875e+07
Name: 1935, dtype: object)
(1936, countryname         Uganda
countrycode            UGA
year                  1968
gdp            1.03782e+09
population     8.87292e+06
Name: 1936, dtype: object)
(1937, countryname        Ukraine
countrycode            UKR
year                  1968
gdp            2.91633e+11
population      4.6409e+07
Name: 1937, dtype: object)
(1938, countryname        Uruguay
countrycode            URY
year                  1968
gdp            1.59368e+09
population     2.77477e+06
Name: 1938, dtype: object)
(1939, countryname    United States
countrycode              USA
year                    1968
gdp                9.425e+11
population       2.00706e+08
Name: 1939, dtype: object)
(1940, countryname     Uzbekistan
countrycode            UZB
year                  1968
gdp              1.535e+07
population     1.13231e+07
Name: 1940, dtype: object)
(1941, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1968
gdp                                 1.535e+07
population                              88613
Name: 1941, dtype: object)
(1942, countryname    Venezuela, RB
countrycode              VEN
year                    1968
gdp              1.13434e+10
population        1.0882e+07
Name: 1942, dtype: object)
(1943, countryname    British Virgin Islands
countrycode                       VGB
year                             1968
gdp                         1.738e+08
population                       9424
Name: 1943, dtype: object)
(1944, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1968
gdp                        1.738e+08
population                     55700
Name: 1944, dtype: object)
(1945, countryname        Vietnam
countrycode            VNM
year                  1968
gdp            2.42963e+12
population     4.11958e+07
Name: 1945, dtype: object)
(1946, countryname        Vanuatu
countrycode            VUT
year                  1968
gdp            2.42963e+12
population           80673
Name: 1946, dtype: object)
(1947, countryname          Samoa
countrycode            WSM
year                  1968
gdp            1.48943e+10
population          137506
Name: 1947, dtype: object)
(1948, countryname         Kosovo
countrycode            XKX
year                  1968
gdp            1.48943e+10
population       1.163e+06
Name: 1948, dtype: object)
(1949, countryname    Yemen, Rep.
countrycode            YEM
year                  1968
gdp            1.48943e+10
population     5.97141e+06
Name: 1949, dtype: object)
(1950, countryname    South Africa
countrycode             ZAF
year                   1968
gdp             1.48943e+10
population      2.16226e+07
Name: 1950, dtype: object)
(1951, countryname         Zambia
countrycode            ZMB
year                  1968
gdp            1.60586e+09
population     3.91208e+06
Name: 1951, dtype: object)
(1952, countryname       Zimbabwe
countrycode            ZWE
year                  1968
gdp             1.4796e+09
population     4.85143e+06
Name: 1952, dtype: object)
(1953, countryname          Aruba
countrycode            ABW
year                  1969
gdp            2.05249e+10
population           58726
Name: 1953, dtype: object)
(1954, countryname    Afghanistan
countrycode            AFG
year                  1969
gdp            1.40889e+09
population     1.08544e+07
Name: 1954, dtype: object)
(1955, countryname         Angola
countrycode            AGO
year                  1969
gdp            2.84342e+10
population     6.64263e+06
Name: 1955, dtype: object)
(1956, countryname        Albania
countrycode            ALB
year                  1969
gdp            2.84342e+10
population      2.0817e+06
Name: 1956, dtype: object)
(1957, countryname        Andorra
countrycode            AND
year                  1969
gdp            2.84342e+10
population           23058
Name: 1957, dtype: object)
(1958, countryname    United Arab Emirates
countrycode                     ARE
year                           1969
gdp                       3.662e+10
population                   203820
Name: 1958, dtype: object)
(1959, countryname     Argentina
countrycode           ARG
year                 1969
gdp             3.662e+10
population     2.3606e+07
Name: 1959, dtype: object)
(1960, countryname        Armenia
countrycode            ARM
year                  1969
gdp              3.662e+10
population     2.46292e+06
Name: 1960, dtype: object)
(1961, countryname    American Samoa
countrycode               ASM
year                     1969
gdp                 3.662e+10
population              26614
Name: 1961, dtype: object)
(1962, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1969
gdp                      3.662e+10
population                   65910
Name: 1962, dtype: object)
(1963, countryname     Australia
countrycode           AUS
year                 1969
gdp             3.662e+10
population     1.2263e+07
Name: 1963, dtype: object)
(1964, countryname        Austria
countrycode            AUT
year                  1969
gdp            1.35828e+10
population     7.44106e+06
Name: 1964, dtype: object)
(1965, countryname     Azerbaijan
countrycode            AZE
year                  1969
gdp            1.90206e+08
population     5.07193e+06
Name: 1965, dtype: object)
(1966, countryname        Burundi
countrycode            BDI
year                  1969
gdp            1.90206e+08
population     3.39175e+06
Name: 1966, dtype: object)
(1967, countryname        Belgium
countrycode            BEL
year                  1969
gdp            2.37107e+10
population     9.64603e+06
Name: 1967, dtype: object)
(1968, countryname          Benin
countrycode            BEN
year                  1969
gdp            3.30748e+08
population     2.85066e+06
Name: 1968, dtype: object)
(1969, countryname    Burkina Faso
countrycode             BFA
year                   1969
gdp             4.78299e+08
population      5.52817e+06
Name: 1969, dtype: object)
(1970, countryname     Bangladesh
countrycode            BGD
year                  1969
gdp            8.47101e+09
population     6.34174e+07
Name: 1970, dtype: object)
(1971, countryname       Bulgaria
countrycode            BGR
year                  1969
gdp            5.28137e+08
population     8.43417e+06
Name: 1971, dtype: object)
(1972, countryname        Bahrain
countrycode            BHR
year                  1969
gdp            5.28137e+08
population          206043
Name: 1972, dtype: object)
(1973, countryname    Bahamas, The
countrycode             BHS
year                   1969
gdp             5.28137e+08
population           164248
Name: 1973, dtype: object)
(1974, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1969
gdp                       4.73054e+07
population                3.71747e+06
Name: 1974, dtype: object)
(1975, countryname        Belarus
countrycode            BLR
year                  1969
gdp            4.73054e+07
population      8.9603e+06
Name: 1975, dtype: object)
(1976, countryname         Belize
countrycode            BLZ
year                  1969
gdp            4.73054e+07
population          119261
Name: 1976, dtype: object)
(1977, countryname      Bermuda
countrycode          BMU
year                1969
gdp            1.649e+08
population         54000
Name: 1977, dtype: object)
(1978, countryname        Bolivia
countrycode            BOL
year                  1969
gdp            9.64616e+08
population     4.41359e+06
Name: 1978, dtype: object)
(1979, countryname         Brazil
countrycode            BRA
year                  1969
gdp            1.61211e+08
population     9.29351e+07
Name: 1979, dtype: object)
(1980, countryname       Barbados
countrycode            BRB
year                  1969
gdp            1.61211e+08
population          237913
Name: 1980, dtype: object)
(1981, countryname    Brunei Darussalam
countrycode                  BRN
year                        1969
gdp                  1.61211e+08
population                123653
Name: 1981, dtype: object)
(1982, countryname         Bhutan
countrycode            BTN
year                  1969
gdp            3.30748e+08
population          288774
Name: 1982, dtype: object)
(1983, countryname       Botswana
countrycode            BWA
year                  1969
gdp            7.73569e+07
population          673640
Name: 1983, dtype: object)
(1984, countryname    Central African Republic
countrycode                         CAF
year                               1969
gdp                         1.88039e+08
population                  1.79222e+06
Name: 1984, dtype: object)
(1985, countryname         Canada
countrycode            CAN
year                  1969
gdp            7.78875e+10
population      2.1028e+07
Name: 1985, dtype: object)
(1986, countryname    Switzerland
countrycode            CHE
year                  1969
gdp            2.05249e+10
population     6.13639e+06
Name: 1986, dtype: object)
(1987, countryname    Channel Islands
countrycode                CHI
year                      1969
gdp                8.37709e+09
population              119972
Name: 1987, dtype: object)
(1988, countryname          Chile
countrycode            CHL
year                  1969
gdp            8.37709e+09
population     9.37824e+06
Name: 1988, dtype: object)
(1989, countryname          China
countrycode            CHN
year                  1969
gdp            7.97059e+10
population     7.96025e+08
Name: 1989, dtype: object)
(1990, countryname    Cote d'Ivoire
countrycode              CIV
year                    1969
gdp              1.36136e+09
population       5.02797e+06
Name: 1990, dtype: object)
(1991, countryname       Cameroon
countrycode            CMR
year                  1969
gdp            1.15242e+09
population     6.36457e+06
Name: 1991, dtype: object)
(1992, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1969
gdp                  2.6504e+08
population          1.94589e+07
Name: 1992, dtype: object)
(1993, countryname    Congo, Rep.
countrycode            COG
year                  1969
gdp             2.6504e+08
population     1.32515e+06
Name: 1993, dtype: object)
(1994, countryname       Colombia
countrycode            COL
year                  1969
gdp            6.40543e+09
population     2.14909e+07
Name: 1994, dtype: object)
(1995, countryname       Comoros
countrycode           COM
year                 1969
gdp            8.5363e+08
population         225325
Name: 1995, dtype: object)
(1996, countryname    Cabo Verde
countrycode           CPV
year                 1969
gdp            8.5363e+08
population         264909
Name: 1996, dtype: object)
(1997, countryname     Costa Rica
countrycode            CRI
year                  1969
gdp             8.5363e+08
population     1.79831e+06
Name: 1997, dtype: object)
(1998, countryname           Cuba
countrycode            CUB
year                  1969
gdp            1.50094e+10
population     8.56319e+06
Name: 1998, dtype: object)
(1999, countryname        Curacao
countrycode            CUW
year                  1969
gdp            1.50094e+10
population          142581
Name: 1999, dtype: object)
(2000, countryname    Cayman Islands
countrycode               CYM
year                     1969
gdp               1.50094e+10
population               8827
Name: 2000, dtype: object)
(2001, countryname         Cyprus
countrycode            CYP
year                  1969
gdp            1.50094e+10
population          606113
Name: 2001, dtype: object)
(2002, countryname    Czech Republic
countrycode               CZE
year                     1969
gdp               1.50094e+10
population        9.89658e+06
Name: 2002, dtype: object)
(2003, countryname        Germany
countrycode            DEU
year                  1969
gdp            1.50094e+10
population     7.79097e+07
Name: 2003, dtype: object)
(2004, countryname       Djibouti
countrycode            DJI
year                  1969
gdp            1.50094e+10
population          149887
Name: 2004, dtype: object)
(2005, countryname       Dominica
countrycode            DMA
year                  1969
gdp            1.50094e+10
population           70213
Name: 2005, dtype: object)
(2006, countryname        Denmark
countrycode            DNK
year                  1969
gdp            1.50094e+10
population     4.89186e+06
Name: 2006, dtype: object)
(2007, countryname    Dominican Republic
countrycode                   DOM
year                         1969
gdp                    1.2305e+09
population            4.37605e+06
Name: 2007, dtype: object)
(2008, countryname        Algeria
countrycode            DZA
year                  1969
gdp            4.25722e+09
population     1.41444e+07
Name: 2008, dtype: object)
(2009, countryname        Ecuador
countrycode            ECU
year                  1969
gdp            3.11217e+09
population     5.89984e+06
Name: 2009, dtype: object)
(2010, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1969
gdp                 6.86174e+09
population          3.42168e+07
Name: 2010, dtype: object)
(2011, countryname        Eritrea
countrycode            ERI
year                  1969
gdp            6.72085e+10
population     1.76434e+06
Name: 2011, dtype: object)
(2012, countryname          Spain
countrycode            ESP
year                  1969
gdp            3.60387e+10
population     3.34411e+07
Name: 2012, dtype: object)
(2013, countryname        Estonia
countrycode            EST
year                  1969
gdp            7.54985e+11
population     1.34525e+06
Name: 2013, dtype: object)
(2014, countryname       Ethiopia
countrycode            ETH
year                  1969
gdp            7.54985e+11
population     2.76542e+07
Name: 2014, dtype: object)
(2015, countryname        Finland
countrycode            FIN
year                  1969
gdp            1.00708e+10
population     4.62378e+06
Name: 2015, dtype: object)
(2016, countryname           Fiji
countrycode            FJI
year                  1969
gdp            1.82182e+08
population          509658
Name: 2016, dtype: object)
(2017, countryname         France
countrycode            FRA
year                  1969
gdp            1.40725e+11
population     5.16383e+07
Name: 2017, dtype: object)
(2018, countryname    Faroe Islands
countrycode              FRO
year                    1969
gdp              3.18125e+08
population             38646
Name: 2018, dtype: object)
(2019, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1969
gdp                      3.60387e+10
population                     60170
Name: 2019, dtype: object)
(2020, countryname          Gabon
countrycode            GAB
year                  1969
gdp            3.18125e+08
population          578108
Name: 2020, dtype: object)
(2021, countryname    United Kingdom
countrycode               GBR
year                     1969
gdp               1.12677e+11
population        5.54418e+07
Name: 2021, dtype: object)
(2022, countryname        Georgia
countrycode            GEO
year                  1969
gdp            1.96205e+09
population      4.0803e+06
Name: 2022, dtype: object)
(2023, countryname          Ghana
countrycode            GHA
year                  1969
gdp            1.96205e+09
population     8.39735e+06
Name: 2023, dtype: object)
(2024, countryname      Gibraltar
countrycode            GIB
year                  1969
gdp            3.60387e+10
population           28159
Name: 2024, dtype: object)
(2025, countryname         Guinea
countrycode            GIN
year                  1969
gdp            3.60387e+10
population       4.164e+06
Name: 2025, dtype: object)
(2026, countryname    Gambia, The
countrycode            GMB
year                  1969
gdp            4.51687e+07
population          435798
Name: 2026, dtype: object)
(2027, countryname    Guinea-Bissau
countrycode              GNB
year                    1969
gdp               1.7154e+09
population            698338
Name: 2027, dtype: object)
(2028, countryname    Equatorial Guinea
countrycode                  GNQ
year                        1969
gdp                  6.72257e+07
population                306233
Name: 2028, dtype: object)
(2029, countryname         Greece
countrycode            GRC
year                  1969
gdp            1.12661e+10
population     8.77276e+06
Name: 2029, dtype: object)
(2030, countryname        Grenada
countrycode            GRD
year                  1969
gdp            1.12661e+10
population           94682
Name: 2030, dtype: object)
(2031, countryname      Greenland
countrycode            GRL
year                  1969
gdp            1.12661e+10
population           44900
Name: 2031, dtype: object)
(2032, countryname      Guatemala
countrycode            GTM
year                  1969
gdp             1.7154e+09
population     5.46551e+06
Name: 2032, dtype: object)
(2033, countryname           Guam
countrycode            GUM
year                  1969
gdp            1.12661e+10
population           82040
Name: 2033, dtype: object)
(2034, countryname       Guyana
countrycode          GUY
year                1969
gdp            2.493e+08
population        695745
Name: 2034, dtype: object)
(2035, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1969
gdp                     3.18974e+09
population               3.8639e+06
Name: 2035, dtype: object)

Name: 2129, dtype: object)
(2130, countryname    South Sudan
countrycode            SSD
year                  1969
gdp            4.98356e+10
population     3.56446e+06
Name: 2130, dtype: object)
(2131, countryname    Sao Tome and Principe
countrycode                      STP
year                            1969
gdp                       2.3345e+08
population                     72241
Name: 2131, dtype: object)
(2132, countryname      Suriname
countrycode           SUR
year                 1969
gdp            2.3345e+08
population         366848
Name: 2132, dtype: object)
(2133, countryname    Slovak Republic
countrycode                SVK
year                      1969
gdp                3.16492e+10
population         4.51861e+06
Name: 2133, dtype: object)
(2134, countryname       Slovenia
countrycode            SVN
year                  1969
gdp            3.16492e+10
population     1.71387e+06
Name: 2134, dtype: object)
(2135, countryname         Sweden
countrycode            SWE
year                  1969
gdp            3.16492e+10
population     7.96807e+06
Name: 2135, dtype: object)
(2136, countryname      Swaziland
countrycode            SWZ
year                  1969
gdp            1.05418e+08
population          433588
Name: 2136, dtype: object)
(2137, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1969
gdp                           1.6452e+07
population                         52365
Name: 2137, dtype: object)
(2138, countryname    Seychelles
countrycode           SYC
year                 1969
gdp            1.6452e+07
population          52365
Name: 2138, dtype: object)
(2139, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1969
gdp                     2.24501e+09
population              6.13905e+06
Name: 2139, dtype: object)
(2140, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1969
gdp                         4.71636e+08
population                         5571
Name: 2140, dtype: object)
(2141, countryname           Chad
countrycode            TCD
year                  1969
gdp            4.71636e+08
population     3.56838e+06
Name: 2141, dtype: object)
(2142, countryname           Togo
countrycode            TGO
year                  1969
gdp            2.67732e+08
population     2.03491e+06
Name: 2142, dtype: object)
(2143, countryname       Thailand
countrycode            THA
year                  1969
gdp            6.69534e+09
population     3.58268e+07
Name: 2143, dtype: object)
(2144, countryname     Tajikistan
countrycode            TJK
year                  1969
gdp              1.887e+08
population     2.84023e+06
Name: 2144, dtype: object)
(2145, countryname    Turkmenistan
countrycode             TKM
year                   1969
gdp               1.887e+08
population       2.1328e+06
Name: 2145, dtype: object)
(2146, countryname    Timor-Leste
countrycode            TLS
year                  1969
gdp              1.887e+08
population          591739
Name: 2146, dtype: object)
(2147, countryname          Tonga
countrycode            TON
year                  1969
gdp            7.81994e+10
population           82877
Name: 2147, dtype: object)
(2148, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1969
gdp                      7.792e+08
population                  937848
Name: 2148, dtype: object)
(2149, countryname        Tunisia
countrycode            TUN
year                  1969
gdp             1.2899e+09
population     4.95015e+06
Name: 2149, dtype: object)
(2150, countryname         Turkey
countrycode            TUR
year                  1969
gdp            1.94667e+10
population     3.40554e+07
Name: 2150, dtype: object)
(2151, countryname         Tuvalu
countrycode            TUV
year                  1969
gdp            1.16905e+09
population            7214
Name: 2151, dtype: object)
(2152, countryname       Tanzania
countrycode            TZA
year                  1969
gdp            1.16905e+09
population     1.31866e+07
Name: 2152, dtype: object)
(2153, countryname         Uganda
countrycode            UGA
year                  1969
gdp            1.16905e+09
population     9.16283e+06
Name: 2153, dtype: object)
(2154, countryname        Ukraine
countrycode            UKR
year                  1969
gdp            3.24344e+11
population     4.67467e+07
Name: 2154, dtype: object)
(2155, countryname        Uruguay
countrycode            URY
year                  1969
gdp            2.00444e+09
population     2.79505e+06
Name: 2155, dtype: object)
(2156, countryname    United States
countrycode              USA
year                    1969
gdp               1.0199e+12
population       2.02677e+08
Name: 2156, dtype: object)
(2157, countryname     Uzbekistan
countrycode            UZB
year                  1969
gdp              1.665e+07
population     1.17238e+07
Name: 2157, dtype: object)
(2158, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1969
gdp                                 1.665e+07
population                              89516
Name: 2158, dtype: object)
(2159, countryname    Venezuela, RB
countrycode              VEN
year                    1969
gdp               1.1795e+10
population       1.12355e+07
Name: 2159, dtype: object)
(2160, countryname    British Virgin Islands
countrycode                       VGB
year                             1969
gdp                         2.113e+08
population                       9621
Name: 2160, dtype: object)
(2161, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1969
gdp                        2.113e+08
population                     60300
Name: 2161, dtype: object)
(2162, countryname        Vietnam
countrycode            VNM
year                  1969
gdp             2.6722e+12
population     4.23097e+07
Name: 2162, dtype: object)
(2163, countryname       Vanuatu
countrycode           VUT
year                 1969
gdp            2.6722e+12
population          82940
Name: 2163, dtype: object)
(2164, countryname          Samoa
countrycode            WSM
year                  1969
gdp            1.67801e+10
population          140518
Name: 2164, dtype: object)
(2165, countryname         Kosovo
countrycode            XKX
year                  1969
gdp            1.67801e+10
population       1.191e+06
Name: 2165, dtype: object)
(2166, countryname    Yemen, Rep.
countrycode            YEM
year                  1969
gdp            1.67801e+10
population     6.08362e+06
Name: 2166, dtype: object)
(2167, countryname    South Africa
countrycode             ZAF
year                   1969
gdp             1.67801e+10
population      2.22199e+07
Name: 2167, dtype: object)
(2168, countryname         Zambia
countrycode            ZMB
year                  1969
gdp            1.96571e+09
population     4.03892e+06
Name: 2168, dtype: object)
(2169, countryname       Zimbabwe
countrycode            ZWE
year                  1969
gdp              1.748e+09
population     5.00951e+06
Name: 2169, dtype: object)
(2170, countryname          Aruba
countrycode            ABW
year                  1970
gdp            1.74889e+09
population           59063
Name: 2170, dtype: object)
(2171, countryname    Afghanistan
countrycode            AFG
year                  1970
gdp            1.74889e+09
population     1.11261e+07
Name: 2171, dtype: object)
(2172, countryname         Angola
countrycode            AGO
year                  1970
gdp            7.86192e+07
population     6.77638e+06
Name: 2172, dtype: object)
(2173, countryname        Albania
countrycode            ALB
year                  1970
gdp            7.86192e+07
population     2.13548e+06
Name: 2173, dtype: object)
(2174, countryname        Andorra
countrycode            AND
year                  1970
gdp            7.86192e+07
population           24276
Name: 2174, dtype: object)
(2175, countryname    United Arab Emirates
countrycode                     ARE
year                           1970
gdp                     4.12611e+10
population                   235499
Name: 2175, dtype: object)
(2176, countryname      Argentina
countrycode            ARG
year                  1970
gdp            4.12611e+10
population     2.39731e+07
Name: 2176, dtype: object)
(2177, countryname        Armenia
countrycode            ARM
year                  1970
gdp            4.12611e+10
population     2.52506e+06
Name: 2177, dtype: object)
(2178, countryname    American Samoa
countrycode               ASM
year                     1970
gdp               4.12611e+10
population              27292
Name: 2178, dtype: object)
(2179, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1970
gdp                    4.12611e+10
population                   67098
Name: 2179, dtype: object)
(2180, countryname      Australia
countrycode            AUS
year                  1970
gdp            4.12611e+10
population      1.2507e+07
Name: 2180, dtype: object)
(2181, countryname        Austria
countrycode            AUT
year                  1970
gdp             1.5373e+10
population     7.46709e+06
Name: 2181, dtype: object)
(2182, countryname     Azerbaijan
countrycode            AZE
year                  1970
gdp            1.00401e+12
population     5.18002e+06
Name: 2182, dtype: object)
(2183, countryname        Burundi
countrycode            BDI
year                  1970
gdp            2.42733e+08
population     3.45561e+06
Name: 2183, dtype: object)
(2184, countryname        Belgium
countrycode            BEL
year                  1970
gdp            2.68491e+10
population     9.65555e+06
Name: 2184, dtype: object)
(2185, countryname          Benin
countrycode            BEN
year                  1970
gdp            3.33628e+08
population     2.91234e+06
Name: 2185, dtype: object)
(2186, countryname    Burkina Faso
countrycode             BFA
year                   1970
gdp             4.58404e+08
population       5.6246e+06
Name: 2186, dtype: object)
(2187, countryname     Bangladesh
countrycode            BGD
year                  1970
gdp            8.99272e+09
population     6.50478e+07
Name: 2187, dtype: object)
(2188, countryname       Bulgaria
countrycode            BGR
year                  1970
gdp            5.38423e+08
population     8.48957e+06
Name: 2188, dtype: object)
(2189, countryname        Bahrain
countrycode            BHR
year                  1970
gdp            5.38423e+08
population          212605
Name: 2189, dtype: object)
(2190, countryname    Bahamas, The
countrycode             BHS
year                   1970
gdp             5.38423e+08
population           169354
Name: 2190, dtype: object)
(2191, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1970
gdp                       5.32335e+07
population                3.76053e+06
Name: 2191, dtype: object)
(2192, countryname        Belarus
countrycode            BLR
year                  1970
gdp            5.32335e+07
population        9.04e+06
Name: 2192, dtype: object)
(2193, countryname         Belize
countrycode            BLZ
year                  1970
gdp            5.32335e+07
population          122182
Name: 2193, dtype: object)
(2194, countryname      Bermuda
countrycode          BMU
year                1970
gdp            1.863e+08
population         55000
Name: 2194, dtype: object)
(2195, countryname        Bolivia
countrycode            BOL
year                  1970
gdp            1.01717e+09
population     4.50578e+06
Name: 2195, dtype: object)
(2196, countryname         Brazil
countrycode            BRA
year                  1970
gdp             1.7908e+08
population     9.53268e+07
Name: 2196, dtype: object)
(2197, countryname      Barbados
countrycode           BRB
year                 1970
gdp            1.7908e+08
population         238848
Name: 2197, dtype: object)
(2198, countryname    Brunei Darussalam
countrycode                  BRN
year                        1970
gdp                   1.7908e+08
population                129583
Name: 2198, dtype: object)
(2199, countryname         Bhutan
countrycode            BTN
year                  1970
gdp            1.74889e+09
population          298301
Name: 2199, dtype: object)
(2200, countryname       Botswana
countrycode            BWA
year                  1970
gdp            9.62451e+07
population          695597
Name: 2200, dtype: object)
(2201, countryname    Central African Republic
countrycode                         CAF
year                               1970
gdp                         1.89107e+08
population                  1.82871e+06
Name: 2201, dtype: object)
(2202, countryname         Canada
countrycode            CAN
year                  1970
gdp            8.78961e+10
population      2.1324e+07
Name: 2202, dtype: object)
(2203, countryname    Switzerland
countrycode            CHE
year                  1970
gdp            2.05249e+10
population     6.18088e+06
Name: 2203, dtype: object)
(2204, countryname    Channel Islands
countrycode                CHI
year                      1970
gdp                9.12631e+09
population              121197
Name: 2204, dtype: object)
(2205, countryname          Chile
countrycode            CHL
year                  1970
gdp            9.12631e+09
population     9.56386e+06
Name: 2205, dtype: object)
(2206, countryname          China
countrycode            CHN
year                  1970
gdp             9.2603e+10
population     8.18315e+08
Name: 2206, dtype: object)
(2207, countryname    Cote d'Ivoire
countrycode              CIV
year                    1970
gdp              1.45548e+09
population        5.2424e+06
Name: 2207, dtype: object)
(2208, countryname       Cameroon
countrycode            CMR
year                  1970
gdp               1.16e+09
population     6.52764e+06
Name: 2208, dtype: object)
(2209, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1970
gdp                 2.74961e+08
population          2.00099e+07
Name: 2209, dtype: object)
(2210, countryname    Congo, Rep.
countrycode            COG
year                  1970
gdp            2.74961e+08
population     1.36481e+06
Name: 2210, dtype: object)
(2211, countryname       Colombia
countrycode            COL
year                  1970
gdp            7.19836e+09
population     2.20612e+07
Name: 2211, dtype: object)
(2212, countryname       Comoros
countrycode           COM
year                 1970
gdp            9.8483e+08
population         230054
Name: 2212, dtype: object)
(2213, countryname    Cabo Verde
countrycode           CPV
year                 1970
gdp            9.8483e+08
population         270198
Name: 2213, dtype: object)
(2214, countryname     Costa Rica
countrycode            CRI
year                  1970
gdp             9.8483e+08
population     1.84887e+06
Name: 2214, dtype: object)
(2215, countryname           Cuba
countrycode            CUB
year                  1970
gdp            5.69301e+09
population     8.71512e+06
Name: 2215, dtype: object)
(2216, countryname        Curacao
countrycode            CUW
year                  1970
gdp            2.15022e+11
population          144739
Name: 2216, dtype: object)
(2217, countryname    Cayman Islands
countrycode               CYM
year                     1970
gdp               2.15022e+11
population               9144
Name: 2217, dtype: object)
(2218, countryname         Cyprus
countrycode            CYP
year                  1970
gdp            2.15022e+11
population          613621
Name: 2218, dtype: object)
(2219, countryname    Czech Republic
countrycode               CZE
year                     1970
gdp               2.15022e+11
population        9.85807e+06
Name: 2219, dtype: object)
(2220, countryname        Germany
countrycode            DEU
year                  1970
gdp            2.15022e+11
population     7.81693e+07
Name: 2220, dtype: object)
(2221, countryname       Djibouti
countrycode            DJI
year                  1970
gdp            1.70755e+10
population          159659
Name: 2221, dtype: object)
(2222, countryname       Dominica
countrycode            DMA
year                  1970
gdp            1.70755e+10
population           71073
Name: 2222, dtype: object)
(2223, countryname        Denmark
countrycode            DNK
year                  1970
gdp            1.70755e+10
population     4.92876e+06
Name: 2223, dtype: object)
(2224, countryname    Dominican Republic
countrycode                   DOM
year                         1970
gdp                    1.4854e+09
population            4.50311e+06
Name: 2224, dtype: object)
(2225, countryname        Algeria
countrycode            DZA
year                  1970
gdp            4.86349e+09
population       1.455e+07
Name: 2225, dtype: object)
(2226, countryname        Ecuador
countrycode            ECU
year                  1970
gdp             2.8625e+09
population     6.07253e+06
Name: 2226, dtype: object)
(2227, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       1970
gdp                 7.68249e+09
population          3.50463e+07
Name: 2227, dtype: object)
(2228, countryname        Eritrea
countrycode            ERI
year                  1970
gdp            8.54807e+11
population     1.81188e+06
Name: 2228, dtype: object)
(2229, countryname          Spain
countrycode            ESP
year                  1970
gdp            4.08817e+10
population     3.38145e+07
Name: 2229, dtype: object)
(2230, countryname        Estonia
countrycode            EST
year                  1970
gdp            8.54807e+11
population     1.36008e+06
Name: 2230, dtype: object)
(2231, countryname       Ethiopia
countrycode            ETH
year                  1970
gdp            8.54807e+11
population     2.84151e+07
Name: 2231, dtype: object)
(2232, countryname        Finland
countrycode            FIN
year                  1970
gdp             1.1366e+10
population     4.60631e+06
Name: 2232, dtype: object)
(2233, countryname           Fiji
countrycode            FJI
year                  1970
gdp            2.19878e+08
population          520529
Name: 2233, dtype: object)
(2234, countryname         France
countrycode            FRA
year                  1970
gdp            1.48456e+11
population     5.20351e+07
Name: 2234, dtype: object)
(2235, countryname    Faroe Islands
countrycode              FRO
year                    1970
gdp              3.23802e+08
population             39083
Name: 2235, dtype: object)
(2236, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            1970
gdp                      3.23802e+08
population                     61431
Name: 2236, dtype: object)
(2237, countryname          Gabon
countrycode            GAB
year                  1970
gdp            3.23802e+08
population          590118
Name: 2237, dtype: object)
(2238, countryname    United Kingdom
countrycode               GBR
year                     1970
gdp               1.30672e+11
population        5.56632e+07
Name: 2238, dtype: object)
(2239, countryname        Georgia
countrycode            GEO
year                  1970
gdp            2.21503e+09
population      4.1199e+06
Name: 2239, dtype: object)
(2240, countryname          Ghana
countrycode            GHA
year                  1970
gdp            2.21503e+09
population     8.59698e+06
Name: 2240, dtype: object)
(2241, countryname      Gibraltar
countrycode            GIB
year                  1970
gdp            4.08817e+10
population           28560
Name: 2241, dtype: object)
(2242, countryname         Guinea
countrycode            GIN

Name: 2322, dtype: object)
(2323, countryname    Philippines
countrycode            PHL
year                  1970
gdp             6.6872e+09
population     3.58047e+07
Name: 2323, dtype: object)
(2324, countryname          Palau
countrycode            PLW
year                  1970
gdp            6.45537e+08
population           11480
Name: 2324, dtype: object)
(2325, countryname    Papua New Guinea
countrycode                 PNG
year                       1970
gdp                 6.45537e+08
population          2.52759e+06
Name: 2325, dtype: object)
(2326, countryname         Poland
countrycode            POL
year                  1970
gdp            1.89042e+10
population     3.26643e+07
Name: 2326, dtype: object)
(2327, countryname    Puerto Rico
countrycode            PRI
year                  1970
gdp             5.0347e+09
population       2.718e+06
Name: 2327, dtype: object)
(2328, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1970
gdp                          8.10903e+09
population                   1.44104e+07
Name: 2328, dtype: object)
(2329, countryname       Portugal
countrycode            PRT
year                  1970
gdp            8.10903e+09
population     8.68043e+06
Name: 2329, dtype: object)
(2330, countryname       Paraguay
countrycode            PRY
year                  1970
gdp            5.48758e+08
population     2.47411e+06
Name: 2330, dtype: object)
(2331, countryname    West Bank and Gaza
countrycode                   PSE
year                         1970
gdp                   3.86417e+09
population            1.15204e+06
Name: 2331, dtype: object)
(2332, countryname    French Polynesia
countrycode                 PYF
year                       1970
gdp                 2.54036e+08
population               110495
Name: 2332, dtype: object)
(2333, countryname          Qatar
countrycode            QAT
year                  1970
gdp            3.01791e+08
population          109514
Name: 2333, dtype: object)
(2334, countryname        Romania
countrycode            ROU
year                  1970
gdp            5.98284e+10
population     2.02504e+07
Name: 2334, dtype: object)
(2335, countryname    Russian Federation
countrycode                   RUS
year                         1970
gdp                   8.47236e+10
population            1.30404e+08
Name: 2335, dtype: object)
(2336, countryname         Rwanda
countrycode            RWA
year                  1970
gdp              2.199e+08
population     3.75454e+06
Name: 2336, dtype: object)
(2337, countryname    Saudi Arabia
countrycode             SAU
year                   1970
gdp             5.37733e+09
population      5.83639e+06
Name: 2337, dtype: object)
(2338, countryname          Sudan
countrycode            SDN
year                  1970
gdp            2.43767e+09
population     1.02817e+07
Name: 2338, dtype: object)
(2339, countryname        Senegal
countrycode            SEN
year                  1970
gdp            1.02483e+09
population     4.25750e+06
Name: 2339, dtype: object)
(2340, countryname      Singapore
countrycode            SGP
year                  1970
gdp            1.91951e+09
population      2.0745e+06
Name: 2340, dtype: object)
(2341, countryname    Solomon Islands
countrycode                SLB
year                      1970
gdp                2.86064e+07
population              160290
Name: 2341, dtype: object)
(2342, countryname    Sierra Leone
countrycode             SLE
year                   1970
gdp              4.3441e+08
population      2.69226e+06
Name: 2342, dtype: object)
(2343, countryname    El Salvador
countrycode            SLV
year                  1970
gdp            1.13292e+09
population      3.6686e+06
Name: 2343, dtype: object)
(2344, countryname     San Marino
countrycode            SMR
year                  1970
gdp            5.98127e+10
population           19138
Name: 2344, dtype: object)
(2345, countryname        Somalia
countrycode            SOM
year                  1970
gdp            5.98127e+10
population     3.44455e+06
Name: 2345, dtype: object)
(2346, countryname         Serbia
countrycode            SRB
year                  1970
gdp            5.98127e+10
population     2.92875e+08
Name: 2346, dtype: object)
(2347, countryname    South Sudan
countrycode            SSD
year                  1970
gdp            5.98284e+10
population     3.64771e+06
Name: 2347, dtype: object)
(2348, countryname    Sao Tome and Principe
countrycode                      STP
year                            1970
gdp                       2.4715e+08
population                     74253
Name: 2348, dtype: object)
(2349, countryname      Suriname
countrycode           SUR
year                 1970
gdp            2.4715e+08
population         371273
Name: 2349, dtype: object)
(2350, countryname    Slovak Republic
countrycode                SVK
year                      1970
gdp                3.75554e+10
population         4.53822e+06
Name: 2350, dtype: object)
(2351, countryname       Slovenia
countrycode            SVN
year                  1970
gdp            3.75554e+10
population     1.72489e+06
Name: 2351, dtype: object)
(2352, countryname         Sweden
countrycode            SWE
year                  1970
gdp            3.75554e+10
population      8.0428e+06
Name: 2352, dtype: object)
(2353, countryname      Swaziland
countrycode            SWZ
year                  1970
gdp            1.12138e+08
population          445729
Name: 2353, dtype: object)
(2354, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1970
gdp                           1.8432e+07
population                         53600
Name: 2354, dtype: object)
(2355, countryname    Seychelles
countrycode           SYC
year                 1970
gdp            1.8432e+07
population          53600
Name: 2355, dtype: object)
(2356, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1970
gdp                     2.14038e+09
population              6.35054e+06
Name: 2356, dtype: object)
(2357, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1970
gdp                         4.69267e+08
population                         5633
Name: 2357, dtype: object)
(2358, countryname           Chad
countrycode            TCD
year                  1970
gdp            4.69267e+08
population     3.64355e+06
Name: 2358, dtype: object)
(2359, countryname           Togo
countrycode            TGO
year                  1970
gdp            2.53977e+08
population     2.11552e+06
Name: 2359, dtype: object)
(2360, countryname       Thailand
countrycode            THA
year                  1970
gdp            7.08654e+09
population     3.68849e+07
Name: 2360, dtype: object)
(2361, countryname     Tajikistan
countrycode            TJK
year                  1970
gdp              2.199e+08
population     2.93008e+06
Name: 2361, dtype: object)
(2362, countryname    Turkmenistan
countrycode             TKM
year                   1970
gdp               2.199e+08
population      2.19517e+06
Name: 2362, dtype: object)
(2363, countryname    Timor-Leste
countrycode            TLS
year                  1970
gdp              2.199e+08
population          605125
Name: 2363, dtype: object)
(2364, countryname          Tonga
countrycode            TON
year                  1970
gdp            8.47236e+10
population           84369
Name: 2364, dtype: object)
(2365, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1970
gdp                     8.2185e+08
population                  945993
Name: 2365, dtype: object)
(2366, countryname        Tunisia
countrycode            TUN
year                  1970
gdp            1.43924e+09
population      5.0604e+06
Name: 2366, dtype: object)
(2367, countryname         Turkey
countrycode            TUR
year                  1970
gdp             1.7087e+10
population     3.48763e+07
Name: 2367, dtype: object)
(2368, countryname         Tuvalu
countrycode            TUV
year                  1970
gdp            1.26008e+09
population            7303
Name: 2368, dtype: object)
(2369, countryname       Tanzania
countrycode            TZA
year                  1970
gdp            1.26008e+09
population     1.36055e+07
Name: 2369, dtype: object)
(2370, countryname         Uganda
countrycode            UGA
year                  1970
gdp            1.26008e+09
population     9.44606e+06
Name: 2370, dtype: object)
(2371, countryname        Ukraine
countrycode            UKR
year                  1970
gdp             3.5721e+11
population     4.70868e+07
Name: 2371, dtype: object)
(2372, countryname       Uruguay
countrycode           URY
year                 1970
gdp            2.1371e+09
population     2.8098e+06
Name: 2372, dtype: object)
(2373, countryname    United States
countrycode              USA
year                    1970
gdp              1.07588e+12
population       2.05052e+08
Name: 2373, dtype: object)
(2374, countryname    Uzbekistan
countrycode           UZB
year                 1970
gdp             1.845e+07
population      1.211e+07
Name: 2374, dtype: object)
(2375, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1970
gdp                                 1.845e+07
population                              90452
Name: 2375, dtype: object)
(2376, countryname    Venezuela, RB
countrycode              VEN
year                    1970
gdp              1.28488e+10
population       1.15878e+07
Name: 2376, dtype: object)
(2377, countryname    British Virgin Islands
countrycode                       VGB
year                             1970
gdp                          2.19e+08
population                       9803
Name: 2377, dtype: object)
(2378, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1970
gdp                         2.19e+08
population                     63476
Name: 2378, dtype: object)
(2379, countryname        Vietnam
countrycode            VNM
year                  1970
gdp            2.93971e+12
population     4.34073e+07
Name: 2379, dtype: object)
(2380, countryname        Vanuatu
countrycode            VUT
year                  1970
gdp            2.93971e+12
population           85389
Name: 2380, dtype: object)
(2381, countryname         Samoa
countrycode           WSM
year                 1970
gdp            1.8418e+10
population         143176
Name: 2381, dtype: object)
(2382, countryname        Kosovo
countrycode           XKX
year                 1970
gdp            1.8418e+10
population      1.219e+06
Name: 2382, dtype: object)
(2383, countryname    Yemen, Rep.
countrycode            YEM
year                  1970
gdp             1.8418e+10
population     6.19381e+06
Name: 2383, dtype: object)
(2384, countryname    South Africa
countrycode             ZAF
year                   1970
gdp              1.8418e+10
population      2.28395e+07
Name: 2384, dtype: object)
(2385, countryname         Zambia
countrycode            ZMB
year                  1970
gdp            1.82529e+09
population     4.17393e+06
Name: 2385, dtype: object)
(2386, countryname       Zimbabwe
countrycode            ZWE
year                  1970
gdp            1.88421e+09
population     5.17562e+06
Name: 2386, dtype: object)
(2387, countryname          Aruba
countrycode            ABW
year                  1971
gdp            2.05249e+10
population           59440
Name: 2387, dtype: object)
(2388, countryname    Afghanistan
countrycode            AFG
year                  1971
gdp            1.83111e+09
population     1.14178e+07
Name: 2388, dtype: object)
(2389, countryname         Angola
countrycode            AGO
year                  1971
gdp            8.94098e+07
population     6.92727e+06
Name: 2389, dtype: object)
(2390, countryname        Albania
countrycode            ALB
year                  1971
gdp            8.94098e+07
population     2.18785e+06
Name: 2390, dtype: object)
(2391, countryname        Andorra
countrycode            AND
year                  1971
gdp            8.94098e+07
population           25559
Name: 2391, dtype: object)
(2392, countryname    United Arab Emirates
countrycode                     ARE
year                           1971
gdp                     1.66466e+10
population                   278808
Name: 2392, dtype: object)
(2393, countryname      Argentina
countrycode            ARG
year                  1971
gdp            1.66466e+10
population     2.43664e+07
Name: 2393, dtype: object)
(2394, countryname        Armenia
countrycode            ARM
year                  1971
gdp            4.51383e+10
population     2.58771e+06
Name: 2394, dtype: object)
(2395, countryname    American Samoa
countrycode               ASM
year                     1971
gdp               4.51383e+10
population              27916
Name: 2395, dtype: object)
(2396, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1971
gdp                    4.51383e+10
population                   68188
Name: 2396, dtype: object)
(2397, countryname      Australia
countrycode            AUS
year                  1971
gdp            4.51383e+10
population      1.2937e+07
Name: 2397, dtype: object)
(2398, countryname        Austria
countrycode            AUT
year                  1971
gdp            1.78585e+10
population     7.50048e+06
Name: 2398, dtype: object)
(2399, countryname     Azerbaijan
countrycode            AZE
year                  1971
gdp            2.52842e+08
population     5.28453e+06
Name: 2399, dtype: object)
(2400, countryname        Burundi
countrycode            BDI
year                  1971
gdp            2.52842e+08
population     3.50539e+06
Name: 2400, dtype: object)
(2401, countryname        Belgium
countrycode            BEL
year                  1971
gdp            2.99813e+10
population     9.67316e+06
Name: 2401, dtype: object)
(2402, countryname          Benin
countrycode            BEN
year                  1971
gdp            3.35073e+08
population     2.97657e+06
Name: 2402, dtype: object)
(2403, countryname    Burkina Faso
countrycode             BFA
year                   1971
gdp             4.82411e+08
population      5.72338e+06
Name: 2403, dtype: object)
(2404, countryname     Bangladesh
countrycode            BGD
year                  1971
gdp            8.75184e+09
population     6.64247e+07
Name: 2404, dtype: object)
(2405, countryname      Bulgaria
countrycode           BGR
year                 1971
gdp             5.734e+08
population     8.5364e+06
Name: 2405, dtype: object)
(2406, countryname      Bahrain
countrycode          BHR
year                1971
gdp            5.734e+08
population        220312
Name: 2406, dtype: object)
(2407, countryname    Bahamas, The
countrycode             BHS
year                   1971
gdp               5.734e+08
population           173863
Name: 2407, dtype: object)
(2408, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1971
gdp                       5.92073e+07
population                3.80528e+06
Name: 2408, dtype: object)
(2409, countryname        Belarus
countrycode            BLR
year                  1971
gdp            5.92073e+07
population     9.11558e+06
Name: 2409, dtype: object)
(2410, countryname         Belize
countrycode            BLZ
year                  1971
gdp            5.92073e+07
population          124793
Name: 2410, dtype: object)
(2411, countryname      Bermuda
countrycode          BMU
year                1971
gdp            2.111e+08
population         54600
Name: 2411, dtype: object)
(2412, countryname        Bolivia
countrycode            BOL
year                  1971
gdp            1.09545e+09
population     4.60059e+06
Name: 2412, dtype: object)
(2413, countryname         Brazil
countrycode            BRA
year                  1971
gdp            1.97523e+08
population      9.7729e+07
Name: 2413, dtype: object)
(2414, countryname       Barbados
countrycode            BRB
year                  1971
gdp            1.97523e+08
population          240035
Name: 2414, dtype: object)
(2415, countryname    Brunei Darussalam
countrycode                  BRN
year                        1971
gdp                  1.97523e+08
population                135726
Name: 2415, dtype: object)
(2416, countryname         Bhutan
countrycode            BTN
year                  1971
gdp            1.83111e+09
population          308053
Name: 2416, dtype: object)
(2417, countryname       Botswana
countrycode            BWA
year                  1971
gdp            1.26957e+08
population          718639
Name: 2417, dtype: object)
(2418, countryname    Central African Republic
countrycode                         CAF
year                               1971
gdp                         2.01451e+08
population                   1.8646e+06
Name: 2418, dtype: object)
(2419, countryname         Canada
countrycode            CAN
year                  1971
gdp             9.9272e+10
population     2.16455e+07
Name: 2419, dtype: object)
(2420, countryname    Switzerland
countrycode            CHE
year                  1971
gdp            2.05249e+10
population      6.2134e+06
Name: 2420, dtype: object)
(2421, countryname    Channel Islands
countrycode                CHI
year                      1971
gdp                1.08841e+10
population              122413
Name: 2421, dtype: object)
(2422, countryname          Chile
countrycode            CHL
year                  1971
gdp            1.08841e+10
population     9.74519e+06
Name: 2422, dtype: object)
(2423, countryname          China
countrycode            CHN
year                  1971
gdp             9.9801e+10
population     8.41105e+08
Name: 2423, dtype: object)
(2424, countryname    Cote d'Ivoire
countrycode              CIV
year                    1971
gdp              1.58413e+09
population       5.47934e+06
Name: 2424, dtype: object)
(2425, countryname       Cameroon
countrycode            CMR
year                  1971
gdp            1.23399e+09
population     6.69774e+06
Name: 2425, dtype: object)
(2426, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1971
gdp                 3.22128e+08
population          2.05629e+07
Name: 2426, dtype: object)
(2427, countryname    Congo, Rep.
countrycode            COG
year                  1971
gdp            3.22128e+08
population     1.40664e+06
Name: 2427, dtype: object)
(2428, countryname       Colombia
countrycode            COL
year                  1971
gdp            7.82038e+09
population      2.2612e+07
Name: 2428, dtype: object)
(2429, countryname        Comoros
countrycode            COM
year                  1971
gdp            1.07715e+09
population          234644
Name: 2429, dtype: object)
(2430, countryname     Cabo Verde
countrycode            CPV
year                  1971
gdp            1.07715e+09
population          272992
Name: 2430, dtype: object)
(2431, countryname     Costa Rica
countrycode            CRI
year                  1971
gdp            1.07715e+09
population     1.89836e+06
Name: 2431, dtype: object)
(2432, countryname           Cuba
countrycode            CUB
year                  1971
gdp            6.91466e+09
population     8.86996e+06
Name: 2432, dtype: object)
(2433, countryname        Curacao
countrycode            CUW
year                  1971
gdp            2.49039e+11
population          147389
Name: 2433, dtype: object)
(2434, countryname    Cayman Islands
countrycode               CYM
year                     1971
gdp               2.49039e+11
population               9581
Name: 2434, dtype: object)

Name: 2539, dtype: object)
(2540, countryname    Philippines
countrycode            PHL
year                  1971
gdp            7.40831e+09
population     3.68511e+07
Name: 2540, dtype: object)
(2541, countryname          Palau
countrycode            PLW
year                  1971
gdp            7.17716e+08
population           11654
Name: 2541, dtype: object)
(2542, countryname    Papua New Guinea
countrycode                 PNG
year                       1971
gdp                 7.17716e+08
population          2.59263e+06
Name: 2542, dtype: object)
(2543, countryname         Poland
countrycode            POL
year                  1971
gdp            1.52392e+09
population     3.27835e+07
Name: 2543, dtype: object)
(2544, countryname    Puerto Rico
countrycode            PRI
year                  1971
gdp             5.6468e+09
population     2.76219e+06
Name: 2544, dtype: object)
(2545, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1971
gdp                          9.20251e+09
population                   1.48095e+07
Name: 2545, dtype: object)
(2546, countryname       Portugal
countrycode            PRT
year                  1971
gdp            9.20251e+09
population     8.64376e+06
Name: 2546, dtype: object)
(2547, countryname       Paraguay
countrycode            PRY
year                  1971
gdp            6.09047e+08
population     2.53536e+06
Name: 2547, dtype: object)
(2548, countryname    West Bank and Gaza
countrycode                   PSE
year                         1971
gdp                   2.59276e+12
population            1.17789e+06
Name: 2548, dtype: object)
(2549, countryname    French Polynesia
countrycode                 PYF
year                       1971
gdp                 2.96613e+08
population               114313
Name: 2549, dtype: object)
(2550, countryname        Qatar
countrycode          QAT
year                1971
gdp            3.877e+08
population        119424
Name: 2550, dtype: object)
(2551, countryname        Romania
countrycode            ROU
year                  1971
gdp            6.01527e+10
population     2.04616e+07
Name: 2551, dtype: object)
(2552, countryname    Russian Federation
countrycode                   RUS
year                         1971
gdp                   9.00382e+10
population            1.31155e+08
Name: 2552, dtype: object)
(2553, countryname         Rwanda
countrycode            RWA
year                  1971
gdp            2.22953e+08
population     3.86834e+06
Name: 2553, dtype: object)
(2554, countryname    Saudi Arabia
countrycode             SAU
year                   1971
gdp             7.18485e+09
population      6.10099e+06
Name: 2554, dtype: object)
(2555, countryname          Sudan
countrycode            SDN
year                  1971
gdp              2.656e+09
population     1.06215e+07
Name: 2555, dtype: object)
(2556, countryname        Senegal
countrycode            SEN
year                  1971
gdp            1.05812e+09
population     4.38846e+06
Name: 2556, dtype: object)
(2557, countryname      Singapore
countrycode            SGP
year                  1971
gdp            2.26254e+09
population      2.1129e+06
Name: 2557, dtype: object)
(2558, countryname    Solomon Islands
countrycode                SLB
year                      1971
gdp                5.00569e+07
population              166212
Name: 2558, dtype: object)
(2559, countryname    Sierra Leone
countrycode             SLE
year                   1971
gdp             4.19549e+08
population      2.74578e+06
Name: 2559, dtype: object)
(2560, countryname    El Salvador
countrycode            SLV
year                  1971
gdp            1.18612e+09
population     3.76517e+06
Name: 2560, dtype: object)
(2561, countryname    San Marino
countrycode           SMR
year                 1971
gdp            6.0133e+10
population          19303
Name: 2561, dtype: object)
(2562, countryname        Somalia
countrycode            SOM
year                  1971
gdp             6.0133e+10
population     3.47032e+06
Name: 2562, dtype: object)
(2563, countryname         Serbia
countrycode            SRB
year                  1971
gdp             6.0133e+10
population     3.00682e+08
Name: 2563, dtype: object)
(2564, countryname    South Sudan
countrycode            SSD
year                  1971
gdp            6.01527e+10
population     3.73442e+06
Name: 2564, dtype: object)
(2565, countryname    Sao Tome and Principe
countrycode                      STP
year                            1971
gdp                       2.7065e+08
population                     75988
Name: 2565, dtype: object)
(2566, countryname      Suriname
countrycode           SUR
year                 1971
gdp            2.7065e+08
population         372623
Name: 2566, dtype: object)
(2567, countryname    Slovak Republic
countrycode                SVK
year                      1971
gdp                4.09803e+10
population         4.55745e+06
Name: 2567, dtype: object)
(2568, countryname       Slovenia
countrycode            SVN
year                  1971
gdp            4.09803e+10
population     1.73834e+06
Name: 2568, dtype: object)
(2569, countryname         Sweden
countrycode            SWE
year                  1971
gdp            4.09803e+10
population     8.09833e+06
Name: 2569, dtype: object)
(2570, countryname      Swaziland
countrycode            SWZ
year                  1971
gdp            1.36465e+08
population          458605
Name: 2570, dtype: object)
(2571, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1971
gdp                           2.1966e+07
population                         54695
Name: 2571, dtype: object)
(2572, countryname    Seychelles
countrycode           SYC
year                 1971
gdp            2.1966e+07
population          54695
Name: 2572, dtype: object)
(2573, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1971
gdp                     2.58985e+09
population              6.57086e+06
Name: 2573, dtype: object)
(2574, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1971
gdp                         5.01867e+08
population                         5756
Name: 2574, dtype: object)
(2575, countryname           Chad
countrycode            TCD
year                  1971
gdp            5.01867e+08
population     3.72609e+06
Name: 2575, dtype: object)
(2576, countryname           Togo
countrycode            TGO
year                  1971
gdp            2.86538e+08
population     2.18566e+06
Name: 2576, dtype: object)
(2577, countryname       Thailand
countrycode            THA
year                  1971
gdp              7.375e+09
population     3.79649e+07
Name: 2577, dtype: object)
(2578, countryname     Tajikistan
countrycode            TJK
year                  1971
gdp              7.375e+09
population     3.02039e+06
Name: 2578, dtype: object)
(2579, countryname    Turkmenistan
countrycode             TKM
year                   1971
gdp               7.375e+09
population      2.25896e+06
Name: 2579, dtype: object)
(2580, countryname    Timor-Leste
countrycode            TLS
year                  1971
gdp            9.00382e+10
population          620945
Name: 2580, dtype: object)
(2581, countryname          Tonga
countrycode            TON
year                  1971
gdp            9.00382e+10
population           85518
Name: 2581, dtype: object)
(2582, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1971
gdp                    8.96754e+08
population                  956366
Name: 2582, dtype: object)
(2583, countryname        Tunisia
countrycode            TUN
year                  1971
gdp            1.68522e+09
population     5.17269e+06
Name: 2583, dtype: object)
(2584, countryname         Turkey
countrycode            TUR
year                  1971
gdp            1.62566e+10
population     3.57206e+07
Name: 2584, dtype: object)
(2585, countryname         Tuvalu
countrycode            TUV
year                  1971
gdp            1.41779e+09
population            7381
Name: 2585, dtype: object)
(2586, countryname       Tanzania
countrycode            TZA
year                  1971
gdp            1.41779e+09
population     1.40458e+07
Name: 2586, dtype: object)
(2587, countryname         Uganda
countrycode            UGA
year                  1971
gdp            1.41779e+09
population      9.7204e+06
Name: 2587, dtype: object)
(2588, countryname        Ukraine
countrycode            UKR
year                  1971
gdp            3.89184e+11
population     4.74338e+07
Name: 2588, dtype: object)
(2589, countryname        Uruguay
countrycode            URY
year                  1971
gdp            2.80726e+09
population     2.81827e+06
Name: 2589, dtype: object)
(2590, countryname    United States
countrycode              USA
year                    1971
gdp              1.16777e+12
population       2.07661e+08
Name: 2590, dtype: object)
(2591, countryname     Uzbekistan
countrycode            UZB
year                  1971
gdp            2.00516e+07
population     1.24771e+07
Name: 2591, dtype: object)
(2592, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1971
gdp                               2.00516e+07
population                              91440
Name: 2592, dtype: object)
(2593, countryname    Venezuela, RB
countrycode              VEN
year                    1971
gdp              1.46253e+10
population       1.19378e+07
Name: 2593, dtype: object)
(2594, countryname    British Virgin Islands
countrycode                       VGB
year                             1971
gdp                          2.57e+08
population                       9970
Name: 2594, dtype: object)
(2595, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1971
gdp                         2.57e+08
population                     70937
Name: 2595, dtype: object)
(2596, countryname        Vietnam
countrycode            VNM
year                  1971
gdp             3.2478e+12
population     4.44859e+07
Name: 2596, dtype: object)
(2597, countryname       Vanuatu
countrycode           VUT
year                 1971
gdp            3.2478e+12
population          88022
Name: 2597, dtype: object)
(2598, countryname          Samoa
countrycode            WSM
year                  1971
gdp            2.03342e+10
population          145439
Name: 2598, dtype: object)
(2599, countryname         Kosovo
countrycode            XKX
year                  1971
gdp            2.03342e+10
population       1.247e+06
Name: 2599, dtype: object)
(2600, countryname    Yemen, Rep.
countrycode            YEM
year                  1971
gdp            2.03342e+10
population     6.30055e+06
Name: 2600, dtype: object)
(2601, countryname    South Africa
countrycode             ZAF
year                   1971
gdp             2.03342e+10
population      2.34828e+07
Name: 2601, dtype: object)
(2602, countryname         Zambia
countrycode            ZMB
year                  1971
gdp              1.687e+09
population     4.31775e+06
Name: 2602, dtype: object)
(2603, countryname       Zimbabwe
countrycode            ZWE
year                  1971
gdp            2.17872e+09
population      5.3512e+06
Name: 2603, dtype: object)
(2604, countryname          Aruba
countrycode            ABW
year                  1972
gdp            2.05249e+10
population           59840
Name: 2604, dtype: object)
(2605, countryname    Afghanistan
countrycode            AFG
year                  1972
gdp            1.59556e+09
population     1.17219e+07
Name: 2605, dtype: object)
(2606, countryname         Angola
countrycode            AGO
year                  1972
gdp            1.13408e+08
population     7.09483e+06
Name: 2606, dtype: object)
(2607, countryname        Albania
countrycode            ALB
year                  1972
gdp            1.13408e+08
population     2.24313e+06
Name: 2607, dtype: object)
(2608, countryname        Andorra
countrycode            AND
year                  1972
gdp            1.13408e+08
population           26892
Name: 2608, dtype: object)
(2609, countryname    United Arab Emirates
countrycode                     ARE
year                           1972
gdp                     2.77864e+10
population                   332760
Name: 2609, dtype: object)
(2610, countryname      Argentina
countrycode            ARG
year                  1972
gdp            2.77864e+10
population     2.47829e+07
Name: 2610, dtype: object)
(2611, countryname        Armenia
countrycode            ARM
year                  1972
gdp            5.19544e+10
population     2.65048e+06
Name: 2611, dtype: object)
(2612, countryname    American Samoa
countrycode               ASM
year                     1972
gdp               5.19544e+10
population              28492
Name: 2612, dtype: object)
(2613, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1972
gdp                    5.19544e+10
population                   69176
Name: 2613, dtype: object)
(2614, countryname      Australia
countrycode            AUS
year                  1972
gdp            5.19544e+10
population      1.3177e+07
Name: 2614, dtype: object)
(2615, countryname        Austria
countrycode            AUT
year                  1972
gdp            2.20596e+10
population      7.5442e+06
Name: 2615, dtype: object)
(2616, countryname     Azerbaijan
countrycode            AZE
year                  1972
gdp            3.18599e+09
population     5.38527e+06
Name: 2616, dtype: object)
(2617, countryname        Burundi
countrycode            BDI
year                  1972
gdp            2.46805e+08
population     3.54405e+06
Name: 2617, dtype: object)
(2618, countryname        Belgium
countrycode            BEL
year                  1972
gdp            3.74086e+10
population     9.71112e+06
Name: 2618, dtype: object)
(2619, countryname          Benin
countrycode            BEN
year                  1972
gdp            4.10332e+08
population     3.04357e+06
Name: 2619, dtype: object)
(2620, countryname    Burkina Faso
countrycode             BFA
year                   1972
gdp             5.78596e+08
population      5.82517e+06
Name: 2620, dtype: object)
(2621, countryname     Bangladesh
countrycode            BGD
year                  1972
gdp            6.28825e+09
population     6.75975e+07
Name: 2621, dtype: object)
(2622, countryname      Bulgaria
countrycode           BGR
year                 1972
gdp             5.909e+08
population     8.5762e+06
Name: 2622, dtype: object)
(2623, countryname      Bahrain
countrycode          BHR
year                1972
gdp            5.909e+08
population        229155
Name: 2623, dtype: object)
(2624, countryname    Bahamas, The
countrycode             BHS
year                   1972
gdp               5.909e+08
population           177839
Name: 2624, dtype: object)
(2625, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1972
gdp                       6.60625e+07
population                3.85115e+06
Name: 2625, dtype: object)
(2626, countryname        Belarus
countrycode            BLR
year                  1972
gdp            6.60625e+07
population     9.18897e+06
Name: 2626, dtype: object)
(2627, countryname         Belize
countrycode            BLZ
year                  1972
gdp            6.60625e+07
population          127150
Name: 2627, dtype: object)
(2628, countryname      Bermuda
countrycode          BMU
year                1972
gdp            2.354e+08
population         54200
Name: 2628, dtype: object)
(2629, countryname        Bolivia
countrycode            BOL
year                  1972
gdp            1.25762e+09
population     4.69808e+06
Name: 2629, dtype: object)
(2630, countryname         Brazil
countrycode            BRA
year                  1972
gdp            2.70819e+08
population     1.00144e+08
Name: 2630, dtype: object)
(2631, countryname       Barbados
countrycode            BRB
year                  1972
gdp            2.70819e+08
population          241441
Name: 2631, dtype: object)
(2632, countryname    Brunei Darussalam
countrycode                  BRN
year                        1972
gdp                  2.70819e+08
population                142073
Name: 2632, dtype: object)
(2633, countryname         Bhutan
countrycode            BTN
year                  1972
gdp            1.59556e+09
population          318045
Name: 2633, dtype: object)
(2634, countryname       Botswana
countrycode            BWA
year                  1972
gdp            1.65258e+08
population          742835
Name: 2634, dtype: object)
(2635, countryname    Central African Republic
countrycode                         CAF
year                               1972
gdp                         2.30318e+08
population                  1.90032e+06
Name: 2635, dtype: object)
(2636, countryname         Canada
countrycode            CAN
year                  1972
gdp            1.13083e+11
population     2.19936e+07
Name: 2636, dtype: object)
(2637, countryname    Switzerland
countrycode            CHE
year                  1972
gdp            2.05249e+10
population     6.26096e+06
Name: 2637, dtype: object)
(2638, countryname    Channel Islands
countrycode                CHI
year                      1972
gdp                1.18538e+10
population              123614
Name: 2638, dtype: object)
(2639, countryname          Chile
countrycode            CHL
year                  1972
gdp            1.18538e+10
population     9.92256e+06
Name: 2639, dtype: object)
(2640, countryname          China
countrycode            CHN
year                  1972
gdp            1.13688e+11
population      8.6203e+08
Name: 2640, dtype: object)
(2641, countryname    Cote d'Ivoire
countrycode              CIV
year                    1972
gdp               1.8494e+09
population       5.73728e+06
Name: 2641, dtype: object)
(2642, countryname       Cameroon
countrycode            CMR
year                  1972
gdp            1.43095e+09
population     6.87523e+06
Name: 2642, dtype: object)
(2643, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1972
gdp                 4.10669e+08
population          2.11201e+07
Name: 2643, dtype: object)
(2644, countryname    Congo, Rep.
countrycode            COG
year                  1972
gdp            4.10669e+08
population     1.45052e+06
Name: 2644, dtype: object)
(2645, countryname       Colombia
countrycode            COL
year                  1972
gdp            8.67136e+09
population     2.31468e+07
Name: 2645, dtype: object)
(2646, countryname        Comoros
countrycode            COM
year                  1972
gdp            1.23825e+09
population          239235
Name: 2646, dtype: object)
(2647, countryname     Cabo Verde
countrycode            CPV
year                  1972
gdp            1.23825e+09
population          273651
Name: 2647, dtype: object)
(2648, countryname     Costa Rica
countrycode            CRI
year                  1972
gdp            1.23825e+09
population     1.94705e+06
Name: 2648, dtype: object)
(2649, countryname           Cuba
countrycode            CUB
year                  1972
gdp            8.13515e+09
population      9.0253e+06
Name: 2649, dtype: object)
(2650, countryname        Curacao
countrycode            CUW
year                  1972
gdp            2.98667e+11
population          147710
Name: 2650, dtype: object)
(2651, countryname    Cayman Islands
countrycode               CYM
year                     1972
gdp               2.98667e+11
population              10136
Name: 2651, dtype: object)

Name: 2756, dtype: object)
(2757, countryname    Philippines
countrycode            PHL
year                  1972
gdp            8.01747e+09
population     3.79254e+07
Name: 2757, dtype: object)
(2758, countryname          Palau
countrycode            PLW
year                  1972
gdp            8.58802e+08
population           11852
Name: 2758, dtype: object)
(2759, countryname    Papua New Guinea
countrycode                 PNG
year                       1972
gdp                 8.58802e+08
population          2.65985e+06
Name: 2759, dtype: object)
(2760, countryname         Poland
countrycode            POL
year                  1972
gdp            1.67341e+09
population     3.30556e+07
Name: 2760, dtype: object)
(2761, countryname    Puerto Rico
countrycode            PRI
year                  1972
gdp             6.3289e+09
population     2.81726e+06
Name: 2761, dtype: object)
(2762, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1972
gdp                          1.12402e+10
population                   1.52078e+07
Name: 2762, dtype: object)
(2763, countryname       Portugal
countrycode            PRT
year                  1972
gdp            1.12402e+10
population     8.63043e+06
Name: 2763, dtype: object)
(2764, countryname       Paraguay
countrycode            PRY
year                  1972
gdp            6.97292e+08
population     2.59674e+06
Name: 2764, dtype: object)
(2765, countryname    West Bank and Gaza
countrycode                   PSE
year                         1972
gdp                   3.00762e+12
population            1.20342e+06
Name: 2765, dtype: object)
(2766, countryname    French Polynesia
countrycode                 PYF
year                       1972
gdp                 3.25843e+08
population               118279
Name: 2766, dtype: object)
(2767, countryname         Qatar
countrycode           QAT
year                 1972
gdp            5.1026e+08
population         130534
Name: 2767, dtype: object)
(2768, countryname        Romania
countrycode            ROU
year                  1972
gdp            6.79171e+10
population      2.0658e+07
Name: 2768, dtype: object)
(2769, countryname    Russian Federation
countrycode                   RUS
year                         1972
gdp                   9.04298e+10
population            1.31909e+08
Name: 2769, dtype: object)
(2770, countryname         Rwanda
countrycode            RWA
year                  1972
gdp            2.46458e+08
population      3.9837e+06
Name: 2770, dtype: object)
(2771, countryname    Saudi Arabia
countrycode             SAU
year                   1972
gdp             9.66416e+09
population      6.39389e+06
Name: 2771, dtype: object)
(2772, countryname          Sudan
countrycode            SDN
year                  1972
gdp              2.882e+09
population     1.09746e+07
Name: 2772, dtype: object)
(2773, countryname        Senegal
countrycode            SEN
year                  1972
gdp            1.28033e+09
population     4.52511e+06
Name: 2773, dtype: object)
(2774, countryname     Singapore
countrycode           SGP
year                 1972
gdp            2.7199e+09
population     2.1524e+06
Name: 2774, dtype: object)
(2775, countryname    Solomon Islands
countrycode                SLB
year                      1972
gdp                4.06067e+07
population              172598
Name: 2775, dtype: object)
(2776, countryname    Sierra Leone
countrycode             SLE
year                   1972
gdp             4.65381e+08
population      2.80303e+06
Name: 2776, dtype: object)
(2777, countryname    El Salvador
countrycode            SLV
year                  1972
gdp            1.26372e+09
population     3.86193e+06
Name: 2777, dtype: object)
(2778, countryname     San Marino
countrycode            SMR
year                  1972
gdp            6.78882e+10
population           19398
Name: 2778, dtype: object)
(2779, countryname        Somalia
countrycode            SOM
year                  1972
gdp            6.78882e+10
population     3.47502e+06
Name: 2779, dtype: object)
(2780, countryname         Serbia
countrycode            SRB
year                  1972
gdp            6.78882e+10
population     3.08776e+08
Name: 2780, dtype: object)
(2781, countryname    South Sudan
countrycode            SSD
year                  1972
gdp            6.79171e+10
population     3.82476e+06
Name: 2781, dtype: object)
(2782, countryname    Sao Tome and Principe
countrycode                      STP
year                            1972
gdp                        2.876e+08
population                     77537
Name: 2782, dtype: object)
(2783, countryname     Suriname
countrycode          SUR
year                1972
gdp            2.876e+08
population        371324
Name: 2783, dtype: object)
(2784, countryname    Slovak Republic
countrycode                SVK
year                      1972
gdp                4.82639e+10
population         4.59662e+06
Name: 2784, dtype: object)
(2785, countryname       Slovenia
countrycode            SVN
year                  1972
gdp            4.82639e+10
population     1.75223e+06
Name: 2785, dtype: object)
(2786, countryname         Sweden
countrycode            SWE
year                  1972
gdp            4.82639e+10
population      8.1223e+06
Name: 2786, dtype: object)
(2787, countryname      Swaziland
countrycode            SWZ
year                  1972
gdp            1.46741e+08
population          472230
Name: 2787, dtype: object)
(2788, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1972
gdp                          3.06451e+07
population                         56029
Name: 2788, dtype: object)
(2789, countryname     Seychelles
countrycode            SYC
year                  1972
gdp            3.06451e+07
population           56029
Name: 2789, dtype: object)
(2790, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1972
gdp                     3.05968e+09
population              6.80014e+06
Name: 2790, dtype: object)
(2791, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1972
gdp                         5.85428e+08
population                         5922
Name: 2791, dtype: object)
(2792, countryname           Chad
countrycode            TCD
year                  1972
gdp            5.85428e+08
population      3.8151e+06
Name: 2792, dtype: object)
(2793, countryname           Togo
countrycode            TGO
year                  1972
gdp            3.35678e+08
population     2.24758e+06
Name: 2793, dtype: object)
(2794, countryname       Thailand
countrycode            THA
year                  1972
gdp            8.17788e+09
population      3.9062e+07
Name: 2794, dtype: object)
(2795, countryname     Tajikistan
countrycode            TJK
year                  1972
gdp            2.46458e+08
population     3.11126e+06
Name: 2795, dtype: object)
(2796, countryname    Turkmenistan
countrycode             TKM
year                   1972
gdp             2.46458e+08
population      2.32401e+06
Name: 2796, dtype: object)
(2797, countryname    Timor-Leste
countrycode            TLS
year                  1972
gdp            2.46458e+08
population          638499
Name: 2797, dtype: object)
(2798, countryname          Tonga
countrycode            TON
year                  1972
gdp            9.04298e+10
population           86347
Name: 2798, dtype: object)
(2799, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1972
gdp                    1.08338e+09
population                  968741
Name: 2799, dtype: object)
(2800, countryname        Tunisia
countrycode            TUN
year                  1972
gdp            2.23748e+09
population     5.28754e+06
Name: 2800, dtype: object)
(2801, countryname         Turkey
countrycode            TUR
year                  1972
gdp            2.04311e+10
population     3.65872e+07
Name: 2801, dtype: object)
(2802, countryname        Tuvalu
countrycode           TUV
year                 1972
gdp            1.4916e+09
population           7458
Name: 2802, dtype: object)
(2803, countryname       Tanzania
countrycode            TZA
year                  1972
gdp             1.4916e+09
population     1.45066e+07
Name: 2803, dtype: object)
(2804, countryname         Uganda
countrycode            UGA
year                  1972
gdp             1.4916e+09
population     9.98838e+06
Name: 2804, dtype: object)
(2805, countryname        Ukraine
countrycode            UKR
year                  1972
gdp            4.46317e+11
population      4.7783e+07
Name: 2805, dtype: object)
(2806, countryname        Uruguay
countrycode            URY
year                  1972
gdp            2.18942e+09
population     2.82144e+06
Name: 2806, dtype: object)
(2807, countryname    United States
countrycode              USA
year                    1972
gdp              1.28245e+12
population       2.09896e+08
Name: 2807, dtype: object)
(2808, countryname     Uzbekistan
countrycode            UZB
year                  1972
gdp            2.75855e+07
population     1.28286e+07
Name: 2808, dtype: object)
(2809, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1972
gdp                               2.75855e+07
population                              92463
Name: 2809, dtype: object)
(2810, countryname    Venezuela, RB
countrycode              VEN
year                    1972
gdp              1.59229e+10
population       1.22864e+07
Name: 2810, dtype: object)
(2811, countryname    British Virgin Islands
countrycode                       VGB
year                             1972
gdp                         3.071e+08
population                      10125
Name: 2811, dtype: object)
(2812, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1972
gdp                        3.071e+08
population                     76319
Name: 2812, dtype: object)
(2813, countryname        Vietnam
countrycode            VNM
year                  1972
gdp            3.75635e+12
population     4.55495e+07
Name: 2813, dtype: object)
(2814, countryname        Vanuatu
countrycode            VUT
year                  1972
gdp            3.75635e+12
population           90823
Name: 2814, dtype: object)
(2815, countryname          Samoa
countrycode            WSM
year                  1972
gdp            2.13581e+10
population          147321
Name: 2815, dtype: object)
(2816, countryname         Kosovo
countrycode            XKX
year                  1972
gdp            2.13581e+10
population       1.278e+06
Name: 2816, dtype: object)
(2817, countryname    Yemen, Rep.
countrycode            YEM
year                  1972
gdp            2.13581e+10
population      6.4073e+06
Name: 2817, dtype: object)
(2818, countryname    South Africa
countrycode             ZAF
year                   1972
gdp             2.13581e+10
population      2.41481e+07
Name: 2818, dtype: object)
(2819, countryname         Zambia
countrycode            ZMB
year                  1972
gdp            1.91071e+09
population      4.4699e+06
Name: 2819, dtype: object)
(2820, countryname       Zimbabwe
countrycode            ZWE
year                  1972
gdp            2.67773e+09
population     5.53587e+06
Name: 2820, dtype: object)
(2821, countryname          Aruba
countrycode            ABW
year                  1973
gdp            2.05249e+10
population           60243
Name: 2821, dtype: object)
(2822, countryname    Afghanistan
countrycode            AFG
year                  1973
gdp            1.73333e+09
population     1.20278e+07
Name: 2822, dtype: object)
(2823, countryname         Angola
countrycode            AGO
year                  1973
gdp             1.5082e+08
population     7.27796e+06
Name: 2823, dtype: object)
(2824, countryname        Albania
countrycode            ALB
year                  1973
gdp             1.5082e+08
population     2.29675e+06
Name: 2824, dtype: object)
(2825, countryname       Andorra
countrycode           AND
year                 1973
gdp            1.5082e+08
population          28232
Name: 2825, dtype: object)
(2826, countryname    United Arab Emirates
countrycode                     ARE
year                           1973
gdp                     4.72896e+10
population                   397174
Name: 2826, dtype: object)
(2827, countryname      Argentina
countrycode            ARG
year                  1973
gdp            4.72896e+10
population     2.52134e+07
Name: 2827, dtype: object)
(2828, countryname        Armenia
countrycode            ARM
year                  1973
gdp             6.3722e+10
population     2.71278e+06
Name: 2828, dtype: object)
(2829, countryname    American Samoa
countrycode               ASM
year                     1973
gdp                6.3722e+10
population              29014
Name: 2829, dtype: object)
(2830, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1973
gdp                     6.3722e+10
population                   70066
Name: 2830, dtype: object)
(2831, countryname     Australia
countrycode           AUS
year                 1973
gdp            6.3722e+10
population      1.338e+07
Name: 2831, dtype: object)
(2832, countryname        Austria
countrycode            AUT
year                  1973
gdp            2.95155e+10
population     7.58612e+06
Name: 2832, dtype: object)
(2833, countryname     Azerbaijan
countrycode            AZE
year                  1973
gdp             3.0434e+08
population     5.48308e+06
Name: 2833, dtype: object)
(2834, countryname        Burundi
countrycode            BDI
year                  1973
gdp             3.0434e+08
population     3.57849e+06
Name: 2834, dtype: object)
(2835, countryname        Belgium
countrycode            BEL
year                  1973
gdp            4.79994e+10
population     9.74172e+06
Name: 2835, dtype: object)
(2836, countryname          Benin
countrycode            BEN
year                  1973
gdp            5.04376e+08
population     3.11368e+06
Name: 2836, dtype: object)
(2837, countryname    Burkina Faso
countrycode             BFA
year                   1973
gdp             6.74774e+08
population      5.93048e+06
Name: 2837, dtype: object)
(2838, countryname     Bangladesh
countrycode            BGD
year                  1973
gdp            8.08673e+09
population     6.86912e+07
Name: 2838, dtype: object)
(2839, countryname       Bulgaria
countrycode            BGR
year                  1973
gdp              6.709e+08
population     8.62097e+06
Name: 2839, dtype: object)
(2840, countryname      Bahrain
countrycode          BHR
year                1973
gdp            6.709e+08
population        239527
Name: 2840, dtype: object)
(2841, countryname    Bahamas, The
countrycode             BHS
year                   1973
gdp               6.709e+08
population           181488
Name: 2841, dtype: object)
(2842, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1973
gdp                       7.83436e+07
population                3.89726e+06
Name: 2842, dtype: object)
(2843, countryname        Belarus
countrycode            BLR
year                  1973
gdp            7.83436e+07
population     9.25727e+06
Name: 2843, dtype: object)
(2844, countryname         Belize
countrycode            BLZ
year                  1973
gdp            7.83436e+07
population          129294
Name: 2844, dtype: object)
(2845, countryname      Bermuda
countrycode          BMU
year                1973
gdp            2.695e+08
population         53800
Name: 2845, dtype: object)
(2846, countryname        Bolivia
countrycode            BOL
year                  1973
gdp            1.26302e+09
population     4.79851e+06
Name: 2846, dtype: object)
(2847, countryname         Brazil
countrycode            BRA
year                  1973
gdp            3.89176e+09
population     1.02584e+08
Name: 2847, dtype: object)
(2848, countryname       Barbados
countrycode            BRB
year                  1973
gdp            3.89176e+09
population          242976
Name: 2848, dtype: object)
(2849, countryname    Brunei Darussalam
countrycode                  BRN
year                        1973
gdp                  4.33092e+08
population                148560
Name: 2849, dtype: object)
(2850, countryname         Bhutan
countrycode            BTN
year                  1973
gdp            3.89176e+09
population          328312
Name: 2850, dtype: object)
(2851, countryname       Botswana
countrycode            BWA
year                  1973
gdp            2.44129e+08
population          768512
Name: 2851, dtype: object)
(2852, countryname    Central African Republic
countrycode                         CAF
year                               1973
gdp                         2.71183e+08
population                  1.93684e+06
Name: 2852, dtype: object)
(2853, countryname         Canada
countrycode            CAN
year                  1973
gdp            1.31322e+11
population     2.23694e+07
Name: 2853, dtype: object)
(2854, countryname    Switzerland
countrycode            CHE
year                  1973
gdp            2.05249e+10
population     6.30735e+06
Name: 2854, dtype: object)
(2855, countryname    Channel Islands
countrycode                CHI
year                      1973
gdp                1.68363e+10
population              124725
Name: 2855, dtype: object)
(2856, countryname          Chile
countrycode            CHL
year                  1973
gdp            1.68363e+10
population     1.00963e+07
Name: 2856, dtype: object)
(2857, countryname          China
countrycode            CHN
year                  1973
gdp            1.38544e+11
population      8.8194e+08
Name: 2857, dtype: object)
(2858, countryname    Cote d'Ivoire
countrycode              CIV
year                    1973
gdp              2.50842e+09
population       6.01386e+06
Name: 2858, dtype: object)
(2859, countryname       Cameroon
countrycode            CMR
year                  1973
gdp            1.75873e+09
population      7.0606e+06
Name: 2859, dtype: object)
(2860, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1973
gdp                 5.41973e+08
population          2.16892e+07
Name: 2860, dtype: object)
(2861, countryname    Congo, Rep.
countrycode            COG
year                  1973
gdp            5.41973e+08
population     1.49605e+06
Name: 2861, dtype: object)
(2862, countryname       Colombia
countrycode            COL
year                  1973
gdp            1.03158e+10
population     2.36745e+07
Name: 2862, dtype: object)
(2863, countryname        Comoros
countrycode            COM
year                  1973
gdp            1.52892e+09
population          244208
Name: 2863, dtype: object)
(2864, countryname     Cabo Verde
countrycode            CPV
year                  1973
gdp            1.52892e+09
population          273005
Name: 2864, dtype: object)
(2865, countryname     Costa Rica
countrycode            CRI
year                  1973
gdp            1.52892e+09
population     1.99574e+06
Name: 2865, dtype: object)
(2866, countryname           Cuba
countrycode            CUB
year                  1973
gdp            9.98771e+09
population     9.17605e+06
Name: 2866, dtype: object)
(2867, countryname        Curacao
countrycode            CUW
year                  1973
gdp            3.96867e+11
population          146912
Name: 2867, dtype: object)
(2868, countryname    Cayman Islands
countrycode               CYM
year                     1973
gdp               3.96867e+11
population              10784
Name: 2868, dtype: object)

Name: 2973, dtype: object)
(2974, countryname    Philippines
countrycode            PHL
year                  1973
gdp            1.00829e+10
population     3.90261e+07
Name: 2974, dtype: object)
(2975, countryname          Palau
countrycode            PLW
year                  1973
gdp            1.29911e+09
population           12046
Name: 2975, dtype: object)
(2976, countryname    Papua New Guinea
countrycode                 PNG
year                       1973
gdp                 1.29911e+09
population          2.72958e+06
Name: 2976, dtype: object)
(2977, countryname         Poland
countrycode            POL
year                  1973
gdp             2.5644e+10
population     3.33572e+07
Name: 2977, dtype: object)
(2978, countryname    Puerto Rico
countrycode            PRI
year                  1973
gdp             7.0024e+09
population     2.87879e+06
Name: 2978, dtype: object)
(2979, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1973
gdp                          1.50921e+10
population                   1.55934e+07
Name: 2979, dtype: object)
(2980, countryname       Portugal
countrycode            PRT
year                  1973
gdp            1.50921e+10
population      8.6331e+06
Name: 2980, dtype: object)
(2981, countryname       Paraguay
countrycode            PRY
year                  1973
gdp            8.89357e+08
population     2.65909e+06
Name: 2981, dtype: object)
(2982, countryname    West Bank and Gaza
countrycode                   PSE
year                         1973
gdp                     7.663e+09
population            1.22888e+06
Name: 2982, dtype: object)
(2983, countryname    French Polynesia
countrycode                 PYF
year                       1973
gdp                 4.31254e+08
population               122356
Name: 2983, dtype: object)
(2984, countryname          Qatar
countrycode            QAT
year                  1973
gdp            7.93884e+08
population          142241
Name: 2984, dtype: object)
(2985, countryname        Romania
countrycode            ROU
year                  1973
gdp            8.68366e+10
population     2.08357e+07
Name: 2985, dtype: object)
(2986, countryname    Russian Federation
countrycode                   RUS
year                         1973
gdp                   1.03394e+11
population            1.32669e+08
Name: 2986, dtype: object)
(2987, countryname         Rwanda
countrycode            RWA
year                  1973
gdp            2.90746e+08
population     4.10232e+06
Name: 2987, dtype: object)
(2988, countryname    Saudi Arabia
countrycode             SAU
year                   1973
gdp             1.49474e+10
population       6.7141e+06
Name: 2988, dtype: object)
(2989, countryname          Sudan
countrycode            SDN
year                  1973
gdp            3.57167e+09
population     1.13439e+07
Name: 2989, dtype: object)
(2990, countryname        Senegal
countrycode            SEN
year                  1973
gdp            1.47191e+09
population     4.66444e+06
Name: 2990, dtype: object)
(2991, countryname      Singapore
countrycode            SGP
year                  1973
gdp            3.69376e+09
population       2.193e+06
Name: 2991, dtype: object)
(2992, countryname    Solomon Islands
countrycode                SLB
year                      1973
gdp                5.52721e+07
population              179349
Name: 2992, dtype: object)
(2993, countryname    Sierra Leone
countrycode             SLE
year                   1973
gdp              5.7523e+08
population      2.86374e+06
Name: 2993, dtype: object)
(2994, countryname    El Salvador
countrycode            SLV
year                  1973
gdp            1.44232e+09
population     3.95832e+06
Name: 2994, dtype: object)
(2995, countryname     San Marino
countrycode            SMR
year                  1973
gdp            8.68023e+10
population           19466
Name: 2995, dtype: object)
(2996, countryname        Somalia
countrycode            SOM
year                  1973
gdp            8.68023e+10
population     3.50601e+06
Name: 2996, dtype: object)
(2997, countryname         Serbia
countrycode            SRB
year                  1973
gdp            8.68023e+10
population     3.17177e+08
Name: 2997, dtype: object)
(2998, countryname    South Sudan
countrycode            SSD
year                  1973
gdp            8.68366e+10
population     3.91892e+06
Name: 2998, dtype: object)
(2999, countryname    Sao Tome and Principe
countrycode                      STP
year                            1973
gdp                        3.053e+08
population                     79022
Name: 2999, dtype: object)
(3000, countryname     Suriname
countrycode          SUR
year                1973
gdp            3.053e+08
population        368344
Name: 3000, dtype: object)
(3001, countryname    Slovak Republic
countrycode                SVK
year                      1973
gdp                5.85674e+10
population         4.64144e+06
Name: 3001, dtype: object)
(3002, countryname       Slovenia
countrycode            SVN
year                  1973
gdp            5.85674e+10
population      1.7667e+06
Name: 3002, dtype: object)
(3003, countryname         Sweden
countrycode            SWE
year                  1973
gdp            5.85674e+10
population     8.13631e+06
Name: 3003, dtype: object)
(3004, countryname      Swaziland
countrycode            SWZ
year                  1973
gdp            2.21902e+08
population          486561
Name: 3004, dtype: object)
(3005, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1973
gdp                          3.68963e+07
population                         56892
Name: 3005, dtype: object)
(3006, countryname     Seychelles
countrycode            SYC
year                  1973
gdp            3.68963e+07
population           56892
Name: 3006, dtype: object)
(3007, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1973
gdp                     3.23949e+09
population              7.03785e+06
Name: 3007, dtype: object)
(3008, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1973
gdp                         6.47199e+08
population                         6126
Name: 3008, dtype: object)
(3009, countryname           Chad
countrycode            TCD
year                  1973
gdp            6.47199e+08
population     3.90763e+06
Name: 3009, dtype: object)
(3010, countryname           Togo
countrycode            TGO
year                  1973
gdp             4.0648e+08
population     2.30334e+06
Name: 3010, dtype: object)
(3011, countryname       Thailand
countrycode            THA
year                  1973
gdp            1.08386e+10
population      4.0165e+07
Name: 3011, dtype: object)
(3012, countryname     Tajikistan
countrycode            TJK
year                  1973
gdp            1.08386e+10
population     3.20302e+06
Name: 3012, dtype: object)
(3013, countryname    Turkmenistan
countrycode             TKM
year                   1973
gdp             1.08386e+10
population      2.39021e+06
Name: 3013, dtype: object)
(3014, countryname    Timor-Leste
countrycode            TLS
year                  1973
gdp            1.03394e+11
population          654437
Name: 3014, dtype: object)
(3015, countryname          Tonga
countrycode            TON
year                  1973
gdp            1.03394e+11
population           86988
Name: 3015, dtype: object)
(3016, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1973
gdp                     1.3088e+09
population                  982592
Name: 3016, dtype: object)
(3017, countryname        Tunisia
countrycode            TUN
year                  1973
gdp            2.73079e+09
population     5.40536e+06
Name: 3017, dtype: object)
(3018, countryname         Turkey
countrycode            TUR
year                  1973
gdp            2.57244e+10
population     3.74723e+07
Name: 3018, dtype: object)
(3019, countryname         Tuvalu
countrycode            TUV
year                  1973
gdp            1.70252e+09
population            7537
Name: 3019, dtype: object)
(3020, countryname       Tanzania
countrycode            TZA
year                  1973
gdp            1.70252e+09
population     1.49851e+07
Name: 3020, dtype: object)
(3021, countryname         Uganda
countrycode            UGA
year                  1973
gdp            1.70252e+09
population     1.02564e+07
Name: 3021, dtype: object)
(3022, countryname        Ukraine
countrycode            UKR
year                  1973
gdp            5.63304e+11
population     4.81272e+07
Name: 3022, dtype: object)
(3023, countryname        Uruguay
countrycode            URY
year                  1973
gdp             3.9643e+09
population     2.82208e+06
Name: 3023, dtype: object)
(3024, countryname    United States
countrycode              USA
year                    1973
gdp              1.42855e+12
population       2.11909e+08
Name: 3024, dtype: object)
(3025, countryname     Uzbekistan
countrycode            UZB
year                  1973
gdp            3.01654e+07
population     1.31736e+07
Name: 3025, dtype: object)
(3026, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1973
gdp                               3.01654e+07
population                              93517
Name: 3026, dtype: object)
(3027, countryname    Venezuela, RB
countrycode              VEN
year                    1973
gdp              1.94663e+10
population        1.2637e+07
Name: 3027, dtype: object)
(3028, countryname    British Virgin Islands
countrycode                       VGB
year                             1973
gdp                         3.516e+08
population                      10264
Name: 3028, dtype: object)
(3029, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1973
gdp                        3.516e+08
population                     84121
Name: 3029, dtype: object)
(3030, countryname        Vietnam
countrycode            VNM
year                  1973
gdp            4.57131e+12
population     4.66047e+07
Name: 3030, dtype: object)
(3031, countryname        Vanuatu
countrycode            VUT
year                  1973
gdp            4.57131e+12
population           93765
Name: 3031, dtype: object)
(3032, countryname          Samoa
countrycode            WSM
year                  1973
gdp            2.92939e+10
population          148889
Name: 3032, dtype: object)
(3033, countryname         Kosovo
countrycode            XKX
year                  1973
gdp            2.92939e+10
population       1.308e+06
Name: 3033, dtype: object)
(3034, countryname    Yemen, Rep.
countrycode            YEM
year                  1973
gdp            2.92939e+10
population     6.52345e+06
Name: 3034, dtype: object)
(3035, countryname    South Africa
countrycode             ZAF
year                   1973
gdp             2.92939e+10
population      2.48297e+07
Name: 3035, dtype: object)
(3036, countryname         Zambia
countrycode            ZMB
year                  1973
gdp            2.26871e+09
population      4.6294e+06
Name: 3036, dtype: object)
(3037, countryname       Zimbabwe
countrycode            ZWE
year                  1973
gdp            3.30935e+09
population     5.72704e+06
Name: 3037, dtype: object)
(3038, countryname          Aruba
countrycode            ABW
year                  1974
gdp            2.15556e+09
population           60528
Name: 3038, dtype: object)
(3039, countryname    Afghanistan
countrycode            AFG
year                  1974
gdp            2.15556e+09
population     1.23215e+07
Name: 3039, dtype: object)
(3040, countryname         Angola
countrycode            AGO
year                  1974
gdp            1.86559e+08
population     7.47434e+06
Name: 3040, dtype: object)
(3041, countryname        Albania
countrycode            ALB
year                  1974
gdp            1.86559e+08
population     2.35012e+06
Name: 3041, dtype: object)
(3042, countryname        Andorra
countrycode            AND
year                  1974
gdp            1.86559e+08
population           29520
Name: 3042, dtype: object)
(3043, countryname    United Arab Emirates
countrycode                     ARE
year                           1974
gdp                     6.51931e+10
population                   471364
Name: 3043, dtype: object)
(3044, countryname      Argentina
countrycode            ARG
year                  1974
gdp            6.51931e+10
population     2.56445e+07
Name: 3044, dtype: object)
(3045, countryname        Armenia
countrycode            ARM
year                  1974
gdp            8.88091e+10
population     2.77375e+06
Name: 3045, dtype: object)
(3046, countryname    American Samoa
countrycode               ASM
year                     1974
gdp               8.88091e+10
population              29488
Name: 3046, dtype: object)
(3047, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1974
gdp                    8.88091e+10
population                   70878
Name: 3047, dtype: object)
(3048, countryname      Australia
countrycode            AUS
year                  1974
gdp            8.88091e+10
population      1.3723e+07
Name: 3048, dtype: object)
(3049, countryname        Austria
countrycode            AUT
year                  1974
gdp            3.51893e+10
population     7.59904e+06
Name: 3049, dtype: object)
(3050, countryname     Azerbaijan
countrycode            AZE
year                  1974
gdp            1.94709e+12
population     5.57908e+06
Name: 3050, dtype: object)
(3051, countryname        Burundi
countrycode            BDI
year                  1974
gdp            3.45263e+08
population     3.61858e+06
Name: 3051, dtype: object)
(3052, countryname        Belgium
countrycode            BEL
year                  1974
gdp             5.6333e+10
population     9.77242e+06
Name: 3052, dtype: object)
(3053, countryname          Benin
countrycode            BEN
year                  1974
gdp            5.54655e+08
population     3.18741e+06
Name: 3053, dtype: object)
(3054, countryname    Burkina Faso
countrycode             BFA
year                   1974
gdp             7.51134e+08
population      6.04004e+06
Name: 3054, dtype: object)
(3055, countryname     Bangladesh
countrycode            BGD
year                  1974
gdp            1.25125e+10
population     6.98844e+07
Name: 3055, dtype: object)
(3056, countryname       Bulgaria
countrycode            BGR
year                  1974
gdp              6.324e+08
population     8.67874e+06
Name: 3056, dtype: object)
(3057, countryname      Bahrain
countrycode          BHR
year                1974
gdp            6.324e+08
population        251911
Name: 3057, dtype: object)
(3058, countryname    Bahamas, The
countrycode             BHS
year                   1974
gdp               6.324e+08
population           185099
Name: 3058, dtype: object)
(3059, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1974
gdp                       1.03216e+08
population                3.94222e+06
Name: 3059, dtype: object)
(3060, countryname        Belarus
countrycode            BLR
year                  1974
gdp            1.03216e+08
population     9.31758e+06
Name: 3060, dtype: object)
(3061, countryname         Belize
countrycode            BLZ
year                  1974
gdp            1.03216e+08
population          131307
Name: 3061, dtype: object)
(3062, countryname      Bermuda
countrycode          BMU
year                1974
gdp            3.126e+08
population         53400
Name: 3062, dtype: object)
(3063, countryname        Bolivia
countrycode            BOL
year                  1974
gdp            2.10025e+09
population     4.90217e+06
Name: 3063, dtype: object)
(3064, countryname         Brazil
countrycode            BRA
year                  1974
gdp            4.41596e+08
population     1.05069e+08
Name: 3064, dtype: object)
(3065, countryname       Barbados
countrycode            BRB
year                  1974
gdp            4.41596e+08
population          244539
Name: 3065, dtype: object)
(3066, countryname    Brunei Darussalam
countrycode                  BRN
year                        1974
gdp                  1.07358e+09
population                155109
Name: 3066, dtype: object)
(3067, countryname         Bhutan
countrycode            BTN
year                  1974
gdp            2.15556e+09
population          338943
Name: 3067, dtype: object)
(3068, countryname       Botswana
countrycode            BWA
year                  1974
gdp            3.06034e+08
population          796095
Name: 3068, dtype: object)
(3069, countryname    Central African Republic
countrycode                         CAF
year                               1974
gdp                         2.81399e+08
population                  1.97552e+06
Name: 3069, dtype: object)
(3070, countryname         Canada
countrycode            CAN
year                  1974
gdp            1.60409e+11
population     2.27741e+07
Name: 3070, dtype: object)
(3071, countryname    Switzerland
countrycode            CHE
year                  1974
gdp            2.05249e+10
population     6.34140e+06
Name: 3071, dtype: object)
(3072, countryname    Channel Islands
countrycode                CHI
year                      1974
gdp                1.62104e+10
population              125682
Name: 3072, dtype: object)
(3073, countryname          Chile
countrycode            CHL
year                  1974
gdp            1.62104e+10
population     1.02671e+07
Name: 3073, dtype: object)
(3074, countryname          China
countrycode            CHN
year                  1974
gdp            1.44182e+11
population      9.0035e+08
Name: 3074, dtype: object)
(3075, countryname    Cote d'Ivoire
countrycode              CIV
year                    1974
gdp              3.07015e+09
population       6.30529e+06
Name: 3075, dtype: object)
(3076, countryname       Cameroon
countrycode            CMR
year                  1974
gdp             2.2555e+09
population     7.25447e+06
Name: 3076, dtype: object)
(3077, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1974
gdp                 5.85365e+08
population          2.22809e+07
Name: 3077, dtype: object)
(3078, countryname    Congo, Rep.
countrycode            COG
year                  1974
gdp            5.85365e+08
population     1.54269e+06
Name: 3078, dtype: object)
(3079, countryname      Colombia
countrycode           COL
year                 1974
gdp             1.237e+10
population     2.4208e+07
Name: 3079, dtype: object)
(3080, countryname        Comoros
countrycode            COM
year                  1974
gdp            1.66654e+09
population          250104
Name: 3080, dtype: object)
(3081, countryname     Cabo Verde
countrycode            CPV
year                  1974
gdp            1.66654e+09
population          272292
Name: 3081, dtype: object)
(3082, countryname     Costa Rica
countrycode            CRI
year                  1974
gdp            1.66654e+09
population     2.04558e+06
Name: 3082, dtype: object)
(3083, countryname           Cuba
countrycode            CUB
year                  1974
gdp             1.1406e+10
population     9.31537e+06
Name: 3083, dtype: object)
(3084, countryname        Curacao
countrycode            CUW
year                  1974
gdp            4.43619e+11
population          148351
Name: 3084, dtype: object)
(3085, countryname    Cayman Islands
countrycode               CYM
year                     1974
gdp               4.43619e+11
population              11498
Name: 3085, dtype: object)

Name: 3187, dtype: object)
(3188, countryname       Pakistan
countrycode            PAK
year                  1974
gdp            8.77303e+09
population     6.48708e+07
Name: 3188, dtype: object)
(3189, countryname         Panama
countrycode            PAN
year                  1974
gdp            2.18831e+09
population     1.69911e+06
Name: 3189, dtype: object)
(3190, countryname           Peru
countrycode            PER
year                  1974
gdp            1.38584e+10
population     1.48328e+07
Name: 3190, dtype: object)
(3191, countryname    Philippines
countrycode            PHL
year                  1974
gdp            1.37811e+10
population       4.015e+07
Name: 3191, dtype: object)
(3192, countryname          Palau
countrycode            PLW
year                  1974
gdp            1.46735e+09
population           12197
Name: 3192, dtype: object)
(3193, countryname    Papua New Guinea
countrycode                 PNG
year                       1974
gdp                 1.46735e+09
population          2.80224e+06
Name: 3193, dtype: object)
(3194, countryname         Poland
countrycode            POL
year                  1974
gdp            3.75928e+10
population     3.36789e+07
Name: 3194, dtype: object)
(3195, countryname    Puerto Rico
countrycode            PRI
year                  1974
gdp             7.6848e+09
population      2.9393e+06
Name: 3195, dtype: object)
(3196, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1974
gdp                          1.75141e+10
population                   1.59521e+07
Name: 3196, dtype: object)
(3197, countryname       Portugal
countrycode            PRT
year                  1974
gdp            1.75141e+10
population     8.75436e+06
Name: 3197, dtype: object)
(3198, countryname       Paraguay
countrycode            PRY
year                  1974
gdp            1.19962e+09
population     2.72352e+06
Name: 3198, dtype: object)
(3199, countryname    West Bank and Gaza
countrycode                   PSE
year                         1974
gdp                   9.49607e+09
population            1.25452e+06
Name: 3199, dtype: object)
(3200, countryname    French Polynesia
countrycode                 PYF
year                       1974
gdp                 5.55338e+08
population               126486
Name: 3200, dtype: object)
(3201, countryname         Qatar
countrycode           QAT
year                 1974
gdp            2.4014e+09
population         153704
Name: 3201, dtype: object)
(3202, countryname        Romania
countrycode            ROU
year                  1974
gdp            1.14624e+11
population     2.10294e+07
Name: 3202, dtype: object)
(3203, countryname    Russian Federation
countrycode                   RUS
year                         1974
gdp                   1.25253e+11
population            1.33432e+08
Name: 3203, dtype: object)
(3204, countryname         Rwanda
countrycode            RWA
year                  1974
gdp            3.08458e+08
population      4.2268e+06
Name: 3204, dtype: object)
(3205, countryname    Saudi Arabia
countrycode             SAU
year                   1974
gdp              4.5413e+10
population      7.05933e+06
Name: 3205, dtype: object)
(3206, countryname         Sudan
countrycode           SDN
year                 1974
gdp             4.595e+09
population     1.1733e+07
Name: 3206, dtype: object)
(3207, countryname        Senegal
countrycode            SEN
year                  1974
gdp            1.65827e+09
population     4.80235e+06
Name: 3207, dtype: object)
(3208, countryname      Singapore
countrycode            SGP
year                  1974
gdp            5.21677e+09
population      2.2298e+06
Name: 3208, dtype: object)
(3209, countryname    Solomon Islands
countrycode                SLB
year                      1974
gdp                8.45393e+07
population              186332
Name: 3209, dtype: object)
(3210, countryname    Sierra Leone
countrycode             SLE
year                   1974
gdp             6.48591e+08
population      2.92747e+06
Name: 3210, dtype: object)
(3211, countryname    El Salvador
countrycode            SLV
year                  1974
gdp            1.66588e+09
population     4.05371e+06
Name: 3211, dtype: object)
(3212, countryname     San Marino
countrycode            SMR
year                  1974
gdp            1.14585e+11
population           19562
Name: 3212, dtype: object)
(3213, countryname        Somalia
countrycode            SOM
year                  1974
gdp            1.14585e+11
population      3.6275e+06
Name: 3213, dtype: object)
(3214, countryname         Serbia
countrycode            SRB
year                  1974
gdp            1.14585e+11
population     3.25914e+08
Name: 3214, dtype: object)
(3215, countryname    South Sudan
countrycode            SSD
year                  1974
gdp            1.14624e+11
population     4.01708e+06
Name: 3215, dtype: object)
(3216, countryname    Sao Tome and Principe
countrycode                      STP
year                            1974
gdp                        3.686e+08
population                     80670
Name: 3216, dtype: object)
(3217, countryname     Suriname
countrycode          SUR
year                1974
gdp            3.686e+08
population        365099
Name: 3217, dtype: object)
(3218, countryname    Slovak Republic
countrycode                SVK
year                      1974
gdp                6.50826e+10
population         4.68962e+06
Name: 3218, dtype: object)
(3219, countryname       Slovenia
countrycode            SVN
year                  1974
gdp            6.50826e+10
population     1.77613e+06
Name: 3219, dtype: object)
(3220, countryname         Sweden
countrycode            SWE
year                  1974
gdp            6.50826e+10
population     8.15996e+06
Name: 3220, dtype: object)
(3221, countryname      Swaziland
countrycode            SWZ
year                  1974
gdp            2.64312e+08
population          501512
Name: 3221, dtype: object)
(3222, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1974
gdp                          4.31345e+07
population                         57937
Name: 3222, dtype: object)
(3223, countryname     Seychelles
countrycode            SYC
year                  1974
gdp            4.31345e+07
population           57937
Name: 3223, dtype: object)
(3224, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1974
gdp                     5.15956e+09
population              7.28318e+06
Name: 3224, dtype: object)
(3225, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1974
gdp                         6.52533e+08
population                         6346
Name: 3225, dtype: object)
(3226, countryname           Chad
countrycode            TCD
year                  1974
gdp            6.52533e+08
population     3.99951e+06
Name: 3226, dtype: object)
(3227, countryname           Togo
countrycode            TGO
year                  1974
gdp            5.60438e+08
population     2.35662e+06
Name: 3227, dtype: object)
(3228, countryname       Thailand
countrycode            THA
year                  1974
gdp             1.3703e+10
population     4.12595e+07
Name: 3228, dtype: object)
(3229, countryname    Tajikistan
countrycode           TJK
year                 1974
gdp            1.3703e+10
population     3.2961e+06
Name: 3229, dtype: object)
(3230, countryname    Turkmenistan
countrycode             TKM
year                   1974
gdp              1.3703e+10
population      2.45738e+06
Name: 3230, dtype: object)
(3231, countryname    Timor-Leste
countrycode            TLS
year                  1974
gdp            1.25253e+11
population          664223
Name: 3231, dtype: object)
(3232, countryname          Tonga
countrycode            TON
year                  1974
gdp            1.25253e+11
population           87609
Name: 3232, dtype: object)
(3233, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1974
gdp                    2.04203e+09
population                  997053
Name: 3233, dtype: object)
(3234, countryname        Tunisia
countrycode            TUN
year                  1974
gdp            3.54593e+09
population     5.52676e+06
Name: 3234, dtype: object)
(3235, countryname         Turkey
countrycode            TUR
year                  1974
gdp            3.55999e+10
population     3.83702e+07
Name: 3235, dtype: object)
(3236, countryname         Tuvalu
countrycode            TUV
year                  1974
gdp            2.10014e+09
population            7616
Name: 3236, dtype: object)
(3237, countryname       Tanzania
countrycode            TZA
year                  1974
gdp            2.10014e+09
population     1.54773e+07
Name: 3237, dtype: object)
(3238, countryname         Uganda
countrycode            UGA
year                  1974
gdp            2.10014e+09
population     1.05337e+07
Name: 3238, dtype: object)
(3239, countryname        Ukraine
countrycode            UKR
year                  1974
gdp            7.08295e+11
population     4.84551e+07
Name: 3239, dtype: object)
(3240, countryname        Uruguay
countrycode            URY
year                  1974
gdp            4.09021e+09
population     2.82407e+06
Name: 3240, dtype: object)
(3241, countryname    United States
countrycode              USA
year                    1974
gdp              1.54882e+12
population       2.13854e+08
Name: 3241, dtype: object)
(3242, countryname     Uzbekistan
countrycode            UZB
year                  1974
gdp            3.29242e+07
population     1.35251e+07
Name: 3242, dtype: object)
(3243, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1974
gdp                               3.29242e+07
population                              94568
Name: 3243, dtype: object)
(3244, countryname    Venezuela, RB
countrycode              VEN
year                    1974
gdp              2.89856e+10
population        1.2994e+07
Name: 3244, dtype: object)
(3245, countryname    British Virgin Islands
countrycode                       VGB
year                             1974
gdp                         3.954e+08
population                      10379
Name: 3245, dtype: object)
(3246, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1974
gdp                        3.954e+08
population                     89941
Name: 3246, dtype: object)
(3247, countryname        Vietnam
countrycode            VNM
year                  1974
gdp             5.2521e+12
population     4.76618e+07
Name: 3247, dtype: object)
(3248, countryname       Vanuatu
countrycode           VUT
year                 1974
gdp            5.2521e+12
population          96796
Name: 3248, dtype: object)
(3249, countryname          Samoa
countrycode            WSM
year                  1974
gdp            3.68065e+10
population          150221
Name: 3249, dtype: object)
(3250, countryname         Kosovo
countrycode            XKX
year                  1974
gdp            3.68065e+10
population       1.339e+06
Name: 3250, dtype: object)
(3251, countryname    Yemen, Rep.
countrycode            YEM
year                  1974
gdp            3.68065e+10
population     6.66157e+06
Name: 3251, dtype: object)
(3252, countryname    South Africa
countrycode             ZAF
year                   1974
gdp             3.68065e+10
population      2.55196e+07
Name: 3252, dtype: object)
(3253, countryname         Zambia
countrycode            ZMB
year                  1974
gdp            3.12183e+09
population     4.79475e+06
Name: 3253, dtype: object)
(3254, countryname       Zimbabwe
countrycode            ZWE
year                  1974
gdp            3.98216e+09
population     5.92094e+06
Name: 3254, dtype: object)
(3255, countryname          Aruba
countrycode            ABW
year                  1975
gdp            1.49823e+12
population           60657
Name: 3255, dtype: object)
(3256, countryname    Afghanistan
countrycode            AFG
year                  1975
gdp            2.36667e+09
population     1.25903e+07
Name: 3256, dtype: object)
(3257, countryname         Angola
countrycode            AGO
year                  1975
gdp            2.20127e+08
population     7.68248e+06
Name: 3257, dtype: object)
(3258, countryname        Albania
countrycode            ALB
year                  1975
gdp            2.20127e+08
population     2.40483e+06
Name: 3258, dtype: object)
(3259, countryname        Andorra
countrycode            AND
year                  1975
gdp            2.20127e+08
population           30705
Name: 3259, dtype: object)
(3260, countryname    United Arab Emirates
countrycode                     ARE
year                           1975
gdp                     1.47207e+10
population                   554324
Name: 3260, dtype: object)
(3261, countryname      Argentina
countrycode            ARG
year                  1975
gdp            4.85057e+10
population      2.6067e+07
Name: 3261, dtype: object)
(3262, countryname        Armenia
countrycode            ARM
year                  1975
gdp            9.71473e+10
population     2.83276e+06
Name: 3262, dtype: object)
(3263, countryname    American Samoa
countrycode               ASM
year                     1975
gdp               9.71473e+10
population              29932
Name: 3263, dtype: object)
(3264, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1975
gdp                    9.71473e+10
population                   71609
Name: 3264, dtype: object)
(3265, countryname      Australia
countrycode            AUS
year                  1975
gdp            9.71473e+10
population      1.3893e+07
Name: 3265, dtype: object)
(3266, countryname        Austria
countrycode            AUT
year                  1975
gdp            4.00592e+10
population      7.5789e+06
Name: 3266, dtype: object)
(3267, countryname     Azerbaijan
countrycode            AZE
year                  1975
gdp            2.27468e+12
population     5.67414e+06
Name: 3267, dtype: object)
(3268, countryname        Burundi
countrycode            BDI
year                  1975
gdp            4.20987e+08
population     3.67149e+06
Name: 3268, dtype: object)
(3269, countryname        Belgium
countrycode            BEL
year                  1975
gdp            6.60297e+10
population      9.8007e+06
Name: 3269, dtype: object)
(3270, countryname          Benin
countrycode            BEN
year                  1975
gdp             6.7687e+08
population     3.26516e+06
Name: 3270, dtype: object)
(3271, countryname    Burkina Faso
countrycode             BFA
year                   1975
gdp             9.39973e+08
population      6.15454e+06
Name: 3271, dtype: object)
(3272, countryname     Bangladesh
countrycode            BGD
year                  1975
gdp            1.94483e+10
population     7.13059e+07
Name: 3272, dtype: object)
(3273, countryname       Bulgaria
countrycode            BGR
year                  1975
gdp              5.962e+08
population     8.72074e+06
Name: 3273, dtype: object)
(3274, countryname      Bahrain
countrycode          BHR
year                1975
gdp            5.962e+08
population        266543
Name: 3274, dtype: object)
(3275, countryname    Bahamas, The
countrycode             BHS
year                   1975
gdp               5.962e+08
population           188882
Name: 3275, dtype: object)
(3276, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1975
gdp                       1.18066e+08
population                 3.9851e+06
Name: 3276, dtype: object)
(3277, countryname        Belarus
countrycode            BLR
year                  1975
gdp            1.18066e+08
population       9.367e+06
Name: 3277, dtype: object)
(3278, countryname         Belize
countrycode            BLZ
year                  1975
gdp            1.18066e+08
population          133260
Name: 3278, dtype: object)
(3279, countryname     Bermuda
countrycode         BMU
year               1975
gdp            3.45e+08
population        53000
Name: 3279, dtype: object)
(3280, countryname        Bolivia
countrycode            BOL
year                  1975
gdp             2.4047e+09
population     5.00926e+06
Name: 3280, dtype: object)
(3281, countryname         Brazil
countrycode            BRA
year                  1975
gdp            4.75761e+08
population     1.07612e+08
Name: 3281, dtype: object)
(3282, countryname       Barbados
countrycode            BRB
year                  1975
gdp            4.75761e+08
population          246034
Name: 3282, dtype: object)
(3283, countryname    Brunei Darussalam
countrycode                  BRN
year                        1975
gdp                   1.1683e+09
population                161671
Name: 3283, dtype: object)
(3284, countryname         Bhutan
countrycode            BTN
year                  1975
gdp            2.36667e+09
population          349982
Name: 3284, dtype: object)
(3285, countryname       Botswana
countrycode            BWA
year                  1975
gdp            3.55172e+08
population          825840
Name: 3285, dtype: object)
(3286, countryname    Central African Republic
countrycode                         CAF
year                               1975
gdp                          3.7866e+08
population                  2.01737e+06
Name: 3286, dtype: object)
(3287, countryname         Canada
countrycode            CAN
year                  1975
gdp            1.73834e+11
population      2.3209e+07
Name: 3287, dtype: object)
(3288, countryname    Switzerland
countrycode            CHE
year                  1975
gdp            2.05249e+10
population     6.33863e+06
Name: 3288, dtype: object)
(3289, countryname    Channel Islands
countrycode                CHI
year                      1975
gdp                7.62222e+09
population              126415
Name: 3289, dtype: object)
(3290, countryname          Chile
countrycode            CHL
year                  1975
gdp            7.62222e+09
population     1.04355e+07
Name: 3290, dtype: object)
(3291, countryname          China
countrycode            CHN
year                  1975
gdp            1.63432e+11
population     9.16395e+08
Name: 3291, dtype: object)
(3292, countryname    Cote d'Ivoire
countrycode              CIV
year                    1975
gdp              3.89384e+09
population       6.60861e+06
Name: 3292, dtype: object)
(3293, countryname       Cameroon
countrycode            CMR
year                  1975
gdp            2.75277e+09
population     7.45736e+06
Name: 3293, dtype: object)
(3294, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1975
gdp                 7.67103e+08
population          2.29023e+07
Name: 3294, dtype: object)
(3295, countryname    Congo, Rep.
countrycode            COG
year                  1975
gdp            7.67103e+08
population     1.59004e+06
Name: 3295, dtype: object)
(3296, countryname       Colombia
countrycode            COL
year                  1975
gdp            1.30986e+10
population      2.4757e+07
Name: 3296, dtype: object)
(3297, countryname        Comoros
countrycode            COM
year                  1975
gdp            1.96086e+09
population          257290
Name: 3297, dtype: object)
(3298, countryname     Cabo Verde
countrycode            CPV
year                  1975
gdp            1.96086e+09
population          272423
Name: 3298, dtype: object)
(3299, countryname     Costa Rica
countrycode            CRI
year                  1975
gdp            1.96086e+09
population     2.09741e+06
Name: 3299, dtype: object)
(3300, countryname           Cuba

Name: 3404, dtype: object)
(3405, countryname       Pakistan
countrycode            PAK
year                  1975
gdp              1.134e+10
population     6.67879e+07
Name: 3405, dtype: object)
(3406, countryname         Panama
countrycode            PAN
year                  1975
gdp             2.4353e+09
population     1.74520e+06
Name: 3406, dtype: object)
(3407, countryname           Peru
countrycode            PER
year                  1975
gdp            1.68772e+10
population     1.52299e+07
Name: 3407, dtype: object)
(3408, countryname    Philippines
countrycode            PHL
year                  1975
gdp             1.4894e+10
population     4.12951e+07
Name: 3408, dtype: object)
(3409, countryname          Palau
countrycode            PLW
year                  1975
gdp            1.35659e+09
population           12278
Name: 3409, dtype: object)
(3410, countryname    Papua New Guinea
countrycode                 PNG
year                       1975
gdp                 1.35659e+09
population          2.87816e+06
Name: 3410, dtype: object)
(3411, countryname         Poland
countrycode            POL
year                  1975
gdp            4.30913e+10
population     3.40152e+07
Name: 3411, dtype: object)
(3412, countryname    Puerto Rico
countrycode            PRI
year                  1975
gdp             8.1983e+09
population       2.994e+06
Name: 3412, dtype: object)
(3413, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1975
gdp                          1.93495e+10
population                   1.62747e+07
Name: 3413, dtype: object)
(3414, countryname       Portugal
countrycode            PRT
year                  1975
gdp            1.93495e+10
population     9.09347e+06
Name: 3414, dtype: object)
(3415, countryname       Paraguay
countrycode            PRY
year                  1975
gdp            1.35189e+09
population     2.79096e+06
Name: 3415, dtype: object)
(3416, countryname    West Bank and Gaza
countrycode                   PSE
year                         1975
gdp                    1.1313e+09
population            1.28056e+06
Name: 3416, dtype: object)
(3417, countryname    French Polynesia
countrycode                 PYF
year                       1975
gdp                  6.9032e+08
population               130619
Name: 3417, dtype: object)
(3418, countryname          Qatar
countrycode            QAT
year                  1975
gdp            2.51278e+09
population          164413
Name: 3418, dtype: object)
(3419, countryname        Romania
countrycode            ROU
year                  1975
gdp             1.2642e+11
population     2.12936e+07
Name: 3419, dtype: object)
(3420, countryname    Russian Federation
countrycode                   RUS
year                         1975
gdp                   3.25067e+07
population              1.342e+08
Name: 3420, dtype: object)
(3421, countryname         Rwanda
countrycode            RWA
year                  1975
gdp            5.71863e+08
population     4.35909e+06
Name: 3421, dtype: object)
(3422, countryname    Saudi Arabia
countrycode             SAU
year                   1975
gdp             4.67734e+10
population       7.4287e+06
Name: 3422, dtype: object)
(3423, countryname          Sudan
countrycode            SDN
year                  1975
gdp              5.598e+09
population     1.21441e+07
Name: 3423, dtype: object)
(3424, countryname        Senegal
countrycode            SEN
year                  1975
gdp            2.23575e+09
population     4.93621e+06
Name: 3424, dtype: object)
(3425, countryname      Singapore
countrycode            SGP
year                  1975
gdp            5.63339e+09
population      2.2626e+06
Name: 3425, dtype: object)
(3426, countryname    Solomon Islands
countrycode                SLB
year                      1975
gdp                7.46171e+07
population              193445
Name: 3426, dtype: object)
(3427, countryname    Sierra Leone
countrycode             SLE
year                   1975
gdp             6.79336e+08
population      2.99388e+06
Name: 3427, dtype: object)
(3428, countryname    El Salvador
countrycode            SLV
year                  1975
gdp            1.88412e+09
population     4.14752e+06
Name: 3428, dtype: object)
(3429, countryname     San Marino
countrycode            SMR
year                  1975
gdp            1.26376e+11
population           19735
Name: 3429, dtype: object)
(3430, countryname        Somalia
countrycode            SOM
year                  1975
gdp            1.26376e+11
population     3.88032e+06
Name: 3430, dtype: object)
(3431, countryname         Serbia
countrycode            SRB
year                  1975
gdp            1.26376e+11
population     3.35006e+08
Name: 3431, dtype: object)
(3432, countryname    South Sudan
countrycode            SSD
year                  1975
gdp             1.2642e+11
population     4.11944e+06
Name: 3432, dtype: object)
(3433, countryname    Sao Tome and Principe
countrycode                      STP
year                            1975
gdp                         4.65e+08
population                     82607
Name: 3433, dtype: object)
(3434, countryname    Suriname
countrycode         SUR
year               1975
gdp            4.65e+08
population       362654
Name: 3434, dtype: object)
(3435, countryname    Slovak Republic
countrycode                SVK
year                      1975
gdp                8.17168e+10
population         4.73910e+06
Name: 3435, dtype: object)
(3436, countryname       Slovenia
countrycode            SVN
year                  1975
gdp            8.17168e+10
population     1.79358e+06
Name: 3436, dtype: object)
(3437, countryname         Sweden
countrycode            SWE
year                  1975
gdp            8.17168e+10
population     8.19244e+06
Name: 3437, dtype: object)
(3438, countryname      Swaziland
countrycode            SWZ
year                  1975
gdp            2.88303e+08
population          517024
Name: 3438, dtype: object)
(3439, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1975
gdp                          4.78031e+07
population                         59292
Name: 3439, dtype: object)
(3440, countryname     Seychelles
countrycode            SYC
year                  1975
gdp            4.78031e+07
population           59292
Name: 3440, dtype: object)
(3441, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1975
gdp                     6.82698e+09
population              7.53571e+06
Name: 3441, dtype: object)
(3442, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1975
gdp                         8.64602e+08
population                         6548
Name: 3442, dtype: object)
(3443, countryname           Chad
countrycode            TCD
year                  1975
gdp            8.64602e+08
population     4.08795e+06
Name: 3443, dtype: object)
(3444, countryname           Togo
countrycode            TGO
year                  1975
gdp            6.17322e+08
population     2.41045e+06
Name: 3444, dtype: object)
(3445, countryname       Thailand
countrycode            THA
year                  1975
gdp            1.48827e+10
population      4.2335e+07
Name: 3445, dtype: object)
(3446, countryname     Tajikistan
countrycode            TJK
year                  1975
gdp            1.48827e+10
population     3.39094e+06
Name: 3446, dtype: object)
(3447, countryname    Turkmenistan
countrycode             TKM
year                   1975
gdp             1.48827e+10
population      2.52536e+06
Name: 3447, dtype: object)
(3448, countryname    Timor-Leste
countrycode            TLS
year                  1975
gdp            3.25067e+07
population          664984
Name: 3448, dtype: object)
(3449, countryname          Tonga
countrycode            TON
year                  1975
gdp            3.25067e+07
population           88348
Name: 3449, dtype: object)
(3450, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1975
gdp                    2.44267e+09
population             1.01149e+06
Name: 3450, dtype: object)
(3451, countryname        Tunisia
countrycode            TUN
year                  1975
gdp            4.32861e+09
population     5.65248e+06
Name: 3451, dtype: object)
(3452, countryname         Turkey
countrycode            TUR
year                  1975
gdp            4.46337e+10
population     3.92772e+07
Name: 3452, dtype: object)
(3453, countryname         Tuvalu
countrycode            TUV
year                  1975
gdp            2.35956e+09
population            7677
Name: 3453, dtype: object)
(3454, countryname       Tanzania
countrycode            TZA
year                  1975
gdp            2.35956e+09
population     1.59803e+07
Name: 3454, dtype: object)
(3455, countryname         Uganda
countrycode            UGA
year                  1975
gdp            2.35956e+09
population     1.08271e+07
Name: 3455, dtype: object)
(3456, countryname        Ukraine
countrycode            UKR
year                  1975
gdp            8.11073e+11
population      4.8759e+07
Name: 3456, dtype: object)
(3457, countryname        Uruguay
countrycode            URY
year                  1975
gdp            3.53828e+09
population     2.83017e+06
Name: 3457, dtype: object)
(3458, countryname    United States
countrycode              USA
year                    1975
gdp              1.68892e+12
population       2.15973e+08
Name: 3458, dtype: object)
(3459, countryname     Uzbekistan
countrycode            UZB
year                  1975
gdp            3.32372e+07
population     1.38926e+07
Name: 3459, dtype: object)
(3460, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1975
gdp                               3.32372e+07
population                              95611
Name: 3460, dtype: object)
(3461, countryname    Venezuela, RB
countrycode              VEN
year                    1975
gdp              3.13036e+10
population        1.3361e+07
Name: 3461, dtype: object)
(3462, countryname    British Virgin Islands
countrycode                       VGB
year                             1975
gdp                         3.998e+08
population                      10476
Name: 3462, dtype: object)
(3463, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1975
gdp                        3.998e+08
population                     94484
Name: 3463, dtype: object)
(3464, countryname        Vietnam
countrycode            VNM
year                  1975
gdp            5.84883e+12
population     4.87294e+07
Name: 3464, dtype: object)
(3465, countryname        Vanuatu
countrycode            VUT
year                  1975
gdp            5.84883e+12
population           99872
Name: 3465, dtype: object)
(3466, countryname          Samoa
countrycode            WSM
year                  1975
gdp            3.81149e+10
population          151387
Name: 3466, dtype: object)
(3467, countryname         Kosovo
countrycode            XKX
year                  1975
gdp            3.81149e+10
population       1.369e+06
Name: 3467, dtype: object)
(3468, countryname    Yemen, Rep.
countrycode            YEM
year                  1975
gdp            3.81149e+10
population     6.83069e+06
Name: 3468, dtype: object)
(3469, countryname    South Africa
countrycode             ZAF
year                   1975
gdp             3.81149e+10
population      2.62124e+07
Name: 3469, dtype: object)
(3470, countryname         Zambia
countrycode            ZMB
year                  1975
gdp            2.61867e+09
population     4.96483e+06
Name: 3470, dtype: object)
(3471, countryname       Zimbabwe
countrycode            ZWE
year                  1975
gdp             4.3713e+09
population     6.11537e+06
Name: 3471, dtype: object)
(3472, countryname          Aruba
countrycode            ABW
year                  1976
gdp            1.32453e+12
population           60586
Name: 3472, dtype: object)
(3473, countryname    Afghanistan
countrycode            AFG
year                  1976
gdp            2.55556e+09
population     1.28403e+07
Name: 3473, dtype: object)
(3474, countryname         Angola
countrycode            AGO
year                  1976
gdp            2.27281e+08
population       7.901e+06
Name: 3474, dtype: object)
(3475, countryname        Albania
countrycode            ALB
year                  1976
gdp            2.27281e+08
population     2.45853e+06
Name: 3475, dtype: object)
(3476, countryname        Andorra
countrycode            AND
year                  1976
gdp            2.27281e+08
population           31777
Name: 3476, dtype: object)
(3477, countryname    United Arab Emirates
countrycode                     ARE
year                           1976
gdp                      1.9213e+10
population                   646943
Name: 3477, dtype: object)
(3478, countryname      Argentina
countrycode            ARG
year                  1976
gdp            5.11695e+10
population     2.64772e+07
Name: 3478, dtype: object)
(3479, countryname        Armenia
countrycode            ARM
year                  1976
gdp            1.04895e+11
population     2.88958e+06
Name: 3479, dtype: object)
(3480, countryname    American Samoa
countrycode               ASM
year                     1976
gdp               1.04895e+11
population              30321
Name: 3480, dtype: object)
(3481, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1976
gdp                    1.04895e+11
population                   72285
Name: 3481, dtype: object)
(3482, countryname      Australia
countrycode            AUS
year                  1976
gdp            1.04895e+11
population      1.4033e+07
Name: 3482, dtype: object)
(3483, countryname        Austria
countrycode            AUT
year                  1976
gdp              4.296e+10
population     7.56552e+06
Name: 3483, dtype: object)
(3484, countryname     Azerbaijan
countrycode            AZE
year                  1976
gdp            4.48413e+08
population     5.76872e+06
Name: 3484, dtype: object)
(3485, countryname        Burundi
countrycode            BDI
year                  1976
gdp            4.48413e+08
population     3.73966e+06
Name: 3485, dtype: object)
(3486, countryname        Belgium
countrycode            BEL
year                  1976
gdp            7.14945e+10
population     9.81823e+06
Name: 3486, dtype: object)
(3487, countryname          Benin
countrycode            BEN
year                  1976
gdp            6.98408e+08
population     3.34717e+06
Name: 3487, dtype: object)
(3488, countryname    Burkina Faso
countrycode             BFA
year                   1976
gdp             9.76548e+08
population      6.27404e+06
Name: 3488, dtype: object)
(3489, countryname     Bangladesh
countrycode            BGD
year                  1976
gdp            1.01171e+10
population     7.29991e+07
Name: 3489, dtype: object)
(3490, countryname      Bulgaria
countrycode           BGR
year                 1976
gdp             6.421e+08
population     8.7586e+06
Name: 3490, dtype: object)
(3491, countryname      Bahrain
countrycode          BHR
year                1976
gdp            6.421e+08
population        283752
Name: 3491, dtype: object)
(3492, countryname    Bahamas, The
countrycode             BHS
year                   1976
gdp               6.421e+08
population           192902
Name: 3492, dtype: object)
(3493, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1976
gdp                       9.69058e+07
population                4.02526e+06
Name: 3493, dtype: object)
(3494, countryname        Belarus
countrycode            BLR
year                  1976
gdp            9.69058e+07
population       9.411e+06
Name: 3494, dtype: object)
(3495, countryname         Belize
countrycode            BLZ
year                  1976
gdp            9.69058e+07
population          135147
Name: 3495, dtype: object)
(3496, countryname      Bermuda
countrycode          BMU
year                1976
gdp            3.863e+08
population         53200
Name: 3496, dtype: object)
(3497, countryname        Bolivia
countrycode            BOL
year                  1976
gdp            2.73208e+09
population     5.11983e+06
Name: 3497, dtype: object)
(3498, countryname         Brazil
countrycode            BRA
year                  1976
gdp            5.15666e+08
population     1.10213e+08
Name: 3498, dtype: object)
(3499, countryname       Barbados
countrycode            BRB
year                  1976
gdp            5.15666e+08
population          247444
Name: 3499, dtype: object)
(3500, countryname    Brunei Darussalam
countrycode                  BRN
year                        1976
gdp                  1.42306e+09
population                168224
Name: 3500, dtype: object)
(3501, countryname         Bhutan
countrycode            BTN
year                  1976
gdp            6.98408e+08
population          361455
Name: 3501, dtype: object)
(3502, countryname      Botswana
countrycode           BWA
year                 1976
gdp            3.7201e+08
population         857855
Name: 3502, dtype: object)
(3503, countryname    Central African Republic
countrycode                         CAF
year                               1976
gdp                         4.51152e+08
population                  2.06240e+06
Name: 3503, dtype: object)
(3504, countryname         Canada
countrycode            CAN
year                  1976
gdp            2.06576e+11
population      2.3518e+07
Name: 3504, dtype: object)
(3505, countryname    Switzerland
countrycode            CHE
year                  1976
gdp            2.05249e+10
population      6.3025e+06
Name: 3505, dtype: object)
(3506, countryname    Channel Islands
countrycode                CHI
year                      1976
gdp                1.03419e+10
population              126902
Name: 3506, dtype: object)
(3507, countryname          Chile
countrycode            CHL
year                  1976
gdp            1.03419e+10
population     1.06018e+07
Name: 3507, dtype: object)
(3508, countryname          China
countrycode            CHN
year                  1976
gdp             1.5394e+11
population     9.30685e+08
Name: 3508, dtype: object)
(3509, countryname    Cote d'Ivoire
countrycode              CIV
year                    1976
gdp              4.66205e+09
population       6.92298e+06
Name: 3509, dtype: object)
(3510, countryname       Cameroon
countrycode            CMR
year                  1976
gdp            3.07659e+09
population     7.66944e+06
Name: 3510, dtype: object)
(3511, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1976
gdp                  7.5455e+08
population          2.35591e+07
Name: 3511, dtype: object)
(3512, countryname    Congo, Rep.
countrycode            COG
year                  1976
gdp             7.5455e+08
population     1.63794e+06
Name: 3512, dtype: object)
(3513, countryname       Colombia
countrycode            COL
year                  1976
gdp            1.53414e+10
population     2.53234e+07
Name: 3513, dtype: object)
(3514, countryname        Comoros
countrycode            COM
year                  1976
gdp            2.41256e+09
population          265953
Name: 3514, dtype: object)
(3515, countryname     Cabo Verde
countrycode            CPV
year                  1976
gdp            2.41256e+09
population          273652
Name: 3515, dtype: object)
(3516, countryname     Costa Rica
countrycode            CRI
year                  1976
gdp            2.41256e+09
population      2.1515e+06
Name: 3516, dtype: object)
(3517, countryname           Cuba

Name: 3622, dtype: object)
(3623, countryname         Panama
countrycode            PAN
year                  1976
gdp            2.58811e+09
population     1.79145e+06
Name: 3623, dtype: object)
(3624, countryname           Peru
countrycode            PER
year                  1976
gdp            1.59477e+10
population     1.56399e+07
Name: 3624, dtype: object)
(3625, countryname    Philippines
countrycode            PHL
year                  1976
gdp            1.70976e+10
population     4.24612e+07
Name: 3625, dtype: object)
(3626, countryname          Palau
countrycode            PLW
year                  1976
gdp            1.51186e+09
population           12285
Name: 3626, dtype: object)
(3627, countryname    Papua New Guinea
countrycode                 PNG
year                       1976
gdp                 1.51186e+09
population          2.95734e+06
Name: 3627, dtype: object)
(3628, countryname         Poland
countrycode            POL
year                  1976
gdp            5.20406e+10
population     3.43563e+07
Name: 3628, dtype: object)
(3629, countryname    Puerto Rico
countrycode            PRI
year                  1976
gdp             8.9686e+09
population     3.04385e+06
Name: 3629, dtype: object)
(3630, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1976
gdp                          2.03348e+10
population                   1.65547e+07
Name: 3630, dtype: object)
(3631, countryname       Portugal
countrycode            PRT
year                  1976
gdp            2.03348e+10
population     9.35581e+06
Name: 3631, dtype: object)
(3632, countryname       Paraguay
countrycode            PRY
year                  1976
gdp            1.54082e+09
population     2.86158e+06
Name: 3632, dtype: object)
(3633, countryname    West Bank and Gaza
countrycode                   PSE
year                         1976
gdp                   1.13441e+09
population            1.30693e+06
Name: 3633, dtype: object)
(3634, countryname    French Polynesia
countrycode                 PYF
year                       1976
gdp                 7.32286e+08
population               134748
Name: 3634, dtype: object)
(3635, countryname         Qatar
countrycode           QAT
year                 1976
gdp            3.2843e+09
population         173836
Name: 3635, dtype: object)
(3636, countryname        Romania
countrycode            ROU
year                  1976
gdp            1.38946e+11
population     2.15516e+07
Name: 3636, dtype: object)
(3637, countryname    Russian Federation
countrycode                   RUS
year                         1976
gdp                   3.00364e+07
population            1.35147e+08
Name: 3637, dtype: object)
(3638, countryname         Rwanda
countrycode            RWA
year                  1976
gdp            6.37754e+08
population     4.49951e+06
Name: 3638, dtype: object)
(3639, countryname    Saudi Arabia
countrycode             SAU
year                   1976
gdp             6.40057e+10
population      7.81861e+06
Name: 3639, dtype: object)
(3640, countryname          Sudan
countrycode            SDN
year                  1976
gdp            6.97933e+09
population     1.25784e+07
Name: 3640, dtype: object)
(3641, countryname        Senegal
countrycode            SEN
year                  1976
gdp            2.26686e+09
population     5.06467e+06
Name: 3641, dtype: object)
(3642, countryname      Singapore
countrycode            SGP
year                  1976
gdp            6.32645e+09
population      2.2933e+06
Name: 3642, dtype: object)
(3643, countryname    Solomon Islands
countrycode                SLB
year                      1976
gdp                8.30991e+07
population              200640
Name: 3643, dtype: object)
(3644, countryname    Sierra Leone
countrycode             SLE
year                   1976
gdp             5.94896e+08
population      3.06296e+06
Name: 3644, dtype: object)
(3645, countryname    El Salvador
countrycode            SLV
year                  1976
gdp            2.32828e+09
population     4.23968e+06
Name: 3645, dtype: object)
(3646, countryname     San Marino
countrycode            SMR
year                  1976
gdp            1.38902e+11
population           19980
Name: 3646, dtype: object)
(3647, countryname        Somalia
countrycode            SOM
year                  1976
gdp            1.38902e+11
population     4.28947e+06
Name: 3647, dtype: object)
(3648, countryname         Serbia
countrycode            SRB
year                  1976
gdp            1.38902e+11
population     3.44462e+08
Name: 3648, dtype: object)
(3649, countryname    South Sudan
countrycode            SSD
year                  1976
gdp            1.38946e+11
population     4.22453e+06
Name: 3649, dtype: object)
(3650, countryname    Sao Tome and Principe
countrycode                      STP
year                            1976
gdp                        5.055e+08
population                     84885
Name: 3650, dtype: object)
(3651, countryname     Suriname
countrycode          SUR
year                1976
gdp            5.055e+08
population        361364
Name: 3651, dtype: object)
(3652, countryname    Slovak Republic
countrycode                SVK
year                      1976
gdp                8.81021e+10
population         4.78951e+06
Name: 3652, dtype: object)
(3653, countryname       Slovenia
countrycode            SVN
year                  1976
gdp            8.81021e+10
population     1.82025e+06
Name: 3653, dtype: object)
(3654, countryname         Sweden
countrycode            SWE
year                  1976
gdp            8.81021e+10
population     8.22229e+06
Name: 3654, dtype: object)
(3655, countryname      Swaziland
countrycode            SWZ
year                  1976
gdp            2.72539e+08
population          533214
Name: 3655, dtype: object)
(3656, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1976
gdp                           4.9279e+07
population                         60504
Name: 3656, dtype: object)
(3657, countryname    Seychelles
countrycode           SYC
year                 1976
gdp            4.9279e+07
population          60504
Name: 3657, dtype: object)
(3658, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1976
gdp                     7.63353e+09
population              7.79466e+06
Name: 3658, dtype: object)
(3659, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1976
gdp                         8.66045e+08
population                         6723
Name: 3659, dtype: object)
(3660, countryname           Chad
countrycode            TCD
year                  1976
gdp            8.66045e+08
population     4.17223e+06
Name: 3660, dtype: object)
(3661, countryname           Togo
countrycode            TGO
year                  1976
gdp            6.19375e+08
population     2.46446e+06
Name: 3661, dtype: object)
(3662, countryname       Thailand
countrycode            THA
year                  1976
gdp            1.69852e+10
population     4.33868e+07
Name: 3662, dtype: object)
(3663, countryname     Tajikistan
countrycode            TJK
year                  1976
gdp            6.37754e+08
population     3.48764e+06
Name: 3663, dtype: object)
(3664, countryname    Turkmenistan
countrycode             TKM
year                   1976
gdp             6.37754e+08
population      2.59431e+06
Name: 3664, dtype: object)
(3665, countryname    Timor-Leste
countrycode            TLS
year                  1976
gdp            6.37754e+08
population          654947
Name: 3665, dtype: object)
(3666, countryname          Tonga
countrycode            TON
year                  1976
gdp            3.00364e+07
population           89254
Name: 3666, dtype: object)
(3667, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1976
gdp                    2.50041e+09
population             1.02566e+06
Name: 3667, dtype: object)
(3668, countryname        Tunisia
countrycode            TUN
year                  1976
gdp            4.50793e+09
population      5.7818e+06
Name: 3668, dtype: object)
(3669, countryname         Turkey
countrycode            TUR
year                  1976
gdp            5.12801e+10
population     4.01895e+07
Name: 3669, dtype: object)
(3670, countryname        Tuvalu
countrycode           TUV
year                 1976
gdp            2.4473e+09
population           7749
Name: 3670, dtype: object)
(3671, countryname       Tanzania
countrycode            TZA
year                  1976
gdp             2.4473e+09
population     1.64933e+07
Name: 3671, dtype: object)
(3672, countryname         Uganda
countrycode            UGA
year                  1976
gdp             2.4473e+09
population     1.11398e+07
Name: 3672, dtype: object)
(3673, countryname        Ukraine
countrycode            UKR
year                  1976
gdp            8.63008e+11
population     4.90365e+07
Name: 3673, dtype: object)
(3674, countryname        Uruguay
countrycode            URY
year                  1976
gdp            3.66716e+09
population     2.84143e+06
Name: 3674, dtype: object)
(3675, countryname    United States
countrycode              USA
year                    1976
gdp              1.87759e+12
population       2.18035e+08
Name: 3675, dtype: object)
(3676, countryname     Uzbekistan
countrycode            UZB
year                  1976
gdp            3.27925e+07
population     1.42791e+07
Name: 3676, dtype: object)
(3677, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1976
gdp                               3.27925e+07
population                              96641
Name: 3677, dtype: object)
(3678, countryname    Venezuela, RB
countrycode              VEN
year                    1976
gdp               3.6187e+10
population       1.37391e+07
Name: 3678, dtype: object)
(3679, countryname    British Virgin Islands
countrycode                       VGB
year                             1976
gdp                           4.4e+08
population                      10543
Name: 3679, dtype: object)
(3680, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1976
gdp                          4.4e+08
population                     96166
Name: 3680, dtype: object)
(3681, countryname        Vietnam
countrycode            VNM
year                  1976
gdp            6.35208e+12
population     4.98081e+07
Name: 3681, dtype: object)
(3682, countryname        Vanuatu
countrycode            VUT
year                  1976
gdp            6.35208e+12
population          103028
Name: 3682, dtype: object)
(3683, countryname          Samoa
countrycode            WSM
year                  1976
gdp            3.66019e+10
population          152390
Name: 3683, dtype: object)
(3684, countryname         Kosovo
countrycode            XKX
year                  1976
gdp            3.66019e+10
population         1.4e+06
Name: 3684, dtype: object)
(3685, countryname    Yemen, Rep.
countrycode            YEM
year                  1976
gdp            3.66019e+10
population     7.03487e+06
Name: 3685, dtype: object)
(3686, countryname    South Africa
countrycode             ZAF
year                   1976
gdp             3.66019e+10
population      2.69043e+07
Name: 3686, dtype: object)
(3687, countryname         Zambia
countrycode            ZMB
year                  1976
gdp            2.74671e+09
population     5.13903e+06
Name: 3687, dtype: object)
(3688, countryname       Zimbabwe
countrycode            ZWE
year                  1976
gdp            4.31837e+09
population      6.3083e+06
Name: 3688, dtype: object)
(3689, countryname          Aruba
countrycode            ABW
year                  1977
gdp            2.95333e+09
population           60366
Name: 3689, dtype: object)
(3690, countryname    Afghanistan
countrycode            AFG
year                  1977
gdp            2.95333e+09
population     1.30675e+07
Name: 3690, dtype: object)
(3691, countryname         Angola
countrycode            AGO
year                  1977
gdp             2.5402e+08
population     8.13099e+06
Name: 3691, dtype: object)
(3692, countryname        Albania
countrycode            ALB
year                  1977
gdp             2.5402e+08
population     2.51355e+06
Name: 3692, dtype: object)
(3693, countryname       Andorra
countrycode           AND
year                 1977
gdp            2.5402e+08
population          32771
Name: 3693, dtype: object)
(3694, countryname    United Arab Emirates
countrycode                     ARE
year                           1977
gdp                     2.48718e+10
population                   748117
Name: 3694, dtype: object)
(3695, countryname      Argentina
countrycode            ARG
year                  1977
gdp             5.6781e+10
population     2.68786e+07
Name: 3695, dtype: object)
(3696, countryname        Armenia
countrycode            ARM
year                  1977
gdp            7.74967e+07
population     2.94438e+06
Name: 3696, dtype: object)
(3697, countryname    American Samoa
countrycode               ASM
year                     1977
gdp               7.74967e+07
population              30689
Name: 3697, dtype: object)
(3698, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1977
gdp                    7.74967e+07
population                   72875
Name: 3698, dtype: object)
(3699, countryname      Australia
countrycode            AUS
year                  1977
gdp            1.10174e+11
population      1.4192e+07
Name: 3699, dtype: object)
(3700, countryname        Austria
countrycode            AUT
year                  1977
gdp            5.15458e+10
population     7.56843e+06
Name: 3700, dtype: object)
(3701, countryname     Azerbaijan
countrycode            AZE
year                  1977
gdp            5.47536e+08
population     5.86313e+06
Name: 3701, dtype: object)
(3702, countryname        Burundi
countrycode            BDI
year                  1977
gdp            5.47536e+08
population     3.82119e+06
Name: 3702, dtype: object)
(3703, countryname        Belgium
countrycode            BEL
year                  1977
gdp            8.32833e+10
population     9.83036e+06
Name: 3703, dtype: object)
(3704, countryname          Benin
countrycode            BEN
year                  1977
gdp             7.5005e+08
population     3.43344e+06
Name: 3704, dtype: object)
(3705, countryname    Burkina Faso
countrycode             BFA
year                   1977
gdp             1.13123e+09
population      6.39894e+06
Name: 3705, dtype: object)
(3706, countryname     Bangladesh
countrycode            BGD
year                  1977
gdp            9.65115e+09
population     7.49259e+07
Name: 3706, dtype: object)
(3707, countryname       Bulgaria
countrycode            BGR
year                  1977
gdp               7.13e+08
population     8.80418e+06
Name: 3707, dtype: object)
(3708, countryname     Bahrain
countrycode         BHR
year               1977
gdp            7.13e+08
population       303175
Name: 3708, dtype: object)
(3709, countryname    Bahamas, The
countrycode             BHS
year                   1977
gdp                7.13e+08
population           197111
Name: 3709, dtype: object)
(3710, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1977
gdp                        1.1765e+08
population                4.06319e+06
Name: 3710, dtype: object)
(3711, countryname       Belarus
countrycode           BLR
year                 1977
gdp            1.1765e+08
population      9.463e+06
Name: 3711, dtype: object)
(3712, countryname        Belize
countrycode           BLZ
year                 1977
gdp            1.1765e+08
population         136989
Name: 3712, dtype: object)
(3713, countryname     Bermuda
countrycode         BMU
year               1977
gdp            4.47e+08
population        53400
Name: 3713, dtype: object)
(3714, countryname        Bolivia
countrycode            BOL
year                  1977
gdp            3.22744e+09
population     5.23368e+06
Name: 3714, dtype: object)
(3715, countryname         Brazil
countrycode            BRA
year                  1977
gdp            1.73272e+09
population     1.12868e+08
Name: 3715, dtype: object)
(3716, countryname       Barbados
countrycode            BRB
year                  1977
gdp            5.85681e+08
population          248784
Name: 3716, dtype: object)
(3717, countryname    Brunei Darussalam
countrycode                  BRN
year                        1977
gdp                  1.73272e+09
population                174773
Name: 3717, dtype: object)
(3718, countryname         Bhutan
countrycode            BTN
year                  1977
gdp            5.85681e+08
population          373324
Name: 3718, dtype: object)
(3719, countryname       Botswana
countrycode            BWA
year                  1977
gdp            4.51603e+08
population          891926
Name: 3719, dtype: object)
(3720, countryname    Central African Republic
countrycode                         CAF
year                               1977
gdp                         5.07298e+08
population                  2.11046e+06
Name: 3720, dtype: object)
(3721, countryname         Canada
countrycode            CAN
year                  1977
gdp            2.11612e+11
population      2.3796e+07
Name: 3721, dtype: object)
(3722, countryname    Switzerland
countrycode            CHE
year                  1977
gdp            2.05249e+10
population     6.28117e+06
Name: 3722, dtype: object)
(3723, countryname    Channel Islands
countrycode                CHI
year                      1977
gdp                1.39629e+10
population              127183
Name: 3723, dtype: object)
(3724, countryname          Chile
countrycode            CHL
year                  1977
gdp            1.39629e+10
population     1.07664e+07
Name: 3724, dtype: object)
(3725, countryname          China
countrycode            CHN
year                  1977
gdp            1.74938e+11
population     9.43455e+08
Name: 3725, dtype: object)
(3726, countryname    Cote d'Ivoire
countrycode              CIV
year                    1977
gdp              6.26507e+09
population       7.24883e+06
Name: 3726, dtype: object)
(3727, countryname       Cameroon
countrycode            CMR
year                  1977
gdp            3.36637e+09
population     7.89097e+06
Name: 3727, dtype: object)
(3728, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1977
gdp                 7.65224e+08
population          2.42476e+07
Name: 3728, dtype: object)
(3729, countryname    Congo, Rep.
countrycode            COG
year                  1977
gdp            7.65224e+08
population     1.68652e+06
Name: 3729, dtype: object)
(3730, countryname       Colombia
countrycode            COL
year                  1977
gdp             1.9471e+10
population     2.59051e+07
Name: 3730, dtype: object)
(3731, countryname        Comoros
countrycode            COM
year                  1977
gdp            3.07243e+09
population          275900
Name: 3731, dtype: object)
(3732, countryname     Cabo Verde
countrycode            CPV
year                  1977
gdp            3.07243e+09
population          275767
Name: 3732, dtype: object)
(3733, countryname     Costa Rica
countrycode            CRI
year                  1977
gdp            3.07243e+09
population     2.20772e+06
Name: 3733, dtype: object)
(3734, countryname           Cuba
countrycode            CUB
year                  1977
gdp            1.42062e+10
population     9.63468e+06
Name: 3734, dtype: object)
(3735, countryname        Curacao

Name: 3840, dtype: object)
(3841, countryname           Peru
countrycode            PER
year                  1977
gdp            1.46204e+10
population     1.60613e+07
Name: 3841, dtype: object)
(3842, countryname    Philippines
countrycode            PHL
year                  1977
gdp            1.96481e+10
population     4.36503e+07
Name: 3842, dtype: object)
(3843, countryname          Palau
countrycode            PLW
year                  1977
gdp            1.64076e+09
population           12225
Name: 3843, dtype: object)
(3844, countryname    Papua New Guinea
countrycode                 PNG
year                       1977
gdp                 1.64076e+09
population          3.03966e+06
Name: 3844, dtype: object)
(3845, countryname         Poland
countrycode            POL
year                  1977
gdp            5.67984e+10
population     3.46890e+07
Name: 3845, dtype: object)
(3846, countryname    Puerto Rico
countrycode            PRI
year                  1977
gdp             9.9109e+09
population     3.08869e+06
Name: 3846, dtype: object)
(3847, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1977
gdp                          2.14416e+10
population                   1.67966e+07
Name: 3847, dtype: object)
(3848, countryname       Portugal
countrycode            PRT
year                  1977
gdp            2.14416e+10
population     9.45568e+06
Name: 3848, dtype: object)
(3849, countryname       Paraguay
countrycode            PRY
year                  1977
gdp            1.91235e+09
population     2.93538e+06
Name: 3849, dtype: object)
(3850, countryname    West Bank and Gaza
countrycode                   PSE
year                         1977
gdp                   1.87548e+10
population            1.28027e+07
Name: 3850, dtype: object)
(3851, countryname    French Polynesia
countrycode                 PYF
year                       1977
gdp                 7.93193e+08
population               138864
Name: 3851, dtype: object)
(3852, countryname          Qatar
countrycode            QAT
year                  1977
gdp            3.61758e+09
population          182443
Name: 3852, dtype: object)
(3853, countryname        Romania
countrycode            ROU
year                  1977
gdp            7.46651e+08
population     2.17561e+07
Name: 3853, dtype: object)
(3854, countryname    Russian Federation
countrycode                   RUS
year                         1977
gdp                   7.46651e+08
population              1.361e+08
Name: 3854, dtype: object)
(3855, countryname         Rwanda
countrycode            RWA
year                  1977
gdp            7.46651e+08
population     4.64762e+06
Name: 3855, dtype: object)
(3856, countryname    Saudi Arabia
countrycode             SAU
year                   1977
gdp             7.41882e+10
population       8.2316e+06
Name: 3856, dtype: object)
(3857, countryname          Sudan
countrycode            SDN
year                  1977
gdp              8.704e+09
population     1.30346e+07
Name: 3857, dtype: object)
(3858, countryname        Senegal
countrycode            SEN
year                  1977
gdp            2.32079e+09
population     5.18954e+06
Name: 3858, dtype: object)
(3859, countryname      Singapore
countrycode            SGP
year                  1977
gdp            6.61753e+09
population      2.3253e+06
Name: 3859, dtype: object)
(3860, countryname    Solomon Islands
countrycode                SLB
year                      1977
gdp                 9.3147e+07
population              207937
Name: 3860, dtype: object)
(3861, countryname    Sierra Leone
countrycode             SLE
year                   1977
gdp             6.91778e+08
population       3.1348e+06
Name: 3861, dtype: object)
(3862, countryname    El Salvador
countrycode            SLV
year                  1977
gdp            2.94164e+09
population     4.32996e+06
Name: 3862, dtype: object)
(3863, countryname     San Marino
countrycode            SMR
year                  1977
gdp            1.51165e+11
population           20296
Name: 3863, dtype: object)
(3864, countryname        Somalia
countrycode            SOM
year                  1977
gdp            1.51165e+11
population     4.82736e+06
Name: 3864, dtype: object)
(3865, countryname         Serbia
countrycode            SRB
year                  1977
gdp            3.61758e+09
population          182443
Name: 3865, dtype: object)
(3866, countryname    South Sudan
countrycode            SSD
year                  1977
gdp            2.98413e+10
population     4.33229e+06
Name: 3866, dtype: object)
(3867, countryname    Sao Tome and Principe
countrycode                      STP
year                            1977
gdp                         6.41e+08
population                     87434
Name: 3867, dtype: object)
(3868, countryname    Suriname
countrycode         SUR
year               1977
gdp            6.41e+08
population       361043
Name: 3868, dtype: object)
(3869, countryname    Slovak Republic
countrycode                SVK
year                      1977
gdp                9.31368e+10
population          4.8405e+06
Name: 3869, dtype: object)
(3870, countryname       Slovenia
countrycode            SVN
year                  1977
gdp            9.31368e+10
population     1.84238e+06
Name: 3870, dtype: object)
(3871, countryname         Sweden
countrycode            SWE
year                  1977
gdp            9.31368e+10
population     8.25154e+06
Name: 3871, dtype: object)
(3872, countryname      Swaziland
countrycode            SWZ
year                  1977
gdp            3.04048e+08
population          550118
Name: 3872, dtype: object)
(3873, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1977
gdp                          6.45264e+07
population                         61786
Name: 3873, dtype: object)
(3874, countryname     Seychelles
countrycode            SYC
year                  1977
gdp            6.45264e+07
population           61786
Name: 3874, dtype: object)
(3875, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1977
gdp                     7.69601e+09
population              8.06065e+06
Name: 3875, dtype: object)
(3876, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1977
gdp                          9.3536e+08
population                         6886
Name: 3876, dtype: object)
(3877, countryname           Chad
countrycode            TCD
year                  1977
gdp             9.3536e+08
population     4.25399e+06
Name: 3877, dtype: object)
(3878, countryname           Togo
countrycode            TGO
year                  1977
gdp            7.77435e+08
population     2.51857e+06
Name: 3878, dtype: object)
(3879, countryname       Thailand
countrycode            THA
year                  1977
gdp            1.97793e+10
population      4.4416e+07
Name: 3879, dtype: object)
(3880, countryname     Tajikistan
countrycode            TJK
year                  1977
gdp            1.97793e+10
population      3.5865e+06
Name: 3880, dtype: object)
(3881, countryname    Turkmenistan
countrycode             TKM
year                   1977
gdp             1.97793e+10
population      2.66426e+06
Name: 3881, dtype: object)
(3882, countryname    Timor-Leste
countrycode            TLS
year                  1977
gdp            3.41394e+07
population          636096
Name: 3882, dtype: object)
(3883, countryname          Tonga
countrycode            TON
year                  1977
gdp            3.41394e+07
population           90295
Name: 3883, dtype: object)
(3884, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1977
gdp                    3.13867e+09
population             1.03976e+06
Name: 3884, dtype: object)
(3885, countryname        Tunisia
countrycode            TUN
year                  1977
gdp            5.10932e+09
population     5.91501e+06
Name: 3885, dtype: object)
(3886, countryname         Turkey
countrycode            TUR
year                  1977
gdp            5.86768e+10
population     4.11082e+07
Name: 3886, dtype: object)
(3887, countryname         Tuvalu
countrycode            TUV
year                  1977
gdp            2.93647e+09
population            7816
Name: 3887, dtype: object)
(3888, countryname       Tanzania
countrycode            TZA
year                  1977
gdp            2.93647e+09
population     1.70177e+07
Name: 3888, dtype: object)
(3889, countryname         Uganda
countrycode            UGA
year                  1977
gdp            2.93647e+09
population     1.14709e+07
Name: 3889, dtype: object)
(3890, countryname        Ukraine
countrycode            UKR
year                  1977
gdp            9.57243e+11
population     4.92909e+07
Name: 3890, dtype: object)
(3891, countryname        Uruguay
countrycode            URY
year                  1977
gdp            4.11467e+09
population     2.85710e+06
Name: 3891, dtype: object)
(3892, countryname    United States
countrycode              USA
year                    1977
gdp              2.08595e+12
population       2.20239e+08
Name: 3892, dtype: object)
(3893, countryname     Uzbekistan
countrycode            UZB
year                  1977
gdp            4.93531e+07
population     1.46815e+07
Name: 3893, dtype: object)
(3894, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1977
gdp                               4.93531e+07
population                              97649
Name: 3894, dtype: object)
(3895, countryname    Venezuela, RB
countrycode              VEN
year                    1977
gdp              4.22632e+10
population       1.41278e+07
Name: 3895, dtype: object)
(3896, countryname    British Virgin Islands
countrycode                       VGB
year                             1977
gdp                         4.618e+08
population                      10591
Name: 3896, dtype: object)
(3897, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1977
gdp                        4.618e+08
population                     93203
Name: 3897, dtype: object)
(3898, countryname        Vietnam
countrycode            VNM
year                  1977
gdp            7.17939e+12
population     5.08995e+07
Name: 3898, dtype: object)
(3899, countryname        Vanuatu
countrycode            VUT
year                  1977
gdp            7.17939e+12
population          106222
Name: 3899, dtype: object)
(3900, countryname          Samoa
countrycode            WSM
year                  1977
gdp            4.06497e+10
population          153247
Name: 3900, dtype: object)
(3901, countryname         Kosovo
countrycode            XKX
year                  1977
gdp            4.06497e+10
population        1.43e+06
Name: 3901, dtype: object)
(3902, countryname    Yemen, Rep.
countrycode            YEM
year                  1977
gdp            4.06497e+10
population     7.27187e+06
Name: 3902, dtype: object)
(3903, countryname    South Africa
countrycode             ZAF
year                   1977
gdp             4.06497e+10
population      2.75973e+07
Name: 3903, dtype: object)
(3904, countryname         Zambia
countrycode            ZMB
year                  1977
gdp              2.483e+09
population     5.31763e+06
Name: 3904, dtype: object)
(3905, countryname       Zimbabwe
countrycode            ZWE
year                  1977
gdp            4.36438e+09
population     6.50189e+06
Name: 3905, dtype: object)
(3906, countryname          Aruba
countrycode            ABW
year                  1978
gdp            2.17773e+12
population           60103
Name: 3906, dtype: object)
(3907, countryname    Afghanistan
countrycode            AFG
year                  1978
gdp                3.3e+09
population     1.32377e+07
Name: 3907, dtype: object)
(3908, countryname         Angola
countrycode            AGO
year                  1978
gdp            3.08009e+08
population     8.37615e+06
Name: 3908, dtype: object)
(3909, countryname        Albania
countrycode            ALB
year                  1978
gdp            3.08009e+08
population     2.56627e+06
Name: 3909, dtype: object)
(3910, countryname        Andorra
countrycode            AND
year                  1978
gdp            3.08009e+08
population           33737
Name: 3910, dtype: object)
(3911, countryname    United Arab Emirates
countrycode                     ARE
year                           1978
gdp                     2.37758e+10
population                   852262
Name: 3911, dtype: object)
(3912, countryname      Argentina
countrycode            ARG
year                  1978
gdp            5.80829e+10
population     2.72777e+07
Name: 3912, dtype: object)
(3913, countryname        Armenia
countrycode            ARM
year                  1978
gdp            8.78793e+07
population     2.99741e+06
Name: 3913, dtype: object)
(3914, countryname    American Samoa
countrycode               ASM
year                     1978
gdp               8.78793e+07
population              31102
Name: 3914, dtype: object)
(3915, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1978
gdp                    8.78793e+07
population                   73324
Name: 3915, dtype: object)
(3916, countryname      Australia
countrycode            AUS
year                  1978
gdp            1.18309e+11
population      1.4358e+07
Name: 3916, dtype: object)
(3917, countryname        Austria
countrycode            AUT
year                  1978
gdp            6.20523e+10
population     7.56230e+06
Name: 3917, dtype: object)
(3918, countryname     Azerbaijan
countrycode            AZE
year                  1978
gdp            6.10226e+08
population     5.95793e+06
Name: 3918, dtype: object)
(3919, countryname        Burundi
countrycode            BDI
year                  1978
gdp            6.10226e+08
population     3.91377e+06
Name: 3919, dtype: object)
(3920, countryname        Belgium
countrycode            BEL
year                  1978
gdp            1.01788e+11
population     9.83953e+06
Name: 3920, dtype: object)
(3921, countryname          Benin
countrycode            BEN
year                  1978
gdp            9.28843e+08
population     3.52394e+06
Name: 3921, dtype: object)
(3922, countryname    Burkina Faso
countrycode             BFA
year                   1978
gdp             1.47558e+09
population      6.53082e+06
Name: 3922, dtype: object)
(3923, countryname     Bangladesh
countrycode            BGD
year                  1978
gdp            1.32818e+10
population     7.70338e+07
Name: 3923, dtype: object)
(3924, countryname       Bulgaria
countrycode            BGR
year                  1978
gdp              8.324e+08
population     8.81403e+06
Name: 3924, dtype: object)
(3925, countryname      Bahrain
countrycode          BHR
year                1978
gdp            8.324e+08
population        323473
Name: 3925, dtype: object)
(3926, countryname    Bahamas, The
countrycode             BHS
year                   1978
gdp               8.324e+08
population           201513
Name: 3926, dtype: object)
(3927, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1978
gdp                         1.363e+08
population                4.10035e+06
Name: 3927, dtype: object)
(3928, countryname      Belarus
countrycode          BLR
year                1978
gdp            1.363e+08
population     9.525e+06
Name: 3928, dtype: object)
(3929, countryname       Belize
countrycode          BLZ
year                1978
gdp            1.363e+08
population        138965
Name: 3929, dtype: object)
(3930, countryname      Bermuda
countrycode          BMU
year                1978
gdp            4.758e+08
population         53600
Name: 3930, dtype: object)
(3931, countryname        Bolivia
countrycode            BOL
year                  1978
gdp            3.75822e+09
population     5.35032e+06
Name: 3931, dtype: object)
(3932, countryname         Brazil
countrycode            BRA
year                  1978
gdp            6.54039e+08
population     1.15578e+08
Name: 3932, dtype: object)
(3933, countryname       Barbados
countrycode            BRB
year                  1978
gdp            6.54039e+08
population          250032
Name: 3933, dtype: object)
(3934, countryname    Brunei Darussalam
countrycode                  BRN
year                        1978
gdp                   1.9416e+09
population                181257
Name: 3934, dtype: object)
(3935, countryname         Bhutan
countrycode            BTN
year                  1978
gdp            1.19225e+10
population          385384
Name: 3935, dtype: object)
(3936, countryname       Botswana
countrycode            BWA
year                  1978
gdp            5.90377e+08
population          927585
Name: 3936, dtype: object)
(3937, countryname    Central African Republic
countrycode                         CAF
year                               1978
gdp                         6.10579e+08
population                  2.16225e+06
Name: 3937, dtype: object)
(3938, countryname         Canada
countrycode            CAN
year                  1978
gdp            2.18633e+11
population      2.4036e+07
Name: 3938, dtype: object)
(3939, countryname    Switzerland
countrycode            CHE
year                  1978
gdp            2.05249e+10
population     6.28174e+06
Name: 3939, dtype: object)
(3940, countryname    Channel Islands
countrycode                CHI
year                      1978
gdp                1.59899e+10
population              127390
Name: 3940, dtype: object)
(3941, countryname          Chile
countrycode            CHL
year                  1978
gdp            1.59899e+10
population     1.09308e+07
Name: 3941, dtype: object)
(3942, countryname          China
countrycode            CHN
year                  1978
gdp            1.49541e+11
population     9.56165e+08
Name: 3942, dtype: object)
(3943, countryname    Cote d'Ivoire
countrycode              CIV
year                    1978
gdp              7.90052e+09
population       7.58591e+06
Name: 3943, dtype: object)
(3944, countryname       Cameroon
countrycode            CMR
year                  1978
gdp            4.40992e+09
population     8.12253e+06
Name: 3944, dtype: object)
(3945, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1978
gdp                 8.78772e+08
population          2.49547e+07
Name: 3945, dtype: object)
(3946, countryname    Congo, Rep.
countrycode            COG
year                  1978
gdp            8.78772e+08
population      1.7361e+06
Name: 3946, dtype: object)
(3947, countryname       Colombia
countrycode            COL
year                  1978
gdp            2.32635e+10
population     2.65022e+07
Name: 3947, dtype: object)
(3948, countryname        Comoros
countrycode            COM
year                  1978
gdp            3.52321e+09
population          286634
Name: 3948, dtype: object)
(3949, countryname     Cabo Verde
countrycode            CPV
year                  1978
gdp            3.52321e+09
population          278739
Name: 3949, dtype: object)
(3950, countryname     Costa Rica
countrycode            CRI
year                  1978
gdp            3.52321e+09
population     2.26615e+06
Name: 3950, dtype: object)
(3951, countryname           Cuba
countrycode            CUB
year                  1978
gdp            1.78447e+10
population     9.71139e+06
Name: 3951, dtype: object)
(3952, countryname        Curacao
countrycode            CUW
year                  1978
gdp            9.64027e+08
population          148341
Name: 3952, dtype: object)
(3953, countryname    Cayman Islands

Name: 4058, dtype: object)
(4059, countryname    Philippines
countrycode            PHL
year                  1978
gdp            2.27062e+10
population     4.48663e+07
Name: 4059, dtype: object)
(4060, countryname          Palau
countrycode            PLW
year                  1978
gdp            1.94795e+09
population           12153
Name: 4060, dtype: object)
(4061, countryname    Papua New Guinea
countrycode                 PNG
year                       1978
gdp                 1.94795e+09
population          3.12503e+06
Name: 4061, dtype: object)
(4062, countryname         Poland
countrycode            POL
year                  1978
gdp            6.22293e+10
population     3.49656e+07
Name: 4062, dtype: object)
(4063, countryname    Puerto Rico
countrycode            PRI
year                  1978
gdp             1.1165e+10
population     3.12942e+06
Name: 4063, dtype: object)
(4064, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1978
gdp                          2.34899e+10
population                    1.7016e+07
Name: 4064, dtype: object)
(4065, countryname       Portugal
countrycode            PRT
year                  1978
gdp            2.34899e+10
population     9.55825e+06
Name: 4065, dtype: object)
(4066, countryname       Paraguay
countrycode            PRY
year                  1978
gdp            2.35033e+09
population     3.01283e+06
Name: 4066, dtype: object)
(4067, countryname    West Bank and Gaza
countrycode                   PSE
year                         1978
gdp                   1.37262e+09
population            1.36113e+06
Name: 4067, dtype: object)
(4068, countryname    French Polynesia
countrycode                 PYF
year                       1978
gdp                 1.00557e+09
population               143032
Name: 4068, dtype: object)
(4069, countryname        Qatar
countrycode          QAT
year                1978
gdp            4.052e+09
population        192093
Name: 4069, dtype: object)
(4070, countryname        Romania
countrycode            ROU
year                  1978
gdp            1.65155e+11
population     2.19515e+07
Name: 4070, dtype: object)
(4071, countryname    Russian Federation
countrycode                   RUS
year                         1978
gdp                   4.15675e+07
population             1.3706e+08
Name: 4071, dtype: object)
(4072, countryname         Rwanda
countrycode            RWA
year                  1978
gdp            9.05709e+08
population     4.80372e+06
Name: 4072, dtype: object)
(4073, countryname    Saudi Arabia
countrycode             SAU
year                   1978
gdp             8.02656e+10
population      8.67984e+06
Name: 4073, dtype: object)
(4074, countryname          Sudan
countrycode            SDN
year                  1978
gdp             7.6705e+09
population     1.35104e+07
Name: 4074, dtype: object)
(4075, countryname        Senegal
countrycode            SEN
year                  1978
gdp            2.59118e+09
population     5.31526e+06
Name: 4075, dtype: object)
(4076, countryname      Singapore
countrycode            SGP
year                  1978
gdp            7.51582e+09
population      2.3536e+06
Name: 4076, dtype: object)
(4077, countryname    Solomon Islands
countrycode                SLB
year                      1978
gdp                1.11022e+08
population              215347
Name: 4077, dtype: object)
(4078, countryname    Sierra Leone
countrycode             SLE
year                   1978
gdp             9.60728e+08
population      3.20926e+06
Name: 4078, dtype: object)
(4079, countryname    El Salvador
countrycode            SLV
year                  1978
gdp            3.12796e+09
population     4.41752e+06
Name: 4079, dtype: object)
(4080, countryname     San Marino
countrycode            SMR
year                  1978
gdp            1.65072e+11
population           20660
Name: 4080, dtype: object)
(4081, countryname        Somalia
countrycode            SOM
year                  1978
gdp            1.65072e+11
population     5.41774e+06
Name: 4081, dtype: object)
(4082, countryname         Serbia
countrycode            SRB
year                  1978
gdp            1.65072e+11
population     3.64454e+08
Name: 4082, dtype: object)
(4083, countryname    South Sudan
countrycode            SSD
year                  1978
gdp            1.65155e+11
population     4.44583e+06
Name: 4083, dtype: object)
(4084, countryname    Sao Tome and Principe
countrycode                      STP
year                            1978
gdp                        7.355e+08
population                     90089
Name: 4084, dtype: object)
(4085, countryname     Suriname
countrycode          SUR
year                1978
gdp            7.355e+08
population        361457
Name: 4085, dtype: object)
(4086, countryname    Slovak Republic
countrycode                SVK
year                      1978
gdp                 1.0297e+11
population         4.89012e+06
Name: 4086, dtype: object)
(4087, countryname       Slovenia
countrycode            SVN
year                  1978
gdp             1.0297e+11
population     1.86255e+06
Name: 4087, dtype: object)
(4088, countryname        Sweden
countrycode           SWE
year                 1978
gdp            1.0297e+11
population     8.2756e+06
Name: 4088, dtype: object)
(4089, countryname      Swaziland
countrycode            SWZ
year                  1978
gdp            3.40616e+08
population          567559
Name: 4089, dtype: object)
(4090, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1978
gdp                          8.55524e+07
population                         62150
Name: 4090, dtype: object)
(4091, countryname     Seychelles
countrycode            SYC
year                  1978
gdp            8.55524e+07
population           62150
Name: 4091, dtype: object)
(4092, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1978
gdp                      9.2752e+09
population              8.33642e+06
Name: 4092, dtype: object)
(4093, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1978
gdp                         1.11392e+09
population                         7053
Name: 4093, dtype: object)
(4094, countryname           Chad
countrycode            TCD
year                  1978
gdp            1.11392e+09
population     4.33564e+06
Name: 4094, dtype: object)
(4095, countryname           Togo
countrycode            TGO
year                  1978
gdp            8.24264e+08
population     2.57647e+06
Name: 4095, dtype: object)
(4096, countryname       Thailand
countrycode            THA
year                  1978
gdp            2.40066e+10
population     4.54234e+07
Name: 4096, dtype: object)
(4097, countryname     Tajikistan
countrycode            TJK
year                  1978
gdp            2.40066e+10
population     3.68838e+06
Name: 4097, dtype: object)
(4098, countryname    Turkmenistan
countrycode             TKM
year                   1978
gdp             2.40066e+10
population       2.7349e+06
Name: 4098, dtype: object)
(4099, countryname    Timor-Leste
countrycode            TLS
year                  1978
gdp            4.15675e+07
population          613857
Name: 4099, dtype: object)
(4100, countryname          Tonga
countrycode            TON
year                  1978
gdp            4.15675e+07
population           91364
Name: 4100, dtype: object)
(4101, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1978
gdp                    3.56233e+09
population             1.05412e+06
Name: 4101, dtype: object)
(4102, countryname        Tunisia
countrycode            TUN
year                  1978
gdp            5.96804e+09
population     6.05491e+06
Name: 4102, dtype: object)
(4103, countryname         Turkey
countrycode            TUR
year                  1978
gdp             6.5147e+10
population     4.20399e+07
Name: 4103, dtype: object)
(4104, countryname         Tuvalu
countrycode            TUV
year                  1978
gdp            2.42026e+09
population            7888
Name: 4104, dtype: object)
(4105, countryname       Tanzania
countrycode            TZA
year                  1978
gdp            2.42026e+09
population     1.75555e+07
Name: 4105, dtype: object)
(4106, countryname         Uganda
countrycode            UGA
year                  1978
gdp            2.42026e+09
population     1.18183e+07
Name: 4106, dtype: object)
(4107, countryname        Ukraine
countrycode            UKR
year                  1978
gdp            1.00848e+12
population     4.95269e+07
Name: 4107, dtype: object)
(4108, countryname        Uruguay
countrycode            URY
year                  1978
gdp            4.91026e+09
population     2.87597e+06
Name: 4108, dtype: object)
(4109, countryname    United States
countrycode              USA
year                    1978
gdp              2.35657e+12
population       2.22585e+08
Name: 4109, dtype: object)
(4110, countryname     Uzbekistan
countrycode            UZB
year                  1978
gdp            6.08448e+07
population      1.5096e+07
Name: 4110, dtype: object)
(4111, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1978
gdp                               6.08448e+07
population                              98633
Name: 4111, dtype: object)
(4112, countryname    Venezuela, RB
countrycode              VEN
year                    1978
gdp              4.64265e+10
population       1.45259e+07
Name: 4112, dtype: object)
(4113, countryname    British Virgin Islands
countrycode                       VGB
year                             1978
gdp                         5.129e+08
population                      10662
Name: 4113, dtype: object)
(4114, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1978
gdp                        5.129e+08
population                     95929
Name: 4114, dtype: object)
(4115, countryname        Vietnam
countrycode            VNM
year                  1978
gdp            8.46194e+12
population     5.20153e+07
Name: 4115, dtype: object)
(4116, countryname        Vanuatu
countrycode            VUT
year                  1978
gdp            8.46194e+12
population          109429
Name: 4116, dtype: object)
(4117, countryname          Samoa
countrycode            WSM
year                  1978
gdp            4.67376e+10
population          154007
Name: 4117, dtype: object)
(4118, countryname         Kosovo
countrycode            XKX
year                  1978
gdp            4.67376e+10
population        1.46e+06
Name: 4118, dtype: object)
(4119, countryname    Yemen, Rep.
countrycode            YEM
year                  1978
gdp            4.67376e+10
population     7.53676e+06
Name: 4119, dtype: object)
(4120, countryname    South Africa
countrycode             ZAF
year                   1978
gdp             4.67376e+10
population      2.82982e+07
Name: 4120, dtype: object)
(4121, countryname         Zambia
countrycode            ZMB
year                  1978
gdp            2.81338e+09
population     5.50144e+06
Name: 4121, dtype: object)
(4122, countryname       Zimbabwe
countrycode            ZWE
year                  1978
gdp             4.3516e+09
population     6.70318e+06
Name: 4122, dtype: object)
(4123, countryname          Aruba
countrycode            ABW
year                  1979
gdp            2.63807e+12
population           59980
Name: 4123, dtype: object)
(4124, countryname    Afghanistan
countrycode            AFG
year                  1979
gdp            3.69794e+09
population     1.33067e+07
Name: 4124, dtype: object)
(4125, countryname         Angola
countrycode            AGO
year                  1979
gdp            4.11578e+08
population     8.64152e+06
Name: 4125, dtype: object)
(4126, countryname        Albania
countrycode            ALB
year                  1979
gdp            4.11578e+08
population     2.61783e+06
Name: 4126, dtype: object)
(4127, countryname        Andorra
countrycode            AND
year                  1979
gdp            4.11578e+08
population           34818
Name: 4127, dtype: object)
(4128, countryname    United Arab Emirates
countrycode                     ARE
year                           1979
gdp                     3.12255e+10
population                   952040
Name: 4128, dtype: object)
(4129, countryname      Argentina
countrycode            ARG
year                  1979
gdp            6.92523e+10
population     2.76845e+07
Name: 4129, dtype: object)
(4130, countryname        Armenia
countrycode            ARM
year                  1979
gdp             1.0908e+08
population     3.04910e+06
Name: 4130, dtype: object)
(4131, countryname    American Samoa
countrycode               ASM
year                     1979
gdp                1.0908e+08
population              31673
Name: 4131, dtype: object)
(4132, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1979
gdp                     1.0908e+08
population                   73528
Name: 4132, dtype: object)
(4133, countryname      Australia
countrycode            AUS
year                  1979
gdp            1.34679e+11
population      1.4514e+07
Name: 4133, dtype: object)
(4134, countryname        Austria
countrycode            AUT
year                  1979
gdp            7.39373e+10
population     7.54942e+06
Name: 4134, dtype: object)
(4135, countryname     Azerbaijan
countrycode            AZE
year                  1979
gdp            4.00115e+12
population     6.05364e+06
Name: 4135, dtype: object)
(4136, countryname        Burundi
countrycode            BDI
year                  1979
gdp            7.82497e+08
population     4.01331e+06
Name: 4136, dtype: object)
(4137, countryname        Belgium
countrycode            BEL
year                  1979
gdp            1.16938e+11
population     9.84838e+06
Name: 4137, dtype: object)
(4138, countryname          Benin
countrycode            BEN
year                  1979
gdp            1.18623e+09
population     3.61853e+06
Name: 4138, dtype: object)
(4139, countryname    Burkina Faso
countrycode             BFA
year                   1979
gdp             1.74848e+09
population      6.67166e+06
Name: 4139, dtype: object)
(4140, countryname     Bangladesh
countrycode            BGD
year                  1979
gdp            1.55655e+10
population     7.92368e+07
Name: 4140, dtype: object)
(4141, countryname       Bulgaria
countrycode            BGR
year                  1979
gdp             1.1398e+09
population     8.82594e+06
Name: 4141, dtype: object)
(4142, countryname       Bahrain
countrycode           BHR
year                 1979
gdp            1.1398e+09
population         342798
Name: 4142, dtype: object)
(4143, countryname    Bahamas, The
countrycode             BHS
year                   1979
gdp              1.1398e+09
population           206032
Name: 4143, dtype: object)
(4144, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1979
gdp                         1.518e+08
population                4.13882e+06
Name: 4144, dtype: object)
(4145, countryname      Belarus
countrycode          BLR
year                1979
gdp            1.518e+08
population     9.584e+06
Name: 4145, dtype: object)
(4146, countryname       Belize
countrycode          BLZ
year                1979
gdp            1.518e+08
population        141305
Name: 4146, dtype: object)
(4147, countryname      Bermuda
countrycode          BMU
year                1979
gdp            5.172e+08
population         53800
Name: 4147, dtype: object)
(4148, countryname        Bolivia
countrycode            BOL
year                  1979
gdp            4.42134e+09
population     5.46912e+06
Name: 4148, dtype: object)
(4149, countryname         Brazil
countrycode            BRA
year                  1979
gdp            7.93012e+08
population     1.18343e+08
Name: 4149, dtype: object)
(4150, countryname       Barbados
countrycode            BRB
year                  1979
gdp            7.93012e+08
population          251177
Name: 4150, dtype: object)
(4151, countryname    Brunei Darussalam
countrycode                  BRN
year                        1979
gdp                  2.80378e+09
population                187656
Name: 4151, dtype: object)
(4152, countryname         Bhutan
countrycode            BTN
year                  1979
gdp            1.23936e+08
population          397390
Name: 4152, dtype: object)
(4153, countryname       Botswana
countrycode            BWA
year                  1979
gdp            8.19877e+08
population          964166
Name: 4153, dtype: object)
(4154, countryname    Central African Republic
countrycode                         CAF
year                               1979
gdp                         7.00765e+08
population                  2.21858e+06
Name: 4154, dtype: object)
(4155, countryname         Canada
countrycode            CAN
year                  1979
gdp            2.43072e+11
population      2.4277e+07
Name: 4155, dtype: object)
(4156, countryname    Switzerland
countrycode            CHE
year                  1979
gdp            2.05249e+10
population     6.29436e+06
Name: 4156, dtype: object)
(4157, countryname    Channel Islands
countrycode                CHI
year                      1979
gdp                2.18037e+10
population              127692
Name: 4157, dtype: object)
(4158, countryname          Chile
countrycode            CHL
year                  1979
gdp            2.18037e+10
population     1.10969e+07
Name: 4158, dtype: object)
(4159, countryname          China
countrycode            CHN
year                  1979
gdp            1.78281e+11
population     9.69005e+08
Name: 4159, dtype: object)
(4160, countryname    Cote d'Ivoire
countrycode              CIV
year                    1979
gdp              9.14294e+09
population       7.93428e+06
Name: 4160, dtype: object)
(4161, countryname       Cameroon
countrycode            CMR
year                  1979
gdp            5.81144e+09
population     8.36484e+06
Name: 4161, dtype: object)
(4162, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1979
gdp                 1.19875e+09
population          2.56619e+07
Name: 4162, dtype: object)
(4163, countryname    Congo, Rep.
countrycode            COG
year                  1979
gdp            1.19875e+09
population     1.78713e+06
Name: 4163, dtype: object)
(4164, countryname       Colombia
countrycode            COL
year                  1979
gdp            2.79404e+10
population     2.71135e+07
Name: 4164, dtype: object)
(4165, countryname        Comoros
countrycode            COM
year                  1979
gdp            4.03552e+09
population          297447
Name: 4165, dtype: object)
(4166, countryname     Cabo Verde
countrycode            CPV
year                  1979
gdp            4.03552e+09
population          282415
Name: 4166, dtype: object)
(4167, countryname     Costa Rica
countrycode            CRI
year                  1979
gdp            4.03552e+09
population      2.3267e+06
Name: 4167, dtype: object)
(4168, countryname           Cuba
countrycode            CUB
year                  1979
gdp            1.95844e+10
population     9.77729e+06
Name: 4168, dtype: object)
(4169, countryname        Curacao
countrycode            CUW
year                  1979
gdp            1.28872e+09
population          147851
Name: 4169, dtype: object)
(4170, countryname    Cayman Islands
countrycode               CYM
year                     1979
gdp               1.28872e+09
population              15444
Name: 4170, dtype: object)
(4171, countryname         Cyprus

Name: 4274, dtype: object)
(4275, countryname           Peru
countrycode            PER
year                  1979
gdp            1.59625e+10
population     1.69248e+07
Name: 4275, dtype: object)
(4276, countryname    Philippines
countrycode            PHL
year                  1979
gdp            2.75022e+10
population      4.6114e+07
Name: 4276, dtype: object)
(4277, countryname          Palau
countrycode            PLW
year                  1979
gdp            2.29362e+09
population           12124
Name: 4277, dtype: object)
(4278, countryname    Papua New Guinea
countrycode                 PNG
year                       1979
gdp                 2.29362e+09
population          3.21336e+06
Name: 4278, dtype: object)
(4279, countryname         Poland
countrycode            POL
year                  1979
gdp            8.10988e+10
population     3.52472e+07
Name: 4279, dtype: object)
(4280, countryname    Puerto Rico
countrycode            PRI
year                  1979
gdp              1.275e+10
population     3.16809e+06
Name: 4280, dtype: object)
(4281, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1979
gdp                          2.66254e+10
population                   1.72357e+07
Name: 4281, dtype: object)
(4282, countryname       Portugal
countrycode            PRT
year                  1979
gdp            2.66254e+10
population     9.66126e+06
Name: 4282, dtype: object)
(4283, countryname       Paraguay
countrycode            PRY
year                  1979
gdp            3.13512e+09
population     3.09448e+06
Name: 4283, dtype: object)
(4284, countryname    West Bank and Gaza
countrycode                   PSE
year                         1979
gdp                    1.6817e+09
population            1.39003e+06
Name: 4284, dtype: object)
(4285, countryname    French Polynesia
countrycode                 PYF
year                       1979
gdp                 1.21503e+09
population               147296
Name: 4285, dtype: object)
(4286, countryname        Qatar
countrycode          QAT
year                1979
gdp            5.633e+09
population        205313
Name: 4286, dtype: object)
(4287, countryname        Romania
countrycode            ROU
year                  1979
gdp            2.02702e+11
population     2.20905e+07
Name: 4287, dtype: object)
(4288, countryname    Russian Federation
countrycode                   RUS
year                         1979
gdp                    4.4667e+07
population            1.38027e+08
Name: 4288, dtype: object)
(4289, countryname         Rwanda
countrycode            RWA
year                  1979
gdp            1.10935e+09
population     4.96807e+06
Name: 4289, dtype: object)
(4290, countryname    Saudi Arabia
countrycode             SAU
year                   1979
gdp              1.1186e+11
population      9.17962e+06
Name: 4290, dtype: object)
(4291, countryname          Sudan
countrycode            SDN
year                  1979
gdp            9.03225e+09
population     1.40023e+07
Name: 4291, dtype: object)
(4292, countryname        Senegal
countrycode            SEN
year                  1979
gdp            3.22668e+09
population     5.44811e+06
Name: 4292, dtype: object)
(4293, countryname      Singapore
countrycode            SGP
year                  1979
gdp            9.29464e+09
population      2.3835e+06
Name: 4293, dtype: object)
(4294, countryname    Solomon Islands
countrycode                SLB
year                      1979
gdp                 1.5127e+08
population              222897
Name: 4294, dtype: object)
(4295, countryname    Sierra Leone
countrycode             SLE
year                   1979
gdp             1.10937e+09
population      3.28618e+06
Name: 4295, dtype: object)
(4296, countryname    El Salvador
countrycode            SLV
year                  1979
gdp            3.46364e+09
population     4.50132e+06
Name: 4296, dtype: object)
(4297, countryname     San Marino
countrycode            SMR
year                  1979
gdp            2.02575e+11
population           21030
Name: 4297, dtype: object)
(4298, countryname        Somalia
countrycode            SOM
year                  1979
gdp            2.02575e+11
population     5.95362e+06
Name: 4298, dtype: object)
(4299, countryname         Serbia
countrycode            SRB
year                  1979
gdp            2.02575e+11
population     3.74972e+08
Name: 4299, dtype: object)
(4300, countryname    South Sudan
countrycode            SSD
year                  1979
gdp            2.02702e+11
population     4.56942e+06
Name: 4300, dtype: object)
(4301, countryname    Sao Tome and Principe
countrycode                      STP
year                            1979
gdp                         7.83e+08
population                     92649
Name: 4301, dtype: object)
(4302, countryname    Suriname
countrycode         SUR
year               1979
gdp            7.83e+08
population       362125
Name: 4302, dtype: object)
(4303, countryname    Slovak Republic
countrycode                SVK
year                      1979
gdp                1.21647e+11
population         4.93897e+06
Name: 4303, dtype: object)
(4304, countryname       Slovenia
countrycode            SVN
year                  1979
gdp            1.21647e+11
population      1.8826e+06
Name: 4304, dtype: object)
(4305, countryname         Sweden
countrycode            SWE
year                  1979
gdp            1.21647e+11
population     8.29368e+06
Name: 4305, dtype: object)
(4306, countryname      Swaziland
countrycode            SWZ
year                  1979
gdp            4.12093e+08
population          585344
Name: 4306, dtype: object)
(4307, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1979
gdp                          1.27261e+08
population                         62686
Name: 4307, dtype: object)
(4308, countryname     Seychelles
countrycode            SYC
year                  1979
gdp            1.27261e+08
population           62686
Name: 4308, dtype: object)
(4309, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1979
gdp                     9.92968e+09
population              8.62569e+06
Name: 4309, dtype: object)
(4310, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1979
gdp                         1.00432e+09
population                         7264
Name: 4310, dtype: object)
(4311, countryname           Chad
countrycode            TCD
year                  1979
gdp            1.00432e+09
population     4.42072e+06
Name: 4311, dtype: object)
(4312, countryname           Togo
countrycode            TGO
year                  1979
gdp            8.91776e+08
population     2.64285e+06
Name: 4312, dtype: object)
(4313, countryname       Thailand
countrycode            THA
year                  1979
gdp            2.73717e+10
population     4.64123e+07
Name: 4313, dtype: object)
(4314, countryname     Tajikistan
countrycode            TJK
year                  1979
gdp            1.10935e+09
population     3.79442e+06
Name: 4314, dtype: object)
(4315, countryname    Turkmenistan
countrycode             TKM
year                   1979
gdp             1.10935e+09
population      2.80582e+06
Name: 4315, dtype: object)
(4316, countryname    Timor-Leste
countrycode            TLS
year                  1979
gdp             4.4667e+07
population          595872
Name: 4316, dtype: object)
(4317, countryname         Tonga
countrycode           TON
year                 1979
gdp            4.4667e+07
population          92300
Name: 4317, dtype: object)
(4318, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1979
gdp                    4.60242e+09
population              1.0692e+06
Name: 4318, dtype: object)
(4319, countryname        Tunisia
countrycode            TUN
year                  1979
gdp            7.18819e+09
population     6.20521e+06
Name: 4319, dtype: object)
(4320, countryname         Turkey
countrycode            TUR
year                  1979
gdp            8.93941e+10
population      4.2994e+07
Name: 4320, dtype: object)
(4321, countryname         Tuvalu
countrycode            TUV
year                  1979
gdp            2.13902e+09
population            7962
Name: 4321, dtype: object)
(4322, countryname       Tanzania
countrycode            TZA
year                  1979
gdp            2.13902e+09
population     1.81099e+07
Name: 4322, dtype: object)
(4323, countryname         Uganda
countrycode            UGA
year                  1979
gdp            2.13902e+09
population     1.21785e+07
Name: 4323, dtype: object)
(4324, countryname        Ukraine
countrycode            UKR
year                  1979
gdp            1.25363e+12
population     4.97513e+07
Name: 4324, dtype: object)
(4325, countryname        Uruguay
countrycode            URY
year                  1979
gdp            7.18119e+09
population     2.89602e+06
Name: 4325, dtype: object)
(4326, countryname    United States
countrycode              USA
year                    1979
gdp              2.63214e+12
population       2.25055e+08
Name: 4326, dtype: object)
(4327, countryname     Uzbekistan
countrycode            UZB
year                  1979
gdp            7.10964e+07
population     1.55169e+07
Name: 4327, dtype: object)
(4328, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1979
gdp                               7.10964e+07
population                              99590
Name: 4328, dtype: object)
(4329, countryname    Venezuela, RB
countrycode              VEN
year                    1979
gdp              5.56533e+10
population       1.49317e+07
Name: 4329, dtype: object)
(4330, countryname    British Virgin Islands
countrycode                       VGB
year                             1979
gdp                         6.067e+08
population                      10792
Name: 4330, dtype: object)
(4331, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1979
gdp                        6.067e+08
population                     96183
Name: 4331, dtype: object)
(4332, countryname        Vietnam
countrycode            VNM
year                  1979
gdp            1.19259e+08
population     5.31697e+07
Name: 4332, dtype: object)
(4333, countryname        Vanuatu
countrycode            VUT
year                  1979
gdp            1.19259e+08
population          112580
Name: 4333, dtype: object)
(4334, countryname          Samoa
countrycode            WSM
year                  1979
gdp            5.76473e+10
population          154760
Name: 4334, dtype: object)
(4335, countryname         Kosovo
countrycode            XKX
year                  1979
gdp            5.76473e+10
population       1.491e+06
Name: 4335, dtype: object)
(4336, countryname    Yemen, Rep.
countrycode            YEM
year                  1979
gdp            5.76473e+10
population     7.82155e+06
Name: 4336, dtype: object)
(4337, countryname    South Africa
countrycode             ZAF
year                   1979
gdp             5.76473e+10
population       2.9017e+07
Name: 4337, dtype: object)
(4338, countryname         Zambia
countrycode            ZMB
year                  1979
gdp             3.3255e+09
population     5.69175e+06
Name: 4338, dtype: object)
(4339, countryname       Zimbabwe
countrycode            ZWE
year                  1979
gdp            5.17746e+09
population     6.92179e+06
Name: 4339, dtype: object)
(4340, countryname          Aruba
countrycode            ABW
year                  1980
gdp            2.95471e+12
population           60096
Name: 4340, dtype: object)
(4341, countryname    Afghanistan
countrycode            AFG
year                  1980
gdp            3.64172e+09
population     1.32484e+07
Name: 4341, dtype: object)
(4342, countryname         Angola
countrycode            AGO
year                  1980
gdp            5.93407e+09
population      8.9299e+06
Name: 4342, dtype: object)
(4343, countryname        Albania
countrycode            ALB
year                  1980
gdp            4.46416e+08
population       2.672e+06
Name: 4343, dtype: object)
(4344, countryname        Andorra
countrycode            AND
year                  1980
gdp            4.46416e+08
population           36067
Name: 4344, dtype: object)
(4345, countryname    United Arab Emirates
countrycode                     ARE
year                           1980
gdp                     4.35987e+10
population              1.04238e+06
Name: 4345, dtype: object)
(4346, countryname      Argentina
countrycode            ARG
year                  1980
gdp            7.69619e+10
population     2.81059e+07
Name: 4346, dtype: object)
(4347, countryname        Armenia
countrycode            ARM
year                  1980
gdp            1.31431e+08
population     3.09975e+06
Name: 4347, dtype: object)
(4348, countryname    American Samoa
countrycode               ASM
year                     1980
gdp               1.31431e+08
population              32457
Name: 4348, dtype: object)
(4349, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1980
gdp                    1.31431e+08
population                   73442
Name: 4349, dtype: object)
(4350, countryname      Australia
countrycode            AUS
year                  1980
gdp            1.49738e+11
population      1.4692e+07
Name: 4350, dtype: object)
(4351, countryname        Austria
countrycode            AUT
year                  1980
gdp            8.20589e+10
population     7.54943e+06
Name: 4351, dtype: object)
(4352, countryname     Azerbaijan
countrycode            AZE
year                  1980
gdp            9.19727e+08
population     6.15074e+06
Name: 4352, dtype: object)
(4353, countryname        Burundi
countrycode            BDI
year                  1980
gdp            9.19727e+08
population     4.11682e+06
Name: 4353, dtype: object)
(4354, countryname        Belgium
countrycode            BEL
year                  1980
gdp            1.27508e+11
population     9.85924e+06
Name: 4354, dtype: object)
(4355, countryname          Benin
countrycode            BEN
year                  1980
gdp            1.40525e+09
population     3.71716e+06
Name: 4355, dtype: object)
(4356, countryname    Burkina Faso
countrycode             BFA
year                   1980
gdp             1.92872e+09
population      6.82284e+06
Name: 4356, dtype: object)
(4357, countryname     Bangladesh
countrycode            BGD
year                  1980
gdp             1.8138e+10
population     8.14709e+07
Name: 4357, dtype: object)
(4358, countryname       Bulgaria
countrycode            BGR
year                  1980
gdp            1.98392e+10
population     8.86154e+06
Name: 4358, dtype: object)
(4359, countryname       Bahrain
countrycode           BHR
year                 1980
gdp            3.0727e+09
population         359888
Name: 4359, dtype: object)
(4360, countryname    Bahamas, The
countrycode             BHS
year                   1980
gdp              1.3353e+09
population           210661
Name: 4360, dtype: object)
(4361, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1980
gdp                        1.9475e+08
population                4.17986e+06
Name: 4361, dtype: object)
(4362, countryname       Belarus
countrycode           BLR
year                 1980
gdp            1.9475e+08
population      9.643e+06
Name: 4362, dtype: object)
(4363, countryname        Belize
countrycode           BLZ
year                 1980
gdp            1.9475e+08
population         144155
Name: 4363, dtype: object)
(4364, countryname      Bermuda
countrycode          BMU
year                1980
gdp            6.133e+08
population         54670
Name: 4364, dtype: object)
(4365, countryname        Bolivia
countrycode            BOL
year                  1980
gdp            4.53749e+09
population     5.58958e+06
Name: 4365, dtype: object)
(4366, countryname         Brazil
countrycode            BRA
year                  1980
gdp            1.01781e+09
population      1.2116e+08
Name: 4366, dtype: object)
(4367, countryname       Barbados
countrycode            BRB
year                  1980
gdp            1.01781e+09
population          252194
Name: 4367, dtype: object)
(4368, countryname    Brunei Darussalam
countrycode                  BRN
year                        1980
gdp                  4.92882e+09
population                193949
Name: 4368, dtype: object)
(4369, countryname         Bhutan
countrycode            BTN
year                  1980
gdp            1.35653e+08
population          409172
Name: 4369, dtype: object)
(4370, countryname       Botswana
countrycode            BWA
year                  1980
gdp            1.06092e+09
population     1.00116e+06
Name: 4370, dtype: object)
(4371, countryname    Central African Republic
countrycode                         CAF
year                               1980
gdp                         7.97048e+08
population                  2.27982e+06
Name: 4371, dtype: object)
(4372, countryname         Canada
countrycode            CAN
year                  1980
gdp            2.73854e+11
population      2.4593e+07
Name: 4372, dtype: object)
(4373, countryname    Switzerland
countrycode            CHE
year                  1980
gdp            1.19008e+11
population     6.31941e+06
Name: 4373, dtype: object)
(4374, countryname    Channel Islands
countrycode                CHI
year                      1980
gdp                2.90367e+10
population              128212
Name: 4374, dtype: object)
(4375, countryname          Chile
countrycode            CHL
year                  1980
gdp            2.90367e+10
population     1.12662e+07
Name: 4375, dtype: object)
(4376, countryname          China
countrycode            CHN
year                  1980
gdp            1.91149e+11
population     9.81235e+08
Name: 4376, dtype: object)
(4377, countryname    Cote d'Ivoire
countrycode              CIV
year                    1980
gdp              1.01756e+10
population       8.29368e+06
Name: 4377, dtype: object)
(4378, countryname       Cameroon
countrycode            CMR
year                  1980
gdp            6.74076e+09
population     8.61835e+06
Name: 4378, dtype: object)
(4379, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1980
gdp                  1.7058e+09
population          2.63575e+07
Name: 4379, dtype: object)
(4380, countryname    Congo, Rep.
countrycode            COG
year                  1980
gdp             1.7058e+09
population     1.83994e+06
Name: 4380, dtype: object)
(4381, countryname       Colombia
countrycode            COL
year                  1980
gdp            3.34007e+10
population     2.77379e+07
Name: 4381, dtype: object)
(4382, countryname        Comoros
countrycode            COM
year                  1980
gdp            1.23506e+08
population          307829
Name: 4382, dtype: object)
(4383, countryname     Cabo Verde
countrycode            CPV
year                  1980
gdp            1.42247e+08
population          286657
Name: 4383, dtype: object)
(4384, countryname     Costa Rica
countrycode            CRI
year                  1980
gdp            4.83145e+09
population     2.38931e+06
Name: 4384, dtype: object)
(4385, countryname           Cuba
countrycode            CUB
year                  1980
gdp            1.99129e+10
population     9.83518e+06
Name: 4385, dtype: object)
(4386, countryname        Curacao
countrycode            CUW
year                  1980
gdp            2.15431e+09
population          148041
Name: 4386, dtype: object)
(4387, countryname    Cayman Islands

Name: 4497, dtype: object)
(4498, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1980
gdp                          3.28998e+10
population                   1.74721e+07
Name: 4498, dtype: object)
(4499, countryname       Portugal
countrycode            PRT
year                  1980
gdp            3.28998e+10
population     9.76631e+06
Name: 4499, dtype: object)
(4500, countryname       Paraguay
countrycode            PRY
year                  1980
gdp            4.09481e+09
population     3.18063e+06
Name: 4500, dtype: object)
(4501, countryname    West Bank and Gaza
countrycode                   PSE
year                         1980
gdp                   1.92479e+09
population            1.42067e+06
Name: 4501, dtype: object)
(4502, countryname    French Polynesia
countrycode                 PYF
year                       1980
gdp                 1.36215e+09
population               151708
Name: 4502, dtype: object)
(4503, countryname          Qatar
countrycode            QAT
year                  1980
gdp            7.82909e+09
population          223775
Name: 4503, dtype: object)
(4504, countryname        Romania
countrycode            ROU
year                  1980
gdp            2.59678e+11
population     2.22427e+07
Name: 4504, dtype: object)
(4505, countryname    Russian Federation
countrycode                   RUS
year                         1980
gdp                   5.32601e+07
population             1.3901e+08
Name: 4505, dtype: object)
(4506, countryname         Rwanda
countrycode            RWA
year                  1980
gdp            1.25477e+09
population     5.14072e+06
Name: 4506, dtype: object)
(4507, countryname    Saudi Arabia
countrycode             SAU
year                   1980
gdp             1.64542e+11
population       9.7406e+06
Name: 4507, dtype: object)
(4508, countryname          Sudan
countrycode            SDN
year                  1980
gdp            7.45983e+09
population     1.45075e+07
Name: 4508, dtype: object)
(4509, countryname        Senegal
countrycode            SEN
year                  1980
gdp            3.50328e+09
population     5.59265e+06
Name: 4509, dtype: object)
(4510, countryname      Singapore
countrycode            SGP
year                  1980
gdp            1.18934e+10
population     2.41394e+06
Name: 4510, dtype: object)
(4511, countryname    Solomon Islands
countrycode                SLB
year                      1980
gdp                1.68715e+08
population              230607
Name: 4511, dtype: object)
(4512, countryname    Sierra Leone
countrycode             SLE
year                   1980
gdp             1.10069e+09
population      3.36544e+06
Name: 4512, dtype: object)
(4513, countryname    El Salvador
countrycode            SLV
year                  1980
gdp            3.57396e+09
population      4.5807e+06
Name: 4513, dtype: object)
(4514, countryname     San Marino
countrycode            SMR
year                  1980
gdp            2.59533e+11
population           21361
Name: 4514, dtype: object)
(4515, countryname        Somalia
countrycode            SOM
year                  1980
gdp            2.59533e+11
population     6.35913e+06
Name: 4515, dtype: object)
(4516, countryname         Serbia
countrycode            SRB
year                  1980
gdp            2.59533e+11
population     3.85822e+08
Name: 4516, dtype: object)
(4517, countryname    South Sudan
countrycode            SSD
year                  1980
gdp            2.59678e+11
population     4.70522e+06
Name: 4517, dtype: object)
(4518, countryname    Sao Tome and Principe
countrycode                      STP
year                            1980
gdp                        7.949e+08
population                     94949
Name: 4518, dtype: object)
(4519, countryname     Suriname
countrycode          SUR
year                1980
gdp            7.949e+08
population        362777
Name: 4519, dtype: object)
(4520, countryname    Slovak Republic
countrycode                SVK
year                      1980
gdp                1.40089e+11
population         4.97982e+06
Name: 4520, dtype: object)
(4521, countryname       Slovenia
countrycode            SVN
year                  1980
gdp            1.40089e+11
population     1.90132e+06
Name: 4521, dtype: object)
(4522, countryname         Sweden
countrycode            SWE
year                  1980
gdp            1.40089e+11
population     8.31053e+06
Name: 4522, dtype: object)
(4523, countryname      Swaziland
countrycode            SWZ
year                  1980
gdp            5.42001e+08
population          603372
Name: 4523, dtype: object)
(4524, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1980
gdp                          1.47357e+08
population                         63261
Name: 4524, dtype: object)
(4525, countryname     Seychelles
countrycode            SYC
year                  1980
gdp            1.47357e+08
population           63261
Name: 4525, dtype: object)
(4526, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1980
gdp                     1.30624e+10
population              8.93077e+06
Name: 4526, dtype: object)
(4527, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1980
gdp                           1.033e+09
population                         7519
Name: 4527, dtype: object)
(4528, countryname           Chad
countrycode            TCD
year                  1980
gdp              1.033e+09
population     4.51204e+06
Name: 4528, dtype: object)
(4529, countryname           Togo
countrycode            TGO
year                  1980
gdp            1.13641e+09
population     2.72084e+06
Name: 4529, dtype: object)
(4530, countryname       Thailand
countrycode            THA
year                  1980
gdp            3.23534e+10
population     4.73853e+07
Name: 4530, dtype: object)
(4531, countryname     Tajikistan
countrycode            TJK
year                  1980
gdp            3.23534e+10
population     3.90541e+06
Name: 4531, dtype: object)
(4532, countryname    Turkmenistan
countrycode             TKM
year                   1980
gdp             3.23534e+10
population      2.87681e+06
Name: 4532, dtype: object)
(4533, countryname    Timor-Leste
countrycode            TLS
year                  1980
gdp            5.32601e+07
population          587563
Name: 4533, dtype: object)
(4534, countryname          Tonga
countrycode            TON
year                  1980
gdp            5.32601e+07
population           93007
Name: 4534, dtype: object)
(4535, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1980
gdp                    6.23583e+09
population             1.08531e+06
Name: 4535, dtype: object)
(4536, countryname        Tunisia
countrycode            TUN
year                  1980
gdp            8.74413e+09
population     6.36817e+06
Name: 4536, dtype: object)
(4537, countryname         Turkey
countrycode            TUR
year                  1980
gdp            6.87893e+10
population     4.39759e+07
Name: 4537, dtype: object)
(4538, countryname         Tuvalu
countrycode            TUV
year                  1980
gdp            1.24461e+09
population            8052
Name: 4538, dtype: object)
(4539, countryname       Tanzania
countrycode            TZA
year                  1980
gdp            1.24461e+09
population     1.86832e+07
Name: 4539, dtype: object)
(4540, countryname         Uganda
countrycode            UGA
year                  1980
gdp            1.24461e+09
population     1.25495e+07
Name: 4540, dtype: object)
(4541, countryname        Ukraine
countrycode            UKR
year                  1980
gdp            1.46927e+12
population     4.99688e+07
Name: 4541, dtype: object)
(4542, countryname        Uruguay
countrycode            URY
year                  1980
gdp             1.0163e+10
population     2.91578e+06
Name: 4542, dtype: object)
(4543, countryname    United States
countrycode              USA
year                    1980
gdp              2.86250e+12
population       2.27225e+08
Name: 4543, dtype: object)
(4544, countryname     Uzbekistan
countrycode            UZB
year                  1980
gdp            8.23403e+07
population     1.59397e+07
Name: 4544, dtype: object)
(4545, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1980
gdp                               8.23403e+07
population                             100505
Name: 4545, dtype: object)
(4546, countryname    Venezuela, RB
countrycode              VEN
year                    1980
gdp               6.7018e+10
population       1.53439e+07
Name: 4546, dtype: object)
(4547, countryname    British Virgin Islands
countrycode                       VGB
year                             1980
gdp                         7.278e+08
population                      11002
Name: 4547, dtype: object)
(4548, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1980
gdp                        7.278e+08
population                     99636
Name: 4548, dtype: object)
(4549, countryname        Vietnam
countrycode            VNM
year                  1980
gdp            1.13423e+08
population     5.43725e+07
Name: 4549, dtype: object)
(4550, countryname        Vanuatu
countrycode            VUT
year                  1980
gdp            1.13423e+08
population          115632
Name: 4550, dtype: object)
(4551, countryname          Samoa
countrycode            WSM
year                  1980
gdp            8.29841e+10
population          155557
Name: 4551, dtype: object)
(4552, countryname         Kosovo
countrycode            XKX
year                  1980
gdp            8.29841e+10
population       1.521e+06
Name: 4552, dtype: object)
(4553, countryname    Yemen, Rep.
countrycode            YEM
year                  1980
gdp            8.29841e+10
population      8.1205e+06
Name: 4553, dtype: object)
(4554, countryname    South Africa
countrycode             ZAF
year                   1980
gdp             8.29841e+10
population      2.97605e+07
Name: 4554, dtype: object)
(4555, countryname         Zambia
countrycode            ZMB
year                  1980
gdp             3.8295e+09
population     5.88923e+06
Name: 4555, dtype: object)
(4556, countryname       Zimbabwe
countrycode            ZWE
year                  1980
gdp            6.67887e+09
population     7.16417e+06
Name: 4556, dtype: object)
(4557, countryname          Aruba
countrycode            ABW
year                  1981
gdp            3.47879e+09
population           60567
Name: 4557, dtype: object)
(4558, countryname    Afghanistan
countrycode            AFG
year                  1981
gdp            3.47879e+09
population      1.3054e+07
Name: 4558, dtype: object)
(4559, countryname         Angola
countrycode            AGO
year                  1981
gdp            5.55382e+09
population     9.24451e+06
Name: 4559, dtype: object)
(4560, countryname        Albania
countrycode            ALB
year                  1981
gdp            3.88959e+08
population     2.72606e+06
Name: 4560, dtype: object)
(4561, countryname        Andorra
countrycode            AND
year                  1981
gdp            3.88959e+08
population           37500
Name: 4561, dtype: object)
(4562, countryname    United Arab Emirates
countrycode                     ARE
year                           1981
gdp                     4.93334e+10
population               1.1209e+06
Name: 4562, dtype: object)
(4563, countryname      Argentina
countrycode            ARG
year                  1981
gdp            7.86768e+10
population     2.85434e+07
Name: 4563, dtype: object)
(4564, countryname        Armenia
countrycode            ARM
year                  1981
gdp            1.47842e+08
population     3.14809e+06
Name: 4564, dtype: object)
(4565, countryname    American Samoa
countrycode               ASM
year                     1981
gdp               1.47842e+08
population              33493
Name: 4565, dtype: object)
(4566, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1981
gdp                    1.47842e+08
population                   73066
Name: 4566, dtype: object)
(4567, countryname      Australia
countrycode            AUS
year                  1981
gdp            1.76599e+11
population      1.4927e+07
Name: 4567, dtype: object)
(4568, countryname        Austria
countrycode            AUT
year                  1981
gdp            7.10342e+10
population     7.56871e+06
Name: 4568, dtype: object)
(4569, countryname     Azerbaijan
countrycode            AZE
year                  1981
gdp            9.69047e+08
population     6.24932e+06
Name: 4569, dtype: object)
(4570, countryname        Burundi
countrycode            BDI
year                  1981
gdp            9.69047e+08
population      4.2232e+06
Name: 4570, dtype: object)
(4571, countryname        Belgium
countrycode            BEL
year                  1981
gdp            1.05291e+11
population     9.85898e+06
Name: 4571, dtype: object)
(4572, countryname          Benin
countrycode            BEN
year                  1981
gdp            1.29112e+09
population     3.82013e+06
Name: 4572, dtype: object)
(4573, countryname    Burkina Faso
countrycode             BFA
year                   1981
gdp             1.77584e+09
population      6.98516e+06
Name: 4573, dtype: object)
(4574, countryname     Bangladesh
countrycode            BGD
year                  1981
gdp            2.02497e+10
population     8.37213e+07
Name: 4574, dtype: object)
(4575, countryname       Bulgaria
countrycode            BGR
year                  1981
gdp              1.987e+10
population     8.89112e+06
Name: 4575, dtype: object)
(4576, countryname        Bahrain
countrycode            BHR
year                  1981
gdp            3.46782e+09
population          374120
Name: 4576, dtype: object)
(4577, countryname    Bahamas, The
countrycode             BHS
year                   1981
gdp              1.4265e+09
population           215396
Name: 4577, dtype: object)
(4578, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1981
gdp                         1.929e+08
population                4.22251e+06
Name: 4578, dtype: object)
(4579, countryname      Belarus
countrycode          BLR
year                1981
gdp            1.929e+08
population      9.71e+06
Name: 4579, dtype: object)
(4580, countryname       Belize
countrycode          BLZ
year                1981
gdp            1.929e+08
population        147566
Name: 4580, dtype: object)
(4581, countryname      Bermuda
countrycode          BMU
year                1981
gdp            7.391e+08
population         55050
Name: 4581, dtype: object)
(4582, countryname        Bolivia
countrycode            BOL
year                  1981
gdp            5.89161e+09
population      5.7116e+06
Name: 4582, dtype: object)
(4583, countryname         Brazil
countrycode            BRA
year                  1981
gdp             1.1202e+09
population     1.24031e+08
Name: 4583, dtype: object)
(4584, countryname      Barbados
countrycode           BRB
year                 1981
gdp            1.1202e+09
population         253080
Name: 4584, dtype: object)
(4585, countryname    Brunei Darussalam
countrycode                  BRN
year                        1981
gdp                  4.36621e+09
population                200085
Name: 4585, dtype: object)
(4586, countryname         Bhutan
countrycode            BTN
year                  1981
gdp            1.46392e+08
population          420380
Name: 4586, dtype: object)
(4587, countryname       Botswana
countrycode            BWA
year                  1981
gdp            1.07386e+09
population      1.0384e+06
Name: 4587, dtype: object)
(4588, countryname    Central African Republic
countrycode                         CAF
year                               1981
gdp                         6.94804e+08
population                   2.3468e+06
Name: 4588, dtype: object)
(4589, countryname         Canada
countrycode            CAN
year                  1981
gdp            3.06215e+11
population        2.49e+07
Name: 4589, dtype: object)
(4590, countryname    Switzerland
countrycode            CHE
year                  1981
gdp            1.08994e+11
population     6.35407e+06
Name: 4590, dtype: object)
(4591, countryname    Channel Islands
countrycode                CHI
year                      1981
gdp                3.45099e+10
population              128981
Name: 4591, dtype: object)
(4592, countryname          Chile
countrycode            CHL
year                  1981
gdp            3.45099e+10
population     1.14391e+07
Name: 4592, dtype: object)
(4593, countryname          China
countrycode            CHN
year                  1981
gdp            1.95866e+11
population     9.93885e+08
Name: 4593, dtype: object)
(4594, countryname    Cote d'Ivoire
countrycode              CIV
year                    1981
gdp              8.43259e+09
population       8.66406e+06
Name: 4594, dtype: object)
(4595, countryname       Cameroon
countrycode            CMR
year                  1981
gdp            7.63635e+09
population     8.88302e+06
Name: 4595, dtype: object)
(4596, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1981
gdp                 1.99351e+09
population          2.70395e+07
Name: 4596, dtype: object)
(4597, countryname    Congo, Rep.
countrycode            COG
year                  1981
gdp            1.99351e+09
population     1.89468e+06
Name: 4597, dtype: object)
(4598, countryname       Colombia
countrycode            COL
year                  1981
gdp            3.63884e+10
population      2.8376e+07
Name: 4598, dtype: object)
(4599, countryname        Comoros
countrycode            COM
year                  1981
gdp            1.14272e+08
population          317606
Name: 4599, dtype: object)
(4600, countryname     Cabo Verde
countrycode            CPV
year                  1981
gdp            1.39468e+08
population          291602
Name: 4600, dtype: object)
(4601, countryname     Costa Rica
countrycode            CRI
year                  1981
gdp            2.62381e+09
population     2.45413e+06
Name: 4601, dtype: object)
(4602, countryname           Cuba
countrycode            CUB
year                  1981
gdp            2.01503e+10
population     9.88421e+06
Name: 4602, dtype: object)
(4603, countryname       Curacao
countrycode           CUW
year                 1981
gdp            2.0875e+09
population         148629
Name: 4603, dtype: object)
(4604, countryname    Cayman Islands
countrycode               CYM
year                     1981
gdp                2.0875e+09
population              16789
Name: 4604, dtype: object)
(4605, countryname        Cyprus
countrycode           CYP
year                 1981
gdp            2.0875e+09
population         689173
Name: 4605, dtype: object)
(4606, countryname    Czech Republic
countrycode               CZE
year                     1981
gdp               7.97443e+11
population        1.03006e+07
Name: 4606, dtype: object)
(4607, countryname        Germany
countrycode            DEU
year                  1981
gdp            7.97443e+11
population     7.84079e+07
Name: 4607, dtype: object)
(4608, countryname       Djibouti
countrycode            DJI
year                  1981
gdp            6.62185e+07
population          374937
Name: 4608, dtype: object)
(4609, countryname       Dominica
countrycode            DMA
year                  1981
gdp            6.62185e+07
population           75375
Name: 4609, dtype: object)
(4610, countryname        Denmark

Name: 4718, dtype: object)
(4719, countryname    French Polynesia
countrycode                 PYF
year                       1981
gdp                 1.27997e+09
population               156243
Name: 4719, dtype: object)
(4720, countryname          Qatar
countrycode            QAT
year                  1981
gdp            8.66126e+09
population          248144
Name: 4720, dtype: object)
(4721, countryname        Romania
countrycode            ROU
year                  1981
gdp             6.2242e+07
population     2.24152e+07
Name: 4721, dtype: object)
(4722, countryname    Russian Federation
countrycode                   RUS
year                         1981
gdp                   1.40706e+09
population            1.39941e+08
Name: 4722, dtype: object)
(4723, countryname         Rwanda
countrycode            RWA
year                  1981
gdp            1.40706e+09
population     5.31503e+06
Name: 4723, dtype: object)
(4724, countryname    Saudi Arabia
countrycode             SAU
year                   1981
gdp             1.84292e+11
population      1.03667e+07
Name: 4724, dtype: object)
(4725, countryname          Sudan
countrycode            SDN
year                  1981
gdp            1.00165e+10
population     1.50273e+07
Name: 4725, dtype: object)
(4726, countryname        Senegal
countrycode            SEN
year                  1981
gdp            3.17677e+09
population     5.75034e+06
Name: 4726, dtype: object)
(4727, countryname      Singapore
countrycode            SGP
year                  1981
gdp            1.41718e+10
population     2.53284e+06
Name: 4727, dtype: object)
(4728, countryname    Solomon Islands
countrycode                SLB
year                      1981
gdp                1.87313e+08
population              238479
Name: 4728, dtype: object)
(4729, countryname    Sierra Leone
countrycode             SLE
year                   1981
gdp             1.11483e+09
population      3.44528e+06
Name: 4729, dtype: object)
(4730, countryname    El Salvador
countrycode            SLV
year                  1981
gdp             3.4372e+09
population     4.65536e+06
Name: 4730, dtype: object)
(4731, countryname     San Marino
countrycode            SMR
year                  1981
gdp            2.63472e+11
population           21666
Name: 4731, dtype: object)
(4732, countryname        Somalia
countrycode            SOM
year                  1981
gdp            2.63472e+11
population     6.60487e+06
Name: 4732, dtype: object)
(4733, countryname         Serbia
countrycode            SRB
year                  1981
gdp            2.63472e+11
population     3.97002e+08
Name: 4733, dtype: object)
(4734, countryname    South Sudan
countrycode            SSD
year                  1981
gdp            5.45212e+10
population     4.85393e+06
Name: 4734, dtype: object)
(4735, countryname    Sao Tome and Principe
countrycode                      STP
year                            1981
gdp                       8.8905e+08
population                     96950
Name: 4735, dtype: object)
(4736, countryname      Suriname
countrycode           SUR
year                 1981
gdp            8.8905e+08
population         363325
Name: 4736, dtype: object)
(4737, countryname    Slovak Republic
countrycode                SVK
year                      1981
gdp                1.27858e+11
population         5.01610e+06
Name: 4737, dtype: object)
(4738, countryname       Slovenia
countrycode            SVN
year                  1981
gdp            1.27858e+11
population     1.90653e+06
Name: 4738, dtype: object)
(4739, countryname         Sweden
countrycode            SWE
year                  1981
gdp            1.27858e+11
population      8.3205e+06
Name: 4739, dtype: object)
(4740, countryname      Swaziland
countrycode            SWZ
year                  1981
gdp            5.71543e+08
population          621276
Name: 4740, dtype: object)
(4741, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1981
gdp                          1.54903e+08
population                         64035
Name: 4741, dtype: object)
(4742, countryname     Seychelles
countrycode            SYC
year                  1981
gdp            1.54903e+08
population           64035
Name: 4742, dtype: object)
(4743, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1981
gdp                     1.55182e+10
population              9.25285e+06
Name: 4743, dtype: object)
(4744, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1981
gdp                         8.76938e+08
population                         7858
Name: 4744, dtype: object)
(4745, countryname           Chad
countrycode            TCD
year                  1981
gdp            8.76938e+08
population     4.61017e+06
Name: 4745, dtype: object)
(4746, countryname           Togo
countrycode            TGO
year                  1981
gdp            9.62347e+08
population     2.81204e+06
Name: 4746, dtype: object)
(4747, countryname       Thailand
countrycode            THA
year                  1981
gdp            3.48461e+10
population     4.83375e+07
Name: 4747, dtype: object)
(4748, countryname     Tajikistan
countrycode            TJK
year                  1981
gdp            3.48461e+10
population     4.02078e+06
Name: 4748, dtype: object)
(4749, countryname    Turkmenistan
countrycode             TKM
year                   1981
gdp             3.48461e+10
population      2.94778e+06
Name: 4749, dtype: object)
(4750, countryname    Timor-Leste
countrycode            TLS
year                  1981
gdp             6.2242e+07
population          591005
Name: 4750, dtype: object)
(4751, countryname         Tonga
countrycode           TON
year                 1981
gdp            6.2242e+07
population          93453
Name: 4751, dtype: object)
(4752, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1981
gdp                    6.99208e+09
population             1.10256e+06
Name: 4752, dtype: object)
(4753, countryname        Tunisia
countrycode            TUN
year                  1981
gdp            8.42851e+09
population     6.54502e+06
Name: 4753, dtype: object)
(4754, countryname         Turkey
countrycode            TUR
year                  1981
gdp              7.104e+10
population     4.49884e+07
Name: 4754, dtype: object)
(4755, countryname        Tuvalu
countrycode           TUV
year                 1981
gdp            1.3373e+09
population           8154
Name: 4755, dtype: object)
(4756, countryname       Tanzania
countrycode            TZA
year                  1981
gdp             1.3373e+09
population     1.92771e+07
Name: 4756, dtype: object)
(4757, countryname         Uganda
countrycode            UGA
year                  1981
gdp             1.3373e+09
population     1.29302e+07
Name: 4757, dtype: object)
(4758, countryname        Ukraine
countrycode            UKR
year                  1981
gdp            1.59411e+12
population      5.0221e+07
Name: 4758, dtype: object)
(4759, countryname        Uruguay
countrycode            URY
year                  1981
gdp            1.10483e+10
population     2.93504e+06
Name: 4759, dtype: object)
(4760, countryname    United States
countrycode              USA
year                    1981
gdp              3.21096e+12
population       2.29466e+08
Name: 4760, dtype: object)
(4761, countryname     Uzbekistan
countrycode            UZB
year                  1981
gdp            1.02087e+08
population     1.63636e+07
Name: 4761, dtype: object)
(4762, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1981
gdp                               1.02087e+08
population                             101379
Name: 4762, dtype: object)
(4763, countryname    Venezuela, RB
countrycode              VEN
year                    1981
gdp              7.53671e+10
population       1.57618e+07
Name: 4763, dtype: object)
(4764, countryname    British Virgin Islands
countrycode                       VGB
year                             1981
gdp                         8.218e+08
population                      11315
Name: 4764, dtype: object)
(4765, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1981
gdp                        8.218e+08
population                     99853
Name: 4765, dtype: object)
(4766, countryname        Vietnam
countrycode            VNM
year                  1981
gdp            9.87464e+07
population     5.56277e+07
Name: 4766, dtype: object)
(4767, countryname        Vanuatu
countrycode            VUT
year                  1981
gdp            9.87464e+07
population          118580
Name: 4767, dtype: object)
(4768, countryname          Samoa
countrycode            WSM
year                  1981
gdp            8.96295e+10
population          156428
Name: 4768, dtype: object)
(4769, countryname         Kosovo
countrycode            XKX
year                  1981
gdp            8.96295e+10
population       1.552e+06
Name: 4769, dtype: object)
(4770, countryname    Yemen, Rep.
countrycode            YEM
year                  1981
gdp            8.96295e+10
population     8.43402e+06
Name: 4770, dtype: object)
(4771, countryname    South Africa
countrycode             ZAF
year                   1981
gdp             8.96295e+10
population       3.0533e+07
Name: 4771, dtype: object)
(4772, countryname         Zambia
countrycode            ZMB
year                  1981
gdp            3.87267e+09
population     6.09421e+06
Name: 4772, dtype: object)
(4773, countryname       Zimbabwe
countrycode            ZWE
year                  1981
gdp            8.01137e+09
population     7.43194e+06
Name: 4773, dtype: object)
(4774, countryname          Aruba
countrycode            ABW
year                  1982
gdp            3.47879e+09
population           61345
Name: 4774, dtype: object)
(4775, countryname    Afghanistan
countrycode            AFG
year                  1982
gdp            3.47879e+09
population     1.27496e+07
Name: 4775, dtype: object)
(4776, countryname         Angola
countrycode            AGO
year                  1982
gdp            5.55382e+09
population     9.58216e+06
Name: 4776, dtype: object)
(4777, countryname        Albania
countrycode            ALB
year                  1982
gdp            3.75896e+08
population     2.78428e+06
Name: 4777, dtype: object)
(4778, countryname        Andorra
countrycode            AND
year                  1982
gdp            3.75896e+08
population           39114
Name: 4778, dtype: object)
(4779, countryname    United Arab Emirates
countrycode                     ARE
year                           1982
gdp                     4.66227e+10
population              1.18954e+06
Name: 4779, dtype: object)
(4780, countryname      Argentina
countrycode            ARG
year                  1982
gdp            8.43075e+10
population      2.8994e+07
Name: 4780, dtype: object)
(4781, countryname        Armenia
countrycode            ARM
year                  1982
gdp            1.64369e+08
population     3.19369e+06
Name: 4781, dtype: object)
(4782, countryname    American Samoa
countrycode               ASM
year                     1982
gdp               1.64369e+08
population              34738
Name: 4782, dtype: object)
(4783, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1982
gdp                    1.64369e+08
population                   72448
Name: 4783, dtype: object)
(4784, countryname      Australia
countrycode            AUS
year                  1982
gdp            1.93722e+11
population      1.5178e+07
Name: 4784, dtype: object)
(4785, countryname        Austria
countrycode            AUT
year                  1982
gdp            7.12753e+10
population     7.57414e+06
Name: 4785, dtype: object)
(4786, countryname     Azerbaijan
countrycode            AZE
year                  1982
gdp            3.88701e+12
population     6.34956e+06
Name: 4786, dtype: object)
(4787, countryname        Burundi
countrycode            BDI
year                  1982
gdp            1.01322e+09
population     4.33339e+06
Name: 4787, dtype: object)
(4788, countryname        Belgium
countrycode            BEL
year                  1982
gdp            9.25889e+10
population      9.8563e+06
Name: 4788, dtype: object)
(4789, countryname          Benin
countrycode            BEN
year                  1982
gdp            1.26778e+09
population     3.92771e+06
Name: 4789, dtype: object)
(4790, countryname    Burkina Faso
countrycode             BFA
year                   1982
gdp             1.75445e+09
population      7.15826e+06
Name: 4790, dtype: object)
(4791, countryname     Bangladesh
countrycode            BGD
year                  1982
gdp            1.85254e+10
population     8.60073e+07
Name: 4791, dtype: object)
(4792, countryname       Bulgaria
countrycode            BGR
year                  1982
gdp             1.9342e+10
population     8.91746e+06
Name: 4792, dtype: object)
(4793, countryname        Bahrain
countrycode            BHR
year                  1982
gdp            3.64574e+09
population          385950
Name: 4793, dtype: object)
(4794, countryname    Bahamas, The
countrycode             BHS
year                   1982
gdp              1.5783e+09
population           220275
Name: 4794, dtype: object)
(4795, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1982
gdp                        1.7925e+08
population                4.26531e+06
Name: 4795, dtype: object)
(4796, countryname       Belarus
countrycode           BLR
year                 1982
gdp            1.7925e+08
population      9.776e+06
Name: 4796, dtype: object)
(4797, countryname        Belize
countrycode           BLZ
year                 1982
gdp            1.7925e+08
population         151500
Name: 4797, dtype: object)
(4798, countryname      Bermuda
countrycode          BMU
year                1982
gdp            7.855e+08
population         55449
Name: 4798, dtype: object)
(4799, countryname        Bolivia
countrycode            BOL
year                  1982
gdp            5.59412e+09
population     5.83518e+06
Name: 4799, dtype: object)
(4800, countryname         Brazil
countrycode            BRA
year                  1982
gdp            1.83786e+11
population     1.26947e+08
Name: 4800, dtype: object)
(4801, countryname       Barbados
countrycode            BRB
year                  1982
gdp            1.17043e+09
population          253841
Name: 4801, dtype: object)
(4802, countryname    Brunei Darussalam
countrycode                  BRN
year                        1982
gdp                  4.26425e+09
population                206128
Name: 4802, dtype: object)
(4803, countryname         Bhutan
countrycode            BTN
year                  1982
gdp            1.48934e+08
population          431050
Name: 4803, dtype: object)
(4804, countryname       Botswana
countrycode            BWA
year                  1982
gdp            1.01491e+09
population     1.07589e+06
Name: 4804, dtype: object)
(4805, countryname    Central African Republic
countrycode                         CAF
year                               1982
gdp                         7.48312e+08
population                  2.41884e+06
Name: 4805, dtype: object)
(4806, countryname         Canada
countrycode            CAN
year                  1982
gdp            3.13507e+11
population      2.5202e+07
Name: 4806, dtype: object)
(4807, countryname    Switzerland
countrycode            CHE
year                  1982
gdp            1.11711e+11
population     6.39131e+06
Name: 4807, dtype: object)
(4808, countryname    Channel Islands
countrycode                CHI
year                      1982
gdp                2.53259e+10
population              129979
Name: 4808, dtype: object)
(4809, countryname          Chile
countrycode            CHL
year                  1982
gdp            2.53259e+10
population     1.16158e+07
Name: 4809, dtype: object)
(4810, countryname          China
countrycode            CHN
year                  1982
gdp             2.0509e+11
population     1.00863e+09
Name: 4810, dtype: object)
(4811, countryname    Cote d'Ivoire
countrycode              CIV
year                    1982
gdp              7.56711e+09
population       9.04447e+06
Name: 4811, dtype: object)
(4812, countryname       Cameroon
countrycode            CMR
year                  1982
gdp            7.32291e+09
population     9.15857e+06
Name: 4812, dtype: object)
(4813, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1982
gdp                 2.16064e+09
population          2.77173e+07
Name: 4813, dtype: object)
(4814, countryname    Congo, Rep.
countrycode            COG
year                  1982
gdp            2.16064e+09
population      1.9512e+06
Name: 4814, dtype: object)
(4815, countryname       Colombia
countrycode            COL
year                  1982
gdp             3.8968e+10
population     2.90272e+07
Name: 4815, dtype: object)
(4816, countryname       Comoros
countrycode           COM
year                 1982
gdp            1.0709e+08
population         326946
Name: 4816, dtype: object)
(4817, countryname     Cabo Verde
countrycode            CPV
year                  1982
gdp            1.40631e+08
population          297285
Name: 4817, dtype: object)
(4818, countryname     Costa Rica
countrycode            CRI
year                  1982
gdp            2.60662e+09
population     2.52117e+06
Name: 4818, dtype: object)
(4819, countryname           Cuba
countrycode            CUB
year                  1982
gdp            2.09535e+10
population     9.92562e+06
Name: 4819, dtype: object)
(4820, countryname        Curacao
countrycode            CUW
year                  1982
gdp            2.15924e+09
population          150101
Name: 4820, dtype: object)
(4821, countryname    Cayman Islands
countrycode               CYM
year                     1982
gdp               2.15924e+09
population              17356
Name: 4821, dtype: object)
(4822, countryname         Cyprus
countrycode            CYP
year                  1982
gdp            2.15924e+09
population          691702
Name: 4822, dtype: object)
(4823, countryname    Czech Republic
countrycode               CZE
year                     1982
gdp               7.73638e+11
population        1.03148e+07
Name: 4823, dtype: object)
(4824, countryname        Germany
countrycode            DEU
year                  1982
gdp            7.73638e+11
population     7.83334e+07
Name: 4824, dtype: object)
(4825, countryname       Djibouti
countrycode            DJI
year                  1982
gdp            7.20519e+07
population          385271
Name: 4825, dtype: object)
(4826, countryname       Dominica
countrycode            DMA
year                  1982
gdp            7.20519e+07
population           75170
Name: 4826, dtype: object)
(4827, countryname        Denmark
countrycode            DNK
year                  1982
gdp            6.04128e+10
population     5.11781e+06
Name: 4827, dtype: object)
(4828, countryname    Dominican Republic
countrycode                   DOM
year                         1982
gdp                     7.964e+09
population            6.07882e+06
Name: 4828, dtype: object)
(4829, countryname        Algeria
countrycode            DZA
year                  1982
gdp            4.52071e+10
population     2.05757e+07
Name: 4829, dtype: object)
(4830, countryname        Ecuador
countrycode            ECU
year                  1982
gdp            1.99299e+10
population     8.39294e+06
Name: 4830, dtype: object)
(4831, countryname    Egypt, Arab Rep.
countrycode                 EGY

Name: 4927, dtype: object)
(4928, countryname          Palau
countrycode            PLW
year                  1982
gdp            8.76338e+10
population           12663
Name: 4928, dtype: object)
(4929, countryname    Papua New Guinea
countrycode                 PNG
year                       1982
gdp                 2.36858e+09
population           3.4952e+06
Name: 4929, dtype: object)
(4930, countryname         Poland
countrycode            POL
year                  1982
gdp            8.76338e+10
population     3.62305e+07
Name: 4930, dtype: object)
(4931, countryname    Puerto Rico
countrycode            PRI
year                  1982
gdp            1.67642e+10
population     3.27745e+06
Name: 4931, dtype: object)
(4932, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1982
gdp                          3.05308e+10
population                   1.80086e+07
Name: 4932, dtype: object)
(4933, countryname       Portugal
countrycode            PRT
year                  1982
gdp            3.05308e+10
population     9.91177e+06
Name: 4933, dtype: object)
(4934, countryname       Paraguay
countrycode            PRY
year                  1982
gdp            5.06745e+09
population     3.36672e+06
Name: 4934, dtype: object)
(4935, countryname    West Bank and Gaza
countrycode                   PSE
year                         1982
gdp                   1.93844e+09
population            1.48818e+06
Name: 4935, dtype: object)
(4936, countryname    French Polynesia
countrycode                 PYF
year                       1982
gdp                 1.28646e+09
population               160888
Name: 4936, dtype: object)
(4937, countryname         Qatar
countrycode           QAT
year                 1982
gdp            7.5967e+09
population         277396
Name: 4937, dtype: object)
(4938, countryname        Romania
countrycode            ROU
year                  1982
gdp            6.20682e+07
population     2.25154e+07
Name: 4938, dtype: object)
(4939, countryname    Russian Federation
countrycode                   RUS
year                         1982
gdp                   1.40724e+09
population            1.40823e+08
Name: 4939, dtype: object)
(4940, countryname         Rwanda
countrycode            RWA
year                  1982
gdp            1.40724e+09
population     5.48932e+06
Name: 4940, dtype: object)
(4941, countryname    Saudi Arabia
countrycode             SAU
year                   1982
gdp             1.53239e+11
population      1.10481e+07
Name: 4941, dtype: object)
(4942, countryname          Sudan
countrycode            SDN
year                  1982
gdp               9.24e+09
population     1.55622e+07
Name: 4942, dtype: object)
(4943, countryname        Senegal
countrycode            SEN
year                  1982
gdp            3.10968e+09
population     5.92006e+06
Name: 4943, dtype: object)
(4944, countryname      Singapore
countrycode            SGP
year                  1982
gdp            1.60789e+10
population     2.64647e+06
Name: 4944, dtype: object)
(4945, countryname    Solomon Islands
countrycode                SLB
year                      1982
gdp                1.88446e+08
population              246493
Name: 4945, dtype: object)
(4946, countryname    Sierra Leone
countrycode             SLE
year                   1982
gdp             1.29536e+09
population       3.5254e+06
Name: 4946, dtype: object)
(4947, countryname    El Salvador
countrycode            SLV
year                  1982
gdp            3.39919e+09
population     4.72572e+06
Name: 4947, dtype: object)
(4948, countryname     San Marino
countrycode            SMR
year                  1982
gdp            2.44488e+11
population           21943
Name: 4948, dtype: object)
(4949, countryname        Somalia
countrycode            SOM
year                  1982
gdp            2.44488e+11
population     6.71645e+06
Name: 4949, dtype: object)
(4950, countryname         Serbia
countrycode            SRB
year                  1982
gdp            2.44488e+11
population     4.08513e+08
Name: 4950, dtype: object)
(4951, countryname    South Sudan
countrycode            SSD
year                  1982
gdp            5.43003e+10
population     5.01173e+06
Name: 4951, dtype: object)
(4952, countryname    Sao Tome and Principe
countrycode                      STP
year                            1982
gdp                       9.1515e+08
population                     98706
Name: 4952, dtype: object)
(4953, countryname      Suriname
countrycode           SUR
year                 1982
gdp            9.1515e+08
population         364032
Name: 4953, dtype: object)
(4954, countryname    Slovak Republic
countrycode                SVK
year                      1982
gdp                1.12768e+11
population          5.0551e+06
Name: 4954, dtype: object)
(4955, countryname       Slovenia
countrycode            SVN
year                  1982
gdp            1.12768e+11
population     1.91033e+06
Name: 4955, dtype: object)
(4956, countryname         Sweden
countrycode            SWE
year                  1982
gdp            1.12768e+11
population     8.32526e+06
Name: 4956, dtype: object)
(4957, countryname      Swaziland
countrycode            SWZ
year                  1982
gdp            5.37576e+08
population          639237
Name: 4957, dtype: object)
(4958, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1982
gdp                          1.47912e+08
population                         64413
Name: 4958, dtype: object)
(4959, countryname     Seychelles
countrycode            SYC
year                  1982
gdp            1.47912e+08
population           64413
Name: 4959, dtype: object)
(4960, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1982
gdp                     1.62989e+10
population              9.59023e+06
Name: 4960, dtype: object)
(4961, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1982
gdp                          8.3437e+08
population                         8244
Name: 4961, dtype: object)
(4962, countryname          Chad
countrycode           TCD
year                 1982
gdp            8.3437e+08
population     4.7152e+06
Name: 4962, dtype: object)
(4963, countryname           Togo
countrycode            TGO
year                  1982
gdp            8.21652e+08
population     2.91507e+06
Name: 4963, dtype: object)
(4964, countryname       Thailand
countrycode            THA
year                  1982
gdp            3.65898e+10
population     4.92676e+07
Name: 4964, dtype: object)
(4965, countryname     Tajikistan
countrycode            TJK
year                  1982
gdp            3.65898e+10
population     4.14026e+06
Name: 4965, dtype: object)
(4966, countryname    Turkmenistan
countrycode             TKM
year                   1982
gdp             3.65898e+10
population      3.01907e+06
Name: 4966, dtype: object)
(4967, countryname    Timor-Leste
countrycode            TLS
year                  1982
gdp            6.20682e+07
population          604430
Name: 4967, dtype: object)
(4968, countryname          Tonga
countrycode            TON
year                  1982
gdp            6.20682e+07
population           93681
Name: 4968, dtype: object)
(4969, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1982
gdp                    8.14042e+09
population             1.12061e+06
Name: 4969, dtype: object)
(4970, countryname        Tunisia
countrycode            TUN
year                  1982
gdp             8.1334e+09
population     6.73396e+06
Name: 4970, dtype: object)
(4971, countryname         Turkey
countrycode            TUR
year                  1982
gdp            6.45463e+10
population     4.60254e+07
Name: 4971, dtype: object)
(4972, countryname        Tuvalu
countrycode           TUV
year                 1982
gdp            2.1775e+09
population           8284
Name: 4972, dtype: object)
(4973, countryname       Tanzania
countrycode            TZA
year                  1982
gdp             2.1775e+09
population     1.98915e+07
Name: 4973, dtype: object)
(4974, countryname         Uganda
countrycode            UGA
year                  1982
gdp             2.1775e+09
population     1.33233e+07
Name: 4974, dtype: object)
(4975, countryname        Ukraine
countrycode            UKR
year                  1982
gdp            1.53031e+12
population      5.0384e+07
Name: 4975, dtype: object)
(4976, countryname        Uruguay
countrycode            URY
year                  1982
gdp             9.1788e+09
population     2.95428e+06
Name: 4976, dtype: object)
(4977, countryname    United States
countrycode              USA
year                    1982
gdp              3.34499e+12
population       2.31664e+08
Name: 4977, dtype: object)
(4978, countryname     Uzbekistan
countrycode            UZB
year                  1982
gdp            1.13759e+08
population     1.67901e+07
Name: 4978, dtype: object)
(4979, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1982
gdp                               1.13759e+08
population                             102204
Name: 4979, dtype: object)
(4980, countryname    Venezuela, RB
countrycode              VEN
year                    1982
gdp              7.65599e+10
population       1.61859e+07
Name: 4980, dtype: object)
(4981, countryname    British Virgin Islands
countrycode                       VGB
year                             1982
gdp                         8.326e+08
population                      11712
Name: 4981, dtype: object)
(4982, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1982
gdp                        8.326e+08
population                    100068
Name: 4982, dtype: object)
(4983, countryname        Vietnam
countrycode            VNM
year                  1982
gdp            9.81446e+07
population     5.69318e+07
Name: 4983, dtype: object)
(4984, countryname        Vanuatu
countrycode            VUT
year                  1982
gdp            9.81446e+07
population          121435
Name: 4984, dtype: object)
(4985, countryname          Samoa
countrycode            WSM
year                  1982
gdp            1.21222e+08
population          157403
Name: 4985, dtype: object)
(4986, countryname         Kosovo
countrycode            XKX
year                  1982
gdp            8.26969e+10
population       1.582e+06
Name: 4986, dtype: object)
(4987, countryname    Yemen, Rep.
countrycode            YEM
year                  1982
gdp            8.26969e+10
population     8.76462e+06
Name: 4987, dtype: object)
(4988, countryname    South Africa
countrycode             ZAF
year                   1982
gdp             8.26969e+10
population      3.13303e+07
Name: 4988, dtype: object)
(4989, countryname         Zambia
countrycode            ZMB
year                  1982
gdp            3.99478e+09
population     6.30571e+06
Name: 4989, dtype: object)
(4990, countryname       Zimbabwe
countrycode            ZWE
year                  1982
gdp             8.5397e+09
population     7.72154e+06
Name: 4990, dtype: object)
(4991, countryname          Aruba
countrycode            ABW
year                  1983
gdp            3.47879e+09
population           62201
Name: 4991, dtype: object)
(4992, countryname    Afghanistan
countrycode            AFG
year                  1983
gdp            3.47879e+09
population     1.23893e+07
Name: 4992, dtype: object)
(4993, countryname         Angola
countrycode            AGO
year                  1983
gdp            5.78782e+09
population     9.93156e+06
Name: 4993, dtype: object)
(4994, countryname        Albania
countrycode            ALB
year                  1983
gdp            3.27862e+08
population     2.84396e+06
Name: 4994, dtype: object)
(4995, countryname        Andorra
countrycode            AND
year                  1983
gdp            3.27862e+08
population           40867
Name: 4995, dtype: object)
(4996, countryname    United Arab Emirates
countrycode                     ARE
year                           1983
gdp                     4.28033e+10
population              1.25306e+06
Name: 4996, dtype: object)
(4997, countryname      Argentina
countrycode            ARG
year                  1983
gdp            1.03979e+11
population     2.94547e+07
Name: 4997, dtype: object)
(4998, countryname        Armenia
countrycode            ARM
year                  1983
gdp            1.82144e+08
population     3.23859e+06
Name: 4998, dtype: object)
(4999, countryname    American Samoa
countrycode               ASM
year                     1983
gdp               1.82144e+08
population              36160
Name: 4999, dtype: object)
(5000, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1983
gdp                    1.82144e+08
population                   71639
Name: 5000, dtype: object)
(5001, countryname      Australia
countrycode            AUS
year                  1983
gdp            1.76986e+11
population      1.5369e+07
Name: 5001, dtype: object)
(5002, countryname        Austria
countrycode            AUT
year                  1983
gdp             7.2121e+10
population     7.56191e+06
Name: 5002, dtype: object)
(5003, countryname     Azerbaijan
countrycode            AZE
year                  1983
gdp            1.08293e+09
population     6.45208e+06
Name: 5003, dtype: object)
(5004, countryname        Burundi
countrycode            BDI
year                  1983
gdp            1.08293e+09
population     4.44873e+06
Name: 5004, dtype: object)
(5005, countryname        Belgium
countrycode            BEL
year                  1983
gdp            8.76509e+10
population     9.85552e+06
Name: 5005, dtype: object)
(5006, countryname          Benin
countrycode            BEN
year                  1983
gdp            1.09535e+09
population     4.03995e+06
Name: 5006, dtype: object)
(5007, countryname    Burkina Faso
countrycode             BFA
year                   1983
gdp             1.60028e+09
population      7.34090e+06
Name: 5007, dtype: object)
(5008, countryname     Bangladesh
countrycode            BGD
year                  1983
gdp             1.7609e+10
population     8.83382e+07
Name: 5008, dtype: object)
(5009, countryname       Bulgaria
countrycode            BGR
year                  1983
gdp            1.65637e+10
population     8.93974e+06
Name: 5009, dtype: object)
(5010, countryname        Bahrain
countrycode            BHR
year                  1983
gdp            3.73511e+09
population          396454
Name: 5010, dtype: object)
(5011, countryname    Bahamas, The
countrycode             BHS
year                   1983
gdp              1.7328e+09
population           225187
Name: 5011, dtype: object)
(5012, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1983
gdp                          1.89e+08
population                4.30811e+06
Name: 5012, dtype: object)
(5013, countryname      Belarus
countrycode          BLR
year                1983
gdp             1.89e+08
population     9.843e+06
Name: 5013, dtype: object)
(5014, countryname      Belize
countrycode         BLZ
year               1983
gdp            1.89e+08
population       155822
Name: 5014, dtype: object)
(5015, countryname      Bermuda
countrycode          BMU
year                1983
gdp            8.894e+08
population         55930
Name: 5015, dtype: object)
(5016, countryname        Bolivia
countrycode            BOL
year                  1983
gdp            5.42266e+09
population     5.95996e+06
Name: 5016, dtype: object)
(5017, countryname         Brazil
countrycode            BRA
year                  1983
gdp            2.13196e+11
population     1.29882e+08
Name: 5017, dtype: object)
(5018, countryname       Barbados
countrycode            BRB
year                  1983
gdp            1.24272e+09
population          254518
Name: 5018, dtype: object)
(5019, countryname    Brunei Darussalam
countrycode                  BRN
year                        1983
gdp                  3.84472e+09
population                212136
Name: 5019, dtype: object)
(5020, countryname         Bhutan
countrycode            BTN
year                  1983
gdp            1.65586e+08
population          441847
Name: 5020, dtype: object)
(5021, countryname       Botswana
countrycode            BWA
year                  1983
gdp            1.17226e+09
population     1.11354e+06
Name: 5021, dtype: object)
(5022, countryname    Central African Republic
countrycode                         CAF
year                               1983
gdp                         6.58679e+08
population                  2.49314e+06
Name: 5022, dtype: object)
(5023, countryname         Canada
countrycode            CAN
year                  1983
gdp            3.40548e+11
population      2.5456e+07
Name: 5023, dtype: object)
(5024, countryname    Switzerland
countrycode            CHE
year                  1983
gdp            1.11314e+11
population     6.41877e+06
Name: 5024, dtype: object)
(5025, countryname    Channel Islands
countrycode                CHI
year                      1983
gdp                 2.0356e+10
population              131156
Name: 5025, dtype: object)
(5026, countryname          Chile
countrycode            CHL
year                  1983
gdp             2.0356e+10
population     1.17975e+07
Name: 5026, dtype: object)
(5027, countryname          China
countrycode            CHN
year                  1983
gdp            2.30687e+11
population     1.02331e+09
Name: 5027, dtype: object)
(5028, countryname    Cote d'Ivoire
countrycode              CIV
year                    1983
gdp              6.83819e+09
population       9.43273e+06
Name: 5028, dtype: object)
(5029, countryname       Cameroon
countrycode            CMR
year                  1983
gdp            7.38185e+09
population       9.445e+06
Name: 5029, dtype: object)
(5030, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1983
gdp                 2.09727e+09
population          2.84049e+07
Name: 5030, dtype: object)
(5031, countryname    Congo, Rep.
countrycode            COG
year                  1983
gdp            2.09727e+09
population     2.00916e+06
Name: 5031, dtype: object)
(5032, countryname       Colombia
countrycode            COL
year                  1983
gdp            3.87298e+10
population     2.96871e+07
Name: 5032, dtype: object)
(5033, countryname       Comoros
countrycode           COM
year                 1983
gdp            1.1152e+08
population         336096
Name: 5033, dtype: object)
(5034, countryname     Cabo Verde
countrycode            CPV
year                  1983
gdp            1.38476e+08
population          303368
Name: 5034, dtype: object)
(5035, countryname     Costa Rica
countrycode            CRI
year                  1983
gdp            3.97645e+09
population     2.58993e+06
Name: 5035, dtype: object)
(5036, countryname           Cuba
countrycode            CUB
year                  1983
gdp            2.22049e+10
population     9.96673e+06
Name: 5036, dtype: object)
(5037, countryname        Curacao
countrycode            CUW
year                  1983
gdp            2.16036e+09
population          151159
Name: 5037, dtype: object)
(5038, countryname    Cayman Islands
countrycode               CYM
year                     1983
gdp               2.16036e+09
population              17906
Name: 5038, dtype: object)
(5039, countryname         Cyprus
countrycode            CYP
year                  1983
gdp            2.16036e+09
population          694077
Name: 5039, dtype: object)

Name: 5148, dtype: object)
(5149, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1983
gdp                          2.72423e+10
population                   1.82982e+07
Name: 5149, dtype: object)
(5150, countryname       Portugal
countrycode            PRT
year                  1983
gdp            2.72423e+10
population     9.95786e+06
Name: 5150, dtype: object)
(5151, countryname       Paraguay
countrycode            PRY
year                  1983
gdp            5.23743e+09
population     3.46579e+06
Name: 5151, dtype: object)
(5152, countryname    West Bank and Gaza
countrycode                   PSE
year                         1983
gdp                   1.22319e+09
population            6.66136e+06
Name: 5152, dtype: object)
(5153, countryname    French Polynesia
countrycode                 PYF
year                       1983
gdp                  1.3359e+09
population               165613
Name: 5153, dtype: object)
(5154, countryname          Qatar
countrycode            QAT
year                  1983
gdp            6.46758e+09
population          309479
Name: 5154, dtype: object)
(5155, countryname        Romania
countrycode            ROU
year                  1983
gdp             6.0864e+07
population     2.25888e+07
Name: 5155, dtype: object)
(5156, countryname    Russian Federation
countrycode                   RUS
year                         1983
gdp                   1.47969e+09
population            1.41668e+08
Name: 5156, dtype: object)
(5157, countryname         Rwanda
countrycode            RWA
year                  1983
gdp            1.47969e+09
population     5.67361e+06
Name: 5157, dtype: object)
(5158, countryname    Saudi Arabia
countrycode             SAU
year                   1983
gdp             1.29172e+11
population      1.17638e+07
Name: 5158, dtype: object)
(5159, countryname          Sudan
countrycode            SDN
year                  1983
gdp            8.23015e+09
population     1.61077e+07
Name: 5159, dtype: object)
(5160, countryname       Senegal
countrycode           SEN
year                 1983
gdp            2.7742e+09
population     6.1005e+06
Name: 5160, dtype: object)
(5161, countryname      Singapore
countrycode            SGP
year                  1983
gdp            1.77753e+10
population     2.68106e+06
Name: 5161, dtype: object)
(5162, countryname    Solomon Islands
countrycode                SLB
year                      1983
gdp                1.80219e+08
population              254596
Name: 5162, dtype: object)
(5163, countryname    Sierra Leone
countrycode             SLE
year                   1983
gdp             9.95104e+08
population      3.60875e+06
Name: 5163, dtype: object)
(5164, countryname    El Salvador
countrycode            SLV
year                  1983
gdp            3.50635e+09
population      4.7929e+06
Name: 5164, dtype: object)
(5165, countryname     San Marino
countrycode            SMR
year                  1983
gdp            2.30035e+11
population           22210
Name: 5165, dtype: object)
(5166, countryname        Somalia
countrycode            SOM
year                  1983
gdp            2.30035e+11
population     6.74022e+06
Name: 5166, dtype: object)
(5167, countryname         Serbia
countrycode            SRB
year                  1983
gdp            2.30035e+11
population     4.20349e+08
Name: 5167, dtype: object)
(5168, countryname    South Sudan
countrycode            SSD
year                  1983
gdp             5.2547e+10
population     5.17056e+06
Name: 5168, dtype: object)
(5169, countryname    Sao Tome and Principe
countrycode                      STP
year                            1983
gdp                        8.836e+08
population                    100318
Name: 5169, dtype: object)
(5170, countryname     Suriname
countrycode          SUR
year                1983
gdp            8.836e+08
population        365300
Name: 5170, dtype: object)
(5171, countryname    Slovak Republic
countrycode                SVK
year                      1983
gdp                1.03534e+11
population         5.09197e+06
Name: 5171, dtype: object)
(5172, countryname       Slovenia
countrycode            SVN
year                  1983
gdp            1.03534e+11
population     1.92232e+06
Name: 5172, dtype: object)
(5173, countryname         Sweden
countrycode            SWE
year                  1983
gdp            1.03534e+11
population     8.32903e+06
Name: 5173, dtype: object)
(5174, countryname      Swaziland
countrycode            SWZ
year                  1983
gdp            5.55336e+08
population          658320
Name: 5174, dtype: object)
(5175, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1983
gdp                          1.46713e+08
population                         64335
Name: 5175, dtype: object)
(5176, countryname     Seychelles
countrycode            SYC
year                  1983
gdp            1.46713e+08
population           64335
Name: 5176, dtype: object)
(5177, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1983
gdp                     1.75892e+10
population              9.93885e+06
Name: 5177, dtype: object)
(5178, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1983
gdp                         8.32416e+08
population                         8669
Name: 5178, dtype: object)
(5179, countryname           Chad
countrycode            TCD
year                  1983
gdp            8.32416e+08
population     4.82909e+06
Name: 5179, dtype: object)
(5180, countryname           Togo
countrycode            TGO
year                  1983
gdp            7.65747e+08
population     3.02624e+06
Name: 5180, dtype: object)
(5181, countryname       Thailand
countrycode            THA
year                  1983
gdp            4.00428e+10
population     5.01862e+07
Name: 5181, dtype: object)
(5182, countryname     Tajikistan
countrycode            TJK
year                  1983
gdp            4.00428e+10
population     4.26525e+06
Name: 5182, dtype: object)
(5183, countryname    Turkmenistan
countrycode             TKM
year                   1983
gdp             4.00428e+10
population      3.09151e+06
Name: 5183, dtype: object)
(5184, countryname    Timor-Leste
countrycode            TLS
year                  1983
gdp             6.0864e+07
population          624648
Name: 5184, dtype: object)
(5185, countryname         Tonga
countrycode           TON
year                 1983
gdp            6.0864e+07
population          93774
Name: 5185, dtype: object)
(5186, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1983
gdp                    7.76375e+09
population             1.13868e+06
Name: 5186, dtype: object)
(5187, countryname        Tunisia
countrycode            TUN
year                  1983
gdp            8.35018e+09
population     6.93039e+06
Name: 5187, dtype: object)
(5188, countryname         Turkey
countrycode            TUR
year                  1983
gdp            6.16783e+10
population     4.70734e+07
Name: 5188, dtype: object)
(5189, countryname         Tuvalu
countrycode            TUV
year                  1983
gdp            2.24033e+09
population            8413
Name: 5189, dtype: object)
(5190, countryname       Tanzania
countrycode            TZA
year                  1983
gdp            2.24033e+09
population     2.05247e+07
Name: 5190, dtype: object)
(5191, countryname         Uganda
countrycode            UGA
year                  1983
gdp            2.24033e+09
population     1.37353e+07
Name: 5191, dtype: object)
(5192, countryname        Ukraine
countrycode            UKR
year                  1983
gdp            1.61571e+12
population      5.0564e+07
Name: 5192, dtype: object)
(5193, countryname        Uruguay
countrycode            URY
year                  1983
gdp            5.10228e+09
population     2.97346e+06
Name: 5193, dtype: object)
(5194, countryname    United States
countrycode              USA
year                    1983
gdp              3.63814e+12
population       2.33792e+08
Name: 5194, dtype: object)
(5195, countryname     Uzbekistan
countrycode            UZB
year                  1983
gdp            1.22255e+08
population     1.72212e+07
Name: 5195, dtype: object)
(5196, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1983
gdp                               1.22255e+08
population                             102984
Name: 5196, dtype: object)
(5197, countryname    Venezuela, RB
countrycode              VEN
year                    1983
gdp              7.85403e+10
population       1.66173e+07
Name: 5197, dtype: object)
(5198, countryname    British Virgin Islands
countrycode                       VGB
year                             1983
gdp                         9.169e+08
population                      12188
Name: 5198, dtype: object)
(5199, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1983
gdp                        9.169e+08
population                    100348
Name: 5199, dtype: object)
(5200, countryname        Vietnam
countrycode            VNM
year                  1983
gdp            1.10124e+08
population     5.82774e+07
Name: 5200, dtype: object)
(5201, countryname        Vanuatu
countrycode            VUT
year                  1983
gdp            1.10124e+08
population          124249
Name: 5201, dtype: object)
(5202, countryname          Samoa
countrycode            WSM
year                  1983
gdp            1.11863e+08
population          158384
Name: 5202, dtype: object)
(5203, countryname         Kosovo
countrycode            XKX
year                  1983
gdp            8.87866e+10
population       1.614e+06
Name: 5203, dtype: object)
(5204, countryname    Yemen, Rep.
countrycode            YEM
year                  1983
gdp            8.87866e+10
population      9.1111e+06
Name: 5204, dtype: object)
(5205, countryname    South Africa
countrycode             ZAF
year                   1983
gdp             8.87866e+10
population      3.21397e+07
Name: 5205, dtype: object)
(5206, countryname         Zambia
countrycode            ZMB
year                  1983
gdp            3.21631e+09
population     6.52154e+06
Name: 5206, dtype: object)
(5207, countryname       Zimbabwe
countrycode            ZWE
year                  1983
gdp            7.76407e+09
population     8.02756e+06
Name: 5207, dtype: object)
(5208, countryname          Aruba
countrycode            ABW
year                  1984
gdp            3.47879e+09
population           62836
Name: 5208, dtype: object)
(5209, countryname    Afghanistan
countrycode            AFG
year                  1984
gdp            3.47879e+09
population     1.20471e+07
Name: 5209, dtype: object)
(5210, countryname         Angola
countrycode            AGO
year                  1984
gdp            6.13517e+09
population     1.02773e+07
Name: 5210, dtype: object)
(5211, countryname        Albania
countrycode            ALB
year                  1984
gdp            1.92424e+09
population     2.90443e+06
Name: 5211, dtype: object)
(5212, countryname        Andorra
countrycode            AND
year                  1984
gdp            3.30071e+08
population           42706
Name: 5212, dtype: object)
(5213, countryname    United Arab Emirates
countrycode                     ARE
year                           1984
gdp                      4.1808e+10
population              1.31848e+06
Name: 5213, dtype: object)
(5214, countryname      Argentina
countrycode            ARG
year                  1984
gdp             7.9092e+10
population     2.99209e+07
Name: 5214, dtype: object)
(5215, countryname        Armenia
countrycode            ARM
year                  1984
gdp            2.08373e+08
population      3.2856e+06
Name: 5215, dtype: object)
(5216, countryname    American Samoa
countrycode               ASM
year                     1984
gdp               2.08373e+08
population              37688
Name: 5216, dtype: object)
(5217, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1984
gdp                    2.08373e+08
population                   70725
Name: 5217, dtype: object)
(5218, countryname      Australia
countrycode            AUS
year                  1984
gdp            1.93194e+11
population      1.5544e+07
Name: 5218, dtype: object)
(5219, countryname        Austria
countrycode            AUT
year                  1984
gdp            6.79853e+10
population     7.56143e+06
Name: 5219, dtype: object)
(5220, countryname     Azerbaijan
countrycode            AZE
year                  1984
gdp             3.6241e+12
population     6.55758e+06
Name: 5220, dtype: object)
(5221, countryname        Burundi
countrycode            BDI
year                  1984
gdp            9.87144e+08
population     4.57129e+06
Name: 5221, dtype: object)
(5222, countryname        Belgium
countrycode            BEL
year                  1984
gdp            8.37957e+10
population     9.85537e+06
Name: 5222, dtype: object)
(5223, countryname          Benin
countrycode            BEN
year                  1984
gdp            1.05113e+09
population     4.15682e+06
Name: 5223, dtype: object)
(5224, countryname    Burkina Faso
countrycode             BFA
year                   1984
gdp             1.45988e+09
population      7.53124e+06
Name: 5224, dtype: object)
(5225, countryname     Bangladesh
countrycode            BGD
year                  1984
gdp            1.89208e+10
population     9.07324e+07
Name: 5225, dtype: object)
(5226, countryname       Bulgaria
countrycode            BGR
year                  1984
gdp            1.75949e+10
population     8.96068e+06
Name: 5226, dtype: object)
(5227, countryname        Bahrain
countrycode            BHR
year                  1984
gdp            3.90559e+09
population          407227
Name: 5227, dtype: object)
(5228, countryname    Bahamas, The
countrycode             BHS
year                   1984
gdp              2.0411e+09
population           230015
Name: 5228, dtype: object)
(5229, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1984
gdp                         2.109e+08
population                4.35075e+06
Name: 5229, dtype: object)
(5230, countryname      Belarus
countrycode          BLR
year                1984
gdp            2.109e+08
population      9.91e+06
Name: 5230, dtype: object)
(5231, countryname       Belize
countrycode          BLZ
year                1984
gdp            2.109e+08
population        160347
Name: 5231, dtype: object)
(5232, countryname      Bermuda
countrycode          BMU
year                1984
gdp            9.857e+08
population         56423
Name: 5232, dtype: object)
(5233, countryname        Bolivia
countrycode            BOL
year                  1984
gdp            6.16948e+09
population      6.0855e+06
Name: 5233, dtype: object)
(5234, countryname         Brazil
countrycode            BRA
year                  1984
gdp            2.00567e+11
population     1.32801e+08
Name: 5234, dtype: object)
(5235, countryname       Barbados
countrycode            BRB
year                  1984
gdp            1.35441e+09
population          255193
Name: 5235, dtype: object)
(5236, countryname    Brunei Darussalam
countrycode                  BRN
year                        1984
gdp                  3.78252e+09
population                218227
Name: 5236, dtype: object)
(5237, countryname         Bhutan
countrycode            BTN
year                  1984
gdp            1.69265e+08
population          453720
Name: 5237, dtype: object)
(5238, countryname       Botswana
countrycode            BWA
year                  1984
gdp             1.2408e+09
population     1.15129e+06
Name: 5238, dtype: object)
(5239, countryname    Central African Republic
countrycode                         CAF
year                               1984
gdp                         6.37821e+08
population                   2.5658e+06
Name: 5239, dtype: object)
(5240, countryname         Canada
countrycode            CAN
year                  1984
gdp            3.55373e+11
population      2.5702e+07
Name: 5240, dtype: object)
(5241, countryname    Switzerland
countrycode            CHE
year                  1984
gdp            1.06285e+11
population     6.44186e+06
Name: 5241, dtype: object)
(5242, countryname    Channel Islands
countrycode                CHI
year                      1984
gdp                1.96225e+10
population              132453
Name: 5242, dtype: object)
(5243, countryname          Chile
countrycode            CHL
year                  1984
gdp            1.96225e+10
population     1.19857e+07
Name: 5243, dtype: object)
(5244, countryname          China
countrycode            CHN
year                  1984
gdp            2.59947e+11
population     1.03682e+09
Name: 5244, dtype: object)
(5245, countryname    Cote d'Ivoire
countrycode              CIV
year                    1984
gdp              6.84164e+09
population       9.82606e+06
Name: 5245, dtype: object)
(5246, countryname       Cameroon
countrycode            CMR
year                  1984
gdp            7.80186e+09
population     9.74226e+06
Name: 5246, dtype: object)
(5247, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1984
gdp                 9.46103e+09
population          2.91215e+07
Name: 5247, dtype: object)
(5248, countryname    Congo, Rep.
countrycode            COG
year                  1984
gdp            2.19358e+09
population     2.06813e+06
Name: 5248, dtype: object)
(5249, countryname       Colombia
countrycode            COL
year                  1984
gdp            3.82531e+10
population     3.03501e+07
Name: 5249, dtype: object)
(5250, countryname       Comoros
countrycode           COM
year                 1984
gdp            1.0749e+08
population         345466
Name: 5250, dtype: object)
(5251, countryname     Cabo Verde
countrycode            CPV
year                  1984
gdp            1.32019e+08
population          309397
Name: 5251, dtype: object)
(5252, countryname     Costa Rica
countrycode            CRI
year                  1984
gdp            4.59391e+09
population     2.65978e+06
Name: 5252, dtype: object)
(5253, countryname           Cuba
countrycode            CUB
year                  1984
gdp            2.40394e+10
population     1.00171e+07
Name: 5253, dtype: object)
(5254, countryname        Curacao
countrycode            CUW
year                  1984
gdp            2.27825e+09
population          151940
Name: 5254, dtype: object)
(5255, countryname    Cayman Islands
countrycode               CYM
year                     1984
gdp               2.27825e+09
population              18543
Name: 5255, dtype: object)
(5256, countryname         Cyprus
countrycode            CYP
year                  1984
gdp            2.27825e+09
population          697717
Name: 5256, dtype: object)
(5257, countryname    Czech Republic
countrycode               CZE
year                     1984
gdp               7.22368e+11
population        1.03302e+07
Name: 5257, dtype: object)
(5258, countryname        Germany
countrycode            DEU
year                  1984
gdp            7.22368e+11
population     7.78587e+07
Name: 5258, dtype: object)
(5259, countryname       Djibouti
countrycode            DJI
year                  1984
gdp            8.98481e+07
population          406017
Name: 5259, dtype: object)
(5260, countryname       Dominica
countrycode            DMA
year                  1984
gdp            8.98481e+07
population           74213
Name: 5260, dtype: object)
(5261, countryname        Denmark

Name: 5363, dtype: object)
(5364, countryname         Poland
countrycode            POL
year                  1984
gdp             7.6487e+10
population     3.69041e+07
Name: 5364, dtype: object)
(5365, countryname    Puerto Rico
countrycode            PRI
year                  1984
gdp            1.91626e+10
population     3.34419e+06
Name: 5365, dtype: object)
(5366, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1984
gdp                          2.52205e+10
population                   1.85901e+07
Name: 5366, dtype: object)
(5367, countryname       Portugal
countrycode            PRT
year                  1984
gdp            2.52205e+10
population     9.99623e+06
Name: 5367, dtype: object)
(5368, countryname       Paraguay
countrycode            PRY
year                  1984
gdp            4.06722e+09
population     3.56775e+06
Name: 5368, dtype: object)
(5369, countryname    West Bank and Gaza
countrycode                   PSE
year                         1984
gdp                   2.03518e+09
population            1.55576e+06
Name: 5369, dtype: object)
(5370, countryname    French Polynesia
countrycode                 PYF
year                       1984
gdp                 1.37899e+09
population               170396
Name: 5370, dtype: object)
(5371, countryname         Qatar
countrycode           QAT
year                 1984
gdp            6.7044e+09
population         341455
Name: 5371, dtype: object)
(5372, countryname        Romania
countrycode            ROU
year                  1984
gdp            6.71378e+11
population     2.26559e+07
Name: 5372, dtype: object)
(5373, countryname    Russian Federation
countrycode                   RUS
year                         1984
gdp                   1.58741e+09
population            1.42745e+08
Name: 5373, dtype: object)
(5374, countryname         Rwanda
countrycode            RWA
year                  1984
gdp            1.58741e+09
population     5.88191e+06
Name: 5374, dtype: object)
(5375, countryname    Saudi Arabia
countrycode             SAU
year                   1984
gdp             1.19625e+11
population       1.2485e+07
Name: 5375, dtype: object)
(5376, countryname          Sudan
countrycode            SDN
year                  1984
gdp            9.70136e+09
population     1.66581e+07
Name: 5376, dtype: object)
(5377, countryname        Senegal
countrycode            SEN
year                  1984
gdp            2.70554e+09
population     6.28933e+06
Name: 5377, dtype: object)
(5378, countryname      Singapore
countrycode            SGP
year                  1984
gdp            1.97359e+10
population     2.73222e+06
Name: 5378, dtype: object)
(5379, countryname    Solomon Islands
countrycode                SLB
year                      1984
gdp                2.52807e+08
population              262709
Name: 5379, dtype: object)
(5380, countryname    Sierra Leone
countrycode             SLE
year                   1984
gdp             1.08747e+09
population      3.69947e+06
Name: 5380, dtype: object)
(5381, countryname    El Salvador
countrycode            SLV
year                  1984
gdp            3.66168e+09
population     4.85853e+06
Name: 5381, dtype: object)
(5382, countryname     San Marino
countrycode            SMR
year                  1984
gdp            2.22404e+11
population           22455
Name: 5382, dtype: object)
(5383, countryname        Somalia
countrycode            SOM
year                  1984
gdp            2.22404e+11
population     6.74793e+06
Name: 5383, dtype: object)
(5384, countryname         Serbia
countrycode            SRB
year                  1984
gdp            2.22404e+11
population     4.32509e+08
Name: 5384, dtype: object)
(5385, countryname    South Sudan
countrycode            SSD
year                  1984
gdp            5.21018e+10
population     5.31961e+06
Name: 5385, dtype: object)
(5386, countryname    Sao Tome and Principe
countrycode                      STP
year                            1984
gdp                       8.6415e+08
population                    101915
Name: 5386, dtype: object)
(5387, countryname      Suriname
countrycode           SUR
year                 1984
gdp            8.6415e+08
population         367660
Name: 5387, dtype: object)
(5388, countryname    Slovak Republic
countrycode                SVK
year                      1984
gdp                1.07662e+11
population          5.1271e+06
Name: 5388, dtype: object)
(5389, countryname       Slovenia
countrycode            SVN
year                  1984
gdp            1.07662e+11
population     1.93215e+06
Name: 5389, dtype: object)
(5390, countryname         Sweden
countrycode            SWE
year                  1984
gdp            1.07662e+11
population     8.33660e+06
Name: 5390, dtype: object)
(5391, countryname      Swaziland
countrycode            SWZ
year                  1984
gdp            4.94476e+08
population          679976
Name: 5391, dtype: object)
(5392, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1984
gdp                          1.51313e+08
population                         64717
Name: 5392, dtype: object)
(5393, countryname     Seychelles
countrycode            SYC
year                  1984
gdp            1.51313e+08
population           64717
Name: 5393, dtype: object)
(5394, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1984
gdp                     1.75031e+10
population               1.0293e+07
Name: 5394, dtype: object)
(5395, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1984
gdp                         9.19104e+08
population                         9095
Name: 5395, dtype: object)
(5396, countryname           Chad
countrycode            TCD
year                  1984
gdp            9.19104e+08
population     4.95405e+06
Name: 5396, dtype: object)
(5397, countryname           Togo
countrycode            TGO
year                  1984
gdp            7.18149e+08
population     3.14024e+06
Name: 5397, dtype: object)
(5398, countryname       Thailand
countrycode            THA
year                  1984
gdp            4.17976e+10
population     5.11081e+07
Name: 5398, dtype: object)
(5399, countryname     Tajikistan
countrycode            TJK
year                  1984
gdp            4.17976e+10
population     4.39752e+06
Name: 5399, dtype: object)
(5400, countryname    Turkmenistan
countrycode             TKM
year                   1984
gdp             4.17976e+10
population      3.16622e+06
Name: 5400, dtype: object)
(5401, countryname    Timor-Leste
countrycode            TLS
year                  1984
gdp            6.42484e+07
population          646688
Name: 5401, dtype: object)
(5402, countryname          Tonga
countrycode            TON
year                  1984
gdp            6.42484e+07
population           93842
Name: 5402, dtype: object)
(5403, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1984
gdp                    7.75708e+09
population              1.1557e+06
Name: 5403, dtype: object)
(5404, countryname        Tunisia
countrycode            TUN
year                  1984
gdp            8.25489e+09
population     7.12794e+06
Name: 5404, dtype: object)
(5405, countryname         Turkey
countrycode            TUR
year                  1984
gdp            5.99899e+10
population     4.81141e+07
Name: 5405, dtype: object)
(5406, countryname         Tuvalu
countrycode            TUV
year                  1984
gdp            3.61565e+09
population            8530
Name: 5406, dtype: object)
(5407, countryname       Tanzania
countrycode            TZA
year                  1984
gdp            3.61565e+09
population     2.11736e+07
Name: 5407, dtype: object)
(5408, countryname         Uganda
countrycode            UGA
year                  1984
gdp            3.61565e+09
population     1.41745e+07
Name: 5408, dtype: object)
(5409, countryname        Ukraine
countrycode            UKR
year                  1984
gdp            1.66987e+12
population      5.0754e+07
Name: 5409, dtype: object)
(5410, countryname        Uruguay
countrycode            URY
year                  1984
gdp            4.85024e+09
population     2.99264e+06
Name: 5410, dtype: object)
(5411, countryname    United States
countrycode              USA
year                    1984
gdp              4.04069e+12
population       2.35825e+08
Name: 5411, dtype: object)
(5412, countryname     Uzbekistan
countrycode            UZB
year                  1984
gdp            1.35025e+08
population       1.766e+07
Name: 5412, dtype: object)
(5413, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1984
gdp                               1.35025e+08
population                             103742
Name: 5413, dtype: object)
(5414, countryname    Venezuela, RB
countrycode              VEN
year                    1984
gdp              5.60919e+10
population       1.70578e+07
Name: 5414, dtype: object)
(5415, countryname    British Virgin Islands
countrycode                       VGB
year                             1984
gdp                         9.854e+08
population                      12731
Name: 5415, dtype: object)
(5416, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1984
gdp                        9.854e+08
population                    100600
Name: 5416, dtype: object)
(5417, countryname        Vietnam
countrycode            VNM
year                  1984
gdp            1.35554e+08
population     5.96531e+07
Name: 5417, dtype: object)
(5418, countryname        Vanuatu
countrycode            VUT
year                  1984
gdp            1.35554e+08
population          127092
Name: 5418, dtype: object)
(5419, countryname          Samoa
countrycode            WSM
year                  1984
gdp            1.09201e+08
population          159283
Name: 5419, dtype: object)
(5420, countryname         Kosovo
countrycode            XKX
year                  1984
gdp            8.78805e+10
population       1.647e+06
Name: 5420, dtype: object)
(5421, countryname    Yemen, Rep.
countrycode            YEM
year                  1984
gdp            8.78805e+10
population     9.47217e+06
Name: 5421, dtype: object)
(5422, countryname    South Africa
countrycode             ZAF
year                   1984
gdp             8.78805e+10
population      3.29436e+07
Name: 5422, dtype: object)
(5423, countryname         Zambia
countrycode            ZMB
year                  1984
gdp            2.73944e+09
population     6.73876e+06
Name: 5423, dtype: object)
(5424, countryname       Zimbabwe
countrycode            ZWE
year                  1984
gdp            6.35213e+09
population      8.3422e+06
Name: 5424, dtype: object)
(5425, countryname          Aruba
countrycode            ABW
year                  1985
gdp            3.47879e+09
population           63026
Name: 5425, dtype: object)
(5426, countryname    Afghanistan
countrycode            AFG
year                  1985
gdp            3.47879e+09
population     1.17830e+07
Name: 5426, dtype: object)
(5427, countryname         Angola
countrycode            AGO
year                  1985
gdp            7.55861e+09
population      1.0609e+07
Name: 5427, dtype: object)
(5428, countryname        Albania
countrycode            ALB
year                  1985
gdp            1.96538e+09
population     2.96476e+06
Name: 5428, dtype: object)
(5429, countryname        Andorra
countrycode            AND
year                  1985
gdp            3.46738e+08
population           44600
Name: 5429, dtype: object)
(5430, countryname    United Arab Emirates
countrycode                     ARE
year                           1985
gdp                     4.06037e+10
population              1.39105e+06
Name: 5430, dtype: object)
(5431, countryname      Argentina
countrycode            ARG
year                  1985
gdp            8.84167e+10
population     3.03888e+07
Name: 5431, dtype: object)
(5432, countryname        Armenia
countrycode            ARM
year                  1985
gdp            2.40924e+08
population     3.33594e+06
Name: 5432, dtype: object)
(5433, countryname    American Samoa
countrycode               ASM
year                     1985
gdp               2.40924e+08
population              39241
Name: 5433, dtype: object)
(5434, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1985
gdp                    2.40924e+08
population                   69782
Name: 5434, dtype: object)
(5435, countryname      Australia
countrycode            AUS
year                  1985
gdp            1.80191e+11
population      1.5758e+07
Name: 5435, dtype: object)
(5436, countryname        Austria
countrycode            AUT
year                  1985
gdp            6.93868e+10
population     7.56498e+06
Name: 5436, dtype: object)
(5437, countryname     Azerbaijan
countrycode            AZE
year                  1985
gdp            3.75062e+12
population     6.66646e+06
Name: 5437, dtype: object)
(5438, countryname        Burundi
countrycode            BDI
year                  1985
gdp            1.14998e+09
population     4.70207e+06
Name: 5438, dtype: object)
(5439, countryname        Belgium
countrycode            BEL
year                  1985
gdp              8.673e+10
population     9.85831e+06
Name: 5439, dtype: object)
(5440, countryname          Benin
countrycode            BEN
year                  1985
gdp            1.04571e+09
population      4.2785e+06
Name: 5440, dtype: object)
(5441, countryname    Burkina Faso
countrycode             BFA
year                   1985
gdp             1.55249e+09
population      7.72791e+06
Name: 5441, dtype: object)
(5442, countryname     Bangladesh
countrycode            BGD
year                  1985
gdp            2.22784e+10
population     9.31999e+07
Name: 5442, dtype: object)
(5443, countryname       Bulgaria
countrycode            BGR
year                  1985
gdp            1.71554e+10
population     8.96055e+06
Name: 5443, dtype: object)
(5444, countryname        Bahrain
countrycode            BHR
year                  1985
gdp            3.65186e+09
population          419430
Name: 5444, dtype: object)
(5445, countryname    Bahamas, The
countrycode             BHS
year                   1985
gdp              2.3207e+09
population           234687
Name: 5445, dtype: object)
(5446, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1985
gdp                        2.0915e+08
population                4.39213e+06
Name: 5446, dtype: object)
(5447, countryname       Belarus
countrycode           BLR
year                 1985
gdp            2.0915e+08
population      9.975e+06
Name: 5447, dtype: object)
(5448, countryname        Belize
countrycode           BLZ
year                 1985
gdp            2.0915e+08
population         164921
Name: 5448, dtype: object)
(5449, countryname       Bermuda
countrycode           BMU
year                 1985
gdp            1.0395e+09
population          56898
Name: 5449, dtype: object)
(5450, countryname        Bolivia
countrycode            BOL
year                  1985
gdp            5.37728e+09
population     6.21155e+06
Name: 5450, dtype: object)
(5451, countryname         Brazil
countrycode            BRA
year                  1985
gdp            2.18581e+11
population     1.35676e+08
Name: 5451, dtype: object)
(5452, countryname       Barbados
countrycode            BRB
year                  1985
gdp            1.41758e+09
population          255924
Name: 5452, dtype: object)
(5453, countryname    Brunei Darussalam
countrycode                  BRN
year                        1985
gdp                  3.52361e+09
population                224512
Name: 5453, dtype: object)
(5454, countryname         Bhutan
countrycode            BTN
year                  1985
gdp            1.72218e+08
population          467178
Name: 5454, dtype: object)
(5455, countryname       Botswana
countrycode            BWA
year                  1985
gdp            1.11476e+09
population     1.18911e+06
Name: 5455, dtype: object)
(5456, countryname    Central African Republic
countrycode                         CAF
year                               1985
gdp                          8.6485e+08
population                  2.63423e+06
Name: 5456, dtype: object)
(5457, countryname         Canada
countrycode            CAN
year                  1985
gdp            3.64756e+11
population      2.5942e+07
Name: 5457, dtype: object)
(5458, countryname    Switzerland
countrycode            CHE
year                  1985
gdp            1.07766e+11
population     6.47036e+06
Name: 5458, dtype: object)
(5459, countryname    Channel Islands
countrycode                CHI
year                      1985
gdp                1.77029e+10
population              133808
Name: 5459, dtype: object)
(5460, countryname          Chile
countrycode            CHL
year                  1985
gdp            1.77029e+10
population      1.2181e+07
Name: 5460, dtype: object)
(5461, countryname          China
countrycode            CHN
year                  1985
gdp            3.09488e+11
population     1.05104e+09
Name: 5461, dtype: object)
(5462, countryname    Cote d'Ivoire
countrycode              CIV
year                    1985
gdp              6.97765e+09
population       1.02226e+07
Name: 5462, dtype: object)
(5463, countryname       Cameroon
countrycode            CMR
year                  1985
gdp            8.14822e+09
population       1.005e+07
Name: 5463, dtype: object)
(5464, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1985
gdp                 5.97935e+09
population          2.98834e+07
Name: 5464, dtype: object)
(5465, countryname    Congo, Rep.
countrycode            COG
year                  1985
gdp            2.16087e+09
population     2.12777e+06
Name: 5465, dtype: object)
(5466, countryname       Colombia
countrycode            COL
year                  1985
gdp            3.48944e+10
population     3.10117e+07
Name: 5466, dtype: object)
(5467, countryname        Comoros
countrycode            COM
year                  1985
gdp            1.14491e+08
population          355337
Name: 5467, dtype: object)
(5468, countryname     Cabo Verde
countrycode            CPV
year                  1985
gdp            1.37728e+08
population          315069
Name: 5468, dtype: object)
(5469, countryname     Costa Rica
countrycode            CRI
year                  1985
gdp            4.79663e+09
population     2.73023e+06
Name: 5469, dtype: object)
(5470, countryname           Cuba
countrycode            CUB
year                  1985
gdp            2.29205e+10
population      1.0083e+07
Name: 5470, dtype: object)
(5471, countryname        Curacao
countrycode            CUW
year                  1985
gdp            2.43041e+09
population          152711
Name: 5471, dtype: object)
(5472, countryname    Cayman Islands
countrycode               CYM
year                     1985
gdp               2.43041e+09
population              19313
Name: 5472, dtype: object)
(5473, countryname         Cyprus
countrycode            CYP
year                  1985
gdp            2.43041e+09
population          703687
Name: 5473, dtype: object)
(5474, countryname    Czech Republic
countrycode               CZE
year                     1985
gdp               7.29763e+11
population        1.03371e+07
Name: 5474, dtype: object)
(5475, countryname        Germany
countrycode            DEU
year                  1985
gdp            7.29763e+11
population     7.76849e+07
Name: 5475, dtype: object)

Name: 5585, dtype: object)
(5586, countryname    West Bank and Gaza
countrycode                   PSE
year                         1985
gdp                    1.9267e+09
population            1.58501e+06
Name: 5586, dtype: object)
(5587, countryname    French Polynesia
countrycode                 PYF
year                       1985
gdp                 1.50723e+09
population               175204
Name: 5587, dtype: object)
(5588, countryname         Qatar
countrycode           QAT
year                 1985
gdp            6.1533e+09
population         371081
Name: 5588, dtype: object)
(5589, countryname        Romania
countrycode            ROU
year                  1985
gdp            2.06529e+11
population     2.27554e+07
Name: 5589, dtype: object)
(5590, countryname    Russian Federation
countrycode                   RUS
year                         1985
gdp                   6.00587e+07
population            1.43858e+08
Name: 5590, dtype: object)
(5591, countryname         Rwanda
countrycode            RWA
year                  1985
gdp            1.71563e+09
population     6.12011e+06
Name: 5591, dtype: object)
(5592, countryname    Saudi Arabia
countrycode             SAU
year                   1985
gdp             1.03898e+11
population      1.31891e+07
Name: 5592, dtype: object)
(5593, countryname          Sudan
countrycode            SDN
year                  1985
gdp            1.24037e+10
population     1.72102e+07
Name: 5593, dtype: object)
(5594, countryname        Senegal
countrycode            SEN
year                  1985
gdp             2.9622e+09
population     6.48474e+06
Name: 5594, dtype: object)
(5595, countryname      Singapore
countrycode            SGP
year                  1985
gdp            1.91383e+10
population     2.73596e+06
Name: 5595, dtype: object)
(5596, countryname    Solomon Islands
countrycode                SLB
year                      1985
gdp                2.32307e+08
population              270801
Name: 5596, dtype: object)
(5597, countryname    Sierra Leone
countrycode             SLE
year                   1985
gdp              8.5689e+08
population      3.79955e+06
Name: 5597, dtype: object)
(5598, countryname    El Salvador
countrycode            SLV
year                  1985
gdp            3.80037e+09
population     4.92386e+06
Name: 5598, dtype: object)
(5599, countryname     San Marino
countrycode            SMR
year                  1985
gdp            2.06361e+11
population           22708
Name: 5599, dtype: object)
(5600, countryname        Somalia
countrycode            SOM
year                  1985
gdp            2.06361e+11
population     6.79172e+06
Name: 5600, dtype: object)
(5601, countryname         Serbia
countrycode            SRB
year                  1985
gdp            2.06361e+11
population     4.44983e+08
Name: 5601, dtype: object)
(5602, countryname    South Sudan
countrycode            SSD
year                  1985
gdp            2.06529e+11
population     5.45042e+06
Name: 5602, dtype: object)
(5603, countryname    Sao Tome and Principe
countrycode                      STP
year                            1985
gdp                       8.7325e+08
population                    103634
Name: 5603, dtype: object)
(5604, countryname      Suriname
countrycode           SUR
year                 1985
gdp            8.7325e+08
population         371470
Name: 5604, dtype: object)
(5605, countryname    Slovak Republic
countrycode                SVK
year                      1985
gdp                1.12514e+11
population         5.16177e+06
Name: 5605, dtype: object)
(5606, countryname       Slovenia
countrycode            SVN
year                  1985
gdp            1.12514e+11
population     1.94164e+06
Name: 5606, dtype: object)
(5607, countryname         Sweden
countrycode            SWE
year                  1985
gdp            1.12514e+11
population     8.35039e+06
Name: 5607, dtype: object)
(5608, countryname      Swaziland
countrycode            SWZ
year                  1985
gdp            3.61015e+08
population          705085
Name: 5608, dtype: object)
(5609, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1985
gdp                          1.68888e+08
population                         65244
Name: 5609, dtype: object)
(5610, countryname     Seychelles
countrycode            SYC
year                  1985
gdp            1.68888e+08
population           65244
Name: 5610, dtype: object)
(5611, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1985
gdp                     1.64035e+10
population              1.06486e+07
Name: 5611, dtype: object)
(5612, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1985
gdp                         1.03307e+09
population                         9506
Name: 5612, dtype: object)
(5613, countryname           Chad
countrycode            TCD
year                  1985
gdp            1.03307e+09
population     5.09154e+06
Name: 5613, dtype: object)
(5614, countryname           Togo
countrycode            TGO
year                  1985
gdp             7.6236e+08
population     3.25299e+06
Name: 5614, dtype: object)
(5615, countryname       Thailand
countrycode            THA
year                  1985
gdp            3.89007e+10
population     5.20415e+07
Name: 5615, dtype: object)
(5616, countryname     Tajikistan
countrycode            TJK
year                  1985
gdp            3.89007e+10
population     4.53779e+06
Name: 5616, dtype: object)
(5617, countryname    Turkmenistan
countrycode             TKM
year                   1985
gdp             3.89007e+10
population      3.24402e+06
Name: 5617, dtype: object)
(5618, countryname    Timor-Leste
countrycode            TLS
year                  1985
gdp            6.00587e+07
population          666945
Name: 5618, dtype: object)
(5619, countryname          Tonga
countrycode            TON
year                  1985
gdp            6.00587e+07
population           93953
Name: 5619, dtype: object)
(5620, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1985
gdp                    7.37592e+09
population             1.17093e+06
Name: 5620, dtype: object)
(5621, countryname        Tunisia
countrycode            TUN
year                  1985
gdp            8.41019e+09
population     7.32188e+06
Name: 5621, dtype: object)
(5622, countryname         Turkey
countrycode            TUR
year                  1985
gdp            6.72349e+10
population     4.91339e+07
Name: 5622, dtype: object)
(5623, countryname         Tuvalu
countrycode            TUV
year                  1985
gdp            3.51967e+09
population            8650
Name: 5623, dtype: object)
(5624, countryname       Tanzania
countrycode            TZA
year                  1985
gdp            3.51967e+09
population      2.1837e+07
Name: 5624, dtype: object)
(5625, countryname         Uganda
countrycode            UGA
year                  1985
gdp            3.51967e+09
population     1.46466e+07
Name: 5625, dtype: object)
(5626, countryname        Ukraine
countrycode            UKR
year                  1985
gdp            1.75986e+12
population      5.0917e+07
Name: 5626, dtype: object)
(5627, countryname        Uruguay
countrycode            URY
year                  1985
gdp            4.73202e+09
population     3.01191e+06
Name: 5627, dtype: object)
(5628, countryname    United States
countrycode              USA
year                    1985
gdp              4.34673e+12
population       2.37924e+08
Name: 5628, dtype: object)
(5629, countryname     Uzbekistan
countrycode            UZB
year                  1985
gdp            1.45642e+08
population     1.81083e+07
Name: 5629, dtype: object)
(5630, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1985
gdp                               1.45642e+08
population                             104477
Name: 5630, dtype: object)
(5631, countryname    Venezuela, RB
countrycode              VEN
year                    1985
gdp              5.79357e+10
population       1.75081e+07
Name: 5631, dtype: object)
(5632, countryname    British Virgin Islands
countrycode                       VGB
year                             1985
gdp                         9.904e+08
population                      13304
Name: 5632, dtype: object)
(5633, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1985
gdp                        9.904e+08
population                    100760
Name: 5633, dtype: object)
(5634, countryname        Vietnam
countrycode            VNM
year                  1985
gdp            1.40947e+10
population     6.10494e+07
Name: 5634, dtype: object)
(5635, countryname        Vanuatu
countrycode            VUT
year                  1985
gdp            1.23699e+08
population          130027
Name: 5635, dtype: object)
(5636, countryname          Samoa
countrycode            WSM
year                  1985
gdp            9.55722e+07
population          160031
Name: 5636, dtype: object)
(5637, countryname         Kosovo
countrycode            XKX
year                  1985
gdp            6.92085e+10
population       1.682e+06
Name: 5637, dtype: object)
(5638, countryname    Yemen, Rep.
countrycode            YEM
year                  1985
gdp            6.92085e+10
population      9.8479e+06
Name: 5638, dtype: object)
(5639, countryname    South Africa
countrycode             ZAF
year                   1985
gdp             6.92085e+10
population      3.37301e+07
Name: 5639, dtype: object)
(5640, countryname         Zambia
countrycode            ZMB
year                  1985
gdp            2.28126e+09
population     6.95521e+06
Name: 5640, dtype: object)
(5641, countryname       Zimbabwe
countrycode            ZWE
year                  1985
gdp            5.63726e+09
population     8.65886e+06
Name: 5641, dtype: object)
(5642, countryname          Aruba
countrycode            ABW
year                  1986
gdp            3.47879e+09
population           62644
Name: 5642, dtype: object)
(5643, countryname    Afghanistan
countrycode            AFG
year                  1986
gdp            3.47879e+09
population      1.1601e+07
Name: 5643, dtype: object)
(5644, countryname         Angola
countrycode            AGO
year                  1986
gdp            7.07679e+09
population      1.0921e+07
Name: 5644, dtype: object)
(5645, countryname        Albania
countrycode            ALB
year                  1986
gdp            2.17375e+09
population     3.02264e+06
Name: 5645, dtype: object)
(5646, countryname        Andorra
countrycode            AND
year                  1986
gdp            4.82001e+08
population           46517
Name: 5646, dtype: object)
(5647, countryname    United Arab Emirates
countrycode                     ARE
year                           1986
gdp                     3.39436e+10
population              1.47222e+06
Name: 5647, dtype: object)
(5648, countryname      Argentina
countrycode            ARG
year                  1986
gdp            1.10934e+11
population     3.08572e+07
Name: 5648, dtype: object)
(5649, countryname        Armenia
countrycode            ARM
year                  1986
gdp             2.9044e+08
population     3.39226e+06
Name: 5649, dtype: object)
(5650, countryname    American Samoa
countrycode               ASM
year                     1986
gdp                2.9044e+08
population              40837
Name: 5650, dtype: object)
(5651, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1986
gdp                     2.9044e+08
population                   68809
Name: 5651, dtype: object)
(5652, countryname      Australia
countrycode            AUS
year                  1986
gdp            1.81977e+11
population     1.60184e+07
Name: 5652, dtype: object)
(5653, countryname        Austria
countrycode            AUT
year                  1986
gdp            9.90362e+10
population     7.56979e+06
Name: 5653, dtype: object)
(5654, countryname     Azerbaijan
countrycode            AZE
year                  1986
gdp            1.20173e+09
population     6.77863e+06
Name: 5654, dtype: object)
(5655, countryname        Burundi
countrycode            BDI
year                  1986
gdp            1.20173e+09
population     4.84156e+06
Name: 5655, dtype: object)
(5656, countryname        Belgium
countrycode            BEL
year                  1986
gdp            1.20661e+11
population     9.86182e+06
Name: 5656, dtype: object)
(5657, countryname          Benin
countrycode            BEN
year                  1986
gdp             1.3361e+09
population     4.40451e+06
Name: 5657, dtype: object)
(5658, countryname    Burkina Faso
countrycode             BFA
year                   1986
gdp              2.0363e+09
population      7.93069e+06
Name: 5658, dtype: object)
(5659, countryname     Bangladesh
countrycode            BGD
year                  1986
gdp             2.1774e+10
population     9.57424e+07
Name: 5659, dtype: object)
(5660, countryname       Bulgaria
countrycode            BGR
year                  1986
gdp            2.02493e+10
population     8.95817e+06
Name: 5660, dtype: object)
(5661, countryname        Bahrain
countrycode            BHR
year                  1986
gdp            3.05239e+09
population          433482
Name: 5661, dtype: object)
(5662, countryname    Bahamas, The
countrycode             BHS
year                   1986
gdp              2.4725e+09
population           239131
Name: 5662, dtype: object)
(5663, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1986
gdp                        2.2785e+08
population                 4.4355e+06
Name: 5663, dtype: object)
(5664, countryname       Belarus
countrycode           BLR
year                 1986
gdp            2.2785e+08
population     1.0043e+07
Name: 5664, dtype: object)
(5665, countryname        Belize
countrycode           BLZ
year                 1986
gdp            2.2785e+08
population         169568
Name: 5665, dtype: object)
(5666, countryname       Bermuda
countrycode           BMU
year                 1986
gdp            1.1735e+09
population          57382
Name: 5666, dtype: object)
(5667, countryname        Bolivia
countrycode            BOL
year                  1986
gdp            3.95938e+09
population     6.33789e+06
Name: 5667, dtype: object)
(5668, countryname         Brazil
countrycode            BRA
year                  1986
gdp            2.66314e+11
population     1.38499e+08
Name: 5668, dtype: object)
(5669, countryname       Barbados
countrycode            BRB
year                  1986
gdp            1.55632e+09
population          256736
Name: 5669, dtype: object)
(5670, countryname    Brunei Darussalam
countrycode                  BRN
year                        1986
gdp                  2.35859e+09
population                230972
Name: 5670, dtype: object)
(5671, countryname         Bhutan
countrycode            BTN
year                  1986
gdp            2.01376e+08
population          482952
Name: 5671, dtype: object)
(5672, countryname       Botswana
countrycode            BWA
year                  1986
gdp            1.39263e+09
population     1.22681e+06
Name: 5672, dtype: object)
(5673, countryname    Central African Republic
countrycode                         CAF
year                               1986
gdp                         1.12227e+09
population                  2.69698e+06
Name: 5673, dtype: object)
(5674, countryname         Canada
countrycode            CAN
year                  1986
gdp            3.77438e+11
population      2.6204e+07
Name: 5674, dtype: object)
(5675, countryname    Switzerland
countrycode            CHE
year                  1986
gdp            1.54482e+11
population     6.50412e+06
Name: 5675, dtype: object)
(5676, countryname    Channel Islands
countrycode                CHI
year                      1986
gdp                 1.8891e+10
population              135230
Name: 5676, dtype: object)
(5677, countryname          Chile
countrycode            CHL
year                  1986
gdp             1.8891e+10
population     1.23841e+07
Name: 5677, dtype: object)
(5678, countryname          China
countrycode            CHN
year                  1986
gdp            3.00758e+11
population     1.06679e+09
Name: 5678, dtype: object)
(5679, countryname    Cote d'Ivoire
countrycode              CIV
year                    1986
gdp               9.1583e+09
population       1.06203e+07
Name: 5679, dtype: object)
(5680, countryname       Cameroon
countrycode            CMR
year                  1986
gdp            1.06212e+10
population     1.03683e+07
Name: 5680, dtype: object)
(5681, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1986
gdp                 8.04298e+09
population          3.06858e+07
Name: 5681, dtype: object)
(5682, countryname    Congo, Rep.
countrycode            COG
year                  1986
gdp            1.84927e+09
population     2.18805e+06
Name: 5682, dtype: object)
(5683, countryname       Colombia
countrycode            COL
year                  1986
gdp            3.49425e+10
population     3.16698e+07
Name: 5683, dtype: object)
(5684, countryname        Comoros
countrycode            COM
year                  1986
gdp            1.62488e+08
population          365760
Name: 5684, dtype: object)
(5685, countryname     Cabo Verde
countrycode            CPV
year                  1986
gdp            1.90651e+08
population          320183
Name: 5685, dtype: object)
(5686, countryname     Costa Rica
countrycode            CRI
year                  1986
gdp             5.4779e+09
population     2.80099e+06
Name: 5686, dtype: object)
(5687, countryname           Cuba
countrycode            CUB
year                  1986
gdp            2.42266e+10
population     1.01681e+07
Name: 5687, dtype: object)
(5688, countryname        Curacao
countrycode            CUW
year                  1986
gdp            3.09073e+09
population          152662
Name: 5688, dtype: object)
(5689, countryname    Cayman Islands
countrycode               CYM
year                     1986
gdp               3.09073e+09
population              20251
Name: 5689, dtype: object)
(5690, countryname         Cyprus
countrycode            CYP
year                  1986
gdp            3.09073e+09
population          712341
Name: 5690, dtype: object)
(5691, countryname    Czech Republic
countrycode               CZE
year                     1986
gdp                1.0423e+12
population        1.03422e+07
Name: 5691, dtype: object)
(5692, countryname        Germany
countrycode            DEU
year                  1986
gdp             1.0423e+12
population     7.77204e+07
Name: 5692, dtype: object)
(5693, countryname      Djibouti
countrycode           DJI
year                 1986
gdp            3.4099e+08
population         454361
Name: 5693, dtype: object)
(5694, countryname       Dominica
countrycode            DMA
year                  1986
gdp            1.12074e+08
population           73025
Name: 5694, dtype: object)
(5695, countryname        Denmark
countrycode            DNK
year                  1986
gdp            8.80787e+10
population     5.12053e+06
Name: 5695, dtype: object)
(5696, countryname    Dominican Republic
countrycode                   DOM
year                         1986
gdp                    6.1222e+09
population            6.62654e+06
Name: 5696, dtype: object)
(5697, countryname        Algeria
countrycode            DZA
year                  1986
gdp            6.36963e+10
population     2.32413e+07
Name: 5697, dtype: object)
(5698, countryname        Ecuador

Name: 5792, dtype: object)
(5793, countryname         Panama
countrycode            PAN
year                  1986
gdp            6.79783e+09
population     2.26857e+06
Name: 5793, dtype: object)
(5794, countryname           Peru
countrycode            PER
year                  1986
gdp            1.52442e+10
population     1.99963e+07
Name: 5794, dtype: object)
(5795, countryname    Philippines
countrycode            PHL
year                  1986
gdp            2.98683e+10
population     5.58041e+07
Name: 5795, dtype: object)
(5796, countryname          Palau
countrycode            PLW
year                  1986
gdp            2.64803e+09
population           13985
Name: 5796, dtype: object)
(5797, countryname    Papua New Guinea
countrycode                 PNG
year                       1986
gdp                 2.64803e+09
population          3.89585e+06
Name: 5797, dtype: object)
(5798, countryname         Poland
countrycode            POL
year                  1986
gdp            8.12846e+10
population     3.74561e+07
Name: 5798, dtype: object)
(5799, countryname    Puerto Rico
countrycode            PRI
year                  1986
gdp            2.20093e+10
population     3.40955e+06
Name: 5799, dtype: object)
(5800, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1986
gdp                          3.87497e+10
population                   1.91568e+07
Name: 5800, dtype: object)
(5801, countryname       Portugal
countrycode            PRT
year                  1986
gdp            3.87497e+10
population     1.00327e+07
Name: 5801, dtype: object)
(5802, countryname       Paraguay
countrycode            PRY
year                  1986
gdp            3.43972e+09
population     3.77776e+06
Name: 5802, dtype: object)
(5803, countryname    West Bank and Gaza
countrycode                   PSE
year                         1986
gdp                   1.18365e+09
population            7.62530e+06
Name: 5803, dtype: object)
(5804, countryname    French Polynesia
countrycode                 PYF
year                       1986
gdp                 2.30151e+09
population               180075
Name: 5804, dtype: object)
(5805, countryname          Qatar
countrycode            QAT
year                  1986
gdp            5.05302e+09
population          397932
Name: 5805, dtype: object)
(5806, countryname        Romania
countrycode            ROU
year                  1986
gdp            6.81959e+07
population     2.28593e+07
Name: 5806, dtype: object)
(5807, countryname    Russian Federation
countrycode                   RUS
year                         1986
gdp                   1.94471e+09
population            1.44894e+08
Name: 5807, dtype: object)
(5808, countryname         Rwanda
countrycode            RWA
year                  1986
gdp            1.94471e+09
population     6.40767e+06
Name: 5808, dtype: object)
(5809, countryname    Saudi Arabia
countrycode             SAU
year                   1986
gdp             8.69619e+10
population       1.3869e+07
Name: 5809, dtype: object)
(5810, countryname          Sudan
countrycode            SDN
year                  1986
gdp            1.57691e+10
population     1.77572e+07
Name: 5810, dtype: object)
(5811, countryname        Senegal
countrycode            SEN
year                  1986
gdp            4.18986e+09
population     6.68616e+06
Name: 5811, dtype: object)
(5812, countryname      Singapore
countrycode            SGP
year                  1986
gdp            1.85693e+10
population     2.73337e+06
Name: 5812, dtype: object)
(5813, countryname    Solomon Islands
countrycode                SLB
year                      1986
gdp                2.10738e+08
population              278838
Name: 5813, dtype: object)
(5814, countryname    Sierra Leone
countrycode             SLE
year                   1986
gdp             4.90181e+08
population      3.91244e+06
Name: 5814, dtype: object)
(5815, countryname    El Salvador
countrycode            SLV
year                  1986
gdp            3.77166e+09
population     4.98894e+06
Name: 5815, dtype: object)
(5816, countryname     San Marino
countrycode            SMR
year                  1986
gdp            2.29401e+11
population           22961
Name: 5816, dtype: object)
(5817, countryname        Somalia
countrycode            SOM
year                  1986
gdp            2.29401e+11
population     6.88737e+06
Name: 5817, dtype: object)
(5818, countryname         Serbia
countrycode            SRB
year                  1986
gdp            2.29401e+11
population      4.5777e+08
Name: 5818, dtype: object)
(5819, countryname    South Sudan
countrycode            SSD
year                  1986
gdp            4.91595e+10
population     5.56554e+06
Name: 5819, dtype: object)
(5820, countryname    Sao Tome and Principe
countrycode                      STP
year                            1986
gdp                         8.91e+08
population                    105474
Name: 5820, dtype: object)
(5821, countryname    Suriname
countrycode         SUR
year               1986
gdp            8.91e+08
population       376867
Name: 5821, dtype: object)
(5822, countryname    Slovak Republic
countrycode                SVK
year                      1986
gdp                1.48376e+11
population         5.19384e+06
Name: 5822, dtype: object)
(5823, countryname       Slovenia
countrycode            SVN
year                  1986
gdp            1.48376e+11
population     1.96596e+06
Name: 5823, dtype: object)
(5824, countryname         Sweden
countrycode            SWE
year                  1986
gdp            1.48376e+11
population     8.36983e+06
Name: 5824, dtype: object)
(5825, countryname      Swaziland
countrycode            SWZ
year                  1986
gdp            4.49147e+08
population          734243
Name: 5825, dtype: object)
(5826, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1986
gdp                          2.07851e+08
population                         65652
Name: 5826, dtype: object)
(5827, countryname     Seychelles
countrycode            SYC
year                  1986
gdp            2.07851e+08
population           65652
Name: 5827, dtype: object)
(5828, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1986
gdp                     1.32932e+10
population              1.10043e+07
Name: 5828, dtype: object)
(5829, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1986
gdp                         1.06783e+09
population                         9875
Name: 5829, dtype: object)
(5830, countryname           Chad
countrycode            TCD
year                  1986
gdp            1.06783e+09
population     5.24301e+06
Name: 5830, dtype: object)
(5831, countryname           Togo
countrycode            TGO
year                  1986
gdp            1.06091e+09
population     3.36402e+06
Name: 5831, dtype: object)
(5832, countryname       Thailand
countrycode            THA
year                  1986
gdp            4.30967e+10
population     5.29965e+07
Name: 5832, dtype: object)
(5833, countryname     Tajikistan
countrycode            TJK
year                  1986
gdp            4.30967e+10
population     4.68728e+06
Name: 5833, dtype: object)
(5834, countryname    Turkmenistan
countrycode             TKM
year                   1986
gdp             4.30967e+10
population      3.32446e+06
Name: 5834, dtype: object)
(5835, countryname    Timor-Leste
countrycode            TLS
year                  1986
gdp            6.81959e+07
population          684184
Name: 5835, dtype: object)
(5836, countryname          Tonga
countrycode            TON
year                  1986
gdp            6.81959e+07
population           94145
Name: 5836, dtype: object)
(5837, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1986
gdp                    4.79444e+09
population             1.18405e+06
Name: 5837, dtype: object)
(5838, countryname        Tunisia
countrycode            TUN
year                  1986
gdp            9.01814e+09
population     7.50976e+06
Name: 5838, dtype: object)
(5839, countryname         Turkey
countrycode            TUR
year                  1986
gdp             7.5728e+10
population     5.01285e+07
Name: 5839, dtype: object)
(5840, countryname         Tuvalu
countrycode            TUV
year                  1986
gdp            3.92323e+09
population            8747
Name: 5840, dtype: object)
(5841, countryname       Tanzania
countrycode            TZA
year                  1986
gdp            3.92323e+09
population     2.25112e+07
Name: 5841, dtype: object)
(5842, countryname         Uganda
countrycode            UGA
year                  1986
gdp            3.92323e+09
population     1.51545e+07
Name: 5842, dtype: object)
(5843, countryname        Ukraine
countrycode            UKR
year                  1986
gdp            1.81598e+12
population      5.1097e+07
Name: 5843, dtype: object)
(5844, countryname        Uruguay
countrycode            URY
year                  1986
gdp            5.88011e+09
population     3.03104e+06
Name: 5844, dtype: object)
(5845, countryname    United States
countrycode              USA
year                    1986
gdp              4.59016e+12
population       2.40133e+08
Name: 5845, dtype: object)
(5846, countryname     Uzbekistan
countrycode            UZB
year                  1986
gdp            1.60847e+08
population     1.85655e+07
Name: 5846, dtype: object)
(5847, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1986
gdp                               1.60847e+08
population                             105198
Name: 5847, dtype: object)
(5848, countryname    Venezuela, RB
countrycode              VEN
year                    1986
gdp              5.87939e+10
population       1.79686e+07
Name: 5848, dtype: object)
(5849, countryname    British Virgin Islands
countrycode                       VGB
year                             1986
gdp                        1.0356e+09
population                      13938
Name: 5849, dtype: object)
(5850, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1986
gdp                       1.0356e+09
population                    100842
Name: 5850, dtype: object)
(5851, countryname        Vietnam
countrycode            VNM
year                  1986
gdp            2.63366e+10
population     6.24596e+07
Name: 5851, dtype: object)
(5852, countryname        Vanuatu
countrycode            VUT
year                  1986
gdp            1.18691e+08
population          133038
Name: 5852, dtype: object)
(5853, countryname          Samoa
countrycode            WSM
year                  1986
gdp            1.00948e+08
population          160592
Name: 5853, dtype: object)
(5854, countryname         Kosovo
countrycode            XKX
year                  1986
gdp            8.21079e+10
population       1.717e+06
Name: 5854, dtype: object)
(5855, countryname    Yemen, Rep.
countrycode            YEM
year                  1986
gdp            8.21079e+10
population     1.02327e+07
Name: 5855, dtype: object)
(5856, countryname    South Africa
countrycode             ZAF
year                   1986
gdp             8.21079e+10
population      3.44904e+07
Name: 5856, dtype: object)
(5857, countryname         Zambia
countrycode            ZMB
year                  1986
gdp            1.66195e+09
population     7.17066e+06
Name: 5857, dtype: object)
(5858, countryname       Zimbabwe
countrycode            ZWE
year                  1986
gdp            6.21752e+09
population     8.97620e+06
Name: 5858, dtype: object)
(5859, countryname          Aruba
countrycode            ABW
year                  1987
gdp            3.47879e+09
population           61833
Name: 5859, dtype: object)
(5860, countryname    Afghanistan
countrycode            AFG
year                  1987
gdp            3.47879e+09
population     1.15028e+07
Name: 5860, dtype: object)
(5861, countryname         Angola
countrycode            AGO
year                  1987
gdp            8.08928e+09
population     1.12183e+07
Name: 5861, dtype: object)
(5862, countryname        Albania
countrycode            ALB
year                  1987
gdp            2.15662e+09
population     3.08360e+06
Name: 5862, dtype: object)
(5863, countryname        Andorra
countrycode            AND
year                  1987
gdp            6.11316e+08
population           48455
Name: 5863, dtype: object)
(5864, countryname    United Arab Emirates
countrycode                     ARE
year                           1987
gdp                     3.63849e+10
population              1.56072e+06
Name: 5864, dtype: object)
(5865, countryname      Argentina
countrycode            ARG
year                  1987
gdp            1.11106e+11
population     3.13265e+07
Name: 5865, dtype: object)
(5866, countryname        Armenia
countrycode            ARM
year                  1987
gdp            3.37175e+08
population     3.45194e+06
Name: 5866, dtype: object)
(5867, countryname    American Samoa
countrycode               ASM
year                     1987
gdp               3.37175e+08
population              42450
Name: 5867, dtype: object)
(5868, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1987
gdp                    3.37175e+08
population                   67845
Name: 5868, dtype: object)
(5869, countryname      Australia
countrycode            AUS
year                  1987
gdp            1.89041e+11
population     1.62639e+07
Name: 5869, dtype: object)
(5870, countryname        Austria
countrycode            AUT
year                  1987
gdp            1.24168e+11
population     7.57459e+06
Name: 5870, dtype: object)
(5871, countryname     Azerbaijan
countrycode            AZE
year                  1987
gdp            1.13147e+09
population      6.8935e+06
Name: 5871, dtype: object)
(5872, countryname        Burundi
countrycode            BDI
year                  1987
gdp            1.13147e+09
population     4.98774e+06
Name: 5872, dtype: object)
(5873, countryname        Belgium
countrycode            BEL
year                  1987
gdp            1.50194e+11
population     9.87023e+06
Name: 5873, dtype: object)
(5874, countryname          Benin
countrycode            BEN
year                  1987
gdp            1.56241e+09
population     4.53526e+06
Name: 5874, dtype: object)
(5875, countryname    Burkina Faso
countrycode             BFA
year                   1987
gdp             2.36984e+09
population      8.14007e+06
Name: 5875, dtype: object)
(5876, countryname     Bangladesh
countrycode            BGD
year                  1987
gdp             2.4298e+10
population     9.83438e+07
Name: 5876, dtype: object)
(5877, countryname       Bulgaria
countrycode            BGR
year                  1987
gdp             2.8101e+10
population     8.97136e+06
Name: 5877, dtype: object)
(5878, countryname        Bahrain
countrycode            BHR
year                  1987
gdp            3.39202e+09
population          448973
Name: 5878, dtype: object)
(5879, countryname    Bahamas, The
countrycode             BHS
year                   1987
gdp               2.714e+09
population           243393
Name: 5879, dtype: object)
(5880, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1987
gdp                        2.7655e+08
population                4.47852e+06
Name: 5880, dtype: object)
(5881, countryname       Belarus
countrycode           BLR
year                 1987
gdp            2.7655e+08
population     1.0111e+07
Name: 5881, dtype: object)
(5882, countryname        Belize
countrycode           BLZ
year                 1987
gdp            2.7655e+08
population         174320
Name: 5882, dtype: object)
(5883, countryname       Bermuda
countrycode           BMU
year                 1987
gdp            1.2965e+09
population          57849
Name: 5883, dtype: object)
(5884, countryname        Bolivia
countrycode            BOL
year                  1987
gdp            4.34796e+09
population     6.46473e+06
Name: 5884, dtype: object)
(5885, countryname         Brazil
countrycode            BRA
year                  1987
gdp            2.93364e+11
population     1.41273e+08
Name: 5885, dtype: object)
(5886, countryname       Barbados
countrycode            BRB
year                  1987
gdp            1.71377e+09
population          257611
Name: 5886, dtype: object)
(5887, countryname    Brunei Darussalam
countrycode                  BRN
year                        1987
gdp                  2.75446e+09
population                237622
Name: 5887, dtype: object)
(5888, countryname         Bhutan
countrycode            BTN
year                  1987
gdp            2.53182e+08
population          500437
Name: 5888, dtype: object)
(5889, countryname       Botswana
countrycode            BWA
year                  1987
gdp            1.96527e+09
population     1.26431e+06
Name: 5889, dtype: object)
(5890, countryname    Central African Republic
countrycode                         CAF
year                               1987
gdp                         1.20099e+09
population                  2.75524e+06
Name: 5890, dtype: object)
(5891, countryname         Canada
countrycode            CAN
year                  1987
gdp            4.31317e+11
population       2.655e+07
Name: 5891, dtype: object)
(5892, countryname    Switzerland
countrycode            CHE
year                  1987
gdp            1.93466e+11
population     6.54511e+06
Name: 5892, dtype: object)
(5893, countryname    Channel Islands
countrycode                CHI
year                      1987
gdp                2.22554e+10
population              136716
Name: 5893, dtype: object)
(5894, countryname          Chile
countrycode            CHL
year                  1987
gdp            2.22554e+10
population     1.25941e+07
Name: 5894, dtype: object)
(5895, countryname          China
countrycode            CHN
year                  1987
gdp            2.72973e+11
population     1.08404e+09
Name: 5895, dtype: object)
(5896, countryname    Cote d'Ivoire
countrycode              CIV
year                    1987
gdp              1.00877e+10
population       1.10197e+07
Name: 5896, dtype: object)
(5897, countryname       Cameroon
countrycode            CMR
year                  1987
gdp            1.23025e+10
population     1.06963e+07
Name: 5897, dtype: object)
(5898, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1987
gdp                 7.17502e+09
population          3.15298e+07
Name: 5898, dtype: object)
(5899, countryname    Congo, Rep.
countrycode            COG
year                  1987
gdp            2.29775e+09
population     2.24915e+06
Name: 5899, dtype: object)
(5900, countryname       Colombia
countrycode            COL
year                  1987
gdp            3.63733e+10
population     3.23243e+07
Name: 5900, dtype: object)
(5901, countryname        Comoros
countrycode            COM
year                  1987
gdp            1.96434e+08
population          376654
Name: 5901, dtype: object)
(5902, countryname     Cabo Verde
countrycode            CPV
year                  1987
gdp            2.35253e+08
population          324893
Name: 5902, dtype: object)
(5903, countryname     Costa Rica
countrycode            CRI
year                  1987
gdp            5.84113e+09
population     2.87221e+06
Name: 5903, dtype: object)
(5904, countryname           Cuba
countrycode            CUB
year                  1987
gdp            2.52139e+10
population     1.02696e+07
Name: 5904, dtype: object)

Name: 6004, dtype: object)
(6005, countryname          Nepal
countrycode            NPL
year                  1987
gdp            2.95726e+09
population     1.74809e+07
Name: 6005, dtype: object)
(6006, countryname          Nauru
countrycode            NRU
year                  1987
gdp            2.95726e+09
population            8554
Name: 6006, dtype: object)
(6007, countryname    New Zealand
countrycode            NZL
year                  1987
gdp            4.03386e+10
population      3.2744e+06
Name: 6007, dtype: object)
(6008, countryname           Oman
countrycode            OMN
year                  1987
gdp            7.81118e+09
population     1.61986e+06
Name: 6008, dtype: object)
(6009, countryname       Pakistan
countrycode            PAK
year                  1987
gdp            3.33515e+10
population     9.83575e+07
Name: 6009, dtype: object)
(6010, countryname         Panama
countrycode            PAN
year                  1987
gdp            6.82767e+09
population     2.31833e+06
Name: 6010, dtype: object)
(6011, countryname           Peru
countrycode            PER
year                  1987
gdp            2.07023e+10
population     2.04517e+07
Name: 6011, dtype: object)
(6012, countryname    Philippines
countrycode            PHL
year                  1987
gdp            3.31959e+10
population     5.73133e+07
Name: 6012, dtype: object)
(6013, countryname          Palau
countrycode            PLW
year                  1987
gdp            3.14385e+09
population           14240
Name: 6013, dtype: object)
(6014, countryname    Papua New Guinea
countrycode                 PNG
year                       1987
gdp                 3.14385e+09
population           3.9977e+06
Name: 6014, dtype: object)
(6015, countryname         Poland
countrycode            POL
year                  1987
gdp            9.29908e+10
population      3.7668e+07
Name: 6015, dtype: object)
(6016, countryname    Puerto Rico
countrycode            PRI
year                  1987
gdp            2.40258e+10
population     3.44185e+06
Name: 6016, dtype: object)
(6017, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1987
gdp                          4.81877e+10
population                    1.9432e+07
Name: 6017, dtype: object)
(6018, countryname       Portugal
countrycode            PRT
year                  1987
gdp            4.81877e+10
population       1.003e+07
Name: 6018, dtype: object)
(6019, countryname       Paraguay
countrycode            PRY
year                  1987
gdp            3.77832e+09
population     3.88544e+06
Name: 6019, dtype: object)
(6020, countryname    West Bank and Gaza
countrycode                   PSE
year                         1987
gdp                   1.18309e+09
population            8.12009e+06
Name: 6020, dtype: object)
(6021, countryname    French Polynesia
countrycode                 PYF
year                       1987
gdp                  2.5432e+09
population               184950
Name: 6021, dtype: object)
(6022, countryname          Qatar
countrycode            QAT
year                  1987
gdp            5.44643e+09
population          422341
Name: 6022, dtype: object)
(6023, countryname        Romania
countrycode            ROU
year                  1987
gdp            3.84136e+10
population     2.29494e+07
Name: 6023, dtype: object)
(6024, countryname    Russian Federation
countrycode                   RUS
year                         1987
gdp                   2.15743e+09
population            1.45908e+08
Name: 6024, dtype: object)
(6025, countryname         Rwanda
countrycode            RWA
year                  1987
gdp            2.15743e+09
population     6.73213e+06
Name: 6025, dtype: object)
(6026, countryname    Saudi Arabia
countrycode             SAU
year                   1987
gdp             8.56959e+10
population      1.45257e+07
Name: 6026, dtype: object)
(6027, countryname          Sudan
countrycode            SDN
year                  1987
gdp            2.01556e+10
population     1.83026e+07
Name: 6027, dtype: object)
(6028, countryname        Senegal
countrycode            SEN
year                  1987
gdp            5.04071e+09
population      6.8939e+06
Name: 6028, dtype: object)
(6029, countryname      Singapore
countrycode            SGP
year                  1987
gdp            2.08976e+10
population     2.77479e+06
Name: 6029, dtype: object)
(6030, countryname    Solomon Islands
countrycode                SLB
year                      1987
gdp                2.38606e+08
population              286863
Name: 6030, dtype: object)
(6031, countryname    Sierra Leone
countrycode             SLE
year                   1987
gdp             7.01308e+08
population      4.03467e+06
Name: 6031, dtype: object)
(6032, countryname    El Salvador
countrycode            SLV
year                  1987
gdp            3.95805e+09
population     5.05371e+06
Name: 6032, dtype: object)
(6033, countryname     San Marino
countrycode            SMR
year                  1987
gdp            2.70836e+11
population           23210
Name: 6033, dtype: object)
(6034, countryname        Somalia
countrycode            SOM
year                  1987
gdp            2.70836e+11
population     7.01811e+06
Name: 6034, dtype: object)
(6035, countryname         Serbia
countrycode            SRB
year                  1987
gdp            2.70836e+11
population      4.7087e+08
Name: 6035, dtype: object)
(6036, countryname    South Sudan
countrycode            SSD
year                  1987
gdp            5.61433e+10
population     5.66608e+06
Name: 6036, dtype: object)
(6037, countryname    Sao Tome and Principe
countrycode                      STP
year                            1987
gdp                       9.7985e+08
population                    107415
Name: 6037, dtype: object)
(6038, countryname      Suriname
countrycode           SUR
year                 1987
gdp            9.7985e+08
population         383654
Name: 6038, dtype: object)
(6039, countryname    Slovak Republic
countrycode                SVK
year                      1987
gdp                1.80429e+11
population         5.22284e+06
Name: 6039, dtype: object)
(6040, countryname       Slovenia
countrycode            SVN
year                  1987
gdp            1.80429e+11
population     1.98978e+06
Name: 6040, dtype: object)
(6041, countryname         Sweden
countrycode            SWE
year                  1987
gdp            1.80429e+11
population      8.3978e+06
Name: 6041, dtype: object)
(6042, countryname      Swaziland
countrycode            SWZ
year                  1987
gdp            5.84136e+08
population          766707
Name: 6042, dtype: object)
(6043, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1987
gdp                          2.49267e+08
population                         68499
Name: 6043, dtype: object)
(6044, countryname     Seychelles
countrycode            SYC
year                  1987
gdp            2.49267e+08
population           68499
Name: 6044, dtype: object)
(6045, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1987
gdp                     1.13562e+10
population              1.13609e+07
Name: 6045, dtype: object)
(6046, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1987
gdp                         1.16343e+09
population                        10224
Name: 6046, dtype: object)
(6047, countryname           Chad
countrycode            TCD
year                  1987
gdp            1.16343e+09
population     5.40809e+06
Name: 6047, dtype: object)
(6048, countryname           Togo
countrycode            TGO
year                  1987
gdp             1.2491e+09
population     3.47408e+06
Name: 6048, dtype: object)
(6049, countryname       Thailand
countrycode            THA
year                  1987
gdp            5.05354e+10
population     5.39644e+07
Name: 6049, dtype: object)
(6050, countryname     Tajikistan
countrycode            TJK
year                  1987
gdp            5.05354e+10
population     4.84395e+06
Name: 6050, dtype: object)
(6051, countryname    Turkmenistan
countrycode             TKM
year                   1987
gdp             2.33144e+09
population      3.40732e+06
Name: 6051, dtype: object)
(6052, countryname    Timor-Leste
countrycode            TLS
year                  1987
gdp            8.16671e+07
population          699522
Name: 6052, dtype: object)
(6053, countryname          Tonga
countrycode            TON
year                  1987
gdp            8.16671e+07
population           94384
Name: 6053, dtype: object)
(6054, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1987
gdp                    4.79778e+09
population             1.19525e+06
Name: 6054, dtype: object)
(6055, countryname        Tunisia
countrycode            TUN
year                  1987
gdp            9.69627e+09
population     7.69225e+06
Name: 6055, dtype: object)
(6056, countryname         Turkey
countrycode            TUR
year                  1987
gdp            8.71728e+10
population     5.11009e+07
Name: 6056, dtype: object)
(6057, countryname         Tuvalu
countrycode            TUV
year                  1987
gdp            6.26951e+09
population            8820
Name: 6057, dtype: object)
(6058, countryname       Tanzania
countrycode            TZA
year                  1987
gdp            6.26951e+09
population     2.31985e+07
Name: 6058, dtype: object)
(6059, countryname         Uganda
countrycode            UGA
year                  1987
gdp            6.26951e+09
population     1.56954e+07
Name: 6059, dtype: object)
(6060, countryname        Ukraine
countrycode            UKR
year                  1987
gdp            6.40878e+10
population      5.1293e+07
Name: 6060, dtype: object)
(6061, countryname        Uruguay
countrycode            URY
year                  1987
gdp            7.36749e+09
population     3.04997e+06
Name: 6061, dtype: object)
(6062, countryname    United States
countrycode              USA
year                    1987
gdp              4.87022e+12
population       2.42289e+08
Name: 6062, dtype: object)
(6063, countryname     Uzbekistan
countrycode            UZB
year                  1987
gdp            1.75581e+08
population     1.90299e+07
Name: 6063, dtype: object)
(6064, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1987
gdp                               1.75581e+08
population                             105896
Name: 6064, dtype: object)
(6065, countryname    Venezuela, RB
countrycode              VEN
year                    1987
gdp              4.53438e+10
population       1.84378e+07
Name: 6065, dtype: object)
(6066, countryname    British Virgin Islands
countrycode                       VGB
year                             1987
gdp                        1.1478e+09
population                      14589
Name: 6066, dtype: object)
(6067, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1987
gdp                       1.1478e+09
population                    100901
Name: 6067, dtype: object)
(6068, countryname        Vietnam
countrycode            VNM
year                  1987
gdp            3.66581e+10
population     6.38813e+07
Name: 6068, dtype: object)
(6069, countryname        Vanuatu
countrycode            VUT
year                  1987
gdp            1.30834e+08
population          136125
Name: 6069, dtype: object)
(6070, countryname          Samoa
countrycode            WSM
year                  1987
gdp            1.11714e+08
population          161015
Name: 6070, dtype: object)
(6071, countryname         Kosovo
countrycode            XKX
year                  1987
gdp            1.07415e+11
population       1.753e+06
Name: 6071, dtype: object)
(6072, countryname    Yemen, Rep.
countrycode            YEM
year                  1987
gdp            1.07415e+11
population     1.06286e+07
Name: 6072, dtype: object)
(6073, countryname    South Africa
countrycode             ZAF
year                   1987
gdp             1.07415e+11
population      3.52302e+07
Name: 6073, dtype: object)
(6074, countryname         Zambia
countrycode            ZMB
year                  1987
gdp            2.26989e+09
population     7.38569e+06
Name: 6074, dtype: object)
(6075, countryname       Zimbabwe
countrycode            ZWE
year                  1987
gdp            6.74122e+09
population     9.29328e+06
Name: 6075, dtype: object)
(6076, countryname          Aruba
countrycode            ABW
year                  1988
gdp            3.47879e+09
population           61079
Name: 6076, dtype: object)
(6077, countryname    Afghanistan
countrycode            AFG
year                  1988
gdp            3.47879e+09
population     1.15409e+07
Name: 6077, dtype: object)
(6078, countryname         Angola
countrycode            AGO
year                  1988
gdp            8.77512e+09
population      1.1514e+07
Name: 6078, dtype: object)
(6079, countryname        Albania
countrycode            ALB
year                  1988
gdp              2.126e+09
population     3.14234e+06
Name: 6079, dtype: object)
(6080, countryname        Andorra
countrycode            AND
year                  1988
gdp            7.21426e+08
population           50434
Name: 6080, dtype: object)
(6081, countryname    United Arab Emirates
countrycode                     ARE
year                           1988
gdp                     3.62757e+10
population              1.65585e+06
Name: 6081, dtype: object)
(6082, countryname      Argentina
countrycode            ARG
year                  1988
gdp            1.26207e+11
population     3.17955e+07
Name: 6082, dtype: object)
(6083, countryname        Armenia
countrycode            ARM
year                  1988
gdp            3.98638e+08
population     3.50465e+06
Name: 6083, dtype: object)
(6084, countryname    American Samoa
countrycode               ASM
year                     1988
gdp               3.98638e+08
population              44047
Name: 6084, dtype: object)
(6085, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1988
gdp                    3.98638e+08
population                   67058
Name: 6085, dtype: object)
(6086, countryname      Australia
countrycode            AUS
year                  1988
gdp              2.357e+11
population     1.65322e+07
Name: 6086, dtype: object)
(6087, countryname        Austria
countrycode            AUT
year                  1988
gdp            1.33339e+11
population     7.58532e+06
Name: 6087, dtype: object)
(6088, countryname     Azerbaijan
countrycode            AZE
year                  1988
gdp            7.04099e+12
population     7.01004e+06
Name: 6088, dtype: object)
(6089, countryname        Burundi
countrycode            BDI
year                  1988
gdp             1.0824e+09
population     5.13596e+06
Name: 6089, dtype: object)
(6090, countryname        Belgium
countrycode            BEL
year                  1988
gdp            1.63168e+11
population     9.90166e+06
Name: 6090, dtype: object)
(6091, countryname          Benin
countrycode            BEN
year                  1988
gdp            1.62025e+09
population     4.67285e+06
Name: 6091, dtype: object)
(6092, countryname    Burkina Faso
countrycode             BFA
year                   1988
gdp             2.61604e+09
population      8.35630e+06
Name: 6092, dtype: object)
(6093, countryname     Bangladesh
countrycode            BGD
year                  1988
gdp             2.6579e+10
population     1.00975e+08
Name: 6093, dtype: object)
(6094, countryname       Bulgaria
countrycode            BGR
year                  1988
gdp            2.25559e+10
population     8.98145e+06
Name: 6094, dtype: object)
(6095, countryname        Bahrain
countrycode            BHR
year                  1988
gdp            3.70239e+09
population          465202
Name: 6095, dtype: object)
(6096, countryname    Bahamas, The
countrycode             BHS
year                   1988
gdp              2.8179e+09
population           247579
Name: 6096, dtype: object)
(6097, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1988
gdp                         3.149e+08
population                4.50806e+06
Name: 6097, dtype: object)
(6098, countryname      Belarus
countrycode          BLR
year                1988
gdp            3.149e+08
population     1.014e+07
Name: 6098, dtype: object)
(6099, countryname       Belize
countrycode          BLZ
year                1988
gdp            3.149e+08
population        179028
Name: 6099, dtype: object)
(6100, countryname       Bermuda
countrycode           BMU
year                 1988
gdp            1.4151e+09
population          58347
Name: 6100, dtype: object)
(6101, countryname        Bolivia
countrycode            BOL
year                  1988
gdp            4.59762e+09
population     6.59279e+06
Name: 6101, dtype: object)
(6102, countryname         Brazil
countrycode            BRA
year                  1988
gdp            3.30301e+11
population     1.44002e+08
Name: 6102, dtype: object)
(6103, countryname       Barbados
countrycode            BRB
year                  1988
gdp            1.82282e+09
population          258527
Name: 6103, dtype: object)
(6104, countryname    Brunei Darussalam
countrycode                  BRN
year                        1988
gdp                  2.69072e+09
population                244458
Name: 6104, dtype: object)
(6105, countryname         Bhutan
countrycode            BTN
year                  1988
gdp            2.83856e+08
population          517273
Name: 6105, dtype: object)
(6106, countryname       Botswana
countrycode            BWA
year                  1988
gdp            2.64454e+09
population     1.30182e+06
Name: 6106, dtype: object)
(6107, countryname    Central African Republic
countrycode                         CAF
year                               1988
gdp                          1.2649e+09
population                  2.81224e+06
Name: 6107, dtype: object)
(6108, countryname         Canada
countrycode            CAN
year                  1988
gdp            5.07354e+11
population      2.6895e+07
Name: 6108, dtype: object)
(6109, countryname    Switzerland
countrycode            CHE
year                  1988
gdp            2.09298e+11
population     6.59339e+06
Name: 6109, dtype: object)
(6110, countryname    Channel Islands
countrycode                CHI
year                      1988
gdp                2.60402e+10
population              138187
Name: 6110, dtype: object)
(6111, countryname          Chile
countrycode            CHL
year                  1988
gdp            2.60402e+10
population      1.2809e+07
Name: 6111, dtype: object)
(6112, countryname          China
countrycode            CHN
year                  1988
gdp            3.12354e+11
population     1.10163e+09
Name: 6112, dtype: object)
(6113, countryname    Cote d'Ivoire
countrycode              CIV
year                    1988
gdp              1.02552e+10
population       1.14243e+07
Name: 6113, dtype: object)
(6114, countryname       Cameroon
countrycode            CMR
year                  1988
gdp            1.24933e+10
population     1.10318e+07
Name: 6114, dtype: object)
(6115, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1988
gdp                 9.20733e+09
population          3.24442e+07
Name: 6115, dtype: object)
(6116, countryname    Congo, Rep.
countrycode            COG
year                  1988
gdp            2.21254e+09
population     2.31135e+06
Name: 6116, dtype: object)

Name: 6220, dtype: object)
(6221, countryname         Norway
countrycode            NOR
year                  1988
gdp              1.019e+11
population     4.20949e+06
Name: 6221, dtype: object)
(6222, countryname          Nepal
countrycode            NPL
year                  1988
gdp            3.48701e+09
population     1.78737e+07
Name: 6222, dtype: object)
(6223, countryname        Nauru
countrycode          NRU
year                1988
gdp            1.019e+11
population          8755
Name: 6223, dtype: object)
(6224, countryname    New Zealand
countrycode            NZL
year                  1988
gdp            4.54931e+10
population      3.2834e+06
Name: 6224, dtype: object)
(6225, countryname           Oman
countrycode            OMN
year                  1988
gdp            8.38622e+09
population     1.67812e+06
Name: 6225, dtype: object)
(6226, countryname       Pakistan
countrycode            PAK
year                  1988
gdp            3.84727e+10
population     1.01475e+08
Name: 6226, dtype: object)
(6227, countryname         Panama
countrycode            PAN
year                  1988
gdp            5.90278e+09
population     2.36862e+06
Name: 6227, dtype: object)
(6228, countryname           Peru
countrycode            PER
year                  1988
gdp            1.54394e+10
population     2.09099e+07
Name: 6228, dtype: object)
(6229, countryname    Philippines
countrycode            PHL
year                  1988
gdp            3.78854e+10
population     5.88452e+07
Name: 6229, dtype: object)
(6230, countryname          Palau
countrycode            PLW
year                  1988
gdp            3.65598e+09
population           14490
Name: 6230, dtype: object)
(6231, countryname    Papua New Guinea
countrycode                 PNG
year                       1988
gdp                 3.65598e+09
population          4.10073e+06
Name: 6231, dtype: object)
(6232, countryname         Poland
countrycode            POL
year                  1988
gdp            9.64213e+10
population     3.78245e+07
Name: 6232, dtype: object)
(6233, countryname    Puerto Rico
countrycode            PRI
year                  1988
gdp            2.63858e+10
population      3.4739e+06
Name: 6233, dtype: object)
(6234, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1988
gdp                          5.63528e+10
population                   1.97083e+07
Name: 6234, dtype: object)
(6235, countryname       Portugal
countrycode            PRT
year                  1988
gdp            5.63528e+10
population     1.00196e+07
Name: 6235, dtype: object)
(6236, countryname       Paraguay
countrycode            PRY
year                  1988
gdp            4.08263e+09
population     3.99433e+06
Name: 6236, dtype: object)
(6237, countryname    West Bank and Gaza
countrycode                   PSE
year                         1988
gdp                   2.15281e+09
population            1.65064e+06
Name: 6237, dtype: object)
(6238, countryname    French Polynesia
countrycode                 PYF
year                       1988
gdp                 2.68747e+09
population               189738
Name: 6238, dtype: object)
(6239, countryname          Qatar
countrycode            QAT
year                  1988
gdp            6.03819e+09
population          443794
Name: 6239, dtype: object)
(6240, countryname        Romania
countrycode            ROU
year                  1988
gdp            4.08095e+10
population     2.30577e+07
Name: 6240, dtype: object)
(6241, countryname    Russian Federation
countrycode                   RUS
year                         1988
gdp                   2.39549e+09
population            1.46857e+08
Name: 6241, dtype: object)
(6242, countryname         Rwanda
countrycode            RWA
year                  1988
gdp            2.39549e+09
population     7.03018e+06
Name: 6242, dtype: object)
(6243, countryname    Saudi Arabia
countrycode             SAU
year                   1988
gdp             8.82561e+10
population      1.51552e+07
Name: 6243, dtype: object)
(6244, countryname          Sudan
countrycode            SDN
year                  1988
gdp            1.53992e+10
population     1.88663e+07
Name: 6244, dtype: object)
(6245, countryname        Senegal
countrycode            SEN
year                  1988
gdp            4.98515e+09
population     7.10798e+06
Name: 6245, dtype: object)
(6246, countryname      Singapore
countrycode            SGP
year                  1988
gdp            2.53372e+10
population     2.84611e+06
Name: 6246, dtype: object)
(6247, countryname    Solomon Islands
countrycode                SLB
year                      1988
gdp                3.10684e+08
population              294964
Name: 6247, dtype: object)
(6248, countryname    Sierra Leone
countrycode             SLE
year                   1988
gdp             1.05508e+09
population      4.15298e+06
Name: 6248, dtype: object)
(6249, countryname    El Salvador
countrycode            SLV
year                  1988
gdp            4.18988e+09
population     5.11904e+06
Name: 6249, dtype: object)
(6250, countryname     San Marino
countrycode            SMR
year                  1988
gdp            2.86344e+11
population           23466
Name: 6250, dtype: object)
(6251, countryname        Somalia
countrycode            SOM
year                  1988
gdp            2.86344e+11
population      7.1653e+06
Name: 6251, dtype: object)
(6252, countryname         Serbia
countrycode            SRB
year                  1988
gdp            2.86344e+11
population     4.84289e+08
Name: 6252, dtype: object)
(6253, countryname    South Sudan
countrycode            SSD
year                  1988
gdp            6.18786e+10
population     5.74124e+06
Name: 6253, dtype: object)
(6254, countryname    Sao Tome and Principe
countrycode                      STP
year                            1988
gdp                       1.1609e+09
population                    109470
Name: 6254, dtype: object)
(6255, countryname      Suriname
countrycode           SUR
year                 1988
gdp            1.1609e+09
population         391391
Name: 6255, dtype: object)
(6256, countryname    Slovak Republic
countrycode                SVK
year                      1988
gdp                2.04068e+11
population          5.2506e+06
Name: 6256, dtype: object)
(6257, countryname       Slovenia
countrycode            SVN
year                  1988
gdp            2.04068e+11
population      1.9952e+06
Name: 6257, dtype: object)
(6258, countryname         Sweden
countrycode            SWE
year                  1988
gdp            2.04068e+11
population     8.43649e+06
Name: 6258, dtype: object)
(6259, countryname      Swaziland
countrycode            SWZ
year                  1988
gdp            6.92017e+08
population          800456
Name: 6259, dtype: object)
(6260, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1988
gdp                          2.83829e+08
population                         68755
Name: 6260, dtype: object)
(6261, countryname     Seychelles
countrycode            SYC
year                  1988
gdp            2.83829e+08
population           68755
Name: 6261, dtype: object)
(6262, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1988
gdp                      1.0577e+10
population              1.17191e+07
Name: 6262, dtype: object)
(6263, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1988
gdp                          1.4826e+09
population                        10582
Name: 6263, dtype: object)
(6264, countryname           Chad
countrycode            TCD
year                  1988
gdp             1.4826e+09
population     5.58434e+06
Name: 6264, dtype: object)
(6265, countryname           Togo
countrycode            TGO
year                  1988
gdp            1.37885e+09
population     3.58193e+06
Name: 6265, dtype: object)
(6266, countryname       Thailand
countrycode            THA
year                  1988
gdp            6.16672e+10
population     5.49123e+07
Name: 6266, dtype: object)
(6267, countryname     Tajikistan
countrycode            TJK
year                  1988
gdp            6.16672e+10
population     5.00111e+06
Name: 6267, dtype: object)
(6268, countryname    Turkmenistan
countrycode             TKM
year                   1988
gdp             3.01104e+09
population      3.49389e+06
Name: 6268, dtype: object)
(6269, countryname    Timor-Leste
countrycode            TLS
year                  1988
gdp            1.06657e+08
population          714474
Name: 6269, dtype: object)
(6270, countryname          Tonga
countrycode            TON
year                  1988
gdp            1.06657e+08
population           94667
Name: 6270, dtype: object)
(6271, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1988
gdp                    4.49685e+09
population             1.20489e+06
Name: 6271, dtype: object)
(6272, countryname        Tunisia
countrycode            TUN
year                  1988
gdp            1.00963e+10
population     7.87146e+06
Name: 6272, dtype: object)
(6273, countryname         Turkey
countrycode            TUR
year                  1988
gdp            9.08528e+10
population     5.20537e+07
Name: 6273, dtype: object)
(6274, countryname         Tuvalu
countrycode            TUV
year                  1988
gdp            5.10041e+09
population            8883
Name: 6274, dtype: object)
(6275, countryname       Tanzania
countrycode            TZA
year                  1988
gdp            5.10041e+09
population       2.391e+07
Name: 6275, dtype: object)
(6276, countryname         Uganda
countrycode            UGA
year                  1988
gdp            6.50893e+09
population     1.62625e+07
Name: 6276, dtype: object)
(6277, countryname        Ukraine
countrycode            UKR
year                  1988
gdp            7.47037e+10
population      5.1521e+07
Name: 6277, dtype: object)
(6278, countryname        Uruguay
countrycode            URY
year                  1988
gdp            8.21352e+09
population      3.0691e+06
Name: 6278, dtype: object)
(6279, countryname    United States
countrycode              USA
year                    1988
gdp              5.25263e+12
population       2.44499e+08
Name: 6279, dtype: object)
(6280, countryname     Uzbekistan
countrycode            UZB
year                  1988
gdp            2.00727e+08
population     1.95012e+07
Name: 6280, dtype: object)
(6281, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1988
gdp                               2.00727e+08
population                             106536
Name: 6281, dtype: object)
(6282, countryname    Venezuela, RB
countrycode              VEN
year                    1988
gdp              5.84284e+10
population       1.89125e+07
Name: 6282, dtype: object)
(6283, countryname    British Virgin Islands
countrycode                       VGB
year                             1988
gdp                        1.2046e+09
population                      15266
Name: 6283, dtype: object)
(6284, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1988
gdp                       1.2046e+09
population                    100952
Name: 6284, dtype: object)
(6285, countryname        Vietnam
countrycode            VNM
year                  1988
gdp            2.54238e+10
population     6.53137e+07
Name: 6285, dtype: object)
(6286, countryname        Vanuatu
countrycode            VUT
year                  1988
gdp            1.48545e+08
population          139366
Name: 6286, dtype: object)
(6287, countryname          Samoa
countrycode            WSM
year                  1988
gdp            1.33016e+08
population          161421
Name: 6287, dtype: object)
(6288, countryname         Kosovo
countrycode            XKX
year                  1988
gdp            1.18332e+11
population       1.791e+06
Name: 6288, dtype: object)
(6289, countryname    Yemen, Rep.
countrycode            YEM
year                  1988
gdp            1.18332e+11
population     1.10515e+07
Name: 6289, dtype: object)
(6290, countryname    South Africa
countrycode             ZAF
year                   1988
gdp             1.18332e+11
population      3.59705e+07
Name: 6290, dtype: object)
(6291, countryname         Zambia
countrycode            ZMB
year                  1988
gdp            3.71361e+09
population     7.60007e+06
Name: 6291, dtype: object)
(6292, countryname       Zimbabwe
countrycode            ZWE
year                  1988
gdp            7.81478e+09
population      9.6043e+06
Name: 6292, dtype: object)
(6293, countryname          Aruba
countrycode            ABW
year                  1989
gdp            3.47879e+09
population           61032
Name: 6293, dtype: object)
(6294, countryname    Afghanistan
countrycode            AFG
year                  1989
gdp            3.47879e+09
population     1.17776e+07
Name: 6294, dtype: object)
(6295, countryname         Angola
countrycode            AGO
year                  1989
gdp            1.02079e+10
population     1.18272e+07
Name: 6295, dtype: object)
(6296, countryname        Albania
countrycode            ALB
year                  1989
gdp            2.33512e+09
population     3.22794e+06
Name: 6296, dtype: object)
(6297, countryname        Andorra
countrycode            AND
year                  1989
gdp            7.95449e+08
population           52448
Name: 6297, dtype: object)
(6298, countryname    United Arab Emirates
countrycode                     ARE
year                           1989
gdp                      4.1465e+10
population              1.75604e+06
Name: 6298, dtype: object)
(6299, countryname      Argentina
countrycode            ARG
year                  1989
gdp            7.66369e+10
population     3.22636e+07
Name: 6299, dtype: object)
(6300, countryname        Armenia
countrycode            ARM
year                  1989
gdp            4.38795e+08
population     3.53647e+06
Name: 6300, dtype: object)
(6301, countryname    American Samoa
countrycode               ASM
year                     1989
gdp               4.38795e+08
population              45593
Name: 6301, dtype: object)
(6302, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1989
gdp                    4.38795e+08
population                   66627
Name: 6302, dtype: object)
(6303, countryname      Australia
countrycode            AUS
year                  1989
gdp            2.99318e+11
population     1.68144e+07
Name: 6303, dtype: object)
(6304, countryname        Austria
countrycode            AUT
year                  1989
gdp            1.33106e+11
population     7.61957e+06
Name: 6304, dtype: object)
(6305, countryname     Azerbaijan
countrycode            AZE
year                  1989
gdp            7.19716e+12
population     7.12689e+06
Name: 6305, dtype: object)
(6306, countryname        Burundi
countrycode            BDI
year                  1989
gdp            1.11392e+09
population     5.28002e+06
Name: 6306, dtype: object)
(6307, countryname       Belgium
countrycode           BEL
year                 1989
gdp             1.651e+11
population     9.9377e+06
Name: 6307, dtype: object)
(6308, countryname          Benin
countrycode            BEN
year                  1989
gdp            1.50229e+09
population     4.82002e+06
Name: 6308, dtype: object)
(6309, countryname    Burkina Faso
countrycode             BFA
year                   1989
gdp             2.61559e+09
population      8.57982e+06
Name: 6309, dtype: object)
(6310, countryname     Bangladesh
countrycode            BGD
year                  1989
gdp            2.87817e+10
population     1.03599e+08
Name: 6310, dtype: object)
(6311, countryname       Bulgaria
countrycode            BGR
year                  1989
gdp            2.19884e+10
population     8.87697e+06
Name: 6311, dtype: object)
(6312, countryname        Bahrain
countrycode            BHR
year                  1989
gdp            3.86356e+09
population          481090
Name: 6312, dtype: object)
(6313, countryname    Bahamas, The
countrycode             BHS
year                   1989
gdp               3.062e+09
population           251849
Name: 6313, dtype: object)
(6314, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1989
gdp                        3.6315e+08
population                4.50665e+06
Name: 6314, dtype: object)
(6315, countryname       Belarus
countrycode           BLR
year                 1989
gdp            3.6315e+08
population      1.017e+07
Name: 6315, dtype: object)
(6316, countryname        Belize
countrycode           BLZ
year                 1989
gdp            3.6315e+08
population         183469
Name: 6316, dtype: object)
(6317, countryname       Bermuda
countrycode           BMU
year                 1989
gdp            1.5015e+09
population          58841
Name: 6317, dtype: object)
(6318, countryname        Bolivia
countrycode            BOL
year                  1989
gdp            4.71598e+09
population     6.72305e+06
Name: 6318, dtype: object)
(6319, countryname         Brazil
countrycode            BRA
year                  1989
gdp            4.25595e+11
population     1.46692e+08
Name: 6319, dtype: object)
(6320, countryname       Barbados
countrycode            BRB
year                  1989
gdp            2.01573e+09
population          259458
Name: 6320, dtype: object)
(6321, countryname    Brunei Darussalam
countrycode                  BRN
year                        1989
gdp                  2.98547e+09
population                251514
Name: 6321, dtype: object)
(6322, countryname        Bhutan
countrycode           BTN
year                 1989
gdp            2.7595e+08
population         530257
Name: 6322, dtype: object)
(6323, countryname       Botswana
countrycode            BWA
year                  1989
gdp             3.0838e+09
population     1.33962e+06
Name: 6323, dtype: object)
(6324, countryname    Central African Republic
countrycode                         CAF
year                               1989
gdp                         1.23393e+09
population                  2.87267e+06
Name: 6324, dtype: object)
(6325, countryname         Canada
countrycode            CAN
year                  1989
gdp            5.65056e+11
population      2.7379e+07
Name: 6325, dtype: object)
(6326, countryname    Switzerland
countrycode            CHE
year                  1989
gdp            2.02079e+11
population     6.64691e+06
Name: 6326, dtype: object)
(6327, countryname    Channel Islands
countrycode                CHI
year                      1989
gdp                2.98857e+10
population              139530
Name: 6327, dtype: object)
(6328, countryname          Chile
countrycode            CHL
year                  1989
gdp            2.98857e+10
population     1.30258e+07
Name: 6328, dtype: object)
(6329, countryname          China
countrycode            CHN
year                  1989
gdp            3.47768e+11
population     1.11865e+09
Name: 6329, dtype: object)
(6330, countryname    Cote d'Ivoire
countrycode              CIV
year                    1989
gdp              9.75741e+09
population       1.18392e+07
Name: 6330, dtype: object)
(6331, countryname       Cameroon
countrycode            CMR
year                  1989
gdp            1.11401e+10
population     1.13722e+07
Name: 6331, dtype: object)
(6332, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       1989
gdp                 8.82205e+09
population          3.34654e+07
Name: 6332, dtype: object)

(6437, countryname    Netherlands
countrycode            NLD
year                  1989
gdp             2.5504e+11
population     1.48489e+07
Name: 6437, dtype: object)
(6438, countryname         Norway
countrycode            NOR
year                  1989
gdp            1.02634e+11
population      4.2269e+06
Name: 6438, dtype: object)
(6439, countryname          Nepal
countrycode            NPL
year                  1989
gdp            3.52523e+09
population     1.82935e+07
Name: 6439, dtype: object)
(6440, countryname          Nauru
countrycode            NRU
year                  1989
gdp            3.52523e+09
population            8954
Name: 6440, dtype: object)
(6441, countryname    New Zealand
countrycode            NZL
year                  1989
gdp            4.41706e+10
population      3.2992e+06
Name: 6441, dtype: object)
(6442, countryname           Oman
countrycode            OMN
year                  1989
gdp            9.37217e+09
population     1.74116e+06
Name: 6442, dtype: object)
(6443, countryname       Pakistan
countrycode            PAK
year                  1989
gdp             4.0171e+10
population     1.04588e+08
Name: 6443, dtype: object)
(6444, countryname         Panama
countrycode            PAN
year                  1989
gdp            5.91847e+09
population     2.41949e+06
Name: 6444, dtype: object)
(6445, countryname           Peru
countrycode            PER
year                  1989
gdp            2.24996e+10
population     2.13689e+07
Name: 6445, dtype: object)
(6446, countryname    Philippines
countrycode            PHL
year                  1989
gdp            4.25752e+10
population     6.03919e+07
Name: 6446, dtype: object)
(6447, countryname          Palau
countrycode            PLW
year                  1989
gdp            9.71683e+10
population           14757
Name: 6447, dtype: object)
(6448, countryname    Papua New Guinea
countrycode                 PNG
year                       1989
gdp                 3.54646e+09
population          4.20565e+06
Name: 6448, dtype: object)
(6449, countryname         Poland
countrycode            POL
year                  1989
gdp            9.71683e+10
population     3.79615e+07
Name: 6449, dtype: object)
(6450, countryname    Puerto Rico
countrycode            PRI
year                  1989
gdp            2.81612e+10
population     3.50565e+06
Name: 6450, dtype: object)
(6451, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1989
gdp                          6.06001e+10
population                   1.99938e+07
Name: 6451, dtype: object)
(6452, countryname       Portugal
countrycode            PRT
year                  1989
gdp            6.06001e+10
population      1.0005e+07
Name: 6452, dtype: object)
(6453, countryname       Paraguay
countrycode            PRY
year                  1989
gdp            4.59997e+09
population     4.10391e+06
Name: 6453, dtype: object)
(6454, countryname    West Bank and Gaza
countrycode                   PSE
year                         1989
gdp                   2.24805e+09
population            1.67108e+06
Name: 6454, dtype: object)
(6455, countryname    French Polynesia
countrycode                 PYF
year                       1989
gdp                 2.63646e+09
population               194252
Name: 6455, dtype: object)
(6456, countryname          Qatar
countrycode            QAT
year                  1989
gdp            6.48791e+09
population          461870
Name: 6456, dtype: object)
(6457, countryname        Romania
countrycode            ROU
year                  1989
gdp            4.21053e+10
population     2.31615e+07
Name: 6457, dtype: object)
(6458, countryname    Russian Federation
countrycode                   RUS
year                         1989
gdp                     5.065e+11
population            1.47721e+08
Name: 6458, dtype: object)
(6459, countryname         Rwanda
countrycode            RWA
year                  1989
gdp            2.40502e+09
population     7.21603e+06
Name: 6459, dtype: object)
(6460, countryname    Saudi Arabia
countrycode             SAU
year                   1989
gdp             9.53445e+10
population      1.57559e+07
Name: 6460, dtype: object)
(6461, countryname          Sudan
countrycode            SDN
year                  1989
gdp            1.52915e+10
population     1.94756e+07
Name: 6461, dtype: object)
(6462, countryname        Senegal
countrycode            SEN
year                  1989
gdp            4.91307e+09
population      7.3286e+06
Name: 6462, dtype: object)
(6463, countryname      Singapore
countrycode            SGP
year                  1989
gdp            3.04236e+10
population      2.9309e+06
Name: 6463, dtype: object)
(6464, countryname    Solomon Islands
countrycode                SLB
year                      1989
gdp                3.32287e+08
population              303253
Name: 6464, dtype: object)
(6465, countryname    Sierra Leone
countrycode             SLE
year                   1989
gdp             9.32974e+08
population      4.24947e+06
Name: 6465, dtype: object)
(6466, countryname    El Salvador
countrycode            SLV
year                  1989
gdp            4.37222e+09
population     5.18594e+06
Name: 6466, dtype: object)
(6467, countryname     San Marino
countrycode            SMR
year                  1989
gdp            2.97065e+11
population           23740
Name: 6467, dtype: object)
(6468, countryname        Somalia
countrycode            SOM
year                  1989
gdp            2.97065e+11
population     7.29842e+06
Name: 6468, dtype: object)
(6469, countryname         Serbia
countrycode            SRB
year                  1989
gdp            2.97065e+11
population     4.98034e+08
Name: 6469, dtype: object)
(6470, countryname    South Sudan
countrycode            SSD
year                  1989
gdp            6.44106e+10
population      5.7775e+06
Name: 6470, dtype: object)
(6471, countryname    Sao Tome and Principe
countrycode                      STP
year                            1989
gdp                       5.4252e+08
population                    111627
Name: 6471, dtype: object)
(6472, countryname      Suriname
countrycode           SUR
year                 1989
gdp            5.4252e+08
population         399492
Name: 6472, dtype: object)
(6473, countryname    Slovak Republic
countrycode                SVK
year                      1989
gdp                2.14875e+11
population         5.27594e+06
Name: 6473, dtype: object)
(6474, countryname       Slovenia
countrycode            SVN
year                  1989
gdp            2.14875e+11
population     1.99635e+06
Name: 6474, dtype: object)
(6475, countryname         Sweden
countrycode            SWE
year                  1989
gdp            2.14875e+11
population     8.49296e+06
Name: 6475, dtype: object)
(6476, countryname      Swaziland
countrycode            SWZ
year                  1989
gdp            6.96915e+08
population          832682
Name: 6476, dtype: object)
(6477, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1989
gdp                          3.04833e+08
population                         69167
Name: 6477, dtype: object)
(6478, countryname     Seychelles
countrycode            SYC
year                  1989
gdp            3.04833e+08
population           69167
Name: 6478, dtype: object)
(6479, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1989
gdp                      9.8534e+09
population              1.20804e+07
Name: 6479, dtype: object)
(6480, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1989
gdp                         1.43369e+09
population                        11017
Name: 6480, dtype: object)
(6481, countryname           Chad
countrycode            TCD
year                  1989
gdp            1.43369e+09
population     5.76809e+06
Name: 6481, dtype: object)
(6482, countryname           Togo
countrycode            TGO
year                  1989
gdp            1.35295e+09
population     3.68637e+06
Name: 6482, dtype: object)
(6483, countryname       Thailand
countrycode            THA
year                  1989
gdp            7.22509e+10
population     5.57951e+07
Name: 6483, dtype: object)
(6484, countryname     Tajikistan
countrycode            TJK
year                  1989
gdp            7.22509e+10
population      5.1498e+06
Name: 6484, dtype: object)
(6485, countryname    Turkmenistan
countrycode             TKM
year                   1989
gdp             3.00687e+09
population      3.58587e+06
Name: 6485, dtype: object)
(6486, countryname    Timor-Leste
countrycode            TLS
year                  1989
gdp            1.06345e+08
population          731444
Name: 6486, dtype: object)
(6487, countryname          Tonga
countrycode            TON
year                  1989
gdp            1.06345e+08
population           94929
Name: 6487, dtype: object)
(6488, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1989
gdp                    4.32306e+09
population             1.21362e+06
Name: 6488, dtype: object)
(6489, countryname        Tunisia
countrycode            TUN
year                  1989
gdp            1.01021e+10
population     8.05093e+06
Name: 6489, dtype: object)
(6490, countryname         Turkey
countrycode            TUR
year                  1989
gdp            1.07143e+11
population     5.29924e+07
Name: 6490, dtype: object)
(6491, countryname         Tuvalu
countrycode            TUV
year                  1989
gdp            4.42017e+09
population            8947
Name: 6491, dtype: object)
(6492, countryname       Tanzania
countrycode            TZA
year                  1989
gdp            4.42017e+09
population     2.46606e+07
Name: 6492, dtype: object)
(6493, countryname         Uganda
countrycode            UGA
year                  1989
gdp            5.27648e+09
population     1.68461e+07
Name: 6493, dtype: object)
(6494, countryname        Ukraine
countrycode            UKR
year                  1989
gdp            8.27092e+10
population      5.1773e+07
Name: 6494, dtype: object)
(6495, countryname        Uruguay
countrycode            URY
year                  1989
gdp            8.43895e+09
population     3.08898e+06
Name: 6495, dtype: object)
(6496, countryname    United States
countrycode              USA
year                    1989
gdp              5.65769e+12
population       2.46819e+08
Name: 6496, dtype: object)
(6497, countryname     Uzbekistan
countrycode            UZB
year                  1989
gdp            2.14745e+08
population     1.99791e+07
Name: 6497, dtype: object)
(6498, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1989
gdp                               2.14745e+08
population                             107084
Name: 6498, dtype: object)
(6499, countryname    Venezuela, RB
countrycode              VEN
year                    1989
gdp              4.21198e+10
population       1.93883e+07
Name: 6499, dtype: object)
(6500, countryname    British Virgin Islands
countrycode                       VGB
year                             1989
gdp                        1.3439e+09
population                      15900
Name: 6500, dtype: object)
(6501, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1989
gdp                       1.3439e+09
population                    101041
Name: 6501, dtype: object)
(6502, countryname        Vietnam
countrycode            VNM
year                  1989
gdp             6.2933e+09
population     6.67574e+07
Name: 6502, dtype: object)
(6503, countryname        Vanuatu
countrycode            VUT
year                  1989
gdp            1.44482e+08
population          142849
Name: 6503, dtype: object)
(6504, countryname          Samoa
countrycode            WSM
year                  1989
gdp            1.22889e+08
population          161998
Name: 6504, dtype: object)
(6505, countryname         Kosovo
countrycode            XKX
year                  1989
gdp            1.28903e+11
population       1.827e+06
Name: 6505, dtype: object)
(6506, countryname    Yemen, Rep.
countrycode            YEM
year                  1989
gdp            1.28903e+11
population     1.15233e+07
Name: 6506, dtype: object)
(6507, countryname    South Africa
countrycode             ZAF
year                   1989
gdp             1.28903e+11
population      3.67409e+07
Name: 6507, dtype: object)
(6508, countryname         Zambia
countrycode            ZMB
year                  1989
gdp            3.99864e+09
population     7.81381e+06
Name: 6508, dtype: object)
(6509, countryname       Zimbabwe
countrycode            ZWE
year                  1989
gdp            8.28632e+09
population     9.90254e+06
Name: 6509, dtype: object)
(6510, countryname          Aruba
countrycode            ABW
year                  1990
gdp            3.47879e+09
population           62149
Name: 6510, dtype: object)
(6511, countryname    Afghanistan
countrycode            AFG
year                  1990
gdp            3.47879e+09
population     1.22491e+07
Name: 6511, dtype: object)
(6512, countryname         Angola
countrycode            AGO
year                  1990
gdp            1.12363e+10
population     1.21714e+07
Name: 6512, dtype: object)
(6513, countryname        Albania
countrycode            ALB
year                  1990
gdp            2.10162e+09
population     3.28654e+06
Name: 6513, dtype: object)
(6514, countryname        Andorra
countrycode            AND
year                  1990
gdp            1.02905e+09
population           54509
Name: 6514, dtype: object)
(6515, countryname    United Arab Emirates
countrycode                     ARE
year                           1990
gdp                     5.07014e+10
population              1.86017e+06
Name: 6515, dtype: object)
(6516, countryname      Argentina
countrycode            ARG
year                  1990
gdp            1.41352e+11
population     3.27297e+07
Name: 6516, dtype: object)
(6517, countryname        Armenia
countrycode            ARM
year                  1990
gdp            2.25684e+09
population     3.53816e+06
Name: 6517, dtype: object)
(6518, countryname    American Samoa
countrycode               ASM
year                     1990
gdp               4.59469e+08
population              47038
Name: 6518, dtype: object)
(6519, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1990
gdp                    4.59469e+08
population                   66696
Name: 6519, dtype: object)
(6520, countryname      Australia
countrycode            AUS
year                  1990
gdp            3.10838e+11
population     1.70651e+07
Name: 6520, dtype: object)
(6521, countryname        Austria
countrycode            AUT
year                  1990
gdp            1.66463e+11
population     7.67785e+06
Name: 6521, dtype: object)
(6522, countryname     Azerbaijan
countrycode            AZE
year                  1990
gdp            8.85801e+09
population       7.159e+06
Name: 6522, dtype: object)
(6523, countryname        Burundi
countrycode            BDI
year                  1990
gdp             1.1321e+09
population     5.41542e+06
Name: 6523, dtype: object)
(6524, countryname        Belgium
countrycode            BEL
year                  1990
gdp            2.06431e+11
population     9.96738e+06
Name: 6524, dtype: object)
(6525, countryname          Benin
countrycode            BEN
year                  1990
gdp            1.95997e+09
population      4.9785e+06
Name: 6525, dtype: object)
(6526, countryname    Burkina Faso
countrycode             BFA
year                   1990
gdp              3.1013e+09
population      8.81103e+06
Name: 6526, dtype: object)
(6527, countryname     Bangladesh
countrycode            BGD
year                  1990
gdp            3.15983e+10
population     1.06189e+08
Name: 6527, dtype: object)
(6528, countryname       Bulgaria
countrycode            BGR
year                  1990
gdp            2.06321e+10
population     8.71829e+06
Name: 6528, dtype: object)
(6529, countryname        Bahrain
countrycode            BHR
year                  1990
gdp            4.22979e+09
population          495931
Name: 6529, dtype: object)
(6530, countryname    Bahamas, The
countrycode             BHS
year                   1990
gdp               3.166e+09
population           256336
Name: 6530, dtype: object)
(6531, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1990
gdp                         2.165e+10
population                4.46342e+06
Name: 6531, dtype: object)
(6532, countryname       Belarus
countrycode           BLR
year                 1990
gdp             2.165e+10
population     1.0189e+07
Name: 6532, dtype: object)
(6533, countryname        Belize
countrycode           BLZ
year                 1990
gdp            4.1305e+08
population         187552
Name: 6533, dtype: object)
(6534, countryname       Bermuda
countrycode           BMU
year                 1990
gdp            1.5924e+09
population          59326
Name: 6534, dtype: object)
(6535, countryname        Bolivia
countrycode            BOL
year                  1990
gdp            4.86758e+09
population     6.85624e+06
Name: 6535, dtype: object)
(6536, countryname         Brazil
countrycode            BRA
year                  1990
gdp            4.61952e+11
population     1.49352e+08
Name: 6536, dtype: object)
(6537, countryname       Barbados
countrycode            BRB
year                  1990
gdp            2.02332e+09
population          260374
Name: 6537, dtype: object)
(6538, countryname    Brunei Darussalam
countrycode                  BRN
year                        1990
gdp                  3.52055e+09
population                258785
Name: 6538, dtype: object)
(6539, countryname         Bhutan
countrycode            BTN
year                  1990
gdp            2.99787e+08
population          537280
Name: 6539, dtype: object)
(6540, countryname       Botswana
countrycode            BWA
year                  1990
gdp            3.79057e+09
population     1.37791e+06
Name: 6540, dtype: object)
(6541, countryname    Central African Republic
countrycode                         CAF
year                               1990
gdp                         1.44071e+09
population                  2.93978e+06
Name: 6541, dtype: object)
(6542, countryname        Canada
countrycode           CAN
year                 1990
gdp            5.9393e+11
population     2.7791e+07
Name: 6542, dtype: object)
(6543, countryname    Switzerland
countrycode            CHE
year                  1990
gdp            2.58067e+11
population     6.71552e+06
Name: 6543, dtype: object)
(6544, countryname    Channel Islands
countrycode                CHI
year                      1990
gdp                3.31139e+10
population              140671
Name: 6544, dtype: object)
(6545, countryname          Chile
countrycode            CHL
year                  1990
gdp            3.31139e+10
population     1.32421e+07
Name: 6545, dtype: object)
(6546, countryname          China
countrycode            CHN
year                  1990
gdp            3.60858e+11
population     1.13518e+09
Name: 6546, dtype: object)
(6547, countryname    Cote d'Ivoire
countrycode              CIV
year                    1990
gdp              1.07959e+10
population       1.22678e+07
Name: 6547, dtype: object)
(6548, countryname       Cameroon
countrycode            CMR
year                  1990
gdp            1.11516e+10
population     1.17152e+07
Name: 6548, dtype: object)
(6549, countryname    Congo, Dem. Rep.

Name: 6650, dtype: object)
(6651, countryname          Niger
countrycode            NER
year                  1990
gdp            2.48067e+09
population     8.01286e+06
Name: 6651, dtype: object)
(6652, countryname        Nigeria
countrycode            NGA
year                  1990
gdp            3.07571e+10
population       9.527e+07
Name: 6652, dtype: object)
(6653, countryname      Nicaragua
countrycode            NIC
year                  1990
gdp            1.00946e+09
population     4.14456e+06
Name: 6653, dtype: object)
(6654, countryname    Netherlands
countrycode            NLD
year                  1990
gdp            3.14268e+11
population     1.49515e+07
Name: 6654, dtype: object)
(6655, countryname         Norway
countrycode            NOR
year                  1990
gdp            1.19792e+11
population     4.24147e+06
Name: 6655, dtype: object)
(6656, countryname          Nepal
countrycode            NPL
year                  1990
gdp            3.62756e+09
population     1.87494e+07
Name: 6656, dtype: object)
(6657, countryname          Nauru
countrycode            NRU
year                  1990
gdp            3.62756e+09
population            9155
Name: 6657, dtype: object)
(6658, countryname    New Zealand
countrycode            NZL
year                  1990
gdp             4.5519e+10
population      3.3298e+06
Name: 6658, dtype: object)
(6659, countryname           Oman
countrycode            OMN
year                  1990
gdp             1.1685e+10
population     1.81216e+06
Name: 6659, dtype: object)
(6660, countryname       Pakistan
countrycode            PAK
year                  1990
gdp            4.00104e+10
population     1.07679e+08
Name: 6660, dtype: object)
(6661, countryname         Panama
countrycode            PAN
year                  1990
gdp            6.43397e+09
population     2.47101e+06
Name: 6661, dtype: object)
(6662, countryname           Peru
countrycode            PER
year                  1990
gdp            2.64104e+10
population     2.18267e+07
Name: 6662, dtype: object)
(6663, countryname    Philippines
countrycode            PHL
year                  1990
gdp            4.43116e+10
population     6.19473e+07
Name: 6663, dtype: object)
(6664, countryname          Palau
countrycode            PLW
year                  1990
gdp            3.21973e+09
population           15088
Name: 6664, dtype: object)
(6665, countryname    Papua New Guinea
countrycode                 PNG
year                       1990
gdp                 3.21973e+09
population          4.31306e+06
Name: 6665, dtype: object)
(6666, countryname         Poland
countrycode            POL
year                  1990
gdp            6.59777e+10
population     3.81108e+07
Name: 6666, dtype: object)
(6667, countryname    Puerto Rico
countrycode            PRI
year                  1990
gdp            3.06039e+10
population       3.537e+06
Name: 6667, dtype: object)
(6668, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1990
gdp                          7.87216e+10
population                   2.02931e+07
Name: 6668, dtype: object)
(6669, countryname       Portugal
countrycode            PRT
year                  1990
gdp            7.87216e+10
population     9.98322e+06
Name: 6669, dtype: object)
(6670, countryname       Paraguay
countrycode            PRY
year                  1990
gdp             5.6952e+09
population     4.21374e+06
Name: 6670, dtype: object)
(6671, countryname    West Bank and Gaza
countrycode                   PSE
year                         1990
gdp                   1.88077e+09
population            1.97825e+06
Name: 6671, dtype: object)
(6672, countryname    French Polynesia
countrycode                 PYF
year                       1990
gdp                 3.18121e+09
population               198375
Name: 6672, dtype: object)
(6673, countryname          Qatar
countrycode            QAT
year                  1990
gdp            7.36044e+09
population          476445
Name: 6673, dtype: object)
(6674, countryname        Romania
countrycode            ROU
year                  1990
gdp            3.89955e+10
population     2.32018e+07
Name: 6674, dtype: object)
(6675, countryname    Russian Federation
countrycode                   RUS
year                         1990
gdp                   5.16814e+11
population            1.48292e+08
Name: 6675, dtype: object)
(6676, countryname         Rwanda
countrycode            RWA
year                  1990
gdp            2.55019e+09
population      7.2358e+06
Name: 6676, dtype: object)
(6677, countryname    Saudi Arabia
countrycode             SAU
year                   1990
gdp              1.1763e+11
population      1.63268e+07
Name: 6677, dtype: object)
(6678, countryname          Sudan
countrycode            SDN
year                  1990
gdp            1.24086e+10
population     2.01476e+07
Name: 6678, dtype: object)
(6679, countryname        Senegal
countrycode            SEN
year                  1990
gdp            5.71664e+09
population     7.55562e+06
Name: 6679, dtype: object)
(6680, countryname      Singapore
countrycode            SGP
year                  1990
gdp             3.6152e+10
population     3.04713e+06
Name: 6680, dtype: object)
(6681, countryname    Solomon Islands
countrycode                SLB
year                      1990
gdp                3.02515e+08
population              311840
Name: 6681, dtype: object)
(6682, countryname    Sierra Leone
countrycode             SLE
year                   1990
gdp             6.49645e+08
population      4.31225e+06
Name: 6682, dtype: object)
(6683, countryname    El Salvador
countrycode            SLV
year                  1990
gdp            4.81754e+09
population     5.25498e+06
Name: 6683, dtype: object)
(6684, countryname     San Marino
countrycode            SMR
year                  1990
gdp            2.98637e+11
population           24043
Name: 6684, dtype: object)
(6685, countryname        Somalia
countrycode            SOM
year                  1990
gdp            2.98637e+11
population     7.39735e+06
Name: 6685, dtype: object)
(6686, countryname         Serbia
countrycode            SRB
year                  1990
gdp            2.98637e+11
population       7.586e+06
Name: 6686, dtype: object)
(6687, countryname    South Sudan
countrycode            SSD
year                  1990
gdp            7.44501e+10
population     5.76848e+06
Name: 6687, dtype: object)
(6688, countryname    Sao Tome and Principe
countrycode                      STP
year                            1990
gdp                        3.883e+08
population                    113893
Name: 6688, dtype: object)
(6689, countryname     Suriname
countrycode          SUR
year                1990
gdp            3.883e+08
population        407472
Name: 6689, dtype: object)
(6690, countryname    Slovak Republic
countrycode                SVK
year                      1990
gdp                1.26945e+10
population         5.29919e+06
Name: 6690, dtype: object)
(6691, countryname       Slovenia
countrycode            SVN
year                  1990
gdp            2.58154e+11
population     1.99816e+06
Name: 6691, dtype: object)
(6692, countryname         Sweden
countrycode            SWE
year                  1990
gdp            2.58154e+11
population     8.55884e+06
Name: 6692, dtype: object)
(6693, countryname     Swaziland
countrycode           SWZ
year                 1990
gdp            1.1147e+09
population         861373
Name: 6693, dtype: object)
(6694, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1990
gdp                          3.68585e+08
population                         69507
Name: 6694, dtype: object)
(6695, countryname     Seychelles
countrycode            SYC
year                  1990
gdp            3.68585e+08
population           69507
Name: 6695, dtype: object)
(6696, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1990
gdp                     1.23086e+10
population              1.24462e+07
Name: 6696, dtype: object)
(6697, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1990
gdp                         1.73861e+09
population                        11552
Name: 6697, dtype: object)
(6698, countryname           Chad
countrycode            TCD
year                  1990
gdp            1.73861e+09
population     5.95686e+06
Name: 6698, dtype: object)
(6699, countryname           Togo
countrycode            TGO
year                  1990
gdp            1.62843e+09
population     3.78694e+06
Name: 6699, dtype: object)
(6700, countryname       Thailand
countrycode            THA
year                  1990
gdp            8.53431e+10
population     5.65828e+07
Name: 6700, dtype: object)
(6701, countryname     Tajikistan
countrycode            TJK
year                  1990
gdp             2.6294e+09
population     5.28373e+06
Name: 6701, dtype: object)
(6702, countryname    Turkmenistan
countrycode             TKM
year                   1990
gdp             3.18945e+09
population      3.68397e+06
Name: 6702, dtype: object)
(6703, countryname    Timor-Leste
countrycode            TLS
year                  1990
gdp            1.13564e+08
population          751933
Name: 6703, dtype: object)
(6704, countryname          Tonga
countrycode            TON
year                  1990
gdp            1.13564e+08
population           95153
Name: 6704, dtype: object)
(6705, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1990
gdp                      5.068e+09
population              1.2219e+06
Name: 6705, dtype: object)
(6706, countryname        Tunisia
countrycode            TUN
year                  1990
gdp            1.22906e+10
population      8.2328e+06
Name: 6706, dtype: object)
(6707, countryname         Turkey
countrycode            TUR
year                  1990
gdp            1.50676e+11
population     5.39217e+07
Name: 6707, dtype: object)
(6708, countryname         Tuvalu
countrycode            TUV
year                  1990
gdp            8.82445e+06
population            9003
Name: 6708, dtype: object)
(6709, countryname       Tanzania
countrycode            TZA
year                  1990
gdp            4.25874e+09
population     2.54596e+07
Name: 6709, dtype: object)
(6710, countryname         Uganda
countrycode            UGA
year                  1990
gdp             4.3044e+09
population     1.74389e+07
Name: 6710, dtype: object)
(6711, countryname        Ukraine
countrycode            UKR
year                  1990
gdp            8.14569e+10
population      5.1892e+07
Name: 6711, dtype: object)
(6712, countryname        Uruguay
countrycode            URY
year                  1990
gdp            9.29884e+09
population     3.10999e+06
Name: 6712, dtype: object)
(6713, countryname    United States
countrycode              USA
year                    1990
gdp              5.97959e+12
population       2.49623e+08
Name: 6713, dtype: object)
(6714, countryname     Uzbekistan
countrycode            UZB
year                  1990
gdp            1.33606e+10
population       2.051e+07
Name: 6714, dtype: object)
(6715, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1990
gdp                               2.40365e+08
population                             107505
Name: 6715, dtype: object)
(6716, countryname    Venezuela, RB
countrycode              VEN
year                    1990
gdp               4.7028e+10
population        1.9862e+07
Name: 6716, dtype: object)
(6717, countryname    British Virgin Islands
countrycode                       VGB
year                             1990
gdp                        1.5647e+09
population                      16461
Name: 6717, dtype: object)
(6718, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1990
gdp                       1.5647e+09
population                    103963
Name: 6718, dtype: object)
(6719, countryname        Vietnam
countrycode            VNM
year                  1990
gdp            6.47174e+09
population     6.82096e+07
Name: 6719, dtype: object)
(6720, countryname        Vanuatu
countrycode            VUT
year                  1990
gdp            1.58397e+08
population          146634
Name: 6720, dtype: object)
(6721, countryname          Samoa
countrycode            WSM
year                  1990
gdp            1.25766e+08
population          162866
Name: 6721, dtype: object)
(6722, countryname         Kosovo
countrycode            XKX
year                  1990
gdp            5.64725e+09
population       1.862e+06
Name: 6722, dtype: object)
(6723, countryname    Yemen, Rep.
countrycode            YEM
year                  1990
gdp            5.64725e+09
population      1.2057e+07
Name: 6723, dtype: object)
(6724, countryname    South Africa
countrycode             ZAF
year                   1990
gdp             1.15553e+11
population      3.75605e+07
Name: 6724, dtype: object)
(6725, countryname         Zambia
countrycode            ZMB
year                  1990
gdp            3.28522e+09
population     8.02725e+06
Name: 6725, dtype: object)
(6726, countryname       Zimbabwe
countrycode            ZWE
year                  1990
gdp            8.78382e+09
population     1.01831e+07
Name: 6726, dtype: object)
(6727, countryname          Aruba
countrycode            ABW
year                  1991
gdp            3.47879e+09
population           64622
Name: 6727, dtype: object)
(6728, countryname    Afghanistan
countrycode            AFG
year                  1991
gdp            3.47879e+09
population     1.29937e+07
Name: 6728, dtype: object)
(6729, countryname         Angola
countrycode            AGO
year                  1991
gdp            1.12363e+10
population     1.25534e+07
Name: 6729, dtype: object)
(6730, countryname        Albania
countrycode            ALB
year                  1991
gdp            1.13917e+09
population     3.26679e+06
Name: 6730, dtype: object)
(6731, countryname        Andorra
countrycode            AND
year                  1991
gdp            1.10693e+09
population           56671
Name: 6731, dtype: object)
(6732, countryname    United Arab Emirates
countrycode                     ARE
year                           1991
gdp                     5.15522e+10
population              1.97003e+06
Name: 6732, dtype: object)
(6733, countryname      Argentina
countrycode            ARG
year                  1991
gdp             1.8972e+11
population     3.31939e+07
Name: 6733, dtype: object)
(6734, countryname        Armenia
countrycode            ARM
year                  1991
gdp            2.06987e+09
population     3.50525e+06
Name: 6734, dtype: object)
(6735, countryname    American Samoa
countrycode               ASM
year                     1991
gdp               4.81706e+08
population              48375
Name: 6735, dtype: object)
(6736, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1991
gdp                    4.81706e+08
population                   67307
Name: 6736, dtype: object)
(6737, countryname      Australia
countrycode            AUS
year                  1991
gdp            3.25358e+11
population      1.7284e+07
Name: 6737, dtype: object)
(6738, countryname        Austria
countrycode            AUT
year                  1991
gdp            1.73794e+11
population     7.75489e+06
Name: 6738, dtype: object)
(6739, countryname    Azerbaijan
countrycode           AZE
year                 1991
gdp             5.344e+09
population      7.271e+06
Name: 6739, dtype: object)
(6740, countryname        Burundi
countrycode            BDI
year                  1991
gdp             1.1674e+09
population     5.54205e+06
Name: 6740, dtype: object)
(6741, countryname        Belgium
countrycode            BEL
year                  1991
gdp            2.11638e+11
population     1.00045e+07
Name: 6741, dtype: object)
(6742, countryname          Benin
countrycode            BEN
year                  1991
gdp            1.98644e+09
population      5.1495e+06
Name: 6742, dtype: object)
(6743, countryname    Burkina Faso
countrycode             BFA
year                   1991
gdp             3.13505e+09
population      9.05008e+06
Name: 6743, dtype: object)
(6744, countryname     Bangladesh
countrycode            BGD
year                  1991
gdp            3.09575e+10
population     1.08727e+08
Name: 6744, dtype: object)
(6745, countryname       Bulgaria
countrycode            BGR
year                  1991
gdp            1.09435e+10
population     8.63237e+06
Name: 6745, dtype: object)
(6746, countryname        Bahrain
countrycode            BHR
year                  1991
gdp            4.61622e+09
population          509765
Name: 6746, dtype: object)
(6747, countryname    Bahamas, The
countrycode             BHS
year                   1991
gdp             3.11116e+09
population           261116
Name: 6747, dtype: object)
(6748, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1991
gdp                         2.165e+10
population                 4.3716e+06
Name: 6748, dtype: object)
(6749, countryname       Belarus
countrycode           BLR
year                 1991
gdp             2.165e+10
population     1.0194e+07
Name: 6749, dtype: object)
(6750, countryname         Belize
countrycode            BLZ
year                  1991
gdp            4.44721e+08
population          191126
Name: 6750, dtype: object)
(6751, countryname       Bermuda
countrycode           BMU
year                 1991
gdp            1.6349e+09
population          59021
Name: 6751, dtype: object)
(6752, countryname        Bolivia
countrycode            BOL
year                  1991
gdp            5.34327e+09
population     6.99252e+06
Name: 6752, dtype: object)
(6753, countryname         Brazil
countrycode            BRA
year                  1991
gdp             6.0286e+11
population     1.51977e+08
Name: 6753, dtype: object)
(6754, countryname       Barbados
countrycode            BRB
year                  1991
gdp            2.00711e+09
population          261275
Name: 6754, dtype: object)
(6755, countryname    Brunei Darussalam
countrycode                  BRN
year                        1991
gdp                  3.70167e+09
population                266274
Name: 6755, dtype: object)
(6756, countryname         Bhutan
countrycode            BTN
year                  1991
gdp            2.50046e+08
population          537284
Name: 6756, dtype: object)
(6757, countryname       Botswana
countrycode            BWA
year                  1991
gdp            3.94279e+09
population     1.41673e+06
Name: 6757, dtype: object)
(6758, countryname    Central African Republic
countrycode                         CAF
year                               1991
gdp                         1.37738e+09
population                  3.01462e+06
Name: 6758, dtype: object)
(6759, countryname         Canada
countrycode            CAN
year                  1991
gdp            6.10328e+11
population     2.81717e+07
Name: 6759, dtype: object)
(6760, countryname    Switzerland
countrycode            CHE
year                  1991
gdp            2.61114e+11
population     6.79998e+06
Name: 6760, dtype: object)
(6761, countryname    Channel Islands
countrycode                CHI
year                      1991
gdp                3.78348e+10
population              141568
Name: 6761, dtype: object)
(6762, countryname          Chile
countrycode            CHL
year                  1991
gdp            3.78348e+10
population     1.34572e+07
Name: 6762, dtype: object)
(6763, countryname          China

Name: 6864, dtype: object)
(6865, countryname       Malaysia
countrycode            MYS
year                  1991
gdp            4.91428e+10
population     1.85295e+07
Name: 6865, dtype: object)
(6866, countryname        Namibia
countrycode            NAM
year                  1991
gdp            3.01274e+09
population     1.46574e+06
Name: 6866, dtype: object)
(6867, countryname    New Caledonia
countrycode              NCL
year                    1991
gdp              2.65378e+09
population            175362
Name: 6867, dtype: object)
(6868, countryname          Niger
countrycode            NER
year                  1991
gdp            2.32799e+09
population     8.27298e+06
Name: 6868, dtype: object)
(6869, countryname        Nigeria
countrycode            NGA
year                  1991
gdp            2.73929e+10
population     9.77263e+07
Name: 6869, dtype: object)
(6870, countryname     Nicaragua
countrycode           NIC
year                 1991
gdp            1.4888e+09
population     4.2368e+06
Name: 6870, dtype: object)
(6871, countryname    Netherlands
countrycode            NLD
year                  1991
gdp             3.2332e+11
population     1.50698e+07
Name: 6871, dtype: object)
(6872, countryname         Norway
countrycode            NOR
year                  1991
gdp            1.21872e+11
population     4.26173e+06
Name: 6872, dtype: object)
(6873, countryname          Nepal
countrycode            NPL
year                  1991
gdp            3.92148e+09
population     1.92451e+07
Name: 6873, dtype: object)
(6874, countryname          Nauru
countrycode            NRU
year                  1991
gdp            1.21872e+11
population            9348
Name: 6874, dtype: object)
(6875, countryname    New Zealand
countrycode            NZL
year                  1991
gdp             4.2756e+10
population      3.4951e+06
Name: 6875, dtype: object)
(6876, countryname           Oman
countrycode            OMN
year                  1991
gdp            1.13415e+10
population     1.89377e+06
Name: 6876, dtype: object)
(6877, countryname      Pakistan
countrycode           PAK
year                 1991
gdp            4.5452e+10
population     1.1073e+08
Name: 6877, dtype: object)
(6878, countryname         Panama
countrycode            PAN
year                  1991
gdp            7.07468e+09
population     2.52318e+06
Name: 6878, dtype: object)
(6879, countryname           Peru
countrycode            PER
year                  1991
gdp            3.46721e+10
population     2.22831e+07
Name: 6879, dtype: object)
(6880, countryname    Philippines
countrycode            PHL
year                  1991
gdp            4.54176e+10
population     6.35085e+07
Name: 6880, dtype: object)
(6881, countryname          Palau
countrycode            PLW
year                  1991
gdp            3.78739e+09
population           15474
Name: 6881, dtype: object)
(6882, countryname    Papua New Guinea
countrycode                 PNG
year                       1991
gdp                 3.78739e+09
population          4.42301e+06
Name: 6882, dtype: object)
(6883, countryname         Poland
countrycode            POL
year                  1991
gdp            8.55009e+10
population     3.82462e+07
Name: 6883, dtype: object)
(6884, countryname    Puerto Rico
countrycode            PRI
year                  1991
gdp             3.2287e+10
population     3.56211e+06
Name: 6884, dtype: object)
(6885, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1991
gdp                          8.92424e+10
population                   2.06092e+07
Name: 6885, dtype: object)
(6886, countryname       Portugal
countrycode            PRT
year                  1991
gdp            8.92424e+10
population     9.96024e+06
Name: 6886, dtype: object)
(6887, countryname       Paraguay
countrycode            PRY
year                  1991
gdp            6.98437e+09
population     4.32341e+06
Name: 6887, dtype: object)
(6888, countryname    West Bank and Gaza
countrycode                   PSE
year                         1991
gdp                   2.57327e+09
population            2.06884e+06
Name: 6888, dtype: object)
(6889, countryname    French Polynesia
countrycode                 PYF
year                       1991
gdp                 3.26737e+09
population               202016
Name: 6889, dtype: object)
(6890, countryname          Qatar
countrycode            QAT
year                  1991
gdp            6.88352e+09
population          487491
Name: 6890, dtype: object)
(6891, countryname        Romania
countrycode            ROU
year                  1991
gdp            2.89987e+10
population     2.30012e+07
Name: 6891, dtype: object)
(6892, countryname    Russian Federation
countrycode                   RUS
year                         1991
gdp                   5.17963e+11
population            1.48624e+08
Name: 6892, dtype: object)
(6893, countryname         Rwanda
countrycode            RWA
year                  1991
gdp             1.9116e+09
population     7.05176e+06
Name: 6893, dtype: object)
(6894, countryname    Saudi Arabia
countrycode             SAU
year                   1991
gdp             1.32223e+11
population      1.68678e+07
Name: 6894, dtype: object)
(6895, countryname          Sudan
countrycode            SDN
year                  1991
gdp            1.13792e+10
population     2.08936e+07
Name: 6895, dtype: object)
(6896, countryname        Senegal
countrycode            SEN
year                  1991
gdp            5.61724e+09
population     7.78965e+06
Name: 6896, dtype: object)
(6897, countryname      Singapore
countrycode            SGP
year                  1991
gdp            4.54744e+10
population     3.13508e+06
Name: 6897, dtype: object)
(6898, countryname    Solomon Islands
countrycode                SLB
year                      1991
gdp                3.20355e+08
population              320753
Name: 6898, dtype: object)
(6899, countryname    Sierra Leone
countrycode             SLE
year                   1991
gdp             7.79981e+08
population      4.33724e+06
Name: 6899, dtype: object)
(6900, countryname    El Salvador
countrycode            SLV
year                  1991
gdp            5.25234e+09
population     5.32666e+06
Name: 6900, dtype: object)
(6901, countryname     San Marino
countrycode            SMR
year                  1991
gdp            3.06494e+11
population           24386
Name: 6901, dtype: object)
(6902, countryname        Somalia
countrycode            SOM
year                  1991
gdp            3.06494e+11
population     7.45594e+06
Name: 6902, dtype: object)
(6903, countryname         Serbia
countrycode            SRB
year                  1991
gdp            3.06494e+11
population     7.59564e+06
Name: 6903, dtype: object)
(6904, countryname    South Sudan
countrycode            SSD
year                  1991
gdp            7.59439e+10
population     5.70538e+06
Name: 6904, dtype: object)
(6905, countryname    Sao Tome and Principe
countrycode                      STP
year                            1991
gdp                        4.483e+08
population                    116294
Name: 6905, dtype: object)
(6906, countryname     Suriname
countrycode          SUR
year                1991
gdp            4.483e+08
population        415216
Name: 6906, dtype: object)
(6907, countryname    Slovak Republic
countrycode                SVK
year                      1991
gdp                 1.4213e+10
population         5.30329e+06
Name: 6907, dtype: object)
(6908, countryname       Slovenia
countrycode            SVN
year                  1991
gdp            2.70363e+11
population     1.99943e+06
Name: 6908, dtype: object)
(6909, countryname         Sweden
countrycode            SWE
year                  1991
gdp            2.70363e+11
population     8.61738e+06
Name: 6909, dtype: object)
(6910, countryname      Swaziland
countrycode            SWZ
year                  1991
gdp            1.15614e+09
population          885623
Name: 6910, dtype: object)
(6911, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1991
gdp                           3.7436e+08
population                         70439
Name: 6911, dtype: object)
(6912, countryname    Seychelles
countrycode           SYC
year                 1991
gdp            3.7436e+08
population          70439
Name: 6912, dtype: object)
(6913, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1991
gdp                     1.29818e+10
population              1.28152e+07
Name: 6913, dtype: object)
(6914, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1991
gdp                         1.87714e+09
population                        12206
Name: 6914, dtype: object)
(6915, countryname           Chad
countrycode            TCD
year                  1991
gdp            1.87714e+09
population     6.15008e+06
Name: 6915, dtype: object)
(6916, countryname           Togo
countrycode            TGO
year                  1991
gdp             1.6023e+09
population     3.88227e+06
Name: 6916, dtype: object)
(6917, countryname       Thailand
countrycode            THA
year                  1991
gdp            9.82347e+10
population     5.72584e+07
Name: 6917, dtype: object)
(6918, countryname     Tajikistan
countrycode            TJK
year                  1991
gdp              1.352e+09
population     5.40071e+06
Name: 6918, dtype: object)
(6919, countryname    Turkmenistan
countrycode             TKM
year                   1991
gdp             3.18945e+09
population      3.78918e+06
Name: 6919, dtype: object)
(6920, countryname    Timor-Leste
countrycode            TLS
year                  1991
gdp            1.32201e+08
population          777011
Name: 6920, dtype: object)
(6921, countryname          Tonga
countrycode            TON
year                  1991
gdp            1.32201e+08
population           95333
Name: 6921, dtype: object)
(6922, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1991
gdp                    5.30791e+09
population             1.22991e+06
Name: 6922, dtype: object)
(6923, countryname        Tunisia
countrycode            TUN
year                  1991
gdp            1.30748e+10
population     8.41768e+06
Name: 6923, dtype: object)
(6924, countryname         Turkey
countrycode            TUR
year                  1991
gdp            1.50028e+11
population     5.48405e+07
Name: 6924, dtype: object)
(6925, countryname         Tuvalu
countrycode            TUV
year                  1991
gdp            9.36517e+06
population            9053
Name: 6925, dtype: object)
(6926, countryname       Tanzania
countrycode            TZA
year                  1991
gdp            4.95659e+09
population      2.6315e+07
Name: 6926, dtype: object)
(6927, countryname         Uganda
countrycode            UGA
year                  1991
gdp            3.32173e+09
population     1.80404e+07
Name: 6927, dtype: object)
(6928, countryname        Ukraine
countrycode            UKR
year                  1991
gdp            8.14569e+10
population     5.20005e+07
Name: 6928, dtype: object)
(6929, countryname        Uruguay
countrycode            URY
year                  1991
gdp             1.1206e+10
population     3.13205e+06
Name: 6929, dtype: object)
(6930, countryname    United States
countrycode              USA
year                    1991
gdp              6.17404e+12
population       2.52981e+08
Name: 6930, dtype: object)
(6931, countryname     Uzbekistan
countrycode            UZB
year                  1991
gdp            1.36776e+10
population      2.0952e+07
Name: 6931, dtype: object)
(6932, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1991
gdp                                2.5483e+08
population                             107814
Name: 6932, dtype: object)
(6933, countryname    Venezuela, RB
countrycode              VEN
year                    1991
gdp               5.1749e+10
population       2.03321e+07
Name: 6933, dtype: object)
(6934, countryname    British Virgin Islands
countrycode                       VGB
year                             1991
gdp                        1.6712e+09
population                      16934
Name: 6934, dtype: object)
(6935, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1991
gdp                       1.6712e+09
population                    104807
Name: 6935, dtype: object)
(6936, countryname        Vietnam
countrycode            VNM
year                  1991
gdp            9.61337e+09
population     6.96709e+07
Name: 6936, dtype: object)
(6937, countryname       Vanuatu
countrycode           VUT
year                 1991
gdp            1.8887e+08
population         150778
Name: 6937, dtype: object)
(6938, countryname          Samoa
countrycode            WSM
year                  1991
gdp            1.25597e+08
population          164076
Name: 6938, dtype: object)
(6939, countryname         Kosovo
countrycode            XKX
year                  1991
gdp            5.93037e+09
population       1.898e+06
Name: 6939, dtype: object)
(6940, countryname    Yemen, Rep.
countrycode            YEM
year                  1991
gdp            5.93037e+09
population     1.26616e+07
Name: 6940, dtype: object)
(6941, countryname    South Africa
countrycode             ZAF
year                   1991
gdp             1.23943e+11
population      3.84379e+07
Name: 6941, dtype: object)
(6942, countryname         Zambia
countrycode            ZMB
year                  1991
gdp            3.37888e+09
population     8.23973e+06
Name: 6942, dtype: object)
(6943, countryname       Zimbabwe
countrycode            ZWE
year                  1991
gdp            8.64148e+09
population      1.0443e+07
Name: 6943, dtype: object)
(6944, countryname          Aruba
countrycode            ABW
year                  1992
gdp            3.47879e+09
population           68235
Name: 6944, dtype: object)
(6945, countryname    Afghanistan
countrycode            AFG
year                  1992
gdp            3.47879e+09
population     1.39812e+07
Name: 6945, dtype: object)
(6946, countryname         Angola
countrycode            AGO
year                  1992
gdp            1.12363e+10
population     1.29683e+07
Name: 6946, dtype: object)
(6947, countryname        Albania
countrycode            ALB
year                  1992
gdp            7.09453e+08
population     3.24704e+06
Name: 6947, dtype: object)
(6948, countryname        Andorra
countrycode            AND
year                  1992
gdp            1.21001e+09
population           58888
Name: 6948, dtype: object)
(6949, countryname    United Arab Emirates
countrycode                     ARE
year                           1992
gdp                     5.42392e+10
population              2.08664e+06
Name: 6949, dtype: object)
(6950, countryname      Argentina
countrycode            ARG
year                  1992
gdp            2.28789e+11
population     3.36552e+07
Name: 6950, dtype: object)
(6951, countryname        Armenia
countrycode            ARM
year                  1992
gdp            1.27284e+09
population     3.44281e+06
Name: 6951, dtype: object)
(6952, countryname    American Samoa
countrycode               ASM
year                     1992
gdp               4.99281e+08
population              49593
Name: 6952, dtype: object)
(6953, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1992
gdp                    4.99281e+08
population                   68427
Name: 6953, dtype: object)
(6954, countryname      Australia
countrycode            AUS
year                  1992
gdp            3.24878e+11
population      1.7495e+07
Name: 6954, dtype: object)
(6955, countryname        Austria
countrycode            AUT
year                  1992
gdp            1.95078e+11
population     7.84071e+06
Name: 6955, dtype: object)
(6956, countryname    Azerbaijan
countrycode           AZE
year                 1992
gdp            4.8201e+09
population      7.382e+06
Name: 6956, dtype: object)
(6957, countryname        Burundi
countrycode            BDI
year                  1992
gdp            1.08304e+09
population     5.66114e+06
Name: 6957, dtype: object)
(6958, countryname        Belgium
countrycode            BEL
year                  1992
gdp            2.36038e+11
population     1.00452e+07
Name: 6958, dtype: object)
(6959, countryname          Benin
countrycode            BEN
year                  1992
gdp            1.69532e+09
population      5.3318e+06
Name: 6959, dtype: object)
(6960, countryname    Burkina Faso
countrycode             BFA
year                   1992
gdp             2.24026e+09
population      9.29711e+06
Name: 6960, dtype: object)
(6961, countryname     Bangladesh
countrycode            BGD
year                  1992
gdp            3.17089e+10
population     1.11222e+08
Name: 6961, dtype: object)
(6962, countryname       Bulgaria
countrycode            BGR
year                  1992
gdp            1.03505e+10
population     8.54016e+06
Name: 6962, dtype: object)
(6963, countryname        Bahrain
countrycode            BHR
year                  1992
gdp            4.75106e+09
population          523087
Name: 6963, dtype: object)
(6964, countryname    Bahamas, The
countrycode             BHS
year                   1992
gdp               3.109e+09
population           266134
Name: 6964, dtype: object)
(6965, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1992
gdp                         2.165e+10
population                4.23915e+06
Name: 6965, dtype: object)
(6966, countryname       Belarus
countrycode           BLR
year                 1992
gdp             2.165e+10
population     1.0216e+07
Name: 6966, dtype: object)
(6967, countryname         Belize
countrycode            BLZ
year                  1992
gdp            5.18239e+08
population          194317
Name: 6967, dtype: object)
(6968, countryname       Bermuda
countrycode           BMU
year                 1992
gdp            1.6799e+09
population          58595
Name: 6968, dtype: object)
(6969, countryname        Bolivia
countrycode            BOL
year                  1992
gdp            5.64389e+09
population     7.13171e+06
Name: 6969, dtype: object)
(6970, countryname         Brazil
countrycode            BRA
year                  1992
gdp            4.00599e+11
population     1.54564e+08
Name: 6970, dtype: object)
(6971, countryname      Barbados
countrycode           BRB
year                 1992
gdp            1.9509e+09
population         262184
Name: 6971, dtype: object)
(6972, countryname    Brunei Darussalam
countrycode                  BRN
year                        1992
gdp                  4.18355e+09
population                273963
Name: 6972, dtype: object)
(6973, countryname         Bhutan
countrycode            BTN
year                  1992
gdp            2.50794e+08
population          531525
Name: 6973, dtype: object)
(6974, countryname       Botswana
countrycode            BWA
year                  1992
gdp            4.14651e+09
population     1.45583e+06
Name: 6974, dtype: object)
(6975, countryname    Central African Republic
countrycode                         CAF
year                               1992
gdp                         1.41192e+09
population                  3.09581e+06
Name: 6975, dtype: object)
(6976, countryname         Canada
countrycode            CAN
year                  1992
gdp            5.92388e+11
population     2.85196e+07
Name: 6976, dtype: object)
(6977, countryname    Switzerland
countrycode            CHE

Name: 7080, dtype: object)
(7081, countryname         Malawi
countrycode            MWI
year                  1992
gdp            1.79952e+09
population     9.72972e+06
Name: 7081, dtype: object)
(7082, countryname       Malaysia
countrycode            MYS
year                  1992
gdp            5.91672e+10
population     1.90127e+07
Name: 7082, dtype: object)
(7083, countryname        Namibia
countrycode            NAM
year                  1992
gdp            3.44833e+09
population     1.51372e+06
Name: 7083, dtype: object)
(7084, countryname    New Caledonia
countrycode              NCL
year                    1992
gdp              2.92376e+09
population            179799
Name: 7084, dtype: object)
(7085, countryname          Niger
countrycode            NER
year                  1992
gdp            2.34499e+09
population     8.54942e+06
Name: 7085, dtype: object)
(7086, countryname        Nigeria
countrycode            NGA
year                  1992
gdp            2.93009e+10
population     1.00222e+08
Name: 7086, dtype: object)
(7087, countryname      Nicaragua
countrycode            NIC
year                  1992
gdp             1.7928e+09
population     4.33128e+06
Name: 7087, dtype: object)
(7088, countryname    Netherlands
countrycode            NLD
year                  1992
gdp             3.5833e+11
population     1.51842e+07
Name: 7088, dtype: object)
(7089, countryname         Norway
countrycode            NOR
year                  1992
gdp            1.30838e+11
population      4.2864e+06
Name: 7089, dtype: object)
(7090, countryname          Nepal
countrycode            NPL
year                  1992
gdp            3.40121e+09
population     1.97738e+07
Name: 7090, dtype: object)
(7091, countryname          Nauru
countrycode            NRU
year                  1992
gdp            3.40121e+09
population            9546
Name: 7091, dtype: object)
(7092, countryname    New Zealand
countrycode            NZL
year                  1992
gdp             4.1636e+10
population      3.5317e+06
Name: 7092, dtype: object)
(7093, countryname           Oman
countrycode            OMN
year                  1992
gdp            1.24523e+10
population     1.98328e+06
Name: 7093, dtype: object)
(7094, countryname       Pakistan
countrycode            PAK
year                  1992
gdp            4.86352e+10
population     1.13747e+08
Name: 7094, dtype: object)
(7095, countryname         Panama
countrycode            PAN
year                  1992
gdp            8.04234e+09
population     2.57602e+06
Name: 7095, dtype: object)
(7096, countryname           Peru
countrycode            PER
year                  1992
gdp            3.61392e+10
population     2.27371e+07
Name: 7096, dtype: object)
(7097, countryname    Philippines
countrycode            PHL
year                  1992
gdp            5.29763e+10
population     6.50755e+07
Name: 7097, dtype: object)
(7098, countryname          Palau
countrycode            PLW
year                  1992
gdp            4.37798e+09
population           15894
Name: 7098, dtype: object)
(7099, countryname    Papua New Guinea
countrycode                 PNG
year                       1992
gdp                 4.37798e+09
population          4.53552e+06
Name: 7099, dtype: object)
(7100, countryname         Poland
countrycode            POL
year                  1992
gdp            9.43371e+10
population     3.83637e+07
Name: 7100, dtype: object)
(7101, countryname    Puerto Rico
countrycode            PRI
year                  1992
gdp            3.46304e+10
population     3.58518e+06
Name: 7101, dtype: object)
(7102, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1992
gdp                          1.07603e+11
population                   2.09374e+07
Name: 7102, dtype: object)
(7103, countryname       Portugal
countrycode            PRT
year                  1992
gdp            1.07603e+11
population     9.95249e+06
Name: 7103, dtype: object)
(7104, countryname       Paraguay
countrycode            PRY
year                  1992
gdp            7.15742e+09
population     4.43274e+06
Name: 7104, dtype: object)
(7105, countryname    West Bank and Gaza
countrycode                   PSE
year                         1992
gdp                   2.83127e+09
population            2.16359e+06
Name: 7105, dtype: object)
(7106, countryname    French Polynesia
countrycode                 PYF
year                       1992
gdp                 3.55822e+09
population               205266
Name: 7106, dtype: object)
(7107, countryname          Qatar
countrycode            QAT
year                  1992
gdp            7.64615e+09
population          495517
Name: 7107, dtype: object)
(7108, countryname        Romania
countrycode            ROU
year                  1992
gdp            2.51217e+10
population     2.27943e+07
Name: 7108, dtype: object)
(7109, countryname    Russian Federation
countrycode                   RUS
year                         1992
gdp                   4.60291e+11
population            1.48689e+08
Name: 7109, dtype: object)
(7110, countryname         Rwanda
countrycode            RWA
year                  1992
gdp            2.02903e+09
population     6.70185e+06
Name: 7110, dtype: object)
(7111, countryname    Saudi Arabia
countrycode             SAU
year                   1992
gdp             1.37088e+11
population      1.73788e+07
Name: 7111, dtype: object)
(7112, countryname          Sudan
countrycode            SDN
year                  1992
gdp            7.03422e+09
population     2.17015e+07
Name: 7112, dtype: object)
(7113, countryname        Senegal
countrycode            SEN
year                  1992
gdp            6.00489e+09
population     8.02972e+06
Name: 7113, dtype: object)
(7114, countryname      Singapore
countrycode            SGP
year                  1992
gdp            5.21564e+10
population      3.2307e+06
Name: 7114, dtype: object)
(7115, countryname    Solomon Islands
countrycode                SLB
year                      1992
gdp                3.78778e+08
population              329953
Name: 7115, dtype: object)
(7116, countryname    Sierra Leone
countrycode             SLE
year                   1992
gdp             6.79998e+08
population      4.33133e+06
Name: 7116, dtype: object)
(7117, countryname    El Salvador
countrycode            SLV
year                  1992
gdp             5.8134e+09
population     5.40033e+06
Name: 7117, dtype: object)
(7118, countryname     San Marino
countrycode            SMR
year                  1992
gdp            3.08657e+11
population           24749
Name: 7118, dtype: object)
(7119, countryname        Somalia
countrycode            SOM
year                  1992
gdp            3.08657e+11
population     7.48854e+06
Name: 7119, dtype: object)
(7120, countryname         Serbia
countrycode            SRB
year                  1992
gdp            3.08657e+11
population     7.64642e+06
Name: 7120, dtype: object)
(7121, countryname    South Sudan
countrycode            SSD
year                  1992
gdp            2.51217e+10
population     5.59981e+06
Name: 7121, dtype: object)
(7122, countryname    Sao Tome and Principe
countrycode                      STP
year                            1992
gdp                        4.046e+08
population                    118816
Name: 7122, dtype: object)
(7123, countryname     Suriname
countrycode          SUR
year                1992
gdp            4.046e+08
population        422763
Name: 7123, dtype: object)
(7124, countryname    Slovak Republic
countrycode                SVK
year                      1992
gdp                1.54313e+10
population         5.30502e+06
Name: 7124, dtype: object)
(7125, countryname       Slovenia
countrycode            SVN
year                  1992
gdp            2.80312e+11
population      1.9965e+06
Name: 7125, dtype: object)
(7126, countryname         Sweden
countrycode            SWE
year                  1992
gdp            2.80312e+11
population     8.66807e+06
Name: 7126, dtype: object)
(7127, countryname      Swaziland
countrycode            SWZ
year                  1992
gdp            1.28477e+09
population          906034
Name: 7127, dtype: object)
(7128, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1992
gdp                          4.33667e+08
population                         70763
Name: 7128, dtype: object)
(7129, countryname     Seychelles
countrycode            SYC
year                  1992
gdp            4.33667e+08
population           70763
Name: 7129, dtype: object)
(7130, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1992
gdp                     1.32536e+10
population              1.31871e+07
Name: 7130, dtype: object)
(7131, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1992
gdp                         1.88185e+09
population                        12968
Name: 7131, dtype: object)
(7132, countryname           Chad
countrycode            TCD
year                  1992
gdp            1.88185e+09
population     6.34909e+06
Name: 7132, dtype: object)
(7133, countryname           Togo
countrycode            TGO
year                  1992
gdp            1.69296e+09
population     3.97333e+06
Name: 7133, dtype: object)
(7134, countryname       Thailand
countrycode            THA
year                  1992
gdp            1.11453e+11
population     5.78379e+07
Name: 7134, dtype: object)
(7135, countryname     Tajikistan
countrycode            TJK
year                  1992
gdp            2.15667e+09
population     5.50298e+06
Name: 7135, dtype: object)
(7136, countryname    Turkmenistan
countrycode             TKM
year                   1992
gdp                 1.6e+09
population      3.89984e+06
Name: 7136, dtype: object)
(7137, countryname    Timor-Leste
countrycode            TLS
year                  1992
gdp            1.37066e+08
population          805435
Name: 7137, dtype: object)
(7138, countryname          Tonga
countrycode            TON
year                  1992
gdp            1.37066e+08
population           95496
Name: 7138, dtype: object)
(7139, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1992
gdp                    5.43955e+09
population             1.23749e+06
Name: 7139, dtype: object)
(7140, countryname        Tunisia
countrycode            TUN
year                  1992
gdp            1.54973e+10
population     8.60322e+06
Name: 7140, dtype: object)
(7141, countryname         Turkey
countrycode            TUR
year                  1992
gdp            1.58459e+11
population     5.57489e+07
Name: 7141, dtype: object)
(7142, countryname         Tuvalu
countrycode            TUV
year                  1992
gdp            9.74295e+06
population            9109
Name: 7142, dtype: object)
(7143, countryname       Tanzania
countrycode            TZA
year                  1992
gdp            4.60141e+09
population     2.72196e+07
Name: 7143, dtype: object)
(7144, countryname         Uganda
countrycode            UGA
year                  1992
gdp            2.85746e+09
population     1.86529e+07
Name: 7144, dtype: object)
(7145, countryname        Ukraine
countrycode            UKR
year                  1992
gdp            7.18964e+10
population     5.21503e+07
Name: 7145, dtype: object)
(7146, countryname        Uruguay
countrycode            URY
year                  1992
gdp            1.28782e+10
population     3.15486e+06
Name: 7146, dtype: object)
(7147, countryname    United States
countrycode              USA
year                    1992
gdp               6.5393e+12
population       2.56514e+08
Name: 7147, dtype: object)
(7148, countryname     Uzbekistan
countrycode            UZB
year                  1992
gdp            1.29413e+10
population      2.1449e+07
Name: 7148, dtype: object)
(7149, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1992
gdp                               2.77954e+08
population                             108003
Name: 7149, dtype: object)
(7150, countryname    Venezuela, RB
countrycode              VEN
year                    1992
gdp              5.84501e+10
population       2.07991e+07
Name: 7150, dtype: object)
(7151, countryname    British Virgin Islands
countrycode                       VGB
year                             1992
gdp                        1.7709e+09
population                      17344
Name: 7151, dtype: object)
(7152, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1992
gdp                       1.7709e+09
population                    105712
Name: 7152, dtype: object)
(7153, countryname        Vietnam
countrycode            VNM
year                  1992
gdp            9.86699e+09
population     7.11304e+07
Name: 7153, dtype: object)
(7154, countryname        Vanuatu
countrycode            VUT
year                  1992
gdp            1.96143e+08
population          155243
Name: 7154, dtype: object)
(7155, countryname          Samoa
countrycode            WSM
year                  1992
gdp            1.32303e+08
population          165570
Name: 7155, dtype: object)
(7156, countryname         Kosovo
countrycode            XKX
year                  1992
gdp            6.46365e+09
population       1.932e+06
Name: 7156, dtype: object)
(7157, countryname    Yemen, Rep.
countrycode            YEM
year                  1992
gdp            6.46365e+09
population     1.33256e+07
Name: 7157, dtype: object)
(7158, countryname    South Africa
countrycode             ZAF
year                   1992
gdp             1.34545e+11
population      3.93602e+07
Name: 7158, dtype: object)
(7159, countryname         Zambia
countrycode            ZMB
year                  1992
gdp            3.18192e+09
population     8.45228e+06
Name: 7159, dtype: object)
(7160, countryname       Zimbabwe
countrycode            ZWE
year                  1992
gdp            6.75147e+09
population     1.06829e+07
Name: 7160, dtype: object)
(7161, countryname          Aruba
countrycode            ABW
year                  1993
gdp            3.47879e+09
population           72504
Name: 7161, dtype: object)
(7162, countryname    Afghanistan
countrycode            AFG
year                  1993
gdp            3.47879e+09
population     1.50951e+07
Name: 7162, dtype: object)
(7163, countryname         Angola
countrycode            AGO
year                  1993
gdp            1.12363e+10
population     1.34037e+07
Name: 7163, dtype: object)
(7164, countryname        Albania
countrycode            ALB
year                  1993
gdp            1.22807e+09
population     3.22729e+06
Name: 7164, dtype: object)
(7165, countryname        Andorra
countrycode            AND
year                  1993
gdp            1.00703e+09
population           60971
Name: 7165, dtype: object)
(7166, countryname    United Arab Emirates
countrycode                     ARE
year                           1993
gdp                     5.56252e+10
population              2.20740e+06
Name: 7166, dtype: object)
(7167, countryname      Argentina
countrycode            ARG
year                  1993
gdp            2.36742e+11
population     3.41109e+07
Name: 7167, dtype: object)
(7168, countryname        Armenia
countrycode            ARM
year                  1993
gdp            1.20131e+09
population      3.3631e+06
Name: 7168, dtype: object)
(7169, countryname    American Samoa
countrycode               ASM
year                     1993
gdp               5.35173e+08
population              50720
Name: 7169, dtype: object)
(7170, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1993
gdp                    5.35173e+08
population                   69938
Name: 7170, dtype: object)
(7171, countryname      Australia
countrycode            AUS
year                  1993
gdp            3.11529e+11
population      1.7667e+07
Name: 7171, dtype: object)
(7172, countryname        Austria
countrycode            AUT
year                  1993
gdp             1.9038e+11
population     7.90563e+06
Name: 7172, dtype: object)
(7173, countryname     Azerbaijan
countrycode            AZE
year                  1993
gdp            3.97676e+09
population       7.495e+06
Name: 7173, dtype: object)
(7174, countryname        Burundi
countrycode            BDI
year                  1993
gdp            9.38633e+08
population      5.7714e+06
Name: 7174, dtype: object)
(7175, countryname        Belgium
countrycode            BEL
year                  1993
gdp            2.25925e+11
population     1.00845e+07
Name: 7175, dtype: object)
(7176, countryname          Benin
countrycode            BEN
year                  1993
gdp            2.27456e+09
population     5.52176e+06
Name: 7176, dtype: object)
(7177, countryname    Burkina Faso
countrycode             BFA
year                   1993
gdp             2.33202e+09
population      9.55248e+06
Name: 7177, dtype: object)
(7178, countryname     Bangladesh
countrycode            BGD
year                  1993
gdp            3.31665e+10
population     1.13695e+08
Name: 7178, dtype: object)
(7179, countryname       Bulgaria
countrycode            BGR
year                  1993
gdp            1.08297e+10
population     8.47231e+06
Name: 7179, dtype: object)
(7180, countryname        Bahrain
countrycode            BHR
year                  1993
gdp            5.20027e+09
population          536213
Name: 7180, dtype: object)
(7181, countryname    Bahamas, The
countrycode             BHS
year                   1993
gdp               3.092e+09
population           271165
Name: 7181, dtype: object)
(7182, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             1993
gdp                         2.165e+10
population                  4.088e+06
Name: 7182, dtype: object)
(7183, countryname       Belarus
countrycode           BLR
year                 1993
gdp             2.165e+10
population     1.0239e+07
Name: 7183, dtype: object)
(7184, countryname         Belize
countrycode            BLZ
year                  1993
gdp            5.59858e+08
population          197616
Name: 7184, dtype: object)
(7185, countryname        Bermuda
countrycode            BMU
year                  1993
gdp            1.82036e+09
population           58910
Name: 7185, dtype: object)
(7186, countryname        Bolivia
countrycode            BOL
year                  1993
gdp            5.73468e+09
population     7.27382e+06
Name: 7186, dtype: object)
(7187, countryname         Brazil
countrycode            BRA
year                  1993
gdp            4.37799e+11
population     1.57133e+08
Name: 7187, dtype: object)
(7188, countryname       Barbados
countrycode            BRB
year                  1993
gdp            2.04619e+09
population          263089
Name: 7188, dtype: object)
(7189, countryname    Brunei Darussalam
countrycode                  BRN
year                        1993
gdp                  4.10571e+09
population                281751
Name: 7189, dtype: object)
(7190, countryname        Bhutan
countrycode           BTN
year                 1993
gdp            2.3524e+08
population         523117
Name: 7190, dtype: object)
(7191, countryname       Botswana
countrycode            BWA
year                  1993
gdp            4.16009e+09
population     1.49469e+06
Name: 7191, dtype: object)
(7192, countryname    Central African Republic
countrycode                         CAF
year                               1993
gdp                         1.27878e+09
population                  3.18122e+06
Name: 7192, dtype: object)
(7193, countryname         Canada

Name: 7285, dtype: object)
(7286, countryname         Mexico
countrycode            MEX
year                  1993
gdp            5.00736e+11
population     9.06005e+07
Name: 7286, dtype: object)
(7287, countryname    Marshall Islands
countrycode                 MHL
year                       1993
gdp                  9.9461e+07
population                50048
Name: 7287, dtype: object)
(7288, countryname    Macedonia, FYR
countrycode               MKD
year                     1993
gdp                2.5502e+09
population        1.98403e+06
Name: 7288, dtype: object)
(7289, countryname           Mali
countrycode            MLI
year                  1993
gdp            2.81828e+09
population     9.10547e+06
Name: 7289, dtype: object)
(7290, countryname          Malta
countrycode            MLT
year                  1993
gdp            2.70918e+09
population          371308
Name: 7290, dtype: object)
(7291, countryname        Myanmar
countrycode            MMR
year                  1993
gdp            2.91541e+11
population     4.22098e+07
Name: 7291, dtype: object)
(7292, countryname     Montenegro
countrycode            MNE
year                  1993
gdp            7.68402e+08
population          610170
Name: 7292, dtype: object)
(7293, countryname       Mongolia
countrycode            MNG
year                  1993
gdp            7.68402e+08
population      2.2632e+06
Name: 7293, dtype: object)
(7294, countryname    Northern Mariana Islands
countrycode                         MNP
year                               1993
gdp                          3.6946e+09
population                        50602
Name: 7294, dtype: object)
(7295, countryname     Mozambique
countrycode            MOZ
year                  1993
gdp            2.39482e+09
population      1.4637e+07
Name: 7295, dtype: object)
(7296, countryname     Mauritania
countrycode            MRT
year                  1993
gdp            1.24994e+09
population     2.19979e+06
Name: 7296, dtype: object)
(7297, countryname      Mauritius
countrycode            MUS
year                  1993
gdp            3.26337e+09
population     1.09737e+06
Name: 7297, dtype: object)
(7298, countryname         Malawi
countrycode            MWI
year                  1993
gdp            2.07064e+09
population     9.75586e+06
Name: 7298, dtype: object)
(7299, countryname       Malaysia
countrycode            MYS
year                  1993
gdp            6.68944e+10
population      1.9495e+07
Name: 7299, dtype: object)
(7300, countryname        Namibia
countrycode            NAM
year                  1993
gdp            3.21848e+09
population     1.55998e+06
Name: 7300, dtype: object)
(7301, countryname    New Caledonia
countrycode              NCL
year                    1993
gdp              3.07016e+09
population            184496
Name: 7301, dtype: object)
(7302, countryname          Niger
countrycode            NER
year                  1993
gdp            1.60658e+09
population     8.84242e+06
Name: 7302, dtype: object)
(7303, countryname        Nigeria
countrycode            NGA
year                  1993
gdp             1.5789e+10
population     1.02762e+08
Name: 7303, dtype: object)
(7304, countryname      Nicaragua
countrycode            NIC
year                  1993
gdp            1.75645e+09
population     4.42658e+06
Name: 7304, dtype: object)
(7305, countryname    Netherlands
countrycode            NLD
year                  1993
gdp            3.49038e+11
population     1.52904e+07
Name: 7305, dtype: object)
(7306, countryname         Norway
countrycode            NOR
year                  1993
gdp            1.20579e+11
population     4.31199e+06
Name: 7306, dtype: object)
(7307, countryname          Nepal
countrycode            NPL
year                  1993
gdp            3.66004e+09
population     2.03212e+07
Name: 7307, dtype: object)
(7308, countryname          Nauru
countrycode            NRU
year                  1993
gdp            3.66004e+09
population            9719
Name: 7308, dtype: object)
(7309, countryname    New Zealand
countrycode            NZL
year                  1993
gdp             4.6712e+10
population      3.5722e+06
Name: 7309, dtype: object)
(7310, countryname           Oman
countrycode            OMN
year                  1993
gdp            1.24931e+10
population     2.07211e+06
Name: 7310, dtype: object)
(7311, countryname       Pakistan
countrycode            PAK
year                  1993
gdp            5.14783e+10
population      1.1675e+08
Name: 7311, dtype: object)
(7312, countryname         Panama
countrycode            PAN
year                  1993
gdp            8.78259e+09
population     2.62964e+06
Name: 7312, dtype: object)
(7313, countryname           Peru
countrycode            PER
year                  1993
gdp            3.51581e+10
population     2.31842e+07
Name: 7313, dtype: object)
(7314, countryname    Philippines
countrycode            PHL
year                  1993
gdp            5.43681e+10
population     6.66502e+07
Name: 7314, dtype: object)
(7315, countryname          Palau
countrycode            PLW
year                  1993
gdp            4.97455e+09
population           16342
Name: 7315, dtype: object)
(7316, countryname    Papua New Guinea
countrycode                 PNG
year                       1993
gdp                 4.97455e+09
population          4.65117e+06
Name: 7316, dtype: object)
(7317, countryname         Poland
countrycode            POL
year                  1993
gdp            9.60456e+10
population     3.84614e+07
Name: 7317, dtype: object)
(7318, countryname    Puerto Rico
countrycode            PRI
year                  1993
gdp            3.69225e+10
population      3.6155e+06
Name: 7318, dtype: object)
(7319, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1993
gdp                          9.50191e+10
population                   2.12658e+07
Name: 7319, dtype: object)
(7320, countryname       Portugal
countrycode            PRT
year                  1993
gdp            9.50191e+10
population     9.96468e+06
Name: 7320, dtype: object)
(7321, countryname       Paraguay
countrycode            PRY
year                  1993
gdp            7.24953e+09
population      4.5419e+06
Name: 7321, dtype: object)
(7322, countryname    West Bank and Gaza
countrycode                   PSE
year                         1993
gdp                   2.07064e+09
population            2.26268e+06
Name: 7322, dtype: object)
(7323, countryname    French Polynesia
countrycode                 PYF
year                       1993
gdp                  3.6946e+09
population               208345
Name: 7323, dtype: object)
(7324, countryname          Qatar
countrycode            QAT
year                  1993
gdp            7.15659e+09
population          501566
Name: 7324, dtype: object)
(7325, countryname        Romania
countrycode            ROU
year                  1993
gdp            2.63629e+10
population     2.27633e+07
Name: 7325, dtype: object)
(7326, countryname    Russian Federation
countrycode                   RUS
year                         1993
gdp                   4.35084e+11
population             1.4852e+08
Name: 7326, dtype: object)
(7327, countryname         Rwanda
countrycode            RWA
year                  1993
gdp            1.97153e+09
population     6.29991e+06
Name: 7327, dtype: object)
(7328, countryname    Saudi Arabia
countrycode             SAU
year                   1993
gdp             1.32968e+11
population      1.78598e+07
Name: 7328, dtype: object)
(7329, countryname          Sudan
countrycode            SDN
year                  1993
gdp            8.88179e+09
population     2.25359e+07
Name: 7329, dtype: object)
(7330, countryname        Senegal
countrycode            SEN
year                  1993
gdp            5.67883e+09
population     8.27217e+06
Name: 7330, dtype: object)
(7331, countryname      Singapore
countrycode            SGP
year                  1993
gdp            6.06446e+10
population     3.31347e+06
Name: 7331, dtype: object)
(7332, countryname    Solomon Islands
countrycode                SLB
year                      1993
gdp                4.10923e+08
population              339456
Name: 7332, dtype: object)
(7333, countryname    Sierra Leone
countrycode             SLE
year                   1993
gdp             7.68812e+08
population       4.3073e+06
Name: 7333, dtype: object)
(7334, countryname    El Salvador
countrycode            SLV
year                  1993
gdp            6.68027e+09
population       5.474e+06
Name: 7334, dtype: object)
(7335, countryname     San Marino
countrycode            SMR
year                  1993
gdp            2.92161e+11
population           25141
Name: 7335, dtype: object)
(7336, countryname        Somalia
countrycode            SOM
year                  1993
gdp            2.92161e+11
population     7.51981e+06
Name: 7336, dtype: object)
(7337, countryname         Serbia
countrycode            SRB
year                  1993
gdp            2.92161e+11
population     7.69931e+06
Name: 7337, dtype: object)
(7338, countryname    South Sudan
countrycode            SSD
year                  1993
gdp            7.96566e+10
population     5.49092e+06
Name: 7338, dtype: object)
(7339, countryname    Sao Tome and Principe
countrycode                      STP
year                            1993
gdp                      4.28794e+08
population                    121407
Name: 7339, dtype: object)
(7340, countryname       Suriname
countrycode            SUR
year                  1993
gdp            4.28794e+08
population          430039
Name: 7340, dtype: object)
(7341, countryname    Slovak Republic
countrycode                SVK
year                      1993
gdp                1.64522e+10
population         5.32530e+06
Name: 7341, dtype: object)
(7342, countryname       Slovenia
countrycode            SVN
year                  1993
gdp            2.09951e+11
population     1.99175e+06
Name: 7342, dtype: object)
(7343, countryname         Sweden
countrycode            SWE
year                  1993
gdp            2.09951e+11
population     8.71856e+06
Name: 7343, dtype: object)
(7344, countryname      Swaziland
countrycode            SWZ
year                  1993
gdp            1.35721e+09
population          924025
Name: 7344, dtype: object)
(7345, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1993
gdp                          4.73917e+08
population                         72253
Name: 7345, dtype: object)
(7346, countryname     Seychelles
countrycode            SYC
year                  1993
gdp            4.73917e+08
population           72253
Name: 7346, dtype: object)
(7347, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1993
gdp                      1.3696e+10
population              1.35642e+07
Name: 7347, dtype: object)
(7348, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1993
gdp                         1.46325e+09
population                        13789
Name: 7348, dtype: object)
(7349, countryname           Chad
countrycode            TCD
year                  1993
gdp            1.46325e+09
population      6.5556e+06
Name: 7349, dtype: object)
(7350, countryname           Togo
countrycode            TGO
year                  1993
gdp             1.2335e+09
population     4.06493e+06
Name: 7350, dtype: object)
(7351, countryname       Thailand
countrycode            THA
year                  1993
gdp             1.2889e+11
population     5.83649e+07
Name: 7351, dtype: object)
(7352, countryname     Tajikistan
countrycode            TJK
year                  1993
gdp            1.64433e+09
population     5.59411e+06
Name: 7352, dtype: object)
(7353, countryname    Turkmenistan
countrycode             TKM
year                   1993
gdp                3.34e+09
population      4.01079e+06
Name: 7353, dtype: object)
(7354, countryname    Timor-Leste
countrycode            TLS
year                  1993
gdp            2.88738e+11
population          833611
Name: 7354, dtype: object)
(7355, countryname         Tonga
countrycode           TON
year                 1993
gdp            1.3849e+08
population          95644
Name: 7355, dtype: object)
(7356, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1993
gdp                    4.66949e+09
population             1.24441e+06
Name: 7356, dtype: object)
(7357, countryname        Tunisia
countrycode            TUN
year                  1993
gdp            1.46089e+10
population     8.78489e+06
Name: 7357, dtype: object)
(7358, countryname         Turkey
countrycode            TUR
year                  1993
gdp             1.8017e+11
population     5.66537e+07
Name: 7358, dtype: object)
(7359, countryname         Tuvalu
countrycode            TUV
year                  1993
gdp            9.63076e+06
population            9156
Name: 7359, dtype: object)
(7360, countryname       Tanzania
countrycode            TZA
year                  1993
gdp             4.2577e+09
population     2.81493e+07
Name: 7360, dtype: object)
(7361, countryname         Uganda
countrycode            UGA
year                  1993
gdp            3.22044e+09
population     1.92754e+07
Name: 7361, dtype: object)
(7362, countryname        Ukraine
countrycode            UKR
year                  1993
gdp            6.56075e+10
population     5.21792e+07
Name: 7362, dtype: object)
(7363, countryname        Uruguay
countrycode            URY
year                  1993
gdp            1.50021e+10
population     3.17816e+06
Name: 7363, dtype: object)
(7364, countryname    United States
countrycode              USA
year                    1993
gdp              6.87872e+12
population       2.59919e+08
Name: 7364, dtype: object)
(7365, countryname    Uzbekistan
countrycode           UZB
year                 1993
gdp            1.3099e+10
population     2.1942e+07
Name: 7365, dtype: object)
(7366, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1993
gdp                               2.86308e+08
population                             108092
Name: 7366, dtype: object)
(7367, countryname    Venezuela, RB
countrycode              VEN
year                    1993
gdp              5.81242e+10
population       2.12634e+07
Name: 7367, dtype: object)
(7368, countryname    British Virgin Islands
countrycode                       VGB
year                             1993
gdp                         1.996e+09
population                      17703
Name: 7368, dtype: object)
(7369, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1993
gdp                        1.996e+09
population                    106578
Name: 7369, dtype: object)
(7370, countryname        Vietnam
countrycode            VNM
year                  1993
gdp             1.3181e+10
population     7.25604e+07
Name: 7370, dtype: object)
(7371, countryname       Vanuatu
countrycode           VUT
year                 1993
gdp            1.8808e+08
population         159814
Name: 7371, dtype: object)
(7372, countryname          Samoa
countrycode            WSM
year                  1993
gdp            1.33123e+08
population          167207
Name: 7372, dtype: object)
(7373, countryname         Kosovo
countrycode            XKX
year                  1993
gdp            5.36827e+09
population       1.965e+06
Name: 7373, dtype: object)
(7374, countryname    Yemen, Rep.
countrycode            YEM
year                  1993
gdp            5.36827e+09
population     1.40172e+07
Name: 7374, dtype: object)
(7375, countryname    South Africa
countrycode             ZAF
year                   1993
gdp              1.3431e+11
population      4.03002e+07
Name: 7375, dtype: object)
(7376, countryname         Zambia
countrycode            ZMB
year                  1993
gdp            3.27324e+09
population     8.66917e+06
Name: 7376, dtype: object)
(7377, countryname       Zimbabwe
countrycode            ZWE
year                  1993
gdp            6.56381e+09
population     1.09058e+07
Name: 7377, dtype: object)
(7378, countryname          Aruba
countrycode            ABW
year                  1994
gdp            1.33017e+09
population           76700
Name: 7378, dtype: object)
(7379, countryname    Afghanistan
countrycode            AFG
year                  1994
gdp            3.47879e+09
population     1.61727e+07
Name: 7379, dtype: object)
(7380, countryname         Angola
countrycode            AGO
year                  1994
gdp             3.3905e+09
population     1.38413e+07
Name: 7380, dtype: object)
(7381, countryname        Albania
countrycode            ALB
year                  1994
gdp            1.98567e+09
population     3.20754e+06
Name: 7381, dtype: object)
(7382, countryname        Andorra
countrycode            AND
year                  1994
gdp            1.01755e+09
population           62677
Name: 7382, dtype: object)
(7383, countryname    United Arab Emirates
countrycode                     ARE
year                           1994
gdp                     5.93051e+10
population              2.32869e+06
Name: 7383, dtype: object)
(7384, countryname      Argentina
countrycode            ARG
year                  1994
gdp             2.5744e+11
population     3.45581e+07
Name: 7384, dtype: object)
(7385, countryname        Armenia
countrycode            ARM
year                  1994
gdp            1.31516e+09
population     3.28366e+06
Name: 7385, dtype: object)
(7386, countryname    American Samoa
countrycode               ASM
year                     1994
gdp                5.8943e+08
population              51803
Name: 7386, dtype: object)
(7387, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1994
gdp                     5.8943e+08
population                   71719
Name: 7387, dtype: object)
(7388, countryname      Australia
countrycode            AUS
year                  1994
gdp            3.22201e+11
population      1.7855e+07
Name: 7388, dtype: object)
(7389, countryname        Austria
countrycode            AUT
year                  1994
gdp            2.03535e+11
population     7.93612e+06
Name: 7389, dtype: object)
(7390, countryname    Azerbaijan
countrycode           AZE
year                 1994
gdp            3.3128e+09
population      7.597e+06
Name: 7390, dtype: object)
(7391, countryname        Burundi
countrycode            BDI
year                  1994
gdp            9.25031e+08
population     5.87161e+06
Name: 7391, dtype: object)
(7392, countryname        Belgium
countrycode            BEL
year                  1994
gdp            2.46195e+11
population     1.01156e+07
Name: 7392, dtype: object)
(7393, countryname          Benin
countrycode            BEN
year                  1994
gdp            1.59808e+09
population     5.71422e+06
Name: 7393, dtype: object)
(7394, countryname    Burkina Faso
countrycode             BFA
year                   1994
gdp             1.89529e+09
population      9.81659e+06
Name: 7394, dtype: object)
(7395, countryname     Bangladesh
countrycode            BGD
year                  1994
gdp            3.37687e+10
population     1.16182e+08
Name: 7395, dtype: object)
(7396, countryname       Bulgaria
countrycode            BGR
year                  1994
gdp            9.69742e+09
population     8.44359e+06
Name: 7396, dtype: object)
(7397, countryname        Bahrain
countrycode            BHR
year                  1994
gdp            5.56755e+09
population          549588
Name: 7397, dtype: object)
(7398, countryname    Bahamas, The
countrycode             BHS
year                   1994

Name: 7498, dtype: object)
(7499, countryname        Monaco
countrycode           MCO
year                 1994
gdp            2.7203e+09
population          30427
Name: 7499, dtype: object)
(7500, countryname        Moldova
countrycode            MDA
year                  1994
gdp            3.52227e+09
population       3.691e+06
Name: 7500, dtype: object)
(7501, countryname     Madagascar
countrycode            MDG
year                  1994
gdp            2.97704e+09
population     1.30665e+07
Name: 7501, dtype: object)
(7502, countryname       Maldives
countrycode            MDV
year                  1994
gdp            3.55884e+08
population          248433
Name: 7502, dtype: object)
(7503, countryname         Mexico
countrycode            MEX
year                  1994
gdp            5.27813e+11
population     9.23491e+07
Name: 7503, dtype: object)
(7504, countryname    Marshall Islands
countrycode                 MHL
year                       1994
gdp                 1.08071e+08
population                50575
Name: 7504, dtype: object)
(7505, countryname    Macedonia, FYR
countrycode               MKD
year                     1994
gdp               3.38127e+09
population         1.9817e+06
Name: 7505, dtype: object)
(7506, countryname           Mali
countrycode            MLI
year                  1994
gdp            2.08185e+09
population     9.35338e+06
Name: 7506, dtype: object)
(7507, countryname          Malta
countrycode            MLT
year                  1994
gdp            2.99857e+09
population          374797
Name: 7507, dtype: object)
(7508, countryname        Myanmar
countrycode            MMR
year                  1994
gdp            2.98977e+11
population     4.27122e+07
Name: 7508, dtype: object)
(7509, countryname     Montenegro
countrycode            MNE
year                  1994
gdp            9.25817e+08
population          611389
Name: 7509, dtype: object)
(7510, countryname       Mongolia
countrycode            MNG
year                  1994
gdp            9.25817e+08
population      2.2805e+06
Name: 7510, dtype: object)
(7511, countryname    Northern Mariana Islands
countrycode                         MNP
year                               1994
gdp                         3.52227e+09
population                        53380
Name: 7511, dtype: object)
(7512, countryname     Mozambique
countrycode            MOZ
year                  1994
gdp            2.46067e+09
population      1.5217e+07
Name: 7512, dtype: object)
(7513, countryname     Mauritania
countrycode            MRT
year                  1994
gdp            1.31593e+09
population      2.2614e+06
Name: 7513, dtype: object)
(7514, countryname      Mauritius
countrycode            MUS
year                  1994
gdp            3.55814e+09
population     1.11285e+06
Name: 7514, dtype: object)
(7515, countryname         Malawi
countrycode            MWI
year                  1994
gdp             1.1818e+09
population     9.79698e+06
Name: 7515, dtype: object)
(7516, countryname       Malaysia
countrycode            MYS
year                  1994
gdp             7.4478e+10
population     1.99869e+07
Name: 7516, dtype: object)
(7517, countryname        Namibia
countrycode            NAM
year                  1994
gdp            3.63665e+09
population     1.60672e+06
Name: 7517, dtype: object)
(7518, countryname    New Caledonia
countrycode              NCL
year                    1994
gdp              3.03873e+09
population            189482
Name: 7518, dtype: object)
(7519, countryname          Niger
countrycode            NER
year                  1994
gdp            1.56321e+09
population     9.15176e+06
Name: 7519, dtype: object)
(7520, countryname        Nigeria
countrycode            NGA
year                  1994
gdp            1.80864e+10
population     1.05356e+08
Name: 7520, dtype: object)
(7521, countryname      Nicaragua
countrycode            NIC
year                  1994
gdp            3.86319e+09
population     4.52072e+06
Name: 7521, dtype: object)
(7522, countryname    Netherlands
countrycode            NLD
year                  1994
gdp            3.74291e+11
population     1.53828e+07
Name: 7522, dtype: object)
(7523, countryname         Norway
countrycode            NOR
year                  1994
gdp            1.27131e+11
population     4.33661e+06
Name: 7523, dtype: object)
(7524, countryname          Nepal
countrycode            NPL
year                  1994
gdp            4.06678e+09
population     2.08671e+07
Name: 7524, dtype: object)
(7525, countryname          Nauru
countrycode            NRU
year                  1994
gdp            4.06678e+09
population            9857
Name: 7525, dtype: object)
(7526, countryname    New Zealand
countrycode            NZL
year                  1994
gdp            5.51542e+10
population        3.62e+06
Name: 7526, dtype: object)
(7527, countryname           Oman
countrycode            OMN
year                  1994
gdp            1.29189e+10
population     2.14843e+06
Name: 7527, dtype: object)
(7528, countryname       Pakistan
countrycode            PAK
year                  1994
gdp            5.18948e+10
population      1.1977e+08
Name: 7528, dtype: object)
(7529, countryname         Panama
countrycode            PAN
year                  1994
gdp            9.36529e+09
population     2.68418e+06
Name: 7529, dtype: object)
(7530, countryname           Peru
countrycode            PER
year                  1994
gdp            4.48821e+10
population     2.36194e+07
Name: 7530, dtype: object)
(7531, countryname    Philippines
countrycode            PHL
year                  1994
gdp            6.40845e+10
population     6.82362e+07
Name: 7531, dtype: object)
(7532, countryname          Palau
countrycode            PLW
year                  1994
gdp            5.50279e+09
population           16806
Name: 7532, dtype: object)
(7533, countryname    Papua New Guinea
countrycode                 PNG
year                       1994
gdp                 5.50279e+09
population          4.77061e+06
Name: 7533, dtype: object)
(7534, countryname         Poland
countrycode            POL
year                  1994
gdp            1.10803e+11
population     3.85427e+07
Name: 7534, dtype: object)
(7535, countryname    Puerto Rico
countrycode            PRI
year                  1994
gdp            3.96906e+10
population     3.64924e+06
Name: 7535, dtype: object)
(7536, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1994
gdp                          9.96985e+10
population                    2.1578e+07
Name: 7536, dtype: object)
(7537, countryname       Portugal
countrycode            PRT
year                  1994
gdp            9.96985e+10
population     9.99152e+06
Name: 7537, dtype: object)
(7538, countryname       Paraguay
countrycode            PRY
year                  1994
gdp            7.87098e+09
population     4.65122e+06
Name: 7538, dtype: object)
(7539, countryname    West Bank and Gaza
countrycode                   PSE
year                         1994
gdp                    2.8433e+09
population             2.3663e+06
Name: 7539, dtype: object)
(7540, countryname    French Polynesia
countrycode                 PYF
year                       1994
gdp                 3.52227e+09
population               211579
Name: 7540, dtype: object)
(7541, countryname          Qatar
countrycode            QAT
year                  1994
gdp            7.37445e+09
population          507095
Name: 7541, dtype: object)
(7542, countryname        Romania
countrycode            ROU
year                  1994
gdp            3.00744e+10
population     2.27302e+07
Name: 7542, dtype: object)
(7543, countryname    Russian Federation
countrycode                   RUS
year                         1994
gdp                   3.95077e+11
population            1.48336e+08
Name: 7543, dtype: object)
(7544, countryname         Rwanda
countrycode            RWA
year                  1994
gdp            7.53636e+08
population      6.0051e+06
Name: 7544, dtype: object)
(7545, countryname    Saudi Arabia
countrycode             SAU
year                   1994
gdp             1.35175e+11
population      1.83111e+07
Name: 7545, dtype: object)
(7546, countryname          Sudan
countrycode            SDN
year                  1994
gdp            1.27942e+10
population     2.33479e+07
Name: 7546, dtype: object)
(7547, countryname        Senegal
countrycode            SEN
year                  1994
gdp             3.8772e+09
population     8.51217e+06
Name: 7547, dtype: object)
(7548, countryname      Singapore
countrycode            SGP
year                  1994
gdp            7.37778e+10
population     3.41905e+06
Name: 7548, dtype: object)
(7549, countryname    Solomon Islands
countrycode                SLB
year                      1994
gdp                4.64757e+08
population              349225
Name: 7549, dtype: object)
(7550, countryname    Sierra Leone
countrycode             SLE
year                   1994
gdp             9.11916e+08
population      4.28362e+06
Name: 7550, dtype: object)
(7551, countryname    El Salvador
countrycode            SLV
year                  1994
gdp            7.67938e+09
population     5.54494e+06
Name: 7551, dtype: object)
(7552, countryname     San Marino
countrycode            SMR
year                  1994
gdp            2.90432e+11
population           25516
Name: 7552, dtype: object)
(7553, countryname        Somalia
countrycode            SOM
year                  1994
gdp            2.90432e+11
population     7.58395e+06
Name: 7553, dtype: object)
(7554, countryname         Serbia
countrycode            SRB
year                  1994
gdp            2.90432e+11
population     7.73464e+06
Name: 7554, dtype: object)
(7555, countryname    South Sudan
countrycode            SSD
year                  1994
gdp            8.38796e+10
population     5.43174e+06
Name: 7555, dtype: object)
(7556, countryname    Sao Tome and Principe
countrycode                      STP
year                            1994
gdp                      6.05493e+08
population                    123973
Name: 7556, dtype: object)
(7557, countryname       Suriname
countrycode            SUR
year                  1994
gdp            6.05493e+08
population          437037
Name: 7557, dtype: object)
(7558, countryname    Slovak Republic
countrycode                SVK
year                      1994
gdp                2.00794e+10
population         5.34633e+06
Name: 7558, dtype: object)
(7559, countryname       Slovenia
countrycode            SVN
year                  1994
gdp             2.2608e+11
population     1.98944e+06
Name: 7559, dtype: object)
(7560, countryname         Sweden
countrycode            SWE
year                  1994
gdp             2.2608e+11
population     8.78074e+06
Name: 7560, dtype: object)
(7561, countryname      Swaziland
countrycode            SWZ
year                  1994
gdp            1.41929e+09
population          941774
Name: 7561, dtype: object)
(7562, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1994
gdp                          4.86451e+08
population                         74205
Name: 7562, dtype: object)
(7563, countryname     Seychelles
countrycode            SYC
year                  1994
gdp            4.86451e+08
population           74205
Name: 7563, dtype: object)
(7564, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1994
gdp                      1.0122e+10
population              1.39497e+07
Name: 7564, dtype: object)
(7565, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1994
gdp                         1.17984e+09
population                        14597
Name: 7565, dtype: object)
(7566, countryname           Chad
countrycode            TCD
year                  1994
gdp            1.17984e+09
population     6.77213e+06
Name: 7566, dtype: object)
(7567, countryname           Togo
countrycode            TGO
year                  1994
gdp            9.82624e+08
population     4.16364e+06
Name: 7567, dtype: object)
(7568, countryname       Thailand
countrycode            THA
year                  1994
gdp            1.46683e+11
population     5.89017e+07
Name: 7568, dtype: object)
(7569, countryname     Tajikistan
countrycode            TJK
year                  1994
gdp            1.34323e+09
population     5.67983e+06
Name: 7569, dtype: object)
(7570, countryname    Turkmenistan
countrycode             TKM
year                   1994
gdp             2.56471e+09
population       4.1151e+06
Name: 7570, dtype: object)
(7571, countryname    Timor-Leste
countrycode            TLS
year                  1994
gdp            2.96103e+11
population          856684
Name: 7571, dtype: object)
(7572, countryname          Tonga
countrycode            TON
year                  1994
gdp            1.93776e+08
population           95833
Name: 7572, dtype: object)
(7573, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1994
gdp                    4.94721e+09
population             1.25032e+06
Name: 7573, dtype: object)
(7574, countryname        Tunisia
countrycode            TUN
year                  1994
gdp            1.56325e+10
population      8.9566e+06
Name: 7574, dtype: object)
(7575, countryname         Turkey
countrycode            TUR
year                  1994
gdp             1.3069e+11
population     5.75641e+07
Name: 7575, dtype: object)
(7576, countryname         Tuvalu
countrycode            TUV
year                  1994
gdp            1.08868e+07
population            9190
Name: 7576, dtype: object)
(7577, countryname       Tanzania
countrycode            TZA
year                  1994
gdp            4.51085e+09
population     2.90706e+07
Name: 7577, dtype: object)
(7578, countryname         Uganda
countrycode            UGA
year                  1994
gdp            3.99043e+09
population     1.99076e+07
Name: 7578, dtype: object)
(7579, countryname        Ukraine
countrycode            UKR
year                  1994
gdp            5.25434e+10
population      5.1921e+07
Name: 7579, dtype: object)
(7580, countryname        Uruguay
countrycode            URY
year                  1994
gdp            1.74746e+10
population     3.20161e+06
Name: 7580, dtype: object)
(7581, countryname    United States
countrycode              USA
year                    1994
gdp              7.30876e+12
population       2.63126e+08
Name: 7581, dtype: object)
(7582, countryname     Uzbekistan
countrycode            UZB
year                  1994
gdp            1.28992e+10
population      2.2377e+07
Name: 7582, dtype: object)
(7583, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1994
gdp                               2.89438e+08
population                             108129
Name: 7583, dtype: object)
(7584, countryname    Venezuela, RB
countrycode              VEN
year                    1994
gdp               5.6531e+10
population       2.17264e+07
Name: 7584, dtype: object)
(7585, countryname    British Virgin Islands
countrycode                       VGB
year                             1994
gdp                         1.996e+09
population                      18052
Name: 7585, dtype: object)
(7586, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1994
gdp                        1.996e+09
population                    107318
Name: 7586, dtype: object)
(7587, countryname        Vietnam
countrycode            VNM
year                  1994
gdp            1.62864e+10
population     7.39251e+07
Name: 7587, dtype: object)
(7588, countryname       Vanuatu
countrycode           VUT
year                 1994
gdp            2.1926e+08
population         164208
Name: 7588, dtype: object)
(7589, countryname          Samoa
countrycode            WSM
year                  1994
gdp            2.21098e+08
population          168788
Name: 7589, dtype: object)
(7590, countryname         Kosovo
countrycode            XKX
year                  1994
gdp            4.16736e+09
population       1.997e+06
Name: 7590, dtype: object)
(7591, countryname    Yemen, Rep.
countrycode            YEM
year                  1994
gdp            4.16736e+09
population     1.46927e+07
Name: 7591, dtype: object)
(7592, countryname    South Africa
countrycode             ZAF
year                   1994
gdp             1.39752e+11
population      4.12189e+07
Name: 7592, dtype: object)
(7593, countryname         Zambia
countrycode            ZMB
year                  1994
gdp            3.65665e+09
population     8.89611e+06
Name: 7593, dtype: object)
(7594, countryname       Zimbabwe
countrycode            ZWE
year                  1994
gdp            6.89068e+09
population     1.11169e+07
Name: 7594, dtype: object)
(7595, countryname          Aruba
countrycode            ABW
year                  1995
gdp            1.32067e+09
population           80324
Name: 7595, dtype: object)
(7596, countryname    Afghanistan
countrycode            AFG
year                  1995
gdp            3.47879e+09
population     1.70995e+07
Name: 7596, dtype: object)
(7597, countryname         Angola
countrycode            AGO
year                  1995
gdp            5.56122e+09
population      1.4269e+07
Name: 7597, dtype: object)
(7598, countryname        Albania
countrycode            ALB
year                  1995
gdp             2.4245e+09
population     3.18778e+06
Name: 7598, dtype: object)
(7599, countryname        Andorra
countrycode            AND
year                  1995
gdp            1.17874e+09
population           63850
Name: 7599, dtype: object)
(7600, countryname    United Arab Emirates
countrycode                     ARE
year                           1995
gdp                     6.57437e+10
population              2.44882e+06
Name: 7600, dtype: object)
(7601, countryname      Argentina
countrycode            ARG
year                  1995
gdp            2.58032e+11
population     3.49948e+07
Name: 7601, dtype: object)
(7602, countryname        Armenia
countrycode            ARM
year                  1995
gdp            1.46832e+09
population     3.21734e+06
Name: 7602, dtype: object)
(7603, countryname    American Samoa
countrycode               ASM
year                     1995
gdp               5.77281e+08
population              52868
Name: 7603, dtype: object)
(7604, countryname    Antigua and Barbuda
countrycode                    ATG
year                          1995
gdp                    5.77281e+08
population                   73619
Name: 7604, dtype: object)
(7605, countryname      Australia
countrycode            AUS
year                  1995
gdp            3.67216e+11
population      1.8072e+07
Name: 7605, dtype: object)
(7606, countryname        Austria
countrycode            AUT
year                  1995
gdp            2.41038e+11
population     7.94828e+06
Name: 7606, dtype: object)
(7607, countryname     Azerbaijan
countrycode            AZE
year                  1995
gdp            3.05265e+09
population       7.685e+06
Name: 7607, dtype: object)
(7608, countryname        Burundi
countrycode            BDI
year                  1995
gdp            1.00043e+09
population     5.96206e+06
Name: 7608, dtype: object)
(7609, countryname        Belgium
countrycode            BEL
year                  1995
gdp            2.89567e+11
population     1.01368e+07
Name: 7609, dtype: object)
(7610, countryname          Benin
countrycode            BEN
year                  1995
gdp            2.16963e+09
population     5.90556e+06
Name: 7610, dtype: object)
(7611, countryname    Burkina Faso
countrycode             BFA
year                   1995

(7705, countryname          Libya
countrycode            LBY
year                  1995
gdp            2.55441e+10
population      4.9488e+06
Name: 7705, dtype: object)
(7706, countryname     St. Lucia
countrycode           LCA
year                 1995
gdp            6.4045e+08
population         147044
Name: 7706, dtype: object)
(7707, countryname    Liechtenstein
countrycode              LIE
year                    1995
gdp              2.42846e+09
population             30833
Name: 7707, dtype: object)
(7708, countryname      Sri Lanka
countrycode            LKA
year                  1995
gdp            1.30297e+10
population     1.82471e+07
Name: 7708, dtype: object)
(7709, countryname        Lesotho
countrycode            LSO
year                  1995
gdp            1.00189e+09
population     1.76136e+06
Name: 7709, dtype: object)
(7710, countryname      Lithuania
countrycode            LTU
year                  1995
gdp            7.87078e+09
population      3.6291e+06
Name: 7710, dtype: object)
(7711, countryname     Luxembourg
countrycode            LUX
year                  1995
gdp            2.15882e+10
population          408625
Name: 7711, dtype: object)
(7712, countryname         Latvia
countrycode            LVA
year                  1995
gdp            5.78837e+09
population     2.48506e+06
Name: 7712, dtype: object)
(7713, countryname    Macao SAR, China
countrycode                 MAC
year                       1995
gdp                 6.99603e+09
population               385686
Name: 7713, dtype: object)
(7714, countryname    St. Martin (French part)
countrycode                         MAF
year                               1995
gdp                         3.90303e+10
population                        32712
Name: 7714, dtype: object)
(7715, countryname        Morocco
countrycode            MAR
year                  1995
gdp            3.90303e+10
population     2.70752e+07
Name: 7715, dtype: object)
(7716, countryname         Monaco
countrycode            MCO
year                  1995
gdp            3.13027e+09
population           30691
Name: 7716, dtype: object)
(7717, countryname        Moldova
countrycode            MDA
year                  1995
gdp            1.75298e+09
population      3.6751e+06
Name: 7717, dtype: object)
(7718, countryname     Madagascar
countrycode            MDG
year                  1995
gdp             3.1599e+09
population     1.34754e+07
Name: 7718, dtype: object)
(7719, countryname       Maldives
countrycode            MDV
year                  1995
gdp            3.98989e+08
population          254082
Name: 7719, dtype: object)
(7720, countryname         Mexico
countrycode            MEX
year                  1995
gdp            3.60074e+11
population     9.40456e+07
Name: 7720, dtype: object)
(7721, countryname    Marshall Islands
countrycode                 MHL
year                       1995
gdp                  1.2023e+08
population                51015
Name: 7721, dtype: object)
(7722, countryname    Macedonia, FYR
countrycode               MKD
year                     1995
gdp               4.44938e+09
population        1.98325e+06
Name: 7722, dtype: object)
(7723, countryname           Mali
countrycode            MLI
year                  1995
gdp            2.70643e+09
population     9.60445e+06
Name: 7723, dtype: object)
(7724, countryname          Malta
countrycode            MLT
year                  1995
gdp            3.43993e+09
population          377419
Name: 7724, dtype: object)
(7725, countryname        Myanmar
countrycode            MMR
year                  1995
gdp            3.40941e+11
population     4.32378e+07
Name: 7725, dtype: object)
(7726, countryname     Montenegro
countrycode            MNE
year                  1995
gdp            1.45217e+09
population          611712
Name: 7726, dtype: object)
(7727, countryname       Mongolia
countrycode            MNG
year                  1995
gdp            1.45217e+09
population     2.29804e+06
Name: 7727, dtype: object)
(7728, countryname    Northern Mariana Islands
countrycode                         MNP
year                               1995
gdp                         2.52174e+09
population                        56278
Name: 7728, dtype: object)
(7729, countryname     Mozambique
countrycode            MOZ
year                  1995
gdp            2.52174e+09
population     1.57591e+07
Name: 7729, dtype: object)
(7730, countryname     Mauritania
countrycode            MRT
year                  1995
gdp             1.4153e+09
population     2.32708e+06
Name: 7730, dtype: object)
(7731, countryname      Mauritius
countrycode            MUS
year                  1995
gdp            4.04035e+09
population     1.12246e+06
Name: 7731, dtype: object)
(7732, countryname         Malawi
countrycode            MWI
year                  1995
gdp            1.39746e+09
population     9.90909e+06
Name: 7732, dtype: object)
(7733, countryname       Malaysia
countrycode            MYS
year                  1995
gdp            8.87049e+10
population     2.04956e+07
Name: 7733, dtype: object)
(7734, countryname        Namibia
countrycode            NAM
year                  1995
gdp            3.94248e+09
population     1.65536e+06
Name: 7734, dtype: object)
(7735, countryname    New Caledonia
countrycode              NCL
year                    1995
gdp              3.62844e+09
population            193816
Name: 7735, dtype: object)
(7736, countryname          Niger
countrycode            NER
year                  1995
gdp             1.8808e+09
population     9.47733e+06
Name: 7736, dtype: object)
(7737, countryname        Nigeria
countrycode            NGA
year                  1995
gdp             2.8547e+10
population     1.08011e+08
Name: 7737, dtype: object)
(7738, countryname      Nicaragua
countrycode            NIC
year                  1995
gdp            4.14047e+09
population     4.61223e+06
Name: 7738, dtype: object)
(7739, countryname    Netherlands
countrycode            NLD
year                  1995
gdp            4.46529e+11
population      1.5459e+07
Name: 7739, dtype: object)
(7740, countryname         Norway
countrycode            NOR
year                  1995
gdp            1.52027e+11
population     4.35918e+06
Name: 7740, dtype: object)
(7741, countryname          Nepal
countrycode            NPL
year                  1995
gdp             4.4011e+09
population     2.13964e+07
Name: 7741, dtype: object)
(7742, countryname          Nauru
countrycode            NRU
year                  1995
gdp            1.52027e+11
population            9969
Name: 7742, dtype: object)
(7743, countryname    New Zealand
countrycode            NZL
year                  1995
gdp             6.3918e+10
population      3.6734e+06
Name: 7743, dtype: object)
(7744, countryname           Oman
countrycode            OMN
year                  1995
gdp            1.38026e+10
population     2.20428e+06
Name: 7744, dtype: object)
(7745, countryname       Pakistan
countrycode            PAK
year                  1995
gdp             6.0636e+10
population     1.22829e+08
Name: 7745, dtype: object)
(7746, countryname         Panama
countrycode            PAN
year                  1995
gdp            9.57381e+09
population     2.73973e+06
Name: 7746, dtype: object)
(7747, countryname           Peru
countrycode            PER
year                  1995
gdp            5.33128e+10
population     2.40388e+07
Name: 7747, dtype: object)
(7748, countryname    Philippines
countrycode            PHL
year                  1995
gdp              7.412e+10
population     6.98357e+07
Name: 7748, dtype: object)
(7749, countryname          Palau
countrycode            PLW
year                  1995
gdp            4.63606e+09
population           17253
Name: 7749, dtype: object)
(7750, countryname    Papua New Guinea
countrycode                 PNG
year                       1995
gdp                 4.63606e+09
population          4.89428e+06
Name: 7750, dtype: object)
(7751, countryname         Poland
countrycode            POL
year                  1995
gdp            1.42137e+11
population      3.8595e+07
Name: 7751, dtype: object)
(7752, countryname    Puerto Rico
countrycode            PRI
year                  1995
gdp            4.26473e+10
population      3.6831e+06
Name: 7752, dtype: object)
(7753, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1995
gdp                          1.18134e+11
population                   2.18623e+07
Name: 7753, dtype: object)
(7754, countryname       Portugal
countrycode            PRT
year                  1995
gdp            1.18134e+11
population     1.00262e+07
Name: 7754, dtype: object)
(7755, countryname       Paraguay
countrycode            PRY
year                  1995
gdp            9.06213e+09
population     4.76085e+06
Name: 7755, dtype: object)
(7756, countryname    West Bank and Gaza
countrycode                   PSE
year                         1995
gdp                    3.2828e+09
population            2.47467e+06
Name: 7756, dtype: object)
(7757, countryname    French Polynesia
countrycode                 PYF
year                       1995
gdp                 3.98237e+09
population               215196
Name: 7757, dtype: object)
(7758, countryname          Qatar
countrycode            QAT
year                  1995
gdp            8.13791e+09
population          513455
Name: 7758, dtype: object)
(7759, countryname        Romania
countrycode            ROU
year                  1995
gdp            3.76621e+10
population     2.26843e+07
Name: 7759, dtype: object)
(7760, countryname    Russian Federation
countrycode                   RUS
year                         1995
gdp                   3.95531e+11
population            1.48376e+08
Name: 7760, dtype: object)
(7761, countryname         Rwanda
countrycode            RWA
year                  1995
gdp            1.29354e+09
population     5.92808e+06
Name: 7761, dtype: object)
(7762, countryname    Saudi Arabia
countrycode             SAU
year                   1995
gdp             1.43343e+11
population      1.87358e+07
Name: 7762, dtype: object)
(7763, countryname          Sudan
countrycode            SDN
year                  1995
gdp            1.38297e+10
population      2.4103e+07
Name: 7763, dtype: object)
(7764, countryname        Senegal
countrycode            SEN
year                  1995
gdp            4.87872e+09
population     8.74661e+06
Name: 7764, dtype: object)
(7765, countryname      Singapore
countrycode            SGP
year                  1995
gdp              8.789e+10
population     3.52451e+06
Name: 7765, dtype: object)
(7766, countryname    Solomon Islands
countrycode                SLB
year                      1995
gdp                5.19334e+08
population              359225
Name: 7766, dtype: object)
(7767, countryname    Sierra Leone
countrycode             SLE
year                   1995
gdp             8.70759e+08
population      4.27482e+06
Name: 7767, dtype: object)
(7768, countryname    El Salvador
countrycode            SLV
year                  1995
gdp            8.92195e+09
population     5.61112e+06
Name: 7768, dtype: object)
(7769, countryname    San Marino
countrycode           SMR
year                 1995
gdp             1.675e+10
population          25877
Name: 7769, dtype: object)
(7770, countryname        Somalia
countrycode            SOM
year                  1995
gdp              1.675e+10
population     7.70489e+06
Name: 7770, dtype: object)
(7771, countryname         Serbia
countrycode            SRB
year                  1995
gdp              1.675e+10
population     7.62536e+06
Name: 7771, dtype: object)
(7772, countryname    South Sudan
countrycode            SSD
year                  1995
gdp             9.5022e+10
population     5.45952e+06
Name: 7772, dtype: object)
(7773, countryname    Sao Tome and Principe
countrycode                      STP
year                            1995
gdp                      6.93971e+08
population                    126454
Name: 7773, dtype: object)
(7774, countryname       Suriname
countrycode            SUR
year                  1995
gdp            6.93971e+08
population          443724
Name: 7774, dtype: object)
(7775, countryname    Slovak Republic
countrycode                SVK
year                      1995
gdp                 2.5733e+10
population           5.362e+06
Name: 7775, dtype: object)
(7776, countryname       Slovenia
countrycode            SVN
year                  1995
gdp            2.12731e+10
population     1.98987e+06
Name: 7776, dtype: object)
(7777, countryname         Sweden
countrycode            SWE
year                  1995
gdp            2.64052e+11
population     8.82694e+06
Name: 7777, dtype: object)
(7778, countryname      Swaziland
countrycode            SWZ
year                  1995
gdp            1.69898e+09
population          960792
Name: 7778, dtype: object)
(7779, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1995
gdp                          5.08222e+08
population                         75304
Name: 7779, dtype: object)
(7780, countryname     Seychelles
countrycode            SYC
year                  1995
gdp            5.08222e+08
population           75304
Name: 7780, dtype: object)
(7781, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1995
gdp                     1.13967e+10
population              1.43455e+07
Name: 7781, dtype: object)
(7782, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1995
gdp                         1.44592e+09
population                        15332
Name: 7782, dtype: object)
(7783, countryname           Chad
countrycode            TCD
year                  1995
gdp            1.44592e+09
population     7.00072e+06
Name: 7783, dtype: object)
(7784, countryname           Togo
countrycode            TGO
year                  1995
gdp            1.30938e+09
population     4.27402e+06
Name: 7784, dtype: object)
(7785, countryname       Thailand
countrycode            THA
year                  1995
gdp            1.69279e+11
population     5.94918e+07
Name: 7785, dtype: object)
(7786, countryname     Tajikistan
countrycode            TJK
year                  1995
gdp              1.231e+09
population     5.76471e+06
Name: 7786, dtype: object)
(7787, countryname    Turkmenistan
countrycode             TKM
year                   1995
gdp             2.48381e+09
population      4.20784e+06
Name: 7787, dtype: object)
(7788, countryname    Timor-Leste
countrycode            TLS
year                  1995
gdp             3.3762e+11
population          871447
Name: 7788, dtype: object)
(7789, countryname          Tonga
countrycode            TON
year                  1995
gdp            2.02547e+08
population           96076
Name: 7789, dtype: object)
(7790, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1995
gdp                    5.32921e+09
population               1.255e+06
Name: 7790, dtype: object)
(7791, countryname        Tunisia
countrycode            TUN
year                  1995
gdp            1.80309e+10
population     9.11398e+06
Name: 7791, dtype: object)
(7792, countryname         Turkey
countrycode            TUR
year                  1995
gdp            1.69486e+11
population     5.84864e+07
Name: 7792, dtype: object)
(7793, countryname         Tuvalu
countrycode            TUV
year                  1995
gdp            1.10259e+07
population            9230
Name: 7793, dtype: object)
(7794, countryname       Tanzania
countrycode            TZA
year                  1995
gdp            5.25522e+09
population     2.99608e+07
Name: 7794, dtype: object)
(7795, countryname         Uganda
countrycode            UGA
year                  1995
gdp            5.75582e+09
population     2.05503e+07
Name: 7795, dtype: object)
(7796, countryname        Ukraine
countrycode            UKR
year                  1995
gdp            4.82148e+10
population     5.15123e+07
Name: 7796, dtype: object)
(7797, countryname        Uruguay
countrycode            URY
year                  1995
gdp            1.92977e+10
population      3.2248e+06
Name: 7797, dtype: object)
(7798, countryname    United States
countrycode              USA
year                    1995
gdp              7.66406e+12
population       2.66278e+08
Name: 7798, dtype: object)
(7799, countryname     Uzbekistan
countrycode            UZB
year                  1995
gdp            1.33505e+10
population      2.2785e+07
Name: 7799, dtype: object)
(7800, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1995
gdp                               3.16008e+08
population                             108122
Name: 7800, dtype: object)
(7801, countryname    Venezuela, RB
countrycode              VEN
year                    1995
gdp              7.49065e+10
population       2.21887e+07
Name: 7801, dtype: object)
(7802, countryname    British Virgin Islands
countrycode                       VGB
year                             1995
gdp                         1.996e+09
population                      18427
Name: 7802, dtype: object)
(7803, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1995
gdp                        1.996e+09
population                    107818
Name: 7803, dtype: object)
(7804, countryname        Vietnam
countrycode            VNM
year                  1995
gdp            2.07362e+10
population      7.5199e+07
Name: 7804, dtype: object)
(7805, countryname        Vanuatu
countrycode            VUT
year                  1995
gdp            2.33902e+08
population          168235
Name: 7805, dtype: object)
(7806, countryname          Samoa
countrycode            WSM
year                  1995
gdp            2.24866e+08
population          170157
Name: 7806, dtype: object)
(7807, countryname         Kosovo
countrycode            XKX
year                  1995
gdp            4.25879e+09
population       2.029e+06
Name: 7807, dtype: object)
(7808, countryname    Yemen, Rep.
countrycode            YEM
year                  1995
gdp            4.25879e+09
population     1.53207e+07
Name: 7808, dtype: object)
(7809, countryname    South Africa
countrycode             ZAF
year                   1995
gdp              1.5546e+11
population      4.20882e+07
Name: 7809, dtype: object)
(7810, countryname         Zambia
countrycode            ZMB
year                  1995
gdp            3.80707e+09
population     9.13708e+06
Name: 7810, dtype: object)
(7811, countryname       Zimbabwe
countrycode            ZWE
year                  1995
gdp            7.11127e+09
population     1.13203e+07
Name: 7811, dtype: object)
(7812, countryname          Aruba
countrycode            ABW
year                  1996
gdp            1.37989e+09
population           83200
Name: 7812, dtype: object)
(7813, countryname    Afghanistan
countrycode            AFG
year                  1996
gdp            3.47879e+09
population     1.78229e+07
Name: 7813, dtype: object)
(7814, countryname         Angola
countrycode            AGO
year                  1996
gdp             6.5375e+09
population     1.46823e+07
Name: 7814, dtype: object)
(7815, countryname        Albania
countrycode            ALB
year                  1996
gdp             3.3149e+09
population     3.16803e+06
Name: 7815, dtype: object)
(7816, countryname        Andorra
countrycode            AND
year                  1996
gdp            1.22395e+09
population           64360
Name: 7816, dtype: object)
(7817, countryname    United Arab Emirates
countrycode                     ARE
year                           1996

Name: 7914, dtype: object)
(7915, countryname       Kiribati
countrycode            KIR
year                  1996
gdp            6.65154e+07
population           78907
Name: 7915, dtype: object)
(7916, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1996
gdp                    3.18743e+08
population                   43373
Name: 7916, dtype: object)
(7917, countryname    Korea, Rep.
countrycode            KOR
year                  1996
gdp            5.98099e+11
population     4.55247e+07
Name: 7917, dtype: object)
(7918, countryname         Kuwait
countrycode            KWT
year                  1996
gdp             3.1494e+10
population     1.63174e+06
Name: 7918, dtype: object)
(7919, countryname        Lao PDR
countrycode            LAO
year                  1996
gdp            1.87367e+09
population     4.95718e+06
Name: 7919, dtype: object)
(7920, countryname        Lebanon
countrycode            LBN
year                  1996
gdp            1.36902e+10
population     3.07096e+06
Name: 7920, dtype: object)
(7921, countryname        Liberia
countrycode            LBR
year                  1996
gdp              1.594e+08
population     2.19118e+06
Name: 7921, dtype: object)
(7922, countryname          Libya
countrycode            LBY
year                  1996
gdp            2.78846e+10
population     5.03588e+06
Name: 7922, dtype: object)
(7923, countryname      St. Lucia
countrycode            LCA
year                  1996
gdp            6.62196e+08
population          149004
Name: 7923, dtype: object)
(7924, countryname    Liechtenstein
countrycode              LIE
year                    1996
gdp              2.50403e+09
population             31325
Name: 7924, dtype: object)
(7925, countryname      Sri Lanka
countrycode            LKA
year                  1996
gdp            1.38977e+10
population     1.83721e+07
Name: 7925, dtype: object)
(7926, countryname        Lesotho
countrycode            LSO
year                  1996
gdp            9.46123e+08
population     1.78727e+06
Name: 7926, dtype: object)
(7927, countryname      Lithuania
countrycode            LTU
year                  1996
gdp            8.38511e+09
population     3.60161e+06
Name: 7927, dtype: object)
(7928, countryname     Luxembourg
countrycode            LUX
year                  1996
gdp            2.17766e+10
population          414225
Name: 7928, dtype: object)
(7929, countryname         Latvia
countrycode            LVA
year                  1996
gdp            5.97004e+09
population     2.45722e+06
Name: 7929, dtype: object)
(7930, countryname    Macao SAR, China
countrycode                 MAC
year                       1996
gdp                 7.12254e+09
population               393567
Name: 7930, dtype: object)
(7931, countryname    St. Martin (French part)
countrycode                         MAF
year                               1996
gdp                         4.31615e+10
population                        32102
Name: 7931, dtype: object)
(7932, countryname        Morocco
countrycode            MAR
year                  1996
gdp            4.31615e+10
population     2.74606e+07
Name: 7932, dtype: object)
(7933, countryname         Monaco
countrycode            MCO
year                  1996
gdp            3.13785e+09
population           30967
Name: 7933, dtype: object)
(7934, countryname        Moldova
countrycode            MDA
year                  1996
gdp            1.69513e+09
population     3.66775e+06
Name: 7934, dtype: object)
(7935, countryname     Madagascar
countrycode            MDG
year                  1996
gdp            3.99503e+09
population     1.39027e+07
Name: 7935, dtype: object)
(7936, countryname       Maldives
countrycode            MDV
year                  1996
gdp            4.50382e+08
population          259327
Name: 7936, dtype: object)
(7937, countryname         Mexico
countrycode            MEX
year                  1996
gdp            4.10976e+11
population     9.56875e+07
Name: 7937, dtype: object)
(7938, countryname    Marshall Islands
countrycode                 MHL
year                       1996
gdp                 1.10858e+08
population                51401
Name: 7938, dtype: object)
(7939, countryname    Macedonia, FYR
countrycode               MKD
year                     1996
gdp               4.42216e+09
population        1.98944e+06
Name: 7939, dtype: object)
(7940, countryname           Mali
countrycode            MLI
year                  1996
gdp            2.78042e+09
population     9.85681e+06
Name: 7940, dtype: object)
(7941, countryname          Malta
countrycode            MLT
year                  1996
gdp            3.57027e+09
population          379905
Name: 7941, dtype: object)
(7942, countryname        Myanmar
countrycode            MMR
year                  1996
gdp            3.95345e+11
population     4.37933e+07
Name: 7942, dtype: object)
(7943, countryname     Montenegro
countrycode            MNE
year                  1996
gdp            1.34572e+09
population          611003
Name: 7943, dtype: object)
(7944, countryname       Mongolia
countrycode            MNG
year                  1996
gdp            1.34572e+09
population     2.31657e+06
Name: 7944, dtype: object)
(7945, countryname    Northern Mariana Islands
countrycode                         MNP
year                               1996
gdp                         4.42194e+09
population                        59364
Name: 7945, dtype: object)
(7946, countryname     Mozambique
countrycode            MOZ
year                  1996
gdp            3.52384e+09
population     1.62482e+07
Name: 7946, dtype: object)
(7947, countryname     Mauritania
countrycode            MRT
year                  1996
gdp             1.4426e+09
population     2.39724e+06
Name: 7947, dtype: object)
(7948, countryname      Mauritius
countrycode            MUS
year                  1996
gdp            4.42194e+09
population       1.134e+06
Name: 7948, dtype: object)
(7949, countryname         Malawi
countrycode            MWI
year                  1996
gdp            2.28103e+09
population     1.01098e+07
Name: 7949, dtype: object)
(7950, countryname       Malaysia
countrycode            MYS
year                  1996
gdp            1.00855e+11
population     2.10233e+07
Name: 7950, dtype: object)
(7951, countryname        Namibia
countrycode            NAM
year                  1996
gdp            3.94534e+09
population     1.70649e+06
Name: 7951, dtype: object)
(7952, countryname    New Caledonia
countrycode              NCL
year                    1996
gdp              3.60697e+09
population            197564
Name: 7952, dtype: object)
(7953, countryname          Niger
countrycode            NER
year                  1996
gdp            1.98777e+09
population     9.81996e+06
Name: 7953, dtype: object)
(7954, countryname        Nigeria
countrycode            NGA
year                  1996
gdp             3.4988e+10
population     1.10733e+08
Name: 7954, dtype: object)
(7955, countryname      Nicaragua
countrycode            NIC
year                  1996
gdp            4.30835e+09
population     4.70078e+06
Name: 7955, dtype: object)
(7956, countryname    Netherlands
countrycode            NLD
year                  1996
gdp            4.45705e+11
population     1.55305e+07
Name: 7956, dtype: object)
(7957, countryname         Norway
countrycode            NOR
year                  1996
gdp            1.63518e+11
population     4.38134e+06
Name: 7957, dtype: object)
(7958, countryname          Nepal
countrycode            NPL
year                  1996
gdp            4.52158e+09
population     2.19034e+07
Name: 7958, dtype: object)
(7959, countryname          Nauru
countrycode            NRU
year                  1996
gdp            1.63518e+11
population           10029
Name: 7959, dtype: object)
(7960, countryname    New Zealand
countrycode            NZL
year                  1996
gdp            7.01408e+10
population       3.732e+06
Name: 7960, dtype: object)
(7961, countryname           Oman
countrycode            OMN
year                  1996
gdp            1.52778e+10
population     2.23667e+06
Name: 7961, dtype: object)
(7962, countryname       Pakistan
countrycode            PAK
year                  1996
gdp            6.33201e+10
population     1.25938e+08
Name: 7962, dtype: object)
(7963, countryname         Panama
countrycode            PAN
year                  1996
gdp            9.87049e+09
population     2.79634e+06
Name: 7963, dtype: object)
(7964, countryname           Peru
countrycode            PER
year                  1996
gdp            5.52524e+10
population     2.44411e+07
Name: 7964, dtype: object)
(7965, countryname    Philippines
countrycode            PHL
year                  1996
gdp            8.28481e+10
population     7.14461e+07
Name: 7965, dtype: object)
(7966, countryname          Palau
countrycode            PLW
year                  1996
gdp            5.15531e+09
population           17691
Name: 7966, dtype: object)
(7967, countryname    Papua New Guinea
countrycode                 PNG
year                       1996
gdp                 5.15531e+09
population          5.02244e+06
Name: 7967, dtype: object)
(7968, countryname         Poland
countrycode            POL
year                  1996
gdp            1.59943e+11
population     3.86244e+07
Name: 7968, dtype: object)
(7969, countryname    Puerto Rico
countrycode            PRI
year                  1996
gdp            4.53408e+10
population     3.72466e+06
Name: 7969, dtype: object)
(7970, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1996
gdp                           1.2263e+11
population                   2.21135e+07
Name: 7970, dtype: object)
(7971, countryname       Portugal
countrycode            PRT
year                  1996
gdp             1.2263e+11
population     1.00639e+07
Name: 7971, dtype: object)
(7972, countryname       Paraguay
countrycode            PRY
year                  1996
gdp            9.78839e+09
population     4.87069e+06
Name: 7972, dtype: object)
(7973, countryname    West Bank and Gaza
countrycode                   PSE
year                         1996
gdp                    3.4096e+09
population              2.588e+06
Name: 7973, dtype: object)
(7974, countryname    French Polynesia
countrycode                 PYF
year                       1996
gdp                  3.9547e+09
population               219283
Name: 7974, dtype: object)
(7975, countryname          Qatar
countrycode            QAT
year                  1996
gdp            9.05934e+09
population          522304
Name: 7975, dtype: object)
(7976, countryname        Romania
countrycode            ROU
year                  1996
gdp            3.71829e+10
population      2.2619e+07
Name: 7976, dtype: object)
(7977, countryname    Russian Federation
countrycode                   RUS
year                         1996
gdp                    3.9172e+11
population             1.4816e+08
Name: 7977, dtype: object)
(7978, countryname         Rwanda
countrycode            RWA
year                  1996
gdp            1.38233e+09
population     6.11517e+06
Name: 7978, dtype: object)
(7979, countryname    Saudi Arabia
countrycode             SAU
year                   1996
gdp             1.58662e+11
population      1.91316e+07
Name: 7979, dtype: object)
(7980, countryname          Sudan
countrycode            SDN
year                  1996
gdp            9.01824e+09
population     2.47862e+07
Name: 7980, dtype: object)
(7981, countryname        Senegal
countrycode            SEN
year                  1996
gdp            5.06583e+09
population     8.97408e+06
Name: 7981, dtype: object)
(7982, countryname      Singapore
countrycode            SGP
year                  1996
gdp            9.64038e+10
population      3.6707e+06
Name: 7982, dtype: object)
(7983, countryname    Solomon Islands
countrycode                SLB
year                      1996
gdp                5.65164e+08
population              369469
Name: 7983, dtype: object)
(7984, countryname    Sierra Leone
countrycode             SLE
year                   1996
gdp             9.41742e+08
population      4.28235e+06
Name: 7984, dtype: object)
(7985, countryname    El Salvador
countrycode            SLV
year                  1996
gdp            9.58633e+09
population     5.67192e+06
Name: 7985, dtype: object)
(7986, countryname     San Marino
countrycode            SMR
year                  1996
gdp            2.09487e+10
population           26209
Name: 7986, dtype: object)
(7987, countryname        Somalia
countrycode            SOM
year                  1996
gdp            2.09487e+10
population     7.89239e+06
Name: 7987, dtype: object)
(7988, countryname         Serbia
countrycode            SRB
year                  1996
gdp            2.09487e+10
population     7.61779e+06
Name: 7988, dtype: object)
(7989, countryname    South Sudan
countrycode            SSD
year                  1996
gdp            3.71829e+10
population     5.59111e+06
Name: 7989, dtype: object)
(7990, countryname    Sao Tome and Principe
countrycode                      STP
year                            1996
gdp                      8.60631e+08
population                    128821
Name: 7990, dtype: object)
(7991, countryname       Suriname
countrycode            SUR
year                  1996
gdp            8.60631e+08
population          450036
Name: 7991, dtype: object)
(7992, countryname    Slovak Republic
countrycode                SVK
year                      1996
gdp                2.78219e+10
population         5.37336e+06
Name: 7992, dtype: object)
(7993, countryname       Slovenia
countrycode            SVN
year                  1996
gdp              2.148e+10
population     1.98863e+06
Name: 7993, dtype: object)
(7994, countryname         Sweden
countrycode            SWE
year                  1996
gdp            2.88104e+11
population       8.841e+06
Name: 7994, dtype: object)
(7995, countryname      Swaziland
countrycode            SWZ
year                  1996
gdp            1.60276e+09
population          981764
Name: 7995, dtype: object)
(7996, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1996
gdp                          5.03068e+08
population                         76417
Name: 7996, dtype: object)
(7997, countryname     Seychelles
countrycode            SYC
year                  1996
gdp            5.03068e+08
population           76417
Name: 7997, dtype: object)
(7998, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1996
gdp                     1.37896e+10
population              1.47553e+07
Name: 7998, dtype: object)
(7999, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1996
gdp                         1.60735e+09
population                        15966
Name: 7999, dtype: object)
(8000, countryname           Chad
countrycode            TCD
year                  1996
gdp            1.60735e+09
population     7.24113e+06
Name: 8000, dtype: object)
(8001, countryname           Togo
countrycode            TGO
year                  1996
gdp            1.46545e+09
population     4.39824e+06
Name: 8001, dtype: object)
(8002, countryname       Thailand
countrycode            THA
year                  1996
gdp            1.83035e+11
population     6.01515e+07
Name: 8002, dtype: object)
(8003, countryname     Tajikistan
countrycode            TJK
year                  1996
gdp            1.04389e+09
population     5.84954e+06
Name: 8003, dtype: object)
(8004, countryname    Turkmenistan
countrycode             TKM
year                   1996
gdp             2.37928e+09
population      4.28734e+06
Name: 8004, dtype: object)
(8005, countryname    Timor-Leste
countrycode            TLS
year                  1996
gdp            3.91919e+11
population          875916
Name: 8005, dtype: object)
(8006, countryname          Tonga
countrycode            TON
year                  1996
gdp            2.19584e+08
population           96369
Name: 8006, dtype: object)
(8007, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1996
gdp                    5.75954e+09
population             1.25836e+06
Name: 8007, dtype: object)
(8008, countryname        Tunisia
countrycode            TUN
year                  1996
gdp            1.95873e+10
population     9.25604e+06
Name: 8008, dtype: object)
(8009, countryname         Turkey
countrycode            TUR
year                  1996
gdp            1.81476e+11
population     5.94232e+07
Name: 8009, dtype: object)
(8010, countryname         Tuvalu
countrycode            TUV
year                  1996
gdp            1.23348e+07
population            9256
Name: 8010, dtype: object)
(8011, countryname       Tanzania
countrycode            TZA
year                  1996
gdp             6.4962e+09
population     3.08119e+07
Name: 8011, dtype: object)
(8012, countryname         Uganda
countrycode            UGA
year                  1996
gdp            6.04459e+09
population     2.12021e+07
Name: 8012, dtype: object)
(8013, countryname        Ukraine
countrycode            UKR
year                  1996
gdp            4.45581e+10
population     5.10572e+07
Name: 8013, dtype: object)
(8014, countryname        Uruguay
countrycode            URY
year                  1996
gdp            2.05155e+10
population     3.24804e+06
Name: 8014, dtype: object)
(8015, countryname    United States
countrycode              USA
year                    1996
gdp               8.1002e+12
population       2.69394e+08
Name: 8015, dtype: object)
(8016, countryname     Uzbekistan
countrycode            UZB
year                  1996
gdp            1.39489e+10
population      2.3225e+07
Name: 8016, dtype: object)
(8017, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1996
gdp                                3.3149e+08
population                             108075
Name: 8017, dtype: object)
(8018, countryname    Venezuela, RB
countrycode              VEN
year                    1996
gdp              6.82638e+10
population       2.26501e+07
Name: 8018, dtype: object)
(8019, countryname    British Virgin Islands
countrycode                       VGB
year                             1996
gdp                         1.996e+09
population                      18833
Name: 8019, dtype: object)
(8020, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1996
gdp                        1.996e+09
population                    108095
Name: 8020, dtype: object)
(8021, countryname        Vietnam
countrycode            VNM
year                  1996
gdp            2.46575e+10
population     7.63727e+07
Name: 8021, dtype: object)
(8022, countryname        Vanuatu
countrycode            VUT
year                  1996
gdp            2.45178e+08
population          171801
Name: 8022, dtype: object)
(8023, countryname          Samoa
countrycode            WSM
year                  1996
gdp            2.49909e+08
population          171283
Name: 8023, dtype: object)
(8024, countryname         Kosovo
countrycode            XKX
year                  1996
gdp            5.78569e+09
population       2.059e+06
Name: 8024, dtype: object)
(8025, countryname    Yemen, Rep.
countrycode            YEM
year                  1996
gdp            5.78569e+09
population     1.58894e+07
Name: 8025, dtype: object)
(8026, countryname    South Africa
countrycode             ZAF
year                   1996
gdp             1.47608e+11
population      4.28985e+07
Name: 8026, dtype: object)
(8027, countryname         Zambia

Name: 8128, dtype: object)
(8129, countryname          Kenya
countrycode            KEN
year                  1997
gdp            1.31158e+10
population     2.89541e+07
Name: 8129, dtype: object)
(8130, countryname    Kyrgyz Republic
countrycode                KGZ
year                      1997
gdp                1.76786e+09
population          4.6964e+06
Name: 8130, dtype: object)
(8131, countryname       Cambodia
countrycode            KHM
year                  1997
gdp            3.44341e+09
population     1.12959e+07
Name: 8131, dtype: object)
(8132, countryname       Kiribati
countrycode            KIR
year                  1997
gdp            6.75375e+07
population           80184
Name: 8132, dtype: object)
(8133, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1997
gdp                    3.57238e+08
population                   43846
Name: 8133, dtype: object)
(8134, countryname    Korea, Rep.
countrycode            KOR
year                  1997
gdp            5.57503e+11
population     4.59536e+07
Name: 8134, dtype: object)
(8135, countryname         Kuwait
countrycode            KWT
year                  1997
gdp            3.03544e+10
population     1.71531e+06
Name: 8135, dtype: object)
(8136, countryname        Lao PDR
countrycode            LAO
year                  1997
gdp            1.74701e+09
population     5.05652e+06
Name: 8136, dtype: object)
(8137, countryname        Lebanon
countrycode            LBN
year                  1997
gdp            1.57519e+10
population     3.09267e+06
Name: 8137, dtype: object)
(8138, countryname        Liberia
countrycode            LBR
year                  1997
gdp              2.959e+08
population     2.35847e+06
Name: 8138, dtype: object)
(8139, countryname          Libya
countrycode            LBY
year                  1997
gdp            3.06986e+10
population     5.11727e+06
Name: 8139, dtype: object)
(8140, countryname     St. Lucia
countrycode           LCA
year                 1997
gdp            6.7695e+08
population         151086
Name: 8140, dtype: object)
(8141, countryname    Liechtenstein
countrycode              LIE
year                    1997
gdp              2.29841e+09
population             31838
Name: 8141, dtype: object)
(8142, countryname      Sri Lanka
countrycode            LKA
year                  1997
gdp            1.50919e+10
population     1.84765e+07
Name: 8142, dtype: object)
(8143, countryname        Lesotho
countrycode            LSO
year                  1997
gdp            9.97996e+08
population     1.81045e+06
Name: 8143, dtype: object)
(8144, countryname      Lithuania
countrycode            LTU
year                  1997
gdp            1.01203e+10
population     3.57514e+06
Name: 8144, dtype: object)
(8145, countryname     Luxembourg
countrycode            LUX
year                  1997
gdp            1.97319e+10
population          419450
Name: 8145, dtype: object)
(8146, countryname         Latvia
countrycode            LVA
year                  1997
gdp            6.52568e+09
population     2.43285e+06
Name: 8146, dtype: object)
(8147, countryname    Macao SAR, China
countrycode                 MAC
year                       1997
gdp                 7.21126e+09
population               401564
Name: 8147, dtype: object)
(8148, countryname    St. Martin (French part)
countrycode                         MAF
year                               1997
gdp                         3.91478e+10
population                        31304
Name: 8148, dtype: object)
(8149, countryname        Morocco
countrycode            MAR
year                  1997
gdp            3.91478e+10
population     2.78259e+07
Name: 8149, dtype: object)
(8150, countryname         Monaco
countrycode            MCO
year                  1997
gdp            2.84018e+09
population           31251
Name: 8150, dtype: object)
(8151, countryname        Moldova
countrycode            MDA
year                  1997
gdp            1.93007e+09
population     3.65421e+06
Name: 8151, dtype: object)
(8152, countryname     Madagascar
countrycode            MDG
year                  1997
gdp            3.54578e+09
population     1.43479e+07
Name: 8152, dtype: object)
(8153, countryname       Maldives
countrycode            MDV
year                  1997
gdp            5.08224e+08
population          264275
Name: 8153, dtype: object)
(8154, countryname         Mexico
countrycode            MEX
year                  1997
gdp            5.00413e+11
population     9.72817e+07
Name: 8154, dtype: object)
(8155, countryname    Marshall Islands
countrycode                 MHL
year                       1997
gdp                 1.06289e+08
population                51692
Name: 8155, dtype: object)
(8156, countryname    Macedonia, FYR
countrycode               MKD
year                     1997
gdp               3.73531e+09
population         1.9996e+06
Name: 8156, dtype: object)
(8157, countryname           Mali
countrycode            MLI
year                  1997
gdp            2.69711e+09
population     1.01141e+07
Name: 8157, dtype: object)
(8158, countryname          Malta
countrycode            MLT
year                  1997
gdp            3.70537e+09
population          382791
Name: 8158, dtype: object)
(8159, countryname        Myanmar
countrycode            MMR
year                  1997
gdp            4.06066e+11
population     4.43715e+07
Name: 8159, dtype: object)
(8160, countryname     Montenegro
countrycode            MNE
year                  1997
gdp            1.18093e+09
population          609520
Name: 8160, dtype: object)
(8161, countryname       Mongolia
countrycode            MNG
year                  1997
gdp            1.18093e+09
population      2.3357e+06
Name: 8161, dtype: object)
(8162, countryname    Northern Mariana Islands
countrycode                         MNP
year                               1997
gdp                         4.22727e+09
population                        62528
Name: 8162, dtype: object)
(8163, countryname     Mozambique
countrycode            MOZ
year                  1997
gdp            4.22727e+09
population     1.67014e+07
Name: 8163, dtype: object)
(8164, countryname     Mauritania
countrycode            MRT
year                  1997
gdp            1.40195e+09
population      2.4716e+06
Name: 8164, dtype: object)
(8165, countryname      Mauritius
countrycode            MUS
year                  1997
gdp            4.18737e+09
population     1.14828e+06
Name: 8165, dtype: object)
(8166, countryname         Malawi
countrycode            MWI
year                  1997
gdp            2.66323e+09
population     1.03819e+07
Name: 8166, dtype: object)
(8167, countryname       Malaysia
countrycode            MYS
year                  1997
gdp            1.00005e+11
population     2.15653e+07
Name: 8167, dtype: object)
(8168, countryname        Namibia
countrycode            NAM
year                  1997
gdp            4.10265e+09
population     1.75899e+06
Name: 8168, dtype: object)
(8169, countryname    New Caledonia
countrycode              NCL
year                    1997
gdp              3.29149e+09
population            201418
Name: 8169, dtype: object)
(8170, countryname          Niger
countrycode            NER
year                  1997
gdp             1.8456e+09
population     1.01801e+07
Name: 8170, dtype: object)
(8171, countryname        Nigeria
countrycode            NGA
year                  1997
gdp            3.58223e+10
population     1.13523e+08
Name: 8171, dtype: object)
(8172, countryname      Nicaragua
countrycode            NIC
year                  1997
gdp            4.38997e+09
population     4.78664e+06
Name: 8172, dtype: object)
(8173, countryname    Netherlands
countrycode            NLD
year                  1997
gdp            4.12199e+11
population     1.56106e+07
Name: 8173, dtype: object)
(8174, countryname         Norway
countrycode            NOR
year                  1997
gdp            1.61354e+11
population     4.40516e+06
Name: 8174, dtype: object)
(8175, countryname          Nepal
countrycode            NPL
year                  1997
gdp            4.91869e+09
population     2.23898e+07
Name: 8175, dtype: object)
(8176, countryname          Nauru
countrycode            NRU
year                  1997
gdp            4.91869e+09
population           10057
Name: 8176, dtype: object)
(8177, countryname    New Zealand
countrycode            NZL
year                  1997
gdp            6.60745e+10
population      3.7813e+06
Name: 8177, dtype: object)
(8178, countryname           Oman
countrycode            OMN
year                  1997
gdp            1.58375e+10
population     2.24977e+06
Name: 8178, dtype: object)
(8179, countryname       Pakistan
countrycode            PAK
year                  1997
gdp            6.24333e+10
population     1.29087e+08
Name: 8179, dtype: object)
(8180, countryname         Panama
countrycode            PAN
year                  1997
gdp            1.06773e+10
population     2.85394e+06
Name: 8180, dtype: object)
(8181, countryname           Peru
countrycode            PER
year                  1997
gdp            5.81475e+10
population     2.48274e+07
Name: 8181, dtype: object)
(8182, countryname    Philippines
countrycode            PHL
year                  1997
gdp            8.23443e+10
population     7.30648e+07
Name: 8182, dtype: object)
(8183, countryname          Palau
countrycode            PLW
year                  1997
gdp            4.93662e+09
population           18123
Name: 8183, dtype: object)
(8184, countryname    Papua New Guinea
countrycode                 PNG
year                       1997
gdp                 4.93662e+09
population          5.15491e+06
Name: 8184, dtype: object)
(8185, countryname         Poland
countrycode            POL
year                  1997
gdp            1.59118e+11
population     3.86497e+07
Name: 8185, dtype: object)
(8186, countryname    Puerto Rico
countrycode            PRI
year                  1997
gdp             4.8187e+10
population     3.75943e+06
Name: 8186, dtype: object)
(8187, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1997
gdp                          1.17046e+11
population                   2.23356e+07
Name: 8187, dtype: object)
(8188, countryname       Portugal
countrycode            PRT
year                  1997
gdp            1.17046e+11
population      1.0109e+07
Name: 8188, dtype: object)
(8189, countryname       Paraguay
countrycode            PRY
year                  1997
gdp            9.96523e+09
population     4.98034e+06
Name: 8189, dtype: object)
(8190, countryname    West Bank and Gaza
countrycode                   PSE
year                         1997
gdp                    3.7598e+09
population            2.70652e+06
Name: 8190, dtype: object)
(8191, countryname    French Polynesia
countrycode                 PYF
year                       1997
gdp                 3.56706e+09
population               223731
Name: 8191, dtype: object)
(8192, countryname          Qatar
countrycode            QAT
year                  1997
gdp            1.12978e+10
population          534608
Name: 8192, dtype: object)
(8193, countryname        Romania
countrycode            ROU
year                  1997
gdp            3.58386e+10
population      2.2554e+07
Name: 8193, dtype: object)
(8194, countryname    Russian Federation
countrycode                   RUS
year                         1997
gdp                   4.04927e+11
population            1.47915e+08
Name: 8194, dtype: object)
(8195, countryname         Rwanda
countrycode            RWA
year                  1997
gdp            1.85156e+09
population     6.52238e+06
Name: 8195, dtype: object)
(8196, countryname    Saudi Arabia
countrycode             SAU
year                   1997
gdp             1.65964e+11
population      1.95056e+07
Name: 8196, dtype: object)
(8197, countryname          Sudan
countrycode            SDN
year                  1997
gdp            1.16815e+10
population     2.54105e+07
Name: 8197, dtype: object)
(8198, countryname        Senegal
countrycode            SEN
year                  1997
gdp             4.6725e+09
population     9.19653e+06
Name: 8198, dtype: object)
(8199, countryname      Singapore
countrycode            SGP
year                  1997
gdp            1.00164e+11
population     3.79604e+06
Name: 8199, dtype: object)
(8200, countryname    Solomon Islands
countrycode                SLB
year                      1997
gdp                 5.6792e+08
population              379947
Name: 8200, dtype: object)
(8201, countryname    Sierra Leone
countrycode             SLE
year                   1997
gdp             8.50218e+08
population      4.30546e+06
Name: 8201, dtype: object)
(8202, countryname    El Salvador
countrycode            SLV
year                  1997
gdp            1.02217e+10
population     5.72776e+06
Name: 8202, dtype: object)
(8203, countryname    San Marino
countrycode           SMR
year                 1997
gdp            2.4148e+10
population          26508
Name: 8203, dtype: object)
(8204, countryname        Somalia
countrycode            SOM
year                  1997
gdp             2.4148e+10
population     8.13748e+06
Name: 8204, dtype: object)
(8205, countryname        Serbia
countrycode           SRB
year                 1997
gdp            2.4148e+10
population     7.5965e+06
Name: 8205, dtype: object)
(8206, countryname    South Sudan
countrycode            SSD
year                  1997
gdp            1.08626e+11
population     5.81401e+06
Name: 8206, dtype: object)
(8207, countryname    Sao Tome and Principe
countrycode                      STP
year                            1997
gdp                      9.29608e+08
population                    131107
Name: 8207, dtype: object)
(8208, countryname       Suriname
countrycode            SUR
year                  1997
gdp            9.29608e+08
population          455954
Name: 8208, dtype: object)
(8209, countryname    Slovak Republic
countrycode                SVK
year                      1997
gdp                2.76601e+10
population         5.38329e+06
Name: 8209, dtype: object)
(8210, countryname       Slovenia
countrycode            SVN
year                  1997
gdp            2.07491e+10
population     1.98596e+06
Name: 8210, dtype: object)
(8211, countryname         Sweden
countrycode            SWE
year                  1997
gdp            2.64478e+11
population     8.84606e+06
Name: 8211, dtype: object)
(8212, countryname     Swaziland
countrycode           SWZ
year                 1997
gdp            1.7167e+09
population      1.004e+06
Name: 8212, dtype: object)
(8213, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1997
gdp                          5.62959e+08
population                         77319
Name: 8213, dtype: object)
(8214, countryname     Seychelles
countrycode            SYC
year                  1997
gdp            5.62959e+08
population           77319
Name: 8214, dtype: object)
(8215, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1997
gdp                     1.45052e+10
population              1.51775e+07
Name: 8215, dtype: object)
(8216, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1997
gdp                         1.54469e+09
population                        16528
Name: 8216, dtype: object)
(8217, countryname           Chad
countrycode            TCD
year                  1997
gdp            1.54469e+09
population     7.49325e+06
Name: 8217, dtype: object)
(8218, countryname           Togo
countrycode            TGO
year                  1997
gdp            1.49895e+09
population     4.53455e+06
Name: 8218, dtype: object)
(8219, countryname       Thailand
countrycode            THA
year                  1997
gdp             1.5018e+11
population     6.08635e+07
Name: 8219, dtype: object)
(8220, countryname     Tajikistan
countrycode            TJK
year                  1997
gdp            9.21843e+08
population     5.93428e+06
Name: 8220, dtype: object)
(8221, countryname    Turkmenistan
countrycode             TKM
year                   1997
gdp             2.45011e+09
population      4.35511e+06
Name: 8221, dtype: object)
(8222, countryname    Timor-Leste
countrycode            TLS
year                  1997
gdp            4.02271e+11
population          871994
Name: 8222, dtype: object)
(8223, countryname          Tonga
countrycode            TON
year                  1997
gdp            2.12155e+08
population           96725
Name: 8223, dtype: object)
(8224, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1997
gdp                    5.73775e+09
population             1.26068e+06
Name: 8224, dtype: object)
(8225, countryname        Tunisia
countrycode            TUN
year                  1997
gdp            2.07464e+10
population     9.38415e+06
Name: 8225, dtype: object)
(8226, countryname         Turkey
countrycode            TUR
year                  1997
gdp            1.89835e+11
population     6.03725e+07
Name: 8226, dtype: object)
(8227, countryname         Tuvalu
countrycode            TUV
year                  1997
gdp            1.27009e+07
population            9277
Name: 8227, dtype: object)
(8228, countryname       Tanzania
countrycode            TZA
year                  1997
gdp            7.68385e+09
population     3.16353e+07
Name: 8228, dtype: object)
(8229, countryname         Uganda
countrycode            UGA
year                  1997
gdp            6.26933e+09
population     2.18659e+07
Name: 8229, dtype: object)
(8230, countryname        Ukraine
countrycode            UKR
year                  1997
gdp            5.01504e+10
population     5.05941e+07
Name: 8230, dtype: object)
(8231, countryname        Uruguay
countrycode            URY
year                  1997
gdp            2.39698e+10
population     3.27101e+06
Name: 8231, dtype: object)
(8232, countryname    United States
countrycode              USA
year                    1997
gdp              8.60852e+12
population       2.72657e+08
Name: 8232, dtype: object)
(8233, countryname     Uzbekistan
countrycode            UZB
year                  1997
gdp            1.47446e+10
population      2.3667e+07
Name: 8233, dtype: object)
(8234, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     1997
gdp                                3.4777e+08
population                             108004
Name: 8234, dtype: object)
(8235, countryname    Venezuela, RB
countrycode              VEN
year                    1997
gdp              8.58435e+10
population       2.31102e+07
Name: 8235, dtype: object)
(8236, countryname    British Virgin Islands
countrycode                       VGB
year                             1997
gdp                         1.996e+09
population                      19270
Name: 8236, dtype: object)
(8237, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            1997
gdp                        1.996e+09
population                    108357
Name: 8237, dtype: object)
(8238, countryname        Vietnam
countrycode            VNM
year                  1997
gdp            2.68437e+10
population     7.74533e+07
Name: 8238, dtype: object)
(8239, countryname       Vanuatu
countrycode           VUT
year                 1997
gdp            2.5589e+08
population         174999
Name: 8239, dtype: object)
(8240, countryname          Samoa
countrycode            WSM
year                  1997
gdp            2.85476e+08
population          172198
Name: 8240, dtype: object)
(8241, countryname         Kosovo

Name: 8330, dtype: object)
(8331, countryname          Haiti
countrycode            HTI
year                  1998
gdp            3.72391e+09
population     8.25848e+06
Name: 8331, dtype: object)
(8332, countryname        Hungary
countrycode            HUN
year                  1998
gdp            4.87705e+10
population     1.02666e+07
Name: 8332, dtype: object)
(8333, countryname      Indonesia
countrycode            IDN
year                  1998
gdp            9.54455e+10
population     2.05716e+08
Name: 8333, dtype: object)
(8334, countryname    Isle of Man
countrycode            IMN
year                  1998
gdp            1.38255e+09
population           71390
Name: 8334, dtype: object)
(8335, countryname          India
countrycode            IND
year                  1998
gdp            4.15731e+11
population     1.01597e+09
Name: 8335, dtype: object)
(8336, countryname       Ireland
countrycode           IRL
year                 1998
gdp            9.0082e+10
population     3.7127e+06
Name: 8336, dtype: object)
(8337, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         1998
gdp                   1.10277e+11
population            6.39006e+07
Name: 8337, dtype: object)
(8338, countryname           Iraq
countrycode            IRQ
year                  1998
gdp            1.79886e+11
population     2.21902e+07
Name: 8338, dtype: object)
(8339, countryname       Iceland
countrycode           ISL
year                 1998
gdp            8.4537e+09
population         274047
Name: 8339, dtype: object)
(8340, countryname         Israel
countrycode            ISR
year                  1998
gdp            1.15979e+11
population       5.971e+06
Name: 8340, dtype: object)
(8341, countryname          Italy
countrycode            ITA
year                  1998
gdp            1.26631e+12
population     5.69067e+07
Name: 8341, dtype: object)
(8342, countryname        Jamaica
countrycode            JAM
year                  1998
gdp            8.76322e+09
population     2.61137e+06
Name: 8342, dtype: object)
(8343, countryname         Jordan
countrycode            JOR
year                  1998
gdp            7.91233e+09
population     4.92791e+06
Name: 8343, dtype: object)
(8344, countryname          Japan
countrycode            JPN
year                  1998
gdp            4.03251e+12
population       1.264e+08
Name: 8344, dtype: object)
(8345, countryname     Kazakhstan
countrycode            KAZ
year                  1998
gdp            2.21353e+10
population     1.50713e+07
Name: 8345, dtype: object)
(8346, countryname          Kenya
countrycode            KEN
year                  1998
gdp             1.4094e+10
population     2.97698e+07
Name: 8346, dtype: object)
(8347, countryname    Kyrgyz Republic
countrycode                KGZ
year                      1998
gdp                1.64596e+09
population           4.769e+06
Name: 8347, dtype: object)
(8348, countryname       Cambodia
countrycode            KHM
year                  1998
gdp            3.12043e+09
population     1.15977e+07
Name: 8348, dtype: object)
(8349, countryname       Kiribati
countrycode            KIR
year                  1998
gdp            6.53348e+07
population           81550
Name: 8349, dtype: object)
(8350, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1998
gdp                    3.64975e+08
population                   44317
Name: 8350, dtype: object)
(8351, countryname    Korea, Rep.
countrycode            KOR
year                  1998
gdp            3.74241e+11
population     4.62865e+07
Name: 8351, dtype: object)
(8352, countryname         Kuwait
countrycode            KWT
year                  1998
gdp            2.59419e+10
population     1.83635e+06
Name: 8352, dtype: object)
(8353, countryname        Lao PDR
countrycode            LAO
year                  1998
gdp            1.28018e+09
population     5.15076e+06
Name: 8353, dtype: object)
(8354, countryname        Lebanon
countrycode            LBN
year                  1998
gdp            1.72472e+10
population     3.11395e+06
Name: 8354, dtype: object)
(8355, countryname        Liberia
countrycode            LBR
year                  1998
gdp              3.596e+08
population     2.55106e+06
Name: 8355, dtype: object)
(8356, countryname          Libya
countrycode            LBY
year                  1998
gdp            2.72498e+10
population      5.1955e+06
Name: 8356, dtype: object)
(8357, countryname      St. Lucia
countrycode            LCA
year                  1998
gdp            7.37555e+08
population          153183
Name: 8357, dtype: object)
(8358, countryname    Liechtenstein
countrycode              LIE
year                    1998
gdp              2.47972e+09
population             32355
Name: 8358, dtype: object)
(8359, countryname      Sri Lanka
countrycode            LKA
year                  1998
gdp            1.57607e+10
population     1.85707e+07
Name: 8359, dtype: object)
(8360, countryname        Lesotho
countrycode            LSO
year                  1998
gdp            9.28458e+08
population      1.8313e+06
Name: 8360, dtype: object)
(8361, countryname      Lithuania
countrycode            LTU
year                  1998
gdp            1.12404e+10
population     3.54933e+06
Name: 8361, dtype: object)
(8362, countryname     Luxembourg
countrycode            LUX
year                  1998
gdp            2.02091e+10
population          424700
Name: 8362, dtype: object)
(8363, countryname         Latvia
countrycode            LVA
year                  1998
gdp            7.17499e+09
population     2.41002e+06
Name: 8363, dtype: object)
(8364, countryname    Macao SAR, China
countrycode                 MAC
year                       1998
gdp                 6.74237e+09
population               409837
Name: 8364, dtype: object)
(8365, countryname    St. Martin (French part)
countrycode                         MAF
year                               1998
gdp                         4.18062e+10
population                        30358
Name: 8365, dtype: object)
(8366, countryname        Morocco
countrycode            MAR
year                  1998
gdp            4.18062e+10
population     2.81753e+07
Name: 8366, dtype: object)
(8367, countryname         Monaco
countrycode            MCO
year                  1998
gdp            2.93458e+09
population           31523
Name: 8367, dtype: object)
(8368, countryname        Moldova
countrycode            MDA
year                  1998
gdp             1.6395e+09
population     3.65273e+06
Name: 8368, dtype: object)
(8369, countryname     Madagascar
countrycode            MDG
year                  1998
gdp             3.7387e+09
population     1.48088e+07
Name: 8369, dtype: object)
(8370, countryname       Maldives
countrycode            MDV
year                  1998
gdp            5.40096e+08
population          269206
Name: 8370, dtype: object)
(8371, countryname         Mexico
countrycode            MEX
year                  1998
gdp            5.26502e+11
population     9.88215e+07
Name: 8371, dtype: object)
(8372, countryname    Marshall Islands
countrycode                 MHL
year                       1998
gdp                 1.08702e+08
population                51925
Name: 8372, dtype: object)
(8373, countryname    Macedonia, FYR
countrycode               MKD
year                     1998
gdp               3.57104e+09
population        2.01206e+06
Name: 8373, dtype: object)
(8374, countryname           Mali
countrycode            MLI
year                  1998
gdp            2.92036e+09
population     1.03808e+07
Name: 8374, dtype: object)
(8375, countryname          Malta
countrycode            MLT
year                  1998
gdp            3.92364e+09
population          385287
Name: 8375, dtype: object)
(8376, countryname        Myanmar
countrycode            MMR
year                  1998
gdp             4.1215e+11
population     4.49599e+07
Name: 8376, dtype: object)
(8377, countryname     Montenegro
countrycode            MNE
year                  1998
gdp            1.12444e+09
population          607662
Name: 8377, dtype: object)
(8378, countryname       Mongolia
countrycode            MNG
year                  1998
gdp            1.12444e+09
population     2.35559e+06
Name: 8378, dtype: object)
(8379, countryname    Northern Mariana Islands
countrycode                         MNP
year                               1998
gdp                         1.37512e+09
population                        65474
Name: 8379, dtype: object)
(8380, countryname     Mozambique
countrycode            MOZ
year                  1998
gdp            4.87324e+09
population     1.71368e+07
Name: 8380, dtype: object)
(8381, countryname     Mauritania
countrycode            MRT
year                  1998
gdp            1.37512e+09
population     2.54922e+06
Name: 8381, dtype: object)
(8382, countryname      Mauritius
countrycode            MUS
year                  1998
gdp            4.16966e+09
population     1.16042e+06
Name: 8382, dtype: object)
(8383, countryname         Malawi
countrycode            MWI
year                  1998
gdp            1.75058e+09
population     1.07047e+07
Name: 8383, dtype: object)
(8384, countryname       Malaysia
countrycode            MYS
year                  1998
gdp            7.21678e+10
population     2.21135e+07
Name: 8384, dtype: object)
(8385, countryname        Namibia
countrycode            NAM
year                  1998
gdp            3.82653e+09
population     1.81057e+06
Name: 8385, dtype: object)
(8386, countryname    New Caledonia
countrycode              NCL
year                    1998
gdp              3.15881e+09
population            205279
Name: 8386, dtype: object)
(8387, countryname          Niger
countrycode            NER
year                  1998
gdp            2.07674e+09
population     1.05565e+07
Name: 8387, dtype: object)
(8388, countryname        Nigeria
countrycode            NGA
year                  1998
gdp            3.20046e+10
population     1.16386e+08
Name: 8388, dtype: object)
(8389, countryname      Nicaragua
countrycode            NIC
year                  1998
gdp            4.63527e+09
population     4.86963e+06
Name: 8389, dtype: object)
(8390, countryname    Netherlands
countrycode            NLD
year                  1998
gdp            4.32476e+11
population     1.57072e+07
Name: 8390, dtype: object)
(8391, countryname         Norway
countrycode            NOR
year                  1998
gdp            1.54165e+11
population     4.43146e+06
Name: 8391, dtype: object)
(8392, countryname          Nepal
countrycode            NPL
year                  1998
gdp            4.85626e+09
population     2.28563e+07
Name: 8392, dtype: object)
(8393, countryname          Nauru
countrycode            NRU
year                  1998
gdp            4.85626e+09
population           10046
Name: 8393, dtype: object)
(8394, countryname    New Zealand
countrycode            NZL
year                  1998
gdp            5.62277e+10
population       3.815e+06
Name: 8394, dtype: object)
(8395, countryname           Oman
countrycode            OMN
year                  1998
gdp            1.40854e+10
population     2.25188e+06
Name: 8395, dtype: object)
(8396, countryname       Pakistan
countrycode            PAK
year                  1998
gdp             6.2192e+10
population     1.32253e+08
Name: 8396, dtype: object)
(8397, countryname         Panama
countrycode            PAN
year                  1998
gdp            1.15755e+10
population     2.91233e+06
Name: 8397, dtype: object)
(8398, countryname           Peru
countrycode            PER
year                  1998
gdp            5.55015e+10
population     2.51997e+07
Name: 8398, dtype: object)
(8399, countryname    Philippines
countrycode            PHL
year                  1998
gdp             7.2207e+10
population     7.46937e+07
Name: 8399, dtype: object)
(8400, countryname          Palau
countrycode            PLW
year                  1998
gdp            3.78944e+09
population           18524
Name: 8400, dtype: object)
(8401, countryname    Papua New Guinea
countrycode                 PNG
year                       1998
gdp                 3.78944e+09
population          5.29118e+06
Name: 8401, dtype: object)
(8402, countryname         Poland
countrycode            POL
year                  1998
gdp            1.74388e+11
population     3.86635e+07
Name: 8402, dtype: object)
(8403, countryname    Puerto Rico
countrycode            PRI
year                  1998
gdp            5.40864e+10
population      3.7811e+06
Name: 8403, dtype: object)
(8404, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1998
gdp                          1.23982e+11
population                   2.25373e+07
Name: 8404, dtype: object)
(8405, countryname       Portugal
countrycode            PRT
year                  1998
gdp            1.23982e+11
population     1.01602e+07
Name: 8405, dtype: object)
(8406, countryname       Paraguay
countrycode            PRY
year                  1998
gdp            9.02457e+09
population     5.08931e+06
Name: 8406, dtype: object)
(8407, countryname    West Bank and Gaza
countrycode                   PSE
year                         1998
gdp                    4.0678e+09
population            2.77657e+06
Name: 8407, dtype: object)
(8408, countryname    French Polynesia
countrycode                 PYF
year                       1998
gdp                 3.77516e+09
population               228376
Name: 8408, dtype: object)
(8409, countryname          Qatar
countrycode            QAT
year                  1998
gdp            1.02555e+10
population          550430
Name: 8409, dtype: object)
(8410, countryname        Romania
countrycode            ROU
year                  1998
gdp             4.1976e+10
population     2.25073e+07
Name: 8410, dtype: object)
(8411, countryname    Russian Federation
countrycode                   RUS
year                         1998
gdp                   2.70953e+11
population            1.47671e+08
Name: 8411, dtype: object)
(8412, countryname         Rwanda
countrycode            RWA
year                  1998
gdp            1.98934e+09
population     7.05981e+06
Name: 8412, dtype: object)
(8413, countryname    Saudi Arabia
countrycode             SAU
year                   1998
gdp             1.46775e+11
population      1.98825e+07
Name: 8413, dtype: object)
(8414, countryname          Sudan
countrycode            SDN
year                  1998
gdp            1.12503e+10
population     2.60035e+07
Name: 8414, dtype: object)
(8415, countryname        Senegal
countrycode            SEN
year                  1998
gdp            5.03034e+09
population     9.41839e+06
Name: 8415, dtype: object)
(8416, countryname      Singapore
countrycode            SGP
year                  1998
gdp            8.57076e+10
population     3.92721e+06
Name: 8416, dtype: object)
(8417, countryname    Solomon Islands
countrycode                SLB
year                      1998
gdp                4.71177e+08
population              390643
Name: 8417, dtype: object)
(8418, countryname    Sierra Leone
countrycode             SLE
year                   1998
gdp             6.72376e+08
population      4.35365e+06
Name: 8418, dtype: object)
(8419, countryname    El Salvador
countrycode            SLV
year                  1998
gdp            1.09367e+10
population     5.77871e+06
Name: 8419, dtype: object)
(8420, countryname     San Marino
countrycode            SMR
year                  1998
gdp            1.82842e+10
population           26799
Name: 8420, dtype: object)
(8421, countryname        Somalia
countrycode            SOM
year                  1998
gdp            1.82842e+10
population     8.42237e+06
Name: 8421, dtype: object)
(8422, countryname         Serbia
countrycode            SRB
year                  1998
gdp            1.82842e+10
population     7.56774e+06
Name: 8422, dtype: object)
(8423, countryname    South Sudan
countrycode            SSD
year                  1998
gdp             4.1976e+10
population     6.09992e+06
Name: 8423, dtype: object)
(8424, countryname    Sao Tome and Principe
countrycode                      STP
year                            1998
gdp                         9.45e+08
population                    133418
Name: 8424, dtype: object)
(8425, countryname    Suriname
countrycode         SUR
year               1998
gdp            9.45e+08
population       461560
Name: 8425, dtype: object)
(8426, countryname    Slovak Republic
countrycode                SVK
year                      1998
gdp                2.98289e+10
population         5.39052e+06
Name: 8426, dtype: object)
(8427, countryname       Slovenia
countrycode            SVN
year                  1998
gdp            2.21254e+10
population     1.98163e+06
Name: 8427, dtype: object)
(8428, countryname         Sweden
countrycode            SWE
year                  1998
gdp              2.668e+11
population     8.85097e+06
Name: 8428, dtype: object)
(8429, countryname      Swaziland
countrycode            SWZ
year                  1998
gdp             1.5769e+09
population     1.02601e+06
Name: 8429, dtype: object)
(8430, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1998
gdp                          6.08369e+08
population                         31240
Name: 8430, dtype: object)
(8431, countryname     Seychelles
countrycode            SYC
year                  1998
gdp            6.08369e+08
population           78846
Name: 8431, dtype: object)
(8432, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1998
gdp                     1.52008e+10
population              1.56022e+07
Name: 8432, dtype: object)
(8433, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1998
gdp                         1.74479e+09
population                        17115
Name: 8433, dtype: object)
(8434, countryname           Chad
countrycode            TCD
year                  1998
gdp            1.74479e+09
population     7.75926e+06
Name: 8434, dtype: object)
(8435, countryname           Togo
countrycode            TGO
year                  1998
gdp            1.58735e+09
population     4.67902e+06
Name: 8435, dtype: object)
(8436, countryname       Thailand
countrycode            THA
year                  1998
gdp            1.13676e+11
population     6.15973e+07
Name: 8436, dtype: object)
(8437, countryname     Tajikistan
countrycode            TJK
year                  1998
gdp            1.32013e+09
population     6.02169e+06
Name: 8437, dtype: object)
(8438, countryname    Turkmenistan
countrycode             TKM
year                   1998
gdp             2.60566e+09
population      4.41348e+06
Name: 8438, dtype: object)
(8439, countryname    Timor-Leste
countrycode            TLS
year                  1998
gdp            4.08028e+11
population          865194
Name: 8439, dtype: object)
(8440, countryname          Tonga
countrycode            TON
year                  1998
gdp            1.88687e+08
population           97135
Name: 8440, dtype: object)
(8441, countryname    Trinidad and Tobago
countrycode                    TTO
year                          1998
gdp                    6.04369e+09
population             1.26254e+06
Name: 8441, dtype: object)
(8442, countryname        Tunisia
countrycode            TUN
year                  1998
gdp            2.18034e+10
population      9.4994e+06
Name: 8442, dtype: object)
(8443, countryname         Turkey
countrycode            TUR
year                  1998
gdp            2.75769e+11
population     6.13296e+07
Name: 8443, dtype: object)
(8444, countryname         Tuvalu
countrycode            TUV

Name: 8542, dtype: object)
(8543, countryname           Guam
countrycode            GUM
year                  1999
gdp            1.83184e+10
population          153953
Name: 8543, dtype: object)
(8544, countryname         Guyana
countrycode            GUY
year                  1999
gdp            6.94755e+08
population          755278
Name: 8544, dtype: object)
(8545, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           1999
gdp                     1.65768e+11
population               6.6065e+06
Name: 8545, dtype: object)
(8546, countryname       Honduras
countrycode            HND
year                  1999
gdp            5.37254e+09
population     6.35722e+06
Name: 8546, dtype: object)
(8547, countryname        Croatia
countrycode            HRV
year                  1999
gdp            2.33869e+10
population       4.554e+06
Name: 8547, dtype: object)
(8548, countryname          Haiti
countrycode            HTI
year                  1999
gdp            4.15374e+09
population      8.4044e+06
Name: 8548, dtype: object)
(8549, countryname        Hungary
countrycode            HUN
year                  1999
gdp            4.91704e+10
population     1.02375e+07
Name: 8549, dtype: object)
(8550, countryname      Indonesia
countrycode            IDN
year                  1999
gdp            1.40001e+11
population     2.08613e+08
Name: 8550, dtype: object)
(8551, countryname    Isle of Man
countrycode            IMN
year                  1999
gdp            1.56747e+09
population           71952
Name: 8551, dtype: object)
(8552, countryname          India
countrycode            IND
year                  1999
gdp              4.527e+11
population     1.03454e+09
Name: 8552, dtype: object)
(8553, countryname        Ireland
countrycode            IRL
year                  1999
gdp            9.86918e+10
population     3.75479e+06
Name: 8553, dtype: object)
(8554, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         1999
gdp                   1.13848e+11
population            6.50627e+07
Name: 8554, dtype: object)
(8555, countryname           Iraq
countrycode            IRQ
year                  1999
gdp            1.79886e+11
population     2.28782e+07
Name: 8555, dtype: object)
(8556, countryname        Iceland
countrycode            ISL
year                  1999
gdp            8.91729e+09
population          277381
Name: 8556, dtype: object)
(8557, countryname        Israel
countrycode           ISR
year                 1999
gdp            1.1719e+11
population      6.125e+06
Name: 8557, dtype: object)
(8558, countryname          Italy
countrycode            ITA
year                  1999
gdp            1.24856e+12
population     5.69163e+07
Name: 8558, dtype: object)
(8559, countryname        Jamaica
countrycode            JAM
year                  1999
gdp            8.85158e+09
population     2.63488e+06
Name: 8559, dtype: object)
(8560, countryname         Jordan
countrycode            JOR
year                  1999
gdp            8.14911e+09
population      5.0149e+06
Name: 8560, dtype: object)
(8561, countryname          Japan
countrycode            JPN
year                  1999
gdp            4.56208e+12
population     1.26631e+08
Name: 8561, dtype: object)
(8562, countryname     Kazakhstan
countrycode            KAZ
year                  1999
gdp            1.68708e+10
population     1.49284e+07
Name: 8562, dtype: object)
(8563, countryname          Kenya
countrycode            KEN
year                  1999
gdp             1.2896e+10
population     3.06004e+07
Name: 8563, dtype: object)
(8564, countryname    Kyrgyz Republic
countrycode                KGZ
year                      1999
gdp                1.24906e+09
population          4.8404e+06
Name: 8564, dtype: object)
(8565, countryname       Cambodia
countrycode            KHM
year                  1999
gdp            3.51724e+09
population     1.18836e+07
Name: 8565, dtype: object)
(8566, countryname       Kiribati
countrycode            KIR
year                  1999
gdp            6.90323e+07
population           82966
Name: 8566, dtype: object)
(8567, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          1999
gdp                    3.89984e+08
population                   44824
Name: 8567, dtype: object)
(8568, countryname    Korea, Rep.
countrycode            KOR
year                  1999
gdp            4.85248e+11
population     4.66167e+07
Name: 8568, dtype: object)
(8569, countryname         Kuwait
countrycode            KWT
year                  1999
gdp            3.01219e+10
population     1.95707e+06
Name: 8569, dtype: object)
(8570, countryname        Lao PDR
countrycode            LAO
year                  1999
gdp            1.45443e+09
population     5.24128e+06
Name: 8570, dtype: object)
(8571, countryname        Lebanon
countrycode            LBN
year                  1999
gdp            1.73911e+10
population     3.15665e+06
Name: 8571, dtype: object)
(8572, countryname        Liberia
countrycode            LBR
year                  1999
gdp              4.418e+08
population     2.73452e+06
Name: 8572, dtype: object)
(8573, countryname          Libya
countrycode            LBY
year                  1999
gdp            3.59767e+10
population     5.27416e+06
Name: 8573, dtype: object)
(8574, countryname      St. Lucia
countrycode            LCA
year                  1999
gdp            7.75935e+08
population          155172
Name: 8574, dtype: object)
(8575, countryname    Liechtenstein
countrycode              LIE
year                    1999
gdp              2.66403e+09
population             32842
Name: 8575, dtype: object)
(8576, countryname      Sri Lanka
countrycode            LKA
year                  1999
gdp            1.57119e+10
population     1.86691e+07
Name: 8576, dtype: object)
(8577, countryname        Lesotho
countrycode            LSO
year                  1999
gdp            9.12771e+08
population     1.85053e+06
Name: 8577, dtype: object)
(8578, countryname      Lithuania
countrycode            LTU
year                  1999
gdp            1.09729e+10
population     3.52424e+06
Name: 8578, dtype: object)
(8579, countryname     Luxembourg
countrycode            LUX
year                  1999
gdp            2.22359e+10
population          430475
Name: 8579, dtype: object)
(8580, countryname         Latvia
countrycode            LVA
year                  1999
gdp            7.53319e+09
population     2.39048e+06
Name: 8580, dtype: object)
(8581, countryname    Macao SAR, China
countrycode                 MAC
year                       1999
gdp                 6.49057e+09
population               418604
Name: 8581, dtype: object)
(8582, countryname    St. Martin (French part)
countrycode                         MAF
year                               1999
gdp                          4.1632e+10
population                        29305
Name: 8582, dtype: object)
(8583, countryname        Morocco
countrycode            MAR
year                  1999
gdp             4.1632e+10
population     2.85148e+07
Name: 8583, dtype: object)
(8584, countryname         Monaco
countrycode            MCO
year                  1999
gdp            2.90601e+09
population           31800
Name: 8584, dtype: object)
(8585, countryname        Moldova
countrycode            MDA
year                  1999
gdp            1.17079e+09
population       3.647e+06
Name: 8585, dtype: object)
(8586, countryname     Madagascar
countrycode            MDG
year                  1999
gdp            3.71752e+09
population     1.52825e+07
Name: 8586, dtype: object)
(8587, countryname      Maldives
countrycode           MDV
year                 1999
gdp            5.8924e+08
population         274484
Name: 8587, dtype: object)
(8588, countryname         Mexico
countrycode            MEX
year                  1999
gdp            6.00233e+11
population     1.00301e+08
Name: 8588, dtype: object)
(8589, countryname    Marshall Islands
countrycode                 MHL
year                       1999
gdp                 1.07979e+08
population                52079
Name: 8589, dtype: object)
(8590, countryname    Macedonia, FYR
countrycode               MKD
year                     1999
gdp               3.67329e+09
population        2.02439e+06
Name: 8590, dtype: object)
(8591, countryname           Mali
countrycode            MLI
year                  1999
gdp            3.43946e+09
population     1.06637e+07
Name: 8591, dtype: object)
(8592, countryname          Malta
countrycode            MLT
year                  1999
gdp            4.12731e+09
population          387578
Name: 8592, dtype: object)
(8593, countryname        Myanmar
countrycode            MMR
year                  1999
gdp            4.35883e+11
population     4.55394e+07
Name: 8593, dtype: object)
(8594, countryname     Montenegro
countrycode            MNE
year                  1999
gdp            1.05741e+09
population          606001
Name: 8594, dtype: object)
(8595, countryname       Mongolia
countrycode            MNG
year                  1999
gdp            1.05741e+09
population     2.37616e+06
Name: 8595, dtype: object)
(8596, countryname    Northern Mariana Islands
countrycode                         MNP
year                               1999
gdp                         1.17079e+09
population                        67755
Name: 8596, dtype: object)
(8597, countryname     Mozambique
countrycode            MOZ
year                  1999
gdp            5.30253e+09
population     1.75849e+07
Name: 8597, dtype: object)
(8598, countryname     Mauritania
countrycode            MRT
year                  1999
gdp            1.40566e+09
population      2.6288e+06
Name: 8598, dtype: object)
(8599, countryname      Mauritius
countrycode            MUS
year                  1999
gdp            4.29117e+09
population     1.17527e+06
Name: 8599, dtype: object)
(8600, countryname         Malawi
countrycode            MWI
year                  1999
gdp            1.77592e+09
population     1.10444e+07
Name: 8600, dtype: object)
(8601, countryname       Malaysia
countrycode            MYS
year                  1999
gdp            7.91489e+10
population     2.26563e+07
Name: 8601, dtype: object)
(8602, countryname        Namibia
countrycode            NAM
year                  1999
gdp            3.81895e+09
population     1.85804e+06
Name: 8602, dtype: object)
(8603, countryname    New Caledonia
countrycode              NCL
year                    1999
gdp                3.057e+09
population            209214
Name: 8603, dtype: object)
(8604, countryname          Niger
countrycode            NER
year                  1999
gdp            2.01819e+09
population     1.09478e+07
Name: 8604, dtype: object)
(8605, countryname        Nigeria
countrycode            NGA
year                  1999
gdp            3.58708e+10
population     1.19327e+08
Name: 8605, dtype: object)
(8606, countryname      Nicaragua
countrycode            NIC
year                  1999
gdp            4.85572e+09
population     4.94966e+06
Name: 8606, dtype: object)
(8607, countryname    Netherlands
countrycode            NLD
year                  1999
gdp            4.41975e+11
population     1.58121e+07
Name: 8607, dtype: object)
(8608, countryname         Norway
countrycode            NOR
year                  1999
gdp            1.62286e+11
population     4.46191e+06
Name: 8608, dtype: object)
(8609, countryname          Nepal
countrycode            NPL
year                  1999
gdp            5.03364e+09
population      2.3306e+07
Name: 8609, dtype: object)
(8610, countryname          Nauru
countrycode            NRU
year                  1999
gdp            5.03364e+09
population           10040
Name: 8610, dtype: object)
(8611, countryname    New Zealand
countrycode            NZL
year                  1999
gdp            5.87623e+10
population      3.8351e+06
Name: 8611, dtype: object)
(8612, countryname           Oman
countrycode            OMN
year                  1999
gdp            1.57101e+10
population     2.25492e+06
Name: 8612, dtype: object)
(8613, countryname       Pakistan
countrycode            PAK
year                  1999
gdp            6.29739e+10
population     1.35406e+08
Name: 8613, dtype: object)
(8614, countryname         Panama
countrycode            PAN
year                  1999
gdp            1.21303e+10
population      2.9712e+06
Name: 8614, dtype: object)
(8615, countryname           Peru
countrycode            PER
year                  1999
gdp            5.01873e+10
population     2.55613e+07
Name: 8615, dtype: object)
(8616, countryname    Philippines
countrycode            PHL
year                  1999
gdp            8.29951e+10
population     7.63358e+07
Name: 8616, dtype: object)
(8617, countryname          Palau
countrycode            PLW
year                  1999
gdp            3.47704e+09
population           18879
Name: 8617, dtype: object)
(8618, countryname    Papua New Guinea
countrycode                 PNG
year                       1999
gdp                 3.47704e+09
population          5.43048e+06
Name: 8618, dtype: object)
(8619, countryname         Poland
countrycode            POL
year                  1999
gdp            1.69718e+11
population     3.86603e+07
Name: 8619, dtype: object)
(8620, countryname    Puerto Rico
countrycode            PRI
year                  1999
gdp             5.7841e+10
population     3.80008e+06
Name: 8620, dtype: object)
(8621, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                1999
gdp                          1.27466e+11
population                    2.2732e+07
Name: 8621, dtype: object)
(8622, countryname       Portugal
countrycode            PRT
year                  1999
gdp            1.27466e+11
population     1.02178e+07
Name: 8622, dtype: object)
(8623, countryname       Paraguay
countrycode            PRY
year                  1999
gdp            8.39255e+09
population     5.19694e+06
Name: 8623, dtype: object)
(8624, countryname    West Bank and Gaza
countrycode                   PSE
year                         1999
gdp                    4.2712e+09
population            2.84843e+06
Name: 8624, dtype: object)
(8625, countryname    French Polynesia
countrycode                 PYF
year                       1999
gdp                 3.79702e+09
population               232952
Name: 8625, dtype: object)
(8626, countryname          Qatar
countrycode            QAT
year                  1999
gdp            1.23931e+10
population          569447
Name: 8626, dtype: object)
(8627, countryname       Romania
countrycode           ROU
year                 1999
gdp            3.6183e+10
population     2.2472e+07
Name: 8627, dtype: object)
(8628, countryname    Russian Federation
countrycode                   RUS
year                         1999
gdp                   1.95906e+11
population            1.47214e+08
Name: 8628, dtype: object)
(8629, countryname         Rwanda
countrycode            RWA
year                  1999
gdp            1.81765e+09
population     7.59324e+06
Name: 8629, dtype: object)
(8630, countryname    Saudi Arabia
countrycode             SAU
year                   1999
gdp             1.61717e+11
population      2.02944e+07
Name: 8630, dtype: object)
(8631, countryname         Sudan
countrycode           SDN
year                 1999
gdp            1.0682e+10
population     2.6607e+07
Name: 8631, dtype: object)
(8632, countryname        Senegal
countrycode            SEN
year                  1999
gdp            5.14405e+09
population     9.64596e+06
Name: 8632, dtype: object)
(8633, countryname      Singapore
countrycode            SGP
year                  1999
gdp            8.62831e+10
population     3.95872e+06
Name: 8633, dtype: object)
(8634, countryname    Solomon Islands
countrycode                SLB
year                      1999
gdp                4.82214e+08
population              401538
Name: 8634, dtype: object)
(8635, countryname    Sierra Leone
countrycode             SLE
year                   1999
gdp             6.69385e+08
population       4.4378e+06
Name: 8635, dtype: object)
(8636, countryname    El Salvador
countrycode            SLV
year                  1999
gdp            1.12842e+10
population     5.82519e+06
Name: 8636, dtype: object)
(8637, countryname     San Marino
countrycode            SMR
year                  1999
gdp            1.21564e+09
population           27096
Name: 8637, dtype: object)
(8638, countryname        Somalia
countrycode            SOM
year                  1999
gdp            1.84094e+10
population     8.72023e+06
Name: 8638, dtype: object)
(8639, countryname         Serbia
countrycode            SRB
year                  1999
gdp            1.84094e+10
population      7.5404e+06
Name: 8639, dtype: object)
(8640, countryname    South Sudan
countrycode            SSD
year                  1999
gdp            1.16362e+11
population     6.40586e+06
Name: 8640, dtype: object)
(8641, countryname    Sao Tome and Principe
countrycode                      STP
year                            1999
gdp                      8.85444e+08
population                    135886
Name: 8641, dtype: object)
(8642, countryname       Suriname
countrycode            SUR
year                  1999
gdp            8.85444e+08
population          467003
Name: 8642, dtype: object)
(8643, countryname    Slovak Republic
countrycode                SVK
year                      1999
gdp                3.04151e+10
population         5.39602e+06
Name: 8643, dtype: object)
(8644, countryname       Slovenia
countrycode            SVN
year                  1999
gdp              2.269e+10
population     1.98304e+06
Name: 8644, dtype: object)
(8645, countryname         Sweden
countrycode            SWE
year                  1999
gdp            2.70848e+11
population     8.85787e+06
Name: 8645, dtype: object)
(8646, countryname      Swaziland
countrycode            SWZ
year                  1999
gdp            1.54788e+09
population     1.04563e+06
Name: 8646, dtype: object)
(8647, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                1999
gdp                          6.22985e+08
population                         31084
Name: 8647, dtype: object)
(8648, countryname     Seychelles
countrycode            SYC
year                  1999
gdp            6.22985e+08
population           80410
Name: 8648, dtype: object)
(8649, countryname    Syrian Arab Republic
countrycode                     SYR
year                           1999
gdp                     1.58739e+10
population              1.60161e+07
Name: 8649, dtype: object)
(8650, countryname    Turks and Caicos Islands
countrycode                         TCA
year                               1999
gdp                         1.53467e+09
population                        17864
Name: 8650, dtype: object)
(8651, countryname           Chad
countrycode            TCD
year                  1999
gdp            1.53467e+09
population     8.04185e+06
Name: 8651, dtype: object)
(8652, countryname           Togo
countrycode            TGO
year                  1999
gdp            1.57609e+09
population      4.8257e+06
Name: 8652, dtype: object)
(8653, countryname       Thailand
countrycode            THA
year                  1999
gdp            1.26669e+11
population     6.23067e+07
Name: 8653, dtype: object)
(8654, countryname     Tajikistan
countrycode            TJK
year                  1999
gdp            1.08657e+09
population     6.11489e+06
Name: 8654, dtype: object)
(8655, countryname    Turkmenistan
countrycode             TKM
year                   1999
gdp             2.45064e+09
population      4.46613e+06
Name: 8655, dtype: object)
(8656, countryname    Timor-Leste
countrycode            TLS

Name: 8751, dtype: object)
(8752, countryname         Guinea
countrycode            GIN
year                  2000
gdp            2.99536e+09
population     8.80855e+06
Name: 8752, dtype: object)
(8753, countryname    Gambia, The
countrycode            GMB
year                  2000
gdp            7.82915e+08
population     1.23184e+06
Name: 8753, dtype: object)
(8754, countryname    Guinea-Bissau
countrycode              GNB
year                    2000
gdp              3.70174e+08
population       1.24323e+06
Name: 8754, dtype: object)
(8755, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2000
gdp                    1.046e+09
population                614323
Name: 8755, dtype: object)
(8756, countryname         Greece
countrycode            GRC
year                  2000
gdp            1.30134e+11
population     1.08058e+07
Name: 8756, dtype: object)
(8757, countryname        Grenada
countrycode            GRD
year                  2000
gdp            5.20044e+08
population          101619
Name: 8757, dtype: object)
(8758, countryname      Greenland
countrycode            GRL
year                  2000
gdp            1.06803e+09
population           56200
Name: 8758, dtype: object)
(8759, countryname      Guatemala
countrycode            GTM
year                  2000
gdp            1.92888e+10
population     1.16507e+07
Name: 8759, dtype: object)
(8760, countryname           Guam
countrycode            GUM
year                  2000
gdp            7.12668e+08
population          155329
Name: 8760, dtype: object)
(8761, countryname         Guyana
countrycode            GUY
year                  2000
gdp            7.12668e+08
population          753301
Name: 8761, dtype: object)
(8762, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2000
gdp                     1.71668e+11
population                6.665e+06
Name: 8762, dtype: object)
(8763, countryname       Honduras
countrycode            HND
year                  2000
gdp            7.10351e+09
population     6.52428e+06
Name: 8763, dtype: object)
(8764, countryname        Croatia
countrycode            HRV
year                  2000
gdp            2.17743e+10
population       4.426e+06
Name: 8764, dtype: object)
(8765, countryname          Haiti
countrycode            HTI
year                  2000
gdp            3.95385e+09
population      8.5492e+06
Name: 8765, dtype: object)
(8766, countryname        Hungary
countrycode            HUN
year                  2000
gdp            4.73106e+10
population      1.0211e+07
Name: 8766, dtype: object)
(8767, countryname      Indonesia
countrycode            IDN
year                  2000
gdp            1.65021e+11
population      2.1154e+08
Name: 8767, dtype: object)
(8768, countryname    Isle of Man
countrycode            IMN
year                  2000
gdp            1.56367e+09
population           72554
Name: 8768, dtype: object)
(8769, countryname          India
countrycode            IND
year                  2000
gdp            4.62147e+11
population     1.05305e+09
Name: 8769, dtype: object)
(8770, countryname        Ireland
countrycode            IRL
year                  2000
gdp            9.98535e+10
population     3.80517e+06
Name: 8770, dtype: object)
(8771, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2000
gdp                   1.09592e+11
population            6.61319e+07
Name: 8771, dtype: object)
(8772, countryname           Iraq
countrycode            IRQ
year                  2000
gdp            1.79886e+11
population     2.35654e+07
Name: 8772, dtype: object)
(8773, countryname        Iceland
countrycode            ISL
year                  2000
gdp            8.92714e+09
population          281205
Name: 8773, dtype: object)
(8774, countryname         Israel
countrycode            ISR
year                  2000
gdp            1.32339e+11
population       6.289e+06
Name: 8774, dtype: object)
(8775, countryname          Italy
countrycode            ITA
year                  2000
gdp            1.14176e+12
population     5.69421e+07
Name: 8775, dtype: object)
(8776, countryname        Jamaica
countrycode            JAM
year                  2000
gdp            8.98535e+09
population     2.65686e+06
Name: 8776, dtype: object)
(8777, countryname         Jordan
countrycode            JOR
year                  2000
gdp            8.46042e+09
population     5.10313e+06
Name: 8777, dtype: object)
(8778, countryname          Japan
countrycode            JPN
year                  2000
gdp            4.88752e+12
population     1.26843e+08
Name: 8778, dtype: object)
(8779, countryname     Kazakhstan
countrycode            KAZ
year                  2000
gdp             1.8292e+10
population     1.48836e+07
Name: 8779, dtype: object)
(8780, countryname          Kenya
countrycode            KEN
year                  2000
gdp            1.27054e+10
population     3.14505e+07
Name: 8780, dtype: object)
(8781, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2000
gdp                1.36969e+09
population          4.8984e+06
Name: 8781, dtype: object)
(8782, countryname       Cambodia
countrycode            KHM
year                  2000
gdp             3.6779e+09
population     1.21524e+07
Name: 8782, dtype: object)
(8783, countryname       Kiribati
countrycode            KIR
year                  2000
gdp            6.72542e+07
population           84406
Name: 8783, dtype: object)
(8784, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2000
gdp                    4.20515e+08
population                   45374
Name: 8784, dtype: object)
(8785, countryname    Korea, Rep.
countrycode            KOR
year                  2000
gdp            5.61633e+11
population     4.70081e+07
Name: 8785, dtype: object)
(8786, countryname         Kuwait
countrycode            KWT
year                  2000
gdp            3.77119e+10
population     2.05074e+06
Name: 8786, dtype: object)
(8787, countryname       Lao PDR
countrycode           LAO
year                 2000
gdp            1.7312e+09
population     5.3293e+06
Name: 8787, dtype: object)
(8788, countryname        Lebanon
countrycode            LBN
year                  2000
gdp            1.72604e+10
population     3.23537e+06
Name: 8788, dtype: object)
(8789, countryname        Liberia
countrycode            LBR
year                  2000
gdp            5.29065e+08
population     2.88452e+06
Name: 8789, dtype: object)
(8790, countryname          Libya
countrycode            LBY
year                  2000
gdp            3.82702e+10
population     5.35575e+06
Name: 8790, dtype: object)
(8791, countryname      St. Lucia
countrycode            LCA
year                  2000
gdp            7.84159e+08
population          156949
Name: 8791, dtype: object)
(8792, countryname    Liechtenstein
countrycode              LIE
year                    2000
gdp              2.48395e+09
population             33286
Name: 8792, dtype: object)
(8793, countryname      Sri Lanka
countrycode            LKA
year                  2000
gdp            1.65959e+10
population     1.87819e+07
Name: 8793, dtype: object)
(8794, countryname        Lesotho
countrycode            LSO
year                  2000
gdp            8.87295e+08
population      1.8687e+06
Name: 8794, dtype: object)
(8795, countryname      Lithuania
countrycode            LTU
year                  2000
gdp            1.15392e+10
population     3.49954e+06
Name: 8795, dtype: object)
(8796, countryname     Luxembourg
countrycode            LUX
year                  2000
gdp            2.12635e+10
population          436300
Name: 8796, dtype: object)
(8797, countryname         Latvia
countrycode            LVA
year                  2000
gdp            7.93776e+09
population     2.36755e+06
Name: 8797, dtype: object)
(8798, countryname    Macao SAR, China
countrycode                 MAC
year                       2000
gdp                 6.72049e+09
population               427979
Name: 8798, dtype: object)
(8799, countryname    St. Martin (French part)
countrycode                         MAF
year                               2000
gdp                         3.88573e+10
population                        28384
Name: 8799, dtype: object)
(8800, countryname        Morocco
countrycode            MAR
year                  2000
gdp            3.88573e+10
population     2.88496e+07
Name: 8800, dtype: object)
(8801, countryname         Monaco
countrycode            MCO
year                  2000
gdp            2.64788e+09
population           32082
Name: 8801, dtype: object)
(8802, countryname        Moldova
countrycode            MDA
year                  2000
gdp            1.28843e+09
population     3.63959e+06
Name: 8802, dtype: object)
(8803, countryname     Madagascar
countrycode            MDG
year                  2000
gdp            3.87767e+09
population     1.57668e+07
Name: 8803, dtype: object)
(8804, countryname       Maldives
countrycode            MDV
year                  2000
gdp            6.24337e+08
population          280384
Name: 8804, dtype: object)
(8805, countryname         Mexico
countrycode            MEX
year                  2000
gdp            7.07907e+11
population      1.0172e+08
Name: 8805, dtype: object)
(8806, countryname    Marshall Islands
countrycode                 MHL
year                       2000
gdp                 1.10938e+08
population                52159
Name: 8806, dtype: object)
(8807, countryname    Macedonia, FYR
countrycode               MKD
year                     2000
gdp               3.77285e+09
population        2.03482e+06
Name: 8807, dtype: object)
(8808, countryname           Mali
countrycode            MLI
year                  2000
gdp            2.95413e+09
population     1.09677e+07
Name: 8808, dtype: object)
(8809, countryname          Malta
countrycode            MLT
year                  2000
gdp            4.30619e+09
population          390087
Name: 8809, dtype: object)
(8810, countryname        Myanmar
countrycode            MMR
year                  2000
gdp            8.90507e+09
population     4.60955e+07
Name: 8810, dtype: object)
(8811, countryname     Montenegro
countrycode            MNE
year                  2000
gdp            9.84298e+08
population          604950
Name: 8811, dtype: object)
(8812, countryname       Mongolia
countrycode            MNG
year                  2000
gdp             1.1369e+09
population     2.39744e+06
Name: 8812, dtype: object)
(8813, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2000
gdp                         4.58256e+09
population                        69094
Name: 8813, dtype: object)
(8814, countryname     Mozambique
countrycode            MOZ
year                  2000
gdp            5.01647e+09
population     1.80677e+07
Name: 8814, dtype: object)
(8815, countryname     Mauritania
countrycode            MRT
year                  2000
gdp            1.29365e+09
population     2.70936e+06
Name: 8815, dtype: object)
(8816, countryname      Mauritius
countrycode            MUS
year                  2000
gdp            4.58256e+09
population     1.18687e+06
Name: 8816, dtype: object)
(8817, countryname         Malawi
countrycode            MWI
year                  2000
gdp            1.74351e+09
population     1.13762e+07
Name: 8817, dtype: object)
(8818, countryname       Malaysia
countrycode            MYS
year                  2000
gdp            9.37897e+10
population     2.31856e+07
Name: 8818, dtype: object)
(8819, countryname        Namibia
countrycode            NAM
year                  2000
gdp            3.90866e+09
population     1.89926e+06
Name: 8819, dtype: object)
(8820, countryname    New Caledonia
countrycode              NCL
year                    2000
gdp              2.68235e+09
population            213230
Name: 8820, dtype: object)
(8821, countryname          Niger
countrycode            NER
year                  2000
gdp            1.79837e+09
population      1.1353e+07
Name: 8821, dtype: object)
(8822, countryname        Nigeria
countrycode            NGA
year                  2000
gdp             4.6386e+10
population     1.22352e+08
Name: 8822, dtype: object)
(8823, countryname      Nicaragua
countrycode            NIC
year                  2000
gdp            5.10733e+09
population      5.0268e+06
Name: 8823, dtype: object)
(8824, countryname    Netherlands
countrycode            NLD
year                  2000
gdp            4.12807e+11
population     1.59255e+07
Name: 8824, dtype: object)
(8825, countryname         Norway
countrycode            NOR
year                  2000
gdp            1.71316e+11
population     4.49097e+06
Name: 8825, dtype: object)
(8826, countryname          Nepal
countrycode            NPL
year                  2000
gdp            5.49425e+09
population     2.37409e+07
Name: 8826, dtype: object)
(8827, countryname          Nauru
countrycode            NRU
year                  2000
gdp            5.49425e+09
population           10037
Name: 8827, dtype: object)
(8828, countryname    New Zealand
countrycode            NZL
year                  2000
gdp            5.26228e+10
population      3.8577e+06
Name: 8828, dtype: object)
(8829, countryname           Oman
countrycode            OMN
year                  2000
gdp            1.95074e+10
population     2.26799e+06
Name: 8829, dtype: object)
(8830, countryname       Pakistan
countrycode            PAK
year                  2000
gdp            7.39524e+10
population     1.38523e+08
Name: 8830, dtype: object)
(8831, countryname         Panama
countrycode            PAN
year                  2000
gdp            1.23041e+10
population     3.03035e+06
Name: 8831, dtype: object)
(8832, countryname           Peru
countrycode            PER
year                  2000
gdp            5.17447e+10
population     2.59149e+07
Name: 8832, dtype: object)
(8833, countryname    Philippines
countrycode            PHL
year                  2000
gdp            8.10263e+10
population     7.79916e+07
Name: 8833, dtype: object)
(8834, countryname         Palau
countrycode           PLW
year                 2000
gdp            1.4477e+08
population          19175
Name: 8834, dtype: object)
(8835, countryname    Papua New Guinea
countrycode                 PNG
year                       2000
gdp                 3.52134e+09
population          5.57222e+06
Name: 8835, dtype: object)
(8836, countryname         Poland
countrycode            POL
year                  2000
gdp            1.71886e+11
population     3.82586e+07
Name: 8836, dtype: object)
(8837, countryname    Puerto Rico
countrycode            PRI
year                  2000
gdp            6.17018e+10
population     3.81060e+06
Name: 8837, dtype: object)
(8838, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                2000
gdp                          1.18358e+11
population                   2.29291e+07
Name: 8838, dtype: object)
(8839, countryname       Portugal
countrycode            PRT
year                  2000
gdp            1.18358e+11
population     1.02899e+07
Name: 8839, dtype: object)
(8840, countryname       Paraguay
countrycode            PRY
year                  2000
gdp            8.19599e+09
population      5.3027e+06
Name: 8840, dtype: object)
(8841, countryname    West Bank and Gaza
countrycode                   PSE
year                         2000
gdp                    4.3136e+09
population            2.92215e+06
Name: 8841, dtype: object)
(8842, countryname    French Polynesia
countrycode                 PYF
year                       2000
gdp                 3.44754e+09
population               237258
Name: 8842, dtype: object)
(8843, countryname          Qatar
countrycode            QAT
year                  2000
gdp            1.77599e+10
population          592267
Name: 8843, dtype: object)
(8844, countryname        Romania
countrycode            ROU
year                  2000
gdp            3.74385e+10
population      2.2443e+07
Name: 8844, dtype: object)
(8845, countryname    Russian Federation
countrycode                   RUS
year                         2000
gdp                   2.59708e+11
population            1.46597e+08
Name: 8845, dtype: object)
(8846, countryname         Rwanda
countrycode            RWA
year                  2000
gdp            1.73494e+09
population      8.0257e+06
Name: 8846, dtype: object)
(8847, countryname    Saudi Arabia
countrycode             SAU
year                   2000
gdp             1.89515e+11
population      2.07643e+07
Name: 8847, dtype: object)
(8848, countryname          Sudan
countrycode            SDN
year                  2000
gdp            1.22574e+10
population     2.72505e+07
Name: 8848, dtype: object)
(8849, countryname        Senegal
countrycode            SEN
year                  2000
gdp             4.6796e+09
population     9.88405e+06
Name: 8849, dtype: object)
(8850, countryname      Singapore
countrycode            SGP
year                  2000
gdp            9.58339e+10
population     4.02789e+06
Name: 8850, dtype: object)
(8851, countryname    Solomon Islands
countrycode                SLB
year                      2000
gdp                4.35104e+08
population              412609
Name: 8851, dtype: object)
(8852, countryname    Sierra Leone
countrycode             SLE
year                   2000
gdp             6.35874e+08
population       4.5643e+06
Name: 8852, dtype: object)
(8853, countryname    El Salvador
countrycode            SLV
year                  2000
gdp            1.17849e+10
population     5.86763e+06
Name: 8853, dtype: object)
(8854, countryname    San Marino
countrycode           SMR
year                 2000
gdp            1.1019e+09
population          27418
Name: 8854, dtype: object)
(8855, countryname        Somalia
countrycode            SOM
year                  2000
gdp            6.54025e+09
population     9.01148e+06
Name: 8855, dtype: object)
(8856, countryname         Serbia
countrycode            SRB
year                  2000
gdp            6.54025e+09
population     7.51635e+06
Name: 8856, dtype: object)
(8857, countryname    South Sudan
countrycode            SSD
year                  2000
gdp            3.74385e+10
population     6.70066e+06
Name: 8857, dtype: object)
(8858, countryname    Sao Tome and Principe
countrycode                      STP
year                            2000
gdp                      8.92164e+08
population                    138606
Name: 8858, dtype: object)
(8859, countryname       Suriname
countrycode            SUR
year                  2000
gdp            8.92164e+08
population          472390
Name: 8859, dtype: object)
(8860, countryname    Slovak Republic
countrycode                SVK
year                      2000
gdp                2.91149e+10
population         5.38872e+06
Name: 8860, dtype: object)
(8861, countryname       Slovenia
countrycode            SVN
year                  2000
gdp            2.03422e+10
population     1.98892e+06
Name: 8861, dtype: object)
(8862, countryname         Sweden
countrycode            SWE
year                  2000
gdp            2.59802e+11
population     8.87211e+06
Name: 8862, dtype: object)
(8863, countryname      Swaziland
countrycode            SWZ
year                  2000
gdp             1.7381e+09
population     1.06147e+06
Name: 8863, dtype: object)
(8864, countryname    Sint Maarten (Dutch part)
countrycode                          SXM
year                                2000
gdp                           6.1488e+08
population                         30519
Name: 8864, dtype: object)
(8865, countryname    Seychelles
countrycode           SYC
year                 2000
gdp            6.1488e+08

Name: 8962, dtype: object)
(8963, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2001
gdp                      2.40052e+08
population                    107165
Name: 8963, dtype: object)
(8964, countryname          Gabon
countrycode            GAB
year                  2001
gdp            5.01887e+09
population     1.26226e+06
Name: 8964, dtype: object)
(8965, countryname    United Kingdom
countrycode               GBR
year                     2001
gdp               1.62151e+12
population        5.91197e+07
Name: 8965, dtype: object)
(8966, countryname        Georgia
countrycode            GEO
year                  2001
gdp            3.21949e+09
population      4.3864e+06
Name: 8966, dtype: object)
(8967, countryname          Ghana
countrycode            GHA
year                  2001
gdp            5.31491e+09
population     1.94216e+07
Name: 8967, dtype: object)
(8968, countryname     Gibraltar
countrycode           GIB
year                 2001
gdp            1.1549e+09
population          31374
Name: 8968, dtype: object)
(8969, countryname         Guinea
countrycode            GIN
year                  2001
gdp            2.83344e+09
population     8.97114e+06
Name: 8969, dtype: object)
(8970, countryname    Gambia, The
countrycode            GMB
year                  2001
gdp            6.87409e+08
population      1.2705e+06
Name: 8970, dtype: object)
(8971, countryname    Guinea-Bissau
countrycode              GNB
year                    2001
gdp              3.92278e+08
population       1.26751e+06
Name: 8971, dtype: object)
(8972, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2001
gdp                  1.46114e+09
population                639762
Name: 8972, dtype: object)
(8973, countryname         Greece
countrycode            GRC
year                  2001
gdp            1.36191e+11
population     1.08621e+07
Name: 8973, dtype: object)
(8974, countryname        Grenada
countrycode            GRD
year                  2001
gdp            5.20444e+08
population          101849
Name: 8974, dtype: object)
(8975, countryname      Greenland
countrycode            GRL
year                  2001
gdp            1.08617e+09
population           56350
Name: 8975, dtype: object)
(8976, countryname      Guatemala
countrycode            GTM
year                  2001
gdp            1.87028e+10
population     1.19249e+07
Name: 8976, dtype: object)
(8977, countryname           Guam
countrycode            GUM
year                  2001
gdp            1.87028e+10
population          156401
Name: 8977, dtype: object)
(8978, countryname         Guyana
countrycode            GUY
year                  2001
gdp            6.96281e+08
population          752263
Name: 8978, dtype: object)
(8979, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2001
gdp                     1.69403e+11
population               6.7143e+06
Name: 8979, dtype: object)
(8980, countryname       Honduras
countrycode            HND
year                  2001
gdp            7.56587e+09
population     6.69306e+06
Name: 8980, dtype: object)
(8981, countryname        Croatia
countrycode            HRV
year                  2001
gdp            2.32897e+10
population        4.44e+06
Name: 8981, dtype: object)
(8982, countryname          Haiti
countrycode            HTI
year                  2001
gdp            3.59644e+09
population     8.69257e+06
Name: 8982, dtype: object)
(8983, countryname        Hungary
countrycode            HUN
year                  2001
gdp            5.38213e+10
population     1.01876e+07
Name: 8983, dtype: object)
(8984, countryname      Indonesia
countrycode            IDN
year                  2001
gdp            1.60447e+11
population     2.14507e+08
Name: 8984, dtype: object)
(8985, countryname    Isle of Man
countrycode            IMN
year                  2001
gdp             1.6146e+09
population           73192
Name: 8985, dtype: object)
(8986, countryname          India
countrycode            IND
year                  2001
gdp            4.78965e+11
population     1.07148e+09
Name: 8986, dtype: object)
(8987, countryname        Ireland
countrycode            IRL
year                  2001
gdp            1.09134e+11
population     3.86624e+06
Name: 8987, dtype: object)
(8988, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2001
gdp                   1.26879e+11
population            6.70964e+07
Name: 8988, dtype: object)
(8989, countryname           Iraq
countrycode            IRQ
year                  2001
gdp            1.79886e+11
population     2.42516e+07
Name: 8989, dtype: object)
(8990, countryname        Iceland
countrycode            ISL
year                  2001
gdp            8.13635e+09
population          284968
Name: 8990, dtype: object)
(8991, countryname         Israel
countrycode            ISR
year                  2001
gdp            1.30706e+11
population       6.439e+06
Name: 8991, dtype: object)
(8992, countryname          Italy
countrycode            ITA
year                  2001
gdp            1.16232e+12
population     5.69741e+07
Name: 8992, dtype: object)
(8993, countryname        Jamaica
countrycode            JAM
year                  2001
gdp            9.17802e+09
population     2.67701e+06
Name: 8993, dtype: object)
(8994, countryname         Jordan
countrycode            JOR
year                  2001
gdp            8.97569e+09
population     5.19348e+06
Name: 8994, dtype: object)
(8995, countryname          Japan
countrycode            JPN
year                  2001
gdp            4.30354e+12
population     1.27149e+08
Name: 8995, dtype: object)
(8996, countryname     Kazakhstan
countrycode            KAZ
year                  2001
gdp            2.21527e+10
population     1.48583e+07
Name: 8996, dtype: object)
(8997, countryname          Kenya
countrycode            KEN
year                  2001
gdp             1.2986e+10
population     3.23215e+07
Name: 8997, dtype: object)
(8998, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2001
gdp                1.52511e+09
population          4.9451e+06
Name: 8998, dtype: object)
(8999, countryname       Cambodia
countrycode            KHM
year                  2001
gdp              3.984e+09
population     1.24025e+07
Name: 8999, dtype: object)
(9000, countryname       Kiribati
countrycode            KIR
year                  2001
gdp            6.31013e+07
population           85858
Name: 9000, dtype: object)
(9001, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2001
gdp                    4.61078e+08
population                   45990
Name: 9001, dtype: object)
(9002, countryname    Korea, Rep.
countrycode            KOR
year                  2001
gdp            5.33052e+11
population     4.73702e+07
Name: 9002, dtype: object)
(9003, countryname         Kuwait
countrycode            KWT
year                  2001
gdp            3.48908e+10
population     2.10936e+06
Name: 9003, dtype: object)
(9004, countryname        Lao PDR
countrycode            LAO
year                  2001
gdp            1.76862e+09
population     5.41457e+06
Name: 9004, dtype: object)
(9005, countryname        Lebanon
countrycode            LBN
year                  2001
gdp            1.76498e+10
population     3.35986e+06
Name: 9005, dtype: object)
(9006, countryname        Liberia
countrycode            LBR
year                  2001
gdp               5.21e+08
population     2.99113e+06
Name: 9006, dtype: object)
(9007, countryname          Libya
countrycode            LBY
year                  2001
gdp            3.41101e+10
population     5.44057e+06
Name: 9007, dtype: object)
(9008, countryname      St. Lucia
countrycode            LCA
year                  2001
gdp            7.43808e+08
population          158464
Name: 9008, dtype: object)
(9009, countryname    Liechtenstein
countrycode              LIE
year                    2001
gdp              2.49182e+09
population             33671
Name: 9009, dtype: object)
(9010, countryname      Sri Lanka
countrycode            LKA
year                  2001
gdp            1.57498e+10
population     1.89131e+07
Name: 9010, dtype: object)
(9011, countryname        Lesotho
countrycode            LSO
year                  2001
gdp            8.25707e+08
population     1.88596e+06
Name: 9011, dtype: object)
(9012, countryname      Lithuania
countrycode            LTU
year                  2001
gdp            1.22525e+10
population     3.47082e+06
Name: 9012, dtype: object)
(9013, countryname     Luxembourg
countrycode            LUX
year                  2001
gdp            2.12724e+10
population          441525
Name: 9013, dtype: object)
(9014, countryname         Latvia
countrycode            LVA
year                  2001
gdp            8.35025e+09
population     2.33717e+06
Name: 9014, dtype: object)
(9015, countryname    Macao SAR, China
countrycode                 MAC
year                       2001
gdp                 6.81123e+09
population               438081
Name: 9015, dtype: object)
(9016, countryname    St. Martin (French part)
countrycode                         MAF
year                               2001
gdp                         3.94596e+10
population                        27782
Name: 9016, dtype: object)
(9017, countryname        Morocco
countrycode            MAR
year                  2001
gdp            3.94596e+10
population     2.91818e+07
Name: 9017, dtype: object)
(9018, countryname        Monaco
countrycode           MCO
year                 2001
gdp            2.6714e+09
population          32360
Name: 9018, dtype: object)
(9019, countryname        Moldova
countrycode            MDA
year                  2001
gdp            1.48066e+09
population     3.63146e+06
Name: 9019, dtype: object)
(9020, countryname     Madagascar
countrycode            MDG
year                  2001
gdp            4.52958e+09
population     1.62609e+07
Name: 9020, dtype: object)
(9021, countryname      Maldives
countrycode           MDV
year                 2001
gdp            8.7018e+08
population         287027
Name: 9021, dtype: object)
(9022, countryname         Mexico
countrycode            MEX
year                  2001
gdp            7.56706e+11
population     1.03067e+08
Name: 9022, dtype: object)
(9023, countryname    Marshall Islands
countrycode                 MHL
year                       2001
gdp                 1.15152e+08
population                52183
Name: 9023, dtype: object)
(9024, countryname    Macedonia, FYR
countrycode               MKD
year                     2001
gdp               3.70964e+09
population        2.04284e+06
Name: 9024, dtype: object)
(9025, countryname           Mali
countrycode            MLI
year                  2001
gdp            3.46531e+09
population     1.12933e+07
Name: 9025, dtype: object)
(9026, countryname          Malta
countrycode            MLT
year                  2001
gdp            4.33187e+09
population          393028
Name: 9026, dtype: object)
(9027, countryname        Myanmar
countrycode            MMR
year                  2001
gdp            6.47779e+09
population      4.6628e+07
Name: 9027, dtype: object)
(9028, countryname     Montenegro
countrycode            MNE
year                  2001
gdp            1.15987e+09
population          607389
Name: 9028, dtype: object)
(9029, countryname       Mongolia
countrycode            MNG
year                  2001
gdp              1.268e+09
population     2.41978e+06
Name: 9029, dtype: object)
(9030, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2001
gdp                         4.76693e+09
population                        69388
Name: 9030, dtype: object)
(9031, countryname     Mozambique
countrycode            MOZ
year                  2001
gdp            4.76693e+09
population     1.85888e+07
Name: 9031, dtype: object)
(9032, countryname     Mauritania
countrycode            MRT
year                  2001
gdp            1.29554e+09
population     2.79073e+06
Name: 9032, dtype: object)
(9033, countryname      Mauritius
countrycode            MUS
year                  2001
gdp            4.53654e+09
population     1.19629e+06
Name: 9033, dtype: object)
(9034, countryname         Malawi
countrycode            MWI
year                  2001
gdp             1.7165e+09
population     1.16959e+07
Name: 9034, dtype: object)
(9035, countryname       Malaysia
countrycode            MYS
year                  2001
gdp            9.27839e+10
population     2.36989e+07
Name: 9035, dtype: object)
(9036, countryname        Namibia
countrycode            NAM
year                  2001
gdp            3.54678e+09
population      1.9336e+06
Name: 9036, dtype: object)
(9037, countryname    New Caledonia
countrycode              NCL
year                    2001
gdp              2.68235e+09
population            217324
Name: 9037, dtype: object)
(9038, countryname          Niger
countrycode            NER
year                  2001
gdp            1.94533e+09
population      1.1772e+07
Name: 9038, dtype: object)
(9039, countryname        Nigeria
countrycode            NGA
year                  2001
gdp             4.4138e+10
population     1.25463e+08
Name: 9039, dtype: object)
(9040, countryname      Nicaragua
countrycode            NIC
year                  2001
gdp            5.32315e+09
population     5.10075e+06
Name: 9040, dtype: object)
(9041, countryname    Netherlands
countrycode            NLD
year                  2001
gdp            4.26574e+11
population     1.60462e+07
Name: 9041, dtype: object)
(9042, countryname         Norway
countrycode            NOR
year                  2001
gdp            1.74003e+11
population     4.51375e+06
Name: 9042, dtype: object)
(9043, countryname          Nepal
countrycode            NPL
year                  2001
gdp            6.00706e+09
population     2.41618e+07
Name: 9043, dtype: object)
(9044, countryname          Nauru
countrycode            NRU
year                  2001
gdp            6.00706e+09
population           10052
Name: 9044, dtype: object)
(9045, countryname    New Zealand
countrycode            NZL
year                  2001
gdp            5.38724e+10
population      3.8805e+06
Name: 9045, dtype: object)
(9046, countryname           Oman
countrycode            OMN
year                  2001
gdp             1.9452e+10
population     2.29479e+06
Name: 9046, dtype: object)
(9047, countryname       Pakistan
countrycode            PAK
year                  2001
gdp            7.23097e+10
population     1.41601e+08
Name: 9047, dtype: object)
(9048, countryname         Panama
countrycode            PAN
year                  2001
gdp             1.2502e+10
population     3.08968e+06
Name: 9048, dtype: object)
(9049, countryname           Peru
countrycode            PER
year                  2001
gdp            5.20302e+10
population     2.62614e+07
Name: 9049, dtype: object)
(9050, countryname    Philippines
countrycode            PHL
year                  2001
gdp            7.62621e+10
population     7.96653e+07
Name: 9050, dtype: object)
(9051, countryname          Palau
countrycode            PLW
year                  2001
gdp            1.55442e+08
population           19404
Name: 9051, dtype: object)
(9052, countryname    Papua New Guinea
countrycode                 PNG
year                       2001
gdp                 3.08102e+09
population          5.71615e+06
Name: 9052, dtype: object)
(9053, countryname         Poland
countrycode            POL
year                  2001
gdp            1.90521e+11
population     3.82481e+07
Name: 9053, dtype: object)
(9054, countryname    Puerto Rico
countrycode            PRI
year                  2001
gdp            6.92084e+10
population     3.81877e+06
Name: 9054, dtype: object)
(9055, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                2001
gdp                          1.21546e+11
population                   2.31318e+07
Name: 9055, dtype: object)
(9056, countryname       Portugal
countrycode            PRT
year                  2001
gdp            1.21546e+11
population     1.03627e+07
Name: 9056, dtype: object)
(9057, countryname       Paraguay
countrycode            PRY
year                  2001
gdp             7.6626e+09
population     5.40662e+06
Name: 9057, dtype: object)
(9058, countryname    West Bank and Gaza
countrycode                   PSE
year                         2001
gdp                    4.0037e+09
population            2.99778e+06
Name: 9058, dtype: object)
(9059, countryname    French Polynesia
countrycode                 PYF
year                       2001
gdp                 3.44754e+09
population               241273
Name: 9059, dtype: object)
(9060, countryname          Qatar
countrycode            QAT
year                  2001
gdp            1.75385e+10
population          616886
Name: 9060, dtype: object)
(9061, countryname        Romania
countrycode            ROU
year                  2001
gdp            4.07168e+10
population      2.2132e+07
Name: 9061, dtype: object)
(9062, countryname    Russian Federation
countrycode                   RUS
year                         2001
gdp                   3.06603e+11
population            1.45976e+08
Name: 9062, dtype: object)
(9063, countryname         Rwanda
countrycode            RWA
year                  2001
gdp            1.67469e+09
population     8.32941e+06
Name: 9063, dtype: object)
(9064, countryname    Saudi Arabia
countrycode             SAU
year                   2001
gdp             1.84137e+11
population      2.13036e+07
Name: 9064, dtype: object)
(9065, countryname         Sudan
countrycode           SDN
year                 2001
gdp            1.3183e+10
population     2.7945e+07
Name: 9065, dtype: object)
(9066, countryname        Senegal
countrycode            SEN
year                  2001
gdp             4.8776e+09
population     1.01345e+07
Name: 9066, dtype: object)
(9067, countryname      Singapore
countrycode            SGP
year                  2001
gdp            8.92862e+10
population     4.13801e+06
Name: 9067, dtype: object)
(9068, countryname    Solomon Islands
countrycode                SLB
year                      2001
gdp                4.00463e+08
population              423853
Name: 9068, dtype: object)
(9069, countryname    Sierra Leone
countrycode             SLE
year                   2001
gdp             1.09047e+09
population      4.73915e+06
Name: 9069, dtype: object)
(9070, countryname    El Salvador
countrycode            SLV
year                  2001
gdp            1.22825e+10
population     5.90596e+06
Name: 9070, dtype: object)
(9071, countryname     San Marino
countrycode            SMR
year                  2001
gdp            1.16063e+09
population           27762
Name: 9071, dtype: object)
(9072, countryname        Somalia
countrycode            SOM
year                  2001
gdp            1.22672e+10
population     9.29082e+06
Name: 9072, dtype: object)
(9073, countryname         Serbia
countrycode            SRB
year                  2001
gdp            1.22672e+10
population     7.50343e+06
Name: 9073, dtype: object)
(9074, countryname    South Sudan
countrycode            SSD
year                  2001
gdp            1.29567e+11
population     6.97444e+06
Name: 9074, dtype: object)
(9075, countryname    Sao Tome and Principe
countrycode                      STP
year                            2001
gdp                      7.16306e+07
population                    141622
Name: 9075, dtype: object)
(9076, countryname       Suriname
countrycode            SUR
year                  2001
gdp            7.63466e+08
population          477740

Name: 9181, dtype: object)
(9182, countryname    United Kingdom
countrycode               GBR
year                     2002
gdp               1.76841e+12
population        5.93705e+07
Name: 9182, dtype: object)
(9183, countryname        Georgia
countrycode            GEO
year                  2002
gdp            3.39574e+09
population       4.357e+06
Name: 9183, dtype: object)
(9184, countryname          Ghana
countrycode            GHA
year                  2002
gdp            6.16633e+09
population     1.99245e+07
Name: 9184, dtype: object)
(9185, countryname      Gibraltar
countrycode            GIB
year                  2002
gdp            2.86058e+13
population           31544
Name: 9185, dtype: object)
(9186, countryname         Guinea
countrycode            GIN
year                  2002
gdp            2.94964e+09
population     9.13734e+06
Name: 9186, dtype: object)
(9187, countryname    Gambia, The
countrycode            GMB
year                  2002
gdp            5.78236e+08
population     1.31135e+06
Name: 9187, dtype: object)
(9188, countryname    Guinea-Bissau
countrycode              GNB
year                    2002
gdp              4.15843e+08
population       1.29352e+06
Name: 9188, dtype: object)
(9189, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2002
gdp                  1.80674e+09
population                666407
Name: 9189, dtype: object)
(9190, countryname         Greece
countrycode            GRC
year                  2002
gdp            1.53831e+11
population      1.0902e+07
Name: 9190, dtype: object)
(9191, countryname        Grenada
countrycode            GRD
year                  2002
gdp            5.40337e+08
population          102100
Name: 9191, dtype: object)
(9192, countryname      Greenland
countrycode            GRL
year                  2002
gdp            1.16914e+09
population           56609
Name: 9192, dtype: object)
(9193, countryname      Guatemala
countrycode            GTM
year                  2002
gdp            2.07767e+10
population     1.22088e+07
Name: 9193, dtype: object)
(9194, countryname         Guam
countrycode          GUM
year                2002
gdp            3.385e+09
population        157175
Name: 9194, dtype: object)
(9195, countryname         Guyana
countrycode            GUY
year                  2002
gdp            7.22461e+08
population          751884
Name: 9195, dtype: object)
(9196, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2002
gdp                     1.66349e+11
population               6.7441e+06
Name: 9196, dtype: object)
(9197, countryname       Honduras
countrycode            HND
year                  2002
gdp            7.77508e+09
population     6.86316e+06
Name: 9197, dtype: object)
(9198, countryname        Croatia
countrycode            HRV
year                  2002
gdp            2.68785e+10
population        4.44e+06
Name: 9198, dtype: object)
(9199, countryname          Haiti
countrycode            HTI
year                  2002
gdp            3.47219e+09
population     8.83473e+06
Name: 9199, dtype: object)
(9200, countryname        Hungary
countrycode            HUN
year                  2002
gdp            6.77169e+10
population     1.01586e+07
Name: 9200, dtype: object)
(9201, countryname      Indonesia
countrycode            IDN
year                  2002
gdp            1.95661e+11
population     2.17508e+08
Name: 9201, dtype: object)
(9202, countryname    Isle of Man
countrycode            IMN
year                  2002
gdp            1.89761e+09
population           73870
Name: 9202, dtype: object)
(9203, countryname          India
countrycode            IND
year                  2002
gdp            5.08069e+11
population     1.08981e+09
Name: 9203, dtype: object)
(9204, countryname        Ireland
countrycode            IRL
year                  2002
gdp            1.27945e+11
population     3.93195e+06
Name: 9204, dtype: object)
(9205, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2002
gdp                   1.28627e+11
population            6.79833e+07
Name: 9205, dtype: object)
(9206, countryname           Iraq
countrycode            IRQ
year                  2002
gdp            1.79886e+11
population     2.49393e+07
Name: 9206, dtype: object)
(9207, countryname        Iceland
countrycode            ISL
year                  2002
gdp            9.20769e+09
population          287523
Name: 9207, dtype: object)
(9208, countryname         Israel
countrycode            ISR
year                  2002
gdp            1.21069e+11
population        6.57e+06
Name: 9208, dtype: object)
(9209, countryname          Italy
countrycode            ITA
year                  2002
gdp            1.26651e+12
population      5.7059e+07
Name: 9209, dtype: object)
(9210, countryname        Jamaica
countrycode            JAM
year                  2002
gdp            9.69417e+09
population     2.69545e+06
Name: 9210, dtype: object)
(9211, countryname         Jordan
countrycode            JOR
year                  2002
gdp            9.58245e+09
population     5.28749e+06
Name: 9211, dtype: object)
(9212, countryname          Japan
countrycode            JPN
year                  2002
gdp            4.11512e+12
population     1.27445e+08
Name: 9212, dtype: object)
(9213, countryname     Kazakhstan
countrycode            KAZ
year                  2002
gdp            2.46366e+10
population     1.48589e+07
Name: 9213, dtype: object)
(9214, countryname          Kenya
countrycode            KEN
year                  2002
gdp            1.31477e+10
population      3.3214e+07
Name: 9214, dtype: object)
(9215, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2002
gdp                1.60564e+09
population          4.9907e+06
Name: 9215, dtype: object)
(9216, countryname       Cambodia
countrycode            KHM
year                  2002
gdp            4.28403e+09
population     1.26347e+07
Name: 9216, dtype: object)
(9217, countryname       Kiribati
countrycode            KIR
year                  2002
gdp            7.21965e+07
population           87343
Name: 9217, dtype: object)
(9218, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2002
gdp                     4.8312e+08
population                   46641
Name: 9218, dtype: object)
(9219, countryname    Korea, Rep.
countrycode            KOR
year                  2002
gdp             6.0902e+11
population     4.76447e+07
Name: 9219, dtype: object)
(9220, countryname         Kuwait
countrycode            KWT
year                  2002
gdp            3.81375e+10
population     2.14383e+06
Name: 9220, dtype: object)
(9221, countryname        Lao PDR
countrycode            LAO
year                  2002
gdp            1.75818e+09
population     5.49727e+06
Name: 9221, dtype: object)
(9222, countryname        Lebanon
countrycode            LBN
year                  2002
gdp            1.91522e+10
population     3.52284e+06
Name: 9222, dtype: object)
(9223, countryname        Liberia
countrycode            LBR
year                  2002
gdp               5.43e+08
population     3.06286e+06
Name: 9223, dtype: object)
(9224, countryname          Libya
countrycode            LBY
year                  2002
gdp            2.04819e+10
population     5.52752e+06
Name: 9224, dtype: object)
(9225, countryname      St. Lucia
countrycode            LCA
year                  2002
gdp            7.48347e+08
population          159763
Name: 9225, dtype: object)
(9226, countryname    Liechtenstein
countrycode              LIE
year                    2002
gdp              2.68863e+09
population             34018
Name: 9226, dtype: object)
(9227, countryname      Sri Lanka
countrycode            LKA
year                  2002
gdp            1.65365e+10
population     1.90593e+07
Name: 9227, dtype: object)
(9228, countryname        Lesotho
countrycode            LSO
year                  2002
gdp            7.75781e+08
population     1.90231e+06
Name: 9228, dtype: object)
(9229, countryname      Lithuania
countrycode            LTU
year                  2002
gdp            1.42784e+10
population     3.44307e+06
Name: 9229, dtype: object)
(9230, countryname     Luxembourg
countrycode            LUX
year                  2002
gdp            2.36163e+10
population          446175
Name: 9230, dtype: object)
(9231, countryname         Latvia
countrycode            LVA
year                  2002
gdp            9.54644e+09
population     2.31017e+06
Name: 9231, dtype: object)
(9232, countryname    Macao SAR, China
countrycode                 MAC
year                       2002
gdp                 7.32268e+09
population               448896
Name: 9232, dtype: object)
(9233, countryname    St. Martin (French part)
countrycode                         MAF
year                               2002
gdp                         4.22368e+10
population                        27450
Name: 9233, dtype: object)
(9234, countryname        Morocco
countrycode            MAR
year                  2002
gdp            4.22368e+10
population     2.95124e+07
Name: 9234, dtype: object)
(9235, countryname         Monaco
countrycode            MCO
year                  2002
gdp            2.90597e+09
population           32629
Name: 9235, dtype: object)
(9236, countryname        Moldova
countrycode            MDA
year                  2002
gdp            1.66182e+09
population     3.62306e+06
Name: 9236, dtype: object)
(9237, countryname     Madagascar
countrycode            MDG
year                  2002
gdp            4.39725e+09
population     1.67651e+07
Name: 9237, dtype: object)
(9238, countryname       Maldives
countrycode            MDV
year                  2002
gdp            8.97031e+08
population          294341
Name: 9238, dtype: object)
(9239, countryname         Mexico
countrycode            MEX
year                  2002
gdp            7.72106e+11
population     1.04356e+08
Name: 9239, dtype: object)
(9240, countryname    Marshall Islands
countrycode                 MHL
year                       2002
gdp                 1.24735e+08
population                52158
Name: 9240, dtype: object)
(9241, countryname    Macedonia, FYR
countrycode               MKD
year                     2002
gdp               4.01837e+09
population        2.04893e+06
Name: 9241, dtype: object)
(9242, countryname           Mali
countrycode            MLI
year                  2002
gdp            3.88976e+09
population     1.16389e+07
Name: 9242, dtype: object)
(9243, countryname          Malta
countrycode            MLT
year                  2002
gdp            4.68983e+09
population          395969
Name: 9243, dtype: object)
(9244, countryname        Myanmar
countrycode            MMR
year                  2002
gdp            6.77763e+09
population     4.71402e+07
Name: 9244, dtype: object)
(9245, countryname     Montenegro
countrycode            MNE
year                  2002
gdp            1.28469e+09
population          609828
Name: 9245, dtype: object)
(9246, countryname       Mongolia
countrycode            MNG
year                  2002
gdp            1.39656e+09
population     2.44366e+06
Name: 9246, dtype: object)
(9247, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2002
gdp                           1.284e+09
population                        68763
Name: 9247, dtype: object)
(9248, countryname     Mozambique
countrycode            MOZ
year                  2002
gdp            5.03151e+09
population     1.91397e+07
Name: 9248, dtype: object)
(9249, countryname     Mauritania
countrycode            MRT
year                  2002
gdp            1.32443e+09
population     2.87323e+06
Name: 9249, dtype: object)
(9250, countryname      Mauritius
countrycode            MUS
year                  2002
gdp             4.7673e+09
population     1.20462e+06
Name: 9250, dtype: object)
(9251, countryname         Malawi
countrycode            MWI
year                  2002
gdp            3.49575e+09
population     1.20137e+07
Name: 9251, dtype: object)
(9252, countryname       Malaysia
countrycode            MYS
year                  2002
gdp            1.00845e+11
population     2.41988e+07
Name: 9252, dtype: object)
(9253, countryname        Namibia
countrycode            NAM
year                  2002
gdp            3.36125e+09
population     1.96215e+06
Name: 9253, dtype: object)
(9254, countryname    New Caledonia
countrycode              NCL
year                    2002
gdp              2.68235e+09
population            221490
Name: 9254, dtype: object)
(9255, countryname          Niger
countrycode            NER
year                  2002
gdp            2.17048e+09
population      1.2206e+07
Name: 9255, dtype: object)
(9256, countryname        Nigeria
countrycode            NGA
year                  2002
gdp            5.91168e+10
population     1.28667e+08
Name: 9256, dtype: object)
(9257, countryname      Nicaragua
countrycode            NIC
year                  2002
gdp            5.22421e+09
population     5.17173e+06
Name: 9257, dtype: object)
(9258, countryname    Netherlands
countrycode            NLD
year                  2002
gdp            4.65369e+11
population     1.61489e+07
Name: 9258, dtype: object)
(9259, countryname         Norway
countrycode            NOR
year                  2002
gdp            1.95418e+11
population     4.53816e+06
Name: 9259, dtype: object)
(9260, countryname          Nepal
countrycode            NPL
year                  2002
gdp            6.05088e+09
population     2.45663e+07
Name: 9260, dtype: object)
(9261, countryname          Nauru
countrycode            NRU
year                  2002
gdp            6.05088e+09
population           10080
Name: 9261, dtype: object)
(9262, countryname    New Zealand
countrycode            NZL
year                  2002
gdp            6.66277e+10
population      3.9485e+06
Name: 9262, dtype: object)
(9263, countryname           Oman
countrycode            OMN
year                  2002
gdp            2.01428e+10
population     2.33428e+06
Name: 9263, dtype: object)
(9264, countryname       Pakistan
countrycode            PAK
year                  2002
gdp            7.23068e+10
population     1.44654e+08
Name: 9264, dtype: object)
(9265, countryname         Panama
countrycode            PAN
year                  2002
gdp            1.29943e+10
population     3.14926e+06
Name: 9265, dtype: object)
(9266, countryname           Peru
countrycode            PER
year                  2002
gdp            5.47776e+10
population     2.66015e+07
Name: 9266, dtype: object)
(9267, countryname    Philippines
countrycode            PHL
year                  2002
gdp            8.13576e+10
population     8.13521e+07
Name: 9267, dtype: object)
(9268, countryname          Palau
countrycode            PLW
year                  2002
gdp            1.61959e+08
population           19574
Name: 9268, dtype: object)
(9269, countryname    Papua New Guinea
countrycode                 PNG
year                       2002
gdp                 2.99951e+09
population          5.86232e+06
Name: 9269, dtype: object)
(9270, countryname         Poland
countrycode            POL
year                  2002
gdp            1.98681e+11
population     3.82304e+07
Name: 9270, dtype: object)
(9271, countryname    Puerto Rico
countrycode            PRI
year                  2002
gdp            7.16235e+10
population      3.8237e+06
Name: 9271, dtype: object)
(9272, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                2002
gdp                          1.34229e+11
population                   2.33367e+07
Name: 9272, dtype: object)
(9273, countryname       Portugal
countrycode            PRT
year                  2002
gdp            1.34229e+11
population     1.04196e+07
Name: 9273, dtype: object)
(9274, countryname       Paraguay
countrycode            PRY
year                  2002
gdp            6.32515e+09
population     5.50861e+06
Name: 9274, dtype: object)
(9275, countryname    West Bank and Gaza
countrycode                   PSE
year                         2002
gdp                    3.5558e+09
population            3.07537e+06
Name: 9275, dtype: object)
(9276, countryname    French Polynesia
countrycode                 PYF
year                       2002
gdp                 3.44754e+09
population               245006
Name: 9276, dtype: object)
(9277, countryname          Qatar
countrycode            QAT
year                  2002
gdp            1.93637e+10
population          645659
Name: 9277, dtype: object)
(9278, countryname        Romania
countrycode            ROU
year                  2002
gdp            4.61746e+10
population     2.17305e+07
Name: 9278, dtype: object)
(9279, countryname    Russian Federation
countrycode                   RUS
year                         2002
gdp                    3.4511e+11
population            1.45306e+08
Name: 9279, dtype: object)
(9280, countryname         Rwanda
countrycode            RWA
year                  2002
gdp            1.67755e+09
population     8.53620e+06
Name: 9280, dtype: object)
(9281, countryname    Saudi Arabia
countrycode             SAU
year                   2002
gdp             1.89606e+11
population      2.19063e+07
Name: 9281, dtype: object)
(9282, countryname          Sudan
countrycode            SDN
year                  2002
gdp            1.48032e+10
population     2.86796e+07
Name: 9282, dtype: object)
(9283, countryname        Senegal
countrycode            SEN
year                  2002
gdp            5.33386e+09
population     1.03969e+07
Name: 9283, dtype: object)
(9284, countryname      Singapore
countrycode            SGP
year                  2002
gdp            9.19412e+10
population     4.17595e+06
Name: 9284, dtype: object)
(9285, countryname    Solomon Islands
countrycode                SLB
year                      2002
gdp                3.41662e+08
population              435262
Name: 9285, dtype: object)
(9286, countryname    Sierra Leone
countrycode             SLE
year                   2002
gdp             1.25334e+09
population      4.95722e+06
Name: 9286, dtype: object)
(9287, countryname    El Salvador
countrycode            SLV
year                  2002
gdp            1.26642e+10
population      5.9403e+06
Name: 9287, dtype: object)
(9288, countryname     San Marino
countrycode            SMR
year                  2002
gdp            1.25353e+09
population           28121
Name: 9288, dtype: object)
(9289, countryname        Somalia
countrycode            SOM
year                  2002
gdp            1.61168e+10
population     9.56417e+06
Name: 9289, dtype: object)
(9290, countryname         Serbia
countrycode            SRB
year                  2002
gdp            1.61168e+10
population     7.49652e+06
Name: 9290, dtype: object)
(9291, countryname    South Sudan
countrycode            SSD
year                  2002
gdp            1.38698e+11
population     7.23728e+06
Name: 9291, dtype: object)
(9292, countryname    Sao Tome and Principe
countrycode                      STP
year                            2002
gdp                      7.98634e+07
population                    144889
Name: 9292, dtype: object)
(9293, countryname      Suriname
countrycode           SUR
year                 2002
gdp            1.0784e+09
population         483044
Name: 9293, dtype: object)
(9294, countryname    Slovak Republic
countrycode                SVK
year                      2002
gdp                3.50836e+10
population         5.37691e+06
Name: 9294, dtype: object)
(9295, countryname       Slovenia
countrycode            SVN
year                  2002
gdp            2.35636e+10
population     1.99453e+06
Name: 9295, dtype: object)

Name: 9394, dtype: object)
(9395, countryname         France
countrycode            FRA
year                  2003
gdp            1.84048e+12
population     6.22449e+07
Name: 9395, dtype: object)
(9396, countryname    Faroe Islands
countrycode              FRO
year                    2003
gdp              1.48686e+09
population             47974
Name: 9396, dtype: object)
(9397, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2003
gdp                      2.45277e+08
population                    106816
Name: 9397, dtype: object)
(9398, countryname          Gabon
countrycode            GAB
year                  2003
gdp            6.49731e+09
population     1.32815e+06
Name: 9398, dtype: object)
(9399, countryname    United Kingdom
countrycode               GBR
year                     2003
gdp                2.0384e+12
population        5.96476e+07
Name: 9399, dtype: object)
(9400, countryname        Georgia
countrycode            GEO
year                  2003
gdp            3.99128e+09
population       4.301e+06
Name: 9400, dtype: object)
(9401, countryname          Ghana
countrycode            GHA
year                  2003
gdp            7.63241e+09
population     2.04468e+07
Name: 9401, dtype: object)
(9402, countryname    Gibraltar
countrycode          GIB
year                2003
gdp             3.56e+09
population         31720
Name: 9402, dtype: object)
(9403, countryname         Guinea
countrycode            GIN
year                  2003
gdp            3.44644e+09
population     9.30985e+06
Name: 9403, dtype: object)
(9404, countryname    Gambia, The
countrycode            GMB
year                  2003
gdp            4.87039e+08
population     1.35419e+06
Name: 9404, dtype: object)
(9405, countryname    Guinea-Bissau
countrycode              GNB
year                    2003
gdp              4.76388e+08
population        1.3212e+06
Name: 9405, dtype: object)
(9406, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2003
gdp                  2.48475e+09
population                694611
Name: 9406, dtype: object)
(9407, countryname         Greece
countrycode            GRC
year                  2003
gdp            2.01924e+11
population     1.09281e+07
Name: 9407, dtype: object)
(9408, countryname        Grenada
countrycode            GRD
year                  2003
gdp            5.91018e+08
population          102375
Name: 9408, dtype: object)
(9409, countryname      Greenland
countrycode            GRL
year                  2003
gdp            1.55877e+09
population           56765
Name: 9409, dtype: object)
(9410, countryname      Guatemala
countrycode            GTM
year                  2003
gdp            2.19177e+10
population     1.25005e+07
Name: 9410, dtype: object)
(9411, countryname        Guam
countrycode         GUM
year               2003
gdp            3.56e+09
population       157714
Name: 9411, dtype: object)
(9412, countryname         Guyana
countrycode            GUY
year                  2003
gdp            7.41929e+08
population          751857
Name: 9412, dtype: object)
(9413, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2003
gdp                     1.61385e+11
population               6.7308e+06
Name: 9413, dtype: object)
(9414, countryname       Honduras
countrycode            HND
year                  2003
gdp            8.14027e+09
population     7.03382e+06
Name: 9414, dtype: object)
(9415, countryname        Croatia
countrycode            HRV
year                  2003
gdp            3.46581e+10
population        4.44e+06
Name: 9415, dtype: object)
(9416, countryname          Haiti
countrycode            HTI
year                  2003
gdp            2.96031e+09
population     8.97655e+06
Name: 9416, dtype: object)
(9417, countryname        Hungary
countrycode            HUN
year                  2003
gdp            8.53248e+10
population     1.01296e+07
Name: 9417, dtype: object)
(9418, countryname      Indonesia
countrycode            IDN
year                  2003
gdp            2.34772e+11
population     2.20545e+08
Name: 9418, dtype: object)
(9419, countryname    Isle of Man
countrycode            IMN
year                  2003
gdp            2.26491e+09
population           74587
Name: 9419, dtype: object)
(9420, countryname          India
countrycode            IND
year                  2003
gdp            5.99593e+11
population     1.10803e+09
Name: 9420, dtype: object)
(9421, countryname        Ireland
countrycode            IRL
year                  2003
gdp            1.64285e+11
population     3.99652e+06
Name: 9421, dtype: object)
(9422, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2003
gdp                   1.53545e+11
population            6.88127e+07
Name: 9422, dtype: object)
(9423, countryname           Iraq
countrycode            IRQ
year                  2003
gdp            1.79886e+11
population     2.56276e+07
Name: 9423, dtype: object)
(9424, countryname        Iceland
countrycode            ISL
year                  2003
gdp            1.13164e+10
population          289521
Name: 9424, dtype: object)
(9425, countryname         Israel
countrycode            ISR
year                  2003
gdp            1.26865e+11
population      6.6897e+06
Name: 9425, dtype: object)
(9426, countryname          Italy
countrycode            ITA
year                  2003
gdp            1.56965e+12
population     5.73132e+07
Name: 9426, dtype: object)
(9427, countryname        Jamaica
countrycode            JAM
year                  2003
gdp            9.39945e+09
population     2.71251e+06
Name: 9427, dtype: object)
(9428, countryname         Jordan
countrycode            JOR
year                  2003
gdp            1.01957e+10
population     5.39677e+06
Name: 9428, dtype: object)
(9429, countryname          Japan
countrycode            JPN
year                  2003
gdp            4.44566e+12
population     1.27718e+08
Name: 9429, dtype: object)
(9430, countryname     Kazakhstan
countrycode            KAZ
year                  2003
gdp            3.08337e+10
population      1.4909e+07
Name: 9430, dtype: object)
(9431, countryname          Kenya
countrycode            KEN
year                  2003
gdp            1.49045e+10
population     3.41309e+07
Name: 9431, dtype: object)
(9432, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2003
gdp                1.91901e+09
population          5.0433e+06
Name: 9432, dtype: object)
(9433, countryname       Cambodia
countrycode            KHM
year                  2003
gdp            4.65825e+09
population     1.28531e+07
Name: 9433, dtype: object)
(9434, countryname       Kiribati
countrycode            KIR
year                  2003
gdp            9.02319e+07
population           88895
Name: 9434, dtype: object)
(9435, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2003
gdp                    4.65851e+08
population                   47306
Name: 9435, dtype: object)
(9436, countryname    Korea, Rep.
countrycode            KOR
year                  2003
gdp            6.80521e+11
population     4.78923e+07
Name: 9436, dtype: object)
(9437, countryname         Kuwait
countrycode            KWT
year                  2003
gdp            4.78758e+10
population     2.16912e+06
Name: 9437, dtype: object)
(9438, countryname        Lao PDR
countrycode            LAO
year                  2003
gdp            2.02332e+09
population     5.57966e+06
Name: 9438, dtype: object)
(9439, countryname        Lebanon
countrycode            LBN
year                  2003
gdp            2.00829e+10
population     3.70146e+06
Name: 9439, dtype: object)
(9440, countryname        Liberia
countrycode            LBR
year                  2003
gdp               4.16e+08
population     3.11623e+06
Name: 9440, dtype: object)
(9441, countryname          Libya
countrycode            LBY
year                  2003
gdp            2.62656e+10
population     5.61595e+06
Name: 9441, dtype: object)
(9442, countryname      St. Lucia
countrycode            LCA
year                  2003
gdp            8.23837e+08
population          160973
Name: 9442, dtype: object)
(9443, countryname    Liechtenstein
countrycode              LIE
year                    2003
gdp              3.07069e+09
population             34321
Name: 9443, dtype: object)
(9444, countryname      Sri Lanka
countrycode            LKA
year                  2003
gdp            1.88818e+10
population     1.92153e+07
Name: 9444, dtype: object)
(9445, countryname        Lesotho
countrycode            LSO
year                  2003
gdp            1.15783e+09
population      1.9181e+06
Name: 9445, dtype: object)
(9446, countryname      Lithuania
countrycode            LTU
year                  2003
gdp            1.88026e+10
population     3.41521e+06
Name: 9446, dtype: object)
(9447, countryname     Luxembourg
countrycode            LUX
year                  2003
gdp            2.95573e+10
population          451630
Name: 9447, dtype: object)
(9448, countryname         Latvia
countrycode            LVA
year                  2003
gdp            1.17484e+10
population     2.28796e+06
Name: 9448, dtype: object)
(9449, countryname    Macao SAR, China
countrycode                 MAC
year                       2003
gdp                 8.19503e+09
population               460147
Name: 9449, dtype: object)
(9450, countryname    St. Martin (French part)
countrycode                         MAF
year                               2003
gdp                         5.20641e+10
population                        27363
Name: 9450, dtype: object)
(9451, countryname        Morocco
countrycode            MAR
year                  2003
gdp            5.20641e+10
population     2.98439e+07
Name: 9451, dtype: object)
(9452, countryname         Monaco
countrycode            MCO
year                  2003
gdp            3.58899e+09
population           32933
Name: 9452, dtype: object)
(9453, countryname        Moldova
countrycode            MDA
year                  2003
gdp             1.9809e+09
population     3.61287e+06
Name: 9453, dtype: object)
(9454, countryname     Madagascar
countrycode            MDG
year                  2003
gdp            5.47403e+09
population     1.72791e+07
Name: 9454, dtype: object)
(9455, countryname       Maldives
countrycode            MDV
year                  2003
gdp            1.05212e+09
population          302209
Name: 9455, dtype: object)
(9456, countryname         Mexico
countrycode            MEX
year                  2003
gdp            7.29336e+11
population      1.0564e+08
Name: 9456, dtype: object)
(9457, countryname    Marshall Islands
countrycode                 MHL
year                       2003
gdp                 1.26888e+08
population                52116
Name: 9457, dtype: object)
(9458, countryname    Macedonia, FYR
countrycode               MKD
year                     2003
gdp               4.94629e+09
population        2.05343e+06
Name: 9458, dtype: object)
(9459, countryname           Mali
countrycode            MLI
year                  2003
gdp             4.7035e+09
population     1.20051e+07
Name: 9459, dtype: object)
(9460, countryname          Malta
countrycode            MLT
year                  2003
gdp            5.45658e+09
population          398582
Name: 9460, dtype: object)
(9461, countryname        Myanmar
countrycode            MMR
year                  2003
gdp            1.04671e+10
population     4.76249e+07
Name: 9461, dtype: object)
(9462, countryname     Montenegro
countrycode            MNE
year                  2003
gdp            1.70771e+09
population          612267
Name: 9462, dtype: object)
(9463, countryname       Mongolia
countrycode            MNG
year                  2003
gdp             1.5953e+09
population     2.46929e+06
Name: 9463, dtype: object)
(9464, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2003
gdp                           1.239e+09
population                        67422
Name: 9464, dtype: object)
(9465, countryname     Mozambique
countrycode            MOZ
year                  2003
gdp            5.59737e+09
population     1.97166e+07
Name: 9465, dtype: object)
(9466, countryname     Mauritania
countrycode            MRT
year                  2003
gdp            1.56307e+09
population     2.95712e+06
Name: 9466, dtype: object)
(9467, countryname      Mauritius
countrycode            MUS
year                  2003
gdp            5.60983e+09
population     1.21337e+06
Name: 9467, dtype: object)
(9468, countryname         Malawi
countrycode            MWI
year                  2003
gdp            3.20884e+09
population     1.23367e+07
Name: 9468, dtype: object)
(9469, countryname       Malaysia
countrycode            MYS
year                  2003
gdp            1.10202e+11
population     2.46887e+07
Name: 9469, dtype: object)
(9470, countryname        Namibia
countrycode            NAM
year                  2003
gdp            4.93131e+09
population     1.98654e+06
Name: 9470, dtype: object)
(9471, countryname    New Caledonia
countrycode              NCL
year                    2003
gdp              2.68235e+09
population            225296
Name: 9471, dtype: object)
(9472, countryname          Niger
countrycode            NER
year                  2003
gdp            2.73142e+09
population     1.26569e+07
Name: 9472, dtype: object)
(9473, countryname        Nigeria
countrycode            NGA
year                  2003
gdp            6.76558e+10
population     1.31973e+08
Name: 9473, dtype: object)
(9474, countryname      Nicaragua
countrycode            NIC
year                  2003
gdp            5.32245e+09
population     5.24088e+06
Name: 9474, dtype: object)
(9475, countryname    Netherlands
countrycode            NLD
year                  2003
gdp            5.71863e+11
population     1.62253e+07
Name: 9475, dtype: object)
(9476, countryname         Norway
countrycode            NOR
year                  2003
gdp            2.28752e+11
population     4.56486e+06
Name: 9476, dtype: object)
(9477, countryname          Nepal
countrycode            NPL
year                  2003
gdp            6.33047e+09
population     2.49506e+07
Name: 9477, dtype: object)
(9478, countryname          Nauru
countrycode            NRU
year                  2003
gdp            6.33047e+09
population           10106
Name: 9478, dtype: object)
(9479, countryname    New Zealand
countrycode            NZL
year                  2003
gdp            8.82509e+10
population      4.0272e+06
Name: 9479, dtype: object)
(9480, countryname           Oman
countrycode            OMN
year                  2003
gdp            2.16338e+10
population     2.38526e+06
Name: 9480, dtype: object)
(9481, countryname       Pakistan
countrycode            PAK
year                  2003
gdp            8.32448e+10
population     1.47703e+08
Name: 9481, dtype: object)
(9482, countryname         Panama
countrycode            PAN
year                  2003
gdp             1.3694e+10
population     3.20917e+06
Name: 9482, dtype: object)
(9483, countryname           Peru
countrycode            PER
year                  2003
gdp             5.8731e+10
population     2.69377e+07
Name: 9483, dtype: object)
(9484, countryname    Philippines
countrycode            PHL
year                  2003
gdp            8.39082e+10
population      8.3032e+07
Name: 9484, dtype: object)
(9485, countryname          Palau
countrycode            PLW
year                  2003
gdp            1.52772e+08
population           19700
Name: 9485, dtype: object)
(9486, countryname    Papua New Guinea
countrycode                 PNG
year                       2003
gdp                 3.53641e+09
population          6.01072e+06
Name: 9486, dtype: object)
(9487, countryname         Poland
countrycode            POL
year                  2003
gdp            2.17513e+11
population     3.82046e+07
Name: 9487, dtype: object)
(9488, countryname    Puerto Rico
countrycode            PRI
year                  2003
gdp            7.48274e+10
population      3.8261e+06
Name: 9488, dtype: object)
(9489, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                2003
gdp                          1.64964e+11
population                   2.35385e+07
Name: 9489, dtype: object)
(9490, countryname       Portugal
countrycode            PRT
year                  2003
gdp            1.64964e+11
population     1.04588e+07
Name: 9490, dtype: object)
(9491, countryname       Paraguay
countrycode            PRY
year                  2003
gdp             6.5881e+09
population     5.60795e+06
Name: 9491, dtype: object)
(9492, countryname    West Bank and Gaza
countrycode                   PSE
year                         2003
gdp                     3.968e+09
population            3.15497e+06
Name: 9492, dtype: object)
(9493, countryname    French Polynesia
countrycode                 PYF
year                       2003
gdp                 3.44754e+09
population               248499
Name: 9493, dtype: object)
(9494, countryname          Qatar
countrycode            QAT
year                  2003
gdp            2.35338e+10
population          688586
Name: 9494, dtype: object)
(9495, countryname        Romania
countrycode            ROU
year                  2003
gdp            5.98678e+10
population     2.15743e+07
Name: 9495, dtype: object)
(9496, countryname    Russian Federation
countrycode                   RUS
year                         2003
gdp                   4.30348e+11
population            1.44648e+08
Name: 9496, dtype: object)
(9497, countryname         Rwanda
countrycode            RWA
year                  2003
gdp             1.8462e+09
population     8.68035e+06
Name: 9497, dtype: object)
(9498, countryname    Saudi Arabia
countrycode             SAU
year                   2003
gdp             2.15808e+11
population      2.25564e+07
Name: 9498, dtype: object)
(9499, countryname          Sudan
countrycode            SDN
year                  2003
gdp            1.76465e+10
population     2.94359e+07
Name: 9499, dtype: object)
(9500, countryname        Senegal
countrycode            SEN
year                  2003
gdp            6.85895e+09
population      1.0671e+07
Name: 9500, dtype: object)
(9501, countryname      Singapore
countrycode            SGP
year                  2003
gdp            9.70014e+10
population     4.11483e+06
Name: 9501, dtype: object)
(9502, countryname    Solomon Islands
countrycode                SLB
year                      2003
gdp                3.32738e+08
population              446769
Name: 9502, dtype: object)
(9503, countryname    Sierra Leone
countrycode             SLE
year                   2003
gdp             1.38581e+09
population      5.19955e+06
Name: 9503, dtype: object)
(9504, countryname    El Salvador
countrycode            SLV
year                  2003
gdp            1.32439e+10
population     5.97154e+06
Name: 9504, dtype: object)
(9505, countryname     San Marino
countrycode            SMR
year                  2003
gdp            1.60045e+09
population           28494
Name: 9505, dtype: object)
(9506, countryname        Somalia
countrycode            SOM
year                  2003
gdp            2.11887e+10
population      9.8364e+06
Name: 9506, dtype: object)
(9507, countryname         Serbia
countrycode            SRB
year                  2003
gdp            2.11887e+10
population     7.48059e+06
Name: 9507, dtype: object)
(9508, countryname    South Sudan
countrycode            SSD
year                  2003
gdp            1.65354e+11
population     7.50164e+06
Name: 9508, dtype: object)

Name: 9609, dtype: object)
(9610, countryname        Finland
countrycode            FIN
year                  2004
gdp            1.96768e+11
population     5.22817e+06
Name: 9610, dtype: object)
(9611, countryname           Fiji
countrycode            FJI
year                  2004
gdp            2.72751e+09
population          818354
Name: 9611, dtype: object)
(9612, countryname         France
countrycode            FRA
year                  2004
gdp            2.11574e+12
population     6.27049e+07
Name: 9612, dtype: object)
(9613, countryname    Faroe Islands
countrycode              FRO
year                    2004
gdp                1.684e+09
population             48143
Name: 9613, dtype: object)
(9614, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2004
gdp                      2.40097e+08
population                    106577
Name: 9614, dtype: object)
(9615, countryname          Gabon
countrycode            GAB
year                  2004
gdp            7.75629e+09
population     1.36420e+06
Name: 9615, dtype: object)
(9616, countryname    United Kingdom
countrycode               GBR
year                     2004
gdp               2.39856e+12
population        5.99879e+07
Name: 9616, dtype: object)
(9617, countryname        Georgia
countrycode            GEO
year                  2004
gdp            5.12536e+09
population       4.245e+06
Name: 9617, dtype: object)
(9618, countryname          Ghana
countrycode            GHA
year                  2004
gdp            8.88137e+09
population     2.09865e+07
Name: 9618, dtype: object)
(9619, countryname    Gibraltar
countrycode          GIB
year                2004
gdp            1.684e+09
population         31896
Name: 9619, dtype: object)
(9620, countryname         Guinea
countrycode            GIN
year                  2004
gdp            3.66635e+09
population     9.49023e+06
Name: 9620, dtype: object)
(9621, countryname    Gambia, The
countrycode            GMB
year                  2004
gdp            5.78786e+08
population     1.39857e+06
Name: 9621, dtype: object)
(9622, countryname    Guinea-Bissau
countrycode              GNB
year                    2004
gdp              5.31109e+08
population       1.35034e+06
Name: 9622, dtype: object)
(9623, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2004
gdp                  4.41076e+09
population                724817
Name: 9623, dtype: object)
(9624, countryname         Greece
countrycode            GRC
year                  2004
gdp            2.40521e+11
population     1.09551e+07
Name: 9624, dtype: object)
(9625, countryname        Grenada
countrycode            GRD
year                  2004
gdp            5.99119e+08
population          102656
Name: 9625, dtype: object)
(9626, countryname      Greenland
countrycode            GRL
year                  2004
gdp            1.82516e+09
population           56911
Name: 9626, dtype: object)
(9627, countryname      Guatemala
countrycode            GTM
year                  2004
gdp            2.39653e+10
population     1.27969e+07
Name: 9627, dtype: object)
(9628, countryname         Guam
countrycode          GUM
year                2004
gdp            3.857e+09
population        158099
Name: 9628, dtype: object)
(9629, countryname         Guyana
countrycode            GUY
year                  2004
gdp            7.85919e+08
population          751652
Name: 9629, dtype: object)
(9630, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2004
gdp                       1.691e+11
population               6.7835e+06
Name: 9630, dtype: object)
(9631, countryname       Honduras
countrycode            HND
year                  2004
gdp            8.77219e+09
population     7.20415e+06
Name: 9631, dtype: object)
(9632, countryname        Croatia
countrycode            HRV
year                  2004
gdp            4.15745e+10
population       4.439e+06
Name: 9632, dtype: object)
(9633, countryname          Haiti
countrycode            HTI
year                  2004
gdp            3.53772e+09
population     9.11918e+06
Name: 9633, dtype: object)
(9634, countryname        Hungary
countrycode            HUN
year                  2004
gdp            1.04067e+11
population     1.01071e+07
Name: 9634, dtype: object)
(9635, countryname      Indonesia
countrycode            IDN
year                  2004
gdp            2.56837e+11
population     2.23615e+08
Name: 9635, dtype: object)
(9636, countryname    Isle of Man
countrycode            IMN
year                  2004
gdp            2.75812e+09
population           75341
Name: 9636, dtype: object)
(9637, countryname          India
countrycode            IND
year                  2004
gdp            6.99689e+11
population     1.12614e+09
Name: 9637, dtype: object)
(9638, countryname        Ireland
countrycode            IRL
year                  2004
gdp             1.9387e+11
population     4.07026e+06
Name: 9638, dtype: object)
(9639, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2004
gdp                   1.90043e+11
population            6.96171e+07
Name: 9639, dtype: object)
(9640, countryname           Iraq
countrycode            IRQ
year                  2004
gdp            3.66279e+10
population     2.63166e+07
Name: 9640, dtype: object)
(9641, countryname        Iceland
countrycode            ISL
year                  2004
gdp            1.37228e+10
population          292074
Name: 9641, dtype: object)
(9642, countryname         Israel
countrycode            ISR
year                  2004
gdp            1.35445e+11
population       6.809e+06
Name: 9642, dtype: object)
(9643, countryname          Italy
countrycode            ITA
year                  2004
gdp            1.79831e+12
population     5.76853e+07
Name: 9643, dtype: object)
(9644, countryname        Jamaica
countrycode            JAM
year                  2004
gdp             1.0151e+10
population     2.72878e+06
Name: 9644, dtype: object)
(9645, countryname         Jordan
countrycode            JOR
year                  2004
gdp            1.14114e+10
population      5.5356e+06
Name: 9645, dtype: object)
(9646, countryname          Japan
countrycode            JPN
year                  2004
gdp            4.81515e+12
population     1.27761e+08
Name: 9646, dtype: object)
(9647, countryname     Kazakhstan
countrycode            KAZ
year                  2004
gdp            4.31516e+10
population      1.5013e+07
Name: 9647, dtype: object)
(9648, countryname          Kenya
countrycode            KEN
year                  2004
gdp            1.60953e+10
population     3.50749e+07
Name: 9648, dtype: object)
(9649, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2004
gdp                2.21154e+09
population          5.1047e+06
Name: 9649, dtype: object)
(9650, countryname       Cambodia
countrycode            KHM
year                  2004
gdp            5.33783e+09
population     1.30634e+07
Name: 9650, dtype: object)
(9651, countryname       Kiribati
countrycode            KIR
year                  2004
gdp            1.02367e+08
population           90542
Name: 9651, dtype: object)
(9652, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2004
gdp                    5.02562e+08
population                   47971
Name: 9652, dtype: object)
(9653, countryname    Korea, Rep.
countrycode            KOR
year                  2004
gdp            7.64881e+11
population     4.80825e+07
Name: 9653, dtype: object)
(9654, countryname         Kuwait
countrycode            KWT
year                  2004
gdp            5.94401e+10
population     2.20794e+06
Name: 9654, dtype: object)
(9655, countryname        Lao PDR
countrycode            LAO
year                  2004
gdp             2.3664e+09
population     5.66460e+06
Name: 9655, dtype: object)
(9656, countryname        Lebanon
countrycode            LBN
year                  2004
gdp            2.09552e+10
population     3.86327e+06
Name: 9656, dtype: object)
(9657, countryname        Liberia
countrycode            LBR
year                  2004
gdp              4.747e+08
population     3.17641e+06
Name: 9657, dtype: object)
(9658, countryname          Libya
countrycode            LBY
year                  2004
gdp            3.31223e+10
population     5.70476e+06
Name: 9658, dtype: object)
(9659, countryname      St. Lucia
countrycode            LCA
year                  2004
gdp            8.93107e+08
population          162251
Name: 9659, dtype: object)
(9660, countryname    Liechtenstein
countrycode              LIE
year                    2004
gdp              3.45436e+09
population             34596
Name: 9660, dtype: object)
(9661, countryname      Sri Lanka
countrycode            LKA
year                  2004
gdp            2.06625e+10
population     1.93725e+07
Name: 9661, dtype: object)
(9662, countryname        Lesotho
countrycode            LSO
year                  2004
gdp            1.51124e+09
population     1.93373e+06
Name: 9662, dtype: object)
(9663, countryname      Lithuania
countrycode            LTU
year                  2004
gdp            2.26499e+10
population     3.37708e+06
Name: 9663, dtype: object)
(9664, countryname     Luxembourg
countrycode            LUX
year                  2004
gdp            3.46853e+10
population          458095
Name: 9664, dtype: object)
(9665, countryname         Latvia
countrycode            LVA
year                  2004
gdp            1.43733e+10
population     2.26312e+06
Name: 9665, dtype: object)
(9666, countryname    Macao SAR, China
countrycode                 MAC
year                       2004
gdp                 1.05856e+10
population               471453
Name: 9666, dtype: object)
(9667, countryname    St. Martin (French part)
countrycode                         MAF
year                               2004
gdp                          5.9626e+10
population                        27514
Name: 9667, dtype: object)
(9668, countryname        Morocco
countrycode            MAR
year                  2004
gdp             5.9626e+10
population     3.01793e+07
Name: 9668, dtype: object)
(9669, countryname         Monaco
countrycode            MCO
year                  2004
gdp            4.11035e+09
population           33314
Name: 9669, dtype: object)
(9670, countryname        Moldova
countrycode            MDA
year                  2004
gdp            2.59823e+09
population     3.60394e+06
Name: 9670, dtype: object)
(9671, countryname     Madagascar
countrycode            MDG
year                  2004
gdp            4.36393e+09
population      1.7803e+07
Name: 9671, dtype: object)
(9672, countryname       Maldives
countrycode            MDV
year                  2004
gdp            1.22683e+09
population          310423
Name: 9672, dtype: object)
(9673, countryname         Mexico
countrycode            MEX
year                  2004
gdp            7.82241e+11
population     1.06996e+08
Name: 9673, dtype: object)
(9674, countryname    Marshall Islands
countrycode                 MHL
year                       2004
gdp                 1.31335e+08
population                52074
Name: 9674, dtype: object)
(9675, countryname    Macedonia, FYR
countrycode               MKD
year                     2004
gdp               5.68272e+09
population        2.05705e+06
Name: 9675, dtype: object)
(9676, countryname           Mali
countrycode            MLI
year                  2004
gdp            5.44447e+09
population     1.23919e+07
Name: 9676, dtype: object)
(9677, countryname          Malta
countrycode            MLT
year                  2004
gdp            6.06278e+09
population          401268
Name: 9677, dtype: object)
(9678, countryname        Myanmar
countrycode            MMR
year                  2004
gdp            1.05674e+10
population     4.80737e+07
Name: 9678, dtype: object)
(9679, countryname     Montenegro
countrycode            MNE
year                  2004
gdp            2.07323e+09
population          613353
Name: 9679, dtype: object)
(9680, countryname       Mongolia
countrycode            MNG
year                  2004
gdp            1.99207e+09
population     2.49683e+06
Name: 9680, dtype: object)
(9681, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2004
gdp                            1.21e+09
population                        65663
Name: 9681, dtype: object)
(9682, countryname     Mozambique
countrycode            MOZ
year                  2004
gdp            6.83181e+09
population     2.03127e+07
Name: 9682, dtype: object)
(9683, countryname     Mauritania
countrycode            MRT
year                  2004
gdp            1.83344e+09
population     3.04282e+06
Name: 9683, dtype: object)
(9684, countryname     Mauritius
countrycode           MUS
year                 2004
gdp            6.3857e+09
population      1.221e+06
Name: 9684, dtype: object)
(9685, countryname         Malawi
countrycode            MWI
year                  2004
gdp            3.47609e+09
population      1.2676e+07
Name: 9685, dtype: object)
(9686, countryname       Malaysia
countrycode            MYS
year                  2004
gdp             1.2475e+11
population     2.51741e+07
Name: 9686, dtype: object)
(9687, countryname        Namibia
countrycode            NAM
year                  2004
gdp            6.60686e+09
population     2.00923e+06
Name: 9687, dtype: object)
(9688, countryname    New Caledonia
countrycode              NCL
year                    2004
gdp              2.68235e+09
population            228750
Name: 9688, dtype: object)
(9689, countryname         Niger
countrycode           NER
year                 2004
gdp            3.0529e+09
population     1.3127e+07
Name: 9689, dtype: object)
(9690, countryname        Nigeria
countrycode            NGA
year                  2004
gdp            8.78454e+10
population     1.35394e+08
Name: 9690, dtype: object)
(9691, countryname      Nicaragua
countrycode            NIC
year                  2004
gdp            5.79557e+09
population      5.3097e+06
Name: 9691, dtype: object)
(9692, countryname    Netherlands
countrycode            NLD
year                  2004
gdp            6.50533e+11
population     1.62818e+07
Name: 9692, dtype: object)
(9693, countryname         Norway
countrycode            NOR
year                  2004
gdp            2.64357e+11
population     4.59191e+06
Name: 9693, dtype: object)
(9694, countryname          Nepal
countrycode            NPL
year                  2004
gdp            7.27394e+09
population     2.53094e+07
Name: 9694, dtype: object)
(9695, countryname          Nauru
countrycode            NRU
year                  2004
gdp            7.27394e+09
population           10126
Name: 9695, dtype: object)
(9696, countryname    New Zealand
countrycode            NZL
year                  2004
gdp            1.03905e+11
population      4.0875e+06
Name: 9696, dtype: object)
(9697, countryname           Oman
countrycode            OMN
year                  2004
gdp            2.47636e+10
population     2.44475e+06
Name: 9697, dtype: object)
(9698, countryname       Pakistan
countrycode            PAK
year                  2004
gdp            9.79778e+10
population      1.5078e+08
Name: 9698, dtype: object)
(9699, countryname         Panama
countrycode            PAN
year                  2004
gdp            1.50134e+10
population     3.26954e+06
Name: 9699, dtype: object)
(9700, countryname           Peru
countrycode            PER
year                  2004
gdp            6.67687e+10
population     2.72732e+07
Name: 9700, dtype: object)
(9701, countryname    Philippines
countrycode            PHL
year                  2004
gdp            9.13712e+10
population     8.46785e+07
Name: 9701, dtype: object)
(9702, countryname          Palau
countrycode            PLW
year                  2004
gdp            1.64166e+08
population           19804
Name: 9702, dtype: object)
(9703, countryname    Papua New Guinea
countrycode                 PNG
year                       2004
gdp                 3.92716e+09
population          6.16152e+06
Name: 9703, dtype: object)
(9704, countryname         Poland
countrycode            POL
year                  2004
gdp            2.55102e+11
population     3.81822e+07
Name: 9704, dtype: object)
(9705, countryname    Puerto Rico
countrycode            PRI
year                  2004
gdp            8.03223e+10
population     3.82688e+06
Name: 9705, dtype: object)
(9706, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                2004
gdp                          1.89187e+11
population                   2.37295e+07
Name: 9706, dtype: object)
(9707, countryname       Portugal
countrycode            PRT
year                  2004
gdp            1.89187e+11
population     1.04839e+07
Name: 9707, dtype: object)
(9708, countryname       Paraguay
countrycode            PRY
year                  2004
gdp            8.03388e+09
population     5.70374e+06
Name: 9708, dtype: object)
(9709, countryname    West Bank and Gaza
countrycode                   PSE
year                         2004
gdp                    4.3292e+09
population            3.23663e+06
Name: 9709, dtype: object)
(9710, countryname    French Polynesia
countrycode                 PYF
year                       2004
gdp                 3.44754e+09
population               251775
Name: 9710, dtype: object)
(9711, countryname          Qatar
countrycode            QAT
year                  2004
gdp            3.17341e+10
population          758855
Name: 9711, dtype: object)
(9712, countryname        Romania
countrycode            ROU
year                  2004
gdp            7.62164e+10
population     2.14517e+07
Name: 9712, dtype: object)
(9713, countryname    Russian Federation
countrycode                   RUS
year                         2004
gdp                   5.91017e+11
population            1.44067e+08
Name: 9713, dtype: object)
(9714, countryname         Rwanda
countrycode            RWA
year                  2004
gdp            2.08896e+09
population     8.81844e+06
Name: 9714, dtype: object)
(9715, countryname    Saudi Arabia
countrycode             SAU
year                   2004
gdp             2.58742e+11
population      2.32289e+07
Name: 9715, dtype: object)
(9716, countryname          Sudan
countrycode            SDN
year                  2004
gdp            2.14575e+10
population     3.01863e+07
Name: 9716, dtype: object)
(9717, countryname        Senegal
countrycode            SEN
year                  2004
gdp            8.03134e+09
population     1.09559e+07
Name: 9717, dtype: object)
(9718, countryname      Singapore
countrycode            SGP
year                  2004
gdp            1.14189e+11
population     4.16666e+06
Name: 9718, dtype: object)
(9719, countryname    Solomon Islands
countrycode                SLB
year                      2004
gdp                3.75112e+08
population              458324
Name: 9719, dtype: object)
(9720, countryname    Sierra Leone
countrycode             SLE
year                   2004
gdp             1.44854e+09
population       5.4397e+06
Name: 9720, dtype: object)
(9721, countryname    El Salvador
countrycode            SLV
year                  2004
gdp            1.37248e+10
population     6.00078e+06
Name: 9721, dtype: object)
(9722, countryname     San Marino
countrycode            SMR
year                  2004
gdp            1.87733e+09
population           28866
Name: 9722, dtype: object)
(9723, countryname        Somalia
countrycode            SOM
year                  2004
gdp            2.48615e+10
population     1.01162e+07
Name: 9723, dtype: object)
(9724, countryname         Serbia

Name: 9824, dtype: object)
(9825, countryname        Estonia
countrycode            EST
year                  2005
gdp            1.40061e+10
population     1.35478e+06
Name: 9825, dtype: object)
(9826, countryname       Ethiopia
countrycode            ETH
year                  2005
gdp            1.24011e+10
population     7.67271e+07
Name: 9826, dtype: object)
(9827, countryname        Finland
countrycode            FIN
year                  2005
gdp            2.04436e+11
population      5.2461e+06
Name: 9827, dtype: object)
(9828, countryname           Fiji
countrycode            FJI
year                  2005
gdp            3.00673e+09
population          821817
Name: 9828, dtype: object)
(9829, countryname         France
countrycode            FRA
year                  2005
gdp            2.19613e+12
population     6.31794e+07
Name: 9829, dtype: object)
(9830, countryname    Faroe Islands
countrycode              FRO
year                    2005
gdp              1.73089e+09
population             48285
Name: 9830, dtype: object)
(9831, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2005
gdp                      2.50149e+08
population                    106196
Name: 9831, dtype: object)
(9832, countryname          Gabon
countrycode            GAB
year                  2005
gdp            9.57897e+09
population     1.40313e+06
Name: 9832, dtype: object)
(9833, countryname    United Kingdom
countrycode               GBR
year                     2005
gdp                2.5207e+12
population        6.04012e+07
Name: 9833, dtype: object)
(9834, countryname        Georgia
countrycode            GEO
year                  2005
gdp            6.41085e+09
population        4.19e+06
Name: 9834, dtype: object)
(9835, countryname          Ghana
countrycode            GHA
year                  2005
gdp            1.07316e+10
population      2.1542e+07
Name: 9835, dtype: object)
(9836, countryname      Gibraltar
countrycode            GIB
year                  2005
gdp            1.07316e+10
population           32085
Name: 9836, dtype: object)
(9837, countryname         Guinea
countrycode            GIN
year                  2005
gdp            2.93707e+09
population     9.67974e+06
Name: 9837, dtype: object)
(9838, countryname    Gambia, The
countrycode            GMB
year                  2005
gdp            6.24173e+08
population      1.4442e+06
Name: 9838, dtype: object)
(9839, countryname    Guinea-Bissau
countrycode              GNB
year                    2005
gdp              5.86796e+08
population       1.38084e+06
Name: 9839, dtype: object)
(9840, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2005
gdp                  8.21737e+09
population                757317
Name: 9840, dtype: object)
(9841, countryname         Greece
countrycode            GRC
year                  2005
gdp            2.47783e+11
population     1.09873e+07
Name: 9841, dtype: object)
(9842, countryname       Grenada
countrycode           GRD
year                 2005
gdp            6.9537e+08
population         102949
Name: 9842, dtype: object)
(9843, countryname      Greenland
countrycode            GRL
year                  2005
gdp            1.84981e+09
population           56935
Name: 9843, dtype: object)
(9844, countryname      Guatemala
countrycode            GTM
year                  2005
gdp            2.72114e+10
population      1.3096e+07
Name: 9844, dtype: object)
(9845, countryname         Guam
countrycode          GUM
year                2005
gdp            4.197e+09
population        158402
Name: 9845, dtype: object)
(9846, countryname         Guyana
countrycode            GUY
year                  2005
gdp            8.24881e+08
population          750946
Name: 9846, dtype: object)
(9847, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2005
gdp                      1.8157e+11
population               6.8132e+06
Name: 9847, dtype: object)
(9848, countryname       Honduras
countrycode            HND
year                  2005
gdp            9.67204e+09
population     7.37343e+06
Name: 9848, dtype: object)
(9849, countryname        Croatia
countrycode            HRV
year                  2005
gdp            4.54164e+10
population       4.442e+06
Name: 9849, dtype: object)
(9850, countryname          Haiti
countrycode            HTI
year                  2005
gdp            4.31036e+09
population      9.2634e+06
Name: 9850, dtype: object)
(9851, countryname        Hungary
countrycode            HUN
year                  2005
gdp            1.13035e+11
population     1.00871e+07
Name: 9851, dtype: object)
(9852, countryname      Indonesia
countrycode            IDN
year                  2005
gdp            2.85869e+11
population     2.26713e+08
Name: 9852, dtype: object)
(9853, countryname    Isle of Man
countrycode            IMN
year                  2005
gdp            2.97117e+09
population           76118
Name: 9853, dtype: object)
(9854, countryname          India
countrycode            IND
year                  2005
gdp            8.08901e+11
population     1.14412e+09
Name: 9854, dtype: object)
(9855, countryname        Ireland
countrycode            IRL
year                  2005
gdp            2.11651e+11
population     4.15991e+06
Name: 9855, dtype: object)
(9856, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2005
gdp                   2.26452e+11
population            7.04218e+07
Name: 9856, dtype: object)
(9857, countryname           Iraq
countrycode            IRQ
year                  2005
gdp            4.99549e+10
population     2.70084e+07
Name: 9857, dtype: object)
(9858, countryname        Iceland
countrycode            ISL
year                  2005
gdp            1.66915e+10
population          296734
Name: 9858, dtype: object)
(9859, countryname         Israel
countrycode            ISR
year                  2005
gdp            1.42463e+11
population      6.9301e+06
Name: 9859, dtype: object)
(9860, countryname          Italy
countrycode            ITA
year                  2005
gdp            1.85266e+12
population     5.79695e+07
Name: 9860, dtype: object)
(9861, countryname        Jamaica
countrycode            JAM
year                  2005
gdp            1.12044e+10
population     2.74467e+06
Name: 9861, dtype: object)
(9862, countryname         Jordan
countrycode            JOR
year                  2005
gdp            1.25887e+10
population     5.71411e+06
Name: 9862, dtype: object)
(9863, countryname          Japan
countrycode            JPN
year                  2005
gdp            4.75541e+12
population     1.27773e+08
Name: 9863, dtype: object)
(9864, countryname     Kazakhstan
countrycode            KAZ
year                  2005
gdp            5.71237e+10
population      1.5147e+07
Name: 9864, dtype: object)
(9865, countryname          Kenya
countrycode            KEN
year                  2005
gdp            1.87379e+10
population     3.60483e+07
Name: 9865, dtype: object)
(9866, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2005
gdp                2.46025e+09
population          5.1626e+06
Name: 9866, dtype: object)
(9867, countryname       Cambodia
countrycode            KHM
year                  2005
gdp            6.29305e+09
population     1.32702e+07
Name: 9867, dtype: object)
(9868, countryname       Kiribati
countrycode            KIR
year                  2005
gdp            1.12134e+08
population           92325
Name: 9868, dtype: object)
(9869, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2005
gdp                    5.43168e+08
population                   48611
Name: 9869, dtype: object)
(9870, countryname    Korea, Rep.
countrycode            KOR
year                  2005
gdp            8.98137e+11
population     4.81846e+07
Name: 9870, dtype: object)
(9871, countryname         Kuwait
countrycode            KWT
year                  2005
gdp            8.07979e+10
population     2.27662e+06
Name: 9871, dtype: object)
(9872, countryname        Lao PDR
countrycode            LAO
year                  2005
gdp            2.73556e+09
population     5.75403e+06
Name: 9872, dtype: object)
(9873, countryname        Lebanon
countrycode            LBN
year                  2005
gdp            2.12876e+10
population     3.98685e+06
Name: 9873, dtype: object)
(9874, countryname        Liberia
countrycode            LBR
year                  2005
gdp                5.5e+08
population     3.26123e+06
Name: 9874, dtype: object)
(9875, countryname          Libya
countrycode            LBY
year                  2005
gdp            4.73341e+10
population     5.79269e+06
Name: 9875, dtype: object)
(9876, countryname      St. Lucia
countrycode            LCA
year                  2005
gdp            9.51207e+08
population          163714
Name: 9876, dtype: object)
(9877, countryname    Liechtenstein
countrycode              LIE
year                    2005
gdp              3.65925e+09
population             34852
Name: 9877, dtype: object)
(9878, countryname      Sri Lanka
countrycode            LKA
year                  2005
gdp            2.44058e+10
population     1.95246e+07
Name: 9878, dtype: object)
(9879, countryname        Lesotho
countrycode            LSO
year                  2005
gdp            1.68235e+09
population     1.94954e+06
Name: 9879, dtype: object)
(9880, countryname      Lithuania
countrycode            LTU
year                  2005
gdp            2.61256e+10
population     3.32253e+06
Name: 9880, dtype: object)
(9881, countryname     Luxembourg
countrycode            LUX
year                  2005
gdp            3.73474e+10
population          465158
Name: 9881, dtype: object)
(9882, countryname         Latvia
countrycode            LVA
year                  2005
gdp            1.69225e+10
population      2.2388e+06
Name: 9882, dtype: object)
(9883, countryname    Macao SAR, China
countrycode                 MAC
year                       2005
gdp                 1.20922e+10
population               482559
Name: 9883, dtype: object)
(9884, countryname    St. Martin (French part)
countrycode                         MAF
year                               2005
gdp                          6.2343e+10
population                        27906
Name: 9884, dtype: object)
(9885, countryname        Morocco
countrycode            MAR
year                  2005
gdp             6.2343e+10
population     3.05211e+07
Name: 9885, dtype: object)
(9886, countryname         Monaco
countrycode            MCO
year                  2005
gdp            4.28007e+09
population           33793
Name: 9886, dtype: object)
(9887, countryname        Moldova
countrycode            MDA
year                  2005
gdp            2.98834e+09
population     3.59519e+06
Name: 9887, dtype: object)
(9888, countryname     Madagascar
countrycode            MDG
year                  2005
gdp            5.03929e+09
population     1.83367e+07
Name: 9888, dtype: object)
(9889, countryname       Maldives
countrycode            MDV
year                  2005
gdp            1.16336e+09
population          318836
Name: 9889, dtype: object)
(9890, countryname         Mexico
countrycode            MEX
year                  2005
gdp            8.77476e+11
population     1.08472e+08
Name: 9890, dtype: object)
(9891, countryname    Marshall Islands
countrycode                 MHL
year                       2005
gdp                 1.37929e+08
population                52055
Name: 9891, dtype: object)
(9892, countryname    Macedonia, FYR
countrycode               MKD
year                     2005
gdp                6.2586e+09
population        2.06027e+06
Name: 9892, dtype: object)
(9893, countryname           Mali
countrycode            MLI
year                  2005
gdp            6.24503e+09
population     1.27988e+07
Name: 9893, dtype: object)
(9894, countryname          Malta
countrycode            MLT
year                  2005
gdp            6.39485e+09
population          403834
Name: 9894, dtype: object)
(9895, countryname        Myanmar
countrycode            MMR
year                  2005
gdp             1.1987e+10
population     4.84826e+07
Name: 9895, dtype: object)
(9896, countryname     Montenegro
countrycode            MNE
year                  2005
gdp            2.25717e+09
population          614261
Name: 9896, dtype: object)
(9897, countryname       Mongolia
countrycode            MNG
year                  2005
gdp            2.52347e+09
population     2.52645e+06
Name: 9897, dtype: object)
(9898, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2005
gdp                           1.061e+09
population                        63744
Name: 9898, dtype: object)
(9899, countryname     Mozambique
countrycode            MOZ
year                  2005
gdp            7.72385e+09
population     2.09231e+07
Name: 9899, dtype: object)
(9900, countryname     Mauritania
countrycode            MRT
year                  2005
gdp            2.18445e+09
population     3.13072e+06
Name: 9900, dtype: object)
(9901, countryname      Mauritius
countrycode            MUS
year                  2005
gdp             6.2838e+09
population     1.22825e+06
Name: 9901, dtype: object)
(9902, countryname         Malawi
countrycode            MWI
year                  2005
gdp            3.65591e+09
population     1.30397e+07
Name: 9902, dtype: object)
(9903, countryname       Malaysia
countrycode            MYS
year                  2005
gdp            1.43534e+11
population     2.56594e+07
Name: 9903, dtype: object)
(9904, countryname        Namibia
countrycode            NAM
year                  2005
gdp            7.26133e+09
population      2.0322e+06
Name: 9904, dtype: object)
(9905, countryname    New Caledonia
countrycode              NCL
year                    2005
gdp              2.68235e+09
population            232250
Name: 9905, dtype: object)
(9906, countryname          Niger
countrycode            NER
year                  2005
gdp            3.40513e+09
population     1.36184e+07
Name: 9906, dtype: object)
(9907, countryname        Nigeria
countrycode            NGA
year                  2005
gdp            1.12248e+11
population     1.38939e+08
Name: 9907, dtype: object)
(9908, countryname      Nicaragua
countrycode            NIC
year                  2005
gdp            6.32134e+09
population     5.37933e+06
Name: 9908, dtype: object)
(9909, countryname    Netherlands
countrycode            NLD
year                  2005
gdp            6.78534e+11
population     1.63199e+07
Name: 9909, dtype: object)
(9910, countryname         Norway
countrycode            NOR
year                  2005
gdp            3.08722e+11
population     4.62329e+06
Name: 9910, dtype: object)
(9911, countryname          Nepal
countrycode            NPL
year                  2005
gdp            8.13026e+09
population     2.56403e+07
Name: 9911, dtype: object)
(9912, countryname          Nauru
countrycode            NRU
year                  2005
gdp            8.13026e+09
population           10114
Name: 9912, dtype: object)
(9913, countryname    New Zealand
countrycode            NZL
year                  2005
gdp            1.14719e+11
population      4.1339e+06
Name: 9913, dtype: object)
(9914, countryname           Oman
countrycode            OMN
year                  2005
gdp            3.10819e+10
population     2.51127e+06
Name: 9914, dtype: object)
(9915, countryname       Pakistan
countrycode            PAK
year                  2005
gdp            1.09502e+11
population      1.5391e+08
Name: 9915, dtype: object)
(9916, countryname         Panama
countrycode            PAN
year                  2005
gdp            1.63744e+10
population     3.33046e+06
Name: 9916, dtype: object)
(9917, countryname           Peru
countrycode            PER
year                  2005
gdp            7.60606e+10
population     2.76104e+07
Name: 9917, dtype: object)
(9918, countryname    Philippines
countrycode            PHL
year                  2005
gdp            1.03072e+11
population     8.62742e+07
Name: 9918, dtype: object)
(9919, countryname          Palau
countrycode            PLW
year                  2005
gdp            1.84684e+08
population           19906
Name: 9919, dtype: object)
(9920, countryname    Papua New Guinea
countrycode                 PNG
year                       2005
gdp                 4.86589e+09
population          6.31471e+06
Name: 9920, dtype: object)
(9921, countryname         Poland
countrycode            POL
year                  2005
gdp            3.06125e+11
population     3.81654e+07
Name: 9921, dtype: object)
(9922, countryname    Puerto Rico
countrycode            PRI
year                  2005
gdp            8.39145e+10
population     3.82136e+06
Name: 9922, dtype: object)
(9923, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                2005
gdp                          1.97305e+11
population                   2.39042e+07
Name: 9923, dtype: object)
(9924, countryname       Portugal
countrycode            PRT
year                  2005
gdp            1.97305e+11
population     1.05033e+07
Name: 9924, dtype: object)
(9925, countryname       Paraguay
countrycode            PRY
year                  2005
gdp            8.73465e+09
population     5.79549e+06
Name: 9925, dtype: object)
(9926, countryname    West Bank and Gaza
countrycode                   PSE
year                         2005
gdp                    4.8318e+09
population             3.3204e+06
Name: 9926, dtype: object)
(9927, countryname    French Polynesia
countrycode                 PYF
year                       2005
gdp                 3.44754e+09
population               254886
Name: 9927, dtype: object)
(9928, countryname          Qatar
countrycode            QAT
year                  2005
gdp            4.45305e+10
population          864863
Name: 9928, dtype: object)
(9929, countryname        Romania
countrycode            ROU
year                  2005
gdp            9.96976e+10
population     2.13197e+07
Name: 9929, dtype: object)
(9930, countryname    Russian Federation
countrycode                   RUS
year                         2005
gdp                   7.64017e+11
population            1.43519e+08
Name: 9930, dtype: object)
(9931, countryname         Rwanda
countrycode            RWA
year                  2005
gdp            2.58131e+09
population     8.99174e+06
Name: 9931, dtype: object)
(9932, countryname    Saudi Arabia
countrycode             SAU
year                   2005
gdp              3.2846e+11
population      2.39057e+07
Name: 9932, dtype: object)
(9933, countryname          Sudan
countrycode            SDN
year                  2005
gdp            2.65245e+10
population     3.09119e+07
Name: 9933, dtype: object)
(9934, countryname        Senegal
countrycode            SEN
year                  2005
gdp            8.70702e+09
population     1.12513e+07
Name: 9934, dtype: object)
(9935, countryname      Singapore
countrycode            SGP
year                  2005
gdp            1.27418e+11
population     4.26576e+06
Name: 9935, dtype: object)
(9936, countryname    Solomon Islands
countrycode                SLB
year                      2005
gdp                 4.1391e+08
population              469885
Name: 9936, dtype: object)
(9937, countryname    Sierra Leone
countrycode             SLE
year                   2005
gdp             1.65049e+09
population      5.65838e+06
Name: 9937, dtype: object)
(9938, countryname    El Salvador
countrycode            SLV
year                  2005
gdp             1.4698e+10
population     6.02896e+06
Name: 9938, dtype: object)

Name: 10035, dtype: object)
(10036, countryname    Dominican Republic
countrycode                   DOM
year                         2006
gdp                   3.81164e+10
population            9.37134e+06
Name: 10036, dtype: object)
(10037, countryname        Algeria
countrycode            DZA
year                  2006
gdp            1.17027e+11
population     3.37779e+07
Name: 10037, dtype: object)
(10038, countryname        Ecuador
countrycode            ECU
year                  2006
gdp             4.6802e+10
population     1.39675e+07
Name: 10038, dtype: object)
(10039, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2006
gdp                 1.07484e+11
population           7.8159e+07
Name: 10039, dtype: object)
(10040, countryname        Eritrea
countrycode            ERI
year                  2006
gdp            1.21116e+09
population     4.06665e+06
Name: 10040, dtype: object)
(10041, countryname          Spain
countrycode            ESP
year                  2006
gdp            1.26455e+12
population     4.43973e+07
Name: 10041, dtype: object)
(10042, countryname        Estonia
countrycode            EST
year                  2006
gdp            1.69636e+10
population     1.34681e+06
Name: 10042, dtype: object)
(10043, countryname       Ethiopia
countrycode            ETH
year                  2006
gdp            1.52809e+10
population     7.88507e+07
Name: 10043, dtype: object)
(10044, countryname        Finland
countrycode            FIN
year                  2006
gdp            2.16553e+11
population     5.26627e+06
Name: 10044, dtype: object)
(10045, countryname           Fiji
countrycode            FJI
year                  2006
gdp            3.10274e+09
population          827411
Name: 10045, dtype: object)
(10046, countryname         France
countrycode            FRA
year                  2006
gdp            2.31859e+12
population     6.36214e+07
Name: 10046, dtype: object)
(10047, countryname    Faroe Islands
countrycode              FRO
year                    2006
gdp              1.97014e+09
population             48383
Name: 10047, dtype: object)
(10048, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2006
gdp                      2.53372e+08
population                    105684
Name: 10048, dtype: object)
(10049, countryname          Gabon
countrycode            GAB
year                  2006
gdp            1.03184e+10
population     1.44484e+06
Name: 10049, dtype: object)
(10050, countryname    United Kingdom
countrycode               GBR
year                     2006
gdp               2.69261e+12
population        6.08468e+07
Name: 10050, dtype: object)
(10051, countryname        Georgia
countrycode            GEO
year                  2006
gdp            7.74541e+09
population       4.136e+06
Name: 10051, dtype: object)
(10052, countryname          Ghana
countrycode            GHA
year                  2006
gdp            2.04097e+10
population     2.21134e+07
Name: 10052, dtype: object)
(10053, countryname      Gibraltar
countrycode            GIB
year                  2006
gdp            2.04097e+10
population           32296
Name: 10053, dtype: object)
(10054, countryname         Guinea
countrycode            GIN
year                  2006
gdp            4.37587e+09
population     9.88143e+06
Name: 10054, dtype: object)
(10055, countryname    Gambia, The
countrycode            GMB
year                  2006
gdp             6.5507e+08
population     1.49102e+06
Name: 10055, dtype: object)
(10056, countryname    Guinea-Bissau
countrycode              GNB
year                    2006
gdp              5.91839e+08
population       1.41267e+06
Name: 10056, dtype: object)
(10057, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2006
gdp                  1.00865e+10
population                792217
Name: 10057, dtype: object)
(10058, countryname         Greece
countrycode            GRC
year                  2006
gdp            2.73318e+11
population     1.10204e+07
Name: 10058, dtype: object)
(10059, countryname        Grenada
countrycode            GRD
year                  2006
gdp            6.98701e+08
population          103259
Name: 10059, dtype: object)
(10060, countryname     Greenland
countrycode           GRL
year                 2006
gdp            2.0131e+09
population          56774
Name: 10060, dtype: object)
(10061, countryname      Guatemala
countrycode            GTM
year                  2006
gdp            3.02312e+10
population      1.3397e+07
Name: 10061, dtype: object)
(10062, countryname         Guam
countrycode          GUM
year                2006
gdp            4.213e+09
population        158648
Name: 10062, dtype: object)
(10063, countryname         Guyana
countrycode            GUY
year                  2006
gdp            1.45845e+09
population          749601
Name: 10063, dtype: object)
(10064, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2006
gdp                     1.93536e+11
population               6.8571e+06
Name: 10064, dtype: object)
(10065, countryname       Honduras
countrycode            HND
year                  2006
gdp            1.08417e+10
population     7.54141e+06
Name: 10065, dtype: object)
(10066, countryname        Croatia
countrycode            HRV
year                  2006
gdp            5.04536e+10
population        4.44e+06
Name: 10066, dtype: object)
(10067, countryname          Haiti
countrycode            HTI
year                  2006
gdp             4.7562e+09
population     9.40946e+06
Name: 10067, dtype: object)
(10068, countryname        Hungary
countrycode            HUN
year                  2006
gdp            1.15295e+11
population     1.00714e+07
Name: 10068, dtype: object)
(10069, countryname      Indonesia
countrycode            IDN
year                  2006
gdp            3.64571e+11
population     2.29838e+08
Name: 10069, dtype: object)
(10070, countryname    Isle of Man
countrycode            IMN
year                  2006
gdp             3.3444e+09
population           76914
Name: 10070, dtype: object)
(10071, countryname          India
countrycode            IND
year                  2006
gdp            9.20317e+11
population     1.16198e+09
Name: 10071, dtype: object)
(10072, countryname        Ireland
countrycode            IRL
year                  2006
gdp            2.32086e+11
population     4.27359e+06
Name: 10072, dtype: object)
(10073, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2006
gdp                   2.66299e+11
population            7.12279e+07
Name: 10073, dtype: object)
(10074, countryname           Iraq
countrycode            IRQ
year                  2006
gdp            6.51403e+10
population     2.76979e+07
Name: 10074, dtype: object)
(10075, countryname        Iceland
countrycode            ISL
year                  2006
gdp            1.70486e+10
population          303782
Name: 10075, dtype: object)
(10076, countryname         Israel
countrycode            ISR
year                  2006
gdp            1.53967e+11
population      7.0537e+06
Name: 10076, dtype: object)
(10077, countryname          Italy
countrycode            ITA
year                  2006
gdp            1.94263e+12
population      5.8144e+07
Name: 10077, dtype: object)
(10078, countryname        Jamaica
countrycode            JAM
year                  2006
gdp            1.19055e+10
population     2.76028e+06
Name: 10078, dtype: object)
(10079, countryname         Jordan
countrycode            JOR
year                  2006
gdp            1.50569e+10
population     5.93423e+06
Name: 10079, dtype: object)
(10080, countryname          Japan
countrycode            JPN
year                  2006
gdp            4.53038e+12
population     1.27854e+08
Name: 10080, dtype: object)
(10081, countryname     Kazakhstan
countrycode            KAZ
year                  2006
gdp            8.10039e+10
population     1.53081e+07
Name: 10081, dtype: object)
(10082, countryname          Kenya
countrycode            KEN
year                  2006
gdp            2.58255e+10
population     3.70520e+07
Name: 10082, dtype: object)
(10083, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2006
gdp                2.83417e+09
population          5.2184e+06
Name: 10083, dtype: object)
(10084, countryname       Cambodia
countrycode            KHM
year                  2006
gdp             7.2746e+09
population     1.34745e+07
Name: 10084, dtype: object)
(10085, countryname       Kiribati
countrycode            KIR
year                  2006
gdp            1.08546e+08
population           94260
Name: 10085, dtype: object)
(10086, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2006
gdp                    6.36218e+08
population                   49210
Name: 10086, dtype: object)
(10087, countryname    Korea, Rep.
countrycode            KOR
year                  2006
gdp             1.0118e+12
population     4.84383e+07
Name: 10087, dtype: object)
(10088, countryname         Kuwait
countrycode            KWT
year                  2006
gdp            1.01551e+11
population     2.37726e+06
Name: 10088, dtype: object)
(10089, countryname        Lao PDR
countrycode            LAO
year                  2006
gdp            3.45288e+09
population     5.84936e+06
Name: 10089, dtype: object)
(10090, countryname        Lebanon
countrycode            LBN
year                  2006
gdp            2.17964e+10
population     4.05735e+06
Name: 10090, dtype: object)
(10091, countryname        Liberia
countrycode            LBR
year                  2006
gdp            6.04029e+08
population     3.37584e+06
Name: 10091, dtype: object)
(10092, countryname          Libya
countrycode            LBY
year                  2006
gdp            5.49619e+10
population     5.88144e+06
Name: 10092, dtype: object)
(10093, countryname      St. Lucia
countrycode            LCA
year                  2006
gdp            1.13419e+09
population          165407
Name: 10093, dtype: object)
(10094, countryname    Liechtenstein
countrycode              LIE
year                    2006
gdp              4.00024e+09
population             35095
Name: 10094, dtype: object)
(10095, countryname      Sri Lanka
countrycode            LKA
year                  2006
gdp            2.82674e+10
population     1.96702e+07
Name: 10095, dtype: object)
(10096, countryname        Lesotho
countrycode            LSO
year                  2006
gdp            1.80011e+09
population     1.96566e+06
Name: 10096, dtype: object)
(10097, countryname      Lithuania
countrycode            LTU
year                  2006
gdp            3.02161e+10
population     3.26991e+06
Name: 10097, dtype: object)
(10098, countryname     Luxembourg
countrycode            LUX
year                  2006
gdp            4.24143e+10
population          472637
Name: 10098, dtype: object)
(10099, countryname         Latvia
countrycode            LVA
year                  2006
gdp             2.1447e+10
population     2.21836e+06
Name: 10099, dtype: object)
(10100, countryname    Macao SAR, China
countrycode                 MAC
year                       2006
gdp                 1.47897e+10
population               493320
Name: 10100, dtype: object)
(10101, countryname    St. Martin (French part)
countrycode                         MAF
year                               2006
gdp                         6.86408e+10
population                        28414
Name: 10101, dtype: object)
(10102, countryname        Morocco
countrycode            MAR
year                  2006
gdp            6.86408e+10
population     3.08693e+07
Name: 10102, dtype: object)
(10103, countryname         Monaco
countrycode            MCO
year                  2006
gdp            4.66349e+09
population           34408
Name: 10103, dtype: object)
(10104, countryname        Moldova
countrycode            MDA
year                  2006
gdp            3.40827e+09
population     3.58521e+06
Name: 10104, dtype: object)
(10105, countryname     Madagascar
countrycode            MDG
year                  2006
gdp            5.51588e+09
population     1.88803e+07
Name: 10105, dtype: object)
(10106, countryname      Maldives
countrycode           MDV
year                 2006
gdp            1.5752e+09
population         327371
Name: 10106, dtype: object)
(10107, countryname         Mexico
countrycode            MEX
year                  2006
gdp            9.75387e+11
population     1.10092e+08
Name: 10107, dtype: object)
(10108, countryname    Marshall Islands
countrycode                 MHL
year                       2006
gdp                  1.4393e+08
population                52078
Name: 10108, dtype: object)
(10109, countryname    Macedonia, FYR
countrycode               MKD
year                     2006
gdp               6.86122e+09
population        2.06314e+06
Name: 10109, dtype: object)
(10110, countryname           Mali
countrycode            MLI
year                  2006
gdp             6.8998e+09
population     1.32271e+07
Name: 10110, dtype: object)
(10111, countryname          Malta
countrycode            MLT
year                  2006
gdp            6.75712e+09
population          405308
Name: 10111, dtype: object)
(10112, countryname        Myanmar
countrycode            MMR
year                  2006
gdp            1.45026e+10
population     4.88465e+07
Name: 10112, dtype: object)
(10113, countryname    Montenegro
countrycode           MNE
year                 2006
gdp            2.7219e+09
population         615025
Name: 10113, dtype: object)
(10114, countryname       Mongolia
countrycode            MNG
year                  2006
gdp            3.41406e+09
population     2.55801e+06
Name: 10114, dtype: object)
(10115, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2006
gdp                             9.9e+08
population                        61688
Name: 10115, dtype: object)
(10116, countryname     Mozambique
countrycode            MOZ
year                  2006
gdp            8.31208e+09
population     2.15475e+07
Name: 10116, dtype: object)
(10117, countryname     Mauritania
countrycode            MRT
year                  2006
gdp            3.04072e+09
population     3.22065e+06
Name: 10117, dtype: object)
(10118, countryname     Mauritius
countrycode           MUS
year                 2006
gdp            7.0288e+09
population      1.234e+06
Name: 10118, dtype: object)
(10119, countryname         Malawi
countrycode            MWI
year                  2006
gdp            3.99785e+09
population     1.34293e+07
Name: 10119, dtype: object)
(10120, countryname       Malaysia
countrycode            MYS
year                  2006
gdp            1.62691e+11
population     2.61436e+07
Name: 10120, dtype: object)
(10121, countryname        Namibia
countrycode            NAM
year                  2006
gdp            7.97873e+09
population     2.05573e+06
Name: 10121, dtype: object)
(10122, countryname    New Caledonia
countrycode              NCL
year                    2006
gdp              2.68235e+09
population            235750
Name: 10122, dtype: object)
(10123, countryname          Niger
countrycode            NER
year                  2006
gdp            3.64673e+09
population     1.41321e+07
Name: 10123, dtype: object)
(10124, countryname        Nigeria
countrycode            NGA
year                  2006
gdp             1.4543e+11
population     1.42614e+08
Name: 10124, dtype: object)
(10125, countryname      Nicaragua
countrycode            NIC
year                  2006
gdp            6.76367e+09
population     5.45021e+06
Name: 10125, dtype: object)
(10126, countryname    Netherlands
countrycode            NLD
year                  2006
gdp            7.26649e+11
population     1.63461e+07
Name: 10126, dtype: object)
(10127, countryname         Norway
countrycode            NOR
year                  2006
gdp            3.45425e+11
population     4.66068e+06
Name: 10127, dtype: object)
(10128, countryname          Nepal
countrycode            NPL
year                  2006
gdp            9.04372e+09
population     2.59406e+07
Name: 10128, dtype: object)
(10129, countryname          Nauru
countrycode            NRU
year                  2006
gdp            3.45425e+11
population           10071
Name: 10129, dtype: object)
(10130, countryname    New Zealand
countrycode            NZL
year                  2006
gdp            1.11609e+11
population      4.1846e+06
Name: 10130, dtype: object)
(10131, countryname           Oman
countrycode            OMN
year                  2006
gdp            3.72159e+10
population     2.58299e+06
Name: 10131, dtype: object)
(10132, countryname       Pakistan
countrycode            PAK
year                  2006
gdp            1.37264e+11
population     1.57094e+08
Name: 10132, dtype: object)
(10133, countryname         Panama
countrycode            PAN
year                  2006
gdp            1.81417e+10
population     3.39190e+06
Name: 10133, dtype: object)
(10134, countryname           Peru
countrycode            PER
year                  2006
gdp            8.86432e+10
population     2.79499e+07
Name: 10134, dtype: object)
(10135, countryname    Philippines
countrycode            PHL
year                  2006
gdp            1.22211e+11
population     8.78094e+07
Name: 10135, dtype: object)
(10136, countryname          Palau
countrycode            PLW
year                  2006
gdp            1.88045e+08
population           20012
Name: 10136, dtype: object)
(10137, countryname    Papua New Guinea
countrycode                 PNG
year                       2006
gdp                 8.30634e+09
population          6.47027e+06
Name: 10137, dtype: object)
(10138, countryname         Poland
countrycode            POL
year                  2006
gdp            3.44749e+11
population     3.81413e+07
Name: 10138, dtype: object)
(10139, countryname    Puerto Rico
countrycode            PRI
year                  2006
gdp            8.72762e+10
population     3.80521e+06
Name: 10139, dtype: object)
(10140, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                2006
gdp                          2.08567e+11
population                   2.40611e+07
Name: 10140, dtype: object)
(10141, countryname       Portugal
countrycode            PRT
year                  2006
gdp            2.08567e+11
population     1.05223e+07
Name: 10141, dtype: object)
(10142, countryname       Paraguay
countrycode            PRY
year                  2006
gdp            1.06462e+10
population      5.8828e+06
Name: 10142, dtype: object)
(10143, countryname    West Bank and Gaza
countrycode                   PSE
year                         2006
gdp                    4.9101e+09
population            3.40633e+06
Name: 10143, dtype: object)
(10144, countryname    French Polynesia
countrycode                 PYF
year                       2006
gdp                 3.44754e+09
population               257832
Name: 10144, dtype: object)
(10145, countryname          Qatar
countrycode            QAT
year                  2006
gdp            6.08821e+10
population     1.01038e+06
Name: 10145, dtype: object)
(10146, countryname        Romania
countrycode            ROU
year                  2006
gdp            1.23533e+11
population     2.11938e+07
Name: 10146, dtype: object)
(10147, countryname    Russian Federation
countrycode                   RUS
year                         2006
gdp                   9.89931e+11
population             1.4305e+08
Name: 10147, dtype: object)
(10148, countryname         Rwanda
countrycode            RWA
year                  2006
gdp            3.15232e+09

Name: 10253, dtype: object)
(10254, countryname        Algeria
countrycode            DZA
year                  2007
gdp            1.34977e+11
population     3.43001e+07
Name: 10254, dtype: object)
(10255, countryname        Ecuador
countrycode            ECU
year                  2007
gdp            5.10078e+10
population     1.42055e+07
Name: 10255, dtype: object)
(10256, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2007
gdp                 1.30479e+11
population          7.95373e+07
Name: 10256, dtype: object)
(10257, countryname        Eritrea
countrycode            ERI
year                  2007
gdp            1.31797e+09
population     4.15333e+06
Name: 10257, dtype: object)
(10258, countryname          Spain
countrycode            ESP
year                  2007
gdp            1.47934e+12
population     4.52268e+07
Name: 10258, dtype: object)
(10259, countryname        Estonia
countrycode            EST
year                  2007
gdp            2.22371e+10
population     1.34068e+06
Name: 10259, dtype: object)
(10260, countryname       Ethiopia
countrycode            ETH
year                  2007
gdp            1.97076e+10
population     8.10004e+07
Name: 10260, dtype: object)
(10261, countryname        Finland
countrycode            FIN
year                  2007
gdp            2.55385e+11
population     5.28872e+06
Name: 10261, dtype: object)
(10262, countryname           Fiji
countrycode            FJI
year                  2007
gdp            3.40505e+09
population          834812
Name: 10262, dtype: object)
(10263, countryname         France
countrycode            FRA
year                  2007
gdp            2.65721e+12
population     6.40162e+07
Name: 10263, dtype: object)
(10264, countryname    Faroe Islands
countrycode              FRO
year                    2007
gdp              2.27823e+09
population             48448
Name: 10264, dtype: object)
(10265, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2007
gdp                      2.56548e+08
population                    105078
Name: 10265, dtype: object)
(10266, countryname          Gabon
countrycode            GAB
year                  2007
gdp             1.2439e+10
population     1.48919e+06
Name: 10266, dtype: object)
(10267, countryname    United Kingdom
countrycode               GBR
year                     2007
gdp               3.07436e+12
population        6.13225e+07
Name: 10267, dtype: object)
(10268, countryname        Georgia
countrycode            GEO
year                  2007
gdp            1.01729e+10
population       4.082e+06
Name: 10268, dtype: object)
(10269, countryname          Ghana
countrycode            GHA
year                  2007
gdp            2.47588e+10
population     2.27002e+07
Name: 10269, dtype: object)
(10270, countryname      Gibraltar
countrycode            GIB
year                  2007
gdp            2.27823e+09
population           32510
Name: 10270, dtype: object)
(10271, countryname         Guinea
countrycode            GIN
year                  2007
gdp            5.83626e+09
population     1.00967e+07
Name: 10271, dtype: object)
(10272, countryname    Gambia, The
countrycode            GMB
year                  2007
gdp            7.98886e+08
population     1.53912e+06
Name: 10272, dtype: object)
(10273, countryname    Guinea-Bissau
countrycode              GNB
year                    2007
gdp               6.9599e+08
population       1.44596e+06
Name: 10273, dtype: object)
(10274, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2007
gdp                  1.30717e+10
population                829327
Name: 10274, dtype: object)
(10275, countryname         Greece
countrycode            GRC
year                  2007
gdp            3.18498e+11
population     1.10485e+07
Name: 10275, dtype: object)
(10276, countryname        Grenada
countrycode            GRD
year                  2007
gdp            7.58684e+08
population          103586
Name: 10276, dtype: object)
(10277, countryname      Greenland
countrycode            GRL
year                  2007
gdp            2.24981e+09
population           56555
Name: 10277, dtype: object)
(10278, countryname      Guatemala
countrycode            GTM
year                  2007
gdp            3.41131e+10
population     1.37003e+07
Name: 10278, dtype: object)
(10279, countryname         Guam
countrycode          GUM
year                2007
gdp            4.375e+09
population        158855
Name: 10279, dtype: object)
(10280, countryname         Guyana
countrycode            GUY
year                  2007
gdp            1.74033e+09
population          747869
Name: 10280, dtype: object)
(10281, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2007
gdp                     2.11597e+11
population               6.9163e+06
Name: 10281, dtype: object)
(10282, countryname       Honduras
countrycode            HND
year                  2007
gdp            1.22755e+10
population     7.70797e+06
Name: 10282, dtype: object)
(10283, countryname        Croatia
countrycode            HRV
year                  2007
gdp            6.00932e+10
population       4.436e+06
Name: 10283, dtype: object)
(10284, countryname          Haiti
countrycode            HTI
year                  2007
gdp            5.88533e+09
population     9.55689e+06
Name: 10284, dtype: object)
(10285, countryname        Hungary
countrycode            HUN
year                  2007
gdp            1.39851e+11
population     1.00558e+07
Name: 10285, dtype: object)
(10286, countryname      Indonesia
countrycode            IDN
year                  2007
gdp            4.32217e+11
population     2.32989e+08
Name: 10286, dtype: object)
(10287, countryname    Isle of Man
countrycode            IMN
year                  2007
gdp            5.68599e+09
population           77727
Name: 10287, dtype: object)
(10288, countryname          India
countrycode            IND
year                  2007
gdp            1.20111e+12
population     1.17968e+09
Name: 10288, dtype: object)
(10289, countryname        Ireland
countrycode            IRL
year                  2007
gdp            2.69918e+11
population     4.39894e+06
Name: 10289, dtype: object)
(10290, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2007
gdp                   3.49882e+11
population            7.20311e+07
Name: 10290, dtype: object)
(10291, countryname           Iraq
countrycode            IRQ
year                  2007
gdp            8.88401e+10
population     2.83904e+07
Name: 10291, dtype: object)
(10292, countryname        Iceland
countrycode            ISL
year                  2007
gdp            2.13199e+10
population          311566
Name: 10292, dtype: object)
(10293, countryname         Israel
countrycode            ISR
year                  2007
gdp            1.78707e+11
population      7.1801e+06
Name: 10293, dtype: object)
(10294, countryname          Italy
countrycode            ITA
year                  2007
gdp            2.20305e+12
population     5.84383e+07
Name: 10294, dtype: object)
(10295, countryname        Jamaica
countrycode            JAM
year                  2007
gdp            1.28241e+10
population     2.77547e+06
Name: 10295, dtype: object)
(10296, countryname         Jordan
countrycode            JOR
year                  2007
gdp            1.71106e+10
population     6.19319e+06
Name: 10296, dtype: object)
(10297, countryname          Japan
countrycode            JPN
year                  2007
gdp            4.51526e+12
population     1.28001e+08
Name: 10297, dtype: object)
(10298, countryname     Kazakhstan
countrycode            KAZ
year                  2007
gdp             1.0485e+11
population     1.54842e+07
Name: 10298, dtype: object)
(10299, countryname          Kenya
countrycode            KEN
year                  2007
gdp            3.19582e+10
population     3.80859e+07
Name: 10299, dtype: object)
(10300, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2007
gdp                3.80257e+09
population          5.2684e+06
Name: 10300, dtype: object)
(10301, countryname       Cambodia
countrycode            KHM
year                  2007
gdp            8.63924e+09
population     1.36767e+07
Name: 10301, dtype: object)
(10302, countryname       Kiribati
countrycode            KIR
year                  2007
gdp            1.30755e+08
population           96311
Name: 10302, dtype: object)
(10303, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2007
gdp                    6.74008e+08
population                   49783
Name: 10303, dtype: object)
(10304, countryname    Korea, Rep.
countrycode            KOR
year                  2007
gdp            1.12268e+12
population     4.86836e+07
Name: 10304, dtype: object)
(10305, countryname         Kuwait
countrycode            KWT
year                  2007
gdp            1.14641e+11
population     2.50341e+06
Name: 10305, dtype: object)
(10306, countryname        Lao PDR
countrycode            LAO
year                  2007
gdp            4.22296e+09
population     5.94979e+06
Name: 10306, dtype: object)
(10307, countryname        Lebanon
countrycode            LBN
year                  2007
gdp            2.45771e+10
population     4.08647e+06
Name: 10307, dtype: object)
(10308, countryname        Liberia
countrycode            LBR
year                  2007
gdp            7.39027e+08
population     3.51293e+06
Name: 10308, dtype: object)
(10309, countryname          Libya
countrycode            LBY
year                  2007
gdp            6.75162e+10
population     5.97036e+06
Name: 10309, dtype: object)
(10310, countryname      St. Lucia
countrycode            LCA
year                  2007
gdp            1.27749e+09
population          167288
Name: 10310, dtype: object)
(10311, countryname    Liechtenstein
countrycode              LIE
year                    2007
gdp               4.6013e+09
population             35322
Name: 10311, dtype: object)
(10312, countryname      Sri Lanka
countrycode            LKA
year                  2007
gdp            3.23512e+10
population     1.98108e+07
Name: 10312, dtype: object)
(10313, countryname        Lesotho
countrycode            LSO
year                  2007
gdp            1.82081e+09
population     1.98229e+06
Name: 10313, dtype: object)
(10314, countryname      Lithuania
countrycode            LTU
year                  2007
gdp            3.97382e+10
population     3.23129e+06
Name: 10314, dtype: object)
(10315, countryname     Luxembourg
countrycode            LUX
year                  2007
gdp            5.08881e+10
population          479993
Name: 10315, dtype: object)
(10316, countryname         Latvia
countrycode            LVA
year                  2007
gdp            3.09014e+10
population     2.20032e+06
Name: 10316, dtype: object)
(10317, countryname    Macao SAR, China
countrycode                 MAC
year                       2007
gdp                 1.83404e+10
population               503823
Name: 10317, dtype: object)
(10318, countryname    St. Martin (French part)
countrycode                         MAF
year                               2007
gdp                         7.90413e+10
population                        28905
Name: 10318, dtype: object)
(10319, countryname        Morocco
countrycode            MAR
year                  2007
gdp            7.90413e+10
population     3.12259e+07
Name: 10319, dtype: object)
(10320, countryname         Monaco
countrycode            MCO
year                  2007
gdp            5.97437e+09
population           35111
Name: 10320, dtype: object)
(10321, countryname        Moldova
countrycode            MDA
year                  2007
gdp            4.40115e+09
population     3.57691e+06
Name: 10321, dtype: object)
(10322, countryname     Madagascar
countrycode            MDG
year                  2007
gdp            7.34292e+09
population     1.94335e+07
Name: 10322, dtype: object)
(10323, countryname       Maldives
countrycode            MDV
year                  2007
gdp            1.86838e+09
population          336070
Name: 10323, dtype: object)
(10324, countryname         Mexico
countrycode            MEX
year                  2007
gdp             1.0527e+12
population     1.11836e+08
Name: 10324, dtype: object)
(10325, countryname    Marshall Islands
countrycode                 MHL
year                       2007
gdp                 1.50776e+08
population                52137
Name: 10325, dtype: object)
(10326, countryname    Macedonia, FYR
countrycode               MKD
year                     2007
gdp               8.33648e+09
population        2.06546e+06
Name: 10326, dtype: object)
(10327, countryname           Mali
countrycode            MLI
year                  2007
gdp            8.14569e+09
population     1.36756e+07
Name: 10327, dtype: object)
(10328, countryname          Malta
countrycode            MLT
year                  2007
gdp            7.88051e+09
population          406724
Name: 10328, dtype: object)
(10329, countryname        Myanmar
countrycode            MMR
year                  2007
gdp            2.01825e+10
population     4.91716e+07
Name: 10329, dtype: object)
(10330, countryname     Montenegro
countrycode            MNE
year                  2007
gdp            3.68071e+09
population          615875
Name: 10330, dtype: object)
(10331, countryname       Mongolia
countrycode            MNG
year                  2007
gdp              4.235e+09
population     2.59167e+06
Name: 10331, dtype: object)
(10332, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2007
gdp                            9.38e+08
population                        59513
Name: 10332, dtype: object)
(10333, countryname     Mozambique
countrycode            MOZ
year                  2007
gdp            9.36674e+09
population     2.21884e+07
Name: 10333, dtype: object)
(10334, countryname     Mauritania
countrycode            MRT
year                  2007
gdp            3.35676e+09
population     3.31266e+06
Name: 10334, dtype: object)
(10335, countryname      Mauritius
countrycode            MUS
year                  2007
gdp            8.15014e+09
population     1.23963e+06
Name: 10335, dtype: object)
(10336, countryname         Malawi
countrycode            MWI
year                  2007
gdp            4.43219e+09
population      1.3841e+07
Name: 10336, dtype: object)
(10337, countryname       Malaysia
countrycode            MYS
year                  2007
gdp            1.93548e+11
population     2.66258e+07
Name: 10337, dtype: object)
(10338, countryname        Namibia
countrycode            NAM
year                  2007
gdp            8.74087e+09
population     2.07992e+06
Name: 10338, dtype: object)
(10339, countryname    New Caledonia
countrycode              NCL
year                    2007
gdp              2.68235e+09
population            239250
Name: 10339, dtype: object)
(10340, countryname          Niger
countrycode            NER
year                  2007
gdp            4.29136e+09
population     1.46683e+07
Name: 10340, dtype: object)
(10341, countryname        Nigeria
countrycode            NGA
year                  2007
gdp            1.66451e+11
population     1.46417e+08
Name: 10341, dtype: object)
(10342, countryname      Nicaragua
countrycode            NIC
year                  2007
gdp            7.42338e+09
population     5.52211e+06
Name: 10342, dtype: object)
(10343, countryname    Netherlands
countrycode            NLD
year                  2007
gdp             8.3942e+11
population     1.63817e+07
Name: 10343, dtype: object)
(10344, countryname         Norway
countrycode            NOR
year                  2007
gdp            4.01083e+11
population     4.70915e+06
Name: 10344, dtype: object)
(10345, countryname          Nepal
countrycode            NPL
year                  2007
gdp            1.03256e+10
population     2.62148e+07
Name: 10345, dtype: object)
(10346, countryname          Nauru
countrycode            NRU
year                  2007
gdp            2.04327e+07
population           10002
Name: 10346, dtype: object)
(10347, countryname    New Zealand
countrycode            NZL
year                  2007
gdp            1.37316e+11
population      4.2238e+06
Name: 10347, dtype: object)
(10348, countryname           Oman
countrycode            OMN
year                  2007
gdp            4.20853e+10
population     2.66276e+06
Name: 10348, dtype: object)
(10349, countryname       Pakistan
countrycode            PAK
year                  2007
gdp            1.52386e+11
population     1.60333e+08
Name: 10349, dtype: object)
(10350, countryname         Panama
countrycode            PAN
year                  2007
gdp             2.1296e+10
population     3.45381e+06
Name: 10350, dtype: object)
(10351, countryname           Peru
countrycode            PER
year                  2007
gdp            1.02171e+11
population     2.82927e+07
Name: 10351, dtype: object)
(10352, countryname    Philippines
countrycode            PHL
year                  2007
gdp             1.4936e+11
population     8.92935e+07
Name: 10352, dtype: object)
(10353, countryname         Palau
countrycode           PLW
year                 2007
gdp            1.9312e+08
population          20116
Name: 10353, dtype: object)
(10354, countryname    Papua New Guinea
countrycode                 PNG
year                       2007
gdp                 9.54507e+09
population          6.62792e+06
Name: 10354, dtype: object)
(10355, countryname         Poland
countrycode            POL
year                  2007
gdp            4.29064e+11
population     3.81206e+07
Name: 10355, dtype: object)
(10356, countryname    Puerto Rico
countrycode            PRI
year                  2007
gdp            8.95241e+10
population       3.783e+06
Name: 10356, dtype: object)
(10357, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                2007
gdp                          2.40169e+11
population                   2.42033e+07
Name: 10357, dtype: object)
(10358, countryname       Portugal
countrycode            PRT
year                  2007
gdp            2.40169e+11
population      1.0543e+07
Name: 10358, dtype: object)
(10359, countryname       Paraguay
countrycode            PRY
year                  2007
gdp            1.37949e+10
population     5.96616e+06
Name: 10359, dtype: object)
(10360, countryname    West Bank and Gaza
countrycode                   PSE
year                         2007
gdp                    5.5058e+09
population             3.4945e+06
Name: 10360, dtype: object)
(10361, countryname    French Polynesia
countrycode                 PYF
year                       2007
gdp                 3.44754e+09
population               260594
Name: 10361, dtype: object)
(10362, countryname          Qatar
countrycode            QAT
year                  2007
gdp            7.97121e+10
population     1.18963e+06
Name: 10362, dtype: object)
(10363, countryname        Romania
countrycode            ROU
year                  2007
gdp            1.75934e+11
population      2.0883e+07
Name: 10363, dtype: object)
(10364, countryname    Russian Federation
countrycode                   RUS
year                         2007
gdp                   1.29971e+12
population            1.42805e+08
Name: 10364, dtype: object)
(10365, countryname         Rwanda
countrycode            RWA
year                  2007
gdp            3.82479e+09
population      9.4474e+06
Name: 10365, dtype: object)
(10366, countryname    Saudi Arabia
countrycode             SAU
year                   2007
gdp             4.15965e+11
population      2.52526e+07

Name: 10463, dtype: object)
(10464, countryname         Cyprus
countrycode            CYP
year                  2008
gdp            2.78395e+10
population     1.08156e+06
Name: 10464, dtype: object)
(10465, countryname    Czech Republic
countrycode               CZE
year                     2008
gdp               2.35719e+11
population        1.03846e+07
Name: 10465, dtype: object)
(10466, countryname        Germany
countrycode            DEU
year                  2008
gdp            3.75237e+12
population     8.21101e+07
Name: 10466, dtype: object)
(10467, countryname       Djibouti
countrycode            DJI
year                  2008
gdp            9.99105e+08
population          822934
Name: 10467, dtype: object)
(10468, countryname      Dominica
countrycode           DMA
year                 2008
gdp            4.5819e+08
population          71074
Name: 10468, dtype: object)
(10469, countryname        Denmark
countrycode            DNK
year                  2008
gdp            3.53361e+11
population     5.49362e+06
Name: 10469, dtype: object)
(10470, countryname    Dominican Republic
countrycode                   DOM
year                         2008
gdp                    4.8289e+10
population            9.63652e+06
Name: 10470, dtype: object)
(10471, countryname        Algeria
countrycode            DZA
year                  2008
gdp            1.71001e+11
population     3.48607e+07
Name: 10471, dtype: object)
(10472, countryname        Ecuador
countrycode            ECU
year                  2008
gdp            6.17626e+10
population     1.44476e+07
Name: 10472, dtype: object)
(10473, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2008
gdp                 1.62818e+11
population          8.09539e+07
Name: 10473, dtype: object)
(10474, countryname        Eritrea
countrycode            ERI
year                  2008
gdp            1.38019e+09
population     4.23264e+06
Name: 10474, dtype: object)
(10475, countryname          Spain
countrycode            ESP
year                  2008
gdp            1.63502e+12
population     4.59541e+07
Name: 10475, dtype: object)
(10476, countryname        Estonia
countrycode            EST
year                  2008
gdp             2.4194e+10
population     1.33709e+06
Name: 10476, dtype: object)
(10477, countryname       Ethiopia
countrycode            ETH
year                  2008
gdp            2.70669e+10
population     8.31849e+07
Name: 10477, dtype: object)
(10478, countryname        Finland
countrycode            FIN
year                  2008
gdp            2.83742e+11
population      5.3134e+06
Name: 10478, dtype: object)
(10479, countryname           Fiji
countrycode            FJI
year                  2008
gdp            3.52319e+09
population          843340
Name: 10479, dtype: object)
(10480, countryname         France
countrycode            FRA
year                  2008
gdp            2.91838e+12
population      6.4375e+07
Name: 10480, dtype: object)
(10481, countryname    Faroe Islands
countrycode              FRO
year                    2008
gdp              2.41325e+09
population             48485
Name: 10481, dtype: object)
(10482, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2008
gdp                      2.62869e+08
population                    104478
Name: 10482, dtype: object)
(10483, countryname          Gabon
countrycode            GAB
year                  2008
gdp            1.55086e+10
population     1.53641e+06
Name: 10483, dtype: object)
(10484, countryname    United Kingdom
countrycode               GBR
year                     2008
gdp               2.89056e+12
population         6.1807e+07
Name: 10484, dtype: object)
(10485, countryname       Georgia
countrycode           GEO
year                 2008
gdp            1.2795e+10
population       4.03e+06
Name: 10485, dtype: object)
(10486, countryname          Ghana
countrycode            GHA
year                  2008
gdp            2.85269e+10
population     2.32986e+07
Name: 10486, dtype: object)
(10487, countryname     Gibraltar
countrycode           GIB
year                 2008
gdp            2.1928e+11
population          32732
Name: 10487, dtype: object)
(10488, countryname         Guinea
countrycode            GIN
year                  2008
gdp            7.00981e+09
population     1.03231e+07
Name: 10488, dtype: object)
(10489, countryname    Gambia, The
countrycode            GMB
year                  2008
gdp            9.65781e+08
population     1.58857e+06
Name: 10489, dtype: object)
(10490, countryname    Guinea-Bissau
countrycode              GNB
year                    2008
gdp              8.64655e+08
population       1.48084e+06
Name: 10490, dtype: object)
(10491, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2008
gdp                  1.97499e+10
population                868418
Name: 10491, dtype: object)
(10492, countryname         Greece
countrycode            GRC
year                  2008
gdp            3.54461e+11
population     1.10778e+07
Name: 10492, dtype: object)
(10493, countryname        Grenada
countrycode            GRD
year                  2008
gdp            8.25978e+08
population          103930
Name: 10493, dtype: object)
(10494, countryname      Greenland
countrycode            GRL
year                  2008
gdp            2.49911e+09
population           56328
Name: 10494, dtype: object)
(10495, countryname      Guatemala
countrycode            GTM
year                  2008
gdp            3.91369e+10
population     1.40064e+07
Name: 10495, dtype: object)
(10496, countryname         Guam
countrycode          GUM
year                2008
gdp            4.621e+09
population        159035
Name: 10496, dtype: object)
(10497, countryname        Guyana
countrycode           GUY
year                 2008
gdp            1.9226e+09
population         746314
Name: 10497, dtype: object)
(10498, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2008
gdp                      2.1928e+11
population               6.9578e+06
Name: 10498, dtype: object)
(10499, countryname       Honduras
countrycode            HND
year                  2008
gdp            1.37897e+10
population     7.87266e+06
Name: 10499, dtype: object)
(10500, countryname        Croatia
countrycode            HRV
year                  2008
gdp            7.04815e+10
population     4.43451e+06
Name: 10500, dtype: object)
(10501, countryname          Haiti
countrycode            HTI
year                  2008
gdp            6.54853e+09
population     9.70503e+06
Name: 10501, dtype: object)
(10502, countryname        Hungary
countrycode            HUN
year                  2008
gdp            1.57998e+11
population     1.00382e+07
Name: 10502, dtype: object)
(10503, countryname      Indonesia
countrycode            IDN
year                  2008
gdp            5.10229e+11
population     2.36159e+08
Name: 10503, dtype: object)
(10504, countryname    Isle of Man
countrycode            IMN
year                  2008
gdp            5.82747e+09
population           78534
Name: 10504, dtype: object)
(10505, countryname          India
countrycode            IND
year                  2008
gdp            1.18695e+12
population     1.19715e+09
Name: 10505, dtype: object)
(10506, countryname        Ireland
countrycode            IRL
year                  2008
gdp             2.7502e+11
population     4.48954e+06
Name: 10506, dtype: object)
(10507, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2008
gdp                   4.06071e+11
population            7.28455e+07
Name: 10507, dtype: object)
(10508, countryname           Iraq
countrycode            IRQ
year                  2008
gdp            1.31614e+11
population     2.91114e+07
Name: 10508, dtype: object)
(10509, countryname        Iceland
countrycode            ISL
year                  2008
gdp            1.76584e+10
population          317414
Name: 10509, dtype: object)
(10510, countryname        Israel
countrycode           ISR
year                 2008
gdp            2.1584e+11
population     7.3088e+06
Name: 10510, dtype: object)
(10511, countryname          Italy
countrycode            ITA
year                  2008
gdp            2.39073e+12
population     5.88267e+07
Name: 10511, dtype: object)
(10512, countryname        Jamaica
countrycode            JAM
year                  2008
gdp            1.36786e+10
population     2.79012e+06
Name: 10512, dtype: object)
(10513, countryname         Jordan
countrycode            JOR
year                  2008
gdp             2.1972e+10
population     6.48982e+06
Name: 10513, dtype: object)
(10514, countryname          Japan
countrycode            JPN
year                  2008
gdp            5.03791e+12
population     1.28063e+08
Name: 10514, dtype: object)
(10515, countryname     Kazakhstan
countrycode            KAZ
year                  2008
gdp            1.33442e+11
population      1.5674e+07
Name: 10515, dtype: object)
(10516, countryname          Kenya
countrycode            KEN
year                  2008
gdp            3.58952e+10
population     3.91484e+07
Name: 10516, dtype: object)
(10517, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2008
gdp                5.13996e+09
population          5.3187e+06
Name: 10517, dtype: object)
(10518, countryname       Cambodia
countrycode            KHM
year                  2008
gdp            1.03519e+10
population     1.38805e+07
Name: 10518, dtype: object)
(10519, countryname       Kiribati
countrycode            KIR
year                  2008
gdp            1.39125e+08
population           98440
Name: 10519, dtype: object)
(10520, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2008
gdp                    7.38943e+08
population                   50332
Name: 10520, dtype: object)
(10521, countryname    Korea, Rep.
countrycode            KOR
year                  2008
gdp            1.00222e+12
population     4.90547e+07
Name: 10521, dtype: object)
(10522, countryname         Kuwait
countrycode            KWT
year                  2008
gdp            1.47396e+11
population     2.65234e+06
Name: 10522, dtype: object)
(10523, countryname        Lao PDR
countrycode            LAO
year                  2008
gdp            5.44392e+09
population     6.05219e+06
Name: 10523, dtype: object)
(10524, countryname        Lebanon
countrycode            LBN
year                  2008
gdp            2.92274e+10
population     4.11105e+06
Name: 10524, dtype: object)
(10525, countryname        Liberia
countrycode            LBR
year                  2008
gdp            8.50040e+08
population     3.66299e+06
Name: 10525, dtype: object)
(10526, countryname          Libya
countrycode            LBY
year                  2008
gdp            8.71404e+10
population     6.05308e+06
Name: 10526, dtype: object)
(10527, countryname      St. Lucia
countrycode            LCA
year                  2008
gdp            1.28222e+09
population          169220
Name: 10527, dtype: object)
(10528, countryname    Liechtenstein
countrycode              LIE
year                    2008
gdp              5.08143e+09
population             35541
Name: 10528, dtype: object)
(10529, countryname      Sri Lanka
countrycode            LKA
year                  2008
gdp            4.07152e+10
population     1.99458e+07
Name: 10529, dtype: object)
(10530, countryname        Lesotho
countrycode            LSO
year                  2008
gdp            1.87072e+09
population     1.99993e+06
Name: 10530, dtype: object)
(10531, countryname      Lithuania
countrycode            LTU
year                  2008
gdp            4.78506e+10
population     3.19823e+06
Name: 10531, dtype: object)
(10532, countryname     Luxembourg
countrycode            LUX
year                  2008
gdp            5.58497e+10
population          488650
Name: 10532, dtype: object)
(10533, countryname         Latvia
countrycode            LVA
year                  2008
gdp             3.5596e+10
population     2.17732e+06
Name: 10533, dtype: object)
(10534, countryname    Macao SAR, China
countrycode                 MAC
year                       2008
gdp                 2.09174e+10
population               514348
Name: 10534, dtype: object)
(10535, countryname    St. Martin (French part)
countrycode                         MAF
year                               2008
gdp                         9.25073e+10
population                        29376
Name: 10535, dtype: object)
(10536, countryname        Morocco
countrycode            MAR
year                  2008
gdp            9.25073e+10
population     3.15969e+07
Name: 10536, dtype: object)
(10537, countryname         Monaco
countrycode            MCO
year                  2008
gdp            6.91924e+09
population           35853
Name: 10537, dtype: object)
(10538, countryname        Moldova
countrycode            MDA
year                  2008
gdp            6.05481e+09
population     3.57011e+06
Name: 10538, dtype: object)
(10539, countryname     Madagascar
countrycode            MDG
year                  2008
gdp              9.413e+09
population     1.99965e+07
Name: 10539, dtype: object)
(10540, countryname       Maldives
countrycode            MDV
year                  2008
gdp            2.27165e+09
population          345054
Name: 10540, dtype: object)
(10541, countryname         Mexico
countrycode            MEX
year                  2008
gdp            1.10999e+12
population     1.13662e+08
Name: 10541, dtype: object)
(10542, countryname    Marshall Islands
countrycode                 MHL
year                       2008
gdp                 1.52789e+08
population                52218
Name: 10542, dtype: object)
(10543, countryname    Macedonia, FYR
countrycode               MKD
year                     2008
gdp               9.90955e+09
population        2.06738e+06
Name: 10543, dtype: object)
(10544, countryname           Mali
countrycode            MLI
year                  2008
gdp            9.75082e+09
population     1.41382e+07
Name: 10544, dtype: object)
(10545, countryname          Malta
countrycode            MLT
year                  2008
gdp            8.97715e+09
population          409379
Name: 10545, dtype: object)
(10546, countryname        Myanmar
countrycode            MMR
year                  2008
gdp            3.18626e+10
population     4.94798e+07
Name: 10546, dtype: object)
(10547, countryname     Montenegro
countrycode            MNE
year                  2008
gdp            4.54567e+09
population          616969
Name: 10547, dtype: object)
(10548, countryname       Mongolia
countrycode            MNG
year                  2008
gdp            5.62322e+09
population     2.62813e+06
Name: 10548, dtype: object)
(10549, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2008
gdp                            9.39e+08
population                        57431
Name: 10549, dtype: object)
(10550, countryname     Mozambique
countrycode            MOZ
year                  2008
gdp            1.14948e+10
population     2.28468e+07
Name: 10550, dtype: object)
(10551, countryname     Mauritania
countrycode            MRT
year                  2008
gdp            3.97843e+09
population     3.40754e+06
Name: 10551, dtype: object)
(10552, countryname      Mauritius
countrycode            MUS
year                  2008
gdp            9.99037e+09
population     1.24412e+06
Name: 10552, dtype: object)
(10553, countryname         Malawi
countrycode            MWI
year                  2008
gdp            5.32093e+09
population     1.42712e+07
Name: 10553, dtype: object)
(10554, countryname       Malaysia
countrycode            MYS
year                  2008
gdp            2.30814e+11
population     2.71111e+07
Name: 10554, dtype: object)
(10555, countryname        Namibia
countrycode            NAM
year                  2008
gdp            8.48672e+09
population     2.10638e+06
Name: 10555, dtype: object)
(10556, countryname    New Caledonia
countrycode              NCL
year                    2008
gdp              2.68235e+09
population            242750
Name: 10556, dtype: object)
(10557, countryname          Niger
countrycode            NER
year                  2008
gdp            5.40336e+09
population     1.52285e+07
Name: 10557, dtype: object)
(10558, countryname        Nigeria
countrycode            NGA
year                  2008
gdp            2.08065e+11
population     1.50347e+08
Name: 10558, dtype: object)
(10559, countryname      Nicaragua
countrycode            NIC
year                  2008
gdp            8.49697e+09
population     5.59451e+06
Name: 10559, dtype: object)
(10560, countryname    Netherlands
countrycode            NLD
year                  2008
gdp            9.36228e+11
population     1.64456e+07
Name: 10560, dtype: object)
(10561, countryname         Norway
countrycode            NOR
year                  2008
gdp            4.62554e+11
population     4.76821e+06
Name: 10561, dtype: object)
(10562, countryname          Nepal
countrycode            NPL
year                  2008
gdp            1.25454e+10
population     2.64759e+07
Name: 10562, dtype: object)
(10563, countryname          Nauru
countrycode            NRU
year                  2008
gdp            3.93336e+07
population            9947
Name: 10563, dtype: object)
(10564, countryname    New Zealand
countrycode            NZL
year                  2008
gdp             1.3328e+11
population      4.2598e+06
Name: 10564, dtype: object)
(10565, countryname           Oman
countrycode            OMN
year                  2008
gdp            6.09053e+10
population     2.75901e+06
Name: 10565, dtype: object)
(10566, countryname       Pakistan
countrycode            PAK
year                  2008
gdp            1.70078e+11
population     1.63645e+08
Name: 10566, dtype: object)
(10567, countryname         Panama
countrycode            PAN
year                  2008
gdp            2.51559e+10
population     3.51627e+06
Name: 10567, dtype: object)
(10568, countryname           Peru
countrycode            PER
year                  2008
gdp            1.20551e+11
population      2.8642e+07
Name: 10568, dtype: object)
(10569, countryname    Philippines
countrycode            PHL
year                  2008
gdp            1.74195e+11
population     9.07519e+07
Name: 10569, dtype: object)
(10570, countryname          Palau
countrycode            PLW
year                  2008
gdp            1.96845e+08
population           20228
Name: 10570, dtype: object)
(10571, countryname    Papua New Guinea
countrycode                 PNG
year                       2008
gdp                 1.16707e+10
population          6.78719e+06
Name: 10571, dtype: object)
(10572, countryname         Poland
countrycode            POL
year                  2008
gdp            5.33816e+11
population     3.81258e+07
Name: 10572, dtype: object)
(10573, countryname    Puerto Rico
countrycode            PRI
year                  2008
gdp            9.36393e+10
population     3.76087e+06
Name: 10573, dtype: object)
(10574, countryname    Korea, Dem. People’s Rep.
countrycode                          PRK
year                                2008
gdp                          2.62008e+11
population                   2.43351e+07
Name: 10574, dtype: object)
(10575, countryname       Portugal
countrycode            PRT
year                  2008
gdp            2.62008e+11
population     1.05582e+07
Name: 10575, dtype: object)
(10576, countryname       Paraguay
countrycode            PRY
year                  2008
gdp            1.85041e+10
population     6.04712e+06
Name: 10576, dtype: object)
(10577, countryname    West Bank and Gaza

Name: 10674, dtype: object)
(10675, countryname        Comoros
countrycode            COM
year                  2009
gdp            5.24157e+08
population          673252
Name: 10675, dtype: object)
(10676, countryname     Cabo Verde
countrycode            CPV
year                  2009
gdp            1.71182e+09
population          496963
Name: 10676, dtype: object)
(10677, countryname     Costa Rica
countrycode            CRI
year                  2009
gdp            3.05624e+10
population     4.48826e+06
Name: 10677, dtype: object)
(10678, countryname           Cuba
countrycode            CUB
year                  2009
gdp              6.208e+10
population     1.13186e+07
Name: 10678, dtype: object)
(10679, countryname        Curacao
countrycode            CUW
year                  2009
gdp            3.20703e+09
population          146833
Name: 10679, dtype: object)
(10680, countryname    Cayman Islands
countrycode               CYM
year                     2009
gdp               3.20703e+09
population              54279
Name: 10680, dtype: object)
(10681, countryname         Cyprus
countrycode            CYP
year                  2009
gdp            2.59426e+10
population     1.09808e+06
Name: 10681, dtype: object)
(10682, countryname    Czech Republic
countrycode               CZE
year                     2009
gdp                2.0618e+11
population        1.04439e+07
Name: 10682, dtype: object)
(10683, countryname        Germany
countrycode            DEU
year                  2009
gdp            3.41801e+12
population     8.19023e+07
Name: 10683, dtype: object)
(10684, countryname       Djibouti
countrycode            DJI
year                  2009
gdp            1.04911e+09
population          836840
Name: 10684, dtype: object)
(10685, countryname       Dominica
countrycode            DMA
year                  2009
gdp            4.89074e+08
population           71229
Name: 10685, dtype: object)
(10686, countryname        Denmark
countrycode            DNK
year                  2009
gdp            3.21241e+11
population      5.5231e+06
Name: 10686, dtype: object)
(10687, countryname    Dominican Republic
countrycode                   DOM
year                         2009
gdp                   4.83766e+10
population            9.76776e+06
Name: 10687, dtype: object)
(10688, countryname        Algeria
countrycode            DZA
year                  2009
gdp            1.37211e+11
population     3.54658e+07
Name: 10688, dtype: object)
(10689, countryname        Ecuador
countrycode            ECU
year                  2009
gdp            6.25197e+10
population     1.46913e+07
Name: 10689, dtype: object)
(10690, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2009
gdp                 1.88982e+11
population           8.2465e+07
Name: 10690, dtype: object)
(10691, countryname        Eritrea
countrycode            ERI
year                  2009
gdp             1.8567e+09
population     4.31033e+06
Name: 10691, dtype: object)
(10692, countryname          Spain
countrycode            ESP
year                  2009
gdp             1.4991e+12
population     4.63629e+07
Name: 10692, dtype: object)
(10693, countryname        Estonia
countrycode            EST
year                  2009
gdp            1.96525e+10
population     1.33452e+06
Name: 10693, dtype: object)
(10694, countryname       Ethiopia
countrycode            ETH
year                  2009
gdp            3.24374e+10
population     8.54163e+07
Name: 10694, dtype: object)
(10695, countryname        Finland
countrycode            FIN
year                  2009
gdp            2.51499e+11
population     5.33887e+06
Name: 10695, dtype: object)
(10696, countryname           Fiji
countrycode            FJI
year                  2009
gdp            2.87062e+09
population          851967
Name: 10696, dtype: object)
(10697, countryname         France
countrycode            FRA
year                  2009
gdp            2.69022e+12
population      6.4707e+07
Name: 10697, dtype: object)
(10698, countryname    Faroe Islands
countrycode              FRO
year                    2009
gdp              2.25708e+09
population             48517
Name: 10698, dtype: object)
(10699, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2009
gdp                      2.79967e+08
population                    103960
Name: 10699, dtype: object)
(10700, countryname          Gabon
countrycode            GAB
year                  2009
gdp            1.20651e+10
population     1.58675e+06
Name: 10700, dtype: object)
(10701, countryname    United Kingdom
countrycode               GBR
year                     2009
gdp               2.38283e+12
population        6.22763e+07
Name: 10701, dtype: object)
(10702, countryname        Georgia
countrycode            GEO
year                  2009
gdp            1.07668e+10
population       3.978e+06
Name: 10702, dtype: object)
(10703, countryname          Ghana
countrycode            GHA
year                  2009
gdp            2.59778e+10
population     2.39038e+07
Name: 10703, dtype: object)
(10704, countryname      Gibraltar
countrycode            GIB
year                  2009
gdp            2.59778e+10
population           32956
Name: 10704, dtype: object)
(10705, countryname         Guinea
countrycode            GIN
year                  2009
gdp            6.49315e+09
population     1.05565e+07
Name: 10705, dtype: object)
(10706, countryname    Gambia, The
countrycode            GMB
year                  2009
gdp             9.0064e+08
population     1.63956e+06
Name: 10706, dtype: object)
(10707, countryname    Guinea-Bissau
countrycode              GNB
year                    2009
gdp              8.26799e+08
population       1.51745e+06
Name: 10707, dtype: object)
(10708, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2009
gdp                  1.50278e+10
population                909111
Name: 10708, dtype: object)
(10709, countryname        Greece
countrycode           GRC
year                 2009
gdp               3.3e+11
population     1.1107e+07
Name: 10709, dtype: object)
(10710, countryname        Grenada
countrycode            GRD
year                  2009
gdp            7.71278e+08
population          104296
Name: 10710, dtype: object)
(10711, countryname      Greenland
countrycode            GRL
year                  2009
gdp            2.52995e+09
population           56323
Name: 10711, dtype: object)
(10712, countryname      Guatemala
countrycode            GTM
year                  2009
gdp             3.7734e+10
population     1.43162e+07
Name: 10712, dtype: object)
(10713, countryname         Guam
countrycode          GUM
year                2009
gdp            4.781e+09
population        159231
Name: 10713, dtype: object)
(10714, countryname         Guyana
countrycode            GUY
year                  2009
gdp            2.06132e+09
population          745693
Name: 10714, dtype: object)
(10715, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2009
gdp                     2.14046e+11
population               6.9728e+06
Name: 10715, dtype: object)
(10716, countryname       Honduras
countrycode            HND
year                  2009
gdp            1.45875e+10
population     8.03502e+06
Name: 10716, dtype: object)
(10717, countryname        Croatia
countrycode            HRV
year                  2009
gdp            6.27031e+10
population     4.42908e+06
Name: 10717, dtype: object)
(10718, countryname          Haiti
countrycode            HTI
year                  2009
gdp            6.58465e+09
population     9.85287e+06
Name: 10718, dtype: object)
(10719, countryname        Hungary
countrycode            HUN
year                  2009
gdp            1.30594e+11
population     1.00226e+07
Name: 10719, dtype: object)
(10720, countryname     Indonesia
countrycode           IDN
year                 2009
gdp            5.3958e+11
population     2.3934e+08
Name: 10720, dtype: object)
(10721, countryname    Isle of Man
countrycode            IMN
year                  2009
gdp            5.48708e+09
population           79325
Name: 10721, dtype: object)
(10722, countryname          India
countrycode            IND
year                  2009
gdp            1.32394e+12
population     1.21427e+09
Name: 10722, dtype: object)
(10723, countryname        Ireland
countrycode            IRL
year                  2009
gdp            2.36311e+11
population     4.53538e+06
Name: 10723, dtype: object)
(10724, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2009
gdp                   4.14059e+11
population            7.36876e+07
Name: 10724, dtype: object)
(10725, countryname           Iraq
countrycode            IRQ
year                  2009
gdp            1.11661e+11
population     2.98947e+07
Name: 10725, dtype: object)
(10726, countryname        Iceland
countrycode            ISL
year                  2009
gdp            1.29441e+10
population          318499
Name: 10726, dtype: object)
(10727, countryname         Israel
countrycode            ISR
year                  2009
gdp            2.07419e+11
population      7.4856e+06
Name: 10727, dtype: object)
(10728, countryname          Italy
countrycode            ITA
year                  2009
gdp            2.18516e+12
population     5.90954e+07
Name: 10728, dtype: object)
(10729, countryname        Jamaica
countrycode            JAM
year                  2009
gdp            1.20388e+10
population     2.80408e+06
Name: 10729, dtype: object)
(10730, countryname         Jordan
countrycode            JOR
year                  2009
gdp            2.38202e+10
population     6.82112e+06
Name: 10730, dtype: object)
(10731, countryname          Japan
countrycode            JPN
year                  2009
gdp            5.23138e+12
population     1.28047e+08
Name: 10731, dtype: object)
(10732, countryname     Kazakhstan
countrycode            KAZ
year                  2009
gdp            1.15309e+11
population     1.60928e+07
Name: 10732, dtype: object)
(10733, countryname          Kenya
countrycode            KEN
year                  2009
gdp            3.70215e+10
population     4.02372e+07
Name: 10733, dtype: object)
(10734, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2009
gdp                4.69006e+09
population          5.3833e+06
Name: 10734, dtype: object)
(10735, countryname       Cambodia
countrycode            KHM
year                  2009
gdp            1.04019e+10
population     1.40902e+07
Name: 10735, dtype: object)
(10736, countryname       Kiribati
countrycode            KIR
year                  2009
gdp            1.30465e+08
population          100568
Name: 10736, dtype: object)
(10737, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2009
gdp                    7.23209e+08
population                   50886
Name: 10737, dtype: object)
(10738, countryname    Korea, Rep.
countrycode            KOR
year                  2009
gdp            9.01935e+11
population     4.93078e+07
Name: 10738, dtype: object)
(10739, countryname         Kuwait
countrycode            KWT
year                  2009
gdp              1.059e+11
population     2.81894e+06
Name: 10739, dtype: object)
(10740, countryname        Lao PDR
countrycode            LAO
year                  2009
gdp            5.83292e+09
population     6.15204e+06
Name: 10740, dtype: object)
(10741, countryname        Lebanon
countrycode            LBN
year                  2009
gdp            3.54771e+10
population     4.18316e+06
Name: 10741, dtype: object)
(10742, countryname        Liberia
countrycode            LBR
year                  2009
gdp            1.15515e+09
population     3.81153e+06
Name: 10742, dtype: object)
(10743, countryname          Libya
countrycode            LBY
year                  2009
gdp            6.30283e+10
population     6.12105e+06
Name: 10743, dtype: object)
(10744, countryname      St. Lucia
countrycode            LCA
year                  2009
gdp            1.26297e+09
population          171022
Name: 10744, dtype: object)
(10745, countryname    Liechtenstein
countrycode              LIE
year                    2009
gdp              4.50455e+09
population             35766
Name: 10745, dtype: object)
(10746, countryname      Sri Lanka
countrycode            LKA
year                  2009
gdp             4.2068e+10
population     2.00751e+07
Name: 10746, dtype: object)
(10747, countryname        Lesotho
countrycode            LSO
year                  2009
gdp            1.86596e+09
population     2.01921e+06
Name: 10747, dtype: object)
(10748, countryname      Lithuania
countrycode            LTU
year                  2009
gdp            3.74407e+10
population     3.16292e+06
Name: 10748, dtype: object)
(10749, countryname     Luxembourg
countrycode            LUX
year                  2009
gdp            5.13705e+10
population          497783
Name: 10749, dtype: object)
(10750, countryname         Latvia
countrycode            LVA
year                  2009
gdp            2.61699e+10
population     2.14167e+06
Name: 10750, dtype: object)
(10751, countryname    Macao SAR, China
countrycode                 MAC
year                       2009
gdp                 2.14755e+10
population               525313
Name: 10751, dtype: object)
(10752, countryname    St. Martin (French part)
countrycode                         MAF
year                               2009
gdp                         9.28973e+10
population                        29820
Name: 10752, dtype: object)
(10753, countryname        Morocco
countrycode            MAR
year                  2009
gdp            9.28973e+10
population     3.19899e+07
Name: 10753, dtype: object)
(10754, countryname         Monaco
countrycode            MCO
year                  2009
gdp            5.55725e+09
population           36534
Name: 10754, dtype: object)
(10755, countryname        Moldova
countrycode            MDA
year                  2009
gdp            5.43942e+09
population      3.5656e+06
Name: 10755, dtype: object)
(10756, countryname     Madagascar
countrycode            MDG
year                  2009
gdp            8.55036e+09
population     2.05691e+07
Name: 10756, dtype: object)
(10757, countryname       Maldives
countrycode            MDV
year                  2009
gdp            2.34529e+09
population          354501
Name: 10757, dtype: object)
(10758, countryname         Mexico
countrycode            MEX
year                  2009
gdp            9.00045e+11
population     1.15505e+08
Name: 10758, dtype: object)
(10759, countryname    Marshall Islands
countrycode                 MHL
year                       2009
gdp                 1.52618e+08
population                52320
Name: 10759, dtype: object)
(10760, countryname    Macedonia, FYR
countrycode               MKD
year                     2009
gdp               9.40173e+09
population        2.06909e+06
Name: 10760, dtype: object)
(10761, countryname           Mali
countrycode            MLI
year                  2009
gdp             1.0181e+10
population     1.46066e+07
Name: 10761, dtype: object)
(10762, countryname         Malta
countrycode           MLT
year                 2009
gdp            8.5282e+09
population         412477
Name: 10762, dtype: object)
(10763, countryname        Myanmar
countrycode            MMR
year                  2009
gdp            3.69062e+10
population     4.98007e+07
Name: 10763, dtype: object)
(10764, countryname     Montenegro
countrycode            MNE
year                  2009
gdp            4.15933e+09
population          618294
Name: 10764, dtype: object)
(10765, countryname       Mongolia
countrycode            MNG
year                  2009
gdp            4.58385e+09
population     2.66829e+06
Name: 10765, dtype: object)
(10766, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2009
gdp                            7.95e+08
population                        55674
Name: 10766, dtype: object)
(10767, countryname     Mozambique
countrycode            MOZ
year                  2009
gdp            1.09117e+10
population     2.35241e+07
Name: 10767, dtype: object)
(10768, countryname     Mauritania
countrycode            MRT
year                  2009
gdp            3.67052e+09
population     3.50629e+06
Name: 10768, dtype: object)
(10769, countryname      Mauritius
countrycode            MUS
year                  2009
gdp            9.12884e+09
population     1.24743e+06
Name: 10769, dtype: object)
(10770, countryname         Malawi
countrycode            MWI
year                  2009
gdp            6.19099e+09
population     1.47146e+07
Name: 10770, dtype: object)
(10771, countryname       Malaysia
countrycode            MYS
year                  2009
gdp            2.02258e+11
population     2.76054e+07
Name: 10771, dtype: object)
(10772, countryname        Namibia
countrycode            NAM
year                  2009
gdp            8.87619e+09
population     2.13704e+06
Name: 10772, dtype: object)
(10773, countryname    New Caledonia
countrycode              NCL
year                    2009
gdp              2.68235e+09
population            245950
Name: 10773, dtype: object)
(10774, countryname          Niger
countrycode            NER
year                  2009
gdp            5.39712e+09
population     1.58139e+07
Name: 10774, dtype: object)
(10775, countryname        Nigeria
countrycode            NGA
year                  2009
gdp            1.69481e+11
population     1.54402e+08
Name: 10775, dtype: object)
(10776, countryname      Nicaragua
countrycode            NIC
year                  2009
gdp             8.2987e+09
population     5.66658e+06
Name: 10776, dtype: object)
(10777, countryname    Netherlands
countrycode            NLD
year                  2009
gdp            8.57933e+11
population     1.65304e+07
Name: 10777, dtype: object)
(10778, countryname         Norway
countrycode            NOR
year                  2009
gdp            3.86622e+11
population     4.82873e+06
Name: 10778, dtype: object)
(10779, countryname          Nepal
countrycode            NPL
year                  2009
gdp             1.2855e+10
population     2.67411e+07
Name: 10779, dtype: object)
(10780, countryname         Nauru
countrycode           NRU
year                 2009
gdp            4.4291e+07
population           9945
Name: 10780, dtype: object)
(10781, countryname    New Zealand
countrycode            NZL
year                  2009
gdp            1.21339e+11
population      4.3026e+06
Name: 10781, dtype: object)
(10782, countryname           Oman
countrycode            OMN
year                  2009
gdp            4.83883e+10
population     2.88294e+06
Name: 10782, dtype: object)
(10783, countryname       Pakistan
countrycode            PAK
year                  2009
gdp            1.68153e+11
population      1.6705e+08
Name: 10783, dtype: object)
(10784, countryname         Panama
countrycode            PAN
year                  2009
gdp            2.71166e+10
population     3.57938e+06
Name: 10784, dtype: object)
(10785, countryname           Peru
countrycode            PER
year                  2009
gdp            1.20823e+11
population     2.90015e+07
Name: 10785, dtype: object)
(10786, countryname    Philippines
countrycode            PHL
year                  2009
gdp            1.68335e+11
population     9.22209e+07
Name: 10786, dtype: object)
(10787, countryname         Palau
countrycode           PLW
year                 2009
gdp            1.8268e+08
population          20342
Name: 10787, dtype: object)
(10788, countryname    Papua New Guinea
countrycode                 PNG
year                       2009

Name: 10889, dtype: object)
(10890, countryname    Congo, Rep.
countrycode            COG
year                  2010
gdp            1.20079e+10
population     4.38669e+06
Name: 10890, dtype: object)
(10891, countryname       Colombia
countrycode            COL
year                  2010
gdp            2.87018e+11
population     4.59181e+07
Name: 10891, dtype: object)
(10892, countryname        Comoros
countrycode            COM
year                  2010
gdp            5.30493e+08
population          689692
Name: 10892, dtype: object)
(10893, countryname     Cabo Verde
countrycode            CPV
year                  2010
gdp            1.66431e+09
population          502384
Name: 10893, dtype: object)
(10894, countryname     Costa Rica
countrycode            CRI
year                  2010
gdp            3.72686e+10
population     4.54528e+06
Name: 10894, dtype: object)
(10895, countryname           Cuba
countrycode            CUB
year                  2010
gdp             6.4328e+10
population     1.13331e+07
Name: 10895, dtype: object)
(10896, countryname        Curacao
countrycode            CUW
year                  2010
gdp            3.20703e+09
population          148703
Name: 10896, dtype: object)
(10897, countryname    Cayman Islands
countrycode               CYM
year                     2010
gdp               3.20703e+09
population              55507
Name: 10897, dtype: object)
(10898, countryname         Cyprus
countrycode            CYP
year                  2010
gdp            2.55623e+10
population     1.11261e+06
Name: 10898, dtype: object)
(10899, countryname    Czech Republic
countrycode               CZE
year                     2010
gdp               2.07478e+11
population        1.04744e+07
Name: 10899, dtype: object)
(10900, countryname        Germany
countrycode            DEU
year                  2010
gdp            3.41709e+12
population     8.17769e+07
Name: 10900, dtype: object)
(10901, countryname       Djibouti
countrycode            DJI
year                  2010
gdp            1.12861e+09
population          851146
Name: 10901, dtype: object)
(10902, countryname       Dominica
countrycode            DMA
year                  2010
gdp            4.93824e+08
population           71440
Name: 10902, dtype: object)
(10903, countryname        Denmark
countrycode            DNK
year                  2010
gdp            3.21995e+11
population     5.54768e+06
Name: 10903, dtype: object)
(10904, countryname    Dominican Republic
countrycode                   DOM
year                         2010
gdp                   5.39829e+10
population            9.89798e+06
Name: 10904, dtype: object)
(10905, countryname        Algeria
countrycode            DZA
year                  2010
gdp            1.61207e+11
population     3.61176e+07
Name: 10905, dtype: object)
(10906, countryname        Ecuador
countrycode            ECU
year                  2010
gdp            6.95554e+10
population     1.49347e+07
Name: 10906, dtype: object)
(10907, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2010
gdp                 2.18888e+11
population          8.41076e+07
Name: 10907, dtype: object)
(10908, countryname        Eritrea
countrycode            ERI
year                  2010
gdp            2.11704e+09
population     4.39084e+06
Name: 10908, dtype: object)
(10909, countryname          Spain
countrycode            ESP
year                  2010
gdp            1.43162e+12
population     4.65769e+07
Name: 10909, dtype: object)
(10910, countryname        Estonia
countrycode            EST
year                  2010
gdp            1.94909e+10
population     1.33148e+06
Name: 10910, dtype: object)
(10911, countryname       Ethiopia
countrycode            ETH
year                  2010
gdp            2.99338e+10
population     8.77027e+07
Name: 10911, dtype: object)
(10912, countryname        Finland
countrycode            FIN
year                  2010
gdp              2.478e+11
population     5.36335e+06
Name: 10912, dtype: object)
(10913, countryname           Fiji
countrycode            FJI
year                  2010
gdp            3.14051e+09
population          859950
Name: 10913, dtype: object)
(10914, countryname         France
countrycode            FRA
year                  2010
gdp            2.64261e+12
population     6.50275e+07
Name: 10914, dtype: object)
(10915, countryname    Faroe Islands
countrycode              FRO
year                    2010
gdp              2.30117e+09
population             48550
Name: 10915, dtype: object)
(10916, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2010
gdp                      2.96525e+08
population                    103616
Name: 10916, dtype: object)
(10917, countryname          Gabon
countrycode            GAB
year                  2010
gdp            1.43586e+10
population     1.64021e+06
Name: 10917, dtype: object)
(10918, countryname    United Kingdom
countrycode               GBR
year                     2010
gdp               2.44117e+12
population        6.27664e+07
Name: 10918, dtype: object)
(10919, countryname        Georgia
countrycode            GEO
year                  2010
gdp            1.16385e+10
population       3.926e+06
Name: 10919, dtype: object)
(10920, countryname          Ghana
countrycode            GHA
year                  2010
gdp            3.21748e+10
population     2.45121e+07
Name: 10920, dtype: object)
(10921, countryname      Gibraltar
countrycode            GIB
year                  2010
gdp            2.30117e+09
population           33189
Name: 10921, dtype: object)
(10922, countryname         Guinea
countrycode            GIN
year                  2010
gdp             6.9925e+09
population     1.07942e+07
Name: 10922, dtype: object)
(10923, countryname    Gambia, The
countrycode            GMB
year                  2010
gdp            9.51806e+08
population     1.69215e+06
Name: 10923, dtype: object)
(10924, countryname    Guinea-Bissau
countrycode              GNB
year                    2010
gdp              8.50633e+08
population       1.55588e+06
Name: 10924, dtype: object)
(10925, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2010
gdp                  1.62985e+10
population                951104
Name: 10925, dtype: object)
(10926, countryname         Greece
countrycode            GRC
year                  2010
gdp            2.99362e+11
population     1.11213e+07
Name: 10926, dtype: object)
(10927, countryname        Grenada
countrycode            GRD
year                  2010
gdp            7.71016e+08
population          104677
Name: 10927, dtype: object)
(10928, countryname      Greenland
countrycode            GRL
year                  2010
gdp            2.50316e+09
population           56905
Name: 10928, dtype: object)
(10929, countryname      Guatemala
countrycode            GTM
year                  2010
gdp            4.13386e+10
population     1.46304e+07
Name: 10929, dtype: object)
(10930, countryname         Guam
countrycode          GUM
year                2010
gdp            4.895e+09
population        159444
Name: 10930, dtype: object)
(10931, countryname         Guyana
countrycode            GUY
year                  2010
gdp            2.27323e+09
population          746556
Name: 10931, dtype: object)
(10932, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2010
gdp                     2.28638e+11
population               7.0242e+06
Name: 10932, dtype: object)
(10933, countryname       Honduras
countrycode            HND
year                  2010
gdp            1.58393e+10
population     8.19478e+06
Name: 10933, dtype: object)
(10934, countryname        Croatia
countrycode            HRV
year                  2010
gdp            5.98296e+10
population     4.41778e+06
Name: 10934, dtype: object)
(10935, countryname          Haiti
countrycode            HTI
year                  2010
gdp            6.62254e+09
population     9.99962e+06
Name: 10935, dtype: object)
(10936, countryname        Hungary
countrycode            HUN
year                  2010
gdp            1.30923e+11
population           1e+07
Name: 10936, dtype: object)
(10937, countryname      Indonesia
countrycode            IDN
year                  2010
gdp            7.55094e+11
population     2.42524e+08
Name: 10937, dtype: object)
(10938, countryname    Isle of Man
countrycode            IMN
year                  2010
gdp            5.92018e+09
population           80072
Name: 10938, dtype: object)
(10939, countryname          India
countrycode            IND
year                  2010
gdp            1.65662e+12
population     1.23098e+09
Name: 10939, dtype: object)
(10940, countryname        Ireland
countrycode            IRL
year                  2010
gdp            2.21951e+11
population     4.56016e+06
Name: 10940, dtype: object)
(10941, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2010
gdp                    4.8707e+11
population            7.45675e+07
Name: 10941, dtype: object)
(10942, countryname           Iraq
countrycode            IRQ
year                  2010
gdp            1.38517e+11
population     3.07627e+07
Name: 10942, dtype: object)
(10943, countryname        Iceland
countrycode            ISL
year                  2010
gdp            1.33106e+10
population          318041
Name: 10943, dtype: object)
(10944, countryname        Israel
countrycode           ISR
year                 2010
gdp            2.3361e+11
population     7.6236e+06
Name: 10944, dtype: object)
(10945, countryname          Italy
countrycode            ITA
year                  2010
gdp            2.12506e+12
population     5.92774e+07
Name: 10945, dtype: object)
(10946, countryname        Jamaica
countrycode            JAM
year                  2010
gdp            1.31916e+10
population     2.81721e+06
Name: 10946, dtype: object)
(10947, countryname         Jordan
countrycode            JOR
year                  2010
gdp            2.64254e+10
population     7.18239e+06
Name: 10947, dtype: object)
(10948, countryname         Japan
countrycode           JPN
year                 2010
gdp            5.7001e+12
population     1.2807e+08
Name: 10948, dtype: object)
(10949, countryname     Kazakhstan
countrycode            KAZ
year                  2010
gdp            1.48047e+11
population     1.63219e+07
Name: 10949, dtype: object)
(10950, countryname          Kenya
countrycode            KEN
year                  2010
gdp            4.00001e+10
population     4.13502e+07
Name: 10950, dtype: object)
(10951, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2010
gdp                4.79436e+09
population          5.4479e+06
Name: 10951, dtype: object)
(10952, countryname       Cambodia
countrycode            KHM
year                  2010
gdp            1.12423e+10
population     1.43087e+07
Name: 10952, dtype: object)
(10953, countryname       Kiribati
countrycode            KIR
year                  2010
gdp            1.53276e+08
population          102652
Name: 10953, dtype: object)
(10954, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2010
gdp                    7.05015e+08
population                   51445
Name: 10954, dtype: object)
(10955, countryname    Korea, Rep.
countrycode            KOR
year                  2010
gdp             1.0945e+12
population     4.95541e+07
Name: 10955, dtype: object)
(10956, countryname         Kuwait
countrycode            KWT
year                  2010
gdp            1.15419e+11
population     2.99808e+06
Name: 10956, dtype: object)
(10957, countryname        Lao PDR
countrycode            LAO
year                  2010
gdp            7.12779e+09
population     6.24627e+06
Name: 10957, dtype: object)
(10958, countryname        Lebanon
countrycode            LBN
year                  2010
gdp            3.84196e+10
population     4.33714e+06
Name: 10958, dtype: object)
(10959, countryname        Liberia
countrycode            LBR
year                  2010
gdp             1.2927e+09
population     3.94812e+06
Name: 10959, dtype: object)
(10960, countryname          Libya
countrycode            LBY
year                  2010
gdp            7.47734e+10
population     6.16914e+06
Name: 10960, dtype: object)
(10961, countryname      St. Lucia
countrycode            LCA
year                  2010
gdp            1.38197e+09
population          172580
Name: 10961, dtype: object)
(10962, countryname    Liechtenstein
countrycode              LIE
year                    2010
gdp              5.08237e+09
population             36003
Name: 10962, dtype: object)
(10963, countryname      Sri Lanka
countrycode            LKA
year                  2010
gdp             5.6728e+10
population     2.01984e+07
Name: 10963, dtype: object)
(10964, countryname        Lesotho
countrycode            LSO
year                  2010
gdp            2.38595e+09
population     2.04055e+06
Name: 10964, dtype: object)
(10965, countryname      Lithuania
countrycode            LTU
year                  2010
gdp            3.71205e+10
population     3.09728e+06
Name: 10965, dtype: object)
(10966, countryname     Luxembourg
countrycode            LUX
year                  2010
gdp            5.32125e+10
population          506953
Name: 10966, dtype: object)
(10967, countryname         Latvia
countrycode            LVA
year                  2010
gdp            2.37574e+10
population     2.09756e+06
Name: 10967, dtype: object)
(10968, countryname    Macao SAR, China
countrycode                 MAC
year                       2010
gdp                 2.81236e+10
population               536969
Name: 10968, dtype: object)
(10969, countryname    St. Martin (French part)
countrycode                         MAF
year                               2010
gdp                         9.32167e+10
population                        30235
Name: 10969, dtype: object)
(10970, countryname        Morocco
countrycode            MAR
year                  2010
gdp            9.32167e+10
population     3.24096e+07
Name: 10970, dtype: object)
(10971, countryname         Monaco
countrycode            MCO
year                  2010
gdp            5.35067e+09
population           37094
Name: 10971, dtype: object)
(10972, countryname        Moldova
countrycode            MDA
year                  2010
gdp             5.8116e+09
population     3.56204e+06
Name: 10972, dtype: object)
(10973, countryname     Madagascar
countrycode            MDG
year                  2010
gdp            8.72994e+09
population     2.11516e+07
Name: 10973, dtype: object)
(10974, countryname       Maldives
countrycode            MDV
year                  2010
gdp            2.58818e+09
population          364511
Name: 10974, dtype: object)
(10975, countryname         Mexico
countrycode            MEX
year                  2010
gdp             1.0578e+12
population     1.17319e+08
Name: 10975, dtype: object)
(10976, countryname    Marshall Islands
countrycode                 MHL
year                       2010
gdp                 1.64969e+08
population                52425
Name: 10976, dtype: object)
(10977, countryname    Macedonia, FYR
countrycode               MKD
year                     2010
gdp               9.40717e+09
population        2.07074e+06
Name: 10977, dtype: object)
(10978, countryname           Mali
countrycode            MLI
year                  2010
gdp            1.06787e+10
population     1.50751e+07
Name: 10978, dtype: object)
(10979, countryname          Malta
countrycode            MLT
year                  2010
gdp            8.74106e+09
population          414508
Name: 10979, dtype: object)
(10980, countryname        Myanmar
countrycode            MMR
year                  2010
gdp            4.95408e+10
population     5.01559e+07
Name: 10980, dtype: object)
(10981, countryname     Montenegro
countrycode            MNE
year                  2010
gdp            4.13919e+09
population          619428
Name: 10981, dtype: object)
(10982, countryname       Mongolia
countrycode            MNG
year                  2010
gdp            7.18948e+09
population     2.71265e+06
Name: 10982, dtype: object)
(10983, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2010
gdp                            7.99e+08
population                        54424
Name: 10983, dtype: object)
(10984, countryname     Mozambique
countrycode            MOZ
year                  2010
gdp            1.01542e+10
population     2.42214e+07
Name: 10984, dtype: object)
(10985, countryname     Mauritania
countrycode            MRT
year                  2010
gdp            4.34367e+09
population     3.60954e+06
Name: 10985, dtype: object)
(10986, countryname      Mauritius
countrycode            MUS
year                  2010
gdp            1.00037e+10
population      1.2504e+06
Name: 10986, dtype: object)
(10987, countryname         Malawi
countrycode            MWI
year                  2010
gdp             6.9597e+09
population     1.51671e+07
Name: 10987, dtype: object)
(10988, countryname       Malaysia
countrycode            MYS
year                  2010
gdp            2.55017e+11
population     2.81123e+07
Name: 10988, dtype: object)
(10989, countryname        Namibia
countrycode            NAM
year                  2010
gdp            1.12822e+10
population     2.17317e+06
Name: 10989, dtype: object)
(10990, countryname    New Caledonia
countrycode              NCL
year                    2010
gdp              2.68235e+09
population            249750
Name: 10990, dtype: object)
(10991, countryname          Niger
countrycode            NER
year                  2010
gdp            5.71859e+09
population     1.64256e+07
Name: 10991, dtype: object)
(10992, countryname        Nigeria
countrycode            NGA
year                  2010
gdp            3.69062e+11
population     1.58578e+08
Name: 10992, dtype: object)
(10993, countryname      Nicaragua
countrycode            NIC
year                  2010
gdp            8.75862e+09
population     5.73772e+06
Name: 10993, dtype: object)
(10994, countryname    Netherlands
countrycode            NLD
year                  2010
gdp             8.3639e+11
population     1.66154e+07
Name: 10994, dtype: object)
(10995, countryname         Norway
countrycode            NOR
year                  2010
gdp            4.29131e+11
population     4.88925e+06
Name: 10995, dtype: object)
(10996, countryname          Nepal
countrycode            NPL
year                  2010
gdp            1.60027e+10
population     2.70231e+07
Name: 10996, dtype: object)
(10997, countryname          Nauru
countrycode            NRU
year                  2010
gdp            4.92488e+07
population           10025
Name: 10997, dtype: object)
(10998, countryname    New Zealand
countrycode            NZL
year                  2010
gdp            1.46584e+11
population      4.3507e+06
Name: 10998, dtype: object)
(10999, countryname           Oman
countrycode            OMN
year                  2010
gdp            5.86424e+10
population     3.04146e+06
Name: 10999, dtype: object)
(11000, countryname       Pakistan
countrycode            PAK
year                  2010
gdp            1.77407e+11
population      1.7056e+08
Name: 11000, dtype: object)
(11001, countryname         Panama
countrycode            PAN
year                  2010
gdp            2.94403e+10
population     3.64322e+06
Name: 11001, dtype: object)
(11002, countryname           Peru
countrycode            PER
year                  2010
gdp            1.47529e+11
population     2.93736e+07
Name: 11002, dtype: object)
(11003, countryname    Philippines
countrycode            PHL
year                  2010

Name: 11094, dtype: object)
(11095, countryname    Brunei Darussalam
countrycode                  BRN
year                        2011
gdp                  1.85253e+10
population                394013
Name: 11095, dtype: object)
(11096, countryname         Bhutan
countrycode            BTN
year                  2011
gdp            1.82021e+09
population          740510
Name: 11096, dtype: object)
(11097, countryname       Botswana
countrycode            BWA
year                  2011
gdp            1.56829e+10
population     2.05134e+06
Name: 11097, dtype: object)
(11098, countryname    Central African Republic
countrycode                         CAF
year                               2011
gdp                          2.1956e+09
population                  4.47615e+06
Name: 11098, dtype: object)
(11099, countryname         Canada
countrycode            CAN
year                  2011
gdp            1.78865e+12
population     3.43428e+07
Name: 11099, dtype: object)
(11100, countryname    Switzerland
countrycode            CHE
year                  2011
gdp             6.9958e+11
population      7.9124e+06
Name: 11100, dtype: object)
(11101, countryname    Channel Islands
countrycode                CHI
year                      2011
gdp                1.15146e+10
population              160497
Name: 11101, dtype: object)
(11102, countryname          Chile
countrycode            CHL
year                  2011
gdp            2.52252e+11
population     1.71534e+07
Name: 11102, dtype: object)
(11103, countryname          China
countrycode            CHN
year                  2011
gdp            7.57255e+12
population     1.34413e+09
Name: 11103, dtype: object)
(11104, countryname    Cote d'Ivoire
countrycode              CIV
year                    2011
gdp              2.53816e+10
population       2.08953e+07
Name: 11104, dtype: object)
(11105, countryname       Cameroon
countrycode            CMR
year                  2011
gdp             2.9337e+10
population     2.05204e+07
Name: 11105, dtype: object)
(11106, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       2011
gdp                 2.58397e+10
population          6.67136e+07
Name: 11106, dtype: object)
(11107, countryname    Congo, Rep.
countrycode            COG
year                  2011
gdp            1.44256e+10
population     4.51273e+06
Name: 11107, dtype: object)
(11108, countryname       Colombia
countrycode            COL
year                  2011
gdp            3.35415e+11
population     4.64066e+07
Name: 11108, dtype: object)
(11109, countryname        Comoros
countrycode            COM
year                  2011
gdp            5.86282e+08
population          706569
Name: 11109, dtype: object)
(11110, countryname     Cabo Verde
countrycode            CPV
year                  2011
gdp            1.86482e+09
population          508067
Name: 11110, dtype: object)
(11111, countryname     Costa Rica
countrycode            CRI
year                  2011
gdp            4.22627e+10
population     4.60047e+06
Name: 11111, dtype: object)
(11112, countryname           Cuba
countrycode            CUB
year                  2011
gdp              6.899e+10
population     1.13547e+07
Name: 11112, dtype: object)
(11113, countryname        Curacao
countrycode            CUW
year                  2011
gdp            3.20703e+09
population          150831
Name: 11113, dtype: object)
(11114, countryname    Cayman Islands
countrycode               CYM
year                     2011
gdp               3.20703e+09
population              56579
Name: 11114, dtype: object)
(11115, countryname         Cyprus
countrycode            CYP
year                  2011
gdp            2.74272e+10
population     1.12484e+06
Name: 11115, dtype: object)
(11116, countryname    Czech Republic
countrycode               CZE
year                     2011
gdp               2.27948e+11
population        1.04961e+07
Name: 11116, dtype: object)
(11117, countryname       Germany
countrycode           DEU
year                 2011
gdp            3.7577e+12
population     8.0275e+07
Name: 11117, dtype: object)
(11118, countryname       Djibouti
countrycode            DJI
year                  2011
gdp            1.23914e+09
population          865937
Name: 11118, dtype: object)
(11119, countryname       Dominica
countrycode            DMA
year                  2011
gdp            5.01025e+08
population           71718
Name: 11119, dtype: object)
(11120, countryname        Denmark
countrycode            DNK
year                  2011
gdp            3.44003e+11
population     5.57057e+06
Name: 11120, dtype: object)
(11121, countryname    Dominican Republic
countrycode                   DOM
year                         2011
gdp                   5.78112e+10
population            1.00271e+07
Name: 11121, dtype: object)
(11122, countryname        Algeria
countrycode            DZA
year                  2011
gdp            2.00019e+11
population     3.68196e+07
Name: 11122, dtype: object)
(11123, countryname        Ecuador
countrycode            ECU
year                  2011
gdp            7.92767e+10
population     1.51774e+07
Name: 11123, dtype: object)
(11124, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2011
gdp                 2.36002e+11
population          8.58976e+07
Name: 11124, dtype: object)
(11125, countryname        Eritrea
countrycode            ERI
year                  2011
gdp            2.60774e+09
population     4.47469e+06
Name: 11125, dtype: object)
(11126, countryname          Spain
countrycode            ESP
year                  2011
gdp            1.48807e+12
population     4.67427e+07
Name: 11126, dtype: object)
(11127, countryname        Estonia
countrycode            EST
year                  2011
gdp            2.31702e+10
population     1.32744e+06
Name: 11127, dtype: object)
(11128, countryname       Ethiopia
countrycode            ETH
year                  2011
gdp            3.19528e+10
population     9.00468e+07
Name: 11128, dtype: object)
(11129, countryname        Finland
countrycode            FIN
year                  2011
gdp            2.73674e+11
population     5.38827e+06
Name: 11129, dtype: object)
(11130, countryname           Fiji
countrycode            FJI
year                  2011
gdp            3.77453e+09
population          867086
Name: 11130, dtype: object)
(11131, countryname         France
countrycode            FRA
year                  2011
gdp            2.86141e+12
population     6.53428e+07
Name: 11131, dtype: object)
(11132, countryname    Faroe Islands
countrycode              FRO
year                    2011
gdp              2.46875e+09
population             48608
Name: 11132, dtype: object)
(11133, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2011
gdp                      3.10502e+08
population                    103468
Name: 11133, dtype: object)
(11134, countryname          Gabon
countrycode            GAB
year                  2011
gdp            1.81865e+10
population      1.6971e+06
Name: 11134, dtype: object)
(11135, countryname    United Kingdom
countrycode               GBR
year                     2011
gdp                2.6197e+12
population        6.32589e+07
Name: 11135, dtype: object)
(11136, countryname        Georgia
countrycode            GEO
year                  2011
gdp            1.44346e+10
population       3.875e+06
Name: 11136, dtype: object)
(11137, countryname          Ghana
countrycode            GHA
year                  2011
gdp            3.95663e+10
population     2.51218e+07
Name: 11137, dtype: object)
(11138, countryname    Gibraltar
countrycode          GIB
year                2011
gdp            4.928e+09
population         33405
Name: 11138, dtype: object)
(11139, countryname         Guinea
countrycode            GIN
year                  2011
gdp            6.51112e+09
population     1.10352e+07
Name: 11139, dtype: object)
(11140, countryname    Gambia, The
countrycode            GMB
year                  2011
gdp            8.98291e+08
population     1.74636e+06
Name: 11140, dtype: object)
(11141, countryname    Guinea-Bissau
countrycode              GNB
year                    2011
gdp              1.09939e+09
population       1.59615e+06
Name: 11141, dtype: object)
(11142, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2011
gdp                  2.13294e+10
population                994290
Name: 11142, dtype: object)
(11143, countryname         Greece
countrycode            GRC
year                  2011
gdp            2.87798e+11
population     1.11049e+07
Name: 11143, dtype: object)
(11144, countryname        Grenada
countrycode            GRD
year                  2011
gdp            7.78649e+08
population          105075
Name: 11144, dtype: object)
(11145, countryname      Greenland
countrycode            GRL
year                  2011
gdp            2.68447e+09
population           56890
Name: 11145, dtype: object)
(11146, countryname      Guatemala
countrycode            GTM
year                  2011
gdp            4.76548e+10
population     1.49489e+07
Name: 11146, dtype: object)
(11147, countryname         Guam
countrycode          GUM
year                2011
gdp            4.928e+09
population        159678
Name: 11147, dtype: object)
(11148, countryname         Guyana
countrycode            GUY
year                  2011
gdp            2.57602e+09
population          749100
Name: 11148, dtype: object)
(11149, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2011
gdp                     2.48514e+11
population               7.0716e+06
Name: 11149, dtype: object)
(11150, countryname       Honduras
countrycode            HND
year                  2011
gdp            1.77103e+10
population      8.3516e+06
Name: 11150, dtype: object)
(11151, countryname        Croatia
countrycode            HRV
year                  2011
gdp             6.2375e+10
population     4.28062e+06
Name: 11151, dtype: object)
(11152, countryname          Haiti
countrycode            HTI
year                  2011
gdp            7.51683e+09
population     1.01451e+07
Name: 11152, dtype: object)
(11153, countryname        Hungary
countrycode            HUN
year                  2011
gdp            1.40782e+11
population     9.97173e+06
Name: 11153, dtype: object)
(11154, countryname      Indonesia
countrycode            IDN
year                  2011
gdp            8.92969e+11
population     2.45708e+08
Name: 11154, dtype: object)
(11155, countryname    Isle of Man
countrycode            IMN
year                  2011
gdp            6.14217e+09
population           80759
Name: 11155, dtype: object)
(11156, countryname          India
countrycode            IND
year                  2011
gdp            1.82305e+12
population     1.24724e+09
Name: 11156, dtype: object)
(11157, countryname        Ireland
countrycode            IRL
year                  2011
gdp            2.39019e+11
population     4.58008e+06
Name: 11157, dtype: object)
(11158, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2011
gdp                     5.835e+11
population            7.54916e+07
Name: 11158, dtype: object)
(11159, countryname           Iraq
countrycode            IRQ
year                  2011
gdp             1.8575e+11
population     3.17271e+07
Name: 11159, dtype: object)
(11160, countryname        Iceland
countrycode            ISL
year                  2011
gdp            1.47327e+10
population          319014
Name: 11160, dtype: object)
(11161, countryname         Israel
countrycode            ISR
year                  2011
gdp            2.61629e+11
population      7.7658e+06
Name: 11161, dtype: object)
(11162, countryname          Italy
countrycode            ITA
year                  2011
gdp            2.27629e+12
population     5.93794e+07
Name: 11162, dtype: object)
(11163, countryname        Jamaica
countrycode            JAM
year                  2011
gdp            1.44399e+10
population     2.82949e+06
Name: 11163, dtype: object)
(11164, countryname         Jordan
countrycode            JOR
year                  2011
gdp            2.88403e+10
population     7.57494e+06
Name: 11164, dtype: object)
(11165, countryname          Japan
countrycode            JPN
year                  2011
gdp            6.15746e+12
population     1.27833e+08
Name: 11165, dtype: object)
(11166, countryname     Kazakhstan
countrycode            KAZ
year                  2011
gdp            1.92627e+11
population     1.65572e+07
Name: 11166, dtype: object)
(11167, countryname          Kenya
countrycode            KEN
year                  2011
gdp            4.19549e+10
population     4.24868e+07
Name: 11167, dtype: object)
(11168, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2011
gdp                6.19777e+09
population          5.5146e+06
Name: 11168, dtype: object)
(11169, countryname       Cambodia
countrycode            KHM
year                  2011
gdp            1.28295e+10
population     1.45379e+07
Name: 11169, dtype: object)
(11170, countryname       Kiribati
countrycode            KIR
year                  2011
gdp            1.77142e+08
population          104656
Name: 11170, dtype: object)
(11171, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2011
gdp                    7.53226e+08
population                   52006
Name: 11171, dtype: object)
(11172, countryname    Korea, Rep.
countrycode            KOR
year                  2011
gdp            1.20246e+12
population     4.99366e+07
Name: 11172, dtype: object)
(11173, countryname         Kuwait
countrycode            KWT
year                  2011
gdp            1.54028e+11
population     3.19105e+06
Name: 11173, dtype: object)
(11174, countryname        Lao PDR
countrycode            LAO
year                  2011
gdp            8.74924e+09
population     6.33349e+06
Name: 11174, dtype: object)
(11175, countryname        Lebanon
countrycode            LBN
year                  2011
gdp            4.00757e+10
population     4.58837e+06
Name: 11175, dtype: object)
(11176, countryname        Liberia
countrycode            LBR
year                  2011
gdp             1.5454e+09
population     4.07017e+06
Name: 11176, dtype: object)
(11177, countryname          Libya
countrycode            LBY
year                  2011
gdp            3.46994e+10
population      6.1935e+06
Name: 11177, dtype: object)
(11178, countryname      St. Lucia
countrycode            LCA
year                  2011
gdp            1.43768e+09
population          173832
Name: 11178, dtype: object)
(11179, countryname    Liechtenstein
countrycode              LIE
year                    2011
gdp              5.73998e+09
population             36264
Name: 11179, dtype: object)
(11180, countryname      Sri Lanka
countrycode            LKA
year                  2011
gdp            6.52899e+10
population      2.0315e+07
Name: 11180, dtype: object)
(11181, countryname        Lesotho
countrycode            LSO
year                  2011
gdp            2.78802e+09
population     2.06417e+06
Name: 11181, dtype: object)
(11182, countryname      Lithuania
countrycode            LTU
year                  2011
gdp            4.34769e+10
population     3.02812e+06
Name: 11182, dtype: object)
(11183, countryname     Luxembourg
countrycode            LUX
year                  2011
gdp            6.00046e+10
population          518347
Name: 11183, dtype: object)
(11184, countryname         Latvia
countrycode            LVA
year                  2011
gdp            2.82236e+10
population     2.05971e+06
Name: 11184, dtype: object)
(11185, countryname    Macao SAR, China
countrycode                 MAC
year                       2011
gdp                 3.67099e+10
population               549439
Name: 11185, dtype: object)
(11186, countryname    St. Martin (French part)
countrycode                         MAF
year                               2011
gdp                          1.0137e+11
population                        30615
Name: 11186, dtype: object)
(11187, countryname        Morocco
countrycode            MAR
year                  2011
gdp             1.0137e+11
population     3.28588e+07
Name: 11187, dtype: object)
(11188, countryname         Monaco
countrycode            MCO
year                  2011
gdp            6.07488e+09
population           37497
Name: 11188, dtype: object)
(11189, countryname        Moldova
countrycode            MDA
year                  2011
gdp            7.01521e+09
population     3.55999e+06
Name: 11189, dtype: object)
(11190, countryname     Madagascar
countrycode            MDG
year                  2011
gdp             9.8927e+09
population     2.17439e+07
Name: 11190, dtype: object)
(11191, countryname       Maldives
countrycode            MDV
year                  2011
gdp            2.77435e+09
population          375131
Name: 11191, dtype: object)
(11192, countryname         Mexico
countrycode            MEX
year                  2011
gdp            1.18049e+12
population      1.1909e+08
Name: 11192, dtype: object)
(11193, countryname    Marshall Islands
countrycode                 MHL
year                       2011
gdp                  1.7326e+08
population                52542
Name: 11193, dtype: object)
(11194, countryname    Macedonia, FYR
countrycode               MKD
year                     2011
gdp               1.04946e+10
population        2.07238e+06
Name: 11194, dtype: object)
(11195, countryname           Mali
countrycode            MLI
year                  2011
gdp            1.29781e+10
population      1.5541e+07
Name: 11195, dtype: object)
(11196, countryname          Malta
countrycode            MLT
year                  2011
gdp            9.50765e+09
population          416268
Name: 11196, dtype: object)
(11197, countryname        Myanmar
countrycode            MMR
year                  2011
gdp            5.99773e+10
population      5.0553e+07
Name: 11197, dtype: object)
(11198, countryname    Montenegro
countrycode           MNE
year                 2011
gdp            4.5382e+09
population         620079
Name: 11198, dtype: object)
(11199, countryname       Mongolia
countrycode            MNG
year                  2011
gdp            1.04098e+10
population     2.76152e+06
Name: 11199, dtype: object)
(11200, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2011
gdp                            7.33e+08
population                        53786
Name: 11200, dtype: object)
(11201, countryname     Mozambique
countrycode            MOZ
year                  2011
gdp            1.31312e+10
population      2.4939e+07
Name: 11201, dtype: object)
(11202, countryname     Mauritania
countrycode            MRT
year                  2011
gdp            5.17969e+09
population     3.71767e+06
Name: 11202, dtype: object)
(11203, countryname      Mauritius
countrycode            MUS
year                  2011
gdp            1.15184e+10
population      1.2524e+06
Name: 11203, dtype: object)
(11204, countryname         Malawi
countrycode            MWI
year                  2011
gdp             8.0033e+09
population     1.56276e+07
Name: 11204, dtype: object)
(11205, countryname       Malaysia
countrycode            MYS
year                  2011
gdp            2.97952e+11
population     2.86351e+07
Name: 11205, dtype: object)
(11206, countryname        Namibia
countrycode            NAM
year                  2011
gdp            1.24096e+10
population     2.21562e+06
Name: 11206, dtype: object)
(11207, countryname    New Caledonia
countrycode              NCL
year                    2011
gdp              2.68235e+09

Name: 11305, dtype: object)
(11306, countryname        Belarus
countrycode            BLR
year                  2012
gdp            6.56851e+10
population      9.4645e+06
Name: 11306, dtype: object)
(11307, countryname         Belize
countrycode            BLZ
year                  2012
gdp            1.57367e+09
population          336701
Name: 11307, dtype: object)
(11308, countryname        Bermuda
countrycode            BMU
year                  2012
gdp            5.53754e+09
population           64798
Name: 11308, dtype: object)
(11309, countryname        Bolivia
countrycode            BOL
year                  2012
gdp            2.70845e+10
population      1.0239e+07
Name: 11309, dtype: object)
(11310, countryname         Brazil
countrycode            BRA
year                  2012
gdp            2.46519e+12
population     2.00561e+08
Name: 11310, dtype: object)
(11311, countryname       Barbados
countrycode            BRB
year                  2012
gdp            4.65635e+09
population          281585
Name: 11311, dtype: object)
(11312, countryname    Brunei Darussalam
countrycode                  BRN
year                        2012
gdp                  1.90485e+10
population                399748
Name: 11312, dtype: object)
(11313, countryname         Bhutan
countrycode            BTN
year                  2012
gdp            1.82369e+09
population          752967
Name: 11313, dtype: object)
(11314, countryname       Botswana
countrycode            BWA
year                  2012
gdp            1.46863e+10
population     2.08932e+06
Name: 11314, dtype: object)
(11315, countryname    Central African Republic
countrycode                         CAF
year                               2012
gdp                         2.16971e+09
population                  4.49042e+06
Name: 11315, dtype: object)
(11316, countryname         Canada
countrycode            CAN
year                  2012
gdp            1.82429e+12
population     3.47505e+07
Name: 11316, dtype: object)
(11317, countryname    Switzerland
countrycode            CHE
year                  2012
gdp            6.68044e+11
population     7.99686e+06
Name: 11317, dtype: object)
(11318, countryname    Channel Islands
countrycode                CHI
year                      2012
gdp                1.15146e+10
population              161358
Name: 11318, dtype: object)
(11319, countryname          Chile
countrycode            CHL
year                  2012
gdp            2.67122e+11
population     1.73097e+07
Name: 11319, dtype: object)
(11320, countryname          China
countrycode            CHN
year                  2012
gdp            8.56055e+12
population      1.3507e+09
Name: 11320, dtype: object)
(11321, countryname    Cote d'Ivoire
countrycode              CIV
year                    2012
gdp              2.70406e+10
population       2.14186e+07
Name: 11321, dtype: object)
(11322, countryname       Cameroon
countrycode            CMR
year                  2012
gdp            2.91044e+10
population     2.10824e+07
Name: 11322, dtype: object)
(11323, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       2012
gdp                 2.93062e+10
population          6.89787e+07
Name: 11323, dtype: object)
(11324, countryname    Congo, Rep.
countrycode            COG
year                  2012
gdp            1.36779e+10
population     4.63336e+06
Name: 11324, dtype: object)
(11325, countryname       Colombia
countrycode            COL
year                  2012
gdp             3.6966e+11
population     4.68815e+07
Name: 11325, dtype: object)
(11326, countryname        Comoros
countrycode            COM
year                  2012
gdp            5.70866e+08
population          723868
Name: 11326, dtype: object)
(11327, countryname     Cabo Verde
countrycode            CPV
year                  2012
gdp            1.75189e+09
population          513979
Name: 11327, dtype: object)
(11328, countryname     Costa Rica
countrycode            CRI
year                  2012
gdp            4.64731e+10
population     4.65412e+06
Name: 11328, dtype: object)
(11329, countryname           Cuba
countrycode            CUB
year                  2012
gdp             7.3141e+10
population     1.13821e+07
Name: 11329, dtype: object)
(11330, countryname        Curacao
countrycode            CUW
year                  2012
gdp            3.20703e+09
population          152088
Name: 11330, dtype: object)
(11331, countryname    Cayman Islands
countrycode               CYM
year                     2012
gdp               3.20703e+09
population              57523
Name: 11331, dtype: object)
(11332, countryname         Cyprus
countrycode            CYP
year                  2012
gdp            2.50414e+10
population     1.13506e+06
Name: 11332, dtype: object)
(11333, countryname    Czech Republic
countrycode               CZE
year                     2012
gdp               2.07376e+11
population        1.05108e+07
Name: 11333, dtype: object)
(11334, countryname        Germany
countrycode            DEU
year                  2012
gdp            3.54398e+12
population     8.04258e+07
Name: 11334, dtype: object)
(11335, countryname       Djibouti
countrycode            DJI
year                  2012
gdp            1.35363e+09
population          881185
Name: 11335, dtype: object)
(11336, countryname       Dominica
countrycode            DMA
year                  2012
gdp            4.85998e+08
population           72044
Name: 11336, dtype: object)
(11337, countryname        Denmark
countrycode            DNK
year                  2012
gdp            3.27149e+11
population     5.59157e+06
Name: 11337, dtype: object)
(11338, countryname    Dominican Republic
countrycode                   DOM
year                         2012
gdp                   6.06578e+10
population             1.0155e+07
Name: 11338, dtype: object)
(11339, countryname        Algeria
countrycode            DZA
year                  2012
gdp            2.09059e+11
population     3.75658e+07
Name: 11339, dtype: object)
(11340, countryname        Ecuador
countrycode            ECU
year                  2012
gdp            8.79245e+10
population     1.54197e+07
Name: 11340, dtype: object)
(11341, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2012
gdp                 2.79373e+11
population          8.78133e+07
Name: 11341, dtype: object)
(11342, countryname        Eritrea
countrycode            ERI
year                  2012
gdp            2.60774e+09
population     4.47469e+06
Name: 11342, dtype: object)
(11343, countryname          Spain
countrycode            ESP
year                  2012
gdp            1.33602e+12
population     4.67731e+07
Name: 11343, dtype: object)
(11344, countryname        Estonia
countrycode            EST
year                  2012
gdp            2.30439e+10
population      1.3227e+06
Name: 11344, dtype: object)
(11345, countryname       Ethiopia
countrycode            ETH
year                  2012
gdp            4.33107e+10
population     9.24442e+07
Name: 11345, dtype: object)
(11346, countryname        Finland
countrycode            FIN
year                  2012
gdp            2.56706e+11
population     5.41397e+06
Name: 11346, dtype: object)
(11347, countryname           Fiji
countrycode            FJI
year                  2012
gdp            3.97201e+09
population          873596
Name: 11347, dtype: object)
(11348, countryname         France
countrycode            FRA
year                  2012
gdp            2.68383e+12
population     6.56598e+07
Name: 11348, dtype: object)
(11349, countryname    Faroe Islands
countrycode              FRO
year                    2012
gdp               2.3565e+09
population             48666
Name: 11349, dtype: object)
(11350, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2012
gdp                      3.26129e+08
population                    103503
Name: 11350, dtype: object)
(11351, countryname          Gabon
countrycode            GAB
year                  2012
gdp            1.71715e+10
population     1.75682e+06
Name: 11351, dtype: object)
(11352, countryname    United Kingdom
countrycode               GBR
year                     2012
gdp               2.66209e+12
population        6.37003e+07
Name: 11352, dtype: object)
(11353, countryname        Georgia
countrycode            GEO
year                  2012
gdp            1.58465e+10
population       3.825e+06
Name: 11353, dtype: object)
(11354, countryname          Ghana
countrycode            GHA
year                  2012
gdp            4.19397e+10
population      2.5733e+07
Name: 11354, dtype: object)
(11355, countryname    Gibraltar
countrycode          GIB
year                2012
gdp            5.199e+09
population         33623
Name: 11355, dtype: object)
(11356, countryname         Guinea
countrycode            GIN
year                  2012
gdp            7.50478e+09
population     1.12815e+07
Name: 11356, dtype: object)
(11357, countryname    Gambia, The
countrycode            GMB
year                  2012
gdp            9.10026e+08
population     1.80212e+06
Name: 11357, dtype: object)
(11358, countryname    Guinea-Bissau
countrycode              GNB
year                    2012
gdp              9.89876e+08
population       1.63814e+06
Name: 11358, dtype: object)
(11359, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2012
gdp                  2.23896e+10
population           1.03859e+06
Name: 11359, dtype: object)
(11360, countryname         Greece
countrycode            GRC
year                  2012
gdp            2.45671e+11
population      1.1045e+07
Name: 11360, dtype: object)
(11361, countryname        Grenada
countrycode            GRD
year                  2012
gdp            7.99882e+08
population          105481
Name: 11361, dtype: object)
(11362, countryname      Greenland
countrycode            GRL
year                  2012
gdp            2.60967e+09
population           56810
Name: 11362, dtype: object)
(11363, countryname      Guatemala
countrycode            GTM
year                  2012
gdp            5.03885e+10
population     1.52711e+07
Name: 11363, dtype: object)
(11364, countryname         Guam
countrycode          GUM
year                2012
gdp            5.199e+09
population        159973
Name: 11364, dtype: object)
(11365, countryname         Guyana
countrycode            GUY
year                  2012
gdp            2.86156e+09
population          753091
Name: 11365, dtype: object)
(11366, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2012
gdp                     2.62629e+11
population               7.1501e+06
Name: 11366, dtype: object)
(11367, countryname       Honduras
countrycode            HND
year                  2012
gdp            1.85286e+10
population     8.50565e+06
Name: 11367, dtype: object)
(11368, countryname        Croatia
countrycode            HRV
year                  2012
gdp            5.65655e+10
population     4.26756e+06
Name: 11368, dtype: object)
(11369, countryname          Haiti
countrycode            HTI
year                  2012
gdp            7.89022e+09
population     1.02892e+07
Name: 11369, dtype: object)
(11370, countryname        Hungary
countrycode            HUN
year                  2012
gdp            1.27857e+11
population     9.92036e+06
Name: 11370, dtype: object)
(11371, countryname      Indonesia
countrycode            IDN
year                  2012
gdp             9.1787e+11
population     2.48883e+08
Name: 11371, dtype: object)
(11372, countryname    Isle of Man
countrycode            IMN
year                  2012
gdp            6.43336e+09
population           81406
Name: 11372, dtype: object)
(11373, countryname          India
countrycode            IND
year                  2012
gdp            1.82764e+12
population     1.26307e+09
Name: 11373, dtype: object)
(11374, countryname        Ireland
countrycode            IRL
year                  2012
gdp            2.25572e+11
population     4.59953e+06
Name: 11374, dtype: object)
(11375, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2012
gdp                   5.98853e+11
population            7.64536e+07
Name: 11375, dtype: object)
(11376, countryname           Iraq
countrycode            IRQ
year                  2012
gdp            2.18001e+11
population     3.27766e+07
Name: 11376, dtype: object)
(11377, countryname       Iceland
countrycode           ISL
year                 2012
gdp            1.4292e+10
population         320716
Name: 11377, dtype: object)
(11378, countryname         Israel
countrycode            ISR
year                  2012
gdp            2.57297e+11
population      7.9105e+06
Name: 11378, dtype: object)
(11379, countryname          Italy
countrycode            ITA
year                  2012
gdp            2.07282e+12
population     5.95397e+07
Name: 11379, dtype: object)
(11380, countryname        Jamaica
countrycode            JAM
year                  2012
gdp            1.48002e+10
population     2.84099e+06
Name: 11380, dtype: object)
(11381, countryname         Jordan
countrycode            JOR
year                  2012
gdp            3.09373e+10
population     7.99257e+06
Name: 11381, dtype: object)
(11382, countryname          Japan
countrycode            JPN
year                  2012
gdp            6.20321e+12
population     1.27629e+08
Name: 11382, dtype: object)
(11383, countryname     Kazakhstan
countrycode            KAZ
year                  2012
gdp            2.07999e+11
population     1.67921e+07
Name: 11383, dtype: object)
(11384, countryname          Kenya
countrycode            KEN
year                  2012
gdp            5.03347e+10
population     4.36466e+07
Name: 11384, dtype: object)
(11385, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2012
gdp                6.60514e+09
population          5.6072e+06
Name: 11385, dtype: object)
(11386, countryname       Cambodia
countrycode            KHM
year                  2012
gdp            1.40544e+10
population     1.47769e+07
Name: 11386, dtype: object)
(11387, countryname       Kiribati
countrycode            KIR
year                  2012
gdp            1.88046e+08
population          106613
Name: 11387, dtype: object)
(11388, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2012
gdp                    7.34463e+08
population                   52591
Name: 11388, dtype: object)
(11389, countryname    Korea, Rep.
countrycode            KOR
year                  2012
gdp            1.22281e+12
population     5.01999e+07
Name: 11389, dtype: object)
(11390, countryname         Kuwait
countrycode            KWT
year                  2012
gdp             1.7407e+11
population     3.39556e+06
Name: 11390, dtype: object)
(11391, countryname        Lao PDR
countrycode            LAO
year                  2012
gdp            1.01914e+10
population     6.41517e+06
Name: 11391, dtype: object)
(11392, countryname        Lebanon
countrycode            LBN
year                  2012
gdp            4.38686e+10
population      4.9164e+06
Name: 11392, dtype: object)
(11393, countryname        Liberia
countrycode            LBR
year                  2012
gdp             1.7355e+09
population     4.18156e+06
Name: 11393, dtype: object)
(11394, countryname          Libya
countrycode            LBY
year                  2012
gdp            8.18737e+10
population     6.19826e+06
Name: 11394, dtype: object)
(11395, countryname     St. Lucia
countrycode           LCA
year                 2012
gdp            1.4368e+09
population         174835
Name: 11395, dtype: object)
(11396, countryname    Liechtenstein
countrycode              LIE
year                    2012
gdp              5.45601e+09
population             36545
Name: 11396, dtype: object)
(11397, countryname      Sri Lanka
countrycode            LKA
year                  2012
gdp            6.84362e+10
population      2.0425e+07
Name: 11397, dtype: object)
(11398, countryname        Lesotho
countrycode            LSO
year                  2012
gdp            2.67849e+09
population     2.08993e+06
Name: 11398, dtype: object)
(11399, countryname      Lithuania
countrycode            LTU
year                  2012
gdp            4.28482e+10
population     2.98777e+06
Name: 11399, dtype: object)
(11400, countryname    Luxembourg
countrycode           LUX
year                 2012
gdp            5.6678e+10
population         530946
Name: 11400, dtype: object)
(11401, countryname         Latvia
countrycode            LVA
year                  2012
gdp              2.812e+10
population     2.03432e+06
Name: 11401, dtype: object)
(11402, countryname    Macao SAR, China
countrycode                 MAC
year                       2012
gdp                 4.30316e+10
population               562531
Name: 11402, dtype: object)
(11403, countryname    St. Martin (French part)
countrycode                         MAF
year                               2012
gdp                         9.82663e+10
population                        30959
Name: 11403, dtype: object)
(11404, countryname        Morocco
countrycode            MAR
year                  2012
gdp            9.82663e+10
population     3.33338e+07
Name: 11404, dtype: object)
(11405, countryname         Monaco
countrycode            MCO
year                  2012
gdp            6.07488e+09
population           37783
Name: 11405, dtype: object)
(11406, countryname        Moldova
countrycode            MDA
year                  2012
gdp            7.28469e+09
population     3.55952e+06
Name: 11406, dtype: object)
(11407, countryname     Madagascar
countrycode            MDG
year                  2012
gdp            9.91978e+09
population     2.23466e+07
Name: 11407, dtype: object)
(11408, countryname       Maldives
countrycode            MDV
year                  2012
gdp            2.88617e+09
population          386203
Name: 11408, dtype: object)
(11409, countryname         Mexico
countrycode            MEX
year                  2012
gdp            1.20109e+12
population     1.20828e+08
Name: 11409, dtype: object)
(11410, countryname    Marshall Islands
countrycode                 MHL
year                       2012
gdp                 1.85210e+08
population                52663
Name: 11410, dtype: object)
(11411, countryname    Macedonia, FYR
countrycode               MKD
year                     2012
gdp               9.74525e+09
population        2.07404e+06
Name: 11411, dtype: object)
(11412, countryname           Mali
countrycode            MLI
year                  2012
gdp            1.24427e+10
population     1.60067e+07
Name: 11412, dtype: object)
(11413, countryname          Malta
countrycode            MLT
year                  2012
gdp            9.20956e+09
population          420028
Name: 11413, dtype: object)
(11414, countryname        Myanmar
countrycode            MMR
year                  2012
gdp            5.99378e+10
population     5.09865e+07
Name: 11414, dtype: object)
(11415, countryname     Montenegro
countrycode            MNE
year                  2012
gdp            4.08772e+09
population          620601
Name: 11415, dtype: object)
(11416, countryname       Mongolia
countrycode            MNG
year                  2012
gdp            1.22928e+10
population     2.81423e+06
Name: 11416, dtype: object)
(11417, countryname    Northern Mariana Islands
countrycode                         MNP
year                               2012
gdp                            7.51e+08
population                        53718
Name: 11417, dtype: object)
(11418, countryname     Mozambique
countrycode            MOZ
year                  2012
gdp            1.45343e+10
population     2.56766e+07

Name: 11520, dtype: object)
(11521, countryname    Bahamas, The
countrycode             BHS
year                   2013
gdp             1.06276e+10
population           377240
Name: 11521, dtype: object)
(11522, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             2013
gdp                       1.81785e+10
population                  3.605e+06
Name: 11522, dtype: object)
(11523, countryname       Belarus
countrycode           BLR
year                 2013
gdp            7.5528e+10
population      9.466e+06
Name: 11523, dtype: object)
(11524, countryname         Belize
countrycode            BLZ
year                  2013
gdp            1.61257e+09
population          344181
Name: 11524, dtype: object)
(11525, countryname        Bermuda
countrycode            BMU
year                  2013
gdp            5.57371e+09
population           65001
Name: 11525, dtype: object)
(11526, countryname        Bolivia
countrycode            BOL
year                  2013
gdp            3.06593e+10
population     1.04003e+07
Name: 11526, dtype: object)
(11527, countryname         Brazil
countrycode            BRA
year                  2013
gdp            2.47281e+12
population     2.02409e+08
Name: 11527, dtype: object)
(11528, countryname      Barbados
countrycode           BRB
year                 2013
gdp            4.6125e+09
population         282509
Name: 11528, dtype: object)
(11529, countryname    Brunei Darussalam
countrycode                  BRN
year                        2013
gdp                  1.80938e+10
population                405716
Name: 11529, dtype: object)
(11530, countryname         Bhutan
countrycode            BTN
year                  2013
gdp            1.79833e+09
population          764961
Name: 11530, dtype: object)
(11531, countryname       Botswana
countrycode            BWA
year                  2013
gdp            1.49158e+10
population     2.12851e+06
Name: 11531, dtype: object)
(11532, countryname    Central African Republic
countrycode                         CAF
year                               2013
gdp                         1.51857e+09
population                  4.49965e+06
Name: 11532, dtype: object)
(11533, countryname         Canada
countrycode            CAN
year                  2013
gdp            1.84263e+12
population     3.51524e+07
Name: 11533, dtype: object)
(11534, countryname    Switzerland
countrycode            CHE
year                  2013
gdp            6.88504e+11
population     8.08935e+06
Name: 11534, dtype: object)
(11535, countryname    Channel Islands
countrycode                CHI
year                      2013
gdp                1.15146e+10
population              162180
Name: 11535, dtype: object)
(11536, countryname          Chile
countrycode            CHL
year                  2013
gdp            2.78384e+11
population      1.7463e+07
Name: 11536, dtype: object)
(11537, countryname          China
countrycode            CHN
year                  2013
gdp            9.60722e+12
population     1.35738e+09
Name: 11537, dtype: object)
(11538, countryname    Cote d'Ivoire
countrycode              CIV
year                    2013
gdp               3.1273e+10
population       2.19663e+07
Name: 11538, dtype: object)
(11539, countryname       Cameroon
countrycode            CMR
year                  2013
gdp            3.23481e+10
population     2.16557e+07
Name: 11539, dtype: object)
(11540, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       2013
gdp                 3.26717e+10
population           7.1316e+07
Name: 11540, dtype: object)
(11541, countryname    Congo, Rep.
countrycode            COG
year                  2013
gdp            1.40859e+10
population     4.75139e+06
Name: 11541, dtype: object)
(11542, countryname       Colombia
countrycode            COL
year                  2013
gdp            3.80192e+11
population      4.7343e+07
Name: 11542, dtype: object)
(11543, countryname        Comoros
countrycode            COM
year                  2013
gdp            6.18664e+08
population          741500
Name: 11543, dtype: object)
(11544, countryname     Cabo Verde
countrycode            CPV
year                  2013
gdp            1.85095e+09
population          520106
Name: 11544, dtype: object)
(11545, countryname     Costa Rica
countrycode            CRI
year                  2013
gdp            4.97451e+10
population      4.7064e+06
Name: 11545, dtype: object)
(11546, countryname           Cuba
countrycode            CUB
year                  2013
gdp             7.7148e+10
population     1.14122e+07
Name: 11546, dtype: object)
(11547, countryname        Curacao
countrycode            CUW
year                  2013
gdp            3.20703e+09
population          153822
Name: 11547, dtype: object)
(11548, countryname    Cayman Islands
countrycode               CYM
year                     2013
gdp               3.20703e+09
population              58371
Name: 11548, dtype: object)
(11549, countryname         Cyprus
countrycode            CYP
year                  2013
gdp            2.40846e+10
population      1.1439e+06
Name: 11549, dtype: object)
(11550, countryname    Czech Republic
countrycode               CZE
year                     2013
gdp               2.09402e+11
population        1.05143e+07
Name: 11550, dtype: object)
(11551, countryname        Germany
countrycode            DEU
year                  2013
gdp            3.75251e+12
population     8.06456e+07
Name: 11551, dtype: object)
(11552, countryname       Djibouti
countrycode            DJI
year                  2013
gdp            1.32473e+09
population          896688
Name: 11552, dtype: object)
(11553, countryname       Dominica
countrycode            DMA
year                  2013
gdp            5.01979e+08
population           72400
Name: 11553, dtype: object)
(11554, countryname        Denmark
countrycode            DNK
year                  2013
gdp            3.43584e+11
population     5.61493e+06
Name: 11554, dtype: object)
(11555, countryname    Dominican Republic
countrycode                   DOM
year                         2013
gdp                   6.26618e+10
population            1.02813e+07
Name: 11555, dtype: object)
(11556, countryname        Algeria
countrycode            DZA
year                  2013
gdp            2.09755e+11
population     3.83386e+07
Name: 11556, dtype: object)
(11557, countryname        Ecuador
countrycode            ECU
year                  2013
gdp            9.51297e+10
population     1.56615e+07
Name: 11557, dtype: object)
(11558, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2013
gdp                 2.88586e+11
population          8.98074e+07
Name: 11558, dtype: object)
(11559, countryname        Eritrea
countrycode            ERI
year                  2013
gdp            2.60774e+09
population     4.47469e+06
Name: 11559, dtype: object)
(11560, countryname          Spain
countrycode            ESP
year                  2013
gdp            1.36185e+12
population       4.662e+07
Name: 11560, dtype: object)
(11561, countryname        Estonia
countrycode            EST
year                  2013
gdp            2.51372e+10
population       1.318e+06
Name: 11561, dtype: object)
(11562, countryname       Ethiopia
countrycode            ETH
year                  2013
gdp            4.76482e+10
population     9.48877e+07
Name: 11562, dtype: object)
(11563, countryname        Finland
countrycode            FIN
year                  2013
gdp             2.6998e+11
population     5.43897e+06
Name: 11563, dtype: object)
(11564, countryname           Fiji
countrycode            FJI
year                  2013
gdp            4.19014e+09
population          879715
Name: 11564, dtype: object)
(11565, countryname         France
countrycode            FRA
year                  2013
gdp            2.81108e+12
population     6.59987e+07
Name: 11565, dtype: object)
(11566, countryname    Faroe Islands
countrycode              FRO
year                    2013
gdp              2.61346e+09
population             48747
Name: 11566, dtype: object)
(11567, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2013
gdp                      3.16041e+08
population                    103702
Name: 11567, dtype: object)
(11568, countryname          Gabon
countrycode            GAB
year                  2013
gdp            1.75907e+10
population     1.81727e+06
Name: 11568, dtype: object)
(11569, countryname    United Kingdom
countrycode               GBR
year                     2013
gdp               2.73982e+12
population        6.41282e+07
Name: 11569, dtype: object)
(11570, countryname      Georgia
countrycode          GEO
year                2013
gdp            1.614e+10
population     3.776e+06
Name: 11570, dtype: object)
(11571, countryname          Ghana
countrycode            GHA
year                  2013
gdp            4.78051e+10
population     2.63463e+07
Name: 11571, dtype: object)
(11572, countryname    Gibraltar
countrycode          GIB
year                2013
gdp            1.614e+10
population         33831
Name: 11572, dtype: object)
(11573, countryname         Guinea
countrycode            GIN
year                  2013
gdp            8.26303e+09
population     1.15366e+07
Name: 11573, dtype: object)
(11574, countryname    Gambia, The
countrycode            GMB
year                  2013
gdp            8.98948e+08
population     1.85932e+06
Name: 11574, dtype: object)
(11575, countryname    Guinea-Bissau
countrycode              GNB
year                    2013
gdp              1.04579e+09
population        1.6815e+06
Name: 11575, dtype: object)
(11576, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2013
gdp                  2.19426e+10
population           1.08375e+06
Name: 11576, dtype: object)
(11577, countryname         Greece
countrycode            GRC
year                  2013
gdp            2.39862e+11
population     1.09652e+07
Name: 11577, dtype: object)
(11578, countryname       Grenada
countrycode           GRD
year                 2013
gdp            8.4262e+08
population         105909
Name: 11578, dtype: object)
(11579, countryname      Greenland
countrycode            GRL
year                  2013
gdp            2.66952e+09
population           56483
Name: 11579, dtype: object)
(11580, countryname      Guatemala
countrycode            GTM
year                  2013
gdp            5.38511e+10
population     1.55962e+07
Name: 11580, dtype: object)
(11581, countryname         Guam
countrycode          GUM
year                2013
gdp            5.337e+09
population        160375
Name: 11581, dtype: object)
(11582, countryname         Guyana
countrycode            GUY
year                  2013
gdp            2.99001e+09
population          758081
Name: 11582, dtype: object)
(11583, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2013
gdp                     2.75697e+11
population               7.1789e+06
Name: 11583, dtype: object)
(11584, countryname       Honduras
countrycode            HND
year                  2013
gdp            1.84997e+10
population     8.65778e+06
Name: 11584, dtype: object)
(11585, countryname        Croatia
countrycode            HRV
year                  2013
gdp            5.80859e+10
population     4.25569e+06
Name: 11585, dtype: object)
(11586, countryname          Haiti
countrycode            HTI
year                  2013
gdp            8.45251e+09
population     1.04318e+07
Name: 11586, dtype: object)
(11587, countryname        Hungary
countrycode            HUN
year                  2013
gdp            1.35216e+11
population     9.89308e+06
Name: 11587, dtype: object)
(11588, countryname      Indonesia
countrycode            IDN
year                  2013
gdp            9.12524e+11
population     2.52032e+08
Name: 11588, dtype: object)
(11589, countryname    Isle of Man
countrycode            IMN
year                  2013
gdp            6.75433e+09
population           82013
Name: 11589, dtype: object)
(11590, countryname          India
countrycode            IND
year                  2013
gdp            1.85672e+12
population     1.27856e+09
Name: 11590, dtype: object)
(11591, countryname        Ireland
countrycode            IRL
year                  2013
gdp            2.39389e+11
population     4.62382e+06
Name: 11591, dtype: object)
(11592, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2013
gdp                   4.67415e+11
population            7.74354e+07
Name: 11592, dtype: object)
(11593, countryname           Iraq
countrycode            IRQ
year                  2013
gdp            2.34648e+11
population     3.38831e+07
Name: 11593, dtype: object)
(11594, countryname        Iceland
countrycode            ISL
year                  2013
gdp            1.55483e+10
population          323764
Name: 11594, dtype: object)
(11595, countryname         Israel
countrycode            ISR
year                  2013
gdp            2.92489e+11
population      8.0595e+06
Name: 11595, dtype: object)
(11596, countryname          Italy
countrycode            ITA
year                  2013
gdp            2.13049e+12
population     6.02339e+07
Name: 11596, dtype: object)
(11597, countryname        Jamaica
countrycode            JAM
year                  2013
gdp             1.4275e+10
population     2.85181e+06
Name: 11597, dtype: object)
(11598, countryname         Jordan
countrycode            JOR
year                  2013
gdp            3.35938e+10
population     8.41346e+06
Name: 11598, dtype: object)
(11599, countryname          Japan
countrycode            JPN
year                  2013
gdp            5.15572e+12
population     1.27445e+08
Name: 11599, dtype: object)
(11600, countryname     Kazakhstan
countrycode            KAZ
year                  2013
gdp            2.36635e+11
population     1.70356e+07
Name: 11600, dtype: object)
(11601, countryname          Kenya
countrycode            KEN
year                  2013
gdp            5.50967e+10
population     4.48268e+07
Name: 11601, dtype: object)
(11602, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2013
gdp                7.33503e+09
population          5.7196e+06
Name: 11602, dtype: object)
(11603, countryname       Cambodia
countrycode            KHM
year                  2013
gdp             1.5228e+10
population     1.50227e+07
Name: 11603, dtype: object)
(11604, countryname       Kiribati
countrycode            KIR
year                  2013
gdp            1.87154e+08
population          108535
Name: 11604, dtype: object)
(11605, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2013
gdp                    7.88164e+08
population                   53169
Name: 11605, dtype: object)
(11606, countryname    Korea, Rep.
countrycode            KOR
year                  2013
gdp             1.3056e+12
population     5.04289e+07
Name: 11606, dtype: object)
(11607, countryname         Kuwait
countrycode            KWT
year                  2013
gdp            1.74161e+11
population     3.59838e+06
Name: 11607, dtype: object)
(11608, countryname        Lao PDR
countrycode            LAO
year                  2013
gdp            1.19422e+10
population     6.49456e+06
Name: 11608, dtype: object)
(11609, countryname        Lebanon
countrycode            LBN
year                  2013
gdp            4.60142e+10
population      5.2761e+06
Name: 11609, dtype: object)
(11610, countryname        Liberia
countrycode            LBR
year                  2013
gdp             1.9465e+09
population     4.28629e+06
Name: 11610, dtype: object)
(11611, countryname          Libya
countrycode            LBY
year                  2013
gdp            6.55029e+10
population     6.19597e+06
Name: 11611, dtype: object)
(11612, countryname      St. Lucia
countrycode            LCA
year                  2013
gdp            1.48993e+09
population          175660
Name: 11612, dtype: object)
(11613, countryname    Liechtenstein
countrycode              LIE
year                    2013
gdp              6.39174e+09
population             36834
Name: 11613, dtype: object)
(11614, countryname      Sri Lanka
countrycode            LKA
year                  2013
gdp            7.42942e+10
population      2.0585e+07
Name: 11614, dtype: object)
(11615, countryname        Lesotho
countrycode            LSO
year                  2013
gdp            2.52602e+09
population     2.11736e+06
Name: 11615, dtype: object)
(11616, countryname      Lithuania
countrycode            LTU
year                  2013
gdp            4.64173e+10
population     2.95769e+06
Name: 11616, dtype: object)
(11617, countryname     Luxembourg
countrycode            LUX
year                  2013
gdp            6.17394e+10
population          543360
Name: 11617, dtype: object)
(11618, countryname         Latvia
countrycode            LVA
year                  2013
gdp            3.02547e+10
population     2.01265e+06
Name: 11618, dtype: object)
(11619, countryname    Macao SAR, China
countrycode                 MAC
year                       2013
gdp                 5.15521e+10
population               575841
Name: 11619, dtype: object)
(11620, countryname    St. Martin (French part)
countrycode                         MAF
year                               2013
gdp                         1.06826e+11
population                        31264
Name: 11620, dtype: object)
(11621, countryname        Morocco
countrycode            MAR
year                  2013
gdp            1.06826e+11
population     3.38248e+07
Name: 11621, dtype: object)
(11622, countryname         Monaco
countrycode            MCO
year                  2013
gdp            6.07488e+09
population           37971
Name: 11622, dtype: object)
(11623, countryname        Moldova
countrycode            MDA
year                  2013
gdp            7.98535e+09
population     3.55857e+06
Name: 11623, dtype: object)
(11624, countryname     Madagascar
countrycode            MDG
year                  2013
gdp            1.06017e+10
population     2.29611e+07
Name: 11624, dtype: object)
(11625, countryname       Maldives
countrycode            MDV
year                  2013
gdp            3.29501e+09
population          397397
Name: 11625, dtype: object)
(11626, countryname         Mexico
countrycode            MEX
year                  2013
gdp            1.27444e+12
population     1.22536e+08
Name: 11626, dtype: object)
(11627, countryname    Marshall Islands
countrycode                 MHL
year                       2013
gdp                 1.90801e+08
population                52793
Name: 11627, dtype: object)
(11628, countryname    Macedonia, FYR
countrycode               MKD
year                     2013
gdp               1.08177e+10
population        2.07574e+06
Name: 11628, dtype: object)
(11629, countryname           Mali
countrycode            MLI
year                  2013
gdp            1.32464e+10
population     1.64778e+07
Name: 11629, dtype: object)
(11630, countryname          Malta
countrycode            MLT
year                  2013
gdp            1.01451e+10
population          425967
Name: 11630, dtype: object)
(11631, countryname        Myanmar
countrycode            MMR
year                  2013
gdp            6.02697e+10
population     5.14482e+07
Name: 11631, dtype: object)
(11632, countryname     Montenegro
countrycode            MNE
year                  2013
gdp            4.46426e+09
population          621207
Name: 11632, dtype: object)
(11633, countryname       Mongolia
countrycode            MNG
year                  2013
gdp            1.25821e+10
population     2.86911e+06

Name: 11732, dtype: object)
(11733, countryname          Benin
countrycode            BEN
year                  2014
gdp            9.70743e+09
population     1.02867e+07
Name: 11733, dtype: object)
(11734, countryname    Burkina Faso
countrycode             BFA
year                   2014
gdp             1.23774e+10
population       1.7586e+07
Name: 11734, dtype: object)
(11735, countryname     Bangladesh
countrycode            BGD
year                  2014
gdp            1.72885e+11
population     1.59405e+08
Name: 11735, dtype: object)
(11736, countryname       Bulgaria
countrycode            BGR
year                  2014
gdp             5.6732e+10
population     7.22394e+06
Name: 11736, dtype: object)
(11737, countryname        Bahrain
countrycode            BHR
year                  2014
gdp            3.33877e+10
population      1.3364e+06
Name: 11737, dtype: object)
(11738, countryname    Bahamas, The
countrycode             BHS
year                   2014
gdp             1.09573e+10
population           382169
Name: 11738, dtype: object)
(11739, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             2014
gdp                       1.85583e+10
population                  3.566e+06
Name: 11739, dtype: object)
(11740, countryname        Belarus
countrycode            BLR
year                  2014
gdp            7.88138e+10
population     9.47451e+06
Name: 11740, dtype: object)
(11741, countryname         Belize
countrycode            BLZ
year                  2014
gdp            1.70395e+09
population          351694
Name: 11741, dtype: object)
(11742, countryname        Bermuda
countrycode            BMU
year                  2014
gdp            5.57371e+09
population           65139
Name: 11742, dtype: object)
(11743, countryname        Bolivia
countrycode            BOL
year                  2014
gdp            3.29962e+10
population     1.05622e+07
Name: 11743, dtype: object)
(11744, countryname         Brazil
countrycode            BRA
year                  2014
gdp            2.45599e+12
population     2.04213e+08
Name: 11744, dtype: object)
(11745, countryname       Barbados
countrycode            BRB
year                  2014
gdp            4.60835e+09
population          283385
Name: 11745, dtype: object)
(11746, countryname    Brunei Darussalam
countrycode                  BRN
year                        2014
gdp                  1.70983e+10
population                411704
Name: 11746, dtype: object)
(11747, countryname         Bhutan
countrycode            BTN
year                  2014
gdp            1.94478e+09
population          776448
Name: 11747, dtype: object)
(11748, countryname       Botswana
countrycode            BWA
year                  2014
gdp            1.62508e+10
population     2.16857e+06
Name: 11748, dtype: object)
(11749, countryname    Central African Republic
countrycode                         CAF
year                               2014
gdp                          1.7029e+09
population                  4.51539e+06
Name: 11749, dtype: object)
(11750, countryname         Canada
countrycode            CAN
year                  2014
gdp            1.79927e+12
population     3.55353e+07
Name: 11750, dtype: object)
(11751, countryname    Switzerland
countrycode            CHE
year                  2014
gdp            7.09183e+11
population     8.18865e+06
Name: 11751, dtype: object)
(11752, countryname    Channel Islands
countrycode                CHI
year                      2014
gdp                1.15146e+10
population              162969
Name: 11752, dtype: object)
(11753, countryname          Chile
countrycode            CHL
year                  2014
gdp            2.60584e+11
population     1.76138e+07
Name: 11753, dtype: object)
(11754, countryname          China
countrycode            CHN
year                  2014
gdp            1.04824e+13
population     1.36427e+09
Name: 11754, dtype: object)
(11755, countryname    Cote d'Ivoire
countrycode              CIV
year                    2014
gdp              3.53726e+10
population       2.25314e+07
Name: 11755, dtype: object)
(11756, countryname       Cameroon
countrycode            CMR
year                  2014
gdp            3.49429e+10
population     2.22399e+07
Name: 11756, dtype: object)
(11757, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       2014
gdp                 3.59177e+10
population          7.37229e+07
Name: 11757, dtype: object)
(11758, countryname    Congo, Rep.
countrycode            COG
year                  2014
gdp            1.41774e+10
population      4.8711e+06
Name: 11758, dtype: object)
(11759, countryname       Colombia
countrycode            COL
year                  2014
gdp            3.78196e+11
population     4.77919e+07
Name: 11759, dtype: object)
(11760, countryname        Comoros
countrycode            COM
year                  2014
gdp            6.47721e+08
population          759385
Name: 11760, dtype: object)
(11761, countryname     Cabo Verde
countrycode            CPV
year                  2014
gdp            1.85812e+09
population          526437
Name: 11761, dtype: object)
(11762, countryname     Costa Rica
countrycode            CRI
year                  2014
gdp            5.05778e+10
population     4.75758e+06
Name: 11762, dtype: object)
(11763, countryname           Cuba
countrycode            CUB
year                  2014
gdp            8.06561e+10
population     1.14398e+07
Name: 11763, dtype: object)
(11764, countryname        Curacao
countrycode            CUW
year                  2014
gdp            3.20703e+09
population          155909
Name: 11764, dtype: object)
(11765, countryname    Cayman Islands
countrycode               CYM
year                     2014
gdp               3.20703e+09
population              59172
Name: 11765, dtype: object)
(11766, countryname         Cyprus
countrycode            CYP
year                  2014
gdp            2.33593e+10
population     1.15231e+06
Name: 11766, dtype: object)
(11767, countryname    Czech Republic
countrycode               CZE
year                     2014
gdp               2.07818e+11
population        1.05253e+07
Name: 11767, dtype: object)
(11768, countryname        Germany
countrycode            DEU
year                  2014
gdp            3.89061e+12
population     8.09825e+07
Name: 11768, dtype: object)
(11769, countryname       Djibouti
countrycode            DJI
year                  2014
gdp            1.45504e+09
population          912164
Name: 11769, dtype: object)
(11770, countryname       Dominica
countrycode            DMA
year                  2014
gdp            5.23666e+08
population           72778
Name: 11770, dtype: object)
(11771, countryname        Denmark
countrycode            DNK
year                  2014
gdp            3.52994e+11
population     5.64348e+06
Name: 11771, dtype: object)
(11772, countryname    Dominican Republic
countrycode                   DOM
year                         2014
gdp                    6.6065e+10
population            1.04058e+07
Name: 11772, dtype: object)
(11773, countryname        Algeria
countrycode            DZA
year                  2014
gdp             2.1381e+11
population     3.91133e+07
Name: 11773, dtype: object)
(11774, countryname        Ecuador
countrycode            ECU
year                  2014
gdp            1.01726e+11
population     1.59031e+07
Name: 11774, dtype: object)
(11775, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2014
gdp                  3.0553e+11
population          9.18126e+07
Name: 11775, dtype: object)
(11776, countryname        Eritrea
countrycode            ERI
year                  2014
gdp            2.60774e+09
population     4.47469e+06
Name: 11776, dtype: object)
(11777, countryname          Spain
countrycode            ESP
year                  2014
gdp            1.37691e+12
population     4.64809e+07
Name: 11777, dtype: object)
(11778, countryname        Estonia
countrycode            EST
year                  2014
gdp            2.62246e+10
population     1.31454e+06
Name: 11778, dtype: object)
(11779, countryname       Ethiopia
countrycode            ETH
year                  2014
gdp            5.56122e+10
population     9.73668e+07
Name: 11779, dtype: object)
(11780, countryname        Finland
countrycode            FIN
year                  2014
gdp            2.72609e+11
population     5.46151e+06
Name: 11780, dtype: object)
(11781, countryname           Fiji
countrycode            FJI
year                  2014
gdp            4.48342e+09
population          885806
Name: 11781, dtype: object)
(11782, countryname         France
countrycode            FRA
year                  2014
gdp            2.85217e+12
population     6.63161e+07
Name: 11782, dtype: object)
(11783, countryname    Faroe Islands
countrycode              FRO
year                    2014
gdp              2.81055e+09
population             48842
Name: 11783, dtype: object)
(11784, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2014
gdp                      3.17999e+08
population                    104015
Name: 11784, dtype: object)
(11785, countryname          Gabon
countrycode            GAB
year                  2014
gdp            1.81797e+10
population     1.87571e+06
Name: 11785, dtype: object)
(11786, countryname    United Kingdom
countrycode               GBR
year                     2014
gdp               3.02283e+12
population        6.46132e+07
Name: 11786, dtype: object)
(11787, countryname        Georgia
countrycode            GEO
year                  2014
gdp            1.65093e+10
population       3.727e+06
Name: 11787, dtype: object)
(11788, countryname          Ghana
countrycode            GHA
year                  2014
gdp            3.90866e+10
population     2.69626e+07
Name: 11788, dtype: object)
(11789, countryname    Gibraltar
countrycode          GIB
year                2014
gdp            5.531e+09
population         34038
Name: 11789, dtype: object)
(11790, countryname         Guinea
countrycode            GIN
year                  2014
gdp            8.76504e+09
population     1.18055e+07
Name: 11790, dtype: object)
(11791, countryname    Gambia, The
countrycode            GMB
year                  2014
gdp            8.33249e+08
population     1.91785e+06
Name: 11791, dtype: object)
(11792, countryname    Guinea-Bissau
countrycode              GNB
year                    2014
gdp              1.05351e+09
population       1.72574e+06
Name: 11792, dtype: object)
(11793, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2014
gdp                  2.17365e+10
population           1.12942e+06
Name: 11793, dtype: object)
(11794, countryname         Greece
countrycode            GRC
year                  2014
gdp             2.3703e+11
population     1.08924e+07
Name: 11794, dtype: object)
(11795, countryname        Grenada
countrycode            GRD
year                  2014
gdp            9.11481e+08
population          106360
Name: 11795, dtype: object)
(11796, countryname      Greenland
countrycode            GRL
year                  2014
gdp            2.83774e+09
population           56295
Name: 11796, dtype: object)
(11797, countryname      Guatemala
countrycode            GTM
year                  2014
gdp            5.87223e+10
population     1.59236e+07
Name: 11797, dtype: object)
(11798, countryname         Guam
countrycode          GUM
year                2014
gdp            5.531e+09
population        160967
Name: 11798, dtype: object)
(11799, countryname         Guyana
countrycode            GUY
year                  2014
gdp            3.07709e+09
population          763393
Name: 11799, dtype: object)
(11800, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2014
gdp                     2.91459e+11
population               7.2295e+06
Name: 11800, dtype: object)
(11801, countryname       Honduras
countrycode            HND
year                  2014
gdp            1.97565e+10
population     8.80922e+06
Name: 11801, dtype: object)
(11802, countryname        Croatia
countrycode            HRV
year                  2014
gdp            5.76295e+10
population     4.23839e+06
Name: 11802, dtype: object)
(11803, countryname          Haiti
countrycode            HTI
year                  2014
gdp            8.77635e+09
population     1.05725e+07
Name: 11803, dtype: object)
(11804, countryname        Hungary
countrycode            HUN
year                  2014
gdp            1.40118e+11
population     9.86647e+06
Name: 11804, dtype: object)
(11805, countryname      Indonesia
countrycode            IDN
year                  2014
gdp            8.90815e+11
population     2.55131e+08
Name: 11805, dtype: object)
(11806, countryname    Isle of Man
countrycode            IMN
year                  2014
gdp            7.42828e+09
population           82590
Name: 11806, dtype: object)
(11807, countryname          India
countrycode            IND
year                  2014
gdp            2.03913e+12
population     1.29386e+09
Name: 11807, dtype: object)
(11808, countryname        Ireland
countrycode            IRL
year                  2014
gdp            2.58099e+11
population     4.65774e+06
Name: 11808, dtype: object)
(11809, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2014
gdp                   4.34475e+11
population            7.84111e+07
Name: 11809, dtype: object)
(11810, countryname           Iraq
countrycode            IRQ
year                  2014
gdp            2.34648e+11
population     3.50061e+07
Name: 11810, dtype: object)
(11811, countryname       Iceland
countrycode           ISL
year                 2014
gdp            1.7304e+10
population         327386
Name: 11811, dtype: object)
(11812, countryname         Israel
countrycode            ISR
year                  2014
gdp            3.08417e+11
population      8.2157e+06
Name: 11812, dtype: object)
(11813, countryname          Italy
countrycode            ITA
year                  2014
gdp            2.15173e+12
population     6.07891e+07
Name: 11813, dtype: object)
(11814, countryname        Jamaica
countrycode            JAM
year                  2014
gdp            1.38977e+10
population     2.86209e+06
Name: 11814, dtype: object)
(11815, countryname         Jordan
countrycode            JOR
year                  2014
gdp            3.58269e+10
population     8.80931e+06
Name: 11815, dtype: object)
(11816, countryname          Japan
countrycode            JPN
year                  2014
gdp            4.85041e+12
population     1.27276e+08
Name: 11816, dtype: object)
(11817, countryname     Kazakhstan
countrycode            KAZ
year                  2014
gdp            2.21416e+11
population     1.72883e+07
Name: 11817, dtype: object)
(11818, countryname          Kenya
countrycode            KEN
year                  2014
gdp             6.1448e+10
population     4.60242e+07
Name: 11818, dtype: object)
(11819, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2014
gdp                 7.4681e+09
population          5.8355e+06
Name: 11819, dtype: object)
(11820, countryname       Cambodia
countrycode            KHM
year                  2014
gdp            1.67026e+10
population     1.52708e+07
Name: 11820, dtype: object)
(11821, countryname       Kiribati
countrycode            KIR
year                  2014
gdp            1.78869e+08
population          110458
Name: 11821, dtype: object)
(11822, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2014
gdp                    8.47778e+08
population                   53739
Name: 11822, dtype: object)
(11823, countryname    Korea, Rep.
countrycode            KOR
year                  2014
gdp            1.41133e+12
population     5.07467e+07
Name: 11823, dtype: object)
(11824, countryname         Kuwait
countrycode            KWT
year                  2014
gdp            1.62631e+11
population     3.78245e+06
Name: 11824, dtype: object)
(11825, countryname        Lao PDR
countrycode            LAO
year                  2014
gdp            1.32685e+10
population      6.5764e+06
Name: 11825, dtype: object)
(11826, countryname        Lebanon
countrycode            LBN
year                  2014
gdp            4.78334e+10
population     5.60328e+06
Name: 11826, dtype: object)
(11827, countryname        Liberia
countrycode            LBR
year                  2014
gdp              2.013e+09
population     4.39074e+06
Name: 11827, dtype: object)
(11828, countryname          Libya
countrycode            LBY
year                  2014
gdp            4.11427e+10
population     6.20411e+06
Name: 11828, dtype: object)
(11829, countryname      St. Lucia
countrycode            LCA
year                  2014
gdp            1.55192e+09
population          176421
Name: 11829, dtype: object)
(11830, countryname    Liechtenstein
countrycode              LIE
year                    2014
gdp              6.65717e+09
population             37127
Name: 11830, dtype: object)
(11831, countryname      Sri Lanka
countrycode            LKA
year                  2014
gdp            7.93593e+10
population      2.0771e+07
Name: 11831, dtype: object)
(11832, countryname        Lesotho
countrycode            LSO
year                  2014
gdp            2.61458e+09
population     2.14578e+06
Name: 11832, dtype: object)
(11833, countryname      Lithuania
countrycode            LTU
year                  2014
gdp            4.85164e+10
population     2.93237e+06
Name: 11833, dtype: object)
(11834, countryname     Luxembourg
countrycode            LUX
year                  2014
gdp            6.63273e+10
population          556319
Name: 11834, dtype: object)
(11835, countryname         Latvia
countrycode            LVA
year                  2014
gdp             3.1335e+10
population     1.99378e+06
Name: 11835, dtype: object)
(11836, countryname    Macao SAR, China
countrycode                 MAC
year                       2014
gdp                  5.5348e+10
population               588781
Name: 11836, dtype: object)
(11837, countryname    St. Martin (French part)
countrycode                         MAF
year                               2014
gdp                         1.09881e+11
population                        31530
Name: 11837, dtype: object)
(11838, countryname        Morocco
countrycode            MAR
year                  2014
gdp            1.09881e+11
population     3.43181e+07
Name: 11838, dtype: object)
(11839, countryname         Monaco
countrycode            MCO
year                  2014
gdp            6.07488e+09
population           38132
Name: 11839, dtype: object)
(11840, countryname        Moldova
countrycode            MDA
year                  2014
gdp            7.98327e+09
population      3.5564e+06
Name: 11840, dtype: object)
(11841, countryname     Madagascar
countrycode            MDG
year                  2014
gdp            1.06735e+10
population     2.35898e+07
Name: 11841, dtype: object)
(11842, countryname       Maldives
countrycode            MDV
year                  2014
gdp            3.69735e+09
population          408247
Name: 11842, dtype: object)
(11843, countryname         Mexico
countrycode            MEX
year                  2014
gdp            1.31439e+12
population     1.24222e+08
Name: 11843, dtype: object)
(11844, countryname    Marshall Islands
countrycode                 MHL
year                       2014
gdp                 1.83121e+08
population                52898
Name: 11844, dtype: object)
(11845, countryname    Macedonia, FYR
countrycode               MKD
year                     2014
gdp               1.13623e+10
population         2.0775e+06

Name: 11938, dtype: object)
(11939, countryname        Andorra
countrycode            AND
year                  2015
gdp            2.81149e+09
population           78014
Name: 11939, dtype: object)
(11940, countryname    United Arab Emirates
countrycode                     ARE
year                           2015
gdp                     3.58135e+11
population               9.1543e+06
Name: 11940, dtype: object)
(11941, countryname      Argentina
countrycode            ARG
year                  2015
gdp            5.94749e+11
population     4.34178e+07
Name: 11941, dtype: object)
(11942, countryname        Armenia
countrycode            ARM
year                  2015
gdp            1.05533e+10
population     2.91695e+06
Name: 11942, dtype: object)
(11943, countryname    American Samoa
countrycode               ASM
year                     2015
gdp                  6.59e+08
population              55537
Name: 11943, dtype: object)
(11944, countryname    Antigua and Barbuda
countrycode                    ATG
year                          2015
gdp                    1.36486e+09
population                   99923
Name: 11944, dtype: object)
(11945, countryname      Australia
countrycode            AUS
year                  2015
gdp            1.34903e+12
population     2.38508e+07
Name: 11945, dtype: object)
(11946, countryname        Austria
countrycode            AUT
year                  2015
gdp            3.82066e+11
population      8.6427e+06
Name: 11946, dtype: object)
(11947, countryname     Azerbaijan
countrycode            AZE
year                  2015
gdp            5.30744e+10
population     9.64934e+06
Name: 11947, dtype: object)
(11948, countryname        Burundi
countrycode            BDI
year                  2015
gdp            3.06668e+09
population     1.01993e+07
Name: 11948, dtype: object)
(11949, countryname        Belgium
countrycode            BEL
year                  2015
gdp             4.5504e+11
population     1.12742e+07
Name: 11949, dtype: object)
(11950, countryname          Benin
countrycode            BEN
year                  2015
gdp            8.29116e+09
population      1.0576e+07
Name: 11950, dtype: object)
(11951, countryname    Burkina Faso
countrycode             BFA
year                   2015
gdp             1.04193e+10
population      1.81106e+07
Name: 11951, dtype: object)
(11952, countryname     Bangladesh
countrycode            BGD
year                  2015
gdp            1.95079e+11
population     1.61201e+08
Name: 11952, dtype: object)
(11953, countryname       Bulgaria
countrycode            BGR
year                  2015
gdp            5.01991e+10
population     7.17799e+06
Name: 11953, dtype: object)
(11954, countryname        Bahrain
countrycode            BHR
year                  2015
gdp            3.11259e+10
population     1.37186e+06
Name: 11954, dtype: object)
(11955, countryname    Bahamas, The
countrycode             BHS
year                   2015
gdp             1.17923e+10
population           386838
Name: 11955, dtype: object)
(11956, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             2015
gdp                       1.62097e+10
population                3.53596e+06
Name: 11956, dtype: object)
(11957, countryname        Belarus
countrycode            BLR
year                  2015
gdp            5.64547e+10
population     9.48962e+06
Name: 11957, dtype: object)
(11958, countryname         Belize
countrycode            BLZ
year                  2015
gdp            1.77857e+09
population          359288
Name: 11958, dtype: object)
(11959, countryname        Bermuda
countrycode            BMU
year                  2015
gdp            5.57371e+09
population           65239
Name: 11959, dtype: object)
(11960, countryname        Bolivia
countrycode            BOL
year                  2015
gdp            3.30002e+10
population     1.07247e+07
Name: 11960, dtype: object)
(11961, countryname         Brazil
countrycode            BRA
year                  2015
gdp            1.80221e+12
population     2.05962e+08
Name: 11961, dtype: object)
(11962, countryname       Barbados
countrycode            BRB
year                  2015
gdp            4.58415e+09
population          284217
Name: 11962, dtype: object)
(11963, countryname    Brunei Darussalam
countrycode                  BRN
year                        2015
gdp                  1.29304e+10
population                417542
Name: 11963, dtype: object)
(11964, countryname         Bhutan
countrycode            BTN
year                  2015
gdp            2.05926e+09
population          787386
Name: 11964, dtype: object)
(11965, countryname       Botswana
countrycode            BWA
year                  2015
gdp            1.44206e+10
population      2.2092e+06
Name: 11965, dtype: object)
(11966, countryname    Central African Republic
countrycode                         CAF
year                               2015
gdp                         1.58378e+09
population                   4.5461e+06
Name: 11966, dtype: object)
(11967, countryname         Canada
countrycode            CAN
year                  2015
gdp            1.55962e+12
population     3.58325e+07
Name: 11967, dtype: object)
(11968, countryname    Switzerland
countrycode            CHE
year                  2015
gdp            6.79289e+11
population      8.2824e+06
Name: 11968, dtype: object)
(11969, countryname    Channel Islands
countrycode                CHI
year                      2015
gdp                1.15146e+10
population              163758
Name: 11969, dtype: object)
(11970, countryname          Chile
countrycode            CHL
year                  2015
gdp            2.43999e+11
population     1.77627e+07
Name: 11970, dtype: object)
(11971, countryname          China
countrycode            CHN
year                  2015
gdp            1.10647e+13
population     1.37122e+09
Name: 11971, dtype: object)
(11972, countryname    Cote d'Ivoire
countrycode              CIV
year                    2015
gdp              3.31451e+10
population       2.31085e+07
Name: 11972, dtype: object)
(11973, countryname       Cameroon
countrycode            CMR
year                  2015
gdp            3.09162e+10
population     2.28345e+07
Name: 11973, dtype: object)
(11974, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       2015
gdp                 3.79177e+10
population          7.61966e+07
Name: 11974, dtype: object)
(11975, countryname    Congo, Rep.
countrycode            COG
year                  2015
gdp            8.55315e+09
population     4.99565e+06
Name: 11975, dtype: object)
(11976, countryname       Colombia
countrycode            COL
year                  2015
gdp             2.9152e+11
population     4.82287e+07
Name: 11976, dtype: object)
(11977, countryname       Comoros
countrycode           COM
year                 2015
gdp            5.6569e+08
population         777424
Name: 11977, dtype: object)
(11978, countryname     Cabo Verde
countrycode            CPV
year                  2015
gdp            1.59615e+09
population          532913
Name: 11978, dtype: object)
(11979, countryname     Costa Rica
countrycode            CRI
year                  2015
gdp             5.4776e+10
population     4.80785e+06
Name: 11979, dtype: object)
(11980, countryname           Cuba
countrycode            CUB
year                  2015
gdp            8.71328e+10
population     1.14614e+07
Name: 11980, dtype: object)
(11981, countryname        Curacao
countrycode            CUW
year                  2015
gdp            3.20703e+09
population          157980
Name: 11981, dtype: object)
(11982, countryname    Cayman Islands
countrycode               CYM
year                     2015
gdp               3.20703e+09
population              59963
Name: 11982, dtype: object)
(11983, countryname         Cyprus
countrycode            CYP
year                  2015
gdp            1.96762e+10
population     1.16098e+06
Name: 11983, dtype: object)
(11984, countryname    Czech Republic
countrycode               CZE
year                     2015
gdp                1.8683e+11
population        1.05461e+07
Name: 11984, dtype: object)
(11985, countryname        Germany
countrycode            DEU
year                  2015
gdp            3.37561e+12
population     8.16866e+07
Name: 11985, dtype: object)
(11986, countryname       Djibouti
countrycode            DJI
year                  2015
gdp            1.63374e+09
population          927414
Name: 11986, dtype: object)
(11987, countryname       Dominica
countrycode            DMA
year                  2015
gdp            5.35096e+08
population           73162
Name: 11987, dtype: object)
(11988, countryname        Denmark
countrycode            DNK
year                  2015
gdp            3.01298e+11
population     5.68348e+06
Name: 11988, dtype: object)
(11989, countryname    Dominican Republic
countrycode                   DOM
year                         2015
gdp                   6.88021e+10
population            1.05284e+07
Name: 11989, dtype: object)
(11990, countryname        Algeria
countrycode            DZA
year                  2015
gdp            1.65874e+11
population     3.98715e+07
Name: 11990, dtype: object)
(11991, countryname        Ecuador
countrycode            ECU
year                  2015
gdp            9.92904e+10
population     1.61444e+07
Name: 11991, dtype: object)
(11992, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2015
gdp                 3.32698e+11
population          9.37782e+07
Name: 11992, dtype: object)
(11993, countryname        Eritrea
countrycode            ERI
year                  2015
gdp            2.60774e+09
population     4.47469e+06
Name: 11993, dtype: object)
(11994, countryname          Spain
countrycode            ESP
year                  2015
gdp            1.19779e+12
population     4.64448e+07
Name: 11994, dtype: object)
(11995, countryname        Estonia
countrycode            EST
year                  2015
gdp             2.2567e+10
population     1.31541e+06
Name: 11995, dtype: object)
(11996, countryname       Ethiopia
countrycode            ETH
year                  2015
gdp            6.44645e+10
population      9.9873e+07
Name: 11996, dtype: object)
(11997, countryname        Finland
countrycode            FIN
year                  2015
gdp            2.32465e+11
population     5.47953e+06
Name: 11997, dtype: object)
(11998, countryname           Fiji
countrycode            FJI
year                  2015
gdp            4.36213e+09
population          892149
Name: 11998, dtype: object)
(11999, countryname         France
countrycode            FRA
year                  2015
gdp            2.43821e+12
population     6.65934e+07
Name: 11999, dtype: object)
(12000, countryname    Faroe Islands
countrycode              FRO
year                    2015
gdp              2.47675e+09
population             48965
Name: 12000, dtype: object)
(12001, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2015
gdp                       3.1518e+08
population                    104433
Name: 12001, dtype: object)
(12002, countryname          Gabon
countrycode            GAB
year                  2015
gdp            1.43774e+10
population     1.93018e+06
Name: 12002, dtype: object)
(12003, countryname    United Kingdom
countrycode               GBR
year                     2015
gdp               2.88557e+12
population        6.51289e+07
Name: 12003, dtype: object)
(12004, countryname        Georgia
countrycode            GEO
year                  2015
gdp            1.39935e+10
population      3.7171e+06
Name: 12004, dtype: object)
(12005, countryname          Ghana
countrycode            GHA
year                  2015
gdp            3.73384e+10
population     2.75828e+07
Name: 12005, dtype: object)
(12006, countryname      Gibraltar
countrycode            GIB
year                  2015
gdp            1.39935e+10
population           34228
Name: 12006, dtype: object)
(12007, countryname         Guinea
countrycode            GIN
year                  2015
gdp            8.85779e+09
population     1.20915e+07
Name: 12007, dtype: object)
(12008, countryname    Gambia, The
countrycode            GMB
year                  2015
gdp            9.07656e+08
population     1.97759e+06
Name: 12008, dtype: object)
(12009, countryname    Guinea-Bissau
countrycode              GNB
year                    2015
gdp              1.04781e+09
population       1.77053e+06
Name: 12009, dtype: object)
(12010, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2015
gdp                  1.31802e+10
population           1.17539e+06
Name: 12010, dtype: object)
(12011, countryname         Greece
countrycode            GRC
year                  2015
gdp            1.95542e+11
population     1.08209e+07
Name: 12011, dtype: object)
(12012, countryname        Grenada
countrycode            GRD
year                  2015
gdp            9.97008e+08
population          106823
Name: 12012, dtype: object)
(12013, countryname      Greenland
countrycode            GRL
year                  2015
gdp            2.52021e+09
population           56114
Name: 12013, dtype: object)
(12014, countryname      Guatemala
countrycode            GTM
year                  2015
gdp            6.37676e+10
population     1.62524e+07
Name: 12014, dtype: object)
(12015, countryname         Guam
countrycode          GUM
year                2015
gdp            5.697e+09
population        161797
Name: 12015, dtype: object)
(12016, countryname         Guyana
countrycode            GUY
year                  2015
gdp            3.16603e+09
population          768514
Name: 12016, dtype: object)
(12017, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2015
gdp                     3.09384e+11
population               7.2913e+06
Name: 12017, dtype: object)
(12018, countryname       Honduras
countrycode            HND
year                  2015
gdp            2.09798e+10
population     8.96083e+06
Name: 12018, dtype: object)
(12019, countryname        Croatia
countrycode            HRV
year                  2015
gdp            4.94255e+10
population      4.2036e+06
Name: 12019, dtype: object)
(12020, countryname          Haiti
countrycode            HTI
year                  2015
gdp            8.72466e+09
population     1.07111e+07
Name: 12020, dtype: object)
(12021, countryname        Hungary
countrycode            HUN
year                  2015
gdp            1.22879e+11
population     9.84303e+06
Name: 12021, dtype: object)
(12022, countryname      Indonesia
countrycode            IDN
year                  2015
gdp            8.60854e+11
population     2.58162e+08
Name: 12022, dtype: object)
(12023, countryname    Isle of Man
countrycode            IMN
year                  2015
gdp            6.79242e+09
population           83167
Name: 12023, dtype: object)
(12024, countryname          India
countrycode            IND
year                  2015
gdp            2.10239e+12
population     1.30905e+09
Name: 12024, dtype: object)
(12025, countryname        Ireland
countrycode            IRL
year                  2015
gdp            2.90617e+11
population     4.70196e+06
Name: 12025, dtype: object)
(12026, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2015
gdp                   3.85874e+11
population            7.93605e+07
Name: 12026, dtype: object)
(12027, countryname           Iraq
countrycode            IRQ
year                  2015
gdp             1.7964e+11
population     3.61156e+07
Name: 12027, dtype: object)
(12028, countryname        Iceland
countrycode            ISL
year                  2015
gdp            1.69422e+10
population          330815
Name: 12028, dtype: object)
(12029, countryname         Israel
countrycode            ISR
year                  2015
gdp            2.99094e+11
population      8.3801e+06
Name: 12029, dtype: object)
(12030, countryname          Italy
countrycode            ITA
year                  2015
gdp            1.83287e+12
population     6.07306e+07
Name: 12030, dtype: object)
(12031, countryname        Jamaica
countrycode            JAM
year                  2015
gdp            1.41869e+10
population     2.87193e+06
Name: 12031, dtype: object)
(12032, countryname         Jordan
countrycode            JOR
year                  2015
gdp            3.75174e+10
population      9.1593e+06
Name: 12032, dtype: object)
(12033, countryname          Japan
countrycode            JPN
year                  2015
gdp            4.39498e+12
population     1.27141e+08
Name: 12033, dtype: object)
(12034, countryname     Kazakhstan
countrycode            KAZ
year                  2015
gdp            1.84388e+11
population     1.75428e+07
Name: 12034, dtype: object)
(12035, countryname          Kenya
countrycode            KEN
year                  2015
gdp            6.40073e+10
population     4.72363e+07
Name: 12035, dtype: object)
(12036, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2015
gdp                6.67818e+09
population          5.9569e+06
Name: 12036, dtype: object)
(12037, countryname       Cambodia
countrycode            KHM
year                  2015
gdp              1.805e+10
population     1.55176e+07
Name: 12037, dtype: object)
(12038, countryname       Kiribati
countrycode            KIR
year                  2015
gdp            1.69141e+08
population          112407
Name: 12038, dtype: object)
(12039, countryname    St. Kitts and Nevis
countrycode                    KNA
year                          2015
gdp                    8.78282e+08
population                   54288
Name: 12039, dtype: object)
(12040, countryname    Korea, Rep.
countrycode            KOR
year                  2015
gdp            1.38276e+12
population     5.10149e+07
Name: 12040, dtype: object)
(12041, countryname         Kuwait
countrycode            KWT
year                  2015
gdp            1.14567e+11
population     3.93579e+06
Name: 12041, dtype: object)
(12042, countryname        Lao PDR
countrycode            LAO
year                  2015
gdp            1.43904e+10
population     6.66397e+06
Name: 12042, dtype: object)
(12043, countryname        Lebanon
countrycode            LBN
year                  2015
gdp            4.94593e+10
population     5.85148e+06
Name: 12043, dtype: object)
(12044, countryname        Liberia
countrycode            LBR
year                  2015
gdp              2.034e+09
population     4.49962e+06
Name: 12044, dtype: object)
(12045, countryname          Libya
countrycode            LBY
year                  2015
gdp            2.92748e+10
population     6.23496e+06
Name: 12045, dtype: object)
(12046, countryname      St. Lucia
countrycode            LCA
year                  2015
gdp            1.64914e+09
population          177206
Name: 12046, dtype: object)
(12047, countryname    Liechtenstein
countrycode              LIE
year                    2015
gdp              6.28917e+09
population             37403
Name: 12047, dtype: object)
(12048, countryname      Sri Lanka
countrycode            LKA
year                  2015
gdp            8.05548e+10
population      2.0966e+07
Name: 12048, dtype: object)
(12049, countryname        Lesotho
countrycode            LSO
year                  2015
gdp            2.50588e+09
population     2.17464e+06
Name: 12049, dtype: object)
(12050, countryname      Lithuania
countrycode            LTU
year                  2015
gdp            4.15086e+10
population     2.90491e+06
Name: 12050, dtype: object)
(12051, countryname     Luxembourg
countrycode            LUX
year                  2015
gdp            5.77845e+10
population          569604

Name: 12142, dtype: object)
(12143, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            2015
gdp                        3.765e+09
population                    107710
Name: 12143, dtype: object)
(12144, countryname        Vietnam
countrycode            VNM
year                  2015
gdp            1.93241e+11
population     9.35716e+07
Name: 12144, dtype: object)
(12145, countryname        Vanuatu
countrycode            VUT
year                  2015
gdp            7.37917e+08
population          264603
Name: 12145, dtype: object)
(12146, countryname          Samoa
countrycode            WSM
year                  2015
gdp            8.03986e+08
population          193759
Name: 12146, dtype: object)
(12147, countryname         Kosovo
countrycode            XKX
year                  2015
gdp            6.43995e+09
population      1.8018e+06
Name: 12147, dtype: object)
(12148, countryname    Yemen, Rep.
countrycode            YEM
year                  2015
gdp            3.46025e+10
population     2.69162e+07
Name: 12148, dtype: object)
(12149, countryname    South Africa
countrycode             ZAF
year                   2015
gdp             3.17741e+11
population      5.52912e+07
Name: 12149, dtype: object)
(12150, countryname         Zambia
countrycode            ZMB
year                  2015
gdp            2.11544e+10
population     1.61006e+07
Name: 12150, dtype: object)
(12151, countryname       Zimbabwe
countrycode            ZWE
year                  2015
gdp            1.63047e+10
population     1.57775e+07
Name: 12151, dtype: object)
(12152, countryname          Aruba
countrycode            ABW
year                  2016
gdp            2.58446e+09
population          104822
Name: 12152, dtype: object)
(12153, countryname    Afghanistan
countrycode            AFG
year                  2016
gdp             1.9469e+10
population      3.4656e+07
Name: 12153, dtype: object)
(12154, countryname         Angola
countrycode            AGO
year                  2016
gdp            9.53372e+10
population     2.88135e+07
Name: 12154, dtype: object)
(12155, countryname        Albania
countrycode            ALB
year                  2016
gdp            1.18837e+10
population      2.8761e+06
Name: 12155, dtype: object)
(12156, countryname        Andorra
countrycode            AND
year                  2016
gdp            2.87731e+09
population           77281
Name: 12156, dtype: object)
(12157, countryname    United Arab Emirates
countrycode                     ARE
year                           2016
gdp                     3.57045e+11
population              9.26961e+06
Name: 12157, dtype: object)
(12158, countryname      Argentina
countrycode            ARG
year                  2016
gdp            5.54861e+11
population     4.38474e+07
Name: 12158, dtype: object)
(12159, countryname        Armenia
countrycode            ARM
year                  2016
gdp            1.05461e+10
population     2.92482e+06
Name: 12159, dtype: object)
(12160, countryname    American Samoa
countrycode               ASM
year                     2016
gdp                  6.58e+08
population              55599
Name: 12160, dtype: object)
(12161, countryname    Antigua and Barbuda
countrycode                    ATG
year                          2016
gdp                    1.46014e+09
population                  100963
Name: 12161, dtype: object)
(12162, countryname      Australia
countrycode            AUS
year                  2016
gdp            1.20804e+12
population     2.42108e+07
Name: 12162, dtype: object)
(12163, countryname        Austria
countrycode            AUT
year                  2016
gdp              3.908e+11
population     8.73667e+06
Name: 12163, dtype: object)
(12164, countryname     Azerbaijan
countrycode            AZE
year                  2016
gdp            3.78675e+10
population     9.75781e+06
Name: 12164, dtype: object)
(12165, countryname        Burundi
countrycode            BDI
year                  2016
gdp            3.00703e+09
population     1.05241e+07
Name: 12165, dtype: object)
(12166, countryname        Belgium
countrycode            BEL
year                  2016
gdp            4.67546e+11
population     1.13314e+07
Name: 12166, dtype: object)
(12167, countryname          Benin
countrycode            BEN
year                  2016
gdp            8.57316e+09
population     1.08723e+07
Name: 12167, dtype: object)
(12168, countryname    Burkina Faso
countrycode             BFA
year                   2016
gdp             1.14488e+10
population      1.86464e+07
Name: 12168, dtype: object)
(12169, countryname     Bangladesh
countrycode            BGD
year                  2016
gdp            2.21415e+11
population     1.62952e+08
Name: 12169, dtype: object)
(12170, countryname       Bulgaria
countrycode            BGR
year                  2016
gdp            5.32409e+10
population     7.12782e+06
Name: 12170, dtype: object)
(12171, countryname        Bahrain
countrycode            BHR
year                  2016
gdp            3.21527e+10
population     1.42517e+06
Name: 12171, dtype: object)
(12172, countryname    Bahamas, The
countrycode             BHS
year                   2016
gdp             1.18388e+10
population           391232
Name: 12172, dtype: object)
(12173, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             2016
gdp                       1.69111e+10
population                3.51682e+06
Name: 12173, dtype: object)
(12174, countryname        Belarus
countrycode            BLR
year                  2016
gdp            4.77227e+10
population     9.50153e+06
Name: 12174, dtype: object)
(12175, countryname         Belize
countrycode            BLZ
year                  2016
gdp            1.82016e+09
population          366954
Name: 12175, dtype: object)
(12176, countryname        Bermuda
countrycode            BMU
year                  2016
gdp            5.57371e+09
population           65341
Name: 12176, dtype: object)
(12177, countryname        Bolivia
countrycode            BOL
year                  2016
gdp            3.39411e+10
population     1.08879e+07
Name: 12177, dtype: object)
(12178, countryname         Brazil
countrycode            BRA
year                  2016
gdp            1.79399e+12
population     2.07653e+08
Name: 12178, dtype: object)
(12179, countryname       Barbados
countrycode            BRB
year                  2016
gdp            4.52905e+09
population          284996
Name: 12179, dtype: object)
(12180, countryname    Brunei Darussalam
countrycode                  BRN
year                        2016
gdp                  1.14007e+10
population                423196
Name: 12180, dtype: object)
(12181, countryname         Bhutan
countrycode            BTN
year                  2016
gdp            2.21264e+09
population          797765
Name: 12181, dtype: object)
(12182, countryname       Botswana
countrycode            BWA
year                  2016
gdp            1.56487e+10
population     2.25026e+06
Name: 12182, dtype: object)
(12183, countryname    Central African Republic
countrycode                         CAF
year                               2016
gdp                         1.75547e+09
population                  4.59462e+06
Name: 12183, dtype: object)
(12184, countryname         Canada
countrycode            CAN
year                  2016
gdp            1.53577e+12
population     3.62646e+07
Name: 12184, dtype: object)
(12185, countryname    Switzerland
countrycode            CHE
year                  2016
gdp            6.68745e+11
population     8.37334e+06
Name: 12185, dtype: object)
(12186, countryname    Channel Islands
countrycode                CHI
year                      2016
gdp                1.15146e+10
population              164541
Name: 12186, dtype: object)
(12187, countryname          Chile
countrycode            CHL
year                  2016
gdp            2.50036e+11
population     1.79098e+07
Name: 12187, dtype: object)
(12188, countryname          China
countrycode            CHN
year                  2016
gdp             1.1191e+13
population     1.37866e+09
Name: 12188, dtype: object)
(12189, countryname    Cote d'Ivoire
countrycode              CIV
year                    2016
gdp              3.63748e+10
population       2.36959e+07
Name: 12189, dtype: object)
(12190, countryname       Cameroon
countrycode            CMR
year                  2016
gdp            3.22175e+10
population     2.34392e+07
Name: 12190, dtype: object)
(12191, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       2016
gdp                 3.49912e+10
population          7.87362e+07
Name: 12191, dtype: object)
(12192, countryname    Congo, Rep.
countrycode            COG
year                  2016
gdp            7.83351e+09
population     5.12582e+06
Name: 12192, dtype: object)
(12193, countryname       Colombia
countrycode            COL
year                  2016
gdp            2.80091e+11
population     4.86534e+07
Name: 12193, dtype: object)
(12194, countryname        Comoros
countrycode            COM
year                  2016
gdp            6.16654e+08
population          795601
Name: 12194, dtype: object)
(12195, countryname     Cabo Verde
countrycode            CPV
year                  2016
gdp            1.63893e+09
population          539560
Name: 12195, dtype: object)
(12196, countryname     Costa Rica
countrycode            CRI
year                  2016
gdp             5.6989e+10
population     4.85727e+06
Name: 12196, dtype: object)
(12197, countryname           Cuba
countrycode            CUB
year                  2016
gdp            8.71328e+10
population      1.1476e+07
Name: 12197, dtype: object)
(12198, countryname        Curacao
countrycode            CUW
year                  2016
gdp            3.20703e+09
population          159663
Name: 12198, dtype: object)
(12199, countryname    Cayman Islands
countrycode               CYM
year                     2016
gdp               3.20703e+09
population              60765
Name: 12199, dtype: object)
(12200, countryname         Cyprus
countrycode            CYP
year                  2016
gdp            2.01539e+10
population     1.17012e+06
Name: 12200, dtype: object)
(12201, countryname    Czech Republic
countrycode               CZE
year                     2016
gdp               1.95305e+11
population        1.05663e+07
Name: 12201, dtype: object)
(12202, countryname        Germany
countrycode            DEU
year                  2016
gdp             3.4778e+12
population     8.23487e+07
Name: 12202, dtype: object)
(12203, countryname       Djibouti
countrycode            DJI
year                  2016
gdp            1.76427e+09
population          942333
Name: 12203, dtype: object)
(12204, countryname       Dominica
countrycode            DMA
year                  2016
gdp            5.81484e+08
population           73543
Name: 12204, dtype: object)
(12205, countryname        Denmark
countrycode            DNK
year                  2016
gdp              3.069e+11
population     5.72801e+06
Name: 12205, dtype: object)
(12206, countryname    Dominican Republic
countrycode                   DOM
year                         2016
gdp                    7.2343e+10
population            1.06488e+07
Name: 12206, dtype: object)
(12207, countryname        Algeria
countrycode            DZA
year                  2016
gdp            1.59049e+11
population     4.06061e+07
Name: 12207, dtype: object)
(12208, countryname        Ecuador
countrycode            ECU
year                  2016
gdp             9.8614e+10
population     1.63851e+07
Name: 12208, dtype: object)
(12209, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2016
gdp                 3.32928e+11
population          9.56887e+07
Name: 12209, dtype: object)
(12210, countryname        Eritrea
countrycode            ERI
year                  2016
gdp            2.60774e+09
population     4.47469e+06
Name: 12210, dtype: object)
(12211, countryname          Spain
countrycode            ESP
year                  2016
gdp            1.23726e+12
population     4.64841e+07
Name: 12211, dtype: object)
(12212, countryname        Estonia
countrycode            EST
year                  2016
gdp            2.33379e+10
population     1.31579e+06
Name: 12212, dtype: object)
(12213, countryname       Ethiopia
countrycode            ETH
year                  2016
gdp             7.3001e+10
population     1.02403e+08
Name: 12213, dtype: object)
(12214, countryname        Finland
countrycode            FIN
year                  2016
gdp            2.38678e+11
population      5.4953e+06
Name: 12214, dtype: object)
(12215, countryname           Fiji
countrycode            FJI
year                  2016
gdp            4.67131e+09
population          898760
Name: 12215, dtype: object)
(12216, countryname         France
countrycode            FRA
year                  2016
gdp            2.46513e+12
population     6.68598e+07
Name: 12216, dtype: object)
(12217, countryname    Faroe Islands
countrycode              FRO
year                    2016
gdp              2.47675e+09
population             49117
Name: 12217, dtype: object)
(12218, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2016
gdp                      3.29896e+08
population                    104937
Name: 12218, dtype: object)
(12219, countryname          Gabon
countrycode            GAB
year                  2016
gdp            1.40143e+10
population     1.97979e+06
Name: 12219, dtype: object)
(12220, countryname    United Kingdom
countrycode               GBR
year                     2016
gdp               2.65085e+12
population        6.55956e+07
Name: 12220, dtype: object)
(12221, countryname       Georgia
countrycode           GEO
year                 2016
gdp            1.4378e+10
population     3.7193e+06
Name: 12221, dtype: object)
(12222, countryname          Ghana
countrycode            GHA
year                  2016
gdp            4.28036e+10
population     2.82067e+07
Name: 12222, dtype: object)
(12223, countryname      Gibraltar
countrycode            GIB
year                  2016
gdp            2.16439e+10
population           34408
Name: 12223, dtype: object)
(12224, countryname         Guinea
countrycode            GIN
year                  2016
gdp            9.27589e+09
population     1.23959e+07
Name: 12224, dtype: object)
(12225, countryname    Gambia, The
countrycode            GMB
year                  2016
gdp            9.62797e+08
population      2.0385e+06
Name: 12225, dtype: object)
(12226, countryname    Guinea-Bissau
countrycode              GNB
year                    2016
gdp               1.1782e+09
population        1.8157e+06
Name: 12226, dtype: object)
(12227, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2016
gdp                  1.12596e+10
population           1.22149e+06
Name: 12227, dtype: object)
(12228, countryname         Greece
countrycode            GRC
year                  2016
gdp            1.92691e+11
population      1.0776e+07
Name: 12228, dtype: object)
(12229, countryname        Grenada
countrycode            GRD
year                  2016
gdp            1.05619e+09
population          107317
Name: 12229, dtype: object)
(12230, countryname      Greenland
countrycode            GRL
year                  2016
gdp            2.70589e+09
population           56186
Name: 12230, dtype: object)
(12231, countryname      Guatemala
countrycode            GTM
year                  2016
gdp            6.86637e+10
population     1.65825e+07
Name: 12231, dtype: object)
(12232, countryname         Guam
countrycode          GUM
year                2016
gdp            5.793e+09
population        162896
Name: 12232, dtype: object)
(12233, countryname         Guyana
countrycode            GUY
year                  2016
gdp            3.50402e+09
population          773303
Name: 12233, dtype: object)
(12234, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2016
gdp                     3.20881e+11
population               7.3366e+06
Name: 12234, dtype: object)
(12235, countryname       Honduras
countrycode            HND
year                  2016
gdp            2.16439e+10
population     9.11287e+06
Name: 12235, dtype: object)
(12236, countryname        Croatia
countrycode            HRV
year                  2016
gdp            5.13385e+10
population     4.17435e+06
Name: 12236, dtype: object)
(12237, countryname          Haiti
countrycode            HTI
year                  2016
gdp            7.97065e+09
population     1.08473e+07
Name: 12237, dtype: object)
(12238, countryname        Hungary
countrycode            HUN
year                  2016
gdp            1.25817e+11
population     9.81402e+06
Name: 12238, dtype: object)
(12239, countryname      Indonesia
countrycode            IDN
year                  2016
gdp            9.32256e+11
population     2.61115e+08
Name: 12239, dtype: object)
(12240, countryname    Isle of Man
countrycode            IMN
year                  2016
gdp            6.79242e+09
population           83737
Name: 12240, dtype: object)
(12241, countryname          India
countrycode            IND
year                  2016
gdp            2.27423e+12
population     1.32417e+09
Name: 12241, dtype: object)
(12242, countryname        Ireland
countrycode            IRL
year                  2016
gdp            3.04819e+11
population     4.75534e+06
Name: 12242, dtype: object)
(12243, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2016
gdp                   4.18977e+11
population            8.02774e+07
Name: 12243, dtype: object)
(12244, countryname           Iraq
countrycode            IRQ
year                  2016
gdp            1.71489e+11
population     3.72026e+07
Name: 12244, dtype: object)
(12245, countryname        Iceland
countrycode            ISL
year                  2016
gdp            2.03041e+10
population          335439
Name: 12245, dtype: object)
(12246, countryname         Israel
countrycode            ISR
year                  2016
gdp            3.17748e+11
population       8.546e+06
Name: 12246, dtype: object)
(12247, countryname          Italy
countrycode            ITA
year                  2016
gdp            1.85938e+12
population     6.06275e+07
Name: 12247, dtype: object)
(12248, countryname        Jamaica
countrycode            JAM
year                  2016
gdp            1.40569e+10
population     2.88136e+06
Name: 12248, dtype: object)
(12249, countryname         Jordan
countrycode            JOR
year                  2016
gdp            3.86547e+10
population      9.4558e+06
Name: 12249, dtype: object)
(12250, countryname          Japan
countrycode            JPN
year                  2016
gdp            4.94927e+12
population     1.26995e+08
Name: 12250, dtype: object)
(12251, countryname     Kazakhstan
countrycode            KAZ
year                  2016
gdp            1.37278e+11
population     1.77941e+07
Name: 12251, dtype: object)
(12252, countryname          Kenya
countrycode            KEN
year                  2016
gdp            7.08753e+10
population     4.84616e+07
Name: 12252, dtype: object)
(12253, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2016
gdp                6.81309e+09
population          6.0795e+06
Name: 12253, dtype: object)
(12254, countryname       Cambodia
countrycode            KHM
year                  2016
gdp            2.00167e+10
population     1.57624e+07
Name: 12254, dtype: object)
(12255, countryname       Kiribati
countrycode            KIR
year                  2016
gdp            1.81552e+08
population          114395

Name: 12358, dtype: object)
(12359, countryname    British Virgin Islands
countrycode                       VGB
year                             2016
gdp                         3.765e+09
population                      30661
Name: 12359, dtype: object)
(12360, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            2016
gdp                        3.765e+09
population                    107510
Name: 12360, dtype: object)
(12361, countryname        Vietnam
countrycode            VNM
year                  2016
gdp            2.05276e+11
population     9.45691e+07
Name: 12361, dtype: object)
(12362, countryname        Vanuatu
countrycode            VUT
year                  2016
gdp            7.87943e+08
population          270402
Name: 12362, dtype: object)
(12363, countryname          Samoa
countrycode            WSM
year                  2016
gdp            7.86356e+08
population          195125
Name: 12363, dtype: object)
(12364, countryname         Kosovo
countrycode            XKX
year                  2016
gdp            6.71549e+09
population      1.8162e+06
Name: 12364, dtype: object)
(12365, countryname    Yemen, Rep.
countrycode            YEM
year                  2016
gdp            1.82133e+10
population     2.75842e+07
Name: 12365, dtype: object)
(12366, countryname    South Africa
countrycode             ZAF
year                   2016
gdp             2.95763e+11
population      5.60155e+07
Name: 12366, dtype: object)
(12367, countryname         Zambia
countrycode            ZMB
year                  2016
gdp            2.09548e+10
population     1.65914e+07
Name: 12367, dtype: object)
(12368, countryname       Zimbabwe
countrycode            ZWE
year                  2016
gdp              1.662e+10
population     1.61504e+07
Name: 12368, dtype: object)
(12369, countryname          Aruba
countrycode            ABW
year                  2017
gdp            2.58446e+09
population          105264
Name: 12369, dtype: object)
(12370, countryname    Afghanistan
countrycode            AFG
year                  2017
gdp            2.08153e+10
population     3.55301e+07
Name: 12370, dtype: object)
(12371, countryname         Angola
countrycode            AGO
year                  2017
gdp            1.24209e+11
population     2.97842e+07
Name: 12371, dtype: object)
(12372, countryname        Albania
countrycode            ALB
year                  2017
gdp            1.30394e+10
population     2.87346e+06
Name: 12372, dtype: object)
(12373, countryname        Andorra
countrycode            AND
year                  2017
gdp            3.01291e+09
population           76965
Name: 12373, dtype: object)
(12374, countryname    United Arab Emirates
countrycode                     ARE
year                           2017
gdp                     3.82575e+11
population              9.40014e+06
Name: 12374, dtype: object)
(12375, countryname     Argentina
countrycode           ARG
year                 2017
gdp            6.3759e+11
population     4.4271e+07
Name: 12375, dtype: object)
(12376, countryname        Armenia
countrycode            ARM
year                  2017
gdp            1.15366e+10
population     2.93045e+06
Name: 12376, dtype: object)
(12377, countryname    American Samoa
countrycode               ASM
year                     2017
gdp                  6.58e+08
population              55641
Name: 12377, dtype: object)
(12378, countryname    Antigua and Barbuda
countrycode                    ATG
year                          2017
gdp                     1.5324e+09
population                  102012
Name: 12378, dtype: object)
(12379, countryname      Australia
countrycode            AUS
year                  2017
gdp            1.32342e+12
population     2.45989e+07
Name: 12379, dtype: object)
(12380, countryname        Austria
countrycode            AUT
year                  2017
gdp            4.16596e+11
population     8.80921e+06
Name: 12380, dtype: object)
(12381, countryname     Azerbaijan
countrycode            AZE
year                  2017
gdp            4.07478e+10
population     9.86243e+06
Name: 12381, dtype: object)
(12382, countryname        Burundi
countrycode            BDI
year                  2017
gdp             3.4775e+09
population     1.08642e+07
Name: 12382, dtype: object)
(12383, countryname        Belgium
countrycode            BEL
year                  2017
gdp            4.92681e+11
population     1.13721e+07
Name: 12383, dtype: object)
(12384, countryname          Benin
countrycode            BEN
year                  2017
gdp            9.27356e+09
population     1.11757e+07
Name: 12384, dtype: object)
(12385, countryname    Burkina Faso
countrycode             BFA
year                   2017
gdp             1.28731e+10
population      1.91934e+07
Name: 12385, dtype: object)
(12386, countryname     Bangladesh
countrycode            BGD
year                  2017
gdp            2.49724e+11
population      1.6467e+08
Name: 12386, dtype: object)
(12387, countryname       Bulgaria
countrycode            BGR
year                  2017
gdp            5.68315e+10
population     7.07599e+06
Name: 12387, dtype: object)
(12388, countryname        Bahrain
countrycode            BHR
year                  2017
gdp            3.53071e+10
population     1.49258e+06
Name: 12388, dtype: object)
(12389, countryname    Bahamas, The
countrycode             BHS
year                   2017
gdp             1.21621e+10
population           395361
Name: 12389, dtype: object)
(12390, countryname    Bosnia and Herzegovina
countrycode                       BIH
year                             2017
gdp                       1.81686e+10
population                3.50702e+06
Name: 12390, dtype: object)
(12391, countryname        Belarus
countrycode            BLR
year                  2017
gdp            5.44424e+10
population     9.50788e+06
Name: 12391, dtype: object)
(12392, countryname       Belize
countrycode          BLZ
year                2017
gdp            1.838e+09
population        374681
Name: 12392, dtype: object)
(12393, countryname        Bermuda
countrycode            BMU
year                  2017
gdp            5.57371e+09
population           65441
Name: 12393, dtype: object)
(12394, countryname        Bolivia
countrycode            BOL
year                  2017
gdp            3.75086e+10
population     1.10516e+07
Name: 12394, dtype: object)
(12395, countryname         Brazil
countrycode            BRA
year                  2017
gdp            2.05551e+12
population     2.09288e+08
Name: 12395, dtype: object)
(12396, countryname       Barbados
countrycode            BRB
year                  2017
gdp            4.79685e+09
population          285719
Name: 12396, dtype: object)
(12397, countryname    Brunei Darussalam
countrycode                  BRN
year                        2017
gdp                  1.21281e+10
population                428697
Name: 12397, dtype: object)
(12398, countryname         Bhutan
countrycode            BTN
year                  2017
gdp            2.51185e+09
population          807610
Name: 12398, dtype: object)
(12399, countryname       Botswana
countrycode            BWA
year                  2017
gdp            1.74065e+10
population     2.29166e+06
Name: 12399, dtype: object)
(12400, countryname    Central African Republic
countrycode                         CAF
year                               2017
gdp                         1.94941e+09
population                  4.65908e+06
Name: 12400, dtype: object)
(12401, countryname         Canada
countrycode            CAN
year                  2017
gdp            1.65304e+12
population     3.67081e+07
Name: 12401, dtype: object)
(12402, countryname    Switzerland
countrycode            CHE
year                  2017
gdp            6.78887e+11
population     8.46602e+06
Name: 12402, dtype: object)
(12403, countryname    Channel Islands
countrycode                CHI
year                      2017
gdp                1.15146e+10
population              165314
Name: 12403, dtype: object)
(12404, countryname          Chile
countrycode            CHL
year                  2017
gdp            2.77076e+11
population     1.80547e+07
Name: 12404, dtype: object)
(12405, countryname          China
countrycode            CHN
year                  2017
gdp            1.22377e+13
population      1.3864e+09
Name: 12405, dtype: object)
(12406, countryname    Cote d'Ivoire
countrycode              CIV
year                    2017
gdp              4.03886e+10
population       2.42948e+07
Name: 12406, dtype: object)
(12407, countryname       Cameroon
countrycode            CMR
year                  2017
gdp            3.47986e+10
population     2.40537e+07
Name: 12407, dtype: object)
(12408, countryname    Congo, Dem. Rep.
countrycode                 COD
year                       2017
gdp                 3.72413e+10
population            8.134e+07
Name: 12408, dtype: object)
(12409, countryname    Congo, Rep.
countrycode            COG
year                  2017
gdp            8.72255e+09
population     5.26075e+06
Name: 12409, dtype: object)
(12410, countryname       Colombia
countrycode            COL
year                  2017
gdp            3.09191e+11
population     4.90656e+07
Name: 12410, dtype: object)
(12411, countryname        Comoros
countrycode            COM
year                  2017
gdp            6.48921e+08
population          813912
Name: 12411, dtype: object)
(12412, countryname     Cabo Verde
countrycode            CPV
year                  2017
gdp            1.75374e+09
population          546388
Name: 12412, dtype: object)
(12413, countryname     Costa Rica
countrycode            CRI
year                  2017
gdp            5.70574e+10
population     4.90577e+06
Name: 12413, dtype: object)
(12414, countryname           Cuba
countrycode            CUB
year                  2017
gdp            8.71328e+10
population     1.14846e+07
Name: 12414, dtype: object)
(12415, countryname        Curacao
countrycode            CUW
year                  2017
gdp            3.20703e+09
population          161014
Name: 12415, dtype: object)
(12416, countryname    Cayman Islands
countrycode               CYM
year                     2017
gdp               3.20703e+09
population              61559
Name: 12416, dtype: object)
(12417, countryname         Cyprus
countrycode            CYP
year                  2017
gdp            2.16518e+10
population     1.17955e+06
Name: 12417, dtype: object)
(12418, countryname    Czech Republic
countrycode               CZE
year                     2017
gdp               2.15726e+11
population        1.05913e+07
Name: 12418, dtype: object)
(12419, countryname        Germany
countrycode            DEU
year                  2017
gdp            3.67744e+12
population      8.2695e+07
Name: 12419, dtype: object)
(12420, countryname       Djibouti
countrycode            DJI
year                  2017
gdp            1.84467e+09
population          956985
Name: 12420, dtype: object)
(12421, countryname       Dominica
countrycode            DMA
year                  2017
gdp            5.62541e+08
population           73925
Name: 12421, dtype: object)
(12422, countryname        Denmark
countrycode            DNK
year                  2017
gdp            3.24872e+11
population      5.7696e+06
Name: 12422, dtype: object)
(12423, countryname    Dominican Republic
countrycode                   DOM
year                         2017
gdp                   7.59317e+10
population             1.0767e+07
Name: 12423, dtype: object)
(12424, countryname        Algeria
countrycode            DZA
year                  2017
gdp            1.70371e+11
population     4.13181e+07
Name: 12424, dtype: object)
(12425, countryname        Ecuador
countrycode            ECU
year                  2017
gdp            1.03057e+11
population     1.66249e+07
Name: 12425, dtype: object)
(12426, countryname    Egypt, Arab Rep.
countrycode                 EGY
year                       2017
gdp                 2.35369e+11
population          9.75532e+07
Name: 12426, dtype: object)
(12427, countryname        Eritrea
countrycode            ERI
year                  2017
gdp            2.60774e+09
population     4.47469e+06
Name: 12427, dtype: object)
(12428, countryname          Spain
countrycode            ESP
year                  2017
gdp            1.31132e+12
population      4.6572e+07
Name: 12428, dtype: object)
(12429, countryname        Estonia
countrycode            EST
year                  2017
gdp            2.59211e+10
population     1.31548e+06
Name: 12429, dtype: object)
(12430, countryname       Ethiopia
countrycode            ETH
year                  2017
gdp            8.05615e+10
population     1.04957e+08
Name: 12430, dtype: object)
(12431, countryname        Finland
countrycode            FIN
year                  2017
gdp            2.51885e+11
population      5.5113e+06
Name: 12431, dtype: object)
(12432, countryname          Fiji
countrycode           FJI
year                 2017
gdp            5.0612e+09
population         905502
Name: 12432, dtype: object)
(12433, countryname         France
countrycode            FRA
year                  2017
gdp             2.5825e+12
population     6.71186e+07
Name: 12433, dtype: object)
(12434, countryname    Faroe Islands
countrycode              FRO
year                    2017
gdp              2.47675e+09
population             49290
Name: 12434, dtype: object)
(12435, countryname    Micronesia, Fed. Sts.
countrycode                      FSM
year                            2017
gdp                      3.36428e+08
population                    105544
Name: 12435, dtype: object)
(12436, countryname          Gabon
countrycode            GAB
year                  2017
gdp            1.46229e+10
population     2.02514e+06
Name: 12436, dtype: object)
(12437, countryname    United Kingdom
countrycode               GBR
year                     2017
gdp               2.62243e+12
population        6.60223e+07
Name: 12437, dtype: object)
(12438, countryname        Georgia
countrycode            GEO
year                  2017
gdp            1.51593e+10
population      3.7171e+06
Name: 12438, dtype: object)
(12439, countryname          Ghana
countrycode            GHA
year                  2017
gdp              4.733e+10
population     2.88336e+07
Name: 12439, dtype: object)
(12440, countryname      Gibraltar
countrycode            GIB
year                  2017
gdp            1.04915e+10
population           34571
Name: 12440, dtype: object)
(12441, countryname         Guinea
countrycode            GIN
year                  2017
gdp            1.04915e+10
population     1.27172e+07
Name: 12441, dtype: object)
(12442, countryname    Gambia, The
countrycode            GMB
year                  2017
gdp            1.01462e+09
population     2.10057e+06
Name: 12442, dtype: object)
(12443, countryname    Guinea-Bissau
countrycode              GNB
year                    2017
gdp              1.34693e+09
population       1.86128e+06
Name: 12443, dtype: object)
(12444, countryname    Equatorial Guinea
countrycode                  GNQ
year                        2017
gdp                  1.24868e+10
population           1.26769e+06
Name: 12444, dtype: object)
(12445, countryname         Greece
countrycode            GRC
year                  2017
gdp            2.00288e+11
population     1.07604e+07
Name: 12445, dtype: object)
(12446, countryname        Grenada
countrycode            GRD
year                  2017
gdp            1.11882e+09
population          107825
Name: 12446, dtype: object)
(12447, countryname      Greenland
countrycode            GRL
year                  2017
gdp            2.70589e+09
population           56171
Name: 12447, dtype: object)
(12448, countryname      Guatemala
countrycode            GTM
year                  2017
gdp            7.56201e+10
population     1.69135e+07
Name: 12448, dtype: object)
(12449, countryname         Guam
countrycode          GUM
year                2017
gdp            5.793e+09
population        164229
Name: 12449, dtype: object)
(12450, countryname         Guyana
countrycode            GUY
year                  2017
gdp            3.67563e+09
population          777859
Name: 12450, dtype: object)
(12451, countryname    Hong Kong SAR, China
countrycode                     HKG
year                           2017
gdp                     3.41449e+11
population               7.3917e+06
Name: 12451, dtype: object)
(12452, countryname       Honduras
countrycode            HND
year                  2017
gdp            2.29785e+10
population     9.26507e+06
Name: 12452, dtype: object)
(12453, countryname        Croatia
countrycode            HRV
year                  2017
gdp            5.48492e+10
population      4.1257e+06
Name: 12453, dtype: object)
(12454, countryname          Haiti
countrycode            HTI
year                  2017
gdp            8.40815e+09
population     1.09812e+07
Name: 12454, dtype: object)
(12455, countryname        Hungary
countrycode            HUN
year                  2017
gdp            1.39135e+11
population     9.78113e+06
Name: 12455, dtype: object)
(12456, countryname      Indonesia
countrycode            IDN
year                  2017
gdp            1.01554e+12
population     2.63991e+08
Name: 12456, dtype: object)
(12457, countryname    Isle of Man
countrycode            IMN
year                  2017
gdp            6.79242e+09
population           84287
Name: 12457, dtype: object)
(12458, countryname          India
countrycode            IND
year                  2017
gdp            2.59749e+12
population     1.33918e+09
Name: 12458, dtype: object)
(12459, countryname        Ireland
countrycode            IRL
year                  2017
gdp            3.33731e+11
population     4.81361e+06
Name: 12459, dtype: object)
(12460, countryname    Iran, Islamic Rep.
countrycode                   IRN
year                         2017
gdp                   4.39514e+11
population            8.11628e+07
Name: 12460, dtype: object)
(12461, countryname           Iraq
countrycode            IRQ
year                  2017
gdp            1.97716e+11
population     3.82746e+07
Name: 12461, dtype: object)
(12462, countryname        Iceland
countrycode            ISL
year                  2017
gdp            2.39093e+10
population          341284
Name: 12462, dtype: object)
(12463, countryname         Israel
countrycode            ISR
year                  2017
gdp            3.50851e+11
population      8.7124e+06
Name: 12463, dtype: object)
(12464, countryname          Italy
countrycode            ITA
year                  2017
gdp             1.9348e+12
population     6.05514e+07
Name: 12464, dtype: object)
(12465, countryname        Jamaica
countrycode            JAM
year                  2017
gdp            1.47681e+10
population      2.8903e+06
Name: 12465, dtype: object)
(12466, countryname         Jordan
countrycode            JOR
year                  2017
gdp            4.00683e+10
population     9.70235e+06
Name: 12466, dtype: object)
(12467, countryname          Japan
countrycode            JPN
year                  2017
gdp            4.87214e+12
population     1.26786e+08
Name: 12467, dtype: object)
(12468, countryname     Kazakhstan
countrycode            KAZ
year                  2017
gdp            1.59407e+11
population     1.80376e+07
Name: 12468, dtype: object)
(12469, countryname          Kenya
countrycode            KEN
year                  2017
gdp            7.49382e+10
population     4.96999e+07
Name: 12469, dtype: object)
(12470, countryname    Kyrgyz Republic
countrycode                KGZ
year                      2017
gdp                7.56474e+09
population          6.2015e+06
Name: 12470, dtype: object)
(12471, countryname       Cambodia
countrycode            KHM
year                  2017
gdp            2.21582e+10

Name: 12565, dtype: object)
(12566, countryname         Turkey
countrycode            TUR
year                  2017
gdp            8.51102e+11
population      8.0745e+07
Name: 12566, dtype: object)
(12567, countryname         Tuvalu
countrycode            TUV
year                  2017
gdp            3.97313e+07
population           11192
Name: 12567, dtype: object)
(12568, countryname       Tanzania
countrycode            TZA
year                  2017
gdp            5.20903e+10
population       5.731e+07
Name: 12568, dtype: object)
(12569, countryname         Uganda
countrycode            UGA
year                  2017
gdp            2.58911e+10
population      4.2863e+07
Name: 12569, dtype: object)
(12570, countryname        Ukraine
countrycode            UKR
year                  2017
gdp            1.12154e+11
population     4.48312e+07
Name: 12570, dtype: object)
(12571, countryname        Uruguay
countrycode            URY
year                  2017
gdp             5.6157e+10
population     3.45675e+06
Name: 12571, dtype: object)
(12572, countryname    United States
countrycode              USA
year                    2017
gdp              1.93906e+13
population       3.25719e+08
Name: 12572, dtype: object)
(12573, countryname     Uzbekistan
countrycode            UZB
year                  2017
gdp            4.87177e+10
population     3.23872e+07
Name: 12573, dtype: object)
(12574, countryname    St. Vincent and the Grenadines
countrycode                               VCT
year                                     2017
gdp                                7.8963e+08
population                             109897
Name: 12574, dtype: object)
(12575, countryname    Venezuela, RB
countrycode              VEN
year                    2017
gdp              4.82359e+11
population       3.19771e+07
Name: 12575, dtype: object)
(12576, countryname    British Virgin Islands
countrycode                       VGB
year                             2017
gdp                         3.765e+09
population                      31196
Name: 12576, dtype: object)
(12577, countryname    Virgin Islands (U.S.)
countrycode                      VIR
year                            2017
gdp                        3.765e+09
population                    107268
Name: 12577, dtype: object)
(12578, countryname        Vietnam
countrycode            VNM
year                  2017
gdp            2.23864e+11
population     9.55408e+07
Name: 12578, dtype: object)
(12579, countryname       Vanuatu
countrycode           VUT
year                 2017
gdp            8.6288e+08
population         276244
Name: 12579, dtype: object)
(12580, countryname          Samoa
countrycode            WSM
year                  2017
gdp            8.56627e+08
population          196440
Name: 12580, dtype: object)
(12581, countryname         Kosovo
countrycode            XKX
year                  2017
gdp            7.12869e+09
population      1.8307e+06
Name: 12581, dtype: object)
(12582, countryname    Yemen, Rep.
countrycode            YEM
year                  2017
gdp            1.82133e+10
population     2.82504e+07
Name: 12582, dtype: object)
(12583, countryname    South Africa
countrycode             ZAF
year                   2017
gdp             3.49419e+11
population      5.67172e+07
Name: 12583, dtype: object)
(12584, countryname         Zambia
countrycode            ZMB
year                  2017
gdp            2.58087e+10
population     1.70941e+07
Name: 12584, dtype: object)
(12585, countryname       Zimbabwe
countrycode            ZWE
year                  2017
gdp            1.78458e+10
population     1.65299e+07
Name: 12585, dtype: object)

In [103]:
# TODO: insert population values into the population table

df_indicator = df_indicator.fillna('0')

for vals in df_indicator.iterrows():

    sql_statement = "INSERT INTO population (countryname, countrycode, year, population) VALUES ('{}', '{}', {}, {})"\
          .format(vals[1][0].replace("\'",""), vals[1][1], vals[1][2], vals[1][4])
    cur.execute(sql_statement)

# commit changes to the dataset after any changes are made
conn.commit()

# commit changes to the dataset after any changes are made
conn.commit()

In [18]:
# run this command to see if your tables were loaded as expected
sqlquery = "SELECT * FROM projects JOIN gdp JOIN population ON projects.year = gdp.year AND projects.countrycode = gdp.countrycode AND projects.countrycode = population.countrycode AND projects.year=population.year;"
result = pd.read_sql(sqlquery, con=conn)
result.shape

(15558, 13)

If everything went well, the code above should output (15558, 13) as the shape of the resulting data frame.

In [19]:
# commit any changes and close the database
conn.commit()
conn.close()

# Conclusion

Once you have extracted data and transformed it, the final step is to load the data into storage. In this exercise, you stored results into a csv file, a json file, and a SQLite database.